@inject IJSRuntime JS

<head>   
    <link href="css/fullcalendar.css" rel="stylesheet">
    <link href="/css/Festival/Valentine2023/Valentine2023_Schedule.css" rel="stylesheet" />
</head>


<div class="Valentine2023_Schedule">
    <div class="Valentine2023-container">
        <div class="Valentine2023_Schedule-container">
            <div class="Valentine2023-title" id="Valentine2023-title-Schedule">
                <span >=®Éµ{=</span>
            </div>
            <div class="Schedule-BG">
                <div id="Valentine2023Schedule"></div>
                <div class="Schedule-menu"></div>
            </div>
        </div>
    </div>
</div>
@code{
      protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {


        }
       
        await JS.InvokeVoidAsync("Valentine2023Schedule" );
        //await reloadCalendar(); 
    }
}