@inject IJSRuntime JS
@using SnakeAsianLeague.Pages.Festival


<head>
    <link href="/css/Festival/Valentine2023/Valentine2023_Reward.css" rel="stylesheet" />
</head>

<div class="Valentine2023_Reward" id="Valentine2023_Reward">

    <div class="Valentine2023-container">

         <div class="Valentine2023-title" id="Valentine2023-title-Reward">
            <span data-i18n="Valentine2023_data:reward.title">＝Reward＝</span>
        </div>

        <div class="Reward-block">

            <div class="Reward-table">
                <img  data-i18n="[src]Valentine2023_data:reward.reward-solo-img" src="/images/Festival/Valentine2023/reward/reward-solo-EN.png" alt="">
            </div>

            <div class="Reward-table">
                <img  data-i18n="[src]Valentine2023_data:reward.reward-squad-img" src="/images/Festival/Valentine2023/reward/sheet-squad-EN.png" alt="">
            </div>

        </div>
    </div>
</div>