@using Newtonsoft.Json
@using SnakeAsianLeague.Data.Entity.SnakeServer
@using SnakeAsianLeague.Data.Services
@using SnakeAsianLeague.Data.Services.SnakeServerService
@inject IJSRuntime JS
@inject AppState AppState
@inject AsiaLeagueScheduleService AsiaLeagueScheduleService
<head>   
    <link href="css/fullcalendar.css" rel="stylesheet">
    <link href="/css/Festival/Valentine2023/Valentine2023_Schedule.css" rel="stylesheet" />
</head>


<div class="Valentine2023_Schedule">
    <div class="Valentine2023-container">
        <div class="Valentine2023_Schedule-container">
            <div class="Valentine2023-title" id="Valentine2023-title-Schedule">
                <span >=時程=</span>
            </div>
            <div class="Schedule-BG">
                <div id="Valentine2023Schedule"></div>
                <div class="Schedule-menu">
                     <div class="Schedule-type">
                        <div class="type-line" id="type-line-solo"></div>
                        <div class="type-line-text" data-i18n="NewYear2023_data:schedule.schedule-type-01">Solo Match</div>
                    </div>

                    <div class="Schedule-type">
                        <div class="type-line" id="type-line-Squad"></div>
                        <div class="type-line-text" data-i18n="NewYear2023_data:schedule.schedule-type-02">Squad Match</div>
                    </div>

                </div>


            </div>
        </div>
    </div>
</div>
@code{
    List<AsiaLeagueSchedule> Schedules;
    List<ToJsListType> _Valentine2023Schedule =new List<ToJsListType>();

    protected override async Task OnInitializedAsync()
    {
        AppState.StateChanged += async (Source, Property)
            => await InvokeAsync(StateHasChanged);

        Schedules = await AsiaLeagueScheduleService.GetAsiaLeagueSchedulesAsync(AsiaLeagueSeasons.Valentine2023);
        await arrangeSchedules();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        var json = JsonConvert.SerializeObject(_Valentine2023Schedule);
        await JS.InvokeVoidAsync("Valentine2023Schedule",json ,AppState.NowLanguage.ToString());
        //await reloadCalendar(); 
    }

    private async Task arrangeSchedules()
    {
        List<AsiaLeagueSchedule> soloStartDay = Schedules.Where(w => w.IndATIssue == 0).ToList();
        List<AsiaLeagueSchedule> soloEndDay = Schedules.Where(w => w.IndFinalType == 0).ToList();
        List<AsiaLeagueSchedule> squadStartDay = Schedules.Where(w => w.GuildATIssue == 4).ToList();
        List<AsiaLeagueSchedule> squadEndDay = Schedules.Where(w => w.GuildFinalType == 1).ToList();

        //個人
        var index = 0;                
        foreach (var item in soloStartDay)
        {
            //選賽
            ToJsListType ToJsListType = new ToJsListType();        
            ToJsListType.start = item.Date.ToString("yyyy-MM-dd") +"T00:00:00";
            ToJsListType.end = soloEndDay[index].Date.AddDays(1).ToString("yyyy-MM-dd") +"T00:00:00";  
            ToJsListType.classNames[0]= "qualifying";
            _Valentine2023Schedule.Add(ToJsListType);

            //決賽
            ToJsListType ToJsListTypeFinal = new ToJsListType();
            ToJsListTypeFinal.i18n =new List<string>() { "個人 #","SOLO #" };
            ToJsListTypeFinal.i18nFinal =new List<string>() { "決賽","Final" };
            ToJsListTypeFinal.title =item.IndStation.ToString();
            ToJsListTypeFinal.start = soloEndDay[index].Date.ToString("yyyy-MM-dd") +"T00:00:00";
            ToJsListTypeFinal.end = "";
            ToJsListTypeFinal.classNames[0]= "soloFinal";
            _Valentine2023Schedule.Add(ToJsListTypeFinal);

            index += 1;
        }
        //團體
        index = 0;
        foreach (var item in squadStartDay)
        {       
            //選賽
            ToJsListType ToJsListType = new ToJsListType();       
            ToJsListType.start = item.Date.ToString("yyyy-MM-dd") +"T00:00:01";
            ToJsListType.end = squadEndDay[index].Date.AddDays(1).ToString("yyyy-MM-dd") +"T00:00:00";          
            ToJsListType.classNames[0]= "squadQualifying";
            _Valentine2023Schedule.Add(ToJsListType);           

            //決賽
            ToJsListType ToJsListTypeFinal = new ToJsListType();
            ToJsListTypeFinal.i18n =new List<string>() { "隊伍 #","Squad #" };
            ToJsListTypeFinal.i18nFinal =new List<string>() { "決賽","Final" };
            ToJsListTypeFinal.title =item.GuildStation.ToString();
            ToJsListTypeFinal.start = squadEndDay[index].Date.ToString("yyyy-MM-dd") +"T00:00:00";
            ToJsListTypeFinal.end = "";
            ToJsListTypeFinal.classNames[0]= "squadFinal";
            _Valentine2023Schedule.Add(ToJsListTypeFinal);

            index += 1;
        }
    }

}