@inject IJSRuntime JS
@using SnakeAsianLeague.Pages.Festival


<head>
    <link href="/css/Festival/Valentine2023/Valentine2023_About.css" rel="stylesheet" />
</head>

<div class="Valentine2023_About" id="Valentine2023_About">

    <div class="Valentine2023-container">

        <div class="Valentine2023-title" id="Valentine2023-title-About">
            <span data-i18n="Valentine2023_data:about.title">＝About＝</span>
        </div>


        <div class="About-block">
            <div class="About-info">
                <div class="info-title">【報名時間】</div>
                <div class="info-date">2023/01/31 ~ 2023/02/24</div>

                <div class="info-title">【活動時間】</div>
                <div class="info-date">2023/2/14 ~ 2023/02/28</div>
            </div>

            <img class="info-image" id="info-image-01" src="/images/Festival/Valentine2023/about/info-image-01.png" alt="">
            <img class="info-image" id="info-image-02" src="/images/Festival/Valentine2023/about/info-image-02.png" alt="">

        </div>

        <div class="About-fee">

            <div class="fee-type">
                <img class="letter-image" id="letter-image-01" src="/images/Festival/Valentine2023/about/About-letter-solo-CN.png" alt="">
            </div>

            <div class="letter-info">
                <img class="letter-info-BG" src="/images/Festival/Valentine2023/about/About-letter-info.png" alt="">
                <div class="letter-info-text">單身狗(個人)<br>報名費用：3.99 USD</div>
            </div>
        </div>

        <div class="About-fee">

            <div class="fee-type">
                <img class="letter-image" id="letter-image-01" src="/images/Festival/Valentine2023/about/About-letter-team-CN.png" alt="">
            </div>

            <div class="letter-info">
                <img class="letter-info-BG" src="/images/Festival/Valentine2023/about/About-letter-info.png" alt="">
                <div class="letter-info-text">情人閃光組(隊伍)<br>報名費用：20.99 USD</div>
            </div>
        </div>


    </div>
</div>
