/*...Start...*/
.Start {
    background: red;
    width: 100%;
    height: 1000px;
    padding-top: 70px;
}

/*...About...*/
.About {
    background: blue;
    width: 100%;
    height: 1000px;
    padding-top: 70px;
}

/*...Earn...*/
.Earn {
    background: #fff;
    width: 100%;
    height: 1000px;
    padding-top: 70px;
}

/*...Travel...*/
.Travel {
    background: #ffd800;
    width: 100%;
    height: 1000px;
    padding-top: 70px;
}

/*...Charactors...*/
.Charactors {
    background: #00ffff;
    width: 100%;
    height: 1000px;
    padding-top: 70px;
}

/*...Clips...*/
.Clips {
    background: #ff006e;
    width: 100%;
    height: 1000px;
    padding-top: 70px;
}
