.Earn {
    width: 100%;
    height: 1500px;
    padding-top:100px;
}

@media all and (max-width: 1500px) {
    .Earn {
        height: 1170px;
    }
}

@media all and (max-width: 1024px) {
    .Earn {
        height: 795px;
    }
}
@media all and (max-width: 768px) {
    .Earn {
        height: 1500px;
    }
}

.Earn-Title {
    display:flex;
    justify-content:center;
    align-items:center;
    height:167px;
    width:100%;

}

.Earn-Title div{
    background-image:url("/images/FrontPage/Earn/Group 8534.png");
    background-repeat:round;

    height: 167px;
    width: 1179px;
}

/*旗子區*/
.flagZone {
    margin-top:103px;
    width:100%;
    height:786px;
    display:flex;
    justify-content:center;

}
@media all and (max-width: 768px) {
    .flagZone {
        display: block;
        height:1300px;
    }
}

/*跳錢旗子*/
.bonusFlag {
    background-image: url("/images/FrontPage/Earn/flag.png");
    width: 452px;
    height: 786px;
    display: block;
    background-repeat: round;
    z-index: 10;
}


.jumpMomey {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: end;
    font-size: 51px;
    color: #F9E590;
    font-weight: 900;
    font-family: Arial;
    height: 479px;
}
.bonusFlag p {
    font-family: Arial;
    font-size: 24px;
    font-weight: 400;
    width: 100%;
    height: 50px;
    text-align: center;
    color: #F9E590;
}
@media all and (max-width: 1500px) {
    .bonusFlag {
        width: 353px;
        height: 614px;
    }

    .jumpMomey {
        height: 374px;
        font-size: 39.78px;
    }

    .bonusFlag p {
   
        font-size: 18px;    
    }
}

@media all and (max-width: 1024px) {
    .bonusFlag {
        width: 240px;
        height: 417px;
    }

    .jumpMomey {
        height: 254px;
        font-size: 26px;
    }

    .bonusFlag p {      
        font-size: 14px;  
    }
}

@media all and (max-width: 768px) {
    .bonusFlag {
        margin:0 auto;
    }
}

/*旗子中間線*/
.FlagLine {
    position: relative;
    width: 49px;
    height: 400px;
}

.FlagLine img {
    position: absolute;
 
    width: 68px;
    height: 12px;
    z-index:1

}

@media all and (max-width: 1500px) {
    .FlagLine {
        width: 38px;
    }

    .FlagLine img {
        width: 56px;
    }
}
@media all and (max-width: 1024px) {
    .FlagLine {
        width: 25px;
    }

    .FlagLine img {
        width: 36px;
    }
}

@media all and (max-width: 768px) {
    .FlagLine {
        margin: 0 auto;
        width: 100%;
        height: 26px;
    }
       

}
@media all and (max-width: 576px) {
    .FlagLine img {
        height: 10px;
        width:34px;
    }
}



.FlagLine-1 {
    top: 30% ;
    left: -1%;
}

.FlagLine-2 {
    bottom: 1%;
    left: -1%;
}

@media all and (max-width: 1500px) {
    .FlagLine-1 {
        top: 22%
    }

    .FlagLine-2 {
        bottom: 9%
    }
}

@media all and (max-width: 1024px) {
    .FlagLine-1 {
        top: 12%
    }

    .FlagLine-2 {
        bottom: 25%
    }
}

@media all and (max-width: 768px) {
    .FlagLine-1 {
        top: 15%;
        right: 35%;
        left: unset;
        transform: rotate(90deg)
    }

    .FlagLine-2 {
        top: 15%;
        left: 35%;
        transform: rotate(90deg)
    }
}




/*卷軸*/
.flagReel-Container {
    position: relative;
    width: 735px;
    height: 540px;
    z-index:10
}

@media all and (max-width: 1500px) {
    .flagReel-Container {
        width: 573px;
        height: 421px;
    }
}

@media all and (max-width: 1024px) {
    .flagReel-Container {   
        width: 389px;
        height: 286px;
    }
}

@media all and (max-width: 768px) {
    .flagReel-Container {
        width: 389px;
        height: 355px;
        margin: 0 auto;
    }
}

@media all and (max-width: 576px) {
    .flagReel-Container {
        width:291px;
        height: 355px;
        margin: 0 auto;
    }
}


.flagReel-Bar {
    width: 100%;
    height: 35px;
    position: absolute;
    top: 0%;
    left: 0%;
}
@media all and (max-width: 1024px) {
    .flagReel-Bar {  
        height: 17px;
    }
}

.flagReel-Paper {
    position: absolute;
    top: 2.5%;
    left: 2.5%;
    /*overflow:hidden;*/
}

.flagPaper-BG {
    background-image: url("/images/FrontPage/About/Paper.png");
    width: 698px;
    height: 530px;
    background-repeat: round;
}

@media all and (max-width: 1500px) {
    .flagPaper-BG {
        width: 544px;
        height: 413px;
    }
}

@media all and (max-width: 1024px) {
    .flagPaper-BG {
        width: 369px;
        height: 340px;
    }
}

@media all and (max-width: 576px) {
    .flagPaper-BG {
        width: 276px;
        height: 340px;
    }
}

.flagPaper-BG h3 {
    color: #93653C;
    width: 100%;
    height: 80px;
    padding-top: 35px;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    font-family: Arial;
}

.flagPaper-BG-Line {
    width: 100%;
    text-align: center;
}

.flagPaper-BG img {
    width: 619px;
}

@media all and (max-width: 1500px) {

    .flagPaper-BG h3 {
        height: 62px;
        padding-top: 27px;
        text-align: center;
        font-size: 37.44px;
    }

    .flagPaper-BG img {
        width: 482px;
    }

}

@media all and (max-width: 1024px) {

    .flagPaper-BG h3 {
        height: 42px;
        padding-top: 18px;
        text-align: center;
        font-size: 25px;
    }

    .flagPaper-BG img {
        width: 327px;
    }
}

@media all and (max-width: 576px) {
    .flagPaper-BG img {
        width: 245px;
    }
}



.flagReel-Text {
    width: 588px;
    height: 168px;
    margin: 30px auto;
    font-size: 24px;
    font-weight: 400;
    font-family: Arial;
    line-height: 28px;
}

.flagReel-LearnMore {
    color: #93653C;
    font-weight: 400;
    font-size: 24px;
    font-family: Arial;
    width: 588px;
    margin: 0 auto;
}

@media all and (max-width: 1500px) {

    .flagReel-Text {
        width: 458px;
        height: 131px;
        margin: 23px auto;
        font-size: 18px;  
        line-height: 21px;
    }

    .flagReel-LearnMore {
        font-size: 18px; 
        width: 458px;    
    }
}

@media all and (max-width: 1024px) {

    .flagReel-Text {
        width: 312px;
        height: 120px;
        margin: 15px auto;
        font-size: 14px;
        line-height: 21px;
    }

    .flagReel-LearnMore {
        font-size: 14px;
        width: 312px;
    }
}

@media all and (max-width: 576px) {
    .flagReel-Text {
        width: 234px;
        height: 140px;
        margin: 15px auto;
        font-size: 14px;
        line-height: 21px;
    }

    .flagReel-LearnMore {
        font-size: 14px;
        width: 234px;
    }
}

.flagPaper-BG-button {
    width: 100%;
    margin-top: 45px;
    display:flex;
    justify-content:center;
    align-items:center;
}
.flagPaper-BG-button button {
    margin: 0 auto;
    width: 237px;
    height: 60px;
    background: none;
    border: 1px solid #B58F60;
    border-radius: 5px;
    color: #B58F60;
    font-size: 24px;
    font-weight: 400;
}


@media all and (max-width: 1500px) {

    .flagPaper-BG-button { 
        margin-top: 35px;
    }

    .flagPaper-BG-button button {

        width: 184px;
        height: 46px;
        font-size: 18px;
        font-weight: 400;
    }
}


@media all and (max-width: 1024px) {
    .flagPaper-BG-button {
        margin-top: 22px;
    }

    .flagPaper-BG-button button {
        width: 140px;
        height: 40px;
        font-size: 14px;
        font-weight: 400;
    }
}



.flag-768-up {
    display:flex;
}

@media all and (max-width: 768px) {
    .flag-768-up {
        display: none;
    }
}

.flag-768-down {
    display: none;
}

@media all and (max-width: 768px) {
    .flag-768-down {
        display: block;
    }
}