/*...Start...*/
body {
    background: #253A4B;
}
/*...About...*/

/*...Earn...*/


/*...Travel...*/
.Travel {
    background: #ffd800;
    width: 100%;
    height: 1000px;
    padding-top: 70px;
}

/*...Charactors...*/
.Charactors {
    background: #00ffff;
    width: 100%;
    height: 1000px;
    padding-top: 70px;
}

/*...Clips...*/
.Clips {
    background: #ff006e;
    width: 100%;
    height: 1000px;
    padding-top: 70px;
}
