.Start {
    width: 100%;
    height: 3300px; /*Container高度跟動畫高度*/
    padding-top: 47px;
}

.Start-Container {
    width: 100%;
    height: 100vh;
    background: url("../../images/FrontPage/Start/S3_SkyBox.webp");
    background-size:cover;
    position:relative;
}
.airship {
    width: 740px;
    height: 533px;
    position: absolute;
    left:-5%;
    top:20%;
}

.Start-logo {
    width: 100%;
    height: 418px; 
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0%;
    top: 20%;
}
.Start-logo img {
    width: 747px;
    height: 418px;
}
