<select class="sortSelect" name="count_adults" id=""  @onchange="(e => clickDoStuff(e))"   >
    <option disabled="" value="Sort" data-i18n="Inventory_data:sortOptions.Sort" selected="" hidden="">Sort</option>
    <option value="HighestEarned" data-i18n="Inventory_data:sortOptions.HighestEarned">Highest Earned</option>
    <option value="LowestEarned"  data-i18n="Inventory_data:sortOptions.LowestEarned"  >Lowest Earned</option>
    <option value="HighestPrice"  data-i18n="Inventory_data:sortOptions.HighestPrice" >Highest Price</option>
    <option value="LowestPrice"   data-i18n="Inventory_data:sortOptions.LowestPrice" >Lowest Price</option>
    <option value="Newest"         data-i18n="Inventory_data:sortOptions.Newest" >Newest</option>
    <option value="Oldest"         data-i18n="Inventory_data:sortOptions.Oldest" >Oldest</option>
</select>

@code {
     [Parameter]
    public EventCallback<ChangeEventArgs> DoStuff { get; set;}
 
    private void clickDoStuff(ChangeEventArgs value)
    {
        DoStuff.InvokeAsync(value);
      
    }
}
