.Cooperation_Info{
    /* background-image: linear-gradient(to top, #12222f); */
    width: 100%;
    /* height: 1000px; */
    background-image: url("/images/Cooperation/Cooperation_Info/introduce_bg.png");
    background-position: center top;
    background-repeat: round;
    background-size: cover;
}

.CooperationInfo-block{
    max-width: 1050px;
    width: 90%;
    /* border: 1px solid red; */
    margin: 0 auto;
}

.CooperationInfo-row{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 70px;
}
#CooperationInfo-row-02{
    align-items: center;
}
#CooperationInfo-row-03{
    align-items: center;
}
.CooperationInfo-introduce{
    width: 45%;

    color: #fff;
    margin: 40px 20px 20px;
    letter-spacing: 1px;
}
#CooperationInfo-introduce-01{
    max-width: 400px;
}
#CooperationInfo-introduce-02{
    max-width: 450px;
}
#CooperationInfo-introduce-03{
    max-width: 400px;
}
#CooperationInfo-introduce-03 .CooperationInfo-text p{
    margin-bottom: 0;
    text-indent: -1.5em;
    line-height: 30px;
}
.CooperationInfo-title{
    font-size: 28px;
    margin-bottom: 18px;
    font-weight: 600;
}
.CooperationInfo-text{
    font-size: 18px;
    line-height: 29px;
}
.CooperationInfo-text p{
    margin-bottom: 15px;
}
.CooperationInfo-picture{
    width: 55%;
    margin: 0 20px;
    position: relative;
}
#CooperationInfo-picture-01{
    max-width: 520px;
}

#Card-monkey-02{
    position: absolute;
    top: 0;
    left: 0;
    animation: Card-monkey-01 12s ease-in 2s infinite;
    /* transform-origin: top left; */
}
@keyframes Card-monkey-01 {
    0% {
        left: -236px;
        top: -50px;
        transform: rotate(-14deg);
        opacity: 1;
    }

    10% {
        left: 0px;
        top: 0px;
        transform: rotate(0deg);
        opacity: 1;
    }

    94% {
        left: 0px;
        top: 0px;
        transform: rotate(0deg);
        opacity: 1;
    }
    95% {
        left: 0px;
        top: 0px;
        transform: rotate(0deg);
        opacity: 0;
    }
    99.5% {
        left: -236px;
        top: -50px;
        transform: rotate(-14deg);
        opacity: 0;
    }
    100% {
        left: -236px;
        top: -50px;
        transform: rotate(-14deg);
        opacity: 1;
    }
}

#Card-ghost-00{
    opacity: 0;
}
#Card-ghost-01{
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 2;
}
#Card-ghost-02{
    position: absolute;
    left: 215px;
    top: 87px;
    transform: rotate(15deg);
    z-index: 0;
    animation: Card-ghost-01 12s ease-in 5s infinite;
    /* transform-origin: top left; */
}
@keyframes Card-ghost-01 {
    0% {
        left: 215px;
        top: 87px;
        transform: rotate(16deg);
        opacity: 1;
    }

    10% {
        left: 0px;
        top: 0px;
        transform: rotate(0deg);
        opacity: 1;
    }

    94% {
        left: 0px;
        top: 0px;
        transform: rotate(0deg);
        opacity: 1;
    }
    95% {
        left: 0px;
        top: 0px;
        transform: rotate(0deg);
        opacity: 0;
    }
    99.5% {
        left: 215px;
        top: 87px;
        transform: rotate(16deg);
        opacity: 0;
    }
    100% {
        left: 215px;
        top: 87px;
        transform: rotate(16deg);
        opacity: 1;
    }
}

#CooperationInfo-picture-03{
    width: 75%;
    max-width: 855px;
    filter: drop-shadow(5px 5px 10px rgba(16, 16, 16, 0.325));
}

.Info-picture-rider{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.Info-picture{
    width: 100%;
}

#rider-00{
    opacity: 0;
}
#rider-01{
    z-index: 5;
    animation: rider 10s ease-in-out 7s infinite;
}
#rider-02{
    z-index: 4;
    animation: rider 10s ease-in-out 7.2s infinite;
}
#rider-03{
    z-index: 3;
    animation: rider 10s ease-in-out 7.4s infinite;
}
#rider-04{
    z-index: 2;
    animation: rider 10s ease-in-out 7.6s infinite;
}
#rider-05{
    z-index: 1;
    animation: rider 10s ease-in-out 7.8s infinite;
}
@keyframes rider {
    0% {
        top: 0px;
    }
    2% {
        top: -20px;
    }
    4% {
        top: 0px;
    }
    100% {
        top: 0px;
    }
}


@media all and (max-width: 1200px){
    .Cooperation_Info{
        padding-top: 20px;
    }
    .CooperationInfo-title{
        font-size: 23px;
        margin-bottom: 12px;
    }
    .CooperationInfo-text{
        font-size: 16px;
    }
}

@media all and (max-width: 1000px){
    .Cooperation_Info{
        padding-top: 50px;
    }

    #CooperationInfo-introduce-01{
        margin: 0px 15px 20px 0;
    }
    #CooperationInfo-picture-01{
        margin: 0 0 0 15px;
    }
    #CooperationInfo-introduce-02{
        margin: 0px 0 20px 15px;
    }
    #CooperationInfo-picture-02{
        margin: 0 15px 0 0 ;
    }
    #CooperationInfo-introduce-03{
        margin: 0px 15px 20px 0;
    }
    #CooperationInfo-picture-03{
        margin: 0 0 0 15px;
        width: 65%;
    }
}
@media all and (max-width: 800px){
    .Cooperation_Info{
        padding-top: 50px;
    }
    #CooperationInfo-row-01{
        flex-direction: column-reverse;
        align-items: center
    }
    #CooperationInfo-row-02{
        flex-direction: column;
        align-items: center
    }
    #CooperationInfo-row-03{
        flex-direction: column-reverse;
        align-items: center
    }
    .CooperationInfo-picture{
        width: 100% !important;
        max-width: 520px !important;
        margin: 0 auto 20px !important;
    }
    .CooperationInfo-introduce{
        width: 100% !important;
        margin: 0 auto 20px !important;
        max-width: 520px !important;
    }

}
@media all and (max-width: 600px){
    .CooperationInfo-title{
        font-size: 20px;
        margin-bottom: 10px;
    }
    .CooperationInfo-text{
        font-size: 14px;
        line-height: 26px;
    }
    .Cooperation_Info {
        padding-top: 10px;
    }
    .CooperationInfo-introduce{
        text-align: center;
    }
    #CooperationInfo-introduce-03 .CooperationInfo-text{
        text-align: start;
        max-width: 280px;
        margin: 0 auto;
    }

}