/* nav 當頁顯示 */
#nav-Cooperation >.nav-link{
    background-color: #b1d7d9;
    box-shadow: inset 0px 0px 8px 0px #7da9ac8c;
}

#Cooperation_hover_bottom{
    position: absolute;
    max-width: 300px;
    transform: translateX(-50%);
    left: 50%;
    bottom: -7px;
    opacity: 1;
    z-index: 0;
    transition: all .3s ease-out;
    pointer-events: none;
}

/* RWD NAV */
@media all and (max-width: 1000px){
    #nav-Cooperation{
        background-size: cover;
        background-position: center;
    }
}

.Cooperation {
    padding-top: 50px;
    /* font-family: NotoSansTC; */
    background-color: #203240;
}
.Cooperation-container {  
    width:1000px;
    margin:0 auto;
}

@media all and (max-width: 1000px) {
    .Cooperation {
        padding-top: 40px;
    }

    .Cooperation-container {
        width: 750px;
        margin: 0 auto;
    }

}

@media all and (max-width: 800px) {
    .Cooperation-container {
        width: 600px;
        margin: 0 auto;
    }
}

@media all and (max-width: 600px) {
    .Cooperation-container {
        width: 370px;
        margin: 0 auto;
    }
}