.Cooperation_case-container {
    width: 100%;
    height: 1300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media all and (max-width: 1000px) {
    .Cooperation_case-container {
        height: 1100px;
    }
}
@media all and (max-width: 800px) {
    .Cooperation_case-container {
        height: 1200px;
    }
}
@media all and (max-width: 600px) {
    .Cooperation_case-container {
        height: 1100px;
    }
}

@media all and (max-width: 500px) {
    .Cooperation_case-container {
        height: 1050px;
    }
}
.case-title {
    width: 100%;
    height: 100px;
    background: url("/images/Cooperation/JokerCharlie_Title.png");
    background-repeat: round;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0 auto;
   
}

.case-title p {
    color:#fff;
    font-size:40px;
}

@media all and (max-width: 1000px) {
    .case-title p {        
        font-size: 34px;
    }

    .case-title {
        height: 80px;
    }
}

@media all and (max-width: 600px) {
    .case-title {    
        padding:10px;
    }

    .case-title p {
        font-size: 26px;
    }
}
@media all and (max-width: 600px) {
    .case-title p {
        font-size: 24px;
    }
}

.case-img {
    width:100%;
    background:#000;
    display:flex;
    justify-content:center;
    align-items:center;
}

.case-img img {
    width: 100%;
    max-width: 1200px;
}

.concept-zone {
    padding-top:50px;
    width:100%;
    display:flex;
    justify-content:space-between;

}

.concept-zone-left {
    padding-right: 20px;
    background: url("/images/Cooperation/Light0.png");
    background-repeat:round;
}

@media all and (max-width: 800px) {
    .concept-zone {
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .concept-zone-left {
        padding-right: 0px;
        padding-bottom:30px;

    }
}

.concept-zone-left h3 {
    color: #fff49c;
    font-size: 24px;
}

.concept-zone-left p {
    color: #FFF;
    font-size: 18px;
    margin-bottom:20px;
}

@media all and (max-width: 600px) {
    .concept-zone-left h3 {
        font-size: 22px;
    }

    .concept-zone-left p {
        font-size: 16px;
    }
}

.concept-zone-right {
    display:flex;
    justify-content:center;
    align-items:center;

}

.concept-zone-right img{
    width:400px;
   
}

@media all and (max-width: 1000px) {
    .concept-zone-right img {
        width: 333px;
    }
}

@media all and (max-width: 800px) {
    .concept-zone-right img {
        width: 400px;
    }
}

@media all and (max-width: 600px) {
    .concept-zone-right img {
        width: 333px;
    }
}