.Cooperation_Banner_Block{
    /* border: 1px solid blue; */
    width: 100%;
    background-color: #203240;
}

.Cooperation_Banner {
    /* border: 1px solid red; */
    width: 100%;
    /* height: 1000px; */
    position: relative;

}
.CooperationBanner-Gradient{
    /* border: 1px solid red; */
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, #203240 0%, #20324080 32%, #20324000 40%, #20324000 100%);
    z-index: 0;

    /* display: none; */
}
.Cooperation_Banner img {
    /* width: 100%; */
}

.CooperationBanner-BG {
    width: 100%;
}

#yumi {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    /* display: none; */
}

.CooperationBanner-content {
    /* border: 1px solid red; */
    position: absolute;
    left: 10%;
    top: 42%;
    width: 45%;
    z-index: 5;
}

.CooperationBanner-titleBlock{
    position: relative;
    z-index: -1;
}
#CooperationBanner-title{
    max-width: 1000px;
    width: 100%;
    /* position: absolute;
    top: 0;
    left: 0; */
}
#Title_base{
    max-width: 1140px;
    width: 110%;
    position: absolute;
    top: 15%;
    left: -10%;
    z-index: -1;
}
.CooperationBanner-text{
    color: #fff;
    text-shadow: 0px 1px 6.3px rgba(0, 0, 0, 0.9),0px 1px 8px rgba(0, 0, 0, 0.5);
    font-size: 28px;
    /* font-weight: 500; */
    margin-left: 30px;
    /* margin-bottom: 30px; */

    margin-bottom: 25px;
    z-index: 2;
    line-height: 1.4;
    letter-spacing: 1px;
}


.CooperationBanner-inputBlock{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 30px;
    letter-spacing: 1px;
}
.CooperationBanner-inputText{
    text-shadow: rgba(0, 0, 0, 0.8) 1px 1px 5px, rgb(139 247 255 / 96%) 0px 0px 40px, rgb(139 247 255 / 70%) 0px 0px 30px;    
    line-height: 1.5;
    /* text-shadow: 0px 0px 55px rgb(119 172 176); */
    color: #fff;
    font-size: 22px;
    white-space: nowrap;
    /* font-weight: 500; */
    display: flex;
    flex-direction: column;
}
#mail-icon{
    width: 22px;
    margin-bottom: 4px;
}

.CooperationBanner-inputSend {
    margin-left: 40px;
    border-radius: 39px;
    box-shadow: 0 0 0 0 #000, inset 0 0 0 0 #000, 0 0 0 1px #f5e8b4, inset 0 0 0 1.5px #f5e8b4;
    /* background-color: #4b2929; */
    background-color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 525px;
    height: 50px;
    width: 65%;

}

.CooperationBanner-input {
    border: 1px solid red;
    color: #fff;
    background: none;
    border: none;
    letter-spacing: 1px;
    font-size: 20px;
    outline: none;
    width: 100%;
    margin: 0 20px 0 20px;
}

.CooperationBanner-button {
    color: #fff;
    border: 2px solid #b06b24;
    background: linear-gradient(to bottom, #ffd34b, #eda53a);
    border-radius: 25px;
    height: 92%;
    width: 100%;
    margin-right: 0.3%;
    font-weight: 700;
    font-size: 22px;
    text-shadow: rgba(0, 0, 0, 0.8) 0 0 0.2em;
    font-size: 18px;
    max-width: 110px;

}

@media all and (max-width: 1920px){
    .CooperationBanner-content {
        top: 42%;
    }
    .CooperationBanner-Gradient{
        background-image: linear-gradient(to top, rgb(32, 50, 64) 0%, rgba(32, 50, 64, 0.8) 30%, rgba(32, 50, 64, 0.6) 38%, rgba(32, 50, 64, 0) 48%, rgba(32, 50, 64, 0) 100%);
    }
    #CooperationBanner-title {
        max-width: 600px;
        width: 100%;
    }
    .CooperationBanner-text{
        font-size: 22px;
    }
    .CooperationBanner-inputText{
        font-size: 16px;
    }
    .CooperationBanner-inputSend{
        max-width: 470px;
        height: 46px;
    }
    .CooperationBanner-input{
        font-size: 18px;
        margin: 0 15px 0 20px;
    }
    .CooperationBanner-button{
        max-width: 100px;
        font-size: 17px;
    }
}
@media all and (max-width: 1500px){
    .CooperationBanner-content{
        width: 50%;
    }
    #CooperationBanner-title{
        margin-bottom: 6px;
    }
    .CooperationBanner-text{
        font-size: 22px;
        margin-bottom: 18px;
    }
    .CooperationBanner-inputText{
        font-size: 16px;
    }

    .CooperationBanner-inputSend{
        height: 43px;
        margin-left: 30px;
    }
    .CooperationBanner-input {
        font-size: 16px;
        margin: 0 12px 0 20px;
    }
    .CooperationBanner-button {
        max-width: 95px;
    }
    #mail-icon{
        width: 20px;
    }
}
@media all and (max-width: 1200px){
    .CooperationBanner-content {
        width: 58%;
        top: 40%;
    }
    #CooperationBanner-title{
        max-width: 400px;
    }
    #Title_base {
        max-width: 550px;
    }
    .CooperationBanner-text{
        font-size: 18px;
        margin-left: 20px;
        margin-bottom: 18px;
    }
    .CooperationBanner-inputBlock{
        margin-left: 20px;
    }
    .CooperationBanner-inputText{
        font-size: 14px;
    }
    .CooperationBanner-inputSend {
        height: 38px;
        margin-left: 20px;
        width: 68%;
        max-width: 350px;
        box-shadow: 0 0 0 0 #000, inset 0 0 0 0 #000, 0 0 0 0.8px #f5e8b4, inset 0 0 0 1.2px #f5e8b4;
    }
    .CooperationBanner-button{
        height: 94%;
    }
    .CooperationBanner-button {
        max-width: 90px;
        font-size: 15.5px;
    }
    .CooperationBanner-input {
        font-size: 14.5px;
    }
    #mail-icon{
        width: 19px;
        margin-bottom: 2px;
    }
}
@media all and (max-width: 800px){
    .CooperationBanner-content {
        width: 90%;
        top: 38%;
        left: 3%;
    }
    .CooperationBanner-titleBlock{
        max-width: 360px;
    }
    .CooperationBanner-text{
        font-size: 15px;
        margin-bottom: 15px;
        line-height: 1.5;
    }
    .CooperationBanner-inputText{
        font-size: 12px;
    }
    .CooperationBanner-inputSend{
        margin-left: 18px;
        height: 32.5px;
        width: 45%;
    }
    .CooperationBanner-button {
        max-width: 75px;
        font-size: 14px;
        border: 1px solid #b06b24;
    }
    #mail-icon {
        width: 18px;
    }
}
@media all and (max-width: 650px){
    .Cooperation_Banner_Block{
        height: 400px;
    }
    #CooperationBanner-title {
        margin-bottom: 10px;
    }
    .CooperationBanner-text {
        font-size: 14px;
        /* margin-bottom: 30px; */
        margin-bottom: 15px;
    }
    .CooperationBanner-inputText {
        font-size: 10px;
    }
    .CooperationBanner-inputSend {
        margin-left: 18px;
        height: 30px;
        width: 60%;
    }
    .CooperationBanner-content{
        left: 10%;
        width: 95%;
    }
    .CooperationBanner-inputBlock{
        display: flex;
        /* flex-direction: column; */
        flex-direction: column-reverse;
        align-items: flex-start;
        /* align-items: center； */
    }
    .CooperationBanner-inputText{
        /* margin-left: 10px;
        flex-direction: row; */

        /* align-self:flex-end ; */
        /* align-self: center; */
    }
    .CooperationBanner-inputSend{
        margin-left: 0px;
        width: 100%;
        margin-bottom: 10px;
    }

    #mail-icon{
        width: 17px;
        margin-bottom: 2px;
    }
}
@media all and (max-width: 450px){
    .CooperationBanner-content{
        top: 50%;
        left: 0%;
    }
}