@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans:wght@400;700&family=Noto+Sans+TC:wght@100;300;400;500;700&family=Oswald:wght@400;700&display=swap');
@font-face {
    font-family: 'AlumniSans-Regular';
    src: url(/font/AlumniSans-Regular.woff) format('woff');
}
@font-face {
    font-family: 'AlumniSans-Bold';
    src: url(/font/AlumniSans-Bold.woff) format('woff');
}
/* nav 當頁顯示 */
#nav-Arena >.nav-link{
    background-color: #aad4cd;
}

#Arena_hover_bottom{
    position: absolute;
    max-width: 300px;
    transform: translateX(-50%);
    left: 50%;
    bottom: -7px;
    opacity: 1;
    z-index: 0;
    transition: all .3s ease-out;
    pointer-events: none;
}

/* RWD NAV */
@media all and (max-width: 1000px){
    #nav-Arena{
        background-size: cover;
        background-position: center;
    }
}

/*...外層...*/
.ACLIndexS2Block{
    width: 100%;
    min-height: 100vh;
    font-family: 'Alumni Sans', 'AlumniSans-Bold','AlumniSans-Regular','Oswald';
}

.BannerBlock{
    /* border: 1px solid red; */
    width: 100%;

}

.BannerBlockMain{
    /* border: 1px solid rgb(34, 134, 248); */
    position: relative;
}

/*...主圖...*/
.BannerImg{
    width: 100%;
    height: 70vh;
    min-height: 900px;
    filter: brightness(95%)saturate(90%);
}

.BannerImg img{
    width: 100%;
    height: 100%;
    object-fit: cover; 
    object-position: top center;
}

/*...標題...*/
.BannerBlockTitle{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 52%;
    left: 50%;
    font-size: 150px;
    font-family: 'Alumni Sans', 'AlumniSans-Bold','AlumniSans-Regular','Oswald';
    font-weight: bold;
    color: #fff;
    text-align: center;
    line-height: 110px;
    width: 100%;
    text-shadow: 0px 0px 4px #ffffff6b;
}

.BannerBlockNavLogo {
    z-index: 3;
    margin: 30px auto;
    max-width: 280px;
    width: 40%;
}

.BannerBlockNavLogo img {
    width: 100%;
}

/*...nav...*/
.BannerBlockNav{
    /* border: 1px solid rgb(34, 248, 98); */
    width: 100%;
    /* height: 100px; */
    display: flex;
    background: rgba(255, 255, 255, 0.808);
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    font-family: 'Alumni Sans', 'AlumniSans-Bold','AlumniSans-Regular','Oswald';
}
.NavBlockSelect{
    margin: 15px;
}

.NavBlockSelect select{
    width: 170px !important;
    max-width: none;
    font-size: 26px;
    box-shadow: 2px 2px 8px #66666663;
    border: 3px solid rgb(123 156 165);
    height: 40px;
    border-radius: 16px;
    -moz-appearance: none;
    appearance: none;
    -webkit-appearance: none;
    background-image: url(/images/Other/select-arrow.png);
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: auto;
    padding: 1px 12px 1px 20px;
    outline: 0;
}

/*...list...*/

.BannerBlockNavList{
    /* border: 1px solid rgb(248, 113, 34); */
    display: flex;
    justify-content: center;
    align-items: center;
    /* max-width: 600px; */
    /* width: 100%; */
    height: 100%;
    flex-wrap: nowrap;
    overflow: hidden;
}

.NavListAnchor{
    /* border: 1px solid rgb(34, 248, 34); */
    display: flex;
    justify-content: center;
    margin: 0 30px;
    white-space: nowrap;
    position: relative;
    overflow: hidden;
}

.NavListAnchor a{
    /* border: 1px solid rgb(248, 113, 34); */
    font-size: 28.5px;
    height: 100%;
    display: block;
    font-weight: bold;
    color: #324a66;
    line-height: 50px;
    transition: all .2s ease-in;
    text-decoration: none;
    padding: 20px 20px;
}

.NavListAnchor a:hover{
    color: #6fa0bb;
}


.shine {
    position: absolute;
    top: 0;
    left: -70px;
    height: 98px;
    width: 50px;
    background: rgba(255, 255, 255, 0.4);
    transition: all 0.4s ;
    transform: skewX(20deg) translateX(0);
    pointer-events: none;
}

.NavListAnchor:hover .shine{
    transform: skewX(20deg) translateX(330px);
}

@media all and (max-width: 1700px){
    .BannerBlockTitle{
        font-size: 130px;
        line-height: 100px;
    }
    .NavListAnchor{
        margin: 0px 14px;
    }
    .NavListAnchor a{
        font-size: 65px;
    }
    
    .BannerBlockNav{
        height: 90px;
    }
}

@media all and (max-width: 1400px){
    .BannerBlockTitle {
        font-size: 115px;
        line-height: 93px;
        top: 49%;
    }
    .BannerImg{
        height: 65vh;
        min-height: 840px;
    }
    .NavListAnchor a{
        font-size: 56px;
    }    
}

@media all and (max-width: 1200px){
    .BannerBlockTitle {
        font-size: 110px;
        line-height: 90px;
        top: 49%;
    }
    .NavListAnchor a{
        font-size: 46px;
    }  
    .BannerBlockNav{
        height: 75px;
    }
    .BannerImg{
        height: 58vh;
        min-height: 750px;
    }
    .NavListAnchor{
        margin: 0 10px;
    }
    .NavBlockSelect select {
        width: 140px !important;
        font-size: 22px;
        height: 38px;
    }
}
@media all and (max-width: 1000px){
    .BannerBlockTitle {
        font-size: 80px;
        line-height: 70px;
        top: 52%;
    }
    .BannerImg {
        height: 44vh;
        min-height: 570px;
    }
    .BannerBlockNav {
        height: 63px;
    }
    .NavListAnchor a {
        font-size: 40px;
    }
    .BannerBlockNavLogo {
        max-width: 210px;
        margin: 10px auto;
    }
    .NavBlockSelect select {
        width: 140px !important;
        font-size: 22px;
        height: 38px;
    }
}
@media all and (max-width: 800px){
    .BannerBlockTitle {
        font-size: 60px;
        line-height: 55px;
        top: 53%;
    }
    .BannerImg {
        height: 40vh;
        min-height: 518px;
    }
    .NavListAnchor a {
        font-size: 32px;
        padding: 20px 10px;
    }
    .BannerBlockNav{
        /* height: 60px; */
    }
    .NavListAnchor {
        margin: 0 5px;
    }
    .BannerBlockNavLogo {
        max-width: 200px;
        margin: 10px auto;
    }
    .NavBlockSelect select {
        width: 140px !important;
        font-size: 23px;
    }
    .NavBlockSelect {
        margin: 10px;
    }
}
@media all and (max-width: 700px){
    .BannerBlockNav{
        flex-direction: column;
        height: unset;
    }
    .BannerBlockNavList{
        width: 100%;
        justify-content: space-evenly;
    }
    .NavListAnchor a {
        padding: 0px 10px;
    }
    .NavBlockSelect select{
        height: 33px;
        border: 2px solid rgb(123 156 165);
    }
}
@media all and (max-width: 600px){
    .BannerBlockNav{
        /* height: 86px; */
    }
    .BannerBlockTitle {
        font-size: 50px;
        line-height: 45px;
        top: 50%;
    }
    .BannerBlockNavLogo {
        margin: 10px auto;
    }
    .NavBlockSelect {
        margin: 10px auto 5px;
    }
    .BannerBlockNavList{
        height: 43px;
    }
}
@media all and (max-width: 500px){
    .NavListAnchor a{
        font-size: 28px;
    }
    .BannerBlockNavList{
        height: 40px;
    }
    .NavBlockSelect select {
        font-size: 20px;
        height: 30px;
    }
}
@media all and (max-width: 400px){
    .NavListAnchor a{
        font-size: 22px;
    }

}


/*..................*/
/*.......內文.......*/
/*..................*/

.content {
    width: 100%;
    height: 10000px;   
    background: url("/images/AsiaChampionsLeague/S3/background/background_board.png");
}

/*...Event-Info...*/
.Event-Info {
    height: 2200px;
    width: 100%;
   
}

.Event-Info h2 {
    color: #67ADA2;
    text-align: center;
    font-size: 48px;
    margin: 106px auto 80px auto;
    font-weight: 500;
    font-family: Microsoft JhengHei;
}

.Event-Info p {
    color: #FFA81D;
    text-align: center;
    font-size: 35px;
    font-family: Microsoft JhengHei;
    margin-bottom:20px;
}

.ticket {
    width:100%;
    height:1041px; 
    display:flex;
    justify-content:center; 
    margin-bottom:157px;
}
.ticket-container {
    width: 1000px;
    height: 100%;  
}
.ticket img {
    width: 100%;
    height: 347px;
    display:block;
}

.poster {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom:58px;
}

.poster-container {
    width: 692px;
    height: 514px;
    position: relative;
    overflow:hidden;

}
.poster-container:first-child {
    margin-right: 110px;
}

.poster-shine {
    position: absolute;
    top: 0;
    left: -350px;
    width: 300px;
    height: 514px;
    background: rgba(255, 255, 255, 0.05); 
    pointer-events: none;
    animation: posterShine 4s ease-out infinite;
    -webkit-animation-: posterShine 4s ease-out infinite;
    
}
/*反光移動*/
@keyframes posterShine {
    0% {
        transform: skewX(10deg) translateX(0);
    }

    10% {
        transform: skewX(10deg) translateX(2000px);
    }
    100% {
        transform: skewX(10deg) translateX(2000px);
    }
}

.poster img {
    width: 692px;
    height: 514px;  
    animation: posterImg 4s ease-out infinite;
    -webkit-animation-: posterImg 4s ease-out infinite;
}
/*圖片變亮*/
@keyframes posterImg {
    0% {
        opacity: 0.9;
    }

    10% {
        opacity: 1;
    } 
    100% {
        opacity: 0.9;
    }
}

.button-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.Event-Info button {
    border: 0px;
    background: url("/images/AsiaChampionsLeague/S3/More Info/More info_button.png");
    background-repeat: round;
    height: 115px;
    width: 448px;
    font-size: 24px;
    font-family: Microsoft JhengHei;

}
/*...Rules...*/
.Rules {
    width: 100%;
    height: 1300px;
    background: url("/images/AsiaChampionsLeague/S3/Rule/Rule_Bottom.png");
    background-repeat: round;

}

.Rules h2 {
    color: #fff;
    font-size: 48px;
    padding-top:186px;
    margin: 0 auto 126px auto;
    font-family: Microsoft JhengHei;
    text-align:center;
}
.Rules-owl-Container {
    width: 1340px;
    height: 720px;
    margin: 0 auto;
    background: url("/images/AsiaChampionsLeague/S3/Rule/Rule_Screen Frame.png");
    background-repeat: round;
}
.ACLS3RulesCarousel p {
    font-size: 24px;
    color: rgba(225,225,225,0.6);
}
.ACLS3RulesCarousel .item {
    width: 1340px;
    height: 720px;
    padding: 150px;
}

.ACLS3RulesCarousel .owl-dot span {
    background: #fff !important;
}

.ACLS3RulesCarousel .active span {
    background: none !important;
    border: 1px solid #fff;
}

/*...Reward...*/
.Reward {
    width:1370px;
    margin:0 auto;
}
    
.Reward h2 {
    color: #63a99e;
    margin: 86px auto 92px auto;
    font-size: 48px;
    font-family: Microsoft JhengHei;
    text-align:center;
}

.Reward h3 {
    color: #FFA71D;
    font-size: 30px;
    font-family: Microsoft JhengHei;
    margin-bottom:28px;
}
.Reward-PtagContainer {
    padding: 83px 103px 29px 103px;
}
.Reward p {
    color: #FFA71D;
    font-size: 18px;
    font-family: Microsoft JhengHei;
    margin-bottom:60px;    
}

.Reward img{
    margin-bottom:60px;
}
/*...Ranking...*/
.Ranking {
    width: 100%;
    height: 1350px;
    margin-top:20px;
}

.Ranking-banner-Squad    {
    width: 100%;
    height: 528px;
    position: relative;
}


.Ranking-banner-Squad .Ranking-banner-bg {
    width: 100%;
    height: 397px;
    background: url("/images/AsiaChampionsLeague/S3/Ranking/Squad/Ranking_Squad bottom.png");
    background-repeat: round;
}

.Ranking-banner-Squad .Ranking-banner-selectContainer {
    width: 100%;
    height: 225px;
    position:absolute;
    left:0%;
    top:58%;
}
.Ranking-banner-select {
    width: 100%;
    height: 100%;
    background: url("/images/AsiaChampionsLeague/S3/Ranking/Squad/Ranking_Squad select-1.png");
    background-repeat: round;
    position:relative;
}

.Ranking-banner-Squad .Bar {
    width:538px;
    height:65px;
    position:absolute;
    left:19.58%;
    top:42.22%;
}
.Ranking-banner-Squad .BarButton {
    width: 22.99px;
    height: 43.5px;
    position:absolute;
    left: 35.40%;
    top: 47.44%;
}

.Ranking-Date {
    width:818px;
    height:88px;
    margin-bottom:60px;
}

.Ranking-Place-left {
    float:left;
    width:50%;
    height:610px;
    
}

.Ranking_First {
    background: url("/images/AsiaChampionsLeague/S3/Ranking/Place/Ranking_First.png");
    background-repeat: round;
    width: 100%;
    height: 230px;
  
}
.Ranking_Second {
    background: url("/images/AsiaChampionsLeague/S3/Ranking/Place/Ranking_Second.png");
    background-repeat:round;
    width: 96%;
    height: 180px;
    margin-top:30px;
}
.Ranking_third {
    background: url("/images/AsiaChampionsLeague/S3/Ranking/Place/Ranking_third.png");
    background-repeat: round;
    width: 93%;
    height: 140px;
    margin-top: 30px;
}

.Ranking-Place-right {
    float: right;
    width: 50%;
    padding-left:136px;
}
.Ranking-Place-Other {
    width: 527px;
    height: 610px;
    background: url("/images/AsiaChampionsLeague/S3/Ranking/Place/Ranking_Other place.png");
    background-repeat: round;
}

/*...Schedule...*/
.Schedule {
    background: url("/images/AsiaChampionsLeague/S3/Calender/Calender_bottom.png");
    background-repeat:round;
    width:100%;
    height: 1259px;
}

.Schedule h2 {
    margin: 0 auto 87px auto;
    padding-top: 200px;
    font-size: 48px;
    color: #203240;
    text-align: center;
    font-family: Microsoft JhengHei;
}

.Schedule-BG {
    width: 773px;
    height: 728px;
    background: url("/images/AsiaChampionsLeague/S3/Calender/Calender_ Calender  base.png");
    background-repeat: round;
    margin: 0 auto;
}

.Schedule-Month {
    width: 100%;
    height: 100px;   
    display:flex;
    justify-content:center;
    align-items:center;
    
}
.Schedule-Month p {
    width: 100px;
    color: #203240;
    text-align: center;
    font-size: 26.88px;
    font-family: Microsoft JhengHei;
}
.ScheduleMonth-prev {
    transform: rotate(180deg);
}

.Schedule-Week {
    width: 90%;
    height: 50px;
    margin: 0 auto;
}

.Schedule-Week p {
    color: #898989;
    font-size: 20.16px;
    font-family: Microsoft JhengHei;
    float: left;
    width:56px;
    height:27px;
    margin-right:50px;
}
.Schedule-Week p:last-child {
        color: red;
     
        margin-right: 0px;
    }

.Schedule-Carousel {
    width: 773px;
    height: 550px;
    border: 1px solid red;
}
.ACLS3ScheduleCarousel {
    width: 773px;
    height: 550px;
}

.ACLS3ScheduleCarousel .item {
    width: 773px;
    height: 550px;
}

/*...Notice...*/
.Notice_TopTitle {
    margin: 36px 0 53px 0;
    font-family: Microsoft JhengHei;
    font-size: 48px;
    color: #fff;
    text-align: center;
}
.Notice-Container {
    width: 1272px;
    height: 701px;
    background: #fff;
    border-radius: 27px;
    padding: 10px 10px 10px 40px;
    margin: 0 auto;
  
}

.Notice-content {
    width: 100%;
    height: 100%;
    background: #fff;
    overflow-y:auto;
}

.Notice-content h2 {
    /*font-size: 24px;
    color: #69ADA2;
    text-align: center ;
    font-family: Microsoft JhengHei;*/
}



.Notice-content::-webkit-scrollbar {
    width: 20px !important;
    background: #fff !important;
    -webkit-box-shadow: none !important;
    border: 0 !important;
}
    
.Notice-content::-webkit-scrollbar-thumb {
    background: url("/images/AsiaChampionsLeague/S3/Notice/Notice_Bar.png") !important;
    background-repeat: round !important;
    width: 15px !important;
}


.notice_title {
    font-size: 30px;
    color: #648ea1 !important;
    margin: 20px 0 10px !important;
    text-align: center;
    line-height: 36px;
}


.txt_title {
    color: #648ea1 !important;
    font-size: 24px;
    margin: 40px 0 10px 0;
}

.event_note {
    font-size: 14px;
    text-align: start;
}

.event_txt {
    font-size: 20px;
    margin: 20px 0 0px;
    padding: 0 10px;
    /* text-indent: -1em;  */
    /* margin-left: 2em;   */
}
.title_border {
    width: 90%;
    border: 1px solid #dee3e6 !important;
    height:1px;
}

.event_txt02 {
    font-size: 18px;
    margin: 10px 0 0px;
    padding: 0 15px 0 40px;
    text-indent: -1em;
    line-height: 33px;
}


.event_txt03 {
    font-size: 16px;
    padding: 0 30px;
    margin-left: 2em;
    text-indent: -1em;
}

.event_txt04 {
    font-size: 16px;
    padding: 0 30px;
    margin-left: 3em;
    text-indent: -1em;
}

.event_txt05 {
    font-size: 16px;
    padding: 0 30px;
    margin-left: 4em;
    text-indent: -1em;
}


@media (max-width: 1200px) {
    .notice_title {
        font-size: 28px;
    }

    .event_txt {
        font-size: 18px;
    }

    .event_txt02 {
        font-size: 16px;
    }

    .event_note {
        font-size: 14px;
        text-align: start;
    }

    .txt_title {
        font-size: 22px;
    }
}

@media all and (max-width: 800px) {
    .notice_title {
        font-size: 26px;
    }

    .notice {
        padding: 30px 20px 30px 10px;
    }

    .event_note {
        padding: 0 15px 0 15px;
    }

    .txt_title {
        font-size: 20px;
    }
}

@media (max-width: 600px) {
    .notice_title {
        font-size: 24px;
        margin: 10px 0 10px;
    }

    .event_note {
        text-align: start;
        padding: 0 10px 0 15px;
        line-height: 23px;
    }
}

@media (max-width: 400px) {
    .notice_title {
        font-size: 20px;
    }

    .event_txt {
        font-size: 16px;
        margin: 10px 0 0px;
    }

    .event_txt02 {
        margin: 5px 0 0px;
    }

    .txt_title {
        font-size: 18px;
    }

    .event_txt03 {
        font-size: 14px;
    }
}




.tg {
    border-collapse: collapse;
    border-spacing: 0;
}

.tg td {  
    border-style: solid;
    border-width: 1px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    overflow: hidden;
    padding: 10px 5px;
    word-break: normal;
}

table {
    margin: 20px 0px 50px;
    width: 50%;
}

table, tr, th, td {
    border: 1px solid #d2e1e9;
    text-align: center;
    font-size: 16px;
    padding: 2px 4px;
}

td {
    width: 20%;
}

@media (max-width: 500px) {
    td {
        font-size: 13px;
    }
}

/*...Footer...*/

.ACLIndexS3-Footer {
    background: #67ada2;
    width:100%;
    height:500px;
}


/*打字動畫*/
.ACLS3RulesCarousel p {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    display: none;
}
.TypewriterShow {
    display: block;
}
.Typewriter-1Ani {
    animation-iteration-count: 1;
    animation-name: TypewriterAnimate;
    animation-duration: 0.8s;
    animation-timing-function: steps(100);
}


@keyframes TypewriterAnimate {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}


