.WarmUpActivities_EventInfo{
    width: 100%;
    background-image: url(/images/SpecialEvent/WarmUpActivities/EventInfo-BG.png);
    background-position: top center;
    background-repeat: repeat;
    background-size: contain;
    /* height: 1000px; */
    padding: 80px 0;
    overflow: hidden;
}


.EventInfo_Date{
    max-width: 835px;
    width: 100%;
    background-color: #3e1916b8;
    letter-spacing: 2px;
    padding: 10px 20px 12px;
    text-align: center;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.EventInfo_Date span{

    text-shadow: #420101 5px 5px 17px;
    font-size: 26px;
    color: #fff;
    /* width: 100%; */
    font-weight: 500;
}
.EventInfo_Date::before{
    content: "";
    width: 13px;
    height: 13px;
    background-color: #fff;
    position: absolute;
    transform: translateY(-50%) rotate(45deg);
    top: 50%;
    left: 9%;
}
.EventInfo_Date::after{
    content: "";
    width: 13px;
    height: 13px;
    background-color: #fff;
    position: absolute;
    transform: translateY(-50%) rotate(45deg);
    top: 50%;
    right: 9%;
    
}
.EventInfo_introduce{
    /* max-width: 1000px; */
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px auto;
}
.EventInfo_card{
    max-width: 340px;
    width: 40%;
    /* height: 500px; */
    /* border: 1px solid red; */
    /* background-image: url(/images/SpecialEvent/WarmUpActivities/EventInfoCard-BG.png);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: contain; */
    position: relative;
}

#EventInfo_card-BG{
    /* border: 1px solid rgb(102, 0, 255); */
    /* max-width: 340px; */
    width: 100%;
}

#EventInfo_card-01{
    position: absolute;
    max-width: 320px;
    width: 95%;
    top: 28%;
    left: -15%;
    z-index: 2;
    opacity: 0;
    transform-origin: bottom left;

    animation: WarmUpRider-01-fadeIn 0.6s ease-out 2s forwards,
    WarmUpRider-01-shock 6s linear 3s infinite;
}

@keyframes WarmUpRider-01-fadeIn {
    0% {
        transform: translate(-100px,0px);
        opacity: 0;
        z-index: -1;
    }

    100% {
        transform: translate(0px,0px);
        opacity: 1;
        z-index: 1;
    }
}
@keyframes WarmUpRider-01-shock {
    0% {
        transform: scale(1);
    }

    95.5% {
        transform: scale(1);
    }

    97% {
        transform: scale(1.03);
    }

    98.5% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.03);
    }
}

#EventInfo_card-02{
    position: absolute;
    max-width: 370px;
    width: 105%;
    top: -2%;
    left: 45%;
    z-index: 1;
    opacity: 0;
    transform-origin: bottom right;

    animation: WarmUpRider-02-fadeIn 0.6s ease-out 2.5s forwards,
    WarmUpRider-02-shock 6s linear 3.5s infinite;
}

@keyframes WarmUpRider-02-fadeIn {
    0% {
        transform: translate(100px,0px);
        opacity: 0;
        z-index: -1;
    }

    100% {
        transform: translate(0px,0px);
        opacity: 1;
        z-index: 1;
    }
}

@keyframes WarmUpRider-02-shock {
    0% {
        transform: translate(0px,0px);
        transform: scale(1);
    }

    95.5% {
        transform: translate(0px,0px);
        transform: scale(1);
    }

    97% {
        transform: scale(1.03);
    }

    98.5% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.03);
    }
}

.EventInfo_text{
    /* border: 1px solid red; */
    color: #fff;
    max-width: 500px;
    z-index: 3;
    margin: 0 20px;
    /* padding: 0 20px; */
}
.EventInfo_text h1{
    font-size: 30px;
    text-shadow: 
            1.5px -1.5px 0px #4f0b0b,
            -1.5px 1.5px 0px #4f0b0b,
            1.5px 1.5px 0px #4f0b0b,
            -1.5px -1.5px 1px #4f0b0b,
            1.5px -1.5px 1px #4f0b0b,
            -1.5px 1.5px 1px #4f0b0b,
            1.5px 1.5px 1px #4f0b0b,
            -1.5px -1.5px 1.5px #4f0b0b,
            1.5px -1.5px 1.5px #4f0b0b,
            -1.5px 1.5px 1.5px #4f0b0b,
            1.5px 1.5px 1.5px #4f0b0b,
            -2px -2px 2px #4f0b0b,
            2px -2px 2px #4f0b0b,
            -2px 2px 2px #4f0b0b,
            2px 2px 2px #4f0b0b,
            -2px -2px 2px #4f0b0b,
            2px -2px 2px #4f0b0b,
            -2px 2px 2px #4f0b0b,
            2px 2px 2px #4f0b0b,
            2px 2px 2px #4f0b0b,
            -2.5px -2.5px 2.5px #4f0b0b,
            2.5px -2.5px 2.5px #4f0b0b,
            -2.5px 2.5px 2.5px #4f0b0b,
            2.5px 2.5px 2.5px #4f0b0b,
            -3px -3px 3px #4f0b0b,
            3px -3px 3px #4f0b0b,
            -3px 3px 3px #4f0b0b,
            3px 3px 3px #4f0b0b,
            -3px -3px 3px #4f0b0b,
            3px -3px 3px #4f0b0b,
            -3px 3px 3px #4f0b0b,
            3px 3px 3px #4f0b0b,
            -3px -3px 3px #4f0b0b,
            3px -3px 3px #4f0b0b,
            -3px 3px 3px #4f0b0b,
            3px 3px 3px #4f0b0b,
            -3px -3px 3px #4f0b0b,
            3px -3px 3px #4f0b0b,
            -3px 3px 3px #4f0b0b,
            3px 3px 3px #4f0b0b;

    -webkit-text-stroke: 1px #4f0b0b;
    font-weight: 600;
    letter-spacing: 2px;
    line-height: 40px;
    margin-bottom: 15px;
    /* padding: 0 20px; */
}

.EventInfo_text p{
    letter-spacing: 1.8px;
    /* max-width: 430px; */
    font-size: 18px;
    line-height: 32px;
    /* text-align: justify; */
    margin: 0 auto;
    backdrop-filter: blur(1px);
    /* font-weight: 500; */
    /* padding: 0 20px; */
}
@media all and (max-width: 1200px){
    .EventInfo_Date{
        max-width: 800px;
        padding: 8px 40px 12px;
    }
    .EventInfo_Date::before{
        left: 3%;
        width: 10px;
        height: 10px;
    }
    .EventInfo_Date::after{
        right: 3%;
        width: 10px;
        height: 10px;
    }
    .EventInfo_Date span{
        font-size: 22px;
    }

    .EventInfo_text{
        max-width: 480px;
        width: 50%;
    }
    .EventInfo_text p{
        max-width: 410px;
    }
    .EventInfo_card{
        max-width: 300px;
        width: 30%;
    }
    .EventInfo_text h1{
        font-size: 24px;
        margin-bottom: 10px;
        /* text-align: center; */
    }
    .EventInfo_text p{
        font-size: 16.5px;
        line-height: 28px;
    }
}
@media all and (max-width: 800px){
    .WarmUpActivities_EventInfo{
        padding: 80px 0 50px;
    }
    .EventInfo_Date span {
        font-size: 20px;
    }
    .EventInfo_introduce{
        justify-content: space-around;
    }
    
    .EventInfo_text{
        margin: 0 30px;
        max-width: 300px;
        width: 90%;
        max-width: 500px;
        text-align: center;
    }
    .EventInfo_text p {
        max-width: 400px;
        font-size: 15.5px;
        line-height: 27px;
    }
    .EventInfo_card {
        max-width: 280px;
        width: 70%;
        margin: 30px auto 80px;
    }
    .EventInfo_introduce{
        flex-direction: column;
    }

}
@media all and (max-width: 600px){
    .WarmUpActivities_EventInfo{
        padding: 60px 0 50px;
    }
    .EventInfo_Date span {
        font-size: 16px;
    }
    .EventInfo_text{
        width: 100%;
    }
    .EventInfo_text h1{
        font-size: 22px;
        line-height: 34px;
    }
    .EventInfo_introduce{
        margin: 30px auto;
    }
}
@media all and (max-width: 400px){
    .WarmUpActivities_EventInfo{
        padding: 60px 0 20px;
    }
}