.activity{
    /* border: 1px solid red; */
    max-width: 1200px;
    margin: 30px auto 100px;
    width: 100%;
    /* height: 500px; */
    background-image: linear-gradient(to top, #fff, #ededed, #f3f3f3, #fff);
    border-radius: 16px;
}
.activity-titleBlock{
    border-radius: 15px;
    background-image: linear-gradient(to top, #6e342b, #6e342b, #aa4534);
    padding: 15px 30px;
}
.activity-title{
    color: #fff;
    display: flex;
    justify-content: space-between;
    /* flex-wrap: wrap; */
}
.activity-text{
    color: #fff;
    display: flex;
    /* align-items: baseline; */
    align-items: center;
    font-weight: 700;
    letter-spacing: 1px;
    flex-wrap: wrap;
}
.activity-text-p{
    display: flex;
    align-items: center;
    flex-wrap: wrap
    /* justify-content: center; */
}
.activity-title h1{
    font-size: 36px;
    margin-right: 20px;
    margin-bottom: 6px;
}
.activity-title p{
    font-size: 26px;
    margin-right: 15px;
    font-weight: 500;
    line-height: 32px;
}
.five-stars{
    max-width: 140px;
    /* width: 23%; */
    margin: 5px 0;
}
.activity-date{
    color: #fff;
    /* opacity: 0.75; */
    background-color: #410f03cd;
    border-radius: 5px;
    font-size: 17px;
    letter-spacing: 1px;
    padding: 7px 20px 10px;
    /* display: inline-block; */
    margin: 13px 0;
    font-weight: 500;
    align-self: center;
    white-space: nowrap;
}

.activity-content{
    /* border: 1px solid red; */
    padding: 5%;

}
.activity-info-one{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    letter-spacing: 1px;
}
.event-box-Img{
    /* border: 1px solid red; */
    position: relative;
    width: 100%;
    /* margin: 30px; */
    max-width: 500px;
    padding-bottom: 0px;
    margin-right: -30px;
    margin-top: -70px;
}
.event-box{
    width: 100%;
}
#event-box-01{

}
#event-box-02{
    position: absolute;
    left: 0;
    opacity: 0.9;

    animation: event-box-02 8s ease-in-out 0s infinite;
    transition: all 0.5s ease-in-out;
}

@keyframes event-box-02 {
    0% {
        transform: translateY(-15px) rotate(3deg)scale(0.85);
    }
    50% {
        transform: translateY(-70px) rotate(-5deg)scale(0.9);
    }

    100% {
        transform: translateY(-15px) rotate(3deg)scale(0.85);
    }
}

.event-box-Img:hover #event-box-02{
    animation: event-box-02-hover 0.5s ease-in-out 0s forwards;
    transition: all 1s ease-in-out;
}
@keyframes event-box-02-hover {
    0% {
        transform: translateY(-15px) rotate(3deg)scale(0.9);
    }

    100% {
        transform: translateY(-70px) rotate(-5deg)scale(1);
    }
}





#event-box-03{
    position: absolute;
    left: 0;
    /* transform-origin: 30% center; */
    animation: event-box-03 8s ease-in-out 0s infinite;
    transition: all 0.5s ease-in-out;
}
@keyframes event-box-03 {
    0% {
        transform: translateY(-15px);
    }
    50% {
        transform: translateY(-70px);
    }

    100% {
        transform: translateY(-15px);
    }
}
.event-box-Img:hover #event-box-03{
    animation: event-box-03-hover 0.5s ease-in-out 0s forwards;
    transition: all 1s ease-in-out;
}
@keyframes event-box-03-hover {
    0% {
        transform: translateY(-15px);
    }

    100% {
        transform: translateY(-70px);
    }
}
.activity-infoList{
    /* border: 1px solid red; */
    max-width: 550px;

}
.activity-list{
    padding: 0px 30px 20px 50px;
}
.activity-list li{
    text-indent: -1.5em;
    /* list-style: none; */
    margin-bottom: 10px;
    /* text-align: justify; */
    line-height: 30px;
    font-weight: 500;
    font-size: 18px;
    color: #971c00;
}
.activity-list li span{
    color: black;
}

.activity-list-title{
    color: #971c00 !important;
}
.activity-community-block{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 18px;
}
.community{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 20px;
}
.community-name{
    color: black;
    margin-bottom: 7px;
    font-size: 16px;
}
.community-icon{
    width: 75px;
    transition: all .1s ease-out;
}
.community-icon:hover{
    opacity: 0.8;
}


.activity-info{
    color: #1e0101;
    letter-spacing: 1px;
    line-height: 35px;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    /* width: 90%; */
    margin: 0 auto;
}
.activity-Img{
    width: 80%;
    margin: 0 auto;
    position: relative;
}
#activity-02{
    /* border: 3px solid rgb(17, 255, 0); */
    position: relative;
}
#activity-Img-01{
    width: 100%;
    margin-top: 5%;
    margin-bottom: 4%;
}
#activity-Img-02{
    position: absolute;
    right: -15%;
    bottom: -9%;
    max-width: 250px;
    width: 40%;
    transform-origin: center bottom;
    animation: activity-Img-02 3s ease-in-out 0s infinite;
}

@keyframes activity-Img-02 {
    0% {
        transform: rotate(3deg);
    }
    50% {
        transform: rotate(-5deg);
    }

    100% {
        transform: rotate(3deg);
    }
}
.starShine-block{

}
.starShine{
    border-radius: 50%;
    
    pointer-events: none;
    position: absolute;

    transition: all .2s ease-in;
    opacity: 0;
    display: none;
}
#starShine-01{
    max-width: 350px;
    right: -15%;
    top: -5%;
    width: 40%;
}
#starShine-02{
    max-width: 300px;
    left: -20%;
    bottom: -10%;
    width: 30%;
}
#activity-02:hover .starShine{
    opacity: 0.7;
    display: block;
}
.activity-buttonBlock{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.activity-button {
    /* width: 100%; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px 10px;
    flex-wrap: wrap;
}
.activity-button button {
    text-align: center;
    /* background-color: #feac22; */
    border: 3.8px solid #eac492db;
    background-image: linear-gradient(to top, #ffa300, #fed322);
    color: #fff;
    /* margin: 10px; */
    letter-spacing: 2px;
    padding: 10px 40px 9px;
    border-radius: 17px;
    font-weight: 600;
    cursor: pointer;
    box-shadow: 3px 3px 10px 5px rgb(154 144 139 / 30%);
    display: inline-block;
    text-decoration: none;
    letter-spacing: 1.5px;
    font-size: 18px;
    font-family: sans-serif;
    transition: all .01s ease-in;
    text-shadow: 1px 2px 2px rgb(77 36 9 / 25%);
}

.activity-button:hover {
    transform: scale(1.02);
    text-decoration: none;
}

#activity-03{
    /* width: 100%; */
    background-image: url(/images/SpecialEvent/WarmUpActivities/activity-03-BG.png);
    background-position: top center,
                    bottom center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
}

@media all and (max-width: 1200px){

    .activity-title{
        flex-wrap: wrap;
    }
    .activity-title h1{
        font-size: 24px;
        margin-right: 15px;
        white-space: nowrap;
        margin-bottom: 6px;
    }
    .activity-title p {
        font-size: 17px;
        line-height: 30px;
        margin-right: 12px;
        white-space: nowrap;
    }
    .activity-date{
        font-size: 15px;
        margin: 10px 0;
    }
    .activity-content{
        padding: 4.5%;
        padding: 20px;
    }
    .activity-info{
        font-size: 16.5px;
        line-height: 28px;
    }
    .five-stars{
        width: unset;
        max-width:85px;
    }
    .activity-button button{
        font-size: 16px;
        padding: 8px 40px 7px;
    }
    .activity{
        margin: 30px auto 20px;
    }
    .activity-title{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .activity-text{
        flex-direction: column;
    }
    .activity-titleBlock {
        padding: 10px 25px;
    }

    .activity-Img{
        width: 90%;
    }
    #activity-Img-01{
        margin-top: 20px;
        margin-bottom: 20px;
    }

    #activity-Img-02{
        width: 35%;
    }
    .activity-text-p{
        justify-content: center;
    }
    .activity-infoList{
        max-width: 500px;
    }

    .activity-list li{
        font-size: 16.5px;
        line-height: 28px;
        margin-bottom: 7px;
    }
    .activity-list{
        padding: 30px 30px 25px 40px;
    }
    .community{
        margin: 15px 20px 20px;
    }
    .activity-community-block{
        margin-top: 20px;
    }
    .community-icon{
        width: 65px;
    }
}
@media all and (max-width: 1000px){
    .event-box-Img{
        max-width: 350px;
        padding-bottom: 0px;
        margin-top: -20px;
    }
    .activity-info-one{
        flex-direction: column;
    }
    .activity-infoList{
        max-width: 600px;
    }
    @keyframes event-box-02 {
        0% {
            transform: translateY(-15px) rotate(3deg)scale(0.85);
        }
        50% {
            transform: translateY(-60px) rotate(-5deg)scale(0.9);
        }
    
        100% {
            transform: translateY(-15px) rotate(3deg)scale(0.85);
        }
    }
    
    @keyframes event-box-03 {
        0% {
            transform: translateY(-15px);
        }
        50% {
            transform: translateY(-60px);
        }
    
        100% {
            transform: translateY(-15px);
        }
    }
    @keyframes event-box-02-hover {
        0% {
            transform: translateY(-15px) rotate(3deg)scale(0.9);
        }
    
        100% {
            transform: translateY(-60px) rotate(-5deg)scale(1);
        }
    }
    @keyframes event-box-03-hover {
        0% {
            transform: translateY(-15px);
        }
    
        100% {
            transform: translateY(-60px);
        }
    }
    .community{
        margin: 15px 15px 20px;
    }

    .community-icon{
        width: 60px;
    }
}
@media all and (max-width: 800px){
    .activity{
        margin: 30px auto 50px;
        border-radius: 22px;
    }
    .activity-titleBlock {
        padding: 15px 30px;
        border-radius: 20px;
    }
    .activity-title h1{
        font-size: 26px;
        margin-bottom: 4px;
    }
    .activity-title p {
        font-size: 18px;
        line-height: 28px;
    }
    .activity-info{
        font-size: 15px;
        line-height: 26px;
    }
    .activity-date{
        font-size: 14px;
        margin: 10px 0 7px;
        padding: 5px 20px 8px;
    }
    .five-stars{
        max-width: 90px;
    }
    .activity-button button {
        font-size: 15px;
        padding: 8px 30px 7px;
        line-height: 20px;
    }
    .activity-list{
        font-size: 15px;
        line-height: 26px;
    }
    .community{
        margin: 15px 12px 20px;
    }
    .community-icon{
        width: 55px;
    }
    .community-name{
        font-size: 14px;
    }
    
}
@media all and (max-width: 600px){
    .event-box-Img{
        max-width: 280px;
        margin-top: -30px;
        margin-left: 10px;
        margin-bottom: -10px;
    }
    .activity-list {
        padding: 30px 10px 25px 35px;
        
    }
    @keyframes event-box-02 {
        0% {
            transform: translateY(-10px) rotate(3deg)scale(0.85);
        }
        50% {
            transform: translateY(-50px) rotate(-5deg)scale(0.9);
        }
    
        100% {
            transform: translateY(-10px) rotate(3deg)scale(0.85);
        }
    }
    
    @keyframes event-box-03 {
        0% {
            transform: translateY(-10px);
        }
        50% {
            transform: translateY(-50px);
        }
    
        100% {
            transform: translateY(-10px);
        }
    }
    @keyframes event-box-02-hover {
        0% {
            transform: translateY(-10px) rotate(3deg)scale(0.9);
        }
    
        100% {
            transform: translateY(-50px) rotate(-5deg)scale(1);
        }
    }
    @keyframes event-box-03-hover {
        0% {
            transform: translateY(-10px);
        }
    
        100% {
            transform: translateY(-50px);
        }
    }
}