<head>
    <link href="/css/Teach/All_components/Main_Title.css" rel="stylesheet" />
</head>

<h3 class="Main_Title">Setp @SetpTextData</h3>
<p></p>

@code {
    [CascadingParameter] string SetpTextData { get; set; }

}
