@using SnakeAsianLeague.Data.Entity.View

<head>
    <link href="/css/Teach/All_components/Main_Title.css" rel="stylesheet" />
</head>

<h3 class="Main_Title">Setp @title.MainTitle</h3>
<h3 class="Main_Title">Setp @title.SubTitle</h3>

@code {
    [CascadingParameter] Title title { get; set; }

}
