@page "/Arena"

@* @using SnakeAsianLeague.Pages.Arena.Components *@

@inject IJSRuntime JS

<head>
    <title>PonPonSnake｜Arena</title>
    <link href="/css/Arena/Arena.css" rel="stylesheet" />
</head>

<div class="Arena">

    <div class="Arena-SKY">
        <div class="Arena-BG"></div>
        <div class="Arena-BG-Gradient"></div>
        @* <img class="" src="/images/Arena/sky-BG.png" /> *@
        <img class="Arena-stage" src="/images/Arena/stage.webp" alt="">

        <div class="Arena-title" data-i18n="Arena_data:Arena.title">PONPONSNAKE ARENA</div>

        <div class="Activity-type-block">

            @* 情人節節慶賽 2023 *@
            <a class="Activity-box" href="Valentine2023">
                <img class="type-new" src="/images/Arena/new-icon.png" alt="">

                <div class="Activity-type" id="Activity-06">

                    <div class="type-BG" id="type-BG-06">
                        <img width="350" src="/images/Arena/Valentine2023-BG00.png" alt="">
                    </div>

                    <div class="type-introduce" data-i18n="[html]Arena_data:Arena.introduce-06">Happy Valentines Day Join Us! Total Bonuses up to 55,000 ERNC!</div>

                    <div class="title-name" data-i18n="[html]Arena_data:Arena.title-06">VALENTINE FESTIVAL 2023</div>
                    <img class="type-icon" src="/images/Arena/Valentine2023-Logo.png" alt="">

                </div>
            </a>

            @* 春節新年聯賽 2023 *@
            <a class="Activity-box" href="NewYear2023">
                <img class="type-new" src="/images/Arena/new-icon.png" alt="">

                <div class="Activity-type" id="Activity-01">

                    <div class="type-BG" id="type-BG-01">
                        <img width="350" src="/images/Arena/type-BG-001.webp" alt="">
                    </div>

                    <div class="type-introduce" data-i18n="[html]Arena_data:Arena.introduce-01">Lucky Star arrives, Total Grand 55,500 gERNC!</div>

                    <div class="title-name" data-i18n="[html]Arena_data:Arena.title-01">CHINESE NEWYEAR LEAGUE 2023</div>
                    <img class="type-icon" src="/images/Arena/type-icon-01.png" alt="">

                </div>
            </a>

            @* 預熱活動 *@
            <a class="Activity-box" href="WarmUpActivities#WarmUpActivities_Banner" target="_blank">
                <img class="type-new" src="/images/Arena/new-icon.png" alt="">

                <div class="Activity-type" id="Activity-02">
                    <div class="type-BG" id="type-BG-02">
                        <img width="350" src="/images/Arena/type-BG-002.webp" alt="">
                    </div>
                    
                    <div class="type-introduce" data-i18n="[html]Arena_data:Arena.introduce-02">Play Free, Earn Fun! All Reward just for you!</div>

                    <div class="title-name" data-i18n="[html]Arena_data:Arena.title-02">WARM-UP EVENT</div>
                    <img class="type-icon" src="/images/Arena/type-icon-02.png" alt="">
                </div>
            </a>

            @* 亞洲聯賽3 *@
            <a  class="Activity-box" href="ACLIndexS3">
                <img class="type-new" src="/images/Arena/new-icon.png" alt="">

                <div class="Activity-type" id="Activity-03">
                    <div class="type-BG" id="type-BG-03">
                        <img width="350" src="/images/Arena/type-BG-003.webp" alt="">
                    </div>
                    
                    <div class="type-introduce" data-i18n="[html]Arena_data:Arena.introduce-03">Secret Reward!<br>All top 8 Gets the Price!</div>

                    <div class="title-name" data-i18n="[html]Arena_data:Arena.title-03">ASIA CHAMPIONS LEAGUE S3</div>
                    <img class="type-icon" src="/images/Arena/logoS3.webp" alt="">
                </div>
            </a>


            @* 聖誕節慶賽 2021 *@
            <a  class="Activity-box" href="ChristmasIndex">
                @* <img class="type-new" src="/images/Arena/new-icon.png" alt=""> *@

                <div class="Activity-type" id="Activity-04">
                    <div class="type-BG" id="type-BG-04">
                        <img width="350" src="/images/Arena/Christmas-2021.png" alt="">
                    </div>
                    
                    <div class="type-introduce" data-i18n="[html]Arena_data:Arena.introduce-04">Celebrate the festive, Give a variety of good gifts!</div>

                    <div class="title-name" data-i18n="[html]Arena_data:Arena.title-04">CHRISTMAS LEAGUE 2021</div>
                    <img class="type-icon" src="/images/Arena/Christmas-2021-Logo.png" alt="">
                </div>
            </a>


            @* 亞洲聯賽S1 *@
            <a  class="Activity-box" href="ACLIndex/index">
                @* <img class="type-new" src="/images/Arena/new-icon.png" alt=""> *@

                <div class="Activity-type" id="Activity-05">
                    <div class="type-BG" id="type-BG-05">
                        <img width="350" src="/images/Arena/ACLIndex-S1-BG.png" alt="">
                    </div>
                    
                    <div class="type-introduce" data-i18n="[html]Arena_data:Arena.introduce-05">Exciting game,<br>Total bonus 1.725 million!</div>

                    <div class="title-name" data-i18n="[html]Arena_data:Arena.title-05">ASIA CHAMPIONS LEAGUE S1</div>
                    <img class="type-icon" src="/images/Arena/type-icon-03.png" alt="">
                </div>
            </a>



        </div>


    </div>

</div>


@code {

}