@page "/Arena"

@* @using SnakeAsianLeague.Pages.Arena.Components *@

@inject IJSRuntime JS

<head>
    <title>PonPonSnake｜Arena</title>
    <link href="/css/Arena/Arena.css" rel="stylesheet" />
</head>

<div class="Arena">

    <div class="Arena-SKY">
        <div class="Arena-BG"></div>
        @* <img class="" src="/images/Arena/sky-BG.png" /> *@
        <img class="Arena-stage" src="/images/Arena/stage.webp" alt="">

        <div class="Arena-title" data-i18n="Arena_data:Arena.title">PONPONSNAKE ARENA</div>

        <div class="Activity-type-block">

            @* 春節新年聯賽 2023 *@
            <a class="Activity-box" href="NewYear2023">
                <img class="type-new" src="/images/Arena/new-icon.png" alt="">

                <div class="Activity-type" id="Activity-01">

                    <div class="type-BG" id="type-BG-01">
                        <img width="350" src="/images/Arena/type-BG-001.webp" alt="">
                    </div>

                    <div class="type-name" data-i18n="[html]Arena_data:Arena.type-01">CHINESE NEWYEAR LEAGUE</div>
                    <img class="type-icon" src="/images/Arena/type-icon-01.png" alt="">

                </div>
            </a>

            @* 預熱活動 *@
            <a class="Activity-box" href="WarmUpActivities#WarmUpActivities_Banner">
                <img class="type-new" src="/images/Arena/new-icon.png" alt="">

                <div class="Activity-type" id="Activity-02">
                    <div class="type-BG" id="type-BG-02">
                        <img width="350" src="/images/Arena/type-BG-002.webp" alt="">
                    </div>
                    <div class="type-name" data-i18n="[html]Arena_data:Arena.type-02">WARM-UP EVENT</div>
                    <img class="type-icon" src="/images/Arena/type-icon-02.png" alt="">
                </div>
            </a>

            @* 亞洲聯賽3 *@
            <a  class="Activity-box" href="ACLIndexS3">
                <img class="type-new" src="/images/Arena/new-icon.png" alt="">

                <div class="Activity-type" id="Activity-03">
                    <div class="type-BG" id="type-BG-03">
                        <img width="350" src="/images/Arena/type-BG-003.webp" alt="">
                    </div>
                    <div class="type-name" data-i18n="[html]Arena_data:Arena.type-03">ASIA CHAMPIONS LEAGUE S3</div>
                    <img class="type-icon" src="/images/Arena/logoS3.webp" alt="">
                </div>
            </a>


            @* 聖誕節慶賽 2021 *@
            <a  class="Activity-box" href="ChristmasIndex">
                @* <img class="type-new" src="/images/Arena/new-icon.png" alt=""> *@

                <div class="Activity-type" id="Activity-04">
                    <div class="type-BG" id="type-BG-04">
                        <img width="350" src="/images/Arena/Christmas-2021.png" alt="">
                    </div>
                    <div class="type-name" data-i18n="[html]Arena_data:Arena.type-04">CHRISTMAS LEAGUE</div>
                    <img class="type-icon" src="/images/Arena/Christmas-2021-Logo.png" alt="">
                </div>
            </a>


            @* 亞洲聯賽S1 *@
            <a  class="Activity-box" href="ACLIndex/index">
                @* <img class="type-new" src="/images/Arena/new-icon.png" alt=""> *@

                <div class="Activity-type" id="Activity-05">
                    <div class="type-BG" id="type-BG-05">
                        <img width="350" src="/images/Arena/ACLIndex-S1-BG.png" alt="">
                    </div>
                    <div class="type-name" data-i18n="[html]Arena_data:Arena.type-05">ASIA CHAMPIONS LEAGUE S1</div>
                    <img class="type-icon" src="/images/Arena/type-icon-03.png" alt="">
                </div>
            </a>

        </div>


    </div>

</div>


@code {

}