@page "/Arena"

@* @using SnakeAsianLeague.Pages.Arena.Components *@

@inject IJSRuntime JS

<head>
    <title>PonPonSnake｜Arena</title>
    <link href="/css/Arena/Arena.css" rel="stylesheet" />
</head>

<div class="Arena">

    <div class="Arena-SKY">
        <div class="Arena-BG"></div>
        @* <img class="" src="/images/Arena/sky-BG.png" /> *@ 
        <img class="Arena-stage" src="/images/Arena/stage.png" alt="">

        <div class="Arena-title">PONPONSNAKE ARENA</div>

        <div class="Activity-type-block">
            <div class="type-BG" id="type-BG-01"></div>
            <div class="type-name">FESTIVAL LEAGUE</div>
            <img class="type-icon" src="/images/Arena/type-icon-01.png" alt="">
        </div>


    </div>

</div>


@code {

}