@page "/Arena"

@* @using SnakeAsianLeague.Pages.Arena.Components *@

@inject IJSRuntime JS

<head>
    <title>PonPonSnake｜Arena</title>
    <link href="/css/Arena/Arena.css" rel="stylesheet" />
</head>

<div class="Arena">

    <div class="Arena-SKY">
        <div class="Arena-BG"></div>
        @* <img class="" src="/images/Arena/sky-BG.png" /> *@ 
        <img class="Arena-stage" src="/images/Arena/stage.webp" alt="">

        <div class="Arena-title" data-i18n="data:Arena.title">PONPONSNAKE ARENA</div>

        <div class="Activity-type-block">
            
            <a href="NewYear2023">
                <div class="Activity-type" id="Activity-01">
                    <div class="type-BG" id="type-BG-01">
                        <img width="350" src="/images/Arena/type-BG-001.webp" alt="">
                    </div>
                    <div class="type-name"  data-i18n="[html]data:Arena.type-01">FESTIVAL LEAGUE</div>
                    <img class="type-icon" src="/images/Arena/type-icon-01.png" alt="">
                </div>
             </a>

            <a href="WarmUpActivities#WarmUpActivities_Banner">
                <div class="Activity-type" id="Activity-02">
                    <div class="type-BG" id="type-BG-02">
                        <img width="350"src="/images/Arena/type-BG-002.webp" alt="">
                    </div>
                    <div class="type-name" data-i18n="[html]data:Arena.type-02">SPECIAL EVENT</div>
                    <img class="type-icon" src="/images/Arena/type-icon-02.png" alt="">
                </div>
            </a>

            <a href="ACLIndexS3">
                <div class="Activity-type" id="Activity-03">
                    <div class="type-BG" id="type-BG-03">
                        <img width="350" src="/images/Arena/type-BG-003.webp" alt="">
                    </div>
                    <div class="type-name" data-i18n="[html]data:Arena.type-03">ASIA CHAMPIONS LEAGUE</div>
                    <img class="type-icon" src="/images/Arena/type-icon-03.png" alt="">
                </div>
            </a>

        </div>


    </div>

</div>


@code {

}