<head>
    <link href="/css/SpecialEvent/WarmUpActivities/WarmUpActivities_EventInfo.css" rel="stylesheet" />
</head>

<div class="WarmUpActivities_EventInfo" id="WarmUpActivities_EventInfo">
    
        <div class="WarmUpActivities-Title">
            活動詳細
        </div>
    <div class="WarmUpActivities-CenterBlock">
        <div class="EventInfo_Date">
            <span>活動時間: 2022/11/14~2022/11/27  (為期 2 周)</span> 
        </div>
        
        <div class="EventInfo_introduce">
            <div class="EventInfo_card">
                <img id="EventInfo_card-BG" src="/images/SpecialEvent/WarmUpActivities/EventInfoCard-BG.png" />

                <img id="EventInfo_card-01" width="320" src="/images/SpecialEvent/WarmUpActivities/EventInfoCard-01.png" />
                <img id="EventInfo_card-02" width="356" src="/images/SpecialEvent/WarmUpActivities/EventInfoCard-02.png" />
            </div>
            <div class="EventInfo_text">
                <h1>準備好跟碰碰蛇一起暖暖身了嗎？</h1>
                <p>你想體驗GameFi卻不知道從何下手嗎？覺得遊戲能賺錢聽起來很虛無縹緲嗎？碰碰蛇是一款適合新手的GameFi，現在加入我們的活動，一起免費遊玩開心收益！只要打進前50名，滿滿SRC等你來收益，免費騎士等待你來暢玩！！</p>
            </div>
        </div>
    </div>


</div>