<head>
    <link href="/css/Event/WarmUpActivities/WarmUpActivities_Banner.css" rel="stylesheet" />
</head>

<div class="WarmUpActivities_Banner">
    <div class="Banner-BG">
        <img class="" src="/images/Event/WarmUpActivities/WarmUpActivities_Banner.png" />
    </div>

    
</div>