<head>
    <link href="/css/Event/WarmUpActivities/WarmUpActivities_Ranking.css" rel="stylesheet" />
</head>

<div class="WarmUpActivities_Ranking">
        <div class="WarmUpActivities-Title">
            排名
        </div>

</div>