<head>
    <link href="/css/SpecialEvent/WarmUpActivities/WarmUpActivities_Banner.css" rel="stylesheet" />
</head>

<div class="WarmUpActivities_Banner">
    <div class="Banner-BG">
        @* <img class="" src="/images/SpecialEvent/WarmUpActivities/WarmUpActivities_Banner.png" /> *@
        <img class="" src="/images/SpecialEvent/WarmUpActivities/WarmUp-Banner.png" />
    </div>

    <div class="WarmUp-BannerTitle">
        <img class="" src="/images/SpecialEvent/WarmUpActivities/WarmUp-BannerTitle.png" />
    </div>

    <div class="WarmUp-BannerNav">
        <ul class="">
            <li><a href="WarmUpActivities#WarmUpActivities_EventInfo">EVENT INFO</a></li>
            <li><a href="WarmUpActivities#WarmUpActivities_Rules">RULES</a></li>
            <li><a href="WarmUpActivities#WarmUpActivities_Reward">REWARD</a></li>
            <li><a href="WarmUpActivities#WarmUpActivities_Ranking">RANKING</a></li>
        </ul>
    </div>
</div>