<head>
    <link href="/css/Event/WarmUpActivities/WarmUpActivities_Reward.css" rel="stylesheet" />
</head>

<div class="WarmUpActivities_Reward" id="WarmUpActivities_Reward">
        <div class="WarmUpActivities-Title">
            獎勵
        </div>

        <div class="WarmUpActivities-CenterBlock">
            <div class="Reward-GoldTitle">
                @* <span>總獎金 65,000 SRC</span>  *@
                    <img class="" src="/images/Event/WarmUpActivities/Reward_GoldTitle.png" />
            </div>

            <div class="Reward-Title-01">打上排行榜，前50都有賞！</div>
            <div class="Reward-Title-02">活動期間將累積每局遊戲所得到的ERNC數量並且進行排名，最終的前50名將獲得額外SRC獎勵。</div>
        
        
            <div class="top50">
                <div class="top50-Title">前50獎勵表</div>
                <table class="top50-Table">

                    <tr>
                        <th class="top50-Table-Place" id="Table-Place">名次</th>
                        <th class="top50-Table-Reward" id="Table-Reward">獎勵</th>
                        <th class="top50-Table-Value" id="Table-Value">價值</th>
                        <th class="top50-Table-TotalValue">總價值</th>
                    </tr>

                    <tr>
                        <td class="top50-Table-Place">第 1 名</td>
                        <td>10000 SRC/人</td>
                        <td>300 U/人</td>
                        <td>300 U</td>

                    </tr>
                    <tr>
                        <td class="top50-Table-Place">第 2-5 名</td>
                        <td>5000 SRC/人</td>
                        <td>150 U/人</td>
                        <td>600 U</td>
                    </tr>
                    <tr>
                        <td class="top50-Table-Place">第 6-10 名</td>
                        <td>2000 SRC/人</td>
                        <td>60 U/人</td>
                        <td>300 U</td>
                    </tr>
                    <tr>
                        <td class="top50-Table-Place">第 11-20 名</td>
                        <td>1000 SRC/人</td>
                        <td>30 U/人</td>
                        <td>300 U</td>
                    </tr>
                    <tr>
                        <td class="top50-Table-Place">第 21-50 名</td>
                        <td>500 SRC/人</td>
                        <td>5 U/人</td>
                        <td>450 U</td>
                    </tr>

                </table>
            </div>
        
        </div>

</div>
