<head>
    <link href="/css/Event/WarmUpActivities/WarmUpActivities_EventInfo.css" rel="stylesheet" />
</head>

<div class="WarmUpActivities_EventInfo">
    

        <div class="WarmUpActivities_Title">
            <div class="">活動詳細</div> 
        </div>
    <div class="WarmUpActivities_CenterBlock">
        <div class="EventInfo_Date">活動時間: 2022/11/14~2022/11/27  (為期 2 周)</div>
        
    </div>


</div>