@inject IJSRuntime JS

<head>
    <link href="/css/SpecialEvent/WarmUpActivities/WarmUpActivities_Ranking.css" rel="stylesheet" />
</head>

<div class="WarmUpActivities_Ranking" id="WarmUpActivities_Ranking">
    <div class="WarmUpActivities-Title">
        排名
    </div>

    <div class="WarmUpActivities-CenterBlock">

        <div class="Ranking-Block">
            <div class="Ranking-Content">
                <div class="Ranking-Content-Title text-shadow-brown">當前50名</div>

                <div class="Ranking-List">

                    <div class="Ranking-Row">
                        <div class="Ranking-Number text-shadow-big">1</div>
                        <div class="Ranking-Data">
                            <div class="Player-Name">玩家名稱七個字</div>

                            <div class="Ranking-ERNC">
                                <div class="ERNC-Amount">ERNC: <span>999999</span></div>
                                <img class="Ranking-ERNC-icon" src="/images/SpecialEvent/WarmUpActivities/ERNC.png" />
                            </div>

                            
                        </div>
                    </div>

                    <div class="Ranking-Row">
                        <div class="Ranking-Number text-shadow-big">1</div>
                        <div class="Ranking-Data">
                            <div class="Player-Name">玩家名稱七個字</div>

                            <div class="Ranking-ERNC">
                                <div class="ERNC-Amount">ERNC: <span>999999</span></div>
                                <img class="Ranking-ERNC-icon" src="/images/SpecialEvent/WarmUpActivities/ERNC.png" />
                            </div>

                        </div>
                    </div>

                    <div class="Ranking-Row">
                        <div class="Ranking-Number text-shadow-big">1</div>
                        <div class="Ranking-Data">
                            <div class="Player-Name">玩家名稱七個字</div>

                            <div class="Ranking-ERNC">
                                <div class="ERNC-Amount">ERNC: <span>999999</span></div>
                                <img class="Ranking-ERNC-icon" src="/images/SpecialEvent/WarmUpActivities/ERNC.png" />
                            </div>

                        </div>
                    </div>

                    <div class="Ranking-Row">
                        <div class="Ranking-Number text-shadow-big">1</div>
                        <div class="Ranking-Data">
                            <div class="Player-Name">玩家名稱七個字</div>

                            <div class="Ranking-ERNC">
                                <div class="ERNC-Amount">ERNC: <span>999999</span></div>
                                <img class="Ranking-ERNC-icon" src="/images/SpecialEvent/WarmUpActivities/ERNC.png" />
                            </div>

                        </div>
                    </div>

                    <div class="Ranking-Row">
                        <div class="Ranking-Number text-shadow-big">1</div>
                        <div class="Ranking-Data">
                            <div class="Player-Name">玩家名稱七個字</div>

                            <div class="Ranking-ERNC">
                                <div class="ERNC-Amount">ERNC: <span>999999</span></div>
                                <img class="Ranking-ERNC-icon" src="/images/SpecialEvent/WarmUpActivities/ERNC.png" />
                            </div>

                        </div>
                    </div>

                    <div class="Ranking-Row">
                        <div class="Ranking-Number text-shadow-big">1</div>
                        <div class="Ranking-Data">
                            <div class="Player-Name">玩家名稱七個字</div>

                            <div class="Ranking-ERNC">
                                <div class="ERNC-Amount">ERNC: <span>999999</span></div>
                                <img class="Ranking-ERNC-icon" src="/images/SpecialEvent/WarmUpActivities/ERNC.png" />
                            </div>

                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>


@code {

    private IJSObjectReference? WarmUpActivitiesJS;
    protected override async Task OnAfterRenderAsync(bool firstRender)

    {

        if (firstRender)
        {

            WarmUpActivitiesJS = await JS.InvokeAsync<IJSObjectReference>("import", "./JavaScript/SpecialEvent/WarmUpActivities.js");
            await WarmUpActivitiesJS.InvokeVoidAsync("WarmUpActivitiesStep");

        }

    }
}