<head>
    <link href="/css/Event/WarmUpActivities/WarmUpActivities_Banner.css" rel="stylesheet" />
</head>

<div class="WarmUpActivities_Banner">
    <div class="Banner-BG">
        @* <img class="" src="/images/Event/WarmUpActivities/WarmUpActivities_Banner.png" /> *@
        <img class="" src="/images/Event/WarmUpActivities/WarmUp-Banner.png" />
    </div>

    <div class="WarmUp-BannerTitle">
        <img class="" src="/images/Event/WarmUpActivities/WarmUp-BannerTitle.png" />
    </div>

    <div class="WarmUp-BannerNav">
        <ul class="">
            <li><a href="">Event Info</a></li>
            <li><a href="">Rules</a></li>
            <li><a href="">Reward</a></li>
            <li><a href="">Ranking</a></li>
        </ul>
    </div>
</div>