@using SnakeAsianLeague.Pages.NFTindex.Components
@inject IJSRuntime JS

<head>
    <link href="/css/Event/WarmUpActivities/WarmUpActivities_Rules.css" rel="stylesheet" />
    <link href="/css/NFTindex/NFTindex_Register.css" rel="stylesheet" />
</head>


<div class="WarmUpActivities_Rules" id="WarmUpActivities_Rules">

    <div class="WarmUpActivities-Title">
        規則
    </div>

    <div class="WarmUpActivities-CenterBlock">

        <div class="step-Block">

            <div class="WarmUpActivities-Title-02">如何參加？四個步驟簡單好上手</div>

            <div class="step-ArrowAll">

                <div class="step-Arrow">
                    <img id="step-Arrow-01" src="/images/Event/WarmUpActivities/step.png" />
                    <span class="text-shadow-big">步驟一</span>
                </div>
                <div class="step-Arrow">
                    <img id="step-Arrow-02" src="/images/Event/WarmUpActivities/step.png" />
                    <span class="text-shadow-big">步驟二</span>
                </div>
                <div class="step-Arrow">
                    <img id="step-Arrow-03" src="/images/Event/WarmUpActivities/step.png" />
                    <span class="text-shadow-big">步驟三</span>
                </div>
                <div class="step-Arrow">
                    <img id="step-Arrow-04" src="/images/Event/WarmUpActivities/step.png" />
                    <span class="text-shadow-big">步驟四</span>
                </div>

            </div>

            <div class="step-window">

                <div class="step-windowTitle text-shadow-small">
                    步驟一：<br>
                    註冊PonPon Snake遊戲帳號，並且完成手機以及信箱驗證。
                </div>

                @* 步驟 1 *@
                <div class="step-Content" id="step-Content-01">

                    <div class="step-Content-Block">
                        @* 註冊按鈕 *@
                        <div class="register-Container">
                            <div class="NFTindex_Register_block">
                                <div class="NFTindex_Register" hidden="@false">
                                    <div class="Register-input-row">
                                        <input type="text" class="Register-input tippy-pop" id="CountryCode"
                                            name="CountryCode" placeholder="+886" data-content="CountryCode"
                                            @bind=@countryCodeStr>

                                        <input type="text" class="Register-input tippy-pop" id="PhoneNum"
                                            name="PhoneNum"
                                            data-i18n="[placeholder]Home_data:register.inputPhoneNumber;[data-content]Home_data:register.tippy"
                                            placeholder="Phone Number" data-content="Enter Your Phone Number"
                                            @bind=@phoneNumStr>
                                    </div>
                                    <NFTindex_Register CountryCode="@countryCodeStr" PhoneNum="@phoneNumStr" />
                                </div>
                            </div>
                        </div>
                        <img id="step-Content-Img-01" src="/images/Event/WarmUpActivities/step-Content-Img-01.png" />
                    </div>

                </div>


                @* 步驟 2 *@
                <div class="step-Content" id="step-Content-02">
                    <div class="step-Content-Block">
                        <img id="step-Content-Img-02" src="/images/Event/WarmUpActivities/step-Content-Img-02.png" />
                        <div class="step-Content-02-text">GameFi / Games<br>
                            NFT / P2E / ERNC<br>
                            PonPonSnke
                        </div>

                        <div class="step-button-block">
                            <a href="https://t.me/ponponsnake" target="_blank">
                                <button class="step-button" data-i18n="">Join Now</button>
                            </a>
                        </div>

                    </div>
                </div>

                @* 步驟 3 *@
                <div class="step-Content" id="step-Content-03">
                    <div class="step-Content-Block">
                        <img id="step-Content-Img-03" src="/images/Event/WarmUpActivities/step-Content-Img-03.png" />

                    </div>
                </div>

                @* 步驟 4 *@
                <div class="step-Content" id="step-Content-04">
                    <div class="step-Content-Block">
                        <img id="step-Content-Img-04" src="/images/Event/WarmUpActivities/step-Content-Img-04.png" />

                        <div class="step-button-block">
                            <a href="GettingStarted/download-and-play" target="_blank">
                                <button class="step-button" data-i18n="">Download</button>
                            </a>
                        </div>

                    </div>
                </div>


            </div>

        </div>

        <div class="discount-Block">

            <div class="WarmUpActivities-Title-02">參與活動好處多多送給你</div>

            <div class="discount-Step">

                <div class="Round-Step" id="Round-Step-01">
                    <div class="Round-Step-text">
                        <h1>優惠一</h1>
                        <p>完成Step1+Step2的玩家即可在公測期間免費試玩所有NFT角色。</p>
                    </div>
                </div>

                <div class="Round-Step" id="Round-Step-02">
                    <div class="Round-Step-text">
                        <h1>優惠二</h1>
                        <p>完成Step1+Step2+Step3的玩家可獲得官方的【創世公測大禮包】 (內含SRC V1 X 999 、道具名稱 X 999)。</p>
                        <p style="color: #b70b0b;">SRC V1將在活動結束回收</p>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>






@code {
    private string countryCodeStr = "";
    private string phoneNumStr = "";

    protected override async Task OnAfterRenderAsync(bool firstRender)

    {

        if (firstRender)

        {
            await JS.InvokeVoidAsync("installI18n");
        }

    }
}