

@using SnakeAsianLeague.Data.Services.Backstage
@using SnakeAsianLeague.Data.Entity.Backstage
@using SnakeAsianLeague.Pages.ACLIndex.S1.Components.Partner_Components

@inject IJSRuntime JS
@inject SponsorService SponsorService

<head>
    <link href="css/Partner.css" rel="stylesheet" />
    <title>PonPonSnake 碰碰蛇｜亞洲聯賽-賽事好康</title>
</head>

<div class="partner_bg"></div>

<div class="partner_block">
    <div class="partner_title">
        <p>賽事好康</p>
        <img class="partner_title_line" src="/images/Partner/partner_title_line.png" alt="">
        
    </div>


    <div class="partner_all">

        @if (BIGSponsors == null && SmallSponsors == null)
        {

        }
        else
        {
            <div class="partner_banner_all">

                @foreach (var view in BIGSponsors)
                {
                    <Partner_banner view=@view/>
                }


            </div>
            

            <div class="partner_poster_all">
                @*<div class="poster">
                    <a href="" target="_blank">
                        <img src="/images/Partner/test_banner_424x318.jpeg" alt="">
                    </a>
                </div>*@


                @if (SmallSponsors == null)
                {

                }
                else
                {
                    @foreach (var view in SmallSponsors)
                    {
                        <Partner_Poster view=@view/>
                    }
                }
            </div>
        }
    </div>
</div>



@code{

    List<Sponsor> BIGSponsors;
    List<Sponsor> SmallSponsors;

    protected override async Task OnInitializedAsync()
    {

        await LoadData();
        Console.WriteLine(DateTime.Now);
    }

    private async Task LoadData()
    {
        BIGSponsors = await SponsorService.GetSponsorsByType(1);
        SmallSponsors = await SponsorService.GetSponsorsByType(2);
    }
    protected override async Task OnAfterRenderAsync(bool firstRender)
        {
            if (firstRender)
            {
                await JS.InvokeVoidAsync("installI18n");
            }

        }
}
