@inject IJSRuntime JS
@using SnakeAsianLeague.Pages.ACLIndex.S1.Components.Description_Components
<head>
    <link href="css/Description.css" rel="stylesheet" />
    @* <link href="css/fullcalendar.css" rel="stylesheet" > *@
    <title>PonPonSnake 碰碰蛇｜亞洲聯賽-活動介紹</title>
</head>

<Description_Block1 />
<Description_Block2 />
<Description_Block3 />
<Description_Block4 />
<Description_Block5 />

@code {

    protected override async Task OnAfterRenderAsync(bool firstRender)

    {
        if(firstRender){
            await JS.InvokeVoidAsync("description.calendar");

            await JS.InvokeVoidAsync("description.scheduleRender");

            await JS.InvokeVoidAsync("description.awardsSlide");

            await JS.InvokeVoidAsync("description.mobileScheduleSwitch");
            await JS.InvokeVoidAsync("installI18n");
        }
    }

    private async Task QRcode_SlideClick()
    {
        await JS.InvokeVoidAsync("QRcode_Slide", "QRcode_Slide");
    }

  



}
