@inject IJSRuntime JS

<head>
    <link href="css/Description.css" rel="stylesheet" />
    @* <link href="css/fullcalendar.css" rel="stylesheet" > *@
    <title>PonPonSnake 碰碰蛇｜亞洲聯賽-活動介紹</title>
</head>

<div class="description_block" id="description_01">

    @* <div class="QRcode_fixed" @onclick="QRcode_SlideClick">
        <div class="QRcode_fixed_top">
            <button class="QRcode_fixed_button">
                <p>下載遊戲</p>
            </button>

            <img id="QRcode_arrow_down" src="/images/Prize/arrow_down.png" alt="">
        </div>
        <div class="QRcode_Slide">
            <a class="fixed_QRcode" href="https://play.google.com/store/apps/details?id=com.cqigames.snakeknight"
                    target="_blank">
                    <img src="./images/Description/Android_Download.png" alt=""></a>
                <a class="fixed_QRcode" href="https://apps.apple.com/us/app/%E7%A2%B0%E7%A2%B0%E8%9B%87-2/id1504212624"
                    target="_blank">
                    <img src="./images/Description/iOS_Download.png" alt=""></a>
                <a class="fixed_QRcode" href="https://ponponsnake.oss-cn-hangzhou.aliyuncs.com/PonPonSnake.apk"
                    target="_blank">
                    <img src="./images/Description/aliyun_Download.png" alt=""></a>
        </div>

    </div> *@

    <div class="introduction">

        <div class="introduction_text" data-aos-duration="1000" data-aos="fade-left">
            <p> 碰碰蛇亞洲聯賽即將開打，我們將聚集各地好手互相較勁，玩家可以透過進行多次個人與隊伍對戰，感受激烈的線上激戰，累積積分資格賽，並參與決賽，獲得高額獎勵，也可以透過決賽押注一同參與賽事氣氛。</p><br>
            <p>本次將採全新賽制系統與戰鬥系統，讓玩家可以盡情享受更刺激的舞台，並且爭取更多榮耀！</p>
        </div>
        <div class="introduction_box_all" data-aos-duration="1000" data-aos="fade-right">
            <div class="box">
                <img src="/images/Description/box1.png" alt="">
            </div>
            <div class="box">
                <img src="/images/Description/box2.png" alt="">
            </div>
            <div class="box">
                <img src="/images/Description/box3.png" alt="">
            </div>
        </div>
    </div>

    <div class="watchLive description_down">
        <div id="watchLive_button">
            <a href="description#description_02">
                <img src="/images/Index/watchLive_button.png" alt="">
                <span>查看詳情</span>
            </a>
        </div>
        @* <img id="downArrow" src="/images/Index/downArrow.png" alt=""> *@
        <svg class="arrows">
            <path class="a1" d="M0 0 L30 32 L60 0"></path>
            <path class="a2" d="M0 20 L30 52 L60 20"></path>
            <path class="a3" d="M0 40 L30 72 L60 40"></path>
        </svg>
    </div>
</div>

<div class="description_block" id="description_02">
    <div class="information">

        <div class="description_title_line">
            <div class="description_blockTitle"  data-aos="fade-left" data-aos-delay="300">
                <img src="/images/Index/title_bg.png" alt="" class="title_bg">
                <div class="title_BG">
                    <p>賽事<br>說明</p>
                </div>
            </div>
            
            <div id="PDF_download_button" hidden="@(true)">
                <a href="/PDF/Ponponsnake_Asia_Champoins_League_S1.pdf" target="_blank" download>
                    <img src="/images/Other/button_blue.png" alt="">
                    <span>賽事規章
                        <img id="download_icon" style="width: 30px;" src="/images/Other/download.png" alt="">
                    </span>
                </a>
            </div>
        </div>

        <div class="information_box_all">

            <div class="information_box" data-aos="zoom-in-down" data-aos-duration="800" data-aos-delay="300">
                <img src="/images/Other/info_01.png" alt="">

                <div class="box_hover">
                    <img src="/images/Other/info_01_hover.png" alt="">
                    <div class="box_hover_text">
                        <p>碰碰蛇首度開啟個人1對1競技模式，讓玩家能夠展現高超的戰鬥技巧。
                            <br><br>
                            快透過積分戰累積個人經驗，挑戰單打獨鬥的快感與刺激吧！
                        </p>
                    </div>
                </div>
            </div>

            <div class="information_box" data-aos="zoom-in-down" data-aos-duration="800" data-aos-delay="600">
                <img src="/images/Other/info_02.png" alt="">

                <div class="box_hover">
                    <img src="/images/Other/info_02_hover.png" alt="">
                    <div class="box_hover_text">
                        <p>隊伍競技將由5人所組成的隊伍，一同於競技場上發揮團隊合作與不同戰略技巧，挑戰1+1大於2的力量。
                            <br><br>
                            隊伍內將先於積分賽制獲得決賽資格，並於最終戰場由4人出征，爭奪最終榮耀。
                        </p>
                    </div>
                </div>

            </div>
            <div class="information_box" data-aos="zoom-in-down" data-aos-duration="800" data-aos-delay="900">
                <img src="/images/Other/info_03.png" alt="">

                <div class="box_hover">
                    <img src="/images/Other/info_03_hover.png" alt="">
                    <div class="box_hover_text">
                        <p>本次亞洲聯賽將於報名時贈送神秘角色騎士，玩家可以利用全新角色展開戰役。
                            <br><br>
                            並於決賽取得前三名將獲得豐厚的獎品獎金和遊戲幣，大獎鹿死誰手等你來挑戰。
                        </p>
                    </div>
                </div>

            </div>
        </div>

        <div class="watchLive description_down">
            <div id="watchLive_button">
                <a href="description#description_03">
                    <img src="/images/Index/watchLive_button.png" alt="">
                    <span>報名參加</span>
                </a>
            </div>
            @* <img id="downArrow" src="/images/Index/downArrow.png" alt=""> *@
            <svg class="arrows">
                <path class="a1" d="M0 0 L30 32 L60 0"></path>
                <path class="a2" d="M0 20 L30 52 L60 20"></path>
                <path class="a3" d="M0 40 L30 72 L60 40"></path>
            </svg>
        </div>
    </div>

</div>

<div class="description_block" id="description_03">
    <div class="SignUp">

        <div class="TitleTimeline">

            <div class="description_blockTitle" data-aos="fade-left" data-aos-delay="300">
                <img src="/images/Index/title_bg.png" alt="" class="title_bg">
                <div class="title_BG">
                    <p>報名<br>流程</p>
                </div>
            </div>


            <div class="timeline" data-aos="zoom-in-down" data-aos-duration="500" data-aos-delay="500">
                <div class="time">
                    <img src="/images/Description/SignUp_ICON_00.png" alt="">
                    <p>公益報名 2021.10.01 - 12.04</p>
                </div>
                <div class="time">
                    <img src="/images/Description/SignUp_ICON_01.png" alt="">
                    <p>全季報名 2021.08.30 - 10.01</p>
                </div>
                <div class="time">
                    <img src="/images/Description/SignUp_ICON_02.png" alt="">
                    <p>季中報名 2021.10.04 - 10.29</p>
                </div>
                <div class="time">
                    <img src="/images/Description/SignUp_ICON_03.png" alt="">
                    <p>星光報名 2021.11.01 - 12.10</p>
                </div>
            </div> 

        </div>


        <div class="signUp_detail" data-aos="zoom-in-down" data-aos-duration="800" data-aos-delay="800">

            <div class="download" id="download_QRcode">
                <div class="signUp_text">
                    <h3>下載碰碰蛇</h3>
                </div>
                <img id="icon_picture" src="./images/Description/icon_picture.png" alt="">

                <div class="QRcode_all">
                    <a class="QRcode" href="https://play.google.com/store/apps/details?id=com.cqigames.snakeknight"
                        target="_blank">
                        <img src="./images/Description/Android_Download.png" alt=""></a>
                    <a class="QRcode" href="https://apps.apple.com/us/app/%E7%A2%B0%E7%A2%B0%E8%9B%87-2/id1504212624"
                        target="_blank">
                        <img src="./images/Description/iOS_Download.png" alt=""></a>
                    <a class="QRcode" href="https://ponponsnake.oss-cn-hangzhou.aliyuncs.com/PonPonSnake.apk"
                        target="_blank">
                        <img src="./images/Description/aliyun_Download.png" alt=""></a>
                </div>
            </div>

            <img id="arrow_right" src="./images/Description/arrow_right.png" alt="">

            <div class="click_game">
                <h3>點擊「亞洲聯賽」</h3>
                <img id="" src="./images/Description/click_game.png" alt="">

            </div>

            <img id="arrow_right_2" src="./images/Description/arrow_right_2.png" alt="">
            <img id="arrow_right_rwd700" src="./images/Description/arrow_right.png" alt="">

            <div class="gamePrice">


                @* 報名費圓形 *@
                <div class="gamePriceRound">

                    <div class="roundTitle">
                        <img src="/images/Description/round_title.png" alt="">
                        <p>個人賽</p>
                    </div>

                    <div class="round">
                        <img src="/images/Description/round1.png" alt="" class="round_img">

                        <div class="priceAll">

                            <div class="price">
                                <img src="/images/Description/SignUp_ICON_01.png" alt="">
                                <p>全季&nbsp;6.99US</p>
                            </div>
                            <div class="price">
                                <img src="/images/Description/SignUp_ICON_02.png" alt="">
                                <p>季中&nbsp;4.99US</p>
                            </div>
                            <div class="price">
                                <img src="/images/Description/SignUp_ICON_03.png" alt="">
                                <p>星光&nbsp;2.99US</p>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="gamePriceRound">

                    <div class="roundTitle">
                        <img src="/images/Description/round_title.png" alt="">
                        <p>隊伍賽</p>
                    </div>

                    <div class="round">
                        <img src="/images/Description/round2.png" alt="" class="round_img">

                        <div class="priceAll">

                            <div class="price">
                                <img src="/images/Description/SignUp_ICON_01.png" alt="">
                                <p>全季&nbsp;27.99US</p>
                            </div>
                            <div class="price">
                                <img src="/images/Description/SignUp_ICON_02.png" alt="">
                                <p>季中&nbsp;19.99US</p>
                            </div>
                            <div class="price">
                                <img src="/images/Description/SignUp_ICON_03.png" alt="">
                                <p>星光&nbsp;11.99US</p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="watchLive description_down">
            <div id="watchLive_button">
                <a href="description#description_04">
                    <img src="/images/Index/watchLive_button.png" alt="">
                    <span>賽程瀏覽</span>
                </a>
            </div>
            @* <img id="downArrow" src="/images/Index/downArrow.png" alt=""> *@
            <svg class="arrows">
                <path class="a1" d="M0 0 L30 32 L60 0"></path>
                <path class="a2" d="M0 20 L30 52 L60 20"></path>
                <path class="a3" d="M0 40 L30 72 L60 40"></path>
            </svg>
        </div>
    </div>
</div>


<div class="description_block" id="description_05">

    <div class="schedule">

        <div class="description_blockTitle" data-aos="fade-left" data-aos-delay="300">
            <img src="/images/Index/title_bg.png" alt="" class="title_bg">
            <div class="title_BG">
                <p>賽程<br>規劃</p>
            </div>
        </div>

        <div class="schedule_calendar">

            @* 頁籤切換 *@
            <div class="schedule_button_all">
                <div class="schedule_button" id="personal_button" @onclick="@(()=>calendarTabClick(0))">
                    <p class="">個人</p>
                </div>

                <div class="schedule_button" id="team_button" @onclick="@(()=>calendarTabClick(1))">
                    <p class="">隊伍</p>
                </div>
            </div>

            @* 日曆 *@
            <div class="calendarBlock">

                <div class="schedule_p_all" id="schedule_personal">
                    <div class="schedule_p" id="schedule_p1">
                        <p>一般積分賽</p>
                    </div>
                    <div class="schedule_p" id="schedule_p2">
                        <p>日冠決賽</p>
                    </div>
                    <div class="schedule_p" id="schedule_p3">
                        <p>月冠決賽</p>
                    </div>
                    <div class="schedule_p" id="schedule_p4">
                        <p>季冠決賽</p>
                    </div>
                </div>

                <div class="schedule_p_all" id="schedule_team">
                    <div class="schedule_p" id="schedule_p5">
                        <p>一般積分賽</p>
                    </div>
                    <div class="schedule_p" id="schedule_p6">
                        <p>周冠決賽</p>
                    </div>
                    <div class="schedule_p" id="schedule_p7">
                        <p>月冠決賽</p>
                    </div>
                    <div class="schedule_p" id="schedule_p8">
                        <p>季冠決賽</p>
                    </div>
                </div>

                <div id='calendar'></div>

            </div>
        </div>
    </div>
</div>



<div class="description_block" id="description_04">

    <div class="prize_banner" data-aos="zoom-in-up" data-aos-duration="1000">
        @* <img src="/images/Prize/BANNER_bg.png" alt=""> *@

        <img id="banner_text" src="/images/Prize/BANNER_text.png" alt="">
        <div class="join_block">
            <div class="join_text">
                <p>等你來挑戰</p>

                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="41.949"
                    height="39.95" viewBox="0 0 41.949 39.95" style="margin-bottom: -4px;">
                    <defs>
                        <filter id="fastright" x="0" y="0" width="41.949" height="39.95" filterUnits="userSpaceOnUse">
                            <feOffset dy="3" input="SourceAlpha" />
                            <feGaussianBlur stdDeviation="3" result="blur" />
                            <feFlood flood-opacity="0.161" />
                            <feComposite operator="in" in2="blur" />
                            <feComposite in2="SourceGraphic" />
                        </filter>
                    </defs>
                    <g transform="matrix(1, 0, 0, 1, 0, 0)" filter="url(#fastright)">
                        <path id="fastright-2" data-name="fastright"
                            d="M10.642,10.01a1.262,1.262,0,0,1,.407.954,1.33,1.33,0,0,1-.407.975l-9.667,9.6a1.343,1.343,0,0,1-.986.407A1.343,1.343,0,0,1-1,21.543l-.579-.579a1.262,1.262,0,0,1-.407-.954,1.33,1.33,0,0,1,.407-.975l8.124-8.06-8.124-8.06a1.33,1.33,0,0,1-.407-.975A1.33,1.33,0,0,1-1.576.965L-1,.408A1.343,1.343,0,0,1-.011,0,1.343,1.343,0,0,1,.975.408Zm-1.3,10.953a1.262,1.262,0,0,1-.407-.954,1.33,1.33,0,0,1,.407-.975l8.124-8.06L9.341,2.915a1.33,1.33,0,0,1-.407-.975A1.33,1.33,0,0,1,9.341.964L9.92.407a1.372,1.372,0,0,1,1.951,0l9.689,9.6a1.262,1.262,0,0,1,.407.954,1.33,1.33,0,0,1-.407.975l-9.689,9.6a1.372,1.372,0,0,1-1.951,0Z"
                            transform="translate(10.98 6)" fill="#fff" />
                    </g>
                </svg>
            </div>


            <div id="prize_signUpEvent_button">
                <a href="description#download_QRcode">
                    <img src="/images/Index/signUpEvent_button.png" alt="">
                    <span>報名參加</span>
                </a>
            </div>
        </div>
    </div>


    <div class="description_blockTitle" data-aos="fade-left" data-aos-delay="300">
        <img src="/images/Index/title_bg.png" alt="" class="title_bg">
        <div class="title_BG">
            <p>賽程<br>規劃</p>
        </div>
    </div>

    <div class="schedule_list" data-aos="zoom-in-up" data-aos-duration="1000">
        <div class="schedule_row_bg">
            <div class="schedule_row">

                <div class="schedule_date">
                    <p id="date_top" >日期</p>
                </div>

                <div class="schedule_block">
                    <div class="schedule_card">
                        <img id="date_personal_icon" class="card_title_icon" src="/images/Description/personal_icon.png" alt="">
                    </div>
                    <div class="schedule_card">
                        <img id="date_team_icon" class="card_title_icon" src="/images/Description/team_icon.png" alt="">
                    </div>
                </div>
            </div>
        </div>

        @* <div class="schedule_row_bg">
            <div class="schedule_row">

                <div class="schedule_date">9<p> 月 </p>7<p> 日</p>
                </div>

                <div class="schedule_block">
                    <div class="schedule_card personal_card">
                        <div class="card_background">

                            <div class="schedule_card_title card_bg_01">白銀四強決賽 #D1</div>

                            <div class="qualifying_all">
                                <p>資格賽</p>
                                <div class="qualifying">9 / 6</div>
                            </div>

                            <div class="awards_all">

                                <div class="awards_line line_01">
                                    <div class="awards_line_title">
                                            <div class="awards_icon_text">
                                            <img class="awards_icon" src="/images/Description/crown01.png" alt="">
                                        <p class="awards_text">冠軍</p>
                                        </div>
                                        <div class="awards_text_all">
                                            <p class="awards_text_P">價值</p>
                                            <p class="awards_text_total">6,000</p>
                                            <p class="awards_text_P">現金</p>
                                        </div>
                                    </div>
                                    <div class="awards_line_detail">
                                        <div class="detail_line"></div>
                                        <div class="detail_line_all">
                                            <div class="detail_row">
                                                <p class="detail_p cash_title">現金<span class="detail_span cash">XXX</span>元</p>
                                                <p class="detail_p mycard_title">MyCard點數<span class="detail_span mycard_point">XXX</span>點</p>
                                            </div>
                                            <div class="detail_row">
                                                <p class="detail_p gift_title">神秘禮物<span class="detail_span gift_name">XXX</span></p>
                                                <p class="detail_p maicoin_title">XXX<span class="detail_span maicoin_point">XXX</span></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="awards_line line_02">
                                    <div class="awards_line_title">
                                        <div class="awards_icon_text">
                                            <img class="awards_icon" src="/images/Description/crown02.png" alt="">
                                            <p class="awards_text">亞軍</p>
                                        </div>
                                        <div class="awards_text_all">
                                            <p class="awards_text_P">價值</p>
                                            <p class="awards_text_total">3,000</p>
                                            <p class="awards_text_P">現金</p>
                                        </div>
                                    </div>
                                    <div class="awards_line_detail">
                                        <div class="detail_line"></div>
                                        <div class="detail_line_all">
                                            <div class="detail_row">
                                                <p class="detail_p cash_title">現金<span class="detail_span cash">XXX</span>元</p>
                                                <p class="detail_p mycard_title">MyCard點數<span class="detail_span mycard_point">XXX</span>點</p>
                                            </div>
                                            <div class="detail_row">
                                                <p class="detail_p gift_title">神秘禮物<span class="detail_span gift_name">XXX</span></p>
                                                <p class="detail_p maicoin_title">XXX<span class="detail_span maicoin_point">XXX</span></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="awards_line line_03">
                                    <div class="awards_line_title">
                                        <div class="awards_icon_text">
                                            <img class="awards_icon" src="/images/Description/crown03.png" alt="">
                                            <p class="awards_text">季軍</p>
                                        </div>
                                        <div class="awards_text_all">
                                            <p class="awards_text_P">價值</p>
                                            <p class="awards_text_total">1,000</p>
                                            <p class="awards_text_P">現金</p>
                                        </div>
                                    </div>
                                    <div class="awards_line_detail">
                                        <div class="detail_line"></div>
                                        <div class="detail_line_all">
                                            <div class="detail_row">
                                                <p class="detail_p cash_title">現金<span class="detail_span cash">XXX</span>元</p>
                                                <p class="detail_p mycard_title">MyCard點數<span class="detail_span mycard_point">XXX</span>點</p>
                                            </div>
                                            <div class="detail_row">
                                                <p class="detail_p gift_title">神秘禮物<span class="detail_span gift_name">XXX</span></p>
                                                <p class="detail_p maicoin_title">XXX<span class="detail_span maicoin_point">XXX</span></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="schedule_card team_card">
                    </div>
                </div>
            </div>
        </div>

        <div class="schedule_row_bg">
            <div class="schedule_row">

                <div class="schedule_date">9<p> 月 </p>12<p> 日</p>
                </div>

                <div class="schedule_block">
                    <div class="schedule_card personal_card">

                    </div>
                    <div class="schedule_card team_card">
                        <div class="card_background">

                            <div class="schedule_card_title card_bg_01">白銀四強決賽 #W1</div>

                            <div class="qualifying_all">
                                <p>資格賽</p>
                                <div class="qualifying">9 / 7</div>
                                <div class="qualifying">9 / 8</div>
                                <div class="qualifying">9 / 9</div>
                                <div class="qualifying">9 / 10</div>
                                <div class="qualifying">9 / 11</div>
                            </div>

                            <div class="awards_all">

                                <div class="awards_line line_01">
                                    <div class="awards_line_title">
                                        <img class="awards_icon" src="/images/Description/crown01.png" alt="">
                                        <p class="awards_text">冠軍</p>
                                        <div class="awards_text_all">
                                            <p class="awards_text_P">價值</p>
                                            <p class="awards_text_total">60,000</p>
                                            <p class="awards_text_P">現金</p>
                                        </div>
                                    </div>
                                    <div class="awards_line_detail">
                                        <div class="detail_line"></div>
                                        <div class="detail_line_all">
                                            <div class="detail_row">
                                                <p class="detail_p cash_title">現金<span class="detail_span cash">XXX</span>元</p>
                                                <p class="detail_p mycard_title">MyCard點數<span class="detail_span mycard_point">XXX</span>點</p>
                                            </div>
                                            <div class="detail_row">
                                                <p class="detail_p gift_title">神秘禮物<span class="detail_span gift_name">XXX</span></p>
                                                <p class="detail_p maicoin_title">XXX<span class="detail_span maicoin_point">XXX</span></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="awards_line line_02">
                                    <div class="awards_line_title">
                                        <img class="awards_icon" src="/images/Description/crown02.png" alt="">
                                        <p class="awards_text">亞軍</p>

                                        <div class="awards_text_all">
                                            <p class="awards_text_P">價值</p>
                                            <p class="awards_text_total">3,000</p>
                                            <p class="awards_text_P">現金</p>
                                        </div>
                                    </div>
                                    <div class="awards_line_detail">
                                        <div class="detail_line"></div>
                                        <div class="detail_line_all">
                                            <div class="detail_row">
                                                <p class="detail_p cash_title">現金<span class="detail_span cash">XXX</span>元</p>
                                                <p class="detail_p mycard_title">MyCard點數<span class="detail_span mycard_point">XXX</span>點</p>
                                            </div>
                                            <div class="detail_row">
                                                <p class="detail_p gift_title">神秘禮物<span class="detail_span gift_name">XXX</span></p>
                                                <p class="detail_p maicoin_title">XXX<span class="detail_span maicoin_point">XXX</span></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="awards_line line_03">
                                    <div class="awards_line_title">
                                        <img class="awards_icon" src="/images/Description/crown03.png" alt="">
                                        <p class="awards_text">季軍</p>

                                        <div class="awards_text_all">
                                            <p class="awards_text_P">價值</p>
                                            <p class="awards_text_total">1,000</p>
                                            <p class="awards_text_P">現金</p>
                                        </div>
                                    </div>
                                    <div class="awards_line_detail">
                                        <div class="detail_line"></div>
                                        <div class="detail_line_all">
                                            <div class="detail_row">
                                                <p class="detail_p cash_title">現金<span class="detail_span cash">XXX</span>元</p>
                                                <p class="detail_p mycard_title">MyCard點數<span class="detail_span mycard_point">XXX</span>點</p>
                                            </div>
                                            <div class="detail_row">
                                                <p class="detail_p gift_title">神秘禮物<span class="detail_span gift_name">XXX</span></p>
                                                <p class="detail_p maicoin_title">XXX<span class="detail_span maicoin_point">XXX</span></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="schedule_row_bg">
            <div class="schedule_row">

                <div class="schedule_date">9<p> 月 </p>25<p> 日</p>
                </div>

                <div class="schedule_block">
                    <div class="schedule_card personal_card">
                        <div class="card_background">
                            <div class="schedule_card_title card_bg_02">鑽石四強決賽 #M1</div>

                            <div class="qualifying_all">
                                <p>資格賽</p>
                                <div class="qualifying">9 / 24</div>
                            </div>

                            <div class="awards_all">

                                <div class="awards_line line_01">
                                    <div class="awards_line_title">
                                        <img class="awards_icon" src="/images/Description/crown01.png" alt="">
                                        <p class="awards_text">冠軍</p>
                                        <div class="awards_text_all">
                                            <p class="awards_text_P">價值</p>
                                            <p class="awards_text_total">60,000</p>
                                            <p class="awards_text_P">現金</p>
                                        </div>
                                    </div>
                                    <div class="awards_line_detail">
                                        <div class="detail_line"></div>
                                        <div class="detail_line_all">
                                            <div class="detail_row">
                                                <p class="detail_p cash_title">現金<span class="detail_span cash">XXX</span>元</p>
                                                <p class="detail_p mycard_title">MyCard點數<span class="detail_span mycard_point">XXX</span>點</p>
                                            </div>
                                            <div class="detail_row">
                                                <p class="detail_p gift_title">神秘禮物<span class="detail_span gift_name">XXX</span></p>
                                                <p class="detail_p maicoin_title">XXX<span class="detail_span maicoin_point">XXX</span></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="awards_line line_02">
                                    <div class="awards_line_title">
                                        <img class="awards_icon" src="/images/Description/crown02.png" alt="">
                                        <p class="awards_text">亞軍</p>

                                        <div class="awards_text_all">
                                            <p class="awards_text_P">價值</p>
                                            <p class="awards_text_total">3,000</p>
                                            <p class="awards_text_P">現金</p>
                                        </div>
                                    </div>
                                    <div class="awards_line_detail">
                                        <div class="detail_line"></div>
                                        <div class="detail_line_all">
                                            <div class="detail_row">
                                                <p class="detail_p cash_title">現金<span class="detail_span cash">XXX</span>元</p>
                                                <p class="detail_p mycard_title">MyCard點數<span class="detail_span mycard_point">XXX</span>點</p>
                                            </div>
                                            <div class="detail_row">
                                                <p class="detail_p gift_title">神秘禮物<span class="detail_span gift_name">XXX</span></p>
                                                <p class="detail_p maicoin_title">XXX<span class="detail_span maicoin_point">XXX</span></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="awards_line line_03">
                                    <div class="awards_line_title">
                                        <img class="awards_icon" src="/images/Description/crown03.png" alt="">
                                        <p class="awards_text">季軍</p>

                                        <div class="awards_text_all">
                                            <p class="awards_text_P">價值</p>
                                            <p class="awards_text_total">1,000</p>
                                            <p class="awards_text_P">現金</p>
                                        </div>
                                    </div>
                                    <div class="awards_line_detail">
                                        <div class="detail_line"></div>
                                        <div class="detail_line_all">
                                            <div class="detail_row">
                                                <p class="detail_p cash_title">現金<span class="detail_span cash">XXX</span>元</p>
                                                <p class="detail_p mycard_title">MyCard點數<span class="detail_span mycard_point">XXX</span>點</p>
                                            </div>
                                            <div class="detail_row">
                                                <p class="detail_p gift_title">神秘禮物<span class="detail_span gift_name">XXX</span></p>
                                                <p class="detail_p maicoin_title">XXX<span class="detail_span maicoin_point">XXX</span></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="schedule_card team_card">
                    </div>
                </div>
            </div>
        </div>

        <div class="schedule_row_bg">
            <div class="schedule_row">

                <div class="schedule_date">9<p> 月 </p>28<p> 日</p>
                </div>

                <div class="schedule_block">
                    <div class="schedule_card personal_card">
                        <div class="card_background free">
                            <div class="schedule_card_title card_bg_01">公益四強決賽 #F1</div>

                            <div class="qualifying_all">
                                <p>資格賽</p>
                                <div class="qualifying">9 / 27</div>
                            </div>

                            <div class="awards_all">

                                <div class="awards_line line_01">
                                    <div class="awards_line_title">
                                        <img class="awards_icon" src="/images/Description/crown01.png" alt="">
                                        <p class="awards_text">冠軍</p>
                                        <div class="awards_text_all">
                                            <p class="awards_text_P">價值</p>
                                            <p class="awards_text_total">60,000</p>
                                            <p class="awards_text_P">現金</p>
                                        </div>
                                    </div>
                                    <div class="awards_line_detail">
                                        <div class="detail_line"></div>
                                        <div class="detail_line_all">
                                            <div class="detail_row">
                                                <p class="detail_p cash_title">現金<span class="detail_span cash">XXX</span>元</p>
                                                <p class="detail_p mycard_title">MyCard點數<span class="detail_span mycard_point">XXX</span>點</p>
                                            </div>
                                            <div class="detail_row">
                                                <p class="detail_p gift_title">神秘禮物<span class="detail_span gift_name">XXX</span></p>
                                                <p class="detail_p maicoin_title">XXX<span class="detail_span maicoin_point">XXX</span></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="awards_line line_02">
                                    <div class="awards_line_title">
                                        <img class="awards_icon" src="/images/Description/crown02.png" alt="">
                                        <p class="awards_text">亞軍</p>

                                        <div class="awards_text_all">
                                            <p class="awards_text_P">價值</p>
                                            <p class="awards_text_total">3,000</p>
                                            <p class="awards_text_P">現金</p>
                                        </div>
                                    </div>
                                    <div class="awards_line_detail">
                                        <div class="detail_line"></div>
                                        <div class="detail_line_all">
                                            <div class="detail_row">
                                                <p class="detail_p cash_title">現金<span class="detail_span cash">XXX</span>元</p>
                                                <p class="detail_p mycard_title">MyCard點數<span class="detail_span mycard_point">XXX</span>點</p>
                                            </div>
                                            <div class="detail_row">
                                                <p class="detail_p gift_title">神秘禮物<span class="detail_span gift_name">XXX</span></p>
                                                <p class="detail_p maicoin_title">XXX<span class="detail_span maicoin_point">XXX</span></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="awards_line line_03">
                                    <div class="awards_line_title">
                                        <img class="awards_icon" src="/images/Description/crown03.png" alt="">
                                        <p class="awards_text">季軍</p>

                                        <div class="awards_text_all">
                                            <p class="awards_text_P">價值</p>
                                            <p class="awards_text_total">1,000</p>
                                            <p class="awards_text_P">現金</p>
                                        </div>
                                    </div>
                                    <div class="awards_line_detail">
                                        <div class="detail_line"></div>
                                        <div class="detail_line_all">
                                            <div class="detail_row">
                                                <p class="detail_p cash_title">現金<span class="detail_span cash">XXX</span>元</p>
                                                <p class="detail_p mycard_title">MyCard點數<span class="detail_span mycard_point">XXX</span>點</p>
                                            </div>
                                            <div class="detail_row">
                                                <p class="detail_p gift_title">神秘禮物<span class="detail_span gift_name">XXX</span></p>
                                                <p class="detail_p maicoin_title">XXX<span class="detail_span maicoin_point">XXX</span></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="schedule_card team_card">
                    </div>
                </div>
            </div>
        </div>

        <div class="schedule_row_bg">
            <div class="schedule_row">

                <div class="schedule_date">12<p> 月 </p>4<p> 日</p>
                </div>

                <div class="schedule_block">
                    <div class="schedule_card personal_card">
                        <div class="card_background">
                            <div class="schedule_card_title card_bg_03">大師四強決賽 #S1</div>

                            <div class="qualifying_all">
                                <p>資格賽</p>
                                <div class="qualifying">12 / 2</div>
                                <div class="qualifying">12 / 3</div>
                            </div>

                            <div class="awards_all">

                                <div class="awards_line line_01">
                                    <div class="awards_line_title">
                                        <img class="awards_icon" src="/images/Description/crown01.png" alt="">
                                        <p class="awards_text">冠軍</p>
                                        <div class="awards_text_all">
                                            <p class="awards_text_P">價值</p>
                                            <p class="awards_text_total">60,000</p>
                                            <p class="awards_text_P">現金</p>
                                        </div>
                                    </div>
                                    <div class="awards_line_detail">
                                        <div class="detail_line"></div>
                                        <div class="detail_line_all">
                                            <div class="detail_row">
                                                <p class="detail_p cash_title">現金<span class="detail_span cash">XXX</span>元</p>
                                                <p class="detail_p mycard_title">MyCard點數<span class="detail_span mycard_point">XXX</span>點</p>
                                            </div>
                                            <div class="detail_row">
                                                <p class="detail_p gift_title">神秘禮物<span class="detail_span gift_name">XXX</span></p>
                                                <p class="detail_p maicoin_title">XXX<span class="detail_span maicoin_point">XXX</span></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="awards_line line_02">
                                    <div class="awards_line_title">
                                        <img class="awards_icon" src="/images/Description/crown02.png" alt="">
                                        <p class="awards_text">亞軍</p>

                                        <div class="awards_text_all">
                                            <p class="awards_text_P">價值</p>
                                            <p class="awards_text_total">3,000</p>
                                            <p class="awards_text_P">現金</p>
                                        </div>
                                    </div>
                                    <div class="awards_line_detail">
                                        <div class="detail_line"></div>
                                        <div class="detail_line_all">
                                            <div class="detail_row">
                                                <p class="detail_p cash_title">現金<span class="detail_span cash">XXX</span>元</p>
                                                <p class="detail_p mycard_title">MyCard點數<span class="detail_span mycard_point">XXX</span>點</p>
                                            </div>
                                            <div class="detail_row">
                                                <p class="detail_p gift_title">神秘禮物<span class="detail_span gift_name">XXX</span></p>
                                                <p class="detail_p maicoin_title">XXX<span class="detail_span maicoin_point">XXX</span></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="awards_line line_03">
                                    <div class="awards_line_title">
                                        <img class="awards_icon" src="/images/Description/crown03.png" alt="">
                                        <p class="awards_text">季軍</p>

                                        <div class="awards_text_all">
                                            <p class="awards_text_P">價值</p>
                                            <p class="awards_text_total">1,000</p>
                                            <p class="awards_text_P">現金</p>
                                        </div>
                                    </div>
                                    <div class="awards_line_detail">
                                        <div class="detail_line"></div>
                                        <div class="detail_line_all">
                                            <div class="detail_row">
                                                <p class="detail_p cash_title">現金<span class="detail_span cash">XXX</span>元</p>
                                                <p class="detail_p mycard_title">MyCard點數<span class="detail_span mycard_point">XXX</span>點</p>
                                            </div>
                                            <div class="detail_row">
                                                <p class="detail_p gift_title">神秘禮物<span class="detail_span gift_name">XXX</span></p>
                                                <p class="detail_p maicoin_title">XXX<span class="detail_span maicoin_point">XXX</span></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="schedule_card team_card">
                    </div>
                </div>
            </div>
        </div> *@




    </div>
</div>



@code {

    protected override async Task OnAfterRenderAsync(bool firstRender)

    {
        if(firstRender){
            await JS.InvokeVoidAsync("description.calendar");

            await JS.InvokeVoidAsync("description.scheduleRender");

            await JS.InvokeVoidAsync("description.awardsSlide");

            await JS.InvokeVoidAsync("description.mobileScheduleSwitch");
            await JS.InvokeVoidAsync("installI18n");
        }
    }

    private async Task QRcode_SlideClick()
    {
        await JS.InvokeVoidAsync("QRcode_Slide", "QRcode_Slide");
    }

    private async Task calendarTabClick(int index)

    {

        await JS.InvokeVoidAsync("description.calendarTab", index);

    }



}
