@page "/Cooperation"

@using SnakeAsianLeague.Pages.Cooperation.Components

@inject IJSRuntime JS

<head>
    <title>PonPonSnake｜Cooperation</title>
    <link href="/css/Cooperation/Cooperation.css" rel="stylesheet" />
</head>