@page "/Cooperation"
@using SnakeAsianLeague.Pages.Cooperation.Components
<head>    
    <link href="/css/Cooperation/Cooperation.css" rel="stylesheet" />
</head>

<div class="Cooperation">
    <Cooperation_WhyChoosePPS></Cooperation_WhyChoosePPS>

</div>
