@page "/Cooperation"

@using SnakeAsianLeague.Pages.Cooperation.Components

@inject IJSRuntime JS

<head>
    <title>PonPonSnake｜Cooperation</title>
    <link href="/css/Cooperation/Cooperation.css" rel="stylesheet" />
</head>

<div class="Cooperation">
    <Cooperation_WhyChoosePPS></Cooperation_WhyChoosePPS>
    <Cooperation_case></Cooperation_case>
    <Cooperation_connect></Cooperation_connect>
</div>


@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)

    {
        if (firstRender)
        {
            await JS.InvokeVoidAsync("installI18n");
        }
    }
}