 <section class="products-section" id="products-Attributes">
        <div class="products-block">
            <div class="products-block-title" >Log</div>
            <div class="products-block-02" id="">
               <div class="products-Log-ButtonToggle-Zone">
                   <button>承租人</button>
                   <button>出戰時間</button>
                   <button>幣種</button>
                   <button>金幣</button>
                   <button>領取紀錄</button>
               </div>

               <div class="products-Log-Text-Zone">
                   <p>此蛇騎士租借紀錄的LOG</p>
                   <p>此蛇騎士租借紀錄的LOG</p>
                   <p>此蛇騎士租借紀錄的LOG</p>
                   <p>此蛇騎士租借紀錄的LOG</p>
                   <p>此蛇騎士租借紀錄的LOG</p>
                   <p>此蛇騎士租借紀錄的LOG</p>
                   <p>此蛇騎士租借紀錄的LOG</p>
                   <p>此蛇騎士租借紀錄的LOG</p>
                   <p>此蛇騎士租借紀錄的LOG</p>
                   <p>此蛇騎士租借紀錄的LOG</p>
               </div>
            </div>
        </div>
    </section>
@code {

}
