
@using SnakeAsianLeague.Data.Entity
@using SnakeAsianLeague.Data.Services
@using SnakeAsianLeague.Data.Services.Products
@inject ProductsService ProductsService;
@inject AppState AppState

@if (Ridder.Income != null)
{
    <section class="products-section" id="products-Income">
        <div class="products-block">
            <div class="products-block-title" data-i18n="Inventory_data:NFTDetails.Income">Income</div>
            <div class="products-block-02"  id="products-block-02-Income">
                <div class="products-block-title-02" data-i18n="Inventory_data:NFTDetails.TotalIncome">Total Income</div>
                <div class="products-block-price" id="">

                    <div class="products-block-price-currency">
                        <p class="products-currency-title">SRC</p>
                        <img class="products-currency-icon products-currency-SRC" id="" src="/images/Products/SRC.webp"
                            alt="">
                    </div>
                    <div class="products-TopBid-price">@Ridder.Income.totalRevenue</div>
                </div>
                @*<div class="products-TopBid-price-higher">Higher than 70%(後端串) PPSR</div>*@
                @* 該NFT出租累積所有金額，首拍時 直接顯示 on debut (未有收入)
                    與所有NFT相比其收入的排名百分比全部NFT為100隻，其收入為前20名顯示 Higher than 80% PPRS若是百分比低於50%則不顯示*@
        
                <div class="products-block-title-02" style="margin-top: 20px;" data-i18n="Inventory_data:NFTDetails.RiderFee">Rider’s Appearance Fee</div>
                <div class="products-block-price" id="products-AppearanceFee">

                    <div class="products-block-price-currency">
                        <p class="products-currency-title">SRC</p>
                        <img class="products-currency-icon products-currency-SRC" id="" src="/images/Products/SRC.webp"
                            alt="">
                    </div>
                    <div class="products-TopBid-price Owned-edit " id="AppearanceFee-edit"> @*Owned-edit*@
                        <div class="products-TopBid-price-value">@Ridder.Income.nowRent</div>
                        <img class="edit-icon" src="/images/Products/edit_icon.png" alt="">
                    </div>                
                </div>
        

               
            </div>

        

        </div>



    </section>

    <ProductsPopup  NowRent =@Ridder.Income.nowRent TokenID =@TokenID />
}

@code{


    [Parameter]
    public decimal NowRent { get; set; }

    [Parameter]
    public string UserId { get; set; }


    [Parameter]
    public string TokenID { get; set; }

     [Parameter]
    public RiderIntroduce Ridder { get; set; }
    protected override async Task OnInitializedAsync()
    {
        await Refresh();
    }

    private async Task Refresh()
    {     
        Ridder =await ProductsService.Get_RiderIntroduce();
        StateHasChanged();
    }
}