@using SnakeAsianLeague.Data.Services.BlockChain
@using SnakeAsianLeague.Data.Services.Products

@inject BlockChainProcessorSever BlockChainSever
@inject ProductsService ProductsService;


<section  class="products-section" id="products-topBid">
    @*<button class="BuyOnOpensea"><a href=@OpenSeaURL target="opensea" data-i18n="Inventory_data:sortOptions.BuyonOpensea">Buy on Opensea</a ></button>
    <div class="products-block"  hidden="@(true)">
        <div class="products-block-title">Top Bid</div>
        <div class="products-block-price" id="products-block-price-TopBid">
            <div class="products-block-price-currency">
                <!--後端控制部份情況為ETH+紫色icon，詳細請洽企劃-->
                  
                <p class="products-currency-title">WETH</p>
                <img class="products-currency-icon" src="/images/Products/Polygon-eth-02.webp" alt="">
            </div>
            <div class="products-TopBid-price">123,456,789</div>
            <div class="products-TopBid-USD">123,456,789 USD</div>
        </div>
        <div class="products-countdownTime">
            <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M10.4587 0.083374C8.39844 0.083374 6.38449 0.694301 4.67147 1.8389C2.95846 2.9835 1.62333 4.61036 0.834918 6.51375C0.0465056 8.41715 -0.159779 10.5116 0.24215 12.5322C0.64408 14.5529 1.63617 16.4089 3.09297 17.8657C4.54977 19.3225 6.40584 20.3146 8.42647 20.7166C10.4471 21.1185 12.5416 20.9122 14.445 20.1238C16.3483 19.3354 17.9752 18.0002 19.1198 16.2872C20.2644 14.5742 20.8753 12.5603 20.8753 10.5C20.8753 9.1321 20.6059 7.77756 20.0824 6.51375C19.5589 5.24995 18.7916 4.10162 17.8244 3.13435C16.8571 2.16707 15.7088 1.39978 14.445 0.876296C13.1811 0.352809 11.8266 0.083374 10.4587 0.083374ZM10.4587 18.8334C8.81049 18.8334 7.19932 18.3446 5.82891 17.429C4.4585 16.5133 3.3904 15.2118 2.75967 13.6891C2.12894 12.1664 1.96391 10.4908 2.28545 8.87429C2.607 7.25778 3.40067 5.77292 4.56611 4.60748C5.73154 3.44205 7.2164 2.64837 8.83291 2.32683C10.4494 2.00529 12.125 2.17031 13.6477 2.80104C15.1704 3.43177 16.4719 4.49988 17.3876 5.87029C18.3033 7.2407 18.792 8.85186 18.792 10.5C18.792 12.7102 17.914 14.8298 16.3512 16.3926C14.7884 17.9554 12.6688 18.8334 10.4587 18.8334ZM13.6878 11.1563L11.5003 9.89587V5.29171C11.5003 5.01544 11.3906 4.75049 11.1952 4.55514C10.9999 4.35979 10.7349 4.25004 10.4587 4.25004C10.1824 4.25004 9.91745 4.35979 9.7221 4.55514C9.52674 4.75049 9.417 5.01544 9.417 5.29171V10.5C9.417 10.5 9.417 10.5834 9.417 10.625C9.42317 10.6968 9.44075 10.7671 9.46908 10.8334C9.49053 10.8952 9.51847 10.9545 9.55241 11.0105C9.58092 11.0697 9.61585 11.1256 9.65658 11.1771L9.82325 11.3125L9.917 11.4063L12.6253 12.9688C12.7841 13.0588 12.9637 13.1055 13.1462 13.1042C13.3768 13.1058 13.6015 13.0308 13.7849 12.891C13.9683 12.7512 14.1002 12.5545 14.1598 12.3316C14.2193 12.1088 14.2033 11.8725 14.1141 11.6598C14.0249 11.4471 13.8677 11.27 13.667 11.1563H13.6878Z" fill="white"/>
            </svg>

            <p>23Days 12:00:00</p>
        </div>
    </div>*@
    <div class="getIncome-container">
        <div class="getIncome-zone">
@*             <p class="getIncome-zone-title ">Total Income:</p>
             <div> 
                  <p class="getIncome-zone-title"><span> 0.1</span><span> SRC</span></p>
                  <p class="getIncome-zone-subtitle">≈<span>這裡放估算SRC比值</span><span> USD</span></p>
                  <p class="getIncome-zone-title"><span>這裡放Gold數量</span><span> Gold</span></p>
                  <p class="getIncome-zone-subtitle">≈<span>這裡放Gold比值</span><span> USD</span></p>
             </div>*@
        </div>
   
        <button class="BuyOnOpensea">Collect</button>
    </div>
</section>



@code{
    /// <summary>
    /// OpenSeaURL NFT資產 官方網址
    /// </summary>
    private string OpenSeaURL;

    [Parameter]
    public string TokenID { get; set; }
    

    protected override async Task OnInitializedAsync()
    {
        
        await Refresh();
    }

    private async Task Refresh()
    {       
        var contractAddress_PPSR =  BlockChainSever.BlockChainInfoDTO.contractAddress_PPSR;
        OpenSeaURL =await ProductsService.Get_OpenSeaURL(TokenID , contractAddress_PPSR);
        StateHasChanged();
    }
}