
/*..stepText...*/

.stepText-Container {
    width: 1000px;
    margin: 0 auto;
    /* height: 90px; */
    display: flex;
    /* justify-content: center; */
    justify-content: space-between;
    /* align-items: center; */
    align-items: flex-start;
    letter-spacing: 0.8px;
}

.stepText {
    width: 160px;
    /* height: 100%; */
    text-align: center;
    color: #1c5968;
    padding-top: 16px;
    line-height:18px;
    font-size:14px;
    font-weight: bold;
}


.stepText:not(:last-child) {
    /* margin-right: 55px; */
}
@media all and (max-width: 1024px) {

    .stepText-Container {
        width: 656px;  
        height: 57px;
    }
    .stepText {
        width: 165px;
        font-size: 12px;
        line-height: 15px;
    }
    .stepText:not(:last-child) {
        margin-right: 55px;
    }
}

@media all and (max-width: 768px) {

    .stepText-Container {
        display:none;
    }


}
