<head>
    <link href="/css/ERNC/ERNC_Card.css" rel="stylesheet" />
    <link href="/css/ERNC/ERNC.css" rel="stylesheet" />
</head>


<div class="ERNC-Card">
    <div class="ERNC-Card-Block">
        <div class="ERNC-Block-Info">
            <div class="ERNC-Block-InfoTitle">
                <span data-i18n="ERNC_data:card.infoTitle">ERNC Origin</span>
            </div>
            <div class="ERNC-Block-InfoText" data-i18n="ERNC_data:card.infoText">
                The Itza people believe that the ERNC is a relic from an ancient god. Even
                though they don't understand how ERNC works, if they discover one,
                the seignior will exchange it for lots of rewards.</div>
        </div>
        <div class="ERNC-Card-All">

            <div class="Card-BG">
                <div class="Card-Inner">

                    <div class="IconBlock">
                        <img class="IconBlock-BG" src="/images/ERNC/ERNC_BannerCard/IconBlock-diamond-BG.png" alt="">

                        <div class="IconBlock-Img">
                            <img src="/images/ERNC/ERNC_BannerCard/card-icon-01.png" alt="">
                        </div>
                    </div>

                    <div class="Card-Inner-Text">
                        <div class="IconBlock-Text" data-i18n="[html]ERNC_data:card.cardTitle-01">Stake</div>

                        <span data-i18n="ERNC_data:card.cardText-01">Users can seal their currency to participate in
                            ERNC.They may also enhance their own governance
                            and share the game's profits.
                        </span>

                    </div>
                </div>
            </div>

            <div class="Card-flex">
                <div class="Card-BG">
                    <div class="Card-Inner">

                        <div class="IconBlock">
                            <img class="IconBlock-BG" src="/images/ERNC/ERNC_BannerCard/IconBlock-diamond-BG.png"
                                alt="">

                            <div class="IconBlock-Img">
                                <img src="/images/ERNC/ERNC_BannerCard/card-icon-02.png" alt="">
                            </div>
                        </div>

                        <div class="Card-Inner-Text">
                            <div class="IconBlock-Text" data-i18n="[html]ERNC_data:card.cardTitle-02">Payment</div>

                            <span data-i18n="ERNC_data:card.cardText-02">
                                ERNC would be used to pay for high-level productions in the game, as well as to trade
                                NFTs
                                on the auction market or to swap to other crypto currencies.
                            </span>
                        </div>
                    </div>
                </div>
                <div class="Card-BG">
                    <div class="Card-Inner">

                        <div class="IconBlock">
                            <img class="IconBlock-BG" src="/images/ERNC/ERNC_BannerCard/IconBlock-diamond-BG.png"
                                alt="">

                            <div class="IconBlock-Img">
                                <img src="/images/ERNC/ERNC_BannerCard/card-icon-03.png" alt="">
                            </div>
                        </div>

                        <div class="Card-Inner-Text">
                            <div class="IconBlock-Text" data-i18n="[html]ERNC_data:card.cardTitle-03">Governance</div>
                            <span data-i18n="ERNC_data:card.cardText-03">
                                85% of earnings will go into the decentralized treasury. Whoever stakes enough
                                ERNC will gain governance authority, allowing them to vote on a reward
                                distribution and resolutions.
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>