<head>
    <link href="/css/ERNC/ERNC_Banner.css" rel="stylesheet" />
    <link href="/css/ERNC/ERNC.css" rel="stylesheet" />
</head>

<div class="ERNCBanner">

    @* 靜態 ERNC Banner *@
    <div class="ERNCBanner-BG">
        <img class="" src="/images/ERNC/ERNC_BannerCard/ERNC_Banner.png" alt="">
    </div>

    @* 動畫 ERNC Banner *@
    <div class="ERNCBanner-BG-animation">
        @* 純背景 *@
        <div class="ERNC-banner-BG-div">
            <img class="ERNC-banner-BG" id="ERNC-banner-01" src="/images/ERNC/ERNC_BannerCard/animation/ERNC-banner-01.webp"
            alt="">
        </div>

        @* ERNC 透明背景 *@
        <img class="ERNC-banner" id="ERNC-banner-02-ERNC" src="/images/ERNC/ERNC_BannerCard/animation/ERNC-banner-02-ERNC.webp"
            alt="">

        @* 背景 + ERNC + 光芒03 *@
        <img class="ERNC-banner" id="ERNC-banner-03" src="/images/ERNC/ERNC_BannerCard/animation/ERNC-banner-03.webp"
            alt="">

        @* 背景 + ERNC + 光芒04 *@
        <img class="ERNC-banner" id="ERNC-banner-04" src="/images/ERNC/ERNC_BannerCard/animation/ERNC-banner-04.webp"
            alt="">

        @* 背景 + ERNC + 光芒05 *@
        <img class="ERNC-banner" id="ERNC-banner-05" src="/images/ERNC/ERNC_BannerCard/animation/ERNC-banner-05.webp"
            alt="">

        @* 背景 + ERNC + 光芒06 *@
        <img class="ERNC-banner" id="ERNC-banner-06" src="/images/ERNC/ERNC_BannerCard/animation/ERNC-banner-06.png"
            alt="">

    </div>

    <div class="ERNCBanner-Gradient"></div>
    <div class="ERNCBanner-Content-BG">
        <div class="ERNCBanner-Content">
            <div class="Content-Title">
                <span>Empyreal Nucleus (ERNC)</span>
            </div>
            <div class="Content-Text">
                ERNC is an ERC20 governance money for PonPonSnake. Holders can participate in game decision voting, and also gain cool game items. It's the community's most valuable  asset.
            </div>
        </div>

    </div>
</div>

