<head>
    <link href="/css/ERNC/ERNC_Card.css" rel="stylesheet" />
    <link href="/css/ERNC/ERNC.css" rel="stylesheet" />
</head>


<div class="ERNC-Card">
    <div class="ERNC-Card-Block">
        <div class="ERNC-Block-Info">
            <div class="ERNC-Block-InfoTitle">
                <span>ERNC Origin</span>
            </div>
            <div class="ERNC-Block-InfoText">
                The Itza people discovered two ancient gods' jewels made from holy woods, which became treasures of the Itza
                people and were seen as the strongest power for rulers to control the country.</div>
        </div>
        <div class="ERNC-Card-All">

            <div class="Card-BG">
                <div class="Card-Inner">

                    <div class="IconBlock">
                        <img class="IconBlock-BG" src="/images/ERNC/ERNC_BannerCard/IconBlock-diamond-BG.png" alt="">

                        <div class="IconBlock-Img">
                            <img src="/images/ERNC/ERNC_BannerCard/card-icon-01.png" alt="">
                        </div>
                    </div>

                    <div class="Card-Inner-Text">
                        <div class="IconBlock-Text">Stake</div>

                        Users can seal their currency to participate in ERNC.They may also enhance their own governance and share the game's profits.</div>
                </div>
            </div>

            <div class="Card-flex">
                <div class="Card-BG">
                    <div class="Card-Inner">

                        <div class="IconBlock">
                            <img class="IconBlock-BG" src="/images/ERNC/ERNC_BannerCard/IconBlock-diamond-BG.png" alt="">

                            <div class="IconBlock-Img">
                                <img src="/images/ERNC/ERNC_BannerCard/card-icon-02.png" alt="">
                            </div>
                        </div>

                        <div class="Card-Inner-Text">
                            <div class="IconBlock-Text">Payment</div>

                            ERNC would be used to pay for  high-level productions in the game, as well as to trade NFTs on the auction market or to swap to other crypto currencies.
                        </div>
                    </div>
                </div>
                <div class="Card-BG">
                    <div class="Card-Inner">

                        <div class="IconBlock">
                            <img class="IconBlock-BG" src="/images/ERNC/ERNC_BannerCard/IconBlock-diamond-BG.png" alt="">

                            <div class="IconBlock-Img">
                                <img src="/images/ERNC/ERNC_BannerCard/card-icon-03.png" alt="">
                            </div>
                        </div>

                        <div class="Card-Inner-Text">
                            <div class="IconBlock-Text">Governance</div>

                            85% earnings will go into the decentralized treasury. Whoever stakes enough ERNC will gain governance authority, allowing them to vote on reward distribution and resolutions.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>