@inject IJSRuntime JS

<head>
    <link href="/css/ERNC/ERNC_Table.css" rel="stylesheet" />
    <link href="/css/ERNC/ERNC.css" rel="stylesheet" />
</head>

<div class="ERNC_Table-Block">

    <table class="ERNC_Table">
        <thead>
            <tr>
                <th class="th-Type" data-i18n="ERNC_data:table.th-Type">Type</th>
                <th class="th-Amount" data-i18n="ERNC_data:table.th-Amount">Amount</th>
                <th class="th-Unlock" data-i18n="ERNC_data:table.th-Unlock">Unlock</th>
            </tr>
        </thead>

        <tbody>


            <tr class="tbody-tr">
                <td class="td-Type" data-i18n="ERNC_data:table.td-Type-01">DAO Treasury</td>
                <td class="td-Amount">121,500,000 (45%)</td>
                <td class="td-Unlock" data-i18n="ERNC_data:table.td-Unlock-01">unlock by competition</td>
            </tr>

            <tr class="tbody-tr">
                <td class="td-Type" data-i18n="ERNC_data:table.td-Type-02">CQI Team</td>
                <td class="td-Amount">43,200,000 (16%)</td>
                <td class="td-Unlock" data-i18n="ERNC_data:table.td-Unlock-02">lock for 1~3 years, 2023 unlock 1/3.</td>
            </tr>

            <tr class="tbody-tr">
                <td class="td-Type" data-i18n="ERNC_data:table.td-Type-03">Private Placement</td>
                <td class="td-Amount">32,400,000 (12%)</td>
                <td class="td-Unlock" data-i18n="ERNC_data:table.td-Unlock-03">2023 unlock after 1 year</td>
            </tr>

            <tr class="tbody-tr">
                <td class="td-Type" data-i18n="ERNC_data:table.td-Type-04">Develop</td>
                <td class="td-Amount">21,6000,000 (8%)</td>
                <td class="td-Unlock" data-i18n="ERNC_data:table.td-Unlock-04">lock for 1~3 years, 2023 unlock 1/3.</td>
            </tr>

            <tr class="tbody-tr">
                <td class="td-Type" data-i18n="ERNC_data:table.td-Type-05">Seed (0.06USD)</td>
                <td class="td-Amount">16,200,000 (6%)</td>
                <td class="td-Unlock" data-i18n="ERNC_data:table.td-Unlock-05">2022 unlock after 1 year</td>
            </tr>

            <tr class="tbody-tr">
                <td class="td-Type" data-i18n="ERNC_data:table.td-Type-06">Advisor</td>
                <td class="td-Amount">10,800,000 (4%)</td>
                <td class="td-Unlock" data-i18n="ERNC_data:table.td-Unlock-06">lock for 1~3 years, 2023 unlock 1/3.</td>
            </tr>

            <tr class="tbody-tr">
                <td class="td-Type" data-i18n="ERNC_data:table.td-Type-07">Public Sale</td>
                <td class="td-Amount">10,800,000 (4%)</td>
                <td class="td-Unlock" data-i18n="ERNC_data:table.td-Unlock-07">2024 unlock after 1 year</td>
            </tr>

            <tr class="tbody-tr">
                <td class="td-Type" data-i18n="ERNC_data:table.td-Type-08">Charity</td>
                <td class="td-Amount">8,100,000 (3%)</td>
                <td class="td-Unlock" data-i18n="ERNC_data:table.td-Unlock-08">3-year linear unlock</td>
            </tr>

            <tr class="tbody-tr">
                <td class="td-Type" data-i18n="ERNC_data:table.td-Type-09">Event</td>
                <td class="td-Amount">5,400,000 (2%)</td>
                <td class="td-Unlock" data-i18n="ERNC_data:table.td-Unlock-09">lock for 1~3 years, 2023 unlock 1/3.</td>
            </tr>

            <tr class="tr-Total">
                <td class="td-Total" colspan="3" data-i18n="ERNC_data:table.total">ERNC Total 270,000,000 (100%)</td>
            </tr>

        </tbody>
        
    </table>
</div>