@inject IJSRuntime JS

<head>
    <link href="/css/ERNC/ERNC_Roadmap.css" rel="stylesheet" />
    <link href="/css/ERNC/ERNC.css" rel="stylesheet" />
</head>


<div class="ERNC_Roadmap-Block">

    <div class="ERNC_Roadmap-TitleBlock">
        <div class="Roadmap-Title">
            <span>PROJECT ROADMAP</span>
        </div>

        <div class="Roadmap-Years-Block">

            <div class="Roadmap-Years" id="btn-2022">
                2022
            </div>

            <div class="Roadmap-Years" id="btn-2023">
                2023
            </div>
            <div class="Roadmap-Years" id="btn-2024">
                2024
            </div>

        </div>

        <div class="Roadmap-Years-Block-RWD">
            <a href="ERNC#btn-2022-RWD" class="Roadmap-Years-RWD" id="btn-2022-RWD">
                <div class="">
                2022
                </div>
            </a>

            <a href="ERNC#Project-Img-Block-2022-end" class="Roadmap-Years-RWD" id="btn-2023-RWD">
                2023
            </a>

            <a href="ERNC#Project-Img-Block-2023-end" class="Roadmap-Years-RWD" id="btn-2024-RWD">
                2024
            </a>

        </div>
    </div>

    <div class="Project-BG">
        <div class="Project-Block-Gradient"></div>
        <div class="Project-Block">


            <div class="Project-Year" id="Project-2022">
                <div class="Project-Year-Line"></div>
                <div class="Project-Year-Title">2022</div>

                <div class="Project Project-bottom">
                    <div class="Project-Img-Block">
                        <img class="Project-Img" src="/images/ERNC/ERNC_Roadmap/Project-Img-01.png" alt="">
                        <div data-tooltip="SEP" class="Project-Month">SEP</div>
                        <div class="Project-Month-BG">SEP</div>
                    </div>
                    <div class="Project-info">
                        <li>9/1 Official Distribution</li>
                        <li>9/5 ERNC Cliam to MetaMask</li>
                        <li>9/15 Loot Reward</li>
                    </div>
                </div>

                <div class="Project Project-top">
                    <div class="Project-Img-Block">
                        <img class="Project-Img" src="/images/ERNC/ERNC_Roadmap/Project-Img-02.png" alt="">
                        <div class="Project-Month">OCT</div>
                        <div class="Project-Month-BG">OCT</div>
                    </div>
                    <div class="Project-info">
                        <li>10/1 Leader Board Award</li>
                        <li>10/7 (PVP) Champions League Prize</li>
                        <li>10/30 (PVP) Festival Prize</li>
                    </div>
                </div>

                <div class="Project Project-bottom">
                    <div class="Project-Img-Block">
                        <img class="Project-Img" src="/images/ERNC/ERNC_Roadmap/Project-Img-03.png" alt="">
                        <div class="Project-Month">NOV</div>
                        <div class="Project-Month-BG">NOV</div>
                    </div>
                    <div class="Project-info Project-info-one">
                        <li>11/15 Recommendation Reward</li>
                    </div>
                </div>

                <div class="Project Project-top">
                    <div class="Project-Img-Block" id="Project-Img-Block-2022-end">
                        <img class="Project-Img" src="/images/ERNC/ERNC_Roadmap/Project-Img-04.png" alt="">
                        <div class="Project-Month">DEC</div>
                        <div class="Project-Month-BG">DEC</div>
                    </div>
                    <div class="Project-info Project-info-two">
                        <li>12/1 Staking</li>
                        <li>12/15 Seed Offering</li>
                    </div>
                </div>
            </div>

            <div class="Project-Year" id="Project-2023">
                <div class="Project-Year-Line"></div>
                <div class="Project-Year-Title">2023</div>

                <div class="Project Project-bottom">
                    <div class="Project-Img-Block">
                        <img class="Project-Img" src="/images/ERNC/ERNC_Roadmap/Project-Img-05.png" alt="">
                        <div class="Project-Month">JAN</div>
                        <div class="Project-Month-BG">JAN</div>
                    </div>
                    <div class="Project-info Project-info-one">
                        <li>1/1 Swap ERNC/SRC</li>
                    </div>
                </div>

                <div class="Project Project-top">
                    <div class="Project-Img-Block">
                        <img class="Project-Img" src="/images/ERNC/ERNC_Roadmap/Project-Img-06.png" alt="">
                        <div class="Project-Month">FEB</div>
                        <div class="Project-Month-BG">FEB</div>
                    </div>
                    <div class="Project-info Project-info-one">
                        <li>2/1 (PVE) Privateers Prize</li>
                    </div>
                </div>

                <div class="Project Project-bottom">
                    <div class="Project-Img-Block">
                        <img class="Project-Img" src="/images/ERNC/ERNC_Roadmap/Project-Img-07.png" alt="">
                        <div class="Project-Month">APR</div>
                        <div class="Project-Month-BG">APR</div>
                    </div>
                    <div class="Project-info Project-info-one">
                        <li>4/1 Guild Award</li>
                    </div>
                </div>

                <div class="Project Project-top">
                    <div class="Project-Img-Block">
                        <img class="Project-Img" src="/images/ERNC/ERNC_Roadmap/Project-Img-08.png" alt="">
                        <div class="Project-Month">JUN</div>
                        <div class="Project-Month-BG">JUN</div>
                    </div>
                    <div class="Project-info Project-info-one">
                        <li>6/1 VIP Award</li>
                    </div>
                </div>

                <div class="Project Project-bottom">
                    <div class="Project-Img-Block">
                        <img class="Project-Img" src="/images/ERNC/ERNC_Roadmap/Project-Img-09.png" alt="">
                        <div class="Project-Month">AUG</div>
                        <div class="Project-Month-BG">AUG</div>
                    </div>
                    <div class="Project-info Project-info-one">
                        <li>8/1 Guild Staking</li>
                    </div>
                </div>

                <div class="Project Project-top">
                    <div class="Project-Img-Block">
                        <img class="Project-Img" src="/images/ERNC/ERNC_Roadmap/Project-Img-10.png" alt="">
                        <div class="Project-Month">OCT</div>
                        <div class="Project-Month-BG">OCT</div>
                    </div>
                    <div class="Project-info Project-info-one">
                        <li>10/1 Reserves for BINANCE</li>
                    </div>
                </div>

                <div class="Project Project-bottom">
                    <div class="Project-Img-Block" id="Project-Img-Block-2023-end">
                        <img class="Project-Img" src="/images/ERNC/ERNC_Roadmap/Project-Img-11.png" alt="">
                        <div class="Project-Month">DEC</div>
                        <div class="Project-Month-BG">DEC</div>
                    </div>
                    <div class="Project-info Project-info-two">
                        <li>12/1 Exchange USDT</li>
                        <li>12/15 Private Offering</li>
                    </div>
                </div>

            </div>

            <div class="Project-Year" id="Project-2024">
                <div class="Project-Year-Line"></div>
                <div class="Project-Year-Title">2024</div>

                <div class="Project Project-top">
                    <div class="Project-Img-Block">
                        <img class="Project-Img" src="/images/ERNC/ERNC_Roadmap/Project-Img-12.png" alt="">
                        <div class="Project-Month">FEB</div>
                        <div class="Project-Month-BG">FEB</div>
                    </div>
                    <div class="Project-info Project-info-one">
                        <li>2/1 Conncet to SECRET</li>
                    </div>
                </div>


                <div class="Project Project-bottom">
                    <div class="Project-Img-Block">
                        <img class="Project-Img" src="/images/ERNC/ERNC_Roadmap/Project-Img-13.png" alt="">
                        <div class="Project-Month">JUN</div>
                        <div class="Project-Month-BG">JUN</div>
                    </div>
                    <div class="Project-info Project-info-one">
                        <li>6/1 Exchange SECRET</li>
                    </div>
                </div>

                <div class="Project Project-top">
                    <div class="Project-Img-Block Project-last">
                        <img class="Project-Img" src="/images/ERNC/ERNC_Roadmap/Project-Img-14.png" alt="">
                        <div class="Project-Month">DEC</div>
                        <div class="Project-Month-BG">DEC</div>
                    </div>
                    <div class="Project-info Project-info-one">
                        <li>12/15 Public Sale</li>
                    </div>
                </div>

            </div>

        </div>
    </div>



</div>


@code {































    private IJSObjectReference? ERNCJS;































    protected override async Task OnAfterRenderAsync(bool firstRender)































































    {































































        if (firstRender)































































        {































            ERNCJS = await JS.InvokeAsync<IJSObjectReference>("import", "./JavaScript/ERNC/ERNC.js");































































            await ERNCJS.InvokeVoidAsync("roadMapScrollLeft");































































        }































































    }

}