@page "/"

@using SnakeAsianLeague.Pages.NFTindex.Components

@inject IJSRuntime JS

<head>
    <title>PonPonSnake 碰碰蛇｜NFTindex</title>
    <link href="/css/NFTindex/NFTindex.css" rel="stylesheet" />
</head>

<div class="NFTindex">
    <div class="NFTindex_BG" hidden="@true">
        <NFTindex_Collect/>
        <NFTindex_Video/>
    </div>    
        @* <NFTindex_Poster/> *@
        @* <NFTindex_Banner/> *@
        <NFTindex_Flag/>
    
</div>



@code {
private IJSObjectReference? GameFiJS;
    private IJSObjectReference? lazyloadingJS;
    protected override async Task OnAfterRenderAsync(bool firstRender)

    {

        if (firstRender)

        {
            GameFiJS = await JS.InvokeAsync<IJSObjectReference>("import", "./JavaScript/GameFi/GameFi.js");
            await GameFiJS.InvokeVoidAsync("RiderHover");            


            await JS.InvokeVoidAsync("installI18n");

        }

    }
}