@page "/"

@using SnakeAsianLeague.Pages.NFTindex.Components


@inject IJSRuntime JS

<head>
    <title>PonPonSnake｜Home</title>
    <link href="/css/NFTindex/NFTindex.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/8.1.1/swiper-bundle.css"
        integrity="sha512-xTLlG+jNUAbKTCLpdibgQptrCWCqMDQHombvHK7T2S2bQW5zKZtDMssUw3ftsoJ+T9cATQmdNsPIgopUlUWz8g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    @* onload="console.log('css load')" *@
</head>

<div class="NFTindex">
    @*<Loading />*@
    @* <NFTindex_Register/> *@
    <SpinLoader IsLoading="isLoading"  Spinner="SpinnerType.Chase" >

        <LoadingTemplate>
            <div class="col-12" style="background-color:lightgray; height:100vh; vertical-align:middle ;display:flex; justify-content:center; align-items:center;">
                <br/><br/>
                <Chase Center ="true" Color="#c21f13" Size="70px"></Chase>
            </div>
        </LoadingTemplate>
        <ContentTemplate>
            <NFTindex_Join />
            <NFTindex_Banner />
            <NFTindex_Flag />
            <NFTindex_Seignior />
            <NFTindex_Carousel />

    </ContentTemplate>
    </SpinLoader>

</div>


@code {
     bool isLoading = true;
    protected override async Task OnAfterRenderAsync(bool firstRender)

    {

        if (firstRender)
        {
            await JS.InvokeVoidAsync("installI18n");
            await JS.InvokeVoidAsync("NFTindexCarousel");
            isLoading = false;
            StateHasChanged();
        }

    }
}