@using SnakeAsianLeague.Data.Entity.View
@inject IJSRuntime JS
<head>
    <link href="/css/Teach/All_components/Main_Title.css" rel="stylesheet" />
</head>

<h3 class="Main_Title_h3"><span>Setp</span><span data-i18n="Started_data:gettingStarted.title.@title"></span> </h3>
<h4 class="Main_Title_h4"  data-i18n="Started_data:gettingStarted.subtitle.@title"> </h4>

@code {
   @* [CascadingParameter] Title title { get; set; }*@
   [CascadingParameter] string title { get; set; }
    protected override async Task OnAfterRenderAsync(bool firstRender)

    {

        if (firstRender)

        {
            await JS.InvokeVoidAsync("installI18n");
        }

    }
}
