@inject IJSRuntime JS

<head>
    <link href="/css/ERNC/ERNC_Allocation.css" rel="stylesheet" />
    <link href="/css/ERNC/ERNC.css" rel="stylesheet" />
</head>

<div class="ERNC_Allocation">
    <div class="ERNC_Allocation-Block">

        <div class="ERNC-Block-Info">
            <div class="ERNC-Block-InfoTitle">
                <span>ERNC Allocation</span>
            </div>
            <div class="ERNC-Block-InfoText">

                The primary value of the game and the goal for users to participate in the game is the ERNC's P2E reward
                allocation pool (Play-to-Earn Allocation Pool). Players will come together to encourage the release and
                future expansion of ERNC.</div>
        </div>

        <div class="ERNC_PieChart">
            <div class="ERNC_PieChart-Title">
                <span>Total 270,000,000  ERNC</span>
            </div>
        
            <div class="Pie-Chart-Block">
                
                <div class="Pie-Chart" id="Pie-Chart"></div>
                <div class="Pie-Chart" id="Pie-Chart-Rwd"></div>
                <img class="Pie-Chart-material" src="/images/ERNC/ERNC_Allocation/material.png" alt="">

            </div>
        
        </div>




    </div>

</div>

@code {
    private IJSObjectReference? ERNCJS;
    protected override async Task OnAfterRenderAsync(bool firstRender)

    {

        if (firstRender)

        {
            ERNCJS = await JS.InvokeAsync<IJSObjectReference>("import", "./JavaScript/ERNC/ERNC.js");


            await ERNCJS.InvokeVoidAsync("chartInit");
            await ERNCJS.InvokeVoidAsync("chartInitRwd");


        }

    }

}