<head>
    <link href="/css/ERNC/ERNC_BannerCard.css" rel="stylesheet" />
    <link href="/css/ERNC/ERNC.css" rel="stylesheet" />
</head>

<div class="ERNCBanner">

    @* 靜態 ERNC Banner *@
    <div class="ERNCBanner-BG">
        <img class="" src="/images/ERNC/ERNC_BannerCard/ERNC_Banner.png" alt="">
    </div>

    @* 動畫 ERNC Banner *@
    <div class="ERNCBanner-BG-animation">
        @* 純背景 *@
        <div class="ERNC-banner-BG-div">
            <img class="ERNC-banner-BG" id="ERNC-banner-01" src="/images/ERNC/ERNC_BannerCard/animation/ERNC-banner-01.webp"
            alt="">
        </div>

        @* ERNC 透明背景 *@
        <img class="ERNC-banner" id="ERNC-banner-02-ERNC" src="/images/ERNC/ERNC_BannerCard/animation/ERNC-banner-02-ERNC.webp"
            alt="">

        @* 背景 + ERNC + 光芒03 *@
        <img class="ERNC-banner" id="ERNC-banner-03" src="/images/ERNC/ERNC_BannerCard/animation/ERNC-banner-03.webp"
            alt="">

        @* 背景 + ERNC + 光芒04 *@
        <img class="ERNC-banner" id="ERNC-banner-04" src="/images/ERNC/ERNC_BannerCard/animation/ERNC-banner-04.webp"
            alt="">

        @* 背景 + ERNC + 光芒05 *@
        <img class="ERNC-banner" id="ERNC-banner-05" src="/images/ERNC/ERNC_BannerCard/animation/ERNC-banner-05.webp"
            alt="">

        @* 背景 + ERNC + 光芒06 *@
        <img class="ERNC-banner" id="ERNC-banner-06" src="/images/ERNC/ERNC_BannerCard/animation/ERNC-banner-06.png"
            alt="">

    </div>

    <div class="ERNCBanner-Gradient"></div>
    <div class="ERNCBanner-Content-BG">
        <div class="ERNCBanner-Content">
            <div class="Content-Title">
                <span>Empyreal Nucleus (ERNC)</span>
            </div>
            <div class="Content-Text">
                ERNC is an ERC20 governance money for PonPonSnake. Holders can participate in game decision voting, and also gain cool game items. It's the community's most valuable  asset.
            </div>
        </div>

    </div>
</div>

<div class="ERNC-Card">
    <div class="ERNC-Card-Block">
        <div class="ERNC-Block-Info">
            <div class="ERNC-Block-InfoTitle">
                <span>ERNC Origin</span>
            </div>
            <div class="ERNC-Block-InfoText">
                The Itza people discovered two ancient gods' jewels made from holy woods, which became treasures of the Itza
                people and were seen as the strongest power for rulers to control the country.</div>
        </div>
        <div class="ERNC-Card-All">

            <div class="Card-BG">
                <div class="Card-Inner">

                    <div class="IconBlock">
                        <img class="IconBlock-BG" src="/images/ERNC/ERNC_BannerCard/IconBlock-diamond-BG.png" alt="">

                        <div class="IconBlock-Img">
                            <img src="/images/ERNC/ERNC_BannerCard/card-icon-01.png" alt="">
                        </div>
                    </div>

                    <div class="Card-Inner-Text">
                        <div class="IconBlock-Text">Stake</div>

                        Users can seal their currency to participate in ERNC.They may also enhance their own governance and share the game's profits.</div>
                </div>
            </div>

            <div class="Card-flex">
                <div class="Card-BG">
                    <div class="Card-Inner">

                        <div class="IconBlock">
                            <img class="IconBlock-BG" src="/images/ERNC/ERNC_BannerCard/IconBlock-diamond-BG.png" alt="">

                            <div class="IconBlock-Img">
                                <img src="/images/ERNC/ERNC_BannerCard/card-icon-02.png" alt="">
                            </div>
                        </div>

                        <div class="Card-Inner-Text">
                            <div class="IconBlock-Text">Payment</div>

                            ERNC would be used to pay for  high-level productions in the game, as well as to trade NFTs on the auction market or to swap to other crypto currencies.
                        </div>
                    </div>
                </div>
                <div class="Card-BG">
                    <div class="Card-Inner">

                        <div class="IconBlock">
                            <img class="IconBlock-BG" src="/images/ERNC/ERNC_BannerCard/IconBlock-diamond-BG.png" alt="">

                            <div class="IconBlock-Img">
                                <img src="/images/ERNC/ERNC_BannerCard/card-icon-03.png" alt="">
                            </div>
                        </div>

                        <div class="Card-Inner-Text">
                            <div class="IconBlock-Text">Governance</div>

                            85% earnings will go into the decentralized treasury. Whoever stakes enough ERNC will gain governance authority, allowing them to vote on reward distribution and resolutions.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>