@inject IJSRuntime JS

<head>
    <link href="/css/ERNC/ERNC_Table.css" rel="stylesheet" />
    <link href="/css/ERNC/ERNC.css" rel="stylesheet" />
</head>

<div class="ERNC_Table-Block">

    <table class="ERNC_Table">
        <thead>
            <tr>
                <th>Type</th>
                <th>Amount</th>
                <th>Amount</th>
            </tr>
        </thead>
        <tbody>

            <tr>
                <td>DOA Treasury</td>
                <td>121,500,000 (45%)</td>
                <td>unlock by competition</td>
            </tr>

            <tr>
                <td>CQI Team</td>
                <td>43,200,000 (16%)</td>
                <td>lock for 1~3 years, 2023 unlock 1/3.</td>
            </tr>

            <tr>
                <td>Private Placement</td>
                <td>32,400,000 (12%)</td>
                <td>2023 unlock after 1 year</td>
            </tr>

            <tr>
                <td>Develop</td>
                <td>21,6000,000 (8%)</td>
                <td>lock for 1~3 years, 2023 unlock 1/3.</td>
            </tr>

            <tr>
                <td>Seed (0.06USD)</td>
                <td>16,200,000 (6%)</td>
                <td>2022 unlock after 1 year</td>
            </tr>

            <tr>
                <td>Advisor</td>
                <td>10,800,000 (4%)</td>
                <td>lock for 1~3 years, 2023 unlock 1/3.</td>
            </tr>

            <tr>
                <td>Public Sale</td>
                <td>10,800,000 (4%)</td>
                <td>2024 unlock after 1 year</td>
            </tr>

            <tr>
                <td>Charity</td>
                <td>8,100,000 (3%)</td>
                <td>3-year linear unlock</td>
            </tr>

            <tr>
                <td>Event</td>
                <td>5,400,000 (2%)</td>
                <td>lock for 1~3 years, 2023 unlock 1/3.</td>
            </tr>

            <tr>
                <th colspan="3">ERNC Total 270,000,000 (100%)</th>
            </tr>
            
        </tbody>
    </table>
</div>