<head>
    <link href="/css/ERNC/ERNC_BannerCard.css" rel="stylesheet" />
</head>

<div class="ERNCBanner">
    <img class="ERNCBanner-BG" src="/images/ERNC/ERNC_BannerCard/ERNC_Banner.png" alt="">
    <div class="ERNCBanner-Gradient"></div>
    <div class="ERNCBanner-Content-BG">
        <div class="ERNCBanner-Content">
            <div class="Content-Title">
                <span>Empyreal Nucleus (ERNC)</span>
            </div>
            <div class="Content-Text">ERNC is an ERC20-based governance money for the PonPonSnake universe. Holders can
                participate in
                game decision-making and voting, and also gain high-level game items. It is the PonPonSnake community's
                most
                valuable trade asset.
            </div>
        </div>

    </div>
</div>

<div class="ERNC-Card">
    <div class="ERNC-Card-All">

        <div class="Card-BG">
            <div class="Card-Inner">

                <div class="IconBlock">
                    <div class="IconBlock-Img">
                        <img src="/images/ERNC/ERNC_BannerCard/Stake_icon.png" alt="">
                    </div>
                    <div class="IconBlock-Text">Stake</div>
                </div>

                <div class="Card-Inner-Text">Users can seal their currency to participate in the newly discovered ERNC.
                    At the same
                    time, they may enhance their own governance and share the game's profits.</div>
            </div>
        </div>
        <div class="Card-flex">
            <div class="Card-BG">
                <div class="Card-Inner">

                    <div class="IconBlock">
                        <div class="IconBlock-Img">
                            <img src="/images/ERNC/ERNC_BannerCard/Payment_icon.png" alt="">
                        </div>
                        <div class="IconBlock-Text">Payment</div>
                    </div>

                    <div class="Card-Inner-Text">ERNC would be used to pay for a variety of high-level productions in the
                        game, as well as to trade NFTs on the auction market or to swap to other crypto currencies.</div>
                </div>
            </div>
            <div class="Card-BG">
                <div class="Card-Inner">

                    <div class="IconBlock">
                        <div class="IconBlock-Img">
                            <img src="/images/ERNC/ERNC_BannerCard/Governance_icon.png" alt="">
                        </div>
                        <div class="IconBlock-Text">Governance</div>
                    </div>

                    <div class="Card-Inner-Text">85% of the earnings will go into the decentralized treasury, and whoever
                        stakes enough ERNC will gain governance authority, allowing them to control treasury distribution
                        and vote on resolutions.</div>
                </div>
            </div>
        </div>
    </div>
</div>