.coinEchange-container {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0 !important;
    z-index: -10 !important;
    transition: all .3s ease-in-out;
    background: rgba(0,0,0,0.5);
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.coinEchange {
    max-width: 600px;
    width: 90%;
    margin: 0 auto;
    /* height: 540px; */
    border-radius: 20px;
    background: #27616f;
    position: relative;
    padding: 20px;
    box-shadow: 5px 5px 10px #0606063f;
}
@media(max-width :768px) {
    .coinEchange {
        /* width: 450px;
        height: 405px; */
    }
}

@media(max-width :576px) {
    .coinEchange {
        /* width: 288px;
        height: 370px; */
    }
}


.coinEchange-CancelBtn {
    background: url("/images/Myprofile/SRCExchange/X-icon.png");
    position: absolute;
    top: 3%;
    right: 2.5%;
    width: 25px;
    height: 25px;
    background-repeat: round;
    border: none;
    transition: all .2s ease-in-out;
}
.coinEchange-CancelBtn:hover{
    opacity: 0.7;
}
@media(max-width :576px) {
    .coinEchange-CancelBtn {
        top: 3%;
        right: 4%;
        width: 15px;
        height: 15px;
    }
}

/*貨幣交換*/
.coinNum-Container {
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

/*共用*/
.coinTop {
    width: 100%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    padding-top: 50px;
}

.coinEchange-Icon {
    width: 84px;
    /* height: 84px; */

}

@media (max-width:768px) {
    .coinTop {
     padding-top: 37px;
    }

  
    .coinEchange-Icon {
        width: 70px;
        /* height: 84px; */
    }
}

@media(max-width :576px) {
    .coinTop {
        padding-top: 24px;
    }


    .coinEchange-Icon {
        width: 60px;
        /* height: 40px; */
    }
}

/*個別*/
.coinNum-beteen {
    width: calc(100%/5*2);
    height: 100%;
    display: flex;
    flex-direction: column;
}

.coinNum-mid{
    width: calc(100%/10*1);
    /* height: 100%; */
    margin: 10px;
}
.coinNum-mid img{
    width: 55px;
    /* height:40px; */
}

@media(max-width :576px) {
    .coinNum-mid img {
        width: 35px;
        /* height: 20px; */
    }
}

.replacedCoin {
    outline: none;
    border: 3.5px solid #426e7c;
    border-radius: 15px;
    width: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: #fff;
    margin: 5px auto 5px;
    padding: 5px 10px;
    background: #253a4b;
    text-align: center;
    letter-spacing: 0.5px;
}
.replacedCoin:focus{
    border: 2px solid #FFA81D !important;
}
.replacedCoin-zone {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 0 0 20px 0;
}
.replacedCoin-zone .left {
    width: calc(100%/5*2);
    text-align:center;
}

.replacedCoin-zone .mid {
    width: calc(100%/10*1)
}
.replacedCoin-zone .right {
    width: calc(100%/5*2);
    text-align:center;
}




.increaseCoin {
    margin: 0 auto;
    font-size: 17px;
    color: #6aaaa9;
    letter-spacing: 0.5px;
}

@media (max-width:768px) {
    .replacedCoin {
        width: 80%;
        border: 2px solid #426e7c;
        font-size: 18px;
        margin: 5px auto 5px;
        padding: 3px 10px;
    }
    .increaseCoin {   
        font-size: 16.5px;   
    }
}

@media (max-width:576px) {
    .replacedCoin {
        border: 2.5px solid #426e7c;
        font-size: 15px;
        margin: 5px auto 3px;  
        /* padding: 5px; */
    }

    .increaseCoin {
        font-size: 14.5px;
    }
}

.coinTitle {
    /* width:100%; */
    background: #4B8B8B;
    color:#fff;
    border-radius:10px;
    padding: 2px 20px;
    font-size: 16px;
    letter-spacing: 0.8px;
    margin: 15px auto 0px;
    line-height: 24px;
    text-align: center;
    /* margin: 15px 0 0 0 ; */
}


.coinTotalNum {
    margin-top: 10px;
    font-size: 20px;
    /* color: #67AEA2; */
    color: #FFA81D;
    letter-spacing: 0.5px;
}

@media (max-width:768px) {
    .coinTitle {
        font-size: 15px;
        /* padding: 1.2px 20px; */
    }
    .coinTotalNum {
        font-size: 18px;
    }
}

@media (max-width:576px) {
    .coinTitle {
        font-size: 14px;
        /* padding: 0 20px; */
        line-height: 20px;
    }

    .coinTotalNum {     
        font-size: 16px;
    }
}
/*range*/
.coin-range[type="range"] {
    margin: 35px auto 10px auto;
    width: 80% !important;
    display: block;
    height: 50px;
    border-radius: 5px;
}
.coin-range[type="range"]::-webkit-slider-thumb {
    height: 28px;
    width: 28px;
    background: #69ADA2;
    border: 1px solid #69ADA2;
    border-radius:50%;   
    box-shadow: 0 0 2px 0 #555;
    margin-top: -8px;
}

.coin-range[type="range"]::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: #D9D9D9;
    height: 12px;
    border-radius: 5px;
  
}

@media (max-width:768px) {

    .coin-range[type="range"] {
        margin: 15px auto;
        height: 52.5px;
        border-radius: 5px;
    }

    .coin-range[type="range"]::-webkit-slider-thumb {
        height: 37.5px;
        width: 37.5px;
        margin-top: -11px;
    }

    .coin-range[type="range"]::-webkit-slider-runnable-track {
        height: 15px;  
        margin-right: -15px;
    }
}
@media (max-width:576px) {

    .coin-range[type="range"] {   
        height: 39px;
        border-radius: 5px;
    }

    .coin-range[type="range"]::-webkit-slider-thumb {
        height: 28px;
        width: 28px;
        margin-top: -8px;
    }

    .coin-range[type="range"]::-webkit-slider-runnable-track {
        height: 11px;
        margin-right: -11px;
    }
}


/*按鈕*/
.coinEchange-BtnZone {
    width: 80%;
    display: flex;
    justify-content: center;
    margin: 0 auto 20px;
}

.coinEchange-BtnZone button {
    width: 170px;
    height: 50px;
    border-radius: 15px;
    border: none;
    font-size: 22px;
    color: #fff;
    transition: all .1s ease-in-out;
}
.coinEchange-BtnZone button:hover{
    /* transform: translateY(-1px); */
    transform: scale(1.01);
    opacity: 0.9;
}

.coinEchange-ExchangeBtn {
    background: #69ADA2;
    color: #fff;
}

.products-popup-open {
    top: 0;
    left: 0;
    opacity: 1 !important;
    z-index: 250 !important;
}

@media (max-width:768px) {
    .coinEchange-BtnZone button {
        width: 195px;
        font-size: 25px;
        height: 50px;
    }
}
@media (max-width:576px) {
    .coinEchange{
        padding: 10px;
    }
    .coinEchange-BtnZone {
        padding: 5px
    }
    .coinEchange-BtnZone button {
        width: 146px;
        font-size: 20px;
        height: 50px;
        color: #fff;
    }
}