.SRCgift-block{
    padding: 100px 0;
}

.giftData-container {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 15px 0 8px;
}

.giftData-title {
    color: #3c5242;
    height: 30%;
    width: 100%;
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    align-items: flex-start;
    font-weight: 700;
    font-size:25px;
    line-height: 30px;
    /* padding-top: 15px; */
}
.srcZone-container {
    height:35%;
    width:100%;
    display:flex;
    justify-content:center;
}
.giftData-srcZone {
    height: 50%;
    width: 100%;


    display: flex;
    justify-content: center;
    /* justify-content: flex-start; */
    align-items: center;
    background: #5c765e;
    border-radius: 10px;
    padding: 5px 10px;
}
.srcZone-coinType{
    /* background: #5c765e;
    border-radius: 7px;
    padding: 5px 10px; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 15px 0 0;
}
.giftData-srcZone img {
    width: 35px;
    margin-right: 5px;
}
/* .giftData-srcZone span{
    font-size:25px;
} */
.srcZone-num {
    color:#fff;
    font-size: 20px;
}

.srcZone-count{
    color:#fff;
    font-size: 22px;
}
.srcZone-icon{
    font-size: 15px;
}
.giftData-btn-container {
    width: 100%;
    display: flex;
    height: 35%;
    flex-direction: column;
    /* align-items: center; */
    align-items: flex-end;
    justify-content: flex-end;
}

.usdValuation {
    text-align: end;
    width: 100%;
    /* height: 25%; */
    font-size: 17px;
    padding-right:5px;
    /* color:#FFF; */
    color: #35504b;
}

.giftData-btn {
    background: #ffa71d;
    border: 0;
    color: #ffffff;
    /* width: 100%; */
    min-width: 75%;
    padding: 0 20px;
    border-radius: 10px;
    /* height: 70%; */
    height: 40%;
    font-size: 20px;
    /* margin-top:5px;  */

}
.giftData-btn:hover {
    transform: scale(1.01);
    opacity: 0.9;
    /* background-color: #f09607; */
}
@media all and (max-width: 1500px) {
    .giftData-title {
        font-size: 16px;
    }

    .giftData-srcZone img {
        width: 23px;   
        margin-right: 3px;   
    }

    .srcZone-num{
        font-size: 15px;
    }
    .srcZone-count {
        font-size: 15px;
    }
    .srcZone-icon{
        font-size: 10px;
    }
    .usdValuation {
        font-size: 12px;
    }

    .giftData-btn {
        font-size: 15px; 
    }
}




#accountManagementUl-SRCPackage {
    background-color: #67AEA2;
    border-radius: 0 50px 50px 0;
    transform: scale(1.01);
    color: #fff !important;
    transition: all .15s ease-in-out;
}

#accountManagementUl-SRCPackage li::before {
    z-index: 1 !important;
    opacity: 1 !important;
    /* transition: all .2s ease-in-out; */
}

@media all and (max-width: 1920px) {
    #accountManagementUl-SRCPackage li::before {
        left: 55px !important;
    }
}




/*CheckoutPop*/
.products-popup-close {
    width: 25px;
    height: 25px;
    position: absolute;
    top: 16px;
    right: 16px;
    cursor: pointer;
    transition: all .1s ease-in-out;
}
.products-popup-close:hover {
    transform: scale(1.05);
    opacity: 0.8;
}
@media all and (max-width: 600px) {
    .products-popup-close {
        top: 12px;
        right: 12px;
        width: 22px;
        height: 22px;
    }
}
.CheckoutPop-container {    
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 100;
    top: 50px;
    background: rgba(0,0,0,0.5);
    left: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.CheckoutPop {
    position: relative;
    background-color: var(--green-1);
    max-width: 630px;
    width: 80%;
    max-height: 80vh;
    border-radius: 20px;
    z-index: 50;
    box-shadow: 5px 5px 10px #0606063f;
 
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 50px 0;
}
.CheckoutPop-content {
    width: 80%;
    background-color: #253a4b;
    border-radius: 10px;
    color: #5f9d51;
    padding: 10px 20px;
    font-size: 22px;
}

.CheckoutPop-content span {
    color: #FFA81D;
}
.CheckoutPop-btn {
    color: var(--white);
    font-size: 22px;
    border: none;
    background: var(--orange-1);
    border-radius: 13px;
    padding: 4px 28px 6px;
    margin-top: 10px;
    letter-spacing: 1px;
    transition: all .1s ease-in-out;
    border:2px solid var(--white);
    margin-top:20px;
}


    /*#253a4b*/
    /*#4B8B8B*/
    /*#FFA81D*/

    /*var(--green-2)*/
