/* nav 當頁顯示 */
#nav-myprofile>.nav-link {
    background-color: unset;
}

#nav-swapsrc>.nav-link {
    background-color: #aad4cd;
}

.user-ul-web {
    display: none;
}

#Swapsrc_hover_bottom {
    position: absolute;
    max-width: 300px;
    transform: translateX(-50%);
    left: 50%;
    bottom: -7px;
    opacity: 1;
    z-index: 0;
    transition: all .3s ease-out;
    pointer-events: none;
}

/* RWD NAV */
@media all and (max-width: 1000px) {
    #nav-swapsrc {
        background-size: cover;
        background-position: center;
    }
}

/* NAV 資產頁面選單 */
.nav-li-normal {
    display: none;
}

.nav-li-particular {
    display: flex;
    flex-direction: row;
}

/* RWD */
@media (max-width: 1000px) {
    .nav-li-particular {
        flex-direction: column;
    }
}

/* __________ */

.Swap-Title {
    color: var(--green-2);
    font-size: 48px;
    font-weight: bold;
    margin: 5px 0px;
    text-shadow: 2px 2px 5px #24242431;
    /* margin: 0 20px; */
}

@media all and (max-width: 800px) {
    .Swap-Title {
        font-size: 36px;
    }
}

@media all and (max-width: 500px) {
    .Swap-Title {
        font-size: 32px;
    }
}


.SRCExchange-container {
    /* height: 1500px; */
    /* padding-top: 180px; */
    max-width: 900px;
    width: 90%;
    margin: 50px auto;
}

.SRCExchange-h2 {
    padding-bottom: 78px;
    font-weight: 700;
    font-size: 37px;
    color: #fff;
}

@media all and (max-width: 1024px) {


    .SRCExchange-container {
        /* padding-top: 135px; */
    }

    .SRCExchange-h2 {
        padding-bottom: 58px;
    }
}


@media all and (max-width: 768px) {

    /* .SRCExchange-container {
        padding-top: 110px;
        width: 80%;
    } */

    .SRCExchange-h2 {
        padding-bottom: 42px;
        font-size: 28px;
    }
}

@media all and (max-width: 600px) {
    .SRCExchange-container {
        margin: 30px auto 50px;
    }
}

@media all and (max-width: 576px) {

    .SRCExchange-container {

        /* height: 800px; */
    }

    .SRCExchange-h2 {
        padding-bottom: 30px;
    }
}

@media all and (max-width: 375px) {

    .SRCExchange-h2 {
        padding-bottom: 0px;
        padding: 0 10px 24px 10px;
    }
}


/*...貨幣交換區塊...*/
.coinView-container {
    border: 2px solid #69AEA3;
    /* height: 480px; */
    border-radius: 43px;
    color: #fff;
    padding: 5%;
    /* margin: 0 20px; */
}

.coinView-Minimum {
    color: #fff;
    width: 100%;
    text-align: left;
    font-size: 15px;
    padding-right: 14px;
    letter-spacing: 0.5px;
}

.coinView-GameWalletText {
    width: 100%;
    font-size: 24px;
}

@media all and (max-width: 1024px) {
    .coinView-container {
        /* height: 450px; */
    }

    .coinView-Minimum {
        font-size: 13px;
    }

    .coinView-GameWalletText {
        font-size: 20px;
    }
}

@media all and (max-width: 768px) {

    .coinView-container {
        height: 450px;
    }

    .coinView-Minimum {
        font-size: 12px;
    }

    .coinView-GameWalletText {
        font-size: 18px;
    }
}

@media all and (max-width: 576px) {

    .coinView-container {
        height: 300px;
        padding: 20px 1% 10px 2%;
    }

    .coinView-GameWalletText {
        font-size: 16px;
    }

    .coinView-Minimum {
        left: 10%;

    }
}


@media all and (max-width: 375px) {


    .coinView-GameWalletText {
        font-size: 14px;
    }

    .coinView-Minimum {
        font-size: 10px;
    }
}


/*...貨幣資訊顯示...*/
.changeCoinZone {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 80%;
}

@media all and (max-width: 576px) {
    .changeCoinZone {
        height: 85%;
    }
}

/*共用*/
.coin-Zone {
    width: 100%;
    /* height: calc(100%/10 *3.3); */
    height: 100px;
}
.coin-TextZone-coinName{
    max-width: 300px;
    width: 100%;
}

/*文字區域*/
.coin-TextZone {
    /* width: calc(100%/5 *2); */
    height: 100%;
}
.coin-type-icon{
    width: 55px;
    /* padding-right: 10px; */
    
}
.coin-type-icon img{
    max-width: 50px;
}
#usdt-img{
    max-width: 45px;
}
.coin-type {
    display: flex;
    align-items: center;
    margin: 5px 0 5px 0;
}
.coin-type-name{
    font-size: 36px;
    line-height: 36px;
    /* font-weight: 600; */
    margin-right: 5px;
    
    font-size: 30px;
    background: #4B8B8B;
    color: #fff;
    border-radius: 35px;
    padding: 4.5px 24px;
}

#coin-type-USDT{
    margin-top: 25px;
}


.coin-type-addWallet {
    width: 30px;
    height: 30px;
    margin: 0 5px
}

.coin-type-addWallet {
    background: url("/images/Myprofile/SRCExchange/addCoin.png");
    background-repeat: round;
    border: none;
}
.avaliable-block{
    display: flex;
    letter-spacing: 0.5px;
}
.avaliable {
    font-size: 16px;
    margin-right: 5px;
    /* color: var(--green-2); */
    color: #FFA81D;
    letter-spacing: 0.5px;
}
.avaliable-Total{
    color: #FFA81D;
}

.address-text {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

@media all and (max-width: 1024px) {
    .coin-type {
        font-size: 37.5px;
    }

    .coin-type img,
    .coin-type-addWallet {
        width: 40px;
        height: 40px;
    }

    .avaliable {
        font-size: 14px;
    }
}

@media all and (max-width: 768px) {
    .coin-TextZone {
        width: calc(100%/2);
    }
}

@media all and (max-width: 576px) {
    .coin-TextZone {
        width: calc(100%/5*2);
    }

    .coin-type {
        font-size: 20px;
    }

    .coin-type img,
    .coin-type-addWallet {
        width: 24px;
        height: 24px;
    }

    .avaliable {
        font-size: 10px;
    }
}

@media all and (max-width: 375px) {
    .coin-TextZone {
        width: calc(100%/10*4);
    }

    .coin-type {
        font-size: 20px;
    }

    .coin-type img,
    .coin-type-addWallet {
        width: 18px;
        height: 18px;
    }
}


.toPolygon {
    font-size: 24px;
    display: flex;
    flex-direction: column;
}

.user-address {
    color: #008DCA;
    font-size: 16px;
}

@media all and (max-width: 1024px) {
    .toPolygon {
        font-size: 18px;
    }

    .user-address {
        font-size: 12px;
    }
}

@media all and (max-width: 576px) {
    .toPolygon {
        font-size: 16px;
    }

    .user-address {
        font-size: 10px;
    }
}

@media all and (max-width: 375px) {


    .toPolygon {
        font-size: 14px;
    }
}


/*num區域*/
.coin-NumZone {
    width: calc(100%/5 *2);
    height: 100%;
}

.exchangeRate {
    text-align: left;
    font-size: 15px;
    font-weight: 600;
    width: 70%;
    /* height: 30px; */
    /* padding: 0 45px 10px 0; */
    letter-spacing: 0.5px;
}
.coin-Num-block{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.coin-Num {
    width: 70%;
    margin: 5px auto;
    border: 2px solid #69AEA3;
    /* height: 85px; */
    text-align: right;
    border-radius: 35px;
    font-size: 28px;
    padding: 5px 20px;
    display: flex;
    justify-content: end;
    align-items: center;
    background: none;
    color: #fff;
    letter-spacing: 0.5px;
    line-height: 34px;
}

.coin-swapRate {
    text-align: left;
    /* padding-top: 10px; */
    width: 90%;
    /* margin: 0 auto; */
    font-weight: 600;
    font-size: 15px;
    letter-spacing: 0.5px;
}

.balanceShort {
    font-size: 16px;
    line-height: 18px;
    color: #ec847b;
    padding-top: 5px;
    text-align: left;
    width: 90%;
    font-weight: 600;
    /* padding-left: 30px; */
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: nowrap;
    letter-spacing: 0.5px;
}
.balanceShort-icon{
    width: 16px;
    margin: 0 5px 0 0;
}
.arrow-zone {
    width: 70%;
    height: 100%;
    position: relative;
}

.arrow-img {
    width: 35px;
    /* height: 57px; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

@media all and (max-width: 1024px) {

    .exchangeRate {
        font-size: 14px;
        height: 20px;
        padding: 0 38px 0px 0;
    }

    .coin-Num {
        /* height: 77px; */
        font-size: 26px;
    }

    .coin-swapRate {
        font-size: 14px
    }

    .balanceShort {
        font-size: 14px
    }


    .arrow-img {
        width: 42px;
        /* height: 42px; */
    }
}

@media all and (max-width: 768px) {
    .coin-NumZone {
        width: calc(100%/2);
    }
}

@media all and (max-width: 576px) {
    .exchangeRate {
        font-size: 12px;
        height: 16px;
        padding: 0 38px 0px 0;
    }

    .coin-Num {
        height: 54px;
        font-size: 18px;
    }

    .coin-swapRate {
        font-size: 12px
    }

    .balanceShort {
        font-size: 12px
    }

    .arrow-img {
        width: 30px;
        /* height: 30px; */
    }

    .coin-NumZone {
        width: calc(100%/5*3);
    }
}

@media all and (max-width: 375px) {
    .exchangeRate {
        font-size: 10px;
        padding: 0 25px 0px 0;
    }

    .coin-swapRate {
        font-size: 10px
    }

    .balanceShort {
        font-size: 10px
    }

    .coin-NumZone {
        width: calc(100%/10*6.5);
    }
}

/*...最大化按鈕...*/
.coin-MaxZone {
    width: calc(100%/5 *1);
    height: 100%;
}

.maxBTN-Zone {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* width: 100%;
    height: 100%; */
    margin-left: 10px;
    width: 100px;
}

.maxBTN {
    color: #ffffff;
    background: none;
    border-radius: 20px;
    border: 2px solid #4B8B8B;
    border: 2px solid #fff;
    font-size: 16px;
    padding: 5px 20px;
}

.miniSizeBtn {
    display: none;
}

@media all and (max-width: 1024px) {
    .maxBTN {
        /* font-size: 20px; */
    }
}

@media all and (max-width: 768px) {
    .coin-MaxZone {
        display: none;
    }

    .maxBTN {

        font-size: 15px;
        position: absolute;
        right: 5%
    }

    .miniSizeBtn {
        display: block;
    }
}

@media all and (max-width: 576px) {
    .maxBTN {

        font-size: 12px;
    }
}

/*...按鈕部分...*/
.Btn-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
}

.SwapBTN {
    background: #FFA81D;
    color: #fff;
    font-size: 26px;
    width: 250px;
    height: 60px;
    border-radius: 20px;
    border: none;
    margin: 36px 0 100px 0;
}

.SwapBTN-black {
    background: #B6B6B6;
    display: flex;
    justify-content: center;
    align-items: center;
}

.greenBTN {
    color: #fff;
    width: 100%;
    height: 84px;
    background: #67ADA2;
    border: 3px solid #FFFFFF;
    border-radius: 26px;
    margin-bottom: 41px;
    font-size: 34px;
    margin-top: 20px;
}

@media all and (max-width: 1024px) {
    .SwapBTN {
        font-size: 28px;
        /* width: 300px;
        height: 63px; */
        margin: 28px 0 75px 0;
    }

    .greenBTN {
        height: 64px;
        margin-bottom: 30px;
        font-size: 26px;
    }
}

@media all and (max-width: 768px) {
    .SwapBTN {
        font-size: 22px;
        width: 200px;
        height: 48px;
        margin: 21px 0 56px 0;
    }

    .greenBTN {
        height: 48px;
        margin-bottom: 22px;
        font-size: 20px;
    }
}

@media all and (max-width: 576px) {
    .SwapBTN {
        font-size: 20px;
        width: 100%;
        height: 48px;
        margin: 20px 0;
    }

    .greenBTN {
        height: 48px;
        margin-bottom: 22px;
        font-size: 20px;
    }
}


#accountManagementUl-SwapSRC {
    background-color: #67AEA2;
    border-radius: 0 50px 50px 0;
    transform: scale(1.01);
    color: #fff !important;
    transition: all .15s ease-in-out;
}