

@using RestSharp
@using SnakeAsianLeague.Data.Entity
@using SnakeAsianLeague.Data.Services
@using SnakeAsianLeague.Data.Services.Personal


@inject AppState AppState
@inject InventoryService InventoryService
@inject IJSRuntime JS


<head>
    <link href="css/MyProfile/MyProfile_referralCode.css" rel="stylesheet" />    
</head>



@if ( InvitationCode != null)
{
    <main class="myprofileMain" >
        <div class="myprofileBlock" >
            <div class="referralCode-container">
                <h3> @InvitationCode.name <span>的邀請碼</span></h3>
                <div class="referralCode-content">
                    @*中間圖+字*@
                    <div class="referralCode-imgAndText">
                        <div class="referralCode-img">
                            <img src= "data:image/png;base64,@QRCodeByte"/>
                        </div>                 
                        <div class="referralCode-text">
                            <div class="playerInfoRow">
                                <div class="playerInfoRowTitle" >邀請碼</div>                                    
                                <div class="playerInfoRowShow InvitationCode"> @InvitationCode.code </div> 
                                <button class="copyButton" @onclick=@(async ()=>{await CopyCode("inviteCode");})>複製</button> 
                                <div class="copyTip inviteCode">複製成功</div>
                            </div>
                            <div class="playerInfoRow">
                                <div class="playerInfoRowTitle" >邀請人數</div>                                    
                                <div class="playerInfoRowShow">@InvitationCode.invitedPeopleCount</div>  
                            </div>
                            <div class="playerInfoRow">
                                <div class="playerInfoRowTitle" >邀請人</div>                                    
                                <div class="playerInfoRowShow"><span>@InvitationCode.whoInvited</span> / <span>邀請人名</span></div>  
                            </div>
                        </div>   
                    </div>
                    @*按鈕區*@
                    <div class="referralCode-button">
                        <button class="editButton"  @onclick=@(async ()=>{await CopyCode("inviteLink");})>
                            <img src="/images/Myprofile/copy.png" alt="">
                            <p>複製連結</p>
                            <div class="copyTip inviteLink">複製成功</div>
                        </button>
                        <button class="editButton" >
                            <img src="/images/Myprofile/download.png" alt="">
                            <p>下載名片</p>
                            <div class="copyTip">複製成功</div>
                        </button>
                    </div>            
                </div>    
            </div>
        </div>
    </main>
}
@if(restResponse)
{
    <div class="referralCode-pop-container">
        <div class="referralCode-pop">
            <p>請完成錢包綁定</p>
            <a href="/GettingStarted/connect-game-account">  前往綁定 </a>
        </div>
    </div>
}
@code {
    [Parameter]
    public string UserID { get; set; }
    InvitationCodeDto InvitationCode { get; set; }
    bool restResponse { get; set; }
    string QRCodeByte;

    protected override async Task OnInitializedAsync()
    {

    }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            GetInvitationCode();

        }
    }


    /// <summary>
    /// 取得驗證碼 ，如果沒有畫面請確認 UserID 是否有值
    /// </summary>
    /// <returns></returns>
    private async Task GetInvitationCode()
    {
        //string UserID = AppState.LoginStatus.userID.ToString();
        InvitationCode = await InventoryService.GetInvitationCode(UserID);
        restResponse= await InventoryService.GetInvitationResponse(UserID);     
        if (InvitationCode.code != null)
        {            
            QRCodeByte = await InventoryService.CreateQrCode(InvitationCode.code);
        }
        StateHasChanged();
    }




    private async Task CopyCode(string value)
    {
        string code =  InvitationCode.code;
        await JS.InvokeVoidAsync("textCopy" , value);
        await JS.InvokeVoidAsync("copyTip","."+value);
    }


}
