@using SnakeAsianLeague.Pages.Myprofile.Components.Index_Components

@inject IJSRuntime JS
<head>
    <link href="css/Myprofile/SRCExchange.css" rel="stylesheet" />     
  
</head>

<div class="SRCExchange-container">
    <h2 class="SRCExchange-h2">SRC exchange</h2>
    <div class="coinView-container">
        <p class="coinView-Minimum">
            Minimum: 1 SRC
        </p>
        <p class="coinView-GameWalletText">
            From Game Wallet 
        </p>
        
        <div class="changeCoinZone">
            @*貨幣文字區塊*@
            <div class="coin-TextZone">
                <div class="coin-Zone">
                    <p class="exchangeRate">
                       
                    </p>
                    <div class="coin-type">
                        SRC
                        <img src="/images/Myprofile/SRCExchange/SRC.webp"/>
                    </div>
                    <p id="SRCTotalBalance" class="avaliable">avaliable to swap: 978.1234</p>

                </div>
                <div class="coin-Zone">
                    <div class="address-text">
                        <p class="toPolygon">
                            To Polygon Wallet
                            <span class="user-address">
                                0x1231561561489451
                            </span>
                        </p>                   
                    </div>
                </div>
                <div class="coin-Zone">
        
                    <div class="coin-type">
                        <button @onclick="AddUSDT" src="/images/Myprofile/SRCExchange/addCoin.png"></button>
                        USDT
                        
                        <img src="/images/Myprofile/SRCExchange/tether-usdt-logo.png"/>
                    </div>
                    <p id="USDTTotalBalance" class="avaliable">Total Balance:</p>

                </div>
            </div>
            @*貨幣數字區塊*@
            <div class="coin-NumZone">
                <div class="coin-Zone">
                    <p class="exchangeRate" id="swapRate">
                         =$@SwapRate
                    </p>
                    <input class="coin-Num" value=@SRCInput @onchange="(e)=>{SRCInputChange(e);}"/>
                     

                </div>
                <div class="coin-Zone">
                    <div class="arrow-zone">
                        <img class="arrow-img" src="/images/Myprofile/SRCExchange/Arrow.png"/>
                        <button class="maxBTN miniSizeBtn">MAX</button>
                    </div>
                </div>
                <div class="coin-Zone">         
                    <input class="coin-Num" value=@USDTInput @onchange="(e)=>{USDTInputChange(e);}"/>
                      
                    

                </div>
            </div>
            @*最大按鈕區塊*@
            <div class="coin-MaxZone">
                 <div class="coin-Zone">
                 <div class="maxBTN-Zone">
                     <button class="maxBTN">MAX</button>
                 </div>
                    
                 </div>
            </div>
        </div>

    </div>
    <div class="Btn-container">
       @* <button @onclick = "SwapToggleClick" > toggle exchange</button>*@
        @if (inputBalance)
        {
            <button id="SwapBTN" class="SwapBTN">Swap</button>
        }
        else
        {
             <div class="SwapBTN SwapBTN-black">Swap</div>
        }
       
        <button class="greenBTN" @onclick="AddPolygon">Switch to Polygon </button>
        <button class="greenBTN" @onclick="loginButtonClick">Connect to Game</button>

    </div>

</div>


 @if(SwapToggle){
     <ProductsPopup Value="#SwapBTN"  Confirm ="confirm">       
        Comfirm to Swap <span> @SRCInput </span> SRC to <span>  @USDTInput </span>  USDT?       
    </ProductsPopup>
 }else{
<ProductsPopup Value="#SwapBTN"  Confirm ="confirm">            
        Comfirm to Swap <span> @USDTInput </span> USDT to <span> @SRCInput </span>  SRC?      
</ProductsPopup>
}

@code {
    bool inputBalance =true;
    string[] web3jsData ;


    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {

            web3jsData = await JS.InvokeAsync<string[]>("RinkebyWeb3JS");
            SwapRate =Double.Parse(web3jsData[2]) ;

        }
    }


    protected async Task confirm(){ 
        await JS.InvokeVoidAsync("web3JSConfirm",SwapToggle,SRCInput,USDTInput);
    }


    Double SRCInput = 0;
    Double USDTInput = 0;
    Double SwapRate = 0.5;
    bool SwapToggle = true;

    public void SRCInputChange(ChangeEventArgs value)
    {
        SRCInput = double.Parse(value.Value.ToString());
        USDTInput = SRCInput * SwapRate;
    }

    public void USDTInputChange(ChangeEventArgs value)
    {
        USDTInput = double.Parse(value.Value.ToString());
        SRCInput = USDTInput / SwapRate;
    }

    public void ecchangeToggleClick()
    {
        SwapToggle = !SwapToggle;
    }




    //切換並新增Polygon
    protected  async Task AddPolygon()
    {      
        await JS.InvokeVoidAsync("AddPolygonID");            
    }
    ////新增登入功能
    private async Task loginButtonClick()
    {
        await JS.InvokeVoidAsync("loginButton", "loginButton");
    }
    //新增USDT
    protected  async Task AddUSDT()
    {      
        await JS.InvokeVoidAsync("AddPolygonUSDT");            
    }

   
    
}
