<head>
    <link href="css/MyProfile/SRCgift.css" rel="stylesheet" />   
    <link href="css/Inventory.css" rel="stylesheet" />   
</head>
<div class="Inventory">
        <div class="Secend-Block">
            <div class="Secend-Title" data-i18n="Inventory_data:otherTitle.Inventory">Inventory</div>
            <div class="Secend-Inner" id="">

                <NFT_Type />

            </div>
        </div>
                 
    <div class="Inventory-PPSR-Block" id="Inventory-PPSR-Block">
   
    
        <div class="Inventory-CardBLock">
    
            <div class="NFTcard card-bg-red">
   

                <a class="NFTcardA" href="" >
                    @*<a href="@item.LinkURL" target="opensea">  </a>*@

                    <div class="NFTcard-inner">
                        <div class="NFT-cardImg">
                            <img src="" alt="" >
                            <div class="NFTcard-remark tippy-pop" data-content="This PPSR is temporarily under maintenance." data-i18n="Inventory_data:NFTDetails.UnderMaintenance;[data-content]Inventory_data:NFTDetails.PPSRmaintenance">Under Maintenance</div>
                        </div>

                        <div class="NFT-cardText Not-Price-Ver">

                        </div>
                                                   
                    </div> 

                                                 
                </a>
                    @*.................首拍拿掉的部分...................... *@
                    @*.................tag 區域...................... *@
             @*   <div class="tag-zone">                                                   
                        <div class="NFT-Label-block">
                            <div class="NFT-Label">@item.RarityValue</div>
                           
                            <div class="NFT-Label">Survival master</div>
                        </div>
                </div>*@
                    @*....................................... *@
                        @*....................................... *@
            </div>





                       
        </div>








    </div>


    </div>
@code {

}
