@inject IJSRuntime JS
@using SnakeAsianLeague.Pages.Myprofile.Components.MyAwardNotice_Components
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="css/Myaccount.css" rel="stylesheet" />
    <link href="css/MyAwardNotice.css" rel="stylesheet" />
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <title>PonPonSnake 碰碰蛇｜領獎通知</title>
</head>

   <div class="myAwardNotice_Background"></div>
    <div class="myAwardNotice">
        
        <div class="myAwardNoticeTitle" data-i18n="Sidebar.Reward">Reward</div>


        @* <div class="blockTitle">
            <img src="/images/Index/title_bg.webp" alt="" class="title_bg">
            <div class="title_BG">
                <p>領獎<br>通知</p>
            </div>
        </div> *@

        <div class="myAwardNotice_block">
            <MyAwardNotice_Detail />
        </div>
        
    </div>



@code {
        protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {            
     
            await JS.InvokeVoidAsync("installI18n");

           
        }
    }
}
