<div class="NewStory03 owl-carousel owl-theme owl-loaded" id="character">

    <div class="NewStory03_carousel item" id="NewStory03_carousel_01">
        <div class="NewStory03_left">
            <img src="/images/OfficialWeb/hero_introduction_01.png" alt="" class="NewStory03_left_img">
        </div>

        <div class="NewStory03_right" id="character_bg_1">
            <div class="NewStory03_right_block">
                <div class="NewStory03_right_txt">

                    <div class="NewStory03_right_txt_01">
                        <div class="div_01" data-i18n="[html]carousel_01.div_01">角色：西莉卡<br>
                            蛇蛇：德芙娜奇<br>
                            性別：女</div>
                        <div class="div_02" data-i18n="[html]carousel_01.div_02">年齡：15<br>
                            武器：騎士長槍<br>
                            國家：法蘭
                        </div>
                    </div>

                    <div class="NewStory03_right_txt_02">
                        <p data-i18n="[html]carousel_01.introduction">克雷亞的雙胞胎妹妹，從小生長在鄉村，5歲那年走失，被王國騎士團長領養後，便在王城長大。個性開朗積極，具正義感，品學兼優卻超級不擅長廚藝，常常製造黑暗料理。完美的形象男女通吃，是許多人心中的女神。從小展現的能力十分出眾，一直都是菁英階級，是本屆最矚目的新星騎士之一。
                            速度型騎士，美好的一天從早餐開始～
                        </p>
                    </div>

                </div>

                <div class="Knight_skills_block">
                    <div class="Knight_skills">
                        <p data-i18n="[html]carousel_01.Knight_skills_01">光明包覆</p>
                        <img src="/images/OfficialWeb/Knight_skills_1-1.png" alt="" class="Knight_skills_img">
                    </div>
                    <div class="Knight_skills">
                        <p data-i18n="[html]carousel_01.Knight_skills_02">破曉之耀</p>
                        <img src="/images/OfficialWeb/Knight_skills_1-2.png" alt="" class="Knight_skills_img">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="NewStory03_carousel item" id="NewStory03_carousel_02">
        <div class="NewStory03_left">
            <img src="/images/OfficialWeb/hero_introduction_02.png" alt="" class="NewStory03_left_img">
        </div>

        <div class="NewStory03_right" id="character_bg_2">
            <div class="NewStory03_right_block">
                <div class="NewStory03_right_txt">

                    <div class="NewStory03_right_txt_01">
                        <div class="div_01" data-i18n="[html]carousel_02.div_01">角色：克雷亞<br>
                            蛇：德斯那奇<br>
                            性別：男</div>
                        <div class="div_02" data-i18n="[html]carousel_02.div_02">年齡：15<br>
                            武器：騎士長槍<br>
                            國家：法蘭
                        </div>

                    </div>

                    <div class="NewStory03_right_txt_02">
                        <p data-i18n="[html]carousel_02.introduction">西莉卡的雙胞胎哥哥，從小生長在鄉村，5歲那年兄妹分散，15歲來到王城，加入王國騎士團。個性溫和正向，具正義感，暖男類型，擅長廚藝。熱心助人的個性很容易被騙，不過只要不影響他原則，吃點虧無所謂。為了能盡快趕上妹妹，勤奮地不停鍛鍊，是本屆最矚目的新星騎士之一。也是個隱性妹控。力量型騎士，力量是為了守護而存在。
                        </p>
                    </div>

                </div>

                <div class="Knight_skills_block">
                    <div class="Knight_skills">
                        <p data-i18n="[html]carousel_02.Knight_skills_01">夜幕包覆</p>
                        <img src="/images/OfficialWeb/Knight_skills_2-1.png" alt="" class="Knight_skills_img">
                    </div>
                    <div class="Knight_skills">
                        <p data-i18n="[html]carousel_02.Knight_skills_02">夜影強襲</p>
                        <img src="/images/OfficialWeb/Knight_skills_2-2.png" alt="" class="Knight_skills_img">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="NewStory03_carousel item" id="NewStory03_carousel_03">
        <div class="NewStory03_left">
            <img src="/images/OfficialWeb/hero_introduction_03.png" alt="" class="NewStory03_left_img">
        </div>

        <div class="NewStory03_right" id="character_bg_3">
            <div class="NewStory03_right_block">
                <div class="NewStory03_right_txt">

                    <div class="NewStory03_right_txt_01">
                        <div class="div_01" data-i18n="[html]carousel_03.div_01">角色：路西法<br>
                            蛇蛇：格萊那奇<br>
                            性別：男</div>
                        <div class="div_02" data-i18n="[html]carousel_03.div_02">年齡：18<br>
                            武器：大劍<br>
                            國家：諾德公國
                        </div>

                    </div>

                    <div class="NewStory03_right_txt_02">
                        <p data-i18n="[html]carousel_03.introduction">諾德公國貴族出身，小時候曾被父母送到法蘭學習一段時日，與維納斯熟識。
                            自來熟，愛耍帥，還帶點中二的個性，讓他從小就被維納斯慘虐。其實十分善良，默默幫助許多弱勢的人們。為了配合蛇蛇造型特地在裝備上加裝了翅膀。雖然個性外向，但被誇獎時反而會手足無措，M屬性男孩。
                            重力型騎士，沒有敵人可以越過我的大劍！！！
                            （我的實力就是令人如此窒息）
                        </p>
                    </div>

                </div>

                <div class="Knight_skills_block">
                    <div class="Knight_skills">
                        <p data-i18n="[html]carousel_03.Knight_skills_01">重力控制</p>
                        <img src="/images/OfficialWeb/Knight_skills_3-1.png" alt="" class="Knight_skills_img">
                    </div>
                    <div class="Knight_skills">
                        <p data-i18n="[html]carousel_03.Knight_skills_02">重力禁錮</p>
                        <img src="/images/OfficialWeb/Knight_skills_3-2.png" alt="" class="Knight_skills_img">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="NewStory03_carousel item" id="NewStory03_carousel_04">
        <div class="NewStory03_left">
            <img src="/images/OfficialWeb/hero_introduction_04.png" alt="" class="NewStory03_left_img">
        </div>

        <div class="NewStory03_right" id="character_bg_4">
            <div class="NewStory03_right_block">
                <div class="NewStory03_right_txt">

                    <div class="NewStory03_right_txt_01">
                        <div class="div_01" data-i18n="[html]carousel_04.div_01">角色：溫蒂妮<br>
                            蛇蛇：波波娜奇<br>
                            性別：女</div>
                        <div class="div_02" data-i18n="[html]carousel_04.div_02">年齡：不詳<br>
                            武器：魔法球<br>
                            國家：德拉聯邦
                        </div>

                    </div>

                    <div class="NewStory03_right_txt_02">
                        <p data-i18n="[html]carousel_04.introduction">來自德拉聯邦的溫蒂妮島，現任法蘭神殿神官，樣貌是女孩，但年齡應該有三位數。傳說是上上代的女王請來的。
                            精靈種族，有飄浮飛行能力，可以控制水元素。超級愛錢，販售謎之飲料就是為了賺錢。溫柔親和的大姐姐個性（如果你沒騙她錢的話），喜愛照顧幼小。
                            遠程輔助型，多喝水沒事，沒事多喝水。
                        </p>
                    </div>

                </div>

                <div class="Knight_skills_block">
                    <div class="Knight_skills">
                        <p data-i18n="[html]carousel_04.Knight_skills_01">生命之水</p>
                        <img src="/images/OfficialWeb/Knight_skills_4-1.png" alt="" class="Knight_skills_img">
                    </div>
                    <div class="Knight_skills">
                        <p data-i18n="[html]carousel_04.Knight_skills_02">治療之潮</p>
                        <img src="/images/OfficialWeb/Knight_skills_4-2.png" alt="" class="Knight_skills_img">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="NewStory03_carousel item" id="NewStory03_carousel_05">
        <div class="NewStory03_left">
            <img src="/images/OfficialWeb/hero_introduction_05.png" alt="" class="NewStory03_left_img">
        </div>

        <div class="NewStory03_right" id="character_bg_5">
            <div class="NewStory03_right_block">
                <div class="NewStory03_right_txt">

                    <div class="NewStory03_right_txt_01">
                        <div class="div_01" data-i18n="[html]carousel_05.div_01">角色：維納斯<br>
                            蛇蛇：安婕娜奇<br>
                            性別：不詳</div>
                        <div class="div_02" data-i18n="[html]carousel_05.div_02">年齡：18<br>
                            武器：長槍<br>
                            國家：法蘭
                        </div>

                    </div>

                    <div class="NewStory03_right_txt_02">
                        <p data-i18n="[html]carousel_05.introduction">法蘭帝國的第一皇女，是下任女王繼承人。從小受皇家教育長大，責任與使命感很重。路西法的青梅竹馬。外表看起來是嬌柔的女孩子，但性別一直受到外界的質疑，不過不影響其高貴的氣質。女王重點培養對象，但似乎養成了工作狂的個性。戰鬥招式神聖華麗，為了皇室榮譽而戰。
                            速度型騎士，解決不了問題就解決製造問題的人。
                        </p>
                    </div>

                </div>

                <div class="Knight_skills_block">
                    <div class="Knight_skills">
                        <p data-i18n="[html]carousel_05.Knight_skills_01">優雅戰技</p>
                        <img src="/images/OfficialWeb/Knight_skills_5-1.png" alt="" class="Knight_skills_img">
                    </div>
                    <div class="Knight_skills">
                        <p data-i18n="[html]carousel_05.Knight_skills_02">天空之眼</p>
                        <img src="/images/OfficialWeb/Knight_skills_5-2.png" alt="" class="Knight_skills_img">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@code {

}
