<div class="newBlock04" id="knight_adventure">
    <div class="newBlock04_1">
        <div class="newBlock04Txt" id="newBlock04Txt_01" data-i18n="[html]knight_adventure.txt_01">
            <div class="Txt_line"><span class="Txt_big">騎士</span></div><br>
            <span class="Txt_little">從</span>
            <span class="Txt_middle">五大國度</span>
            <span class="Txt_little">前來</span><br>
            <span class="Txt_little">不同特性及性格的騎士</span>
        </div>
        @* 想直接切換div *@
        @* <div class="newBlock04Txt" id="newBlock04Txt_01_EN" data-i18n="[html]knight_adventure.txt_01">
            <div class="Txt_line"><span class="Txt_big">English</span></div><br>
            <span class="Txt_little">English</span>
            <span class="Txt_middle">English</span>
            <span class="Txt_little">English</span><br>
            <span class="Txt_little">English</span>
        </div> *@

        <div class="knight_icon_block">
            <img class="knight_icon" data-aos="zoom-in-left" data-aos-duration="500" data-aos-delay="300"
                src="/images/OfficialWeb/knight_icon_01.png" alt="">
            <img class="knight_icon" data-aos="zoom-in-left" data-aos-duration="500" data-aos-delay="600"
                src="/images/OfficialWeb/knight_icon_02.png" alt="">
            <img class="knight_icon" data-aos="zoom-in" data-aos-duration="500" data-aos-delay="900"
                src="/images/OfficialWeb/knight_icon_03.png" alt="">
            <img class="knight_icon" data-aos="zoom-in-right" data-aos-duration="500" data-aos-delay="1200"
                src="/images/OfficialWeb/knight_icon_04.png" alt="">
            <img class="knight_icon" data-aos="zoom-in-right" data-aos-duration="500" data-aos-delay="1500"
                src="/images/OfficialWeb/knight_icon_05.png" alt="">
        </div>
    </div>

    <div class="newBlock04_2">

        <div class="newBlock04Txt" id="newBlock04Txt_02" data-aos="zoom-out-right" data-aos-duration="500"
            data-aos-delay="300" data-i18n="[html]knight_adventure.txt_02">
            <span class="Txt_middle">區域</span><br>
            <div class="Txt_line"><span class="Txt_big">冒險</span></div>
            <span class="Txt_little">在孕育邪惡的無盡之海</span><br>
            <span class="Txt_little">打倒</span>
            <span class="Txt_middle">魔獸</span>
            <span class="Txt_little">吧</span>
        </div>

        <div class="newBlock04Txt" id="newBlock04Txt_03" data-aos="zoom-out-left" data-aos-duration="500" data-i18n="[html]knight_adventure.txt_03">
            <span class="Txt_middle">即時</span><br>
            <div class="Txt_line"><span class="Txt_big">對戰</span></div>
            <span class="Txt_little">線上即時與</span>
            <span class="Txt_middle">隊友</span>
            <span class="Txt_little">一同出戰</span>
        </div>
    </div>
</div>
@code {

}
