<div class="index01" id="index01">


    <div class="indexBlock">


        <img width="400" src="/images/OfficialWeb/LOGO.png" alt="" class="logo" data-i18n="[src]SnakeIndexlogo">


        <div class="index01_introduce">
            <p data-i18n="[html]introduce_01">碰碰蛇是一款在貪吃蛇為基礎的遊戲玩法上全新進化出獨特戰鬥玩法的3D角色扮演遊戲。</p>
            <p data-i18n="[html]introduce_02">初代勇者為了拯救世界而耗盡生命並與邪惡共同逝去，儘管他們的犧牲帶來了一段時間的和平，邪惡依然在暗處滋養茁壯，一對在森林迷路的兄妹即將繼承身為勇者的宿命以及接受先代勇者們的祝福，為了斯內克大陸的和平奉獻自己的力量。</p>
            <p data-i18n="[html]introduce_03">同時間各國的好手也似乎在為了邪惡再臨大地不斷修行，做足準備。</p>
            <p data-i18n="[html]introduce_04">選擇你最喜歡的騎士，在廣大的斯内克大陸上探險吧。</p>
        </div>

        <p class="index_txt">
            <!-- <span id="gameName">《碰碰蛇》</span><span>是一款以3D引擎製作的超酷炫貪吃蛇遊戲！</span> -->
            <span id="gameName" data-i18n="gameName">▼ 掃瞄或點擊下載 ▼</span>
        </p>
        <div class="QRcode">

            <a href="https://play.google.com/store/apps/details?id=com.cqigames.snakeknight" target="_blank">
                <img src="/images/OfficialWeb/Android_Download.png" alt="" class="Android_QRcode"></a>
            <a href="https://apps.apple.com/us/app/%E7%A2%B0%E7%A2%B0%E8%9B%87-2/id1504212624" target="_blank">
                <img src="/images/OfficialWeb/iOS_Download.png" alt="" class="iOS_QRcode"></a>
            <a href="https://ponponsnake.oss-cn-hangzhou.aliyuncs.com/PonPonSnake.apk" target="_blank">
                <img src="/images/OfficialWeb/aliyun_Download.png" alt="" class="aliyun_QRcode"></a>
            <a href="https://www.facebook.com/PonponSnake/" target="_blank">
                <img src="/images/OfficialWeb/Facebook.png" alt="" class="facebook_QRcode"></a>
        </div>

    </div>
</div>
@code {

}