@inject IJSRuntime JS
<div class="event_banner">
        @* @onclick="event_banner_SlideClick" *@
        <a class="" href="ACLIndexS2">
            <img class="event_banner_logo" id="" src="/images/AsiaChampionsLeague/S2/ACL_S2_LOGO.png" alt="">
        </a>
        @* <img class="event_banner_chinese_border" id="event_banner_chinese_border" src="/images/LunarNewYear/chinese_border.png" alt=""> *@

        <div id="event_banner_close" @onclick="eventBannerCloseClick">
            <img src="/images/OfficialWeb/event_banner/event_banner_close.png" alt="">
        </div>

        
        <a class="event_link" href="ACLIndexS2">
            <div class="event_banner_bg">
                <div class="shine"></div>
                @* <img class="event_banner_img"  id="event_banner_img_xmas"src="/images/OfficialWeb/event_banner/event_banner_xmas.png" alt=""> *@
                <div class="event_banner_txt">
                    @* <p class="goToEvent_date">2022 / 1 / 24 ~ 2 / 8</p> *@
                    @* <p class="Event_name">2022<br>ASIA CHAMPIONS LEAGUE S2</p> *@
                    <img class="event_banner_title" id="" src="/images/OfficialWeb/event_banner/ASIA CHAMPIONS LEAGUE-2022.png" alt="">
                    @* <p>好禮歡樂送</p> *@
                    <div class="knight_icon_block banner_knight_icon_block">
                        <img class="knight_icon banner_knight_icon"
                            src="/images/OfficialWeb/knight_icon_01.png" alt="">
                        <img class="knight_icon banner_knight_icon" 
                            src="/images/OfficialWeb/knight_icon_02.png" alt="">
                        <img class="knight_icon banner_knight_icon" 
                            src="/images/OfficialWeb/knight_icon_03.png" alt="">
                        <img class="knight_icon banner_knight_icon" 
                            src="/images/OfficialWeb/knight_icon_04.png" alt="">
                        <img class="knight_icon banner_knight_icon" 
                            src="/images/OfficialWeb/knight_icon_05.png" alt="">
                    </div>
                </div>

                <div class="event_banner_goToEvent">
                    <div class="event_banner_goToEvent_pc">
                        <div class="event_banner_goToEvent_pc_txt">

                            @* <p>現正熱烈報名中</p>
                            <div id="timeCountdown"></div> *@
                        </div>

                        <a href="ACLIndexS2">
                            <div class="event_banner_goToEvent_pc_button">
                                Coming Soon...
                            </div>
                        </a>
                    </div>
                    <div class="event_banner_goToEvent_mobile">
                        <a href="LunarNewYear">
                        <img class="event_banner_button" src="/images/OfficialWeb/event_banner/event_button.png" alt="">
                        </a>
                        @* <p>報名 2 / 7 截止</p> *@
                    </div>
                </div>
            </div>
        </a>
    </div>
@code {
      private async Task eventBannerCloseClick()
    {
        await JS.InvokeVoidAsync("eventBannerClose");
    }
}
