@inject IJSRuntime JS
<div class="contact06" id="contact06">
    <div class="contactTitle" data-aos="fade-up" data-aos-duration="300">
        <p data-i18n="contact.title">意見回饋</p>
        <img src="/images/OfficialWeb/TitleLine.png" alt="" class="TitleLine">
    </div>

    <div class="contactForm" data-aos="fade-up" data-aos-duration="300">
        <form action="">
            <label for="userNickname">
                <input type="text" name="userNickname" id="userNickname" placeholder="請輸入姓名" data-i18n="[placeholder]contact.name">
            </label>
            <label for="email">
                <input type="email" name="" id="email" placeholder="請輸入e-mail" data-i18n="[placeholder]contact.mail">
            </label>
            <label for="phone">
                <input type="text" name="phone" id="phone" placeholder="請輸入手機號碼" data-i18n="[placeholder]contact.phone">
            </label>
            <label for="feedbackType">
                <input type="text" name="feedbackType" id="feedbackType" placeholder="請選擇回饋類型" data-i18n="[placeholder]contact.feedbackType">
            </label>
            <label for="content">
                <textarea name="content" id="content" cols="30" rows="10" placeholder="請輸入回饋內容" data-i18n="[placeholder]contact.content"></textarea>
            </label>
            <label for="sendMessageButton">
                <input type="button" value="送出" id="sendMessageButton" @onclick="SendFeedbackClick" data-i18n="[value]contact.send">
            </label>

        </form>
    </div>
</div>
@code {
      private async Task SendFeedbackClick()
    {
        await JS.InvokeVoidAsync("Feedback", "Feedback");
    }
}
