<div class="index01" id="index01">


    <div class="indexBlock">


        <img width="400" src="/images/OfficialWeb/LOGO.webp" alt="" class="logo" data-i18n="[src]SnakeIndexlogo">


        <div class="index01_introduce">
            <p data-i18n="[html]introduce_01"></p>
            <p data-i18n="[html]introduce_02"></p>
            <p data-i18n="[html]introduce_03"></p>
            <p data-i18n="[html]introduce_04"></p>
        </div>

        <p class="index_txt">
            <!-- <span id="gameName">《碰碰蛇》</span><span>是一款以3D引擎製作的超酷炫貪吃蛇遊戲！</span> -->
            <span id="gameName" data-i18n="gameName">▼ Scan or tap to download ▼</span>
        </p>
        <div class="QRcode">

            <a href="https://play.google.com/store/apps/details?id=com.cqigames.snakeknight" target="_blank">
                <img src="/images/OfficialWeb/Android_Download.webp" alt="" class="Android_QRcode"></a>
            <a href="https://apps.apple.com/us/app/%E7%A2%B0%E7%A2%B0%E8%9B%87-2/id1504212624" target="_blank">
                <img src="/images/OfficialWeb/iOS_Download.webp" alt="" class="iOS_QRcode"></a>
            <a href="https://ponponsnake.oss-cn-hangzhou.aliyuncs.com/PonPonSnake.apk" target="_blank">
                <img src="/images/OfficialWeb/aliyun_Download.webp" alt="" class="aliyun_QRcode"></a>
            <a href="https://www.facebook.com/PonponSnake/" target="_blank">
                <img src="/images/OfficialWeb/Facebook.webp" alt="" class="facebook_QRcode"></a>
        </div>

    </div>
</div>
@code {

}