<div class="video05" id="video05">
    <div class="video05_all">
        <div class="videoTitle" data-aos="fade-up" data-aos-duration="500">
            <p data-i18n="videoTitle">遊戲影片</p>
            <img src="/images/OfficialWeb/TitleLine2.png" alt="" class="TitleLine">
        </div>



        <div class="videoArea">
            <div class="videoBlock" data-aos="fade-up" data-aos-duration="500">
                <iframe src="https://www.youtube.com/embed/pSZ3Z3qEe2Q" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>


            <div class="videoDownload" data-aos="fade-up" data-aos-duration="500">
                <p data-i18n="gameDownload">遊戲下載點</p>
                <div class="Download_QRcode">
                    <a href="https://play.google.com/store/apps/details?id=com.cqigames.snakeknight"
                        target="_blank">
                        <img src="/images/OfficialWeb/Android_Download.png" alt="Android_QRcode" class="Android_QRcode"></a>
                    <a href="https://apps.apple.com/us/app/%E7%A2%B0%E7%A2%B0%E8%9B%87-2/id1504212624"
                        target="_blank">
                        <img src="/images/OfficialWeb/iOS_Download.png" alt="iOS_QRcode" class="iOS_QRcode"></a>
                    <a href="https://ponponsnake.oss-cn-hangzhou.aliyuncs.com/PonPonSnake.apk" target="_blank">
                        <img src="/images/OfficialWeb/aliyun_Download.png" alt="aliyun_QRcode" class="aliyun_QRcode"></a>
                </div>
            </div>

        </div>
    </div>
</div>
@code {

}
