@page "/"
@inject IJSRuntime JS
@using SnakeAsianLeague.Pages.FrontPage.Components
<head>
    <title>PonPonSnake 碰碰蛇｜首頁</title>
    <link href="/css/FrontPage/FrontPage.css" rel="stylesheet" />
</head>

<FrontPage_Start/>
<FrontPage_About/>
<FrontPage_Earn/>
@* <FrontPage_Travel /> *@
<FrontPage_Charactors/>
<FrontPage_Clips/>
@code {

}
