@inject IJSRuntime JS

<head>
    <link href="/css/FrontPage/FrontPage_About.css" rel="stylesheet" />
</head>

<div class="About">
    <div class="About-Container">
       
        <img class="topCloud" src="/images/FrontPage/About/topCloud.png" />
        <div class ="text-Container">
            <div class="reel-Container">  
                
                    <div class="reel-Paper">
                        <div class="Paper-BG">
                            <h3>
                                About
                            </h3>
                            <div class="Paper-BG-Line">
                                <img  src="/images/FrontPage/About/LineBar.png"/>
                            </div>
                
                            <p>
                                PonPonSnake is a Play to earn game based on the classic arcade snake but evolved with a unique play style.
                                <br />
                                 <br />
                                The great hero sacrificed themself to protect the world and drive the evil back away to the darkness. Although their dedication and exertion have brought temporary peace to the Itza world. But the evil hiding in the shadow still seeks for change to rise again. As for the new hope, a young twin who was lost in the forest is about to carry the duty of heroes who all came before them and accept it as their destiny.
                                <br />
                                 <br />
                                In the meantime, skilled riders across the Great Snake World are also preparing for the returning evil.
                                <br />
                                 <br />
                                Choose your favorite Snake Rider and enjoy your adventure at the Great Snake World!
                            </p>
                        </div>
                    </div>
                    <img class="reel-Bar" src="/images/FrontPage/About/reelBar.webp" />             
                    <img class="reel-grandpa" src="/images/FrontPage/About/grandpa.png" />
              
            </div>
            <div class="dialog">
                <div class="dialog-Container">
                    <p class="pl-center">
                        Explore the treasure
                    </p>
                    <a href="/MarketPlace">
                        <p class="pl-end ">
                            Marketplace >>
                        </p>
                    </a>
                </div>
      
            </div>       
        </div>
        <img class="about-bottom" src="/images/FrontPage/About/about-bottom.png"/>
    </div>
</div>
@code {
        private IJSObjectReference? ScrollMagicSetJS;
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            ScrollMagicSetJS = await JS.InvokeAsync<IJSObjectReference>("import","./JavaScript/FrontPage/ScrollMagicSet.js");
            await ScrollMagicSetJS.InvokeVoidAsync("AboutReel");
        }
    }
}
