@inject IJSRuntime JS

<head>
    <link href="/css/FrontPage/FrontPage_Earn.css" rel="stylesheet" /> 
</head>

<div class="Earn">
    <div class="FrontPage-Title" id="FrontPage-Title-01">
        <img src="/images/FrontPage/FrontPage-Title-01.webp" alt="">
    </div>

    @* <div class="Earn-Title">
        <div>
            <!-- Play to Earn! -->
        </div>
    </div> *@
    <div class="flagZone">
         <div class="flag-768-down">     
           <div class="flagReel-Container">          
                <div class="flagReel-Paper">
                    <div class="flagPaper-BG">
                        <h3>
                            ERNC
                        </h3>
                        <div class="flagPaper-BG-Line">
                            <img  src="/images/FrontPage/About/LineBar.png"/>
                        </div>
                
                        <p class="flagReel-Text">
                            ERNC is main market crypto token for PonPonSnake. 
                            Players can earn ERNC by playing and participating  in our Arena. 
                            <br/>
                            <br/>
                            Also, ERNC owners have rights to decide the future of the game!
                        </p>
                        @*<p class="flagReel-LearnMore">
                            Learn more >>
                        </p>*@
                        <div class="flagPaper-BG-button">
                              <a href ="/GameFi"> <button>Earn more ERNC</button></a>   
                        </div>
                       
                    </div>
                </div>
                <img class="flagReel-Bar" src="/images/FrontPage/About/reelBar.webp" />             
        
            </div>

            <div class="FlagLine">
                <img class="FlagLine-1" src="/images/FrontPage/Earn/Line 75.png"/>
                <img class="FlagLine-2" src="/images/FrontPage/Earn/Line 75.png"/>
            </div>
        </div>

        <div class="bonusFlag">
            <div class="jumpMomey" id= 'jumpMomey'>

            </div>
            <p>Total Supply</p>
        </div>
        <div class="flag-768-up">
            <div class="FlagLine">
                <img class="FlagLine-1" src="/images/FrontPage/Earn/Line 75.png"/>
                <img class="FlagLine-2" src="/images/FrontPage/Earn/Line 75.png"/>
            </div>
     
           <div class="flagReel-Container">          
                <div class="flagReel-Paper">
                    <div class="flagPaper-BG">
                        <h3>
                            ERNC
                        </h3>
                        <div class="flagPaper-BG-Line">
                            <img  src="/images/FrontPage/About/LineBar.png"/>
                        </div>
                
                        <p class="flagReel-Text">
                            ERNC is main market crypto token for PonPonSnake. 
                            Players can earn ERNC by playing and participating  in our Arena. 
                            <br/>
                            <br/>
                            Also, ERNC owners have rights to decide the future of the game!
                        </p>
                      @*<p class="flagReel-LearnMore">
                            Learn more >>
                        </p>*@  
                        <div class="flagPaper-BG-button">
                           <a href ="/GameFi"> <button>Earn more ERNC</button></a>   
                        </div>
                       
                    </div>
                </div>
                <img class="flagReel-Bar" src="/images/FrontPage/About/reelBar.webp" />             
        
            </div>
        </div>
    </div>



</div>
@code {
    private IJSObjectReference? jumpMoneyJS;
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            jumpMoneyJS = await JS.InvokeAsync<IJSObjectReference>("import","./JavaScript/FrontPage/jumpMoney.js");
            await jumpMoneyJS.InvokeVoidAsync("jumpMoney",269990000,270000000);
        }
    }
}
