@inject IJSRuntime JS
<div class="indexBG">
        <div class="QRcode_fixed" @onclick="QRcode_SlideClick" data-aos="fade-up"  data-aos-duration="500" data-aos-delay="1100">
            <div class="QRcode_fixed_top">
                <button class="QRcode_fixed_button">
                    <p>下載遊戲</p>
                </button>

                <img id="QRcode_arrow_down" src="/images/Prize/arrow_down.png" alt="">
            </div>
            <div class="QRcode_Slide">
                <a class="QRcode" href="https://play.google.com/store/apps/details?id=com.cqigames.snakeknight"
                        target="_blank">
                        <img src="./images/Description/Android_Download.png" alt=""></a>
                    <a class="QRcode" href="https://apps.apple.com/us/app/%E7%A2%B0%E7%A2%B0%E8%9B%87-2/id1504212624"
                        target="_blank">
                        <img src="./images/Description/iOS_Download.png" alt=""></a>
                    <a class="QRcode" href="https://ponponsnake.oss-cn-hangzhou.aliyuncs.com/PonPonSnake.apk"
                        target="_blank">
                        <img src="./images/Description/aliyun_Download.png" alt=""></a>
            </div>

        </div>
    <div class="mainBlock">
        <img src="images\Index\event_LOGO.png" alt="" id="event_Logo">
        <div class="ceter_kimlan_LOGO">
            <img src="images\Index\index_kimlan_LOGO.png" alt="" id="index_kimlan_LOGO">
            <img src="images\Index\index_yomi_LOGO.png" alt="" id="index_yomi_LOGO">
        </div>
        <img src="images\Index\SnakeACL_kimlan.png" alt="" id="SnakeACL_kimlan">
        @* <img src="images\Index\title_CN.png" alt="" id="title_CN"> *@
        @* <img src="images\Index\title_EN.png" alt="" id="title_EN"> *@
        
        
        <div id="signUpEvent_button">
            <a href="description#download_QRcode">
                <img src="/images/Index/signUpEvent_button.png" alt="">
                <span>報名參賽</span>
            </a>
        </div>
        
        <div class="watchLive">
            <div id="watchLive_button">
                <a href="#summary">
                    <img src="/images/Index/watchLive_button.png" alt="">
                    <span>賽事摘要</span>
                </a>
            </div>
            
            <svg class="arrows">
                <path class="a1" d="M0 0 L30 32 L60 0"></path>
                <path class="a2" d="M0 20 L30 52 L60 20"></path>
                <path class="a3" d="M0 40 L30 72 L60 40"></path>
            </svg>
        </div>

        

    </div>
</div>
@code {
    private async Task QRcode_SlideClick()
    {
        await JS.InvokeVoidAsync("QRcode_Slide", "QRcode_Slide");
    }
}
