<div class="summary_bg">
    <div class="summary" id="summary">

        <div class="TitleTimeline">

            <div class="index_blockTitle" data-aos="fade-left">
                <img src="/images/Index/title_bg.webp" alt="" class="title_bg">
                <div class="title_BG">
                    <p>賽事<br>摘要</p>
                </div>
            </div>


            <div class="timeline" data-aos="fade-up" data-aos-duration="500" data-aos-delay="300">
                <div class="time">
                    @* <img src="/images/Description/SignUp_ICON_01.webp" alt=""> *@
                    <p><span id="index_timeline_01">報名時間 </span> 即日起 - 2021.12.10</p>
                </div>
                <div class="time">
                    @* <img src="/images/Description/SignUp_ICON_02.webp" alt=""> *@
                    <p><span id="index_timeline_02">比賽日期 </span> 2021.09.13 - 12.12</p>
                </div>
            </div>
        </div>

        <div class="summary_detail" id="summary_detail" data-aos="zoom-in-down" data-aos-duration="800" data-aos-delay="300">

            <div class="summary_area" id="summary_game_type">
                <div class="summary_cube_area" id="summary_cube_area_personal">
                    <div class="summary_cube" id="summary_cube_personal">
                        <p>個人競技</p>
                    </div>
                    <div class="summary_text">總獎勵40萬</div>
                    <div class="summary_text_little">28場總決賽</div>
                </div>

                <div class="summary_cube_area">
                    <div class="summary_cube" id="summary_cube_team">
                        <p>隊伍競技</p>
                    </div>
                    <div class="summary_text">總獎勵132萬</div>
                    <div class="summary_text_little">13場總決賽</div>
                </div>

            </div>
            <div class="" id="summary_right_arrow">
                <img src="./images/Index/summary_right_arrow.webp"  alt="">
            </div>

            <div class="" id="summary_top_arrow">
                <img src="./images/Index/summary_top_arrow.webp"  alt="">
            </div>
            <div id="summary_line_arrow"></div>

            <div class="summary_area" id="summary_area_rate_type">
                <div class="summary_rate_type">
                    <div class="summary_rate_type_cube" id="type_elite">
                        <img src="./images/Index/summary_icon_normal.webp" alt="">
                        <p>菁英賽</p>
                    </div>
                    <img src="./images/Index/summary_line.webp" id="summary_line" alt="">
                    <div class="summary_rate_type_cube_text">
                        <p>高額獎金賽制</p>
                        <span>搭配菁英禮包</span>
                    </div>
                </div>
                <div class="summary_rate_type">
                    <div class="summary_rate_type_cube" id="type_free">
                        <img src="./images/Index/summary_icon__free.webp" alt="">
                        <p>公益賽</p>
                    </div>
                    <img src="./images/Index/summary_line.webp" id="summary_line" alt="">
                    <div class="summary_rate_type_cube_text">
                        <span>開放所有玩家</span>
                        <p>免費報名</p>
                    </div>

                </div>
            </div>

        </div>


        <div class="watchLive description_down">
            <img id="summary_money" src="./images/Index/summary_money.webp" alt="" data-aos="flip-left" data-aos-duration="1000" data-aos-delay="300">

            <div id="watchLive_button">
                <a href="ACLIndex#video">
                    <img src="/images/Index/watchLive_button.webp" alt="">
                    <span>觀看直播</span>
                </a>
            </div>
            @* <img id="downArrow" src="/images/Index/downArrow.webp" alt=""> *@
            <svg class="arrows" id="summary_arrows">
                <path class="a1" d="M0 0 L30 32 L60 0"></path>
                <path class="a2" d="M0 20 L30 52 L60 20"></path>
                <path class="a3" d="M0 40 L30 72 L60 40"></path>
            </svg>
        </div>

    </div>
</div>
@code {

}
