<div class="videoBG">

    <div class="video" id="video">

        <div class="index_blockTitle" data-aos="fade-left" data-aos-delay="300">
            <img src="/images/Index/title_bg.webp" alt="" class="title_bg">
            <div class="title_BG">
                <p>觀看<br>直播</p>
            </div>
        </div>

        <div class="videoArea" id="videoArea">
            <div class="videoText" data-aos="fade-up">
                <h1>精彩賽事 ‧ 等你參與</h1>

                <div class="videoBlock">
                    <iframe src="https://www.youtube.com/embed/KGfxGW0mikg" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen>
                    </iframe>
                </div>
            </div>

            <div class="videoButton" data-aos="fade-up" data-aos-delay="100">
                <h1>點擊進入</h1>
                <div class="index_button_left">
                    <div class="video_btn" id="video_btn_youtube">
                        <a href="https://www.youtube.com/channel/UCknaYifA1xhXBqBO3KulIUw" target="_blank"><img
                                src="/images/Index/video_btn1.webp" alt=""></a>
                    </div>
                    <div class="video_btn" id="video_btn_twitch">
                        <a href="https://www.twitch.tv/ponponsnake" target="_blank"><img
                                src="/images/Index/video_btn2.webp" alt=""></a>
                    </div>

                </div>
            </div>

        </div>

        <div class="live_stream" data-aos="fade-up" data-aos-delay="300">
            <div class="live_host">
                <div class="live_title">合作直播頻道</div>

                <div class="guest_block">
                    <div class="guest" data-aos="flip-left" data-aos-delay="200" data-aos-duration="700">
                        <a class="guest_a" href="https://www.twitch.tv/firefly880605" target="_blank">
                            <img class="guest_picture" src="/images/Index/live_host_YU.webp" alt="">
                            <span class="guest_name">夜雨</span>
                        </a>
                    </div>
                    <div class="guest" data-aos="flip-left" data-aos-delay="200" data-aos-duration="700">
                        <a class="guest_a" href="https://www.twitch.tv/julia_lion" target="_blank">
                            <img class="guest_picture" src="/images/Index/live_host_MF.webp" alt="">
                            <span class="guest_name">咪妃</span>
                        </a>
                    </div>
                    <div class="guest" data-aos="flip-left" data-aos-delay="500" data-aos-duration="700">
                        <a class="guest_a" href="https://www.twitch.tv/dada_0124" target="_blank">
                            <img class="guest_picture" src="/images/Index/live_host_TT.webp" alt="">
                            <span class="guest_name">妲妲</span>
                        </a>
                    </div>
                    @* <div class="guest">
                        <a class="guest_a" href="https://www.twitch.tv/inkiiing" target="_blank">
                            <img class="guest_picture" src="/images/Index/live_host_LM.webp" alt="">
                            <span class="guest_name">小墨</span>
                        </a>
                    </div> *@
                    <div class="guest" data-aos="flip-left" data-aos-delay="500" data-aos-duration="700">
                        <a class="guest_a" href="https://www.twitch.tv/noriqvq" target="_blank">
                            <img class="guest_picture" src="/images/Index/live_host_RL.webp" alt="">
                            <span class="guest_name">酪梨</span>
                        </a>
                    </div>
                    <div class="guest" data-aos="flip-left" data-aos-delay="800" data-aos-duration="700">
                        <a class="guest_a" href="https://www.facebook.com/engineerhateworld/" target="_blank">
                            <img class="guest_picture" src="/images/Index/live_host_YS.webp" alt="">
                            <span class="guest_name">厭世工程師</span>
                        </a>
                    </div>
                    <div class="guest" data-aos="flip-left" data-aos-delay="800" data-aos-duration="700">
                        <a class="guest_a" href="https://www.twitch.tv/wenlobong" target="_blank">
                            <img class="guest_picture" src="/images/Index/live_host_WL.webp" alt="">
                            <span class="guest_name">玩樂幫</span>
                        </a>
                    </div>
                </div>

            </div>

        </div>

    </div>

</div>
@code {

}
