<div class="description_block" id="description_01">

    @* <div class="QRcode_fixed" @onclick="QRcode_SlideClick">
        <div class="QRcode_fixed_top">
            <button class="QRcode_fixed_button">
                <p>下載遊戲</p>
            </button>

            <img id="QRcode_arrow_down" data-src="/images/Prize/arrow_down.webp" alt="">
        </div>
        <div class="QRcode_Slide">
            <a class="fixed_QRcode" href="https://play.google.com/store/apps/details?id=com.cqigames.snakeknight"
                    target="_blank">
                    <img data-src="./images/Description/Android_Download.webp" alt=""></a>
                <a class="fixed_QRcode" href="https://apps.apple.com/us/app/%E7%A2%B0%E7%A2%B0%E8%9B%87-2/id1504212624"
                    target="_blank">
                    <img data-src="./images/Description/iOS_Download.webp" alt=""></a>
                <a class="fixed_QRcode" href="https://ponponsnake.oss-cn-hangzhou.aliyuncs.com/PonPonSnake.apk"
                    target="_blank">
                    <img data-src="./images/Description/aliyun_Download.webp" alt=""></a>
        </div>

    </div> *@

    <div class="introduction">

        <div class="introduction_text" data-aos-duration="1000" data-aos="fade-left">
            <p> 碰碰蛇亞洲聯賽即將開打，我們將聚集各地好手互相較勁，玩家可以透過進行多次個人與隊伍對戰，感受激烈的線上激戰，累積積分資格賽，並參與決賽，獲得高額獎勵，也可以透過決賽押注一同參與賽事氣氛。</p><br>
            <p>本次將採全新賽制系統與戰鬥系統，讓玩家可以盡情享受更刺激的舞台，並且爭取更多榮耀！</p>
        </div>
        <div class="introduction_box_all" data-aos-duration="1000" data-aos="fade-right">
            <div class="box">
                <img data-src="/images/Description/box1.webp" alt="">
            </div>
            <div class="box">
                <img data-src="/images/Description/box2.webp" alt="">
            </div>
            <div class="box">
                <img data-src="/images/Description/box3.webp" alt="">
            </div>
        </div>
    </div>

    <div class="watchLive description_down">
        <div id="watchLive_button">
            <a href="description#description_02">
                <img data-src="/images/Index/watchLive_button.webp" alt="">
                <span>查看詳情</span>
            </a>
        </div>
        @* <img id="downArrow" data-src="/images/Index/downArrow.webp" alt=""> *@
        <svg class="arrows">
            <path class="a1" d="M0 0 L30 32 L60 0"></path>
            <path class="a2" d="M0 20 L30 52 L60 20"></path>
            <path class="a3" d="M0 40 L30 72 L60 40"></path>
        </svg>
    </div>
</div>
@code {

}
