@page "/Cooperation_Banner"

@inject IJSRuntime JS

<head>
    <link href="/css/Cooperation/Cooperation_Banner.css" rel="stylesheet" />
</head>

<div class="Cooperation_Banner_Block">
    <div class="Cooperation_Banner">
        <img class="CooperationBanner-BG" src="/images/Cooperation/Cooperation_Banner/Cooperation_Banner.png"/>
        <img class="CooperationBanner-BG" id="yumi" src="/images/Cooperation/Cooperation_Banner/yumi.png"/>

        <div class="CooperationBanner-Gradient"></div>

        <div class="CooperationBanner-content">
            <div class="CooperationBanner-titleBlock">
                <img id="CooperationBanner-title" src="/images/Cooperation/Cooperation_Banner/CooperationBanner-TW.png"/>
                <img id="Title_base" src="/images/Cooperation/Cooperation_Banner/Title_base.png"/>
            </div>
            
            <div class="CooperationBanner-text">
                玩的到、買的到、製造更多的互動！<br>
                將你的NFT作品或是品牌融入碰碰蛇元宇宙
            </div>

            <div class="CooperationBanner-inputBlock">
                <div class="CooperationBanner-inputText">
                    <span>傳送OpenSea連結 &nbsp;&nbsp;</span>
                    <span>我們將與你聯繫</span>
                    </div>
                <div class="CooperationBanner-inputSend">
                    <input type="text" class="CooperationBanner-input">
                    <button class="CooperationBanner-button">Send</button>
                </div>
            </div>
        </div>

    </div>
</div>