
<head>    
    <link href="/css/Cooperation/Cooperation_WhyChoosePPS.css" rel="stylesheet" />
</head>
<div class="WhyChoosePPS-container">
    <div class="Cooperation-container">
        <div class="WhyChoosePPS-title">       
            <h3 data-i18n="Cooperation_data:choose.mainTitle">為什麼選擇碰碰蛇？</h3>
        </div>
        <div class="WhyChoosePPS-cardData-container">  
            @foreach(var item in cardData)
            {            
                <div class="WhyChoosePPS-cardData" style="background:url('@item.BgImg'); background-repeat:round;">
                    <h4 data-i18n="Cooperation_data:@item.title">
                        @item.title
                    </h4>
                    <p data-i18n="Cooperation_data:@item.content">
                        @item.content
                    </p>
                </div>
            }
        </div>
    </div>
</div>

@code {
    class CardData
    {
        public string title;
        public string content;
        public string BgImg;
        public CardData( string Title ,string Content,string BGImg )
        {
            title = Title;
            content = Content;
            BgImg = BGImg;
        }
    }
    List<CardData> cardData;
    protected override void OnInitialized()
    {
        cardData = new List<CardData>
        {
            new CardData("choose.title-01","choose.content-01","/images/Cooperation/Card1.png"),
            new CardData("choose.title-02","choose.content-02","/images/Cooperation/Card2.png"),
            new CardData("choose.title-03","choose.content-03","/images/Cooperation/Card3.png"),
        };
    }

}
