<head>
    <link href="/css/Cooperation/Cooperation_Banner.css" rel="stylesheet" />
</head>

<div class="Cooperation_Banner_Block">
    <div class="Cooperation_Banner">
        <img class="CooperationBanner-BG" src="/images/Cooperation/Cooperation_Banner/Cooperation_Banner.png" />
        <img class="CooperationBanner-BG" id="yomi" src="/images/Cooperation/Cooperation_Banner/yomi.png" />

        <div class="CooperationBanner-Gradient"></div>

        <div class="CooperationBanner-content">
            <div class="CooperationBanner-titleBlock">
                <img id="CooperationBanner-title-TW" data-i18n="[src]Cooperation_data:banner.title;[id]Cooperation_data:banner.id"
                    src="/images/Cooperation/Cooperation_Banner/CooperationBanner-EN.png" />
                <img id="Title_base" src="/images/Cooperation/Cooperation_Banner/Title_base.png" />
            </div>

            <div class="CooperationBanner-text" data-i18n="[html]Cooperation_data:banner.text">
                Play it, Buy it, Create more FUN!<br>
                Promote your NFT creations or brands in the Snake Snake Universe.
            </div>

            <div class="CooperationBanner-inputBlock">
                <div class="CooperationBanner-inputText">
                    @* <span>傳送OpenSea連結 &nbsp;&nbsp;</span>
                        <span>我們將與你聯繫</span> *@
                    <p>
                        <img id="mail-icon" 
                            src="/images/Cooperation/Cooperation_Banner/mail-icon.png" />
                        <span data-i18n="Cooperation_data:banner.mail">For more info, please email :</span> 

                    </p>
                    <span>chengyizhuo0519@gmail.com</span>
                </div>
                @* <div class="CooperationBanner-inputSend">
                    <input type="text" class="CooperationBanner-input">
                    <button class="CooperationBanner-button">Send</button>
                    </div> *@
            </div>
        </div>

    </div>
</div>