@inject IJSRuntime JS

<head>
    <link href="/css/Cooperation/Cooperation_Info.css" rel="stylesheet" />
</head>

<div class="Cooperation_Info">
    <div class="CooperationInfo-block">

        <div class="CooperationInfo-row" id="CooperationInfo-row-01">

            <div class="CooperationInfo-introduce" id="CooperationInfo-introduce-01">
                <div class="CooperationInfo-title" data-i18n="Cooperation_data:info.title-01">
                    開發你的NFT賦能
                </div>
                <div class="CooperationInfo-text" data-i18n="Cooperation_data:info.text-01">
                    <p>受夠了你的NFT只是一張圖嗎？想要開發更多的元宇宙可能性嗎？你的NFT與我們的蛇和騎士們可以迸出新滋味。你的NFT有機會成為我們遊戲內的角色、頭像、領地‥‥等。它將有各種可能性，也將成為更值得擁有的珍藏！
                    </p>
                </div>
            </div>

            <div class="CooperationInfo-picture" id="CooperationInfo-picture-01">
                @* <img class="Info-picture" id="Card-monkey-00" src="/images/Cooperation/Cooperation_Info/introduce1.png" alt=""> *@
                <img class="Info-picture" id="Card-monkey-01" src="/images/Cooperation/Cooperation_Info/Card-monkey-01.png" alt="">
                <img class="Info-picture" id="Card-monkey-02" src="/images/Cooperation/Cooperation_Info/Card-monkey-02.png" alt="">

            </div>

        </div>

        <div class="CooperationInfo-row" id="CooperationInfo-row-02">

            <div class="CooperationInfo-picture" id="CooperationInfo-picture-02">
                <img class="Info-picture" id="Card-ghost-00"  src="/images/Cooperation/Cooperation_Info/introduce2.png" alt="">
                <img class="Info-picture" id="Card-ghost-01" src="/images/Cooperation/Cooperation_Info/Card-ghost-01.png" alt="">
                <img class="Info-picture" id="Card-ghost-02" src="/images/Cooperation/Cooperation_Info/Card-ghost-02.png" alt="">
            </div>

            <div class="CooperationInfo-introduce" id="CooperationInfo-introduce-02">
                <div class="CooperationInfo-title" data-i18n="Cooperation_data:info.title-02">
                    我們歡迎任何形式的NFT合作
                </div>
                <div class="CooperationInfo-text">
                    <p data-i18n="Cooperation_data:info.text-02-01">擔心你的NFT不夠酷炫、太簡單、只有黑白線條、一堆疑難雜症嗎？</p>
                    <p data-i18n="Cooperation_data:info.text-02-02">不用擔心！碰碰蛇可以讓你的NFT搖身一變，讓它能以最華麗的姿態在遊戲發光發熱。我們歡迎任何樣子的NFT來合作，並以最專業的團對提供營運分針以及企劃設計。</p>
                </div>
            </div>

        </div>

        <div class="CooperationInfo-row" id="CooperationInfo-row-03">

            <div class="CooperationInfo-introduce" id="CooperationInfo-introduce-03">
                <div class="CooperationInfo-title" data-i18n="Cooperation_data:info.title-03">
                    NFT角色3D模組化
                </div>
                <div class="CooperationInfo-text">
                    <p data-i18n="Cooperation_data:info.text-03-01">• 由首席設計師設計的精美2D、3D角色</p>
                    <p data-i18n="Cooperation_data:info.text-03-02">• 在遊戲中可運用及可互動的生動角色</p>
                    <p data-i18n="Cooperation_data:info.text-03-03">• 可以收藏與割愛給喜歡這系列的收藏者</p>
                    <p data-i18n="Cooperation_data:info.text-03-04">• 讓精美又可愛的角色們為您推廣及代言</p>
                </div>
            </div>

            <div class="CooperationInfo-picture" id="CooperationInfo-picture-03">
                <img class="Info-picture" id="rider-00"src="/images/Cooperation/Cooperation_Info/introduce3.png" alt="">
                <img class="Info-picture-rider" id="rider-01" src="/images/Cooperation/Cooperation_Info/rider-01.png" alt="">
                <img class="Info-picture-rider" id="rider-02" src="/images/Cooperation/Cooperation_Info/rider-02.png" alt="">
                <img class="Info-picture-rider" id="rider-03" src="/images/Cooperation/Cooperation_Info/rider-03.png" alt="">
                <img class="Info-picture-rider" id="rider-04" src="/images/Cooperation/Cooperation_Info/rider-04.png" alt="">
                <img class="Info-picture-rider" id="rider-05" src="/images/Cooperation/Cooperation_Info/rider-05.png" alt="">
            </div>

        </div>



    </div>
</div>