<head>    
    <link href="/css/Cooperation/Cooperation_case.css" rel="stylesheet" />
</head>


<div class="Cooperation_case-container">
    <div class="case-title">
        <p data-i18n="Cooperation_data:case.mainTitle">NFT合作案例 - Joker Charlie Club</p>
    </div>
    <div class="case-img">
         <img src="/images/Cooperation/JokerCharlie_default.png"/>
    </div>
   
     <div class="Cooperation-container">
        <div class="concept-zone">       
            <div class="concept-zone-left"> 
                <h3 data-i18n="Cooperation_data:case.title">Design Concept</h3>
                <p data-i18n="Cooperation_data:case.text-01">Joker Charlie Club is currently an NFT worth more than $3 million USD on Opensea and is also our first partner. We created a strong conceptual design that represents the idea that everything can turn into a snake! Let us make up for you the creativity that you can't think of. </p>
                <p data-i18n="Cooperation_data:case.text-02">We have experienced concept designers that focus on creating cooperative illustrations for the Joker Charlie Club. Which will bring the Joker Charlie Club and the PonPonSnake to the metaverse stage. We will be in a win-win situation in such a cooperative style.</p>
            </div>
            <div class="concept-zone-right"> 
                <img src="/images/Cooperation/JokerCharlie_default1.png"/>
            </div>
          
        </div>
    </div>
</div>
@code {

}
