<head>    
    <link href="/css/Cooperation/Cooperation_case.css" rel="stylesheet" />
</head>


<div class="Cooperation_case-container">
    <div class="case-title">
        <p>NFT合作案例 - Joker Charlie Club</p>
    </div>
    <div class="case-img">
         <img src="/images/Cooperation/JokerCharlie_default.png"/>
    </div>
   
     <div class="Cooperation-container">
        <div class="concept-zone">       
            <div class="concept-zone-left"> 
                <h3>概念設計</h3>
                <p>Joker Charlie Club是目前Opensea上價值超過300萬美金的NFT，也是我們首個合作對象，碰碰蛇能提供強大的概念設計，貫徹所有東西都能變成蛇的信念！你想不到的創意就讓我們來替你補上。</p>
                <p>我們有專門的概念設計師優先設計Joker Charlie Club的合作插圖，並能同時能將Joker Charlie Club以及我們的碰碰蛇推上元宇宙的舞台。在這樣的合作模式下，我們將是雙贏的局面</p>
            </div>
            <div class="concept-zone-right"> 
                <img src="/images/Cooperation/JokerCharlie_default1.png"/>
            </div>
          
        </div>
    </div>
</div>
@code {

}
