@inject IJSRuntime JS

<head>
    <link href="/css/Cooperation/Cooperation_Info.css" rel="stylesheet" />
</head>

<div class="Cooperation_Info">
    <div class="CooperationInfo-block">

        <div class="CooperationInfo-row" id="CooperationInfo-row-01">

            <div class="CooperationInfo-introduce" id="CooperationInfo-introduce-01">
                <div class="CooperationInfo-title" data-i18n="Cooperation_data:info.title-01">
                    Discover the capabilities of your NFTs
                </div>
                <div class="CooperationInfo-text" data-i18n="Cooperation_data:info.text-01">
                    <p>Are you tired of people telling you that NFT is just an image? Do you want to discover more about the Metaverse's possibilities? Your NFT and PonPonSnake can turn the impossible become a reality! We can use your NFTs to create a character, avatar, or even a special land for you.
                    </p>
                </div>
            </div>

            <div class="CooperationInfo-picture" id="CooperationInfo-picture-01">
                @* <img class="Info-picture" id="Card-monkey-00" src="/images/Cooperation/Cooperation_Info/introduce1.png" alt=""> *@
                <img class="Info-picture" id="Card-monkey-01" src="/images/Cooperation/Cooperation_Info/Card-monkey-01.png" alt="">
                <img class="Info-picture" id="Card-monkey-02" src="/images/Cooperation/Cooperation_Info/Card-monkey-02.png" alt="">

            </div>

        </div>

        <div class="CooperationInfo-row" id="CooperationInfo-row-02">

            <div class="CooperationInfo-picture" id="CooperationInfo-picture-02">
                <img class="Info-picture" id="Card-ghost-00"  src="/images/Cooperation/Cooperation_Info/introduce2.png" alt="">
                <img class="Info-picture" id="Card-ghost-01" src="/images/Cooperation/Cooperation_Info/Card-ghost-01.png" alt="">
                <img class="Info-picture" id="Card-ghost-02" src="/images/Cooperation/Cooperation_Info/Card-ghost-02.png" alt="">
            </div>

            <div class="CooperationInfo-introduce" id="CooperationInfo-introduce-02">
                <div class="CooperationInfo-title" data-i18n="Cooperation_data:info.title-02">
                    We invite any type of NFTs to collaborate
                </div>
                <div class="CooperationInfo-text">
                    <p data-i18n="Cooperation_data:info.text-02-01">Don't be concerned if your NFT isn't cool or well-known. PonPonSnake has the ability to transform your NFT.</p>
                    <p data-i18n="Cooperation_data:info.text-02-02">We can make it shine in the game with the most beautiful stance. We encourage any type of NFT to collaborate with us, and we will supply designers to advertise your NFT with the most professional team possible.</p>
                </div>
            </div>

        </div>

        <div class="CooperationInfo-row" id="CooperationInfo-row-03">

            <div class="CooperationInfo-introduce" id="CooperationInfo-introduce-03">
                <div class="CooperationInfo-title" data-i18n="Cooperation_data:info.title-03">
                    NFT Characters with 3D Art Style
                </div>
                <div class="CooperationInfo-text">
                    <p data-i18n="Cooperation_data:info.text-03-01">• 2D/3D characters designed by our lead designer.</p>
                    <p data-i18n="Cooperation_data:info.text-03-02">• Your character will be used/playable in the game</p>
                    <p data-i18n="Cooperation_data:info.text-03-03">• Players can collect or sell these tradable NFTs</p>
                    <p data-i18n="Cooperation_data:info.text-03-04">• Allow these gorgeous and adorable figures to market you.</p>
                </div>
            </div>

            <div class="CooperationInfo-picture" id="CooperationInfo-picture-03">
                <img class="Info-picture" id="rider-00"src="/images/Cooperation/Cooperation_Info/introduce3.png" alt="">
                <img class="Info-picture-rider" id="rider-01" src="/images/Cooperation/Cooperation_Info/rider-01.png" alt="">
                <img class="Info-picture-rider" id="rider-02" src="/images/Cooperation/Cooperation_Info/rider-02.png" alt="">
                <img class="Info-picture-rider" id="rider-03" src="/images/Cooperation/Cooperation_Info/rider-03.png" alt="">
                <img class="Info-picture-rider" id="rider-04" src="/images/Cooperation/Cooperation_Info/rider-04.png" alt="">
                <img class="Info-picture-rider" id="rider-05" src="/images/Cooperation/Cooperation_Info/rider-05.png" alt="">
            </div>

        </div>



    </div>
</div>