<head>
    <title>PonPonSnake｜Cooperation</title>
    <link href="/css/Cooperation/Cooperation_connect.css" rel="stylesheet" />
</head>

<div class="Cooperation_connect-container">
    <div class="Cooperation-container">
        <div class="connect-BG">
            <h3>聯繫方式</h3>
            <div class="connect-arrow">
                <img  src="/images/Cooperation/deco0.png"/>
            </div>
            <div class="connect-content">
                <p>我們歡迎任何有意願合作的NFT品牌以及企業合作，讓專業的碰碰蛇將你的作品或是品牌推廣出去吧！</p>
            </div>
            <div class="connect-content">
                <p>合作NFT / 企業，請傳送你的OpenSea連結</p>
                <p>我們將與你聯繫</p>
            </div>
            <div class="connect-send-container"> 
                <div class="Cooperation-send">
                    <input />
                    <button>Send</button>
                </div>
            </div>
            <div class="connect-deco1">
                來信諮詢
            </div>
            <p class="connect-mail">Email:chengyizhuo0519@gmail.com</p>
        </div>
    </div>
</div>

@code {

}
