.CreatePonPonSnakeGame-Container {
    width:510px;
    /* height: 500px; */
    text-align:center;
    margin-top: 10px;
}
.CreatePonPonSnakeGame-Button{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.CreatePonPonSnakeGame-Container .NFTindex_Register_block{
    width: 100%;
}

.CreatePonPonSnakeGame-Container-img {
    max-width: 510px;
    width: 100%;
    /* height: 315px; */
    margin-top: 15px;
}

.CreatePonPonSnakeGame-Container-button {
       
    background:url("../../images/Teach/Button.png");
    background-size: cover;
    width: 248px;
    height: 53px;
    margin-top: 20px;
    border: none;
    color: #fff;
    font-size: 16px

}

.register-Container {
    margin: 0px auto 40px
}

@media all and (max-width: 1024px) {
    .CreatePonPonSnakeGame-Container {
        max-width: 331px;
        /* height: 325px;     */
    }


    .CreatePonPonSnakeGame-Container-img {
        max-width: 331px;
        /* height: 204px; */
    }

    .CreatePonPonSnakeGame-Container-button {
        width: 158px;
        height: 34px;
        margin-bottom: 10px;
        font-size: 10px
    }
}
@media all and (max-width: 1000px){
    .SignUpButton-a{
        font-size: 16px !important;
        line-height: 20px;
    }
}
@media all and (max-width: 600px) {
    .CreatePonPonSnakeGame-Button{
        flex-wrap: wrap;
    }
}
