.WhetherGoToNextPage-container {
    width:100%;
    height:100%;
    position:fixed;
    top:0%;
    left:0%;
    background:rgba(0,0,0,0.5);
    z-index:999;
    display:flex;
    justify-content:center;
    align-items:center;

}

.WhetherGoToNextPage-pop {
    width: 300px;
    padding: 20px 15px;
    background: #8fbcb5;
    text-align: center;
    border-radius: 15px;
    color: #1c5968;
    line-height: 18px;
    font-size: 14px;
    font-weight: bold;
}
.WhetherGoToNextPage-pop p{
    font-size: 20px;
}

.WhetherGoToNextPage-pop button { 
    color: #fff;
    border: 3.8px solid #eac492db;
    background-image: linear-gradient(to top, #ffa300, #fed322);
    border: 0;
    border-radius: 20px;
    padding: 10px 15px;
    font-weight: bold;
    width: 80%;
    margin: 20px auto 0px auto;
}