@inject IConfiguration Configuration
<head>
    <link href="css/Shared/fetchDataLoading.css" rel="stylesheet" />    
</head>

<div class="fetchDataLoading">        
   
    <div class="Loadinglogo">
         <Chase Center ="true" Color="#FFF"  Size="70px" />
    </div>
    <p class="LoadingText">loading Data</p>
</div>
@code {

}
