@inject IConfiguration Configuration
<head>
    <link href="css/Shared/fetchDataLoading.css" rel="stylesheet" />    
</head>

<div class="fetchDataLoading">        
    <Chase Center ="true" Color="#e74c3c"  Size="70px"/>
</div>
@code {

}
