@page "/GettingStarted"
@using SnakeAsianLeague.Data.Services.BlockChain

@inject BlockChainProcessorSever BlockChainSever
@inject IJSRuntime JS
<head>
    <title>PonPonSnake｜Getting Started</title>
    <link href="/css/Teach/TeachStart/TeachStart.css" rel="stylesheet" />
</head>

<div class="TeachStart ">
    <div class="text-zone text-RWD-Small">
        <h2 data-i18n="Started_data:gettingStarted.startPage.title">
            @*Start Your Adventure Here*@
        </h2>
        <p data-i18n="Started_data:gettingStarted.startPage.subtilte">
            @*PonPonSnake is a 4v4/ 1v1 3D mobile game.You can play it on your phone anytime!The snakes can be collected and be used for battling against other players. To collect these NFT, you will need to sign up Metamask Wallet. *@
        </p>
    </div>

    <div class="img-zone">      
        @foreach(var Data in stepData)
        {
            <div class="step-container">
                <div class="step-img">
                     <img  src=@Data[0] data-src=@Data[0]/>
                </div>
               
                <p   data-i18n="Started_data:gettingStarted.title.@Data[1]">
                  
                </p>
            </div>          

        }
       
      

    </div>


    <div class="text-zone text-RWD-Big">
        <h2 data-i18n="Started_data:gettingStarted.startPage.title">
            Start Your Adventure Here
        </h2>
        <p data-i18n="Started_data:gettingStarted.startPage.subtilte">
            PonPonSnake is a 4v4/ 1v1 3D mobile game.You can play it on your phone anytime!The snakes can be collected and be used for battling against other players. To collect these NFT, you will need to sign up Metamask Wallet. 
        </p>
    </div>

    <button class="StartBtn"><a href ="GettingStarted/create-PonPonSnake-game" data-i18n="Started_data:gettingStarted.startPage.startBtn"> Start Now</a></button>

</div>



@code {
    private string[][] stepData = new string[][]
    {
           
            //new string[]{ "/images/Teach/TeachStart/step2.png","connectopensea"},
            new string[]{ "/images/Teach/TeachStart/step3.png","createponponsnakegame"},
            new string[]{ "/images/Teach/TeachStart/step1.png","createmetamask" },
            new string[]{ "/images/Teach/TeachStart/step4.png","connectgameaccount"},
            new string[]{ "/images/Teach/TeachStart/step5.png","downloadandplay"},

    };
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {

        if (firstRender)
        {
            await BlockChainSever.GetBlockChainInfoDTO();
            await JS.InvokeVoidAsync("installI18n");
        }

    }
}
