@inject IJSRuntime JS

<head>
    <link href="/css/Battle/Battle.css" rel="stylesheet" />
    <link href="/css/Battle/Battle_Gameplay.css" rel="stylesheet" />
       <!-- OwlCarouse -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
        integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css"
        integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>


<div class="Battle_Gameplay">
 @*   <div class="NFTindex-Block-title">
        <span class="NFTindex-title" data-i18n="Battle_data:gameplay.title">
            Gameplay
        </span>
    </div>*@

    <div class="Gameplay-info" id="Gameplay-info-solo">
        @*<div class="NFTindex-subtitle" data-i18n="Battle_data:gameplay.subtitle-01">Classic Solo Treasure Hunt</div>
        <div class="NFTindex-text" data-i18n="Battle_data:gameplay.text-01">
            The Itza people have passed down these basic combat
            rules from ancient times. If you battle till
            the end, you can win the gold from your opponents. The combat may be attended by wild
            monsters, monsters, and wandering knights from the abyss, making it the most dangerous and
            valuable conflict to engage in.
        </div>

        <div class="Gameplay-mainImg-block-01 Gameplay-solo">
            <img class="mainImg-01" id="Diamond-01" src="/images/Battle/Battle_Gameplay/Diamond-01.png" alt="">

            <div class="BlackMarket mainImg-01">
                <img id="BlackMarket-01-00" src="/images/Battle/Battle_Gameplay/BlackMarket-01-00.png" alt="">
                <img id="BlackMarket-01-01" src="/images/Battle/Battle_Gameplay/BlackMarket-01-01.png" alt="">
            </div>
            <img class="mainImg-01" src="/images/Battle/Battle_Gameplay/Diamond-02.png" alt=""> 
        </div>*@

        <div class="Gameplay-1v7">
            <h3 data-i18n="Battle_data:V7.Gameplay">遊戲玩法</h3>

            <div class="V7-subTitle">
                <img data-i18n="[src]Battle_data:V7.V7Text" src="/images/Battle/1V7/1V7Text.png"/>
            </div>

            <div class="V7-rule">
               <div class="V7-rule-diamond">
                    <img  src="/images/Battle/1V7/diamond.png"/>
               </div>              
               <div class="V7-rule-content">
                    <div class="V7-rule-content-title">
                        <img class="V7RuleContentText"  data-i18n="[src]Battle_data:V7.V7RuleContentText"  src="/images/Battle/1V7/V7RuleContentText.png"/>
                        <img class="V7RuleContentText7" data-i18n="[src]Battle_data:V7.V7RuleContentText7"  src="/images/Battle/1V7/V7RuleContentText7.png"/>
                    </div>
                    <p data-i18n="Battle_data:V7.Text1" >
                        在1v7的模式中玩家需要支付對賭入口費，並且將會分配到六位其他玩家一同在戰場上戰鬥。在戰鬥中將隨機生長寶箱、食物、或是金幣在場上。
                     </p>
                     <p data-i18n="Battle_data:V7.Text2">
                        食取場上食物將能增長蛇身，利用蛇身碰撞其他敵人將造成傷害。
                    </p>
                     <p data-i18n="Battle_data:V7.Text3">
                        在戰場中若是擊殺任何玩家，被擊殺者將會噴灑在場上所蒐集的道具(包括金幣)。 
                     </p>
                     <p data-i18n="Battle_data:V7.Text4">
                        被擊殺者能選擇付費增加復活增益並且立刻回到場上，或是等倒數就能再次回到場上。
                     </p>
                     <p data-i18n="Battle_data:V7.Text5">
                        活到最後將獲取最多收益，滿載而歸！
                    </p>
               </div>
            </div>

        </div>


        <div class="Gameplay-mainImg-block-02">

            <div class="mainImg-02-block">
                <img class="mainImg-02" src="/images/Battle/Battle_Gameplay/Solo-01.png" alt="">
                <div class="mainImg-02-text" data-i18n="Battle_data:gameplay.solo-01">1V7 Battle</div>
            </div>
            <div class="mainImg-02-block">
                <img class="mainImg-02" src="/images/Battle/Battle_Gameplay/Solo-02.png" alt="">
                <div class="mainImg-02-text" data-i18n="Battle_data:gameplay.solo-02">Bet-on the victory</div>
            </div>
            <div class="mainImg-02-block">
                <img class="mainImg-02" src="/images/Battle/Battle_Gameplay/Solo-03.png" alt="">
                <div class="mainImg-02-text" data-i18n="Battle_data:gameplay.solo-03">Respawn Buff</div>
            </div>

        </div>

    </div>
    
     <div class="owl-carousel owl-theme BattleCarousel">
        <div class="item">
           <div class="V7-GameScreen">
               <img src="/images/Battle/1V7/image1.png"/>
           </div>

        </div>
        <div class="item">
           <div class="V7-GameScreen">
               <img src="/images/Battle/1V7/image2.png"/>
           </div>
        </div>
        <div class="item">
           <div class="V7-GameScreen">
               <img src="/images/Battle/1V7/image3.png"/>
           </div>
        </div>
        <div class="item">
           <div class="V7-GameScreen">
               <img src="/images/Battle/1V7/image4.png"/>
           </div>
        </div>
        
    </div>
    @*
    <div class="Gameplay-info" id="Gameplay-info-team">
        <div class="NFTindex-subtitle" data-i18n="Battle_data:gameplay.subtitle-02">quad Deathmatch</div>
        <div class="NFTindex-text" data-i18n="Battle_data:gameplay.text-02">
            This fight is well-known in Itza land, and the Nord Army upholds this competitive rule as well.
            The riders must create a four-person team, and the battle will be supported by an airship. It will be
            critical to conquering the opponent of another team in order to win. The victorious team earns ranking
            points and is eligible to compete in subsequent professional contests.
        </div>
        <div class="Gameplay-mainImg-block-01">
            <img class="mainImg-01" id="Skeleton-01" src="/images/Battle/Battle_Gameplay/Skeleton-01.png" alt="">
            <img class="mainImg-01" src="/images/Battle/Battle_Gameplay/Skeleton-02.png" alt="">
        </div>

        <div class="Gameplay-mainImg-block-02">

            <div class="mainImg-02-block">
                <img class="mainImg-02" src="/images/Battle/Battle_Gameplay/Team-01.png" alt="">
                <div class="mainImg-02-text" data-i18n="Battle_data:gameplay.team-01">4V4 Battle</div>
            </div>
            <div class="mainImg-02-block">
                <img class="mainImg-02" src="/images/Battle/Battle_Gameplay/Team-02.png" alt="">
                <div class="mainImg-02-text" data-i18n="Battle_data:gameplay.team-02">E-sport Competition</div>
            </div>
            <div class="mainImg-02-block">
                <img class="mainImg-02" src="/images/Battle/Battle_Gameplay/Team-03.png" alt="">
                <div class="mainImg-02-text" data-i18n="Battle_data:gameplay.team-03">Airship Support</div>
            </div>

        </div>
    </div>*@

</div>

@code{
   
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JS.InvokeVoidAsync("BattleCarousel");  
        }
    }
}