.Valentine2023_About{
    padding: 50px 0 30px;
}

.About-block{
    background-color: #FCE0D9;

    /* border: 5px dashed #e96464;
    border-radius: 20px; */
    width: 100%;
    max-width: 800px;
    margin: 0 auto 80px;
    /* height: 500px; */

    background: url(/images/Festival/Valentine2023/About/About-block-BG.png);
    background-repeat: round;
    padding: 70px 20px 80px;
    position: relative;

    filter: drop-shadow(-15px 25px 5px rgb(173, 142, 152, 0.5));
}

.About-info{
    text-align: center;
    color: #9f1919;
    letter-spacing: 1px;

}

.info-title{
    font-size: 30px;
    font-weight: 600;
}

.info-date{
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 20px;
}

.info-image{
    position: absolute;
}

#info-image-01{
    max-width: 230px;
    width: 30%;
    left: -11%;
    bottom: -5%;
}

#info-image-02{
    max-width: 260px;
    width: 35%;
    right: 5%;
    bottom: 11%;
}

.About-fee{
    width: 100%;
    /* border: 1px solid red; */

    display: flex;
    align-items: flex-start;
    justify-content: center;
    /* flex-wrap: wrap; */
    margin-bottom: 50px;

    filter: drop-shadow(-15px 25px 5px  rgb(173, 142, 152, 0.5));
}

.fee-type{
    position: relative;
    width: 100%;
    max-width: 360px;
    z-index: 1;
}
.letter-image{
    width: 100%;
}
.type-name{
    position: absolute;

    text-shadow: -3px 5.2px 6.4px rgba(91, 62, 79, 0.5);
    -webkit-text-stroke: 2px #ea6557;
    font-family: jf-openhuninn-1.1;
    font-size: 23px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.12;
    letter-spacing: normal;
    text-align: left;
    color: #fff;

}
.letter-info{
    position: relative;
    max-width: 360px;
    margin-left: -60px;
    z-index: 2;
}
.letter-info-BG{
    width: 100%;
}
.letter-info-text{
    position: absolute;
    transform: translate(-50%);
    left: 50%;
    top: 40px;
    font-size: 26px;
    line-height: 38px;
    white-space: nowrap;
    color: #9f1919;
    font-weight: 600;
}
@media all and (max-width: 600px){
    .Valentine2023_About{
        padding: 50px 0 0px; 
    }
    .About-block{
        padding: 50px 15px 55px;
    }
    .info-title{
        font-size: 20px;
    }
    .info-date{
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 15px;
    }
    .About-fee{
        flex-direction: column-reverse;
        align-items: center;
        margin-bottom: 30px;
    }
    .letter-info{
        margin-left: unset;
        margin-right: -30px;
        margin-bottom: -70px;
        max-width: 300px;
        width: 90%;
    }
    .letter-info-text{
        top: 34px;
        font-size: 20px;
        line-height: 30px;
    }
}