.Valentine2023 {
    padding-top: 50px;
    /* font-family: NotoSansTC; */
    background: url("/images/Festival/Valentine2023/BG.png");
    font-family: 'Noto Sans TC', sans-serif;
}

.Valentine2023-container {
    max-width: 1000px;
    margin: 0 auto;
    width: 90%;
}

.Valentine2023-title {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0 auto 30px;
}

.Valentine2023-title span {
    text-align: center;
    color: #fff;
    font-size: 38px;
    padding: 20px 60px 25px;
    display: inline-block;
    font-weight: 700;
    letter-spacing: 1px;
    max-width: 500px;
    width: 100%;

    background: url("/images/Festival/Valentine2023/title_BG.png");
    background-repeat: round;
}


@media all and (max-width: 1000px) {
    .Valentine2023 {
        padding-top: 40px;
    }

    .Valentine2023-container {
        /* max-width: 850px; */
        margin: 0 auto;
    }

    .Valentine2023-title span {
        font-size: 30px;
        padding: 13px 40px 16.5px;
        letter-spacing: 1px;
        max-width: 356px;
    }

}

@media all and (max-width: 800px) {
    .Valentine2023-container {
        /* max-width: 600px;  */
        margin: 0 auto;
    }

    .Valentine2023-title span {
        font-size: 28px;

    }
}

@media all and (max-width: 600px) {
    .Valentine2023-container {
        /* max-width: 370px; */
        margin: 0 auto;
    }
    .Valentine2023-title span {
        font-size: 24px;
    }
}
