.Valentine2023_Rank {
    width:100%;
    padding: 0 0 50px;
    /* height:1000px; */
}

.Valentine2023_Rank-container {
    padding-top: 50px;
    width: 800px;
    margin: 0 auto 120px;
}
.Valentine2023-Ranking-block{
    width: 100%;
    filter: drop-shadow(-15px 25px 5px rgb(173, 142, 152, 0.5));

}

.toggleRankTypeButton-container {
    width: 100%;
    display: flex;
    /* justify-content: center; */
    justify-content: flex-start;
    align-items: center;
    padding: 0 30px;
    /* height: 137px; */
    height: 70px;


}

.toggleRankTypeButton-container button {
    width: 30%;    
    background-repeat: round;
    height:100%;
    border: 0;
    color: #ff7daf;
    font-size: 30px;
    font-weight:700;
    padding-top: 5px;
}

@media all and (max-width: 1000px) {
    .Valentine2023_Rank {
        /* height: 800px; */
    }
    .Valentine2023_Rank-container {
        width: 650px;
    }
    .toggleRankTypeButton-container {
        height: 90px;
    }
    .toggleRankTypeButton-container button {
        font-size: 36px;
    }
}

@media all and (max-width: 800px) {
    .Valentine2023_Rank {
        /* height: 680px; */
    }
    .Valentine2023_Rank-container {
        width: 450px;
    }
    .toggleRankTypeButton-container {
        height: 72px;
    }
    .toggleRankTypeButton-container button {
        font-size: 32px;
    }
}

@media all and (max-width: 600px) {
    .Valentine2023_Rank {
        /* height: 520px; */
    }
    .Valentine2023_Rank-container {
        width: 100%;
    }
    .toggleRankTypeButton-container {
        height: 54px;
    }
    .toggleRankTypeButton-container button {
        font-size: 24px;
    }
}


.rank_type_button_solo {
    background: url("/images/Festival/Valentine2023/Rank/rank_type_button1.png");
}
.rank_type_button_squad {
    background: url("/images/Festival/Valentine2023/Rank/rank_type_button2.png");
}

.Valentine2023_Rank_content {
    background: url("/images/Festival/Valentine2023/Rank/rank_BG.png");
    background-repeat: round;
    width: 100%;
    height: 661px;
    /* transform: translateY(-25px);  */
    padding:80px 30px;
}

@media all and (max-width: 1000px) {
    .Valentine2023_Rank_content {
        height:545px;
        transform: translateY(-12px);
        padding: 66px 24px;
    }
}

@media all and (max-width: 800px) {
    .Valentine2023_Rank{
        padding: 0 0 0px;
    }
    .Valentine2023_Rank_content {
        height: 465px;
        transform: translateY(-12px);
        padding: 52px 20px;
    }
}

@media all and (max-width: 600px) {
    .Valentine2023_Rank_content {
        height: 350px;
        transform: translateY(-5px);
        padding: 40px 15px;
    }
}

.select-container select {
    /*移除箭頭樣式*/
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    /*改變右邊箭頭樣式*/
    background: url("/images/Festival/Valentine2023/Rank/Select_arrow.png") no-repeat right center transparent ;
    border: 5px solid #ff7daf;
    border-radius: 15px;
    height: 60px;
    color: #ff7daf;
    font-size: 22px;
    font-weight: 700;
    padding: 0 20px 0 10px;
    width:300px;

}

.rank-content {
    padding-top: 40px;
    width:100%;
    position:relative;
    height:80%;
}

.rank {
    background: #ff7daf;
    
    height:100px;
    border-radius:10px;
    display:flex;  
    align-items:center;
    padding:15px;
    margin-bottom:50px;
}

.rank img{
    height:100%;
}

.rank span {
    font-size: 40px;
    font-weight: 700;
    color:#fff;
}


@media all and (max-width: 1000px) {
    .select-container select {
        border: 4px solid #ff7daf;    
        height: 50px; 
        font-size: 20px;
        width:240px;
    }
    .rank-content {
        padding-top: 33px;
    }
    .rank {  
        height: 83px;
        padding: 12.5px;
        margin-bottom: 42px;
    }
    .rank span {
        font-size: 30px;
    }
}

@media all and (max-width: 800px) {
    .select-container select {
        border: 3px solid #ff7daf;
        height: 40px;
        font-size: 16px;
        width: 200px;
    }
    .rank-content {
        padding-top: 26.5px;
    }
    .rank {
        height: 69px;
        padding: 10px;
        margin-bottom: 33.6px;
    }
    .rank span {
        font-size: 25px;
    }
}

@media all and (max-width: 600px) {
    .select-container select {
        border: 2.5px solid #ff7daf;
        height: 30px;
        font-size: 12px;
        width: 160px;
    }

    .rank-content {
        padding-top: 20px;
    }

    .rank {
        height:52px;
        padding: 7.5px;
        margin-bottom: 25px;
    }

    .rank span {
        font-size: 18.75px;
    }
}

.rank1 {
    width: 80%;
}
.rank2 {
    width: 70%;
}
.rank3 {
    width: 60%;
}
.rank1 span {
    margin-left: 90px;   
}
.rank2 span {
    margin-left: 60px;
}
.rank3 span {
    margin-left: 30px;
}



@media all and (max-width: 1000px) {
    .rank1 span {
        margin-left: 75px;
    }

    .rank2 span {
        margin-left: 50px;
    }

    .rank3 span {
        margin-left: 25px;
    }

}

@media all and (max-width: 800px) {
    .rank1 span {
        margin-left: 60px;
    }

    .rank2 span {
        margin-left: 40px;
    }

    .rank3 span {
        margin-left: 20px;
    }

}

@media all and (max-width: 600px) {
    .rank1 span {
        margin-left: 45px;
    }

    .rank2 span {
        margin-left: 30px;
    }

    .rank3 span {
        margin-left: 15px;
    }
}

.Ranking-ComingSoon {
    /* border: 1px solid red; */
    max-width: 400px;
    width: 70%;
    /* height: 100%; */
    margin: 0 auto;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #dbd8d830;
    border-radius: 15px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 45%;
    left: 50%;
}

    .Ranking-ComingSoon span {
        color: rgba(227, 227, 227, 0.85);
        letter-spacing: 2px;
        font-size: 24px;
        font-weight: 500;
    }

@media all and (max-width: 800px) {
    .Ranking-ComingSoon span {
        font-size: 20px;
    }
}

@media all and (max-width: 600px) {
    .Ranking-ComingSoon {
        padding: 12px;
    }

        .Ranking-ComingSoon span {
            font-size: 18px;
        }
}