.Valentine2023_Schedule {
    width: 100%;
    padding-bottom: 200px;
    /* height: 1200px; */
}
.Valentine2023_Schedule-container {
    padding-top: 50px;
}
.Schedule-BG {
    background: linear-gradient(to bottom, #f996bc 0%, #ffdfd9 100%);
    width: 100%;
    height: 860px;
    margin: 40px auto 0;
    box-shadow: 0px 20px 30px 6px rgb(0 0 0 / 50%);
    border-radius: 5px;
    position: relative;

    max-width: 800px;
    padding: 0 25px;
}
@media (max-width: 1000px) {
    .Schedule-BG {
        width: 100%;
    }

}

@media (max-width: 800px) {
    .Schedule-BG {
        height: 860px;
        margin: 25px auto 0;
    }
    .Valentine2023_Schedule {
        padding-bottom: 150px;
    }
}
@media (max-width: 600px) {
    .Schedule-BG {
        width: 100%;
        height: 600px;
    }
    .Valentine2023_Schedule {
        /* height: 850px; */
    }
}

.Schedule-menu {
    background: #fcd4dd;
    max-width: 400px;
    width: 70%;
    height: 50px;
    position: absolute;
    /* top: 20px; */
    top: 26px;
    right: 50px;
    border-radius: 10px;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;   
}

.Schedule-type {
    display: flex;
    flex-direction: row;
    align-items: center;

}


.type-line {
    width: 60px;
    height: 22px;
    margin-right: 8px;
    border-radius: 3px;
}

#type-line-solo {
    border-color: #6f1217;
    background: rgb(6, 218, 196);
}

#type-line-Squad {
    border-color: #db6527;
    background: #6d66fd;
}

.type-line-text {
    color: #ff7bae;
    letter-spacing: 0.5px;
    font-size: 16px;
    font-weight:700;
}


@media (max-width: 1000px) {
    .Schedule-menu {
        background: #fcd4dd;
        max-width: 395px;
        height: 60px;
        top: 17.2px;
        right: 43px;

    }

}
@media (max-width: 800px) {
    .Schedule-menu {
        background: #fcd4dd;
        max-width: 300px;
        height: 50px;
        top: 17.2px;
        right: 43px;
 
    }

    .Schedule-type-block {
        width: 100%;
        padding: 6px 20px;
    }
    .Schedule-type {

    }
    .type-line {
        width: 40px;
        height: 20px;
    }
    .type-line-text {
        font-size: 14px;
    }
}

@media (max-width: 600px) {
    .Schedule-menu {
        max-width: 170px;
        height: 50px;
        top: 8.2px;
        right: 16px;
        justify-content: start;
        padding-left:10px;
    }
    .Schedule-type-block {
        width: 100%;
        padding: 6px 10px;
        justify-content: flex-start;
    }
    .Schedule-type {

    }
    .type-line {
        width: 45px;
        height: 18px;
    }
    .type-line-text {
        font-size: 14px;
    }
}
/*....行事曆套件..........*/
/*總高度  外層，內層*/
.fc .fc-media-screen {
    height: 756px !important;
}

.fc-scrollgrid-sync-table {
    height: 653px !important;
}

.fc-col-header {
    width: 100% !important;
}

.fc-scrollgrid-sync-table {
    width: 100% !important;
}

.fc-daygrid-body {
    width: 100% !important;
}

@media (max-width: 768px) {
    .fc .fc-media-screen {
        height: 650px !important;
    }

    .fc-scrollgrid-sync-table {
        height: 460px !important;
    }
}
/*標題 點選按鈕*/
.fc-toolbar-title {
    color: #fff !important;
    padding: 30px 20px 10px 20px;
    font-size: 38px !important;
}

.fc-toolbar-chunk div {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #203240;
    padding: 20px 0;
}


.fc-button-primary {
    width: 16px !important;
    height: 19px !important;
    background: url('../../../images/AsiaChampionsLeague/S3/Calender/Calender_ Month button icon.webp');
    background-repeat: round;
    margin: 0 30px !important;
}

@media (max-width: 1000px) {

    .fc-toolbar-title {
        font-size: 37px !important;
        padding: 25px 17px 8.6px 17px;
    }
}

/* @media (max-width: 800px) {

    .fc-toolbar-title {
        font-size: 29px !important;
        padding: 30px 13px 6.5px 13.5px;
    }
} */

@media (max-width: 600px) {
    .fc-button-primary {
        width: 12px !important;
        height: 15px !important;
    }

    .fc-toolbar-title {
        font-size: 20px !important;
        padding: 30px 10px 15px 12.75px;
    }
}

@media (max-width: 400px) {

    .fc-toolbar-title {
        margin :0 auto !important;
    }
}

.fc-prev-button {
    transform: rotate(180deg);
}

@media (max-width: 600px) {
    .fc-toolbar.fc-header-toolbar {
        margin-bottom: 0 !important;
    }
}
/*星期*/

.fc-col-header-cell-cushion {
    color: #fff !important; 
    font-family: Microsoft JhengHei !important;
    text-align: center;
    font-weight: 700 !important;
    font-size: 24px !important;
}

@media (max-width: 600px) {
    .fc-col-header-cell-cushion {
        font-size: 14px !important;
    }
}

.fc-day-sun .fc-col-header-cell-cushion {
    color: #D80000 !important;
}

/*今天*/
.fc .fc-daygrid-day.fc-day-today {
    background-color: rgba(0,0,0,0) !important;
}
/**/
.fc .fc-button-primary, .fc .fc-button-primary:hover {
    color: #fff !important;
    background-color: #fff !important;
    border: 0 !important;
}

    .fc .fc-button-primary span {
        display: none !important;
    }

.fc-theme-standard .fc-scrollgrid {
    border: 0 !important;
    width: 100% !important;
}

.fc-theme-standard th {
    border: 0 !important;
}

/* 每一格的間距 */

.fc-daygrid-day {
    padding-top: 5px !important
   
}

.fc-theme-standard td {
    border: 0 !important;
    /*   padding: 0 10px 10px 0 !important;*/
}



.fc .fc-daygrid-day-frame {
    background: #fff;
    border: 3px solid #ffaacb;
    border-radius: 50%;
    /* width: 105px !important; */
    width: 90px !important;

    /* height: 105px !important; */
    height: 90px !important;
    /* margin: 0 auto; */
    margin: 7px;
}

/* test */
.fc .fc-daygrid-day-top{
    /* border: 1px solid rgb(255, 0, 0); */
}
.fc-daygrid-day-events{
    /* border: 1px solid rgb(64, 241, 20); */
}

/*@media (max-width: 1000px) {
    .fc .fc-daygrid-day-frame {
        width: 90.3px !important;
        
    }
    .fc-theme-standard td {
        height: 90.3px !important;
    }
}*/
/* @media (max-width: 800px) {
    .fc .fc-daygrid-day-frame {
        width: 72px !important;  
    }
    .fc-theme-standard td {
        height: 72px !important;
    }
} */

@media (max-width: 600px) {
    .fc .fc-daygrid-day-frame {
        width: 54px !important;
        height: 54px !important;
    }

}
@media (max-width: 400px) {
 /*   .fc .fc-daygrid-day-frame {
        width: 105px !important;
        height: 105px !important;
    }*/
}

/*時間*/
.fc-event-time {
    display: none;
}
/* 日期 */
.fc-daygrid-day-top {
    flex-direction: row !important;
    padding: 2px 10px 0px 10px;
    font-size: 24px !important;
    opacity: 1 !important;
    font-weight:600;
}

@media (max-width: 800px) {
    .fc-daygrid-day-top {   
        font-size: 22.4px !important;
    }
}

@media (max-width: 600px) {
    .fc-daygrid-day-top {
        font-size: 12.8px !important;
        padding:0 ;
    }
}

@media (max-width: 400px) {

}

.fc-daygrid-day-top a {
    color: #ff7bae !important;
}
.fc-day-other {
   
}
.fc-day-other a {
    color: #cbc68d !important;
}

/*事件背景透明拿掉*/
.fc-bg-event {
    opacity: 1 !important;
    background-image: url("../../../images/AsiaChampionsLeague/S3/Calender/Calender_ Final Icon.webp") !important;
    background-repeat: round !important;
    background-size: cover !important;
}

/**/
.squadQualifying .fc-event-title-container {
    /* border: 1px solid red; */
    /* background: linear-gradient( 180deg, rgba(0,0,0,0) 35%, #6d66fd 36%,#6d66fd 64%,rgba(0,0,0,0) 65%); */
    background: linear-gradient( 180deg, rgba(0,0,0,0) 23%, #6d66fd 23%,#6d66fd 60%,rgba(0,0,0,0) 60%);

}
.qualifying .fc-event-title-container {
    /* background: linear-gradient( 180deg, rgba(0,0,0,0) 35%, #06dac4 36%,#06dac4 64%,rgba(0,0,0,0) 65%); */
    background: linear-gradient( 180deg, rgba(0,0,0,0) 23%, #06dac4 23%,#06dac4 60%,rgba(0,0,0,0) 60%);
}
.fc-h-event {
    border: none !important;   
    background-color: rgb(0,0,0,0) !important;
    overflow:hidden;
}
.fc .fc-daygrid-event{
    margin: 0;
}
.fc-event-main {
    transform:translateX(60px);
}

.squadQualifying .fc-sticky {
    background: #6d66fd;
}

.qualifying .fc-sticky {
    background: #06dac4;
}

.fc-sticky {
    width: 18px;
    height: 18px;
   
    border-radius: 50%;
    /* transform: translateX(-3px); */
}

@media (max-width: 600px) {
    .squadQualifying .fc-event-title-container {
        background: linear-gradient( 180deg, rgba(0,0,0,0) 44%, #6d66fd 45%,#6d66fd 55%,rgba(0,0,0,0) 56% );
    }

    .qualifying .fc-event-title-container {
        background: linear-gradient( 180deg, rgba(0,0,0,0) 44%, #06dac4 45%,#06dac4 55%,rgba(0,0,0,0) 56%);
    }
    .fc-event-main {
        transform: translateX(35px);
    }
    .fc-sticky {
        width: 12px;
        height: 12px;
        border-radius: 50%;
        transform: translate(-2px ,4px);
    }
}

/*決賽*/
.soloFinal .fc-daygrid-event-dot {
    display:none;
}

.squadFinal .fc-daygrid-event-dot {
    display: none;
}
.fc-event-title {
    text-align:center;
}
.fc-daygrid-event-harness {
    margin:0px !important;
}
.qualifying {
    /* transform: translateX(-16px); */
    transform: translateX(-26px) translateY(-8px);
}
.squadQualifying {
    /* transform: translateX(-16px); */
    transform: translateX(-26px) translateY(-8px);
}

.fc-daygrid-dot-event:hover, .fc-daygrid-dot-event.fc-event-mirror {
    background: none !important;
}
.fc-event-title {
    
}

.squadFinal .fc-event-title {
    color: #ffdfd8 !important;
    font-size: 18px;
    font-weight: 700;
    transform: translateY(-10px);
    white-space: break-spaces;
    line-height: 22px;

    white-space: nowrap;
}
.soloFinal .fc-event-title {
    color: #85ff7c !important;
    font-size: 18px;
    font-weight: 700;
    /* transform: translateY(-10px); */
    transform: translateY(-10px);
    white-space: break-spaces;
    line-height: 22px;

    white-space: nowrap;
}
@media (max-width: 1000px) {
    .squadFinal .fc-event-title {
        font-size: 14px;
    }

    .soloFinal .fc-event-title {
        font-size: 16px;
    }
}


@media (max-width: 800px) {
    .squadFinal .fc-event-title {
        font-size: 13px;
    }

    .soloFinal .fc-event-title {
        font-size: 13px;
    }
}

@media (max-width: 600px) {
    .squadFinal .fc-event-title {
        font-size: 12px;
    }

    .soloFinal .fc-event-title {
        font-size: 12px;
    }
}

@media (max-width: 400px) {

}
/*hover提升*/
.fc-daygrid-bg-harness {
    z-index: 100
}
/*.fc-daygrid-day {
    position:relative;
}*/
.FinalTime:hover .finals-Data-Pop {
    display: block
}

/* @media (max-width: 1000px) {

    .Schedule-BG{
        max-width: 600px;
        padding: 0 20px;
    }
    .fc .fc-toolbar-title{
        font-size: 29px !important;
        padding: 30px 13px 6.5px 13.5px;
    }
    .Schedule-menu{
        max-width: 240px;
        justify-content: flex-start;
        padding-left: 5%;
        align-content: center;
        right: 25px;
        top: 25px;
    }
    .fc-daygrid-day-top{
        font-size: 20px !important;
        padding: 0;
    }

    .type-line {
        width: 50px;
        height: 15px;
    }
    .fc .fc-daygrid-day-frame{
        width: 75px !important;
        height: 75px !important;


        margin: 17px 0;
    }
    .fc-theme-standard td{
        padding: 0 !important;
    }

} */

/* @media (max-width: 800px){
    .Schedule-BG{
        padding: 0 10px;
        height: 750px;
    }
    .fc .fc-daygrid-day-frame{
        margin: 15px 0;
    }
} */

/*....行事曆套件End..........*/