.NFTindex_Video{
    /* border: 1px solid red; */
    max-width: 1700px;
    width: 90%;
    margin: 00px auto;
    padding: 50px 0 100px;
}
.NFTindex_Video_flex{
    display: flex;
    margin: 50px auto;
    /* flex-wrap: wrap; */
    justify-content: space-between;
}

.Video_info{
    /* border: 1px solid red; */
    font-family: 'Poppins', sans-serif;
    /* font-family: 'Orbitron', sans-serif; */
    color: white;
    max-width: 625px;
    width: 100%;
}

.Video_info_01{
    font-size: 48px;
    margin-bottom: 30px;
}

.Video_info_02{
    max-width: 515px;
    width: 100%;
    font-size: 20px;
}
.NFTindex_Download{
    margin: 50px 0 0;
    display: flex;
    flex-wrap: wrap
}

.NFTindex_Download a{
    margin: 10px 15px 10px 0;
    filter: drop-shadow(1px 1px 10px rgba(11, 28, 45, 0.521));
    width: 193px;
}
.NFTindex_Download img{
    width: 100%;
}
.Video_file{
    /* border: 1px solid red; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 800px;
}

.NFTindex_videoBlock{
    /* border: solid 1px rgb(46, 219, 231); */
    max-width: 750px;
    width: 90%;
    margin: 0 auto;
    position: relative;

}
.NFTindex_videoBlock::before{
    content: '';
}
.video_border{
    max-width: 830px;
    width: 120%;
    /* height: 120%; */
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    opacity: 0.5;
    /* box-shadow: 3px 0px 6px #0000009f; */
    filter: drop-shadow(1px 1px 20px rgba(221, 227, 233, 0.521));
}
.video_border img{
    width: 100%;
}


.videoBlock{
    position: absolute;
    
    /* max-width: 600px; */
    position: relative;
    height: 0;
    padding-bottom: 56.25%;
    margin: 10px 20px;
}
.videoBlock iframe{
    /* border: solid 1px rgb(251, 251, 251); */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
@media all and (max-width: 1920px){
   .NFTindex_Video{
        width: 85%;
    }
    .NFTindex_videoBlock{
        max-width: 600px;
    }
    .video_border{
        max-width: 640px;
    }
}
@media all and (max-width: 1600px){
    .Video_info_01 {
        font-size: 40px;
    }
    .Video_info_02 {
        max-width: 448px;
        width: 100%;
        font-size: 16px;
    }
    .NFTindex_Download a {
        width: 170px;
    }
}
@media all and (max-width: 1400px){
    .NFTindex_Video_flex{
        flex-direction: column-reverse;
        align-items: center;
    }
    .Video_info{
        margin-top: 50px;
        max-width: 480px;
    }

}

@media all and (max-width: 700px){
    .Video_info_01 {
        font-size: 30px;
        margin-bottom: 20px;
    }
    .Video_info_02{
        font-size: 14px;
        line-height: 24px;
    }
    .NFTindex_Download {
        margin: 50px 0px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .NFTindex_Download a {
        margin: 10px 20px 10px 0;
    }
    .NFTindex_Video{
        padding: 0px 0 50px;
    }
}
@media all and (max-width: 700px){
    .Video_info_01 {
        font-size: 27px;
    }
}