.NFTindex_Seignior {
    width: 100%;
    background-color: #203240;
    margin: 100px auto;
}

/* PPS SEIGNIOR 主ICON 與介紹 */
.Seignior-Block {
    border: 1px solid red;

    width: 100%;
    /* height: 800px; */

}

.PPSSeignior {
    border: 1px solid yellow;
    /* max-width: 1920px; */
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    

}

.PPSSeignior-mainIcon-Block {
    border: 1px solid red;
    /* max-width: 600px; */
    width: 45%;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    justify-content: flex-end;
    padding: 0 100px;

}
.PPSSeignior-mainIcon{
    border: 1px solid red;
    /* position: relative; */
}
.golden-frame {
    /* position: absolute;
    top: 0; */
    max-width: 500px;
    width: 100%;
    z-index: 3;
}

.main-Icon {
    /* position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 52%; */
    max-width: 500px;
    width: 100%;
    z-index: 2;
}

.PPSSeignior-Info-Block {
    border: 1px solid rgb(90, 45, 238);
    width: 55%;
    background-image: url("/images/NFTindex/NFTindex_Seignior/team.png");
    background-position: center right;
    background-repeat: no-repeat;
    background-size: contain;
    /* max-width: 1000px; */
    display: flex;
    align-items: center;
    /* justify-content: center; */
    justify-content: flex-start;
    position: relative;
    padding: 80px 100px;
}
.PPSSeignior-Gradient{
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    width: 100%;
    height: 100%;
    background: no-repeat center top / 100% 100%;
    background-image: linear-gradient(to bottom, #203240 0%, #203240af 10%, #20324000 20%, #20324000 80%, #203240af 90%, #203240 100%);
    z-index: 1;
}

.PPSSeignior-Paragraph{
    border: 1px solid red;
    max-width: 600px;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin: 30px auto; */
    font-family: adobe-fan-heiti-std, 'Source Sans Pro', sans-serif;
    z-index: 10;
}
.PPSSeignior-Title {
    font-size: 30px;
    line-height: 1.14;
    letter-spacing: 3.6px;
    /* text-align: center; */
    color: #fff;
    padding: 10px 30px 10px 30px;
    border-radius: 25px;
    border: solid 4.4px #fff;
    display: inline-block;
    margin-bottom: 25px;
}

.PPSSeignior-Text-01{
    font-size: 24px;
    color: #fff;
    letter-spacing: 2px;
    text-align: center;
    margin-bottom: 20px;
    line-height: 1.37;
}
.PPSSeignior-Text-02{
    font-size: 20px;
    color: #fff;
    letter-spacing: 2px;
}
.PPSSeignior-Text-02 span{
    color: #f27a13;
    position: relative;
    padding-right: 27px;
    font-weight: 600;
}
.PPSSeignior-Text-02 span::after{
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    top: 45%;
    background-color: #d96e3f;
    transform: rotate(45deg)translateY(-50%);
    margin-left: 5px;
}

.PPSSeignior-Text-02-1{
    margin-bottom: 20px;
    text-align: center;
}


/* PPS Riders NFT 蛇階級與介紹 */
.PPSRidersNFT-BG{
    border: 1px solid red;
    width: 100%;
    /* clip-path: polygon(0 0, 100% 0, 100% 88%, 0% 100%); */
    background-image: url("/images/NFTindex/NFTindex_Seignior/Mid_bottom.png");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    /* height: 1000px; */
}
.PPSRidersNFT-Block{
    border: 1px solid red;
    max-width: 1500px;
    width: 90%;
    margin: 100px auto;
    display: flex;
    justify-content: space-between;
}
.PPSRidersNFT-IconsAll{
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
}
.PPSRidersNFT-Icons-row{
    border: 1px solid red;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.SnakeIcons-Block{
    border: 1px solid orange;
    position: relative;
    width: 100%;
    margin: 30px;
}

.PPSRidersNFT-Icons-Snake{
    border: 1px solid yellow;
    width: 100%;
    position: absolute;
    /* transform: translate(-50%, -50%);
    top: 50%;
    left: 50%; */
    top: 0;
    left: 0;
    z-index: 5;

}
.PPSRidersNFT-Icons-BG{
    border: 1px solid green;
    width: 100%;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    pointer-events: none;

    z-index: 1;
}


/* 蛇王 */
#SnakeIcons-Block-01{
    max-width: 400px;
    height: 327px;

}
#SnakeIcons-Block-01 .PPSRidersNFT-Icons-Snake{
    
}
#SnakeIcons-Block-01 .PPSRidersNFT-Icons-BG{
    width: 150%;
    top: 55%;
}

/* 蛇二級 */
#SnakeIcons-Block-02{
    max-width: 220px;
    height: 270px;

}
#SnakeIcons-Block-02 .PPSRidersNFT-Icons-Snake{
    
    
}
#SnakeIcons-Block-02 .PPSRidersNFT-Icons-BG{
    width: 160%;
}

/* 蛇三級 */
#SnakeIcons-Block-03{
    max-width: 160px;
    height: 190px;

}
#SnakeIcons-Block-03 .PPSRidersNFT-Icons-Snake{
    
    
}
#SnakeIcons-Block-03 .PPSRidersNFT-Icons-BG{
    width: 160%;
}


#SnakeIcons-Block-04{
    max-width: 160px;
    height: 190px;

}
#SnakeIcons-Block-04 .PPSRidersNFT-Icons-Snake{
    
    
}
#SnakeIcons-Block-04 .PPSRidersNFT-Icons-BG{
    width: 160%;
}

/* 蛇四級  */
#SnakeIcons-Block-05{
    max-width: 100px;
    height: 120px;
}
#SnakeIcons-Block-05 .PPSRidersNFT-Icons-Snake{
    
    
}
#SnakeIcons-Block-05 .PPSRidersNFT-Icons-BG{
    width: 180%;
}

#SnakeIcons-Block-06{
    max-width: 125px;
    height: 120px;
}
#SnakeIcons-Block-06 .PPSRidersNFT-Icons-Snake{
    
    
}
#SnakeIcons-Block-06 .PPSRidersNFT-Icons-BG{
    width: 180%;
}


#SnakeIcons-Block-07{
    max-width: 110px;
    height: 120px;
}
#SnakeIcons-Block-07 .PPSRidersNFT-Icons-Snake{
    
    
}
#SnakeIcons-Block-07 .PPSRidersNFT-Icons-BG{
    width: 180%;
}


.PPSRidersNFT-InfoBlock{
    border: 1px solid wheat;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 800px;
}
.PPSRidersNFT-Info{
    border: solid 7px #fff;
    max-width: 600px;
    width: 90%;
    /* height: 763px; */
    padding:  0 50px;
    border-radius: 25px;
    letter-spacing: 1px;
    font-family: adobe-fan-heiti-std, 'Source Sans Pro';
}
.PPSRidersNFT-Info-Title{
    color: #fff;
    margin: 40px auto 20px;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
}
.PPSRidersNFT-Info-Text{
    color: #fff;
    margin: 0px auto 50px;
}
.PPSRidersNFT-Info-Button{
    background-image: url("/images/NFTindex/NFTindex_Seignior/yellow_button.png");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 280px;
    height: 60px;
    margin: 0px auto 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    color: #fff;
    font-weight: 600;
    font-family: 'Bitter', serif;
    transition: all 0.2s ease-in-out;
    filter: drop-shadow(2px 2px 10px rgba(28, 28, 28, 0.487));
}
.PPSRidersNFT-Info-Button:hover{
    text-decoration: none;
    transform: translateY(-1px);
}