@page "/Valentine2023"

@using SnakeAsianLeague.Pages.Festival.Valentine2023.Components

@inject IJSRuntime JS


<head>
    <title>PonPonSnake｜Valentine2023</title>
    <link href="/css/Festival/Valentine2023/Valentine2023.css" rel="stylesheet" />
</head>

<div class="Valentine2023">
    <Valentine2023_Banner />
    <Valentine2023_About />
    <Valentine2023_Rules />
    <Valentine2023_Reward />

    <Valentine2023_Rank />
    <Valentine2023_Schedule />
</div>


@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)

    {
        if (firstRender)
        {
            await JS.InvokeVoidAsync("installI18n");
        }
    }
}