@page "/Valentine2023"

@using SnakeAsianLeague.Pages.Festival.Valentine2023.Components

@inject IJSRuntime JS


<head>
    <title>PonPonSnake｜Valentine2023</title>
    <link href="/css/Festival/Valentine2023/Valentine2023.css" rel="stylesheet" />
</head>