@page "/Valentine2023"

@using SnakeAsianLeague.Pages.Festival.Valentine2023.Components

@inject IJSRuntime JS


<head>
    <title>PonPonSnake｜Valentine2023</title>
    <link href="/css/Festival/Valentine2023/Valentine2023.css" rel="stylesheet" />
</head>

<div class="Valentine2023">

    <Valentine2023_Banner />
    <div class="Valentine2023-BG">
        
        <div class="Valentine2023-BG-heart parallax_block" >
            <img class="heart-BG ParallaxMove" data-depth="0.3" src="/images/Festival/Valentine2023/heart00.png" alt="">

            @* <img class="heart-BG ParallaxMove" data-depth="0.5" src="/images/Festival/Valentine2023/heart01.png" alt="">
            <img class="heart-BG ParallaxMove" data-depth="0.2" src="/images/Festival/Valentine2023/heart02.png" alt="">
            <img class="heart-BG ParallaxMove" data-depth="0.3" src="/images/Festival/Valentine2023/heart03.png" alt=""> *@
        </div>
       
        <Valentine2023_About />
        <Valentine2023_Rules />
        <Valentine2023_Reward />

        @*<Valentine2023_Rank />*@
        <Valentine2023_Schedule />
    </div>
</div>


@code {

    private IJSObjectReference? Valentine2023ParallaxMoveJS;
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
        Valentine2023ParallaxMoveJS = await JS.InvokeAsync<IJSObjectReference>("import","./JavaScript/Festival/Valentine2023/Valentine2023ParallaxMove.js");
        await Valentine2023ParallaxMoveJS.InvokeVoidAsync("Valentine2023_BG_heart");
        await JS.InvokeVoidAsync("installI18n");
        }
    }

}