@page "/ERNC"

@using SnakeAsianLeague.Pages.ERNC.Components

@inject IJSRuntime JS

<head>
    <link href="/css/ERNC/ERNC.css" rel="stylesheet" />
</head>

<div class="ERNC-Block">
    <ERNC_BannerCard/>
    @* <ERNC_Allocation/>
    <ERNC_Table/> *@
        
    
</div>