@inject IJSRuntime JS

<head>
    <link href="/css/FrontPage/FrontPage_Start.css" rel="stylesheet" />
 
</head>

<div class="Start"> 
    <div class="Start-Container">
            <div class="airship ">
                <img class="withWind"  src="/images/FrontPage/Start/airship_4.png" />
            </div>
            <div class="StartQRcode"></div>
            <img class="StartMount" src="/images/FrontPage//Start/mount.png" />
            <img class="StartCity" src="/images/FrontPage/Start/city.webp" />
            <img class="buttonCloud" src="/images/FrontPage/Start/buttonCloud.png"/>
    </div>
    <div class="StartLogo">
        <img src="/images/FrontPage/Start/LOGO_EN (1).webp"/>
       @* <div class ="Start-snake">
            <div class ="startSnake-Container">
                
            </div>
            <img class="snake-img" src="/images/FrontPage/Start/Icon_snake.png" />
        </div>
        <div class ="Start-Arrow">

        </div>*@
    </div>
  
</div>
   


@code {
    private IJSObjectReference? ScrollMagicSetJS;
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            ScrollMagicSetJS = await JS.InvokeAsync<IJSObjectReference>("import","./JavaScript/FrontPage/ScrollMagicSet.js");
            await ScrollMagicSetJS.InvokeVoidAsync("ScrollMagicSet");
        }
    }

}
