@page "/FrontPage_Travel"
@inject IJSRuntime JS

<head>
    <link href="/css/FrontPage/FrontPage.css" rel="stylesheet" />
    <link href="/css/FrontPage/FrontPage_Travel.css" rel="stylesheet" />
</head>


<div class="FrontPage_Travel">
    <div class="Travel-block">
        @* 主標題 *@
        <div class="FrontPage-Title" id="FrontPage-Title-02">
            <img src="/images/FrontPage/FrontPage-Title-02.webp" alt="">      
        </div>

        @* 地區徽章 *@
        <div class="around_the_world">
            <div class="RegionalBadge-block">
                <div class="RegionalBadge-icon-block">
                    <img class="RegionalBadge-icon" id="RegionalBadge-01"
                        src="/images/FrontPage/Travel/RegionalBadge-01.png" alt="">
                    <div class="RegionalBadge-name">Della</div>
                </div>
                <div class="RegionalBadge-icon-block">
                    <img class="RegionalBadge-icon" id="RegionalBadge-02"
                        src="/images/FrontPage/Travel/RegionalBadge-02.png" alt="">
                    <div class="RegionalBadge-name">Potronis</div>
                </div>
                <div class="RegionalBadge-icon-block">
                    <img class="RegionalBadge-icon" id="RegionalBadge-03"
                        src="/images/FrontPage/Travel/RegionalBadge-03.png" alt="">
                    <div class="RegionalBadge-name">Nord</div>
                </div>

                <div class="RegionalBadge-icon-block">
                    <img class="RegionalBadge-icon" id="RegionalBadge-04"
                        src="/images/FrontPage/Travel/RegionalBadge-04.png" alt="">
                    <div class="RegionalBadge-name">Chaoyang</div>
                </div>

                <div class="RegionalBadge-icon-block">
                    <img class="RegionalBadge-icon" id="RegionalBadge-05"
                        src="/images/FrontPage/Travel/RegionalBadge-05.png" alt="">
                    <div class="RegionalBadge-name">Faline</div>
                </div>
                <div class="RegionalBadge-icon-block">

                    <img class="RegionalBadge-icon" id="RegionalBadge-06"
                        src="/images/FrontPage/Travel/RegionalBadge-06.png" alt="">
                    <div class="RegionalBadge-name">Ruins</div>
                </div>
            </div>

            @* 世界地圖 *@
            <div class="TravelMap-block">
                <div class="TravelMap TravelMap-02-Potronis">
                    <div class="TravelMap-hidden">
                        <div class="TravelMap-round">
                            <img src="/images/FrontPage/Travel/TravelMap.webp" alt="">
                        </div>
                        
                        @* 區域內容顯示 *@
                        <div class="Area-display-block ">
                            @* 探照鏡 *@
                            <div class="TelescopicSight" id="TelescopicSight">
                                <div class="TravelMap-circle">
                                    <svg class="TravelMap-circle-line" xmlns="http://www.w3.org/2000/svg" width="285" height="285"
                                        viewBox="0 0 285 285">
                                        <g id="" data-name="" fill="none" stroke="#dcbd71" stroke-width="2.5">
                                            <circle cx="142.5" cy="142.5" r="142.5" stroke="none" />
                                            <circle cx="142.5" cy="142.5" r="141.25" fill="none" />
                                        </g>
                                    </svg>
                                    
                                    <svg class="TravelMap-circle-ball TravelMap-circle-ball-show" xmlns="http://www.w3.org/2000/svg" width="40" height="40"
                                        viewBox="0 0 35 35">
                                        <circle id="" data-name="" cx="17.5" cy="17.5" r="17.5" fill="#dcbd71" />
                                    </svg>
                                </div>
                                @* 地標 *@
                                <div class="TravelMap-landmark">
                                    <img  class="TravelMap-landmark-icon" src="/images/FrontPage/Travel/landmark-02.png" alt="">
                                </div>
                            </div>

                            @* 地域旗幟 *@
                            <div class="RegionalFlag-block">
                                <div class="RegionalFlag">
                                    <div class="RegionalFlag-BG"></div>
                                    <div class="RegionalFlag-icon-block">
                                        <img  class="RegionalFlag-icon" src="/images/FrontPage/Travel/knight_icon_02.png" alt="">
                                    </div>
                                </div>
                                <div class="RegionalFlag-name">
                                    <p>Potronis</p> 
                                    <img src="/images/FrontPage/Travel/RegionalFlag-title-BG.png" alt="">
                                </div>
                                
                            </div>
                            
                            
                        </div>
                        
                    </div>

                    @* 指針 *@
                    <div class="TravelMap-compass">
                        <img id="compass_inside" src="/images/FrontPage/Travel/compass_inside.png" alt="">
                        <img id="compass_outside" src="/images/FrontPage/Travel/compass_outside.png" alt="">
                    </div>

                    @* 雲霧 *@
                    <div class="TravelMap-cloud">
                        <img class="TravelMap-cloud-control" id="TravelMap-cloud-01" src="/images/FrontPage/Travel/TravelMap-cloud-01.png" alt="">
                        <img class="TravelMap-cloud-control" id="TravelMap-cloud-02" src="/images/FrontPage/Travel/TravelMap-cloud-02.png" alt="">
                        <img class="TravelMap-cloud-control" id="TravelMap-cloud-03" src="/images/FrontPage/Travel/TravelMap-cloud-03.png" alt="">
                    </div>

                    
                </div>
            </div>
        </div>




    </div>
</div>





@code {
    private IJSObjectReference? telescopicSightMoveJS;
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            telescopicSightMoveJS = await JS.InvokeAsync<IJSObjectReference>("import","./JavaScript/FrontPage/TravelMap.js");
            await telescopicSightMoveJS.InvokeVoidAsync("telescopicSightMove");
        }
    }

}
