@page "/FrontPage_Travel"
@inject IJSRuntime JS

<head>
    <link href="/css/FrontPage/FrontPage.css" rel="stylesheet" />
    <link href="/css/FrontPage/FrontPage_Travel.css" rel="stylesheet" />
</head>


<div class="FrontPage_Travel">
    <div class="Travel-block">
        @* 主標題 *@
        <div class="FrontPage-Title" id="FrontPage-Title-02">
            <img src="/images/FrontPage/FrontPage-Title-02.webp" alt="">
        </div>

        @* 地區徽章 *@
        <div class="around_the_world">
            <div class="RegionalBadge-block">
                <div class="RegionalBadge-icon-block">
                    <img class="RegionalBadge-icon" id="RegionalBadge-01-Della"
                        src="/images/FrontPage/Travel/RegionalBadge-01-Della.png" alt="">
                    <div class="RegionalBadge-name">Della</div>
                </div>
                <div class="RegionalBadge-icon-block">
                    <img class="RegionalBadge-icon" id="RegionalBadge-02-Potronis"
                        src="/images/FrontPage/Travel/RegionalBadge-02-Potronis.png" alt="">
                    <div class="RegionalBadge-name">Potronis</div>
                </div>
                <div class="RegionalBadge-icon-block">
                    <img class="RegionalBadge-icon" id="RegionalBadge-03-Nord"
                        src="/images/FrontPage/Travel/RegionalBadge-03-Nord.png" alt="">
                    <div class="RegionalBadge-name">Nord</div>
                </div>

                <div class="RegionalBadge-icon-block">
                    <img class="RegionalBadge-icon" id="RegionalBadge-04-Chaoyang"
                        src="/images/FrontPage/Travel/RegionalBadge-04-Chaoyang.png" alt="">
                    <div class="RegionalBadge-name">Chaoyang</div>
                </div>

                <div class="RegionalBadge-icon-block">
                    <img class="RegionalBadge-icon" id="RegionalBadge-05-Faline"
                        src="/images/FrontPage/Travel/RegionalBadge-05-Faline.png" alt="">
                    <div class="RegionalBadge-name">Faline</div>
                </div>
                <div class="RegionalBadge-icon-block">

                    <img class="RegionalBadge-icon" id="RegionalBadge-06-Ruins"
                        src="/images/FrontPage/Travel/RegionalBadge-06-Ruins.png" alt="">
                    <div class="RegionalBadge-name">Ruins</div>
                </div>
            </div>
        </div>

        @* 世界地圖 *@
        <div class="TravelMap-block">
            <div class="TravelMap">
                <div class="TravelMap-round">
                    <img src="/images/FrontPage/Travel/TravelMap.webp" alt="">
                </div>

                @* 指針 *@
                <div class="TravelMap-compass">
                    <img id="compass_inside" src="/images/FrontPage/Travel/compass_inside.png" alt="">
                    <img id="compass_outside" src="/images/FrontPage/Travel/compass_outside.png" alt="">
                </div>

                @* 雲霧 *@
                <div class="TravelMap-cloud">
                    <img class="TravelMap-cloud-control" id="TravelMap-cloud-01" src="/images/FrontPage/Travel/TravelMap-cloud-01.webp" alt="">
                    <img class="TravelMap-cloud-control" id="TravelMap-cloud-02" src="/images/FrontPage/Travel/TravelMap-cloud-01.webp" alt="">
                    <img class="TravelMap-cloud-control" id="TravelMap-cloud-03" src="/images/FrontPage/Travel/TravelMap-cloud-02.webp" alt="">
                </div>
            </div>
        </div>


    </div>
</div>





@code {

}
