@inject IJSRuntime JS

<head>
    <link href="/css/FrontPage/FrontPage_Start.css" rel="stylesheet" />
 
</head>

<div class="Start"> 
    <div class="Start-Container">
            <div class="airship ">
                <img class="withWind"  src="/images/FrontPage/Start/airship_4.png" />
            </div>
            <div class="StartQRcode"></div>
            <img class="StartMount" src="/images/FrontPage//Start/mount.png" />
            <img class="StartCity" src="/images/FrontPage/Start/city.webp" />
            <img class="buttonCloud" src="/images/FrontPage/Start/buttonCloud.png"/>
    </div>
    <div class="StartLogo">
        <img class="StartLogo-img" src="/images/FrontPage/Start/LOGO_EN (1).webp"/>
       <div class ="Start-snake">
            <div class="snake-img">
                <img  class="snake-Icon" src="/images/FrontPage/Start/Icon_snake.png" />
                <p>Start</p>
            </div>       
        </div>

        <div class ="Start-snake">
            <div class="">
                <img  class=" snake-Icon" src="/images/FrontPage/Start/Icon_snake.png" />
                <p>Start</p>
            </div>       
        </div>
        <svg class="arrows">
            <path class="a1" d="M0 0 L30 32 L60 0"></path>
            <path class="a2" d="M0 20 L30 52 L60 20"></path>
            <path class="a3" d="M0 40 L30 72 L60 40"></path>
        </svg>
    </div>
  
</div>
   


@code {
    private IJSObjectReference? ScrollMagicSetJS;
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            ScrollMagicSetJS = await JS.InvokeAsync<IJSObjectReference>("import","./JavaScript/FrontPage/ScrollMagicSet.js");
            await ScrollMagicSetJS.InvokeVoidAsync("ScrollMagicSet");
        }
    }

}
