@inject IJSRuntime JS

<head>
    <link href="/css/FrontPage/FrontPage_Start.css" rel="stylesheet" />
 
</head>

<div class="Start"> 
    <div class="Start-Container">
           <img class="airship" src="/images/FrontPage/Start/airship_4.png" />
         

    </div>
      <div class="Start-logo">
               <img src="/images/FrontPage/Start/LOGO_EN (1).webp"/>
           </div>
</div>
   


@code {
    private IJSObjectReference? ScrollMagicSetJS;
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            ScrollMagicSetJS = await JS.InvokeAsync<IJSObjectReference>("import","./JavaScript/FrontPage/ScrollMagicSet.js");
            await ScrollMagicSetJS.InvokeVoidAsync("ScrollMagicSet");
        }
    }

}
