@page "/FrontPage_Travel"
@inject IJSRuntime JS

<head>
    <link href="/css/FrontPage/FrontPage.css" rel="stylesheet" />
    <link href="/css/FrontPage/FrontPage_Travel.css" rel="stylesheet" />
</head>


<div class="Travel">
    <div class="Travel_block">
        <div class="FrontPage-Title">
            <img id="FrontPage-Title-02" src="/images/FrontPage/FrontPage-Title-02.webp" alt="">
        </div>
    </div>
</div>





@code {

}
