.WarmUpActivities_Reward{
    width: 100%;
    padding: 80px 0;
    /* height: 1000px; */
}

.Reward-GoldTitle{
    background-color: #340b089d;
    padding: 10px 0;
    text-align: center;
}
/* .Reward-GoldTitle span{
    -webkit-text-stroke: 0.3px #572610;
    background-image: linear-gradient(to top, #b86d02, #fff, #9a6923), linear-gradient(to bottom, #fff, #fff);
    font-size: 40px;
    font-weight: 600;
    line-height: 1.22;
    letter-spacing: 5px;
    text-align: center;
    color: #fff;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
} */
.Reward-GoldTitle img{
    max-width: 480px;
    filter: drop-shadow(0px 0px 5px rgba(254, 244, 169, 0.5));
}
.Reward-Title-01{
    color: #fff;
    text-align: center;
    font-size: 34px;
    font-weight: 600;
    letter-spacing: 3px;
    margin: 40px auto 20px;
}
.Reward-Title-02{
    color: #fff;
    text-align: center;
    font-size: 18px;
    max-width: 500px;
    letter-spacing: 2px;
    margin: 0 auto;
    line-height: 28px;
}
.top50{
    width: 90%;
    margin: 45px auto;
    box-shadow: -4.7px -1.8px 9px 0 rgba(0, 0, 0, 0.53), inset 0px -1px 2px 0 rgba(0, 0, 0, 0.17);
    border: solid 3px #e1e2e1;
    background-image: linear-gradient(to top, #cfcfcf, #fff);
    border-radius: 15px;
    /* overflow: hidden; */
    max-width: 850px;
}
.top50-Title{
    box-shadow: 2px 5px 5px 0 rgba(0, 0, 0, 0.27),inset 2px 0px 5px 0 rgba(0, 0, 0, 0.27);
    background-color: #953625;
    color: #fff;
    padding: 10px 30px;
    /* width: 30%; */
    display: inline-block;
    border-radius: 0px 0px 15px 0px;
    font-size: 30px;
    letter-spacing: 3px;
    font-weight: 500;
    margin: -3px 0 5px -3px;

    background-image: url(/images/Event/WarmUpActivities/top50-Title-BG.png);
    background-repeat: round;
    background-size: cover;
}

.top50-Table{
    /* border: 1px solid red; */
    color: #531c1c;
    width: 90%;
    margin: 0 auto 25px;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    border-spacing: 0 12px;  
    border-collapse: separate;
}
.top50-Table tr:not(:first-child){
    /* border-radius: 20px;
    border: solid 2px #707070; */
    margin-bottom: 10px;
    /* text-align: center; */
}
.top50-Table tr th{
    /* text-align: center; */
}
.top50-Table-Place{
    width: 30%;
    padding-left: 5%;
}
#Table-Place{
    padding-left: 7.5%;
}
.top50-Table-Reward{
    width: 28%;
}
#Table-Reward{
    padding-left: 5%;
}
.top50-Table-Value{
    width: 25%;
}
#Table-Value{
    padding-left: 2%;
}
.top50-Table-TotalValue{
    width: 25%;
}
.top50-Table td{
    /* border: solid 2px #707070; */
    border-top: solid 2px #707070;
    border-bottom: solid 2px #707070;
    line-height: 40px;
    /* margin-bottom: 10px; */
}

td:first-child{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-left: solid 2px #707070;
  }
  
  td:last-child{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-right: solid 2px #707070;
  }