.WarmUpActivities_EventInfo{
    width: 100%;
    background-image: url(/images/Event/WarmUpActivities/EventInfo-BG.png);
    background-position: top center;
    background-repeat: repeat;
    background-size: contain;
    /* height: 1000px; */
    padding: 80px 0;
}


.EventInfo_Date{
    max-width: 835px;
    width: 100%;
    background-color: #3e1916b8;
    letter-spacing: 2px;
    padding: 10px 20px;
    text-align: center;
    position: relative;
}
.EventInfo_Date span{

    text-shadow: #420101 5px 5px 17px;
    font-size: 26px;
    color: #fff;
    width: 100%;
    font-weight: 500;
}
.EventInfo_Date::before{
    content: "";
    width: 13px;
    height: 13px;
    background-color: #fff;
    position: absolute;
    transform: translateY(-50%) rotate(45deg);
    top: 50%;
    left: 9%;
}
.EventInfo_Date::after{
    content: "";
    width: 13px;
    height: 13px;
    background-color: #fff;
    position: absolute;
    transform: translateY(-50%) rotate(45deg);
    top: 50%;
    right: 9%;
    
}
.EventInfo_introduce{
    /* max-width: 1000px; */
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px auto;
}
.EventInfo_card{
    max-width: 340px;
    width: 40%;
    /* height: 500px; */
    /* border: 1px solid red; */
    /* background-image: url(/images/Event/WarmUpActivities/EventInfoCard-BG.png);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: contain; */
    position: relative;
}

#EventInfo_card-BG{
    /* border: 1px solid rgb(102, 0, 255); */
    /* max-width: 340px; */
    width: 100%;
}
#EventInfo_card-01{
    position: absolute;
    max-width: 320px;
    width: 95%;
    top: 28%;
    left: -10%;
    z-index: 2;
}
#EventInfo_card-02{
    position: absolute;
    max-width: 370px;
    width: 105%;
    top: -2%;
    left: 38%;
    z-index: 1;
}
.EventInfo_text{
    /* border: 1px solid red; */
    color: #fff;
    max-width: 500px;
    z-index: 3;
    margin: 0 20px;
    /* padding: 0 20px; */
}
.EventInfo_text h1{
    font-size: 30px;
    text-shadow: 
            1.5px -1.5px 0px #4f0b0b,
            -1.5px 1.5px 0px #4f0b0b,
            1.5px 1.5px 0px #4f0b0b,
            -1.5px -1.5px 1px #4f0b0b,
            1.5px -1.5px 1px #4f0b0b,
            -1.5px 1.5px 1px #4f0b0b,
            1.5px 1.5px 1px #4f0b0b,
            -1.5px -1.5px 1.5px #4f0b0b,
            1.5px -1.5px 1.5px #4f0b0b,
            -1.5px 1.5px 1.5px #4f0b0b,
            1.5px 1.5px 1.5px #4f0b0b,
            -2px -2px 2px #4f0b0b,
            2px -2px 2px #4f0b0b,
            -2px 2px 2px #4f0b0b,
            2px 2px 2px #4f0b0b,
            -2px -2px 2px #4f0b0b,
            2px -2px 2px #4f0b0b,
            -2px 2px 2px #4f0b0b,
            2px 2px 2px #4f0b0b,
            2px 2px 2px #4f0b0b,
            -2.5px -2.5px 2.5px #4f0b0b,
            2.5px -2.5px 2.5px #4f0b0b,
            -2.5px 2.5px 2.5px #4f0b0b,
            2.5px 2.5px 2.5px #4f0b0b,
            -3px -3px 3px #4f0b0b,
            3px -3px 3px #4f0b0b,
            -3px 3px 3px #4f0b0b,
            3px 3px 3px #4f0b0b,
            -3px -3px 3px #4f0b0b,
            3px -3px 3px #4f0b0b,
            -3px 3px 3px #4f0b0b,
            3px 3px 3px #4f0b0b,
            -3px -3px 3px #4f0b0b,
            3px -3px 3px #4f0b0b,
            -3px 3px 3px #4f0b0b,
            3px 3px 3px #4f0b0b,
            -3px -3px 3px #4f0b0b,
            3px -3px 3px #4f0b0b,
            -3px 3px 3px #4f0b0b,
            3px 3px 3px #4f0b0b;

    -webkit-text-stroke: 1px #4f0b0b;
    font-weight: 600;
    letter-spacing: 2px;
    line-height: 40px;
    margin-bottom: 15px;
    /* padding: 0 20px; */
}

.EventInfo_text p{
    letter-spacing: 1.8px;
    max-width: 430px;
    font-size: 18px;
    line-height: 32px;
    text-align: justify;
    margin: 0 auto;
    backdrop-filter: blur(1px);
    /* font-weight: 500; */
    /* padding: 0 20px; */
}

