@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&display=swap');

.WarmUpActivities{
    font-family: 'Noto Sans TC', sans-serif;
}

.WarmUpActivities_CenterBlock{
    /* border:  1px solid rgb(145, 93, 93); */
    max-width: 1200px;
    width: 100%;
    margin: 0px auto;
}


.WarmUpActivities_Title{
    max-width: 290px;
    border-radius: 20px;
    /* background-color: #742b25; */
    background-image: linear-gradient(to bottom, #742b25 0%, #4b1c18 50%, #742b25 100%);
    font-size: 36px;
    line-height: 40px;
    font-weight: bold;
    color: #fff;
    padding: 10px 10px 15px;
    /* display: inline-block; */
    letter-spacing: 5px;
    box-shadow: inset 0px 0px 10px 3px #4b1c1885, 0px 0px 7px 4px #ffe3e335;
    margin: 0px auto 50px;
    text-align: center;
}
