<div class="Event-Info" >
   
        <h2 id="EventInfo">- Event Info -</h2>
        <p>Sign up now and get 10% SRC of the sign up fee!</p>

        <div class="ticket"> 
             <div class="ticket-container">
                <img src="/images/AsiaChampionsLeague/S3/More Info/Full season ticket/Tickeet full season _ whole.png" />
                <img src="/images/AsiaChampionsLeague/S3/More Info/Mid season ticket/Mid Season_ Whloe.png" />
                <img src="/images/AsiaChampionsLeague/S3/More Info/Late season ticket/星光票.png" />    
             </div>
        </div>

        <div class="poster">
            <div class="poster-container"> 
              <img src="/images/AsiaChampionsLeague/S3/More Info/Solo and Squad/More info_ Solo-1.png"/>
              <div class="poster-shine"></div>
            </div>
            <div class="poster-container"> 
                <img src="/images/AsiaChampionsLeague/S3/More Info/Solo and Squad/More info_ Squad-1.png"/>
                <div class="poster-shine"></div>
            </div>
        </div>
        <div class="button-container">
            <button>

            </button>
         </div>
 
</div>
@code {

}
