@inject IJSRuntime JS

<div class="Rules">
    <h2 id="Rules">- Rules -</h2>
    <div id="ACLS3RulesCarousel" class="Rules-owl-Container">
        <div  class="owl-carousel owl-theme ACLS3RulesCarousel" >
            <div class="item Typewriter" style="margin:0;" >
                 <p>1.Solo Battle Group :</p>
                 <div class="Typewriter-blank"></div>
                 <p>(1)You will need to climb the ladder rank. </p>
                 <p>Players will earn 20 tickets each cycle(two days a cycle),  </p>
                 <p>joining a battle will consume one ticket.</p>
                 <p > Every victory will give you one point, </p>
                 <p>you won't be getting or losing any point if you lose a game.</p>
                 <p > The top eight players will have permission for the finals.</p>
                 <p >(Players must have over 10 points for attending the finals.)</p>
                 <img class="Rule_Icon" src="./images/AsiaChampionsLeague/S3/Rule/Rule_Icon.png" />
            </div>
            <div class="item Typewriter " >
               
                 <p >2. Squad Battle Group:</p>
                  <div class="Typewriter-blank"></div>              
                  <p class="TypewriterPage2Computer">(1)Players can team up from one to five. Captain can invite or dismiss any member.</p>             
                  <div class="Typewriter-blank"></div>                 
                 <p class="TypewriterPage2Computer">(2)You will need to climb the ladder rank. Six days will be a cycle.The first five </p>
                 <p class="TypewriterPage2Computer">days will be rank matches,the sixth day is the final match, every cycle the leader will  </p>
                 <p class="TypewriterPage2Computer">get 100 tickets and can distribute them to all the members.Each team member can earn their </p>                
                 <p class="TypewriterPage2Computer"> own score,be automatically added to the team points. Joining a battle will all the wins will </p>
                 <p>consume one ticket.Every victory will give you one point,</p>
                 <p>you won't be getting or losing any point if you lose a game.</p>                
                   <div class="Typewriter-blank"></div>
                 <p>(3)During the final match, each team can have four players, </p>             
                 <p >there must be at least one player attending the game to </p> 
                 <p > be recognized as a valid match.</p>  
                 <div class="Typewriter-blank"></div>
                 <p>(4)If teams are out of tickets, there'll be more tickets in the store.</p>
                 <p>The leaders are allowed to buy 25 tickets each cycle (6 days).</p>
            
       
               <img class="Rule_Team" src="./images/AsiaChampionsLeague/S3/Rule/Rule_Team icon.png" />
             </div>
         
            <div class="item Typewriter">
                <p>3. Final</p>
                    <div class="Typewriter-blank"></div>
                <p>Please enter the waiting room 5 mins before the Final begins. </p>                <p>There will be Three rounds in the Final:</p>
                <p>·The first round will select Final Four players.</p>
                <p>·The second round will select the final three players.</p>
                <p>·The last round will decide First, second, third place player.</p>
         </div>
              
        </div>
    </div>
    
</div>


@code {
  
   
}
