@inject IJSRuntime JS

<div class="Rules">
    <h2 id="Rules">- Rules -</h2>
    <div id="ACLS3RulesCarousel" class="Rules-owl-Container">
        <div  class="owl-carousel owl-theme ACLS3RulesCarousel" >
            <div class="item Typewriter" >
                 <p class="Typewriter-1">i. Elite silver group (solo) - 6 matches</p>
                 <p  class="Typewriter-1">ii. Elite diamond group (solo) - 3 matches</p>
                 <p  class="Typewriter-1">iii. Elite master group (solo) - 1 matches</p>
                 <p  class="Typewriter-1">iv. Elite silver solo  -6  matches</p>
                 <p  class="Typewriter-1">v. Elite diamond solo -3 matches</p>
                 <p  class="Typewriter-1">vi. Elite master solo - 1 matches</p>
            </div>
            <div class="item Typewriter" >
                 <p>b. Squad group(Charity match/Elite match)</p>
                 <p>i. Squad Rules</p>
                 <p>1. Players can team up from one to five. Captain can invite or dismiss any member.</p>
                 <p>2. Each squad will earn 100 tickets each cycle(two days a cycle), joining a battle will consume one ticket.</p>
                 <p>3. Tickets should be received by the captain, he/she can distribute them to all the members. Once the ticket is sent out, the captain will not be able to retrieve it.</p>
                 <p>4. If any member left the squad, all remaining tickets will be automatically returned to the captain; any player will not be able to join another squad by 12 hours after leaving one.</p>
                 <p>5. Squad Point: Each member can win the solo match for credits. Every victory will add one point; if lose will not gain any point.</p>
                 <p>1. The top eight squads will be able to attend the final match。</p>
                 <p>2. The squad must have over 50 points for attending the finals. </p>
            </div>
            <div class="item Typewriter">
                <p>a. Players must have the nationality of the Republic of China. (R.O.C, Taiwan)</p>
                <p>b. Players must abide by all rules of compliance, if not, we have the right to cancel the award.</p>
                <p>c. Winners must provide the award confirmation page, then we will contact the winners within seven days. If the login cannot be completed due to network problems, please contact your telecommunications provider and we will not be responsible for this issue.</p>
                <p>d.The captain should be responsible for receiving and distributing the award to his teammates, we will not be responsible for this section.</p>
                <p>e. According to the tax law of the Republic of China(Taiwan), if the prize is worth more than NT$1,001 (inclusive), a photocopy of the ID card must be submitted for tax declaration and included in the comprehensive personal income tax declaration in the following year, and we will not send additional paper copies. Prizes worth more than NT$20,000 are legally required to pay 10% chance prize tax in advance. If the winner is unwilling to cooperate, it will be regarded as an automatic waiver and will not be eligible for the award. Winners must agree to pay taxes and agree that we may withhold (pay) relevant taxes by relevant laws and regulations.</p>
                <p>f. All prizes can be exchanged; if the winners do not cooperate with the above situations, it will be regarded as an automatic waiver. If the winner does not meet the qualifications or gives up, there will be no online announcement.</p>
                <p>g. We only use the players'  personal data for this event. According to the [Personal Data Protection Law], we will safeguard the rights of the players. If The winner agrees then their personal data will be collected, processed, and used by the CQI GAMES, but not for other purposes. </p>
                <p>h. We only provide shipping in Taiwan, Kinmen, Penghu, and Matsu regions, we will not be responsible for mailing awards to overseas regions.</p>
                <p>i. Participants must ensure that all the information filled in or submitted is true and correct and with no fraudulent use or misappropriation of other people's information. If there is any situation above, we will disqualify the prize winner and reserve all legal rights.</p>
                <p>j. Our administration reserves the right to amend, remove, or make changes to the details of the event and awards without prior notice. If the event cannot be completed due to reasons of force majeure.We have the right to cancel, terminate, modify or suspend this event.</p>
            </div>
            <div class="item Typewriter">
                <p>a. Any player participating in the game must authorize CQI GAMES and related cooperative units to broadcast or record the gameplay in any event, and to be royalty-free so that the broadcast can be used anytime for all events.</p>
                <p>b. Players that attend the final match must cooperate in live streaming for our related cooperative units.</p>
                <p>c. During and after the announcement time of the tournament, players that participate in the competition should ensure that they can complete the match live streaming and interview live. </p>
                <p>d. We will need video and audio for the live broadcast. The participating players must cooperate with the instructions of CQI GAMES and conduct the live stream. If the player is unwilling to cooperate, we reserve the right to disqualify this player.</p>
            </div>         
        </div>
    </div>
    
</div>


@code {
  
   
}
