<div class="Reward">
    <h2 id="Reward">- Reward -</h2>
    <h3>All top 8 Gets the Price</h3>

    <div class="Reward-imgContainer">
        <div ></div>
        <img class="Reward-ERNC" data-src="/images/AsiaChampionsLeague/S3/Reward/Banner/Banner_ ERNC ICON.webp"/>
        <img class="Reward-Word" data-src="/images/AsiaChampionsLeague/S3/Reward/Banner/Banner_Word.webp"/>
    </div>
    <div class="Reward-PtagContainer">
        <p>This year we will be giving out “191,155 ERNC” in total for winners around the social community. We are delighted with the response gathered from last season and fully appreciate players who are willing to help us improve Pon Pon Snake’s game experience.</p>

        <p> Not Just the Top 3 obtain prizes, we also prepared several awards all the way to the Top 8. There will be different categories to participate in. For deeper information, you may take a look at the new distribution below:</p>  
    </div>
    <img class="BonusEdition"  data-src="/images/AsiaChampionsLeague/S3/Reward/Reward_Solo Reward.webp"/>
    <img class="BonusEdition" data-src="/images/AsiaChampionsLeague/S3/Reward/Reward_Squad Reward.webp"/>
</div>
   
    
@code {

}
