<div id="Ranking" class="Ranking">     
    @*Banner*@
    <div class="Ranking-banner-Squad">
        <div class="Ranking-banner-bg">
            <div class="Ranking-banner-selectContainer">                   
                <div class="Ranking-banner-select"> 
                    <img class ="Bar" src="./images/AsiaChampionsLeague/S3/Ranking/Squad/Ranking_Squad select BAR-1.png" />
       
                </div>
             </div>
        </div> 
    </div>

    @*Date*@
    <img class="Ranking-Date" src="./images/AsiaChampionsLeague/S3/Ranking/Ranking_Date.png" />
                
    @*Place*@
    <div class="Ranking-Place">
        <div class="Ranking-Place-left">
            <div class="Ranking_First">
                <img class="shineCrown" src="/images/AsiaChampionsLeague/S3/Ranking/Place/pngegg.png"/>
                <img  src="/images/AsiaChampionsLeague/S3/Ranking/Place/皇冠1.png"/>
                <h3>
                    Player ID
                </h3>
                <p>
                    # Rider NFT number
                </p>
            </div>
            <div class="Ranking_Second">
                <h3>
                    Player ID
                </h3>
                <p>
                    # Rider NFT number
                </p>
            </div>
            <div class="Ranking_third">
                <h3>
                    Player ID
                </h3>
                <p>
                    # Rider NFT number
                </p>
            </div>
        </div>
        <div class="Ranking-Place-right">
            <div class="Ranking-Place-Other">

            </div>
        </div>
    </div>
</div>
@code {

}
