<div class="Schedule">
    <h2 id="Schedule" >- Schedule -</h2>
    <div class="Schedule-BG">
        <div class="Schedule-Month">
            <img class="ScheduleMonth-prev"src="/images/AsiaChampionsLeague/S3/Calender/Calender_ Month button icon.png">
            <p> July </p>
            <img class="ScheduleMonth-next" src="/images/AsiaChampionsLeague/S3/Calender/Calender_ Month button icon.png">

        </div>
        <div class="Schedule-Week">
            <p>MON</p>
            <p>TUES</p>
            <p>WED</p>
            <p>THURS</p>
            <p>FRI</p>
            <p>SAT</p>
            <p>SUN</p>
        </div>
        <div class="Schedule-Carousel">        
            <div class="owl-carousel owl-theme ACLS3ScheduleCarousel">
                @*
                    先一個陣列
                    1維是月份，也是輪播的頁數
                    2維起始的星期，天數，
                    [
                    [],
                    [],
                    [],
                    [],
                    ]
                *@
                <div class="item">1</div>
                <div class="item">2</div>
                <div class="item">3</div>
                <div class="item">4</div>       
            </div>
        </div>
    </div>
</div>


@code {
   
}
