@inject IJSRuntime JS

<head>
        <link href="css/ACLIndex/S3/S3calendar.css" rel="stylesheet" />
</head>

<div class="Schedule">
    <h2 id="Schedule" class="Schedule-title" >- Schedule -</h2>
    <div class="Schedule-BG-Container">
        <img class="Schedule-Group" data-src="/images/AsiaChampionsLeague/S3/Calender/Group.webp"> 
        <div class="Schedule-BG">
               <div id='S3calendar'></div>
    <!--
            <div class="Schedule-Carousel">        
                <div class="owl-carousel owl-theme ACLS3ScheduleCarousel">
                    @{finalsNum=0;}
                    @for( int j = 0; j < 4 ; j++)
                    {
                        <div class="item" >    
                         <div class="Schedule-Month">
                            <img class="ScheduleMonth-prev" data-src="/images/AsiaChampionsLeague/S3/Calender/Calender_ Month button icon.webp">
                            @if(j==0){<p> July </p>} 
                            @if(j==1){<p> August </p>} 
                            @if(j==2){<p> September </p>} 
                            @if(j==3){<p> October </p>} 
                            <img class="ScheduleMonth-next" data-src="/images/AsiaChampionsLeague/S3/Calender/Calender_ Month button icon.webp">
                        </div>

                         <div class="Schedule-Week">
                            <p>MON</p>
                            <p>TUES</p>
                            <p>WED</p>
                            <p>THURS</p>
                            <p>FRI</p>
                            <p>SAT</p>
                            <p>SUN</p>
                        </div>
                    
                        
                            @for(int i = 1  ; i < daySquare[j][0] ;i++)
                            {    
                                
                                @*是否為當月日期*@
                                @if(daySquare[j][2]<=i && daySquare[j][2]+daySquare[j][1] > i ){
                                    nowDay =  i-daySquare[j][2]+1;
                                    @*比賽日*@
                                   @if (matchDate[j].Contains(nowDay))
                                    {
                                         @*是否決賽*@
                                        if (finalsDate[j].Contains(nowDay ))
                                        {

                                            <div class="DaySquare DaySquareMatchColor DaySquareFinalsDate"   >
                                                <div>                                               
                                                   
                                                    <p class="finals-DaySquare-Title">@finalsString[finalsNum][0]</p>
                                                    @nowDay 
                                                </div>          
                                          
                                                 <div class="finals-Data-Pop @finalsString[finalsNum][1]">
                                                   
                                                    <p class="finals-Data-Pop-title"> @finalsString[finalsNum][0] </p>
                                                    <div class="finals-Data-Popt-Time">
                                                        <p> Starting Time：</p>
                                                        <p>比賽時間是~~~~~~</p>
                                                    </div>                                                     

                                                </div> 
                                                
                                                
                                          
                                            </div>
                                            finalsNum += 1;
                                        }
                                        else{
                                             <div class="DaySquare DaySquareMatchColor">@nowDay </div>
                                        }
                                    }
                                    else{         
                                        @*其他日期*@
                                        <div class="DaySquare DaySquareColor">@nowDay </div>
                                    }                           
                                }
                                else{
                                    <div class="DaySquare"></div>                             
                                }
                            }
                        @*個人賽、團體賽、公益賽顯示*@
                        @switch (j){
                            case 0 :
                                <div class ="ScheduleBannerBlock soloBannerBlock soloBlock-0">#1 Silver Qualification (Solo)</div>               

                                <div class ="ScheduleBannerBlock squadBannerBlock squadBlock-0">W1 Silver Qualification(Squad)</div> 
                                <div class ="ScheduleBannerBlock squadBannerBlock squadBlock-1">W2 Silver Qualification(Squad)</div> 
                            
                                <div class ="ScheduleBannerBlock charityBannerBlock charityBlock-0 ">F1 Charity Qualification</div> 
                            break;
                            case 1 :
                                <div class ="ScheduleBannerBlock soloBannerBlock soloBlock-1">#2 Silver Qualification (Solo) </div> 
                                <div class ="ScheduleBannerBlock soloBannerBlock soloBlock-2">M1 Diamond Qualification (Solo) </div> 
                                <div class ="ScheduleBannerBlock soloBannerBlock soloBlock-3">#3 Silver Qualification (Solo) </div> 
                                <div class ="ScheduleBannerBlock soloBannerBlock soloBlock-4">#4 Silver Qualification (Solo) </div> 

                                <div class ="ScheduleBannerBlock squadBannerBlock squadBlock-2 ">M1 Diamond Qualification(Squad) </div> 
                                <div class ="ScheduleBannerBlock squadBannerBlock squadBlock-3 ">W3 Silver Qualification(Squad) </div> 
                                <div class ="ScheduleBannerBlock squadBannerBlock squadBlock-4 ">W4 Silver Qualification(Squad) </div> 
                                <div class ="ScheduleBannerBlock squadBannerBlock squadBlock-5 ">M2 Diamond Qualification(Squad) </div> 

                                <div class ="ScheduleBannerBlock charityBannerBlock charityBlock-1 ">F2 Charity Qualification</div> 

                            break;
                            case 2 :
                                <div class ="ScheduleBannerBlock soloBannerBlock soloBlock-5">M2 Diamond Qualification (Solo)</div> 
                                <div class ="ScheduleBannerBlock soloBannerBlock soloBlock-6">#5 Silver Qualification (Solo)</div> 
                                <div class ="ScheduleBannerBlock soloBannerBlock soloBlock-7">#6 Silver Qualification (Solo)</div>                    

                                <div class ="ScheduleBannerBlock squadBannerBlock squadBlock-6 ">M2 Diamond Qualification(Squad)</div> 
                                <div class ="ScheduleBannerBlock squadBannerBlock squadBlock-7 ">W5 Silver Qualification(Squad)</div> 
                                <div class ="ScheduleBannerBlock squadBannerBlock squadBlock-8 ">W6 Silver Qualification(Squad)</div> 
                                <div class ="ScheduleBannerBlock squadBannerBlock squadBlock-9 ">M3 Diamond Qualification(Squad)</div> 

                                <div class ="ScheduleBannerBlock charityBannerBlock charityBlock-2 ">F3 Charity Qualification</div> 

                            break;

                            case 3 :                          
                                <div class ="ScheduleBannerBlock soloBannerBlock soloBlock-8">M2 Diamond Qualification (Solo)</div>                    
                                <div class ="ScheduleBannerBlock soloBannerBlock soloBlock-9">S1 Master Qualification (Solo)</div>     

                                <div class ="ScheduleBannerBlock squadBannerBlock squadBlock-10 ">S1 Master Qualification(Squad)</div> 
          

                            break;


                        }                  
               

                        </div>
                    }
            
               
                </div>
            </div>-->
        </div>
        <img class="Schedule-Group-2" data-src="/images/AsiaChampionsLeague/S3/Calender/Group.webp"> 
    </div>
</div>


@code {



    private IJSObjectReference? S3CalendarJS;
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {          
            
            S3CalendarJS =  await JS.InvokeAsync<IJSObjectReference>("import","./JavaScript/ACLIndex/S3Calendar.js");
            await S3CalendarJS.InvokeVoidAsync("S3Calendar");
           
        }
    }

  @*  public int daySquare = 42;*@
    public int[][] daySquare = new int[][]
    {
     @* 總格子數，總天數，第幾天開始*@
     new int[] {  42 ,31 ,5 },
     new int[] {  42 ,31 ,1},
     new int[] {  42 ,30 ,4 },
     new int[] {  42 ,31 ,6  }
    };
    @*比賽日*@
    public int[][] matchDate  = new int[][]
    {
         new int[] {  18 ,19 ,20, 21 ,22,23 ,25,26,27,28,29,30},
         new int[] {  1 ,2,3,4,5,6,15,16,17,18,19,20,22,23,24,25,26,27,29,30,31},
         new int[] {  1 ,2,3,12,13,14,15,16,17,19,20,21,22,23,24,26,27,28,29,30},
         new int[] {  1 ,10 ,11 ,12,13,14,15 }
    };
    @*決賽*@
    public int[][]  finalsDate= new int[][]
    {
         new int[] {  23,30},
         new int[] {  6 ,20,27},
         new int[] {  3 ,17 ,24 },
         new int[] {  1,15}
    };

    public  int finalsNum = 0 ;
    public string[][]  finalsString= new string[][]
    {
     new string[] {"W1 Silver Final (Squad)" ,"PopR"},
     new string[] {"W2 Silver Final (Squad)","PopR"},
     new string[] {"M1 Diamond Final (Squad)","PopR"},
     new string[] {"W3 Silver Final (Squad)","PopR"},
     new string[] {"W4 Silver Final (Squad)","PopR"},
     new string[] {"M2 Diamond Final (Squad)","PopR"},
     new string[] {"W5 Silver Final (Squad)","PopR"},
     new string[] {"W6 Silver Final (Squad)","PopR"},
     new string[] {"M3 Diamond Final (Squad)","PopR"},
     new string[] {"S1 Silver Final (Squad)","PopR"},
    };

    public int nowDay;

  
   

}
