<div id="Ranking" class="Ranking">     
    @*Banner*@
    <div class="Ranking-banner-Squad">
        <div class="Ranking-banner-bg">
            <div class="Ranking-banner-selectContainer">                   
                <div class="Ranking-banner-select"> 
                    <img class ="Bar" src="./images/AsiaChampionsLeague/S3/Ranking/Squad/Ranking_Squad select BAR.png" />
                    <img class ="BarButton" src="./images/AsiaChampionsLeague/S3/Ranking/Squad/Ranking_Squad button.png"/>
                </div>
             </div>
        </div> 
    </div>

    @*Date*@
    <img class="Ranking-Date" src="./images/AsiaChampionsLeague/S3/Ranking/Ranking_Date.png" />
                
    @*Place*@
    <div class="Ranking-Place">
        <div class="Ranking-Place-left">
            <div class="Ranking_First">

            </div>
            <div class="Ranking_Second">

            </div>
            <div class="Ranking_third">

            </div>
        </div>
        <div class="Ranking-Place-right">
            <div class="Ranking-Place-Other">

            </div>
        </div>
    </div>
</div>
@code {

}
