@page "/NFTindex_Banner"
@using SnakeAsianLeague.Data.Services
@using SnakeAsianLeague.Data.Entity.SnakeServer
@using SnakeAsianLeague.Data.Entity

@inject IJSRuntime JS

<head>
    <link href="/css/NFTindex/NFTindex_Banner.css" rel="stylesheet" />
    <link href="/css/NFTindex/NFTindex_Register.css" rel="stylesheet" />
</head>


<div class="NFTindex_Banner">
    <div class="NFTindexBanner_block">
        <div class="NFTindexBanner_BG">
            @* <img class="" src="/images/NFTindex/NFTindex_Banner/test.png" alt=""> *@
            
            @* 藍天背景 *@
            @* <img class="" src="/images/NFTindex/NFTindex_Banner/background.png" alt=""> *@
            
            @* <img class="" src="/images/NFTindex/NFTindex_Banner/background-01.png" alt=""> *@
        </div>
        <div class="NFTindexBanner_titleRegister">
            <div class="NFTindexBanner_title">EAT - FIGHT and EARN!</div>
            <div class="NFTindex_Register_block">
                
                @* 註冊按鈕 *@
                <div class="NFTindex_Register" hidden="@false">
                    <div class="Register-input-row">
                        <input type="text" class="Register-input tippy-pop" id="CountryCode" name="CountryCode" placeholder="+886" data-content="CountryCode" @bind=@countryCodeStr>

                        <input type="text" class="Register-input tippy-pop" id="PhoneNum" name="PhoneNum" placeholder="Phone Number" data-content="Enter Your Phone Number" @bind=@phoneNumStr>
                    </div>
                    <NFTindex_Register CountryCode = "@countryCodeStr" PhoneNum = "@phoneNumStr" /> 
                    

                </div>
                 
            </div>
        </div>
        @* 號角 *@
        <div class="horn-block popupblockTest">
            <div class="horn-hidden" id="horn-hidden-01">
                <img width="150" class="horn" id="horn-01" src="/images/NFTindex/NFTindex_Banner/horn-01.webp" alt="">
            </div>
            <div class="horn-hidden" id="horn-hidden-02">
                <img width="150" class="horn" id="horn-02" src="/images/NFTindex/NFTindex_Banner/horn-02.webp" alt="">
            </div>
            <div class="horn-hidden" id="horn-hidden-03">
                <img width="150" class="horn" id="horn-03" src="/images/NFTindex/NFTindex_Banner/horn-03.webp" alt="">
            </div>
            <div class="horn-hidden" id="horn-hidden-04">
                <img width="150" class="horn" id="horn-04" src="/images/NFTindex/NFTindex_Banner/horn-04.webp" alt="">
            </div>
        </div>

        @* 中心主角示意圖 *@
        @* <img class="centralProtagonist" src="/images/NFTindex/NFTindex_Banner/centralProtagonist.webp" alt=""> *@

        <div class="CenterBlock">
            @* 水果 parallax *@
            <div id="fruit_block" class="parallax_block">
                <img class="absolute-t0l0-w100 ParallaxMove" id="fruit-01"  data-depth="0.5" src="/images/NFTindex/NFTindex_Banner/fruit-01.webp"
                    alt="">
                <img class="absolute-t0l0-w100 ParallaxMove" id="fruit-02"  data-depth="0.2" src="/images/NFTindex/NFTindex_Banner/fruit-02.webp"
                    alt="">
            </div>

            @* 光圈 *@
            <div id="halo" class="absolute-t0l0-w100">
                <img class="w100" src="/images/NFTindex/NFTindex_Banner/halo.webp" alt="">
            </div>

            @* 黃色閃亮亮 kirakira *@
            <div id="yellow-kirakira" class="absolute-t0l0-w100">
                <img class="w100" src="/images/NFTindex/NFTindex_Banner/yellow-kirakira.webp" alt="">
            </div>

            @* 蛇蛇與頭紗 *@
            <div id="snake-veil" class="">
                <img class="absolute-t0l0-w100" id="veil" src="/images/NFTindex/NFTindex_Banner/veil.webp"
                    alt="">
                <img class="absolute-t0l0-w100" id="snake" src="/images/NFTindex/NFTindex_Banner/snake.webp"
                    alt="">
            </div>

            @* 寶箱 *@
            <div id="treasureChest-block" class="">
                <img class="absolute-t0l0-w100" id="treasureChest" src="/images/NFTindex/NFTindex_Banner/treasureChest.webp" alt="">
                <img class="absolute-t0l0-w100" id="treasureChest-light" src="/images/NFTindex/NFTindex_Banner/treasureChest-light.webp" alt="">
            </div>

            @* 女主角騎士 *@
            <div id="rider-block" class="">
                <img class="absolute-t0l0-w100" id="airShadow" src="/images/NFTindex/NFTindex_Banner/airShadow.webp" alt="">
                <img class="absolute-t0l0-w100" id="rider" src="/images/NFTindex/NFTindex_Banner/rider.webp" alt="">
                <img class="absolute-t0l0-w100" id="white-kirakira" src="/images/NFTindex/NFTindex_Banner/white-kirakira.webp" alt="">
            </div>

            @* 氣氛光線 *@
            <div id="ambientLight-block" class="">
                <img class="absolute-t0l0-w100"  id="stage-light" src="/images/NFTindex/NFTindex_Banner/stage-light.webp" alt="">
                <img class="absolute-t0l0-w100" id="natural-light" src="/images/NFTindex/NFTindex_Banner/natural-light.webp" alt="">
                <img class="absolute-t0l0-w100" id="rainbow" src="/images/NFTindex/NFTindex_Banner/rainbow.webp" alt="">
                <img class="absolute-t0l0-w100" id="ring-rainbow" src="/images/NFTindex/NFTindex_Banner/ring-rainbow.webp" alt="">
            </div>

            @* ERNC *@
            <div id="ERNC-block" class="">
                <img class="absolute-t0l0-w100"  id="treasureChest-ERNC" src="/images/NFTindex/NFTindex_Banner/ERNC.png" alt="">
                <img class="absolute-t0l0-w100" id="treasureChest-kirakira" src="/images/NFTindex/NFTindex_Banner/treasureChest-kirakira.webp" alt="">
            </div>


        </div>

        <div class="StepsBlockAll">
            <div class="StepsBlock">
                <div class="Steps" id="Steps-01">
                    <img class="Steps-bg" src="/images/NFTindex/NFTindex_Banner/StepsBlock-01-left.webp" alt="">
                    <a href="ACLIndexS2">
                        <div class="Steps-button" id="Steps-button-01">
                            <img class="Steps-button-bg" id="Steps-button-bg-01" src="/images/NFTindex/NFTindex_Banner/button-green.webp" alt="">
                            <img class="Steps-button-text" id="Steps-button-text-01" src="/images/NFTindex/NFTindex_Banner/Arena.webp" alt="">
                        </div>
                    </a>
                </div>
                <div class="Steps" id="Steps-02">
                    <img class="Steps-bg" src="/images/NFTindex/NFTindex_Banner/StepsBlock-02-center.webp" alt="">
                    <a href="GettingStarted/create-metamask">
                        <div class="Steps-button" id="Steps-button-02">
                            <img class="Steps-button-bg" id="Steps-button-bg-02" src="/images/NFTindex/NFTindex_Banner/button-yellow.webp" alt="">
                            <img class="Steps-button-text" id="Steps-button-text-02" src="/images/NFTindex/NFTindex_Banner/GettingStart.png" alt="">
                        </div>
                    </a>
                </div>
                
                <div class="Steps" id="Steps-03">
                    <img class="Steps-bg" src="/images/NFTindex/NFTindex_Banner/StepsBlock-03-right.webp" alt="">
                    <a href="https://ponponsnake.substack.com/" target="_blank">
                        <div class="Steps-button" id="Steps-button-03">
                            <img class="Steps-button-bg" id="Steps-button-bg-03" src="/images/NFTindex/NFTindex_Banner/button-blue.webp" alt="">
                            <img class="Steps-button-text" id="Steps-button-text-03" src="/images/NFTindex/NFTindex_Banner/News.png" alt="">
                        </div>
                    </a>
                </div>
                
            </div>
            @* <div class="leaf"> *@
                <img id="leaf-01" src="/images/NFTindex/NFTindex_Banner/leaf-01.webp" alt="">
                <img id="leaf-02"  src="/images/NFTindex/NFTindex_Banner/leaf-02.webp" alt="">
            @* </div> *@
        </div>



    </div>

</div>





@code {
    private IJSObjectReference? NFTindexBannerJS;
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
        NFTindexBannerJS = await JS.InvokeAsync<IJSObjectReference>("import","./JavaScript/NFTindex/NFTindexBanner.js");
        await NFTindexBannerJS.InvokeVoidAsync("NFTindexBanner");
        }
    }


    private string countryCodeStr = "";
    private string phoneNumStr = "";


  
}


    
