@page "/NFTindex_Seignior"
@inject IJSRuntime JS

<head>
    <link href="/css/NFTindex/NFTindex_Seignior.css" rel="stylesheet" />
</head>

<div class="NFTindex_Seignior">
    <div class="Seignior-Block">
        <div class="PPSSeignior">
            <div class="PPSSeignior-mainIcon">
                <img class="golden-frame" src="/images/NFTindex/NFTindex_Seignior/golden-frame.png" alt="">
                <img class="main-Icon" src="/images/NFTindex/NFTindex_Seignior/main-Icon.png" alt="">
            </div>
            <div class="PPSSeignior-Info">
                <div class="PPSSeignior-Text">
                    <div class="PPSSeignior-Text-Title">PPS SEIGNIOR</div>
                </div>
                <div class="">
The one who owns a PPSR will be claimed as a “Seignior”. These people will have special powers that can rule over PonPonSnake Universe.
</div>
            </div>
        </div>
    </div>
</div>
