<head>
    <link href="/css/NFTindex/NFTindex_Flag.css" rel="stylesheet" />
</head>

<div class="NFTindex_Flag">
    <div class="LongBar">
        <img src="/images/NFTindex/NFTindex_Flag/Longbar.png" alt="">
    </div>
    <div class="Flag-BlockAll">
        <div class="Flag-Block" id="Flag-Block-01">
            <div class="Flag-icon">
                <img src="/images/NFTindex/NFTindex_Flag/Icon-01-snake.png" alt="">
            </div>
            <div class="Flag-title">Classic Snake Game</div>
            <div class="Flag-text">It's easy to learn and master. Come experiment with the evolution.
            </div>
        </div>
        <div class="Flag-Block" id="Flag-Block-02">
            <div class="Flag-icon">
                <img src="/images/NFTindex/NFTindex_Flag/Icon-02-money.png" alt="">
            </div>
            <div class="Flag-title">A steady Eco-system</div>
            <div class="Flag-text">"Play to Earn" becomes reality for gamers who want to join the GameFi
                community.
            </div>
        </div>
        <div class="Flag-Block" id="Flag-Block-03">
            <div class="Flag-icon">
                <img src="/images/NFTindex/NFTindex_Flag/Icon-03-corea.png" alt="">
            </div>
            <div class="Flag-title">Fast Update NFT</div>
            <div class="Flag-text">Offers a high level of development quality. We upgrade our NFTs and gameplay monthly.
            </div>
        </div>
    </div>
</div>