@page "/NFTindex_Banner"
@using SnakeAsianLeague.Data.Services
@using SnakeAsianLeague.Data.Entity.SnakeServer

@inject IAuthService AuthService
@inject IJSRuntime JS

<head>
    <link href="/css/NFTindex/NFTindex_Banner.css" rel="stylesheet" />
</head>


<div class="NFTindex_Banner">
    <div class="NFTindexBanner_BG">
        <img  class=""src="/images/NFTindex/NFTindex_Banner/test.png" alt="">
    </div>
    @* <div class="NFTindexBanner-BG">
        <img src="/images/NFTindex/NFTindex_Banner/background.png" alt="">
    </div> *@
    <div class="NFTindexBanner-title">
        <img src="/images/NFTindex/NFTindex_Banner/Eat-Fight-and-Earn.png" alt="">
    </div>
</div>