<head>
    <link href="/css/NFTindex/NFTindex_Join.css" rel="stylesheet" />
</head>

<div class="join-container">
    <div class="join-BG">
        <img class="join-ventini" src="./images/NFTindex/NFTindex_pop/Ventini.png"/>
        <img class="diamond top-diamond" src="./images/NFTindex/NFTindex_pop/diamond.png" />
        <img class="diamond bottom-diamond"  src="./images/NFTindex/NFTindex_pop/diamond.png"/>
        <img class="horizontalbar_left"  src="./images/NFTindex/NFTindex_pop/horizontal_bar_left.png"/>
        <img class="horizontalbar top-bar"  src="./images/NFTindex/NFTindex_pop/horizontal_bar_down.png"/>
        <img class="horizontalbar bottom-bar"  src="./images/NFTindex/NFTindex_pop/horizontal_bar_down.png"/>
        <img class="join-text"  src="./images/NFTindex/NFTindex_pop/join_text.png"/>
        <a href="/GettingStarted/download-and-play" class="join-button" > Join Now </a>
    </div>
</div>

<div class="join-container-Mobile">
    <div class="join-BG-Mobile">
         <a href="/GettingStarted/download-and-play" class="join-button-Mobile" > Join Now </a>
    </div>
</div>


@code {

}
