@inject IJSRuntime JS

<head>
    <link href="/css/NFTindex/NFTindex_Carousel.css" rel="stylesheet" />
</head>

<div class="NFTindexCarousel">
    <div class="NFTindex-Carousel-All">
        <div class="NFTindex-Carousel-Block">
            <div class="swiper-slide">
                <div class="Card-Grade" id="Card-Grade-01">
                    <div class="Card-Grade-Content">
                        <div class="Card-Grade-Title">Amphiptere</div>
                        <div class="Card-Grade-Image">
                            <img class="Card-Grade-halo" src="/images/NFTindex/NFTindex_Carousel/Card-Grade-01-halo.png" alt="">
                            <div class="Coming-Soon">Coming Soon</div>
                            <img class="Card-Grade-icon" src="/images/NFTindex/NFTindex_Carousel/Snake-icon-01.png" alt="">
                        </div>

                        <div class="Card-Grade-text">
                            Amphiptere is the most powerful creature, it is the combination of the rider and serphant. Amphipteres will grow horns, wings, claws, and even carry weapons. They can live thousands of years and becomes the overlord.
                        </div>
                        <div class="Card-Grade-price">
                            ETH >100
                        </div>
                    </div>


                </div>
            </div>

        </div>

    </div>
</div>