@inject IJSRuntime JS

<head>
    <link href="/css/NFTindex/NFTindex_Carousel.css" rel="stylesheet" />
</head>

<div class="NFTindexCarousel">
    <div class="NFTindex-Carousel-All">
        <div class="NFTindex-Carousel-Block">
            <div class="swiper-slide">

                <div class="Card-Grade" id="Card-Grade-01">
                    <div class="Card-Grade-Content">
                        <div class="Card-Grade-Title">Amphiptere</div>
                        <div class="Card-Grade-Image">
                            <img class="Card-Grade-halo" src="/images/NFTindex/NFTindex_Carousel/Card-Grade-01-halo.png"
                                alt="">
                            <div class="Coming-Soon">Coming Soon</div>
                            <img class="Card-Grade-icon" id="Card-Grade-icon-01"
                                src="/images/NFTindex/NFTindex_Carousel/Snake-icon-01.png" alt="">
                        </div>

                        <div class="Card-Grade-text">
                            Amphiptere is the most powerful creature, it is the combination of the rider and serphant.
                            Amphipteres will grow horns, wings, claws, and even carry weapons. They can live thousands
                            of years and becomes the overlord.
                        </div>
                        <div class="Card-Grade-price">
                            ETH >100
                        </div>
                    </div>


                </div>

                <div class="Card-Grade" id="Card-Grade-02">
                    <div class="Card-Grade-Content">
                        <div class="Card-Grade-Title">Spirit Snake Rider</div>
                        <div class="Card-Grade-Image">
                            <img class="Card-Grade-halo" src="/images/NFTindex/NFTindex_Carousel/Card-Grade-02-halo.png"
                                alt="">
                            @* <div class="Coming-Soon">Coming Soon</div> *@
                            <img class="Card-Grade-KindMap" id="Card-Grade-KindMap-02"
                                src="/images/NFTindex/NFTindex_Carousel/Card-Grade-KindMap-02.png" alt="">
                            <img class="Card-Grade-icon" id="Card-Grade-icon-02"
                                src="/images/NFTindex/NFTindex_Carousel/Snake-icon-02.png" alt="">
                        </div>

                        <div class="Card-Grade-text">
                            Evolved snakes can easily dominate others and will be given more power. Their magics will
                            advance, Its owner will become powerful. The kingdom will bestow glory on the rider, they
                            will be invited to the "Snake Council."
                        </div>
                        <div class="Card-Grade-price">
                            ETH 30~100
                        </div>
                    </div>
                </div>

                <div class="Card-Grade" id="Card-Grade-03">
                    <div class="Card-Grade-Content">
                        <div class="Card-Grade-Title">Snake Rider</div>
                        <div class="Card-Grade-Image">
                            <img class="Card-Grade-halo" src="/images/NFTindex/NFTindex_Carousel/Card-Grade-03-halo.png"
                                alt="">
                            @* <div class="Coming-Soon">Coming Soon</div> *@
                            <img class="Card-Grade-KindMap" id="Card-Grade-KindMap-03"
                                src="/images/NFTindex/NFTindex_Carousel/Card-Grade-KindMap-03.png" alt="">
                            <img class="Card-Grade-icon" id="Card-Grade-icon-03"
                                src="/images/NFTindex/NFTindex_Carousel/Snake-icon-03.png" alt="">
                        </div>

                        <div class="Card-Grade-text">
                            The snake's body will grow larger than its owner. They will be more powerful. These snakes
                            will be the rider's partners. They can explore, battle, and hunt with the rider. Both of
                            them will be seen as a hero and will receive the honor.
                        </div>
                        <div class="Card-Grade-price">
                            ETH 30~100
                        </div>
                    </div>
                </div>

                <div class="Card-Grade" id="Card-Grade-05">
                    <div class="Card-Grade-Content">
                        <div class="Card-Grade-Title">Snake</div>
                        <div class="Card-Grade-Image">
                            <img class="Card-Grade-halo" src="/images/NFTindex/NFTindex_Carousel/Card-Grade-04-halo.png"
                                alt="">
                            @* <div class="Coming-Soon">Coming Soon</div> *@
                            <img class="Card-Grade-KindMap" id="Card-Grade-KindMap-05"
                                src="/images/NFTindex/NFTindex_Carousel/Card-Grade-KindMap-05.png" alt="">
                            <img class="Card-Grade-icon" id="Card-Grade-icon-05"
                                src="/images/NFTindex/NFTindex_Carousel/Snake-icon-05.png" alt="">
                        </div>

                        <div class="Card-Grade-text">
                            Coming Soon...
                        </div>
                        <div class="Card-Grade-price">
                            ETH &lt;30
                        </div>
                    </div>
                </div>

                <div class="Card-Grade" id="Card-Grade-06">
                    <div class="Card-Grade-Content">
                        <div class="Card-Grade-Title">Snake Train</div>
                        <div class="Card-Grade-Image">
                            <img class="Card-Grade-halo" src="/images/NFTindex/NFTindex_Carousel/Card-Grade-04-halo.png"
                                alt="">
                            @* <div class="Coming-Soon">Coming Soon</div> *@
                            <img class="Card-Grade-KindMap" id="Card-Grade-KindMap-06"
                                src="/images/NFTindex/NFTindex_Carousel/Card-Grade-KindMap-06.png" alt="">
                            <img class="Card-Grade-icon" id="Card-Grade-icon-06"
                                src="/images/NFTindex/NFTindex_Carousel/Snake-icon-06.png" alt="">
                        </div>

                        <div class="Card-Grade-text">
                            Coming Soon...
                        </div>
                        <div class="Card-Grade-price">
                            ETH &lt;30
                        </div>
                    </div>
                </div>


                <div class="Card-Grade" id="Card-Grade-07">
                    <div class="Card-Grade-Content">
                        <div class="Card-Grade-Title">Iron Snake</div>
                        <div class="Card-Grade-Image">
                            <img class="Card-Grade-halo" src="/images/NFTindex/NFTindex_Carousel/Card-Grade-04-halo.png"
                                alt="">
                            @* <div class="Coming-Soon">Coming Soon</div> *@
                            <img class="Card-Grade-KindMap" id="Card-Grade-KindMap-07"
                                src="/images/NFTindex/NFTindex_Carousel/Card-Grade-KindMap-07.png" alt="">
                            <img class="Card-Grade-icon" id="Card-Grade-icon-07"
                                src="/images/NFTindex/NFTindex_Carousel/Snake-icon-07.png" alt="">
                        </div>

                        <div class="Card-Grade-text">
                            Coming Soon...
                        </div>
                        <div class="Card-Grade-price">
                            ETH &lt;30
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>
</div>