@page "/NFTindex_Banner"
@using SnakeAsianLeague.Data.Services
@using SnakeAsianLeague.Data.Entity.SnakeServer

@inject IAuthService AuthService
@inject IJSRuntime JS

<head>
    <link href="/css/NFTindex/NFTindex_Banner.css" rel="stylesheet" />
</head>


<div class="NFTindex_Banner">
    <img src="/images/NFTindex/NFTindex_Poster/template.png" alt="">
</div>