@* <div class="contact-information">
    <div>
        twchenquan@gmail.com
    </div>
    <div>
        +886(3)316-0003
    </div>
</div> *@

<div class="contact-information-update">
    <div>
        twchenquan@gmail.com
    </div>
    <div>
        +886(3)316-0003
    </div>
</div>
@code {

}