 <div class="GameFi-Block" id="GameFi-Block-Ecosystem">
        <div class="GameFi-Paragraph">
            <div class="GameFi-Paragraph-Title">PonPonSnake Ecosystem</div>
            <div class="GameFi-Paragraph-Txt">Easy to get involved with cryptocurrency!</div>
            <div class="GameFi-Paragraph-Txt-02">
                PonPonSnake ecosystem has the most comprehensive cycle to trade, exchange, reward, etc. Upon registering
                on the PonPonSnake website, you can easily connect with your cryptocurrency wallet. Find out what is
                the best choice for you.
            </div>
        </div>

        <div class="Ecosystem-Block">
            @* <div class="Ecosystem-Item" data-aos="fade-up" data-aos-duration="500"> *@
            <div class="Ecosystem-Item">
                <div class="Ecosystem-Item-Icon">
                    <img data-src="/images/GameFi/ERNC.webp" alt="">
                </div>
                <div class="Ecosystem-Item-Info">
                    <div class="GameFi-Paragraph-Txt">ERNC</div>
                    <div class="GameFi-Paragraph-Txt-02">
                        ERNC (Empyreal Nucleus) is an ERC20 token used as the main market crypto token for PonPonSnake
                        Metaverse. Owners of ERNC can participate in parts of the game rewards decisions. ERNC can be
                        attained by staking, trading, the competition held by officials, etc. </div>
                </div>
            </div>


            @* <div class="Ecosystem-Item" data-aos="fade-up" data-aos-duration="500"> *@
            <div class="Ecosystem-Item">
                <div class="Ecosystem-Item-Icon">
                    <img data-src="/images/GameFi/MIPR.webp" alt="">
                </div>
                <div class="Ecosystem-Item-Info">
                    <div class="GameFi-Paragraph-Txt">MIRP</div>
                    <div class="GameFi-Paragraph-Txt-02">
                        MIRP (Miracle Potion) is also an ERC20 token which can be obtained by game tasks, exploring, and
                        PVP.
                        Owners can extract it from wallet to transfer or trade. Additionally, it can be used to enhance
                        rider's ability.
                    </div>
                </div>
            </div>

            @* <div class="Ecosystem-Item" data-aos="fade-up" data-aos-duration="500"> *@
            <div class="Ecosystem-Item">
                <div class="Ecosystem-Item-Icon">
                    <img data-src="/images/GameFi/SRC.webp" alt="">
                </div>
                <div class="Ecosystem-Item-Info">
                    <div class="GameFi-Paragraph-Txt">SRC</div>
                    <div class="GameFi-Paragraph-Txt-02">
                        SRC(Snake Rider Coin) will not be a crypto token and can be only used in the game. PPSR owner
                        can earn SRC as payment from renting your rider to other players. You can exchange SRC to your
                        wallet for cryptocurrency.
                    </div>
                </div>
            </div>
        </div>

        <div class="Ecosystem-Circle">
            <div class="Ecosystem-Circle-Item" id="Circle-Item-01">
                <img class="Circle-Item-Icon"data-src="/images/GameFi/03-PPSICON.webp" alt="">
                <div class="Circle-Item-Title">PonPonSnake</div>
                <div class="Circle-Item-Txt">PVP</div>
                <div class="Circle-Item-Txt">PVE</div>
                <div class="Circle-Item-Txt">Rental System</div>
                <div class="Circle-Item-Txt">Arena</div>
            </div>
            <div class="Ecosystem-Circle-Item" id="Circle-Item-04">
                <img class="Circle-Item-Icon"data-src="/images/GameFi/03-Users.webp" alt="">
                <div class="Circle-Item-Title">Users</div>
                <div class="Circle-Item-Txt">PPSR Owner</div>
                <div class="Circle-Item-Txt">Players</div>
            </div>
            <div class="Ecosystem-Circle-Item" id="Circle-Item-02">
                <img class="Circle-Item-Icon"data-src="/images/GameFi/03-DOA.webp" alt="">
                <div class="Circle-Item-Title">DAO</div>
                <div class="Circle-Item-Txt">Allocation Pool</div>
            </div>
            <div class="Ecosystem-Circle-Item" id="Circle-Item-03">
                <img class="Circle-Item-Icon"data-src="/images/GameFi/03-Game-De-Fi.webp" alt="">
                <div class="Circle-Item-Title">Game De-Fi</div>
                <div class="Circle-Item-Txt">MarketPlace</div>
                <div class="Circle-Item-Txt">Wallet</div>
                <div class="Circle-Item-Txt">NFTs</div>
            </div>

            <img class="Circle-Line" id="Circle-Line-01" data-src="/images/GameFi/GameFi-line/Ecosystem-Circle-Line-1.webp" alt="">
            <img class="Circle-Line" id="Circle-Line-02" data-src="/images/GameFi/GameFi-line/Ecosystem-Circle-Line-2.webp" alt="">
            <img class="Circle-Line" id="Circle-Line-03" data-src="/images/GameFi/GameFi-line/Ecosystem-Circle-Line-3.webp" alt="">
            <img class="Circle-Line" id="Circle-Line-04" data-src="/images/GameFi/GameFi-line/Ecosystem-Circle-Line-4.webp" alt="">

            <div class="Circle-Click-Icon">
                <img data-src="/images/GameFi/click-icon.webp" alt="">
            </div>
        </div>

        <div class="Circle-Popup-BG">
            <div class="Circle-Popup">
                <svg class="Popup-Back" xmlns="http://www.w3.org/2000/svg" width="33.641" height="27.345" viewBox="0 0 33.641 27.345">
                    <path id="arrow-backward" d="M2.768,12.68,14.011,2.844A1.789,1.789,0,0,1,16.768,2.7V9.332l.485,0c10.622,0,18.5,7.545,18.5,17.809,0,3.575-1.639,2.272-2.323,1.025a18.158,18.158,0,0,0-16.266-9.9l-.4,0v6.491a1.991,1.991,0,0,1-2.757.144L2.766,15.827a2.228,2.228,0,0,1,0-3.147Z" transform="translate(-2.116 -2.116)" fill="#66aea2" fill-rule="evenodd"/>
                </svg>
                <div class="Ecosystem-Circle-Item" id="Circle-Item-01">
                    <img class="Circle-Item-Icon"data-src="/images/GameFi/03-PPSICON.webp" alt="">
                    <div class="Circle-Item-Title">PonPonSnake</div>
                    <div class="Circle-Item-Txt">PVP</div>
                    <div class="Circle-Item-Txt">PVE</div>
                    <div class="Circle-Item-Txt">Rental System</div>
                    <div class="Circle-Item-Txt">Arena</div>
                </div>

                <div class="Ecosystem-Circle-Item" id="Circle-Item-04">
                    <img class="Circle-Item-Icon"data-src="/images/GameFi/03-Users.webp" alt="">
                    <div class="Circle-Item-Title">Users</div>
                    <div class="Circle-Item-Txt">PPSR Owner</div>
                    <div class="Circle-Item-Txt">Players</div>
                </div>

                <div class="Ecosystem-Circle-Item" id="Circle-Item-02">
                    <img class="Circle-Item-Icon"data-src="/images/GameFi/03-DOA.webp" alt="">
                    <div class="Circle-Item-Title">DAO</div>
                    <div class="Circle-Item-Txt">Allocation Pool</div>
                </div>

                <div class="Ecosystem-Circle-Item" id="Circle-Item-03">
                    <img class="Circle-Item-Icon"data-src="/images/GameFi/03-Game-De-Fi.webp" alt="">
                    <div class="Circle-Item-Title">Game De-Fi</div>
                    <div class="Circle-Item-Txt">MarketPlace</div>
                    <div class="Circle-Item-Txt">Wallet</div>
                    <div class="Circle-Item-Txt">NFTs</div>
                </div>

            </div>

        </div>
    </div>
@code {

}
