 <div class="GameFi-Block">
        <div class="GameFi-Paragraph">
            <div class="GameFi-Paragraph-Title">Play to Earn</div>
            <div class="GameFi-Paragraph-Txt">Take different adventure to explore more value in PonPonSnake!</div>
        </div>
        @* <div class="GameFi-Carousel-Block">
            <div class="owl-carousel owl-theme" id="GameFi-Carousel">
            <div class="GameFi-Carousel-Item">
            <img class="Carousel-Item-bg" src="/images/GameFi/01-Play-to-Earn-01.png" alt="">
            <div class="Item-Info">
            <p class="Item-Info-01">PVP</p>
            <p class="Item-Info-02">Including 1 vs 1 and 4 vs 4 mode.</p>
            </div>
            </div>
            <div class="GameFi-Carousel-Item">
            <img class="Carousel-Item-bg" src="/images/GameFi/01-Play-to-Earn-02.png" alt="">
            <div class="Item-Info">
            <p class="Item-Info-01">Arena</p>
            <p class="Item-Info-02">Champions League and Festival League.</p>
            </div>
            </div>
            <div class="GameFi-Carousel-Item">
            <img class="Carousel-Item-bg" src="/images/GameFi/01-Play-to-Earn-03.png" alt="">
            <div class="Item-Info">
            <p class="Item-Info-01">Rental System</p>
            <p class="Item-Info-02">Rent your NFT rider to earn more profits.</p>
            </div>
            </div>
            <div class="GameFi-Carousel-Item">
            <img class="Carousel-Item-bg" src="/images/GameFi/01-Play-to-Earn-04.png" alt="">
            <div class="Item-Info">
            <p class="Item-Info-01">PVE</p>
            <p class="Item-Info-02">Try to challenge different levels.</p>
            </div>
            </div>
            <div class="GameFi-Carousel-Item">
            <img class="Carousel-Item-bg" src="/images/GameFi/01-Play-to-Earn-05.png" alt="">
            <div class="Item-Info">
            <img src="/images/GameFi/ICON_Lock.png" alt="">
            <p class="Item-Info-02">more to explore</p>
            </div>
            </div>
            </div>
            </div> *@





        <div class="Carousel-All">
            <div class="swiper GameFi-Carousel-Block">
                <div class="swiper-wrapper" id="GameFi-Carousel">
                    <div class="swiper-slide">
                        <div class="GameFi-Carousel-Item">
                            <img class="Carousel-Item-bg" src="/images/GameFi/01-Play-to-Earn-01.png" alt="">
                            <div class="Item-Info">
                                <p class="Item-Info-01">PVP</p>
                                <p class="Item-Info-02">Including 1 vs 1 and 4 vs 4 mode.</p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="GameFi-Carousel-Item">
                            <img class="Carousel-Item-bg" src="/images/GameFi/01-Play-to-Earn-02.png" alt="">
                            <div class="Item-Info">
                                <p class="Item-Info-01">Arena</p>
                                <p class="Item-Info-02">Champions League and Festival League.</p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="GameFi-Carousel-Item">
                            <img class="Carousel-Item-bg" src="/images/GameFi/01-Play-to-Earn-03.png" alt="">
                            <div class="Item-Info">
                                <p class="Item-Info-01">Rental System</p>
                                <p class="Item-Info-02">Rent your NFT rider to earn more profits.</p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="GameFi-Carousel-Item">
                            <img class="Carousel-Item-bg" src="/images/GameFi/01-Play-to-Earn-04.png" alt="">
                            <div class="Item-Info">
                                <p class="Item-Info-01">PVE</p>
                                <p class="Item-Info-02">Try to challenge different levels.</p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="GameFi-Carousel-Item">
                            <img class="Carousel-Item-bg" src="/images/GameFi/01-Play-to-Earn-05.png" alt="">
                            <div class="Item-Info">
                                <img style="opacity: 0.6;" src="/images/GameFi/ICON_Lock.png" alt="">
                                <p class="Item-Info-02">more to explore</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="swiper-pagination"></div>
            </div>
            <div class="swiper-button">
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>
        </div>

    </div>
@code {

}
