<div class="Inventory-CardBLock"> 
    <div class="NFTcard card-bg-red">
        <div class="NFTcardA" >
            @*<a href="@Value.LinkURL" target="opensea">  </a>*@
            <div class="NFTcard-inner">
                <div class="NFT-cardImg">
                    <img src="" alt=""  onerror="this.src='/images/MarketPlace/NFTproduct.webp'">
                    <div class="NFTcard-remark tippy-pop" data-content="This PPSR is temporarily under maintenance." data-i18n="Inventory_data:NFTDetails.UnderMaintenance;[data-content]Inventory_data:NFTDetails.PPSRmaintenance">Under Maintenance</div>
                </div>

                <div class="NFT-cardText Not-Price-Ver">


                    <div class="NFT-card-header">
                        <img  class="NFT-ElementsIcon" src="" alt="">
                        <div class="NFT-Number"  >123</div>
                    </div>
                    <div class="NFT-Name"  data-i18n="">
                        name
                    </div>
                </div>                                                   
            </div>                                                  
        </div>

    </div>

    <div class="NFTcard card-bg-red">
        <div class="NFTcardA" >
            @*<a href="@Value.LinkURL" target="opensea">  </a>*@
            <div class="NFTcard-inner">
                <div class="NFT-cardImg">
                    <img src="" alt=""  onerror="this.src='/images/MarketPlace/NFTproduct.webp'">
                    <div class="NFTcard-remark tippy-pop" data-content="This PPSR is temporarily under maintenance." data-i18n="Inventory_data:NFTDetails.UnderMaintenance;[data-content]Inventory_data:NFTDetails.PPSRmaintenance">Under Maintenance</div>
                </div>

                <div class="NFT-cardText Not-Price-Ver">


                    <div class="NFT-card-header">
                        <img  class="NFT-ElementsIcon" src="" alt="">
                        <div class="NFT-Number"  >123</div>
                    </div>
                    <div class="NFT-Name"  data-i18n="">
                        name
                    </div>
                </div>                                                   
            </div>                                                  
        </div>

    </div>

    <div class="NFTcard card-bg-red">
        <div class="NFTcardA" >
            @*<a href="@Value.LinkURL" target="opensea">  </a>*@
            <div class="NFTcard-inner">
                <div class="NFT-cardImg">
                    <img src="" alt=""  onerror="this.src='/images/MarketPlace/NFTproduct.webp'">
                    <div class="NFTcard-remark tippy-pop" data-content="This PPSR is temporarily under maintenance." data-i18n="Inventory_data:NFTDetails.UnderMaintenance;[data-content]Inventory_data:NFTDetails.PPSRmaintenance">Under Maintenance</div>
                </div>

                <div class="NFT-cardText Not-Price-Ver">


                    <div class="NFT-card-header">
                        <img  class="NFT-ElementsIcon" src="" alt="">
                        <div class="NFT-Number"  >123</div>
                    </div>
                    <div class="NFT-Name"  data-i18n="">
                        name
                    </div>
                </div>                                                   
            </div>                                                  
        </div>

    </div>


</div>
@code {

}
