<head>
    <link href="/css/Teach/TeachNavBar/TeachNavBar_stepText.css" rel="stylesheet" />
</head>
 

<div  class ="stepText">
   @Value
</div>
@code {
     [Parameter]
    public string? Value { get; set; }
}
