@inject NavigationManager NavigationManager

<head>
    <link href="/css/Teach/TeachNavBar/TeachNavBar_Square.css" rel="stylesheet" />
</head>
 
<div class="nav-square"  >
    <a href=@Value[2] >      
        @if (nowurl.Contains( @Value[2]) == true)
        {
         
            <img class ="square-Marquee" src="/images/Teach/nav/Marquee.png"/>
        }
        <img class ="square-BG" src="/images/Teach/nav/navImgBG.png"/>
        <div class ="number-container">
            <p>@Value[0]</p>
        </div>
        <img  class="square-logo" src=@Value[1]/>
    </a>
</div>
@code {

    [Parameter]
    public string[]? Value { get; set; }
    public string nowurl = "";

    protected override void OnInitialized()
        {
            nowurl =NavigationManager.Uri;
            Console.WriteLine(nowurl); 
        }



}
