@page "/ACLIndexS3"
@inject IJSRuntime JS
@using SnakeAsianLeague.Pages.ACLIndex.S3.Components

@* 亞洲聯賽第三季 *@

<head>
    <link href="css/ACLIndex/S3/ACLIndexS3.css" rel="stylesheet" />
    <title>PonPonSnake 碰碰蛇｜Asian Champions League S3 亞洲聯賽第三季</title>
        <!-- OwlCarouse -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
        integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css"
        integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>


<div class="ACLIndexS2Block">
    <div class="BannerBlock">
        <div class="BannerBlockMain">
            <div class="BannerImg" id="BannerImg">
                <img src="/images/AsiaChampionsLeague/S2/ACL_S2_BG.jpeg" alt="">
            </div>
            
            <ACLIndexS3_Title />

            <ACLIndexS3_NavBar />     
 
         </div>      
    </div>
     <div class="content">
             @*Event-Info*@
            <ACLIndexS3_EventInfo />

            @*Rules*@
            <ACLIndexS3_Rules/>

            @*Reward*@
            <ACLIndexS3_Reward/>

            @*Ranking*@
            <ACLIndexS3_Ranking/>

            @*Schedule*@
            <ACLIndexS3_Schedule/>

            @*Notice*@
            <ACLIndexS3_Notice/>
        </div>
        <ACLIndexS3_Footer/>

</div>




@code {

    private IJSObjectReference? TypewriterJS;   

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
        //先不動模組化
            await JS.InvokeVoidAsync("ACLS3RulesCarousel");
            TypewriterJS = await JS.InvokeAsync<IJSObjectReference>("import","./JavaScript/ACLIndex/Typewriter.js");
            await TypewriterJS.InvokeVoidAsync("TypeWriter");
        }
    }


}