@page "/ACLIndexS3"
@inject IJSRuntime JS
@using SnakeAsianLeague.Pages.ACLIndex.S3.Components

@* 亞洲聯賽第三季 *@

<head>
    <link href="css/ACLIndex/S3/ACLIndexS3.css" rel="stylesheet" />
    <title>PonPonSnake 碰碰蛇｜Asian Champions League S3 亞洲聯賽第三季</title>
</head>


<div class="ACLIndexS2Block">
    <div class="BannerBlock">
        <div class="BannerBlockMain">
            <div class="BannerImg" id="BannerImg">
                <img src="/images/AsiaChampionsLeague/S2/ACL_S2_BG.jpeg" alt="">
            </div>
            
            <ACLIndexS3_Title />

            <ACLIndexS3_NavBar />
         
        </div>

    </div>


</div>

@code {
    private IJSObjectReference? AnimateJS;
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            AnimateJS = await JS.InvokeAsync<IJSObjectReference>("import", "./JavaScript/SharedLib/Animate.js");
            await AnimateJS.InvokeVoidAsync("Animate");
            await JS.InvokeVoidAsync("selectChangeLocation");
            await JS.InvokeVoidAsync("installI18n");
        }
    }

}