<article class="products-image">
    <div class="products-header">
        <div class="NFT-Number">PPSR #123</div>
        <div class="heart btn">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22.001 20.005">
                <path class="heart__path"
                d="M11.445,20.761,3.576,12.566a5.762,5.762,0,0,1,.3-8.217,5.243,5.243,0,0,1,7.807.892L12,5.677l.314-.436a5.243,5.243,0,0,1,7.807-.892,5.762,5.762,0,0,1,.3,8.217l-7.869,8.194A.763.763,0,0,1,11.445,20.761Z"
                transform="translate(-0.999 -1.995)" stroke-linecap="round" stroke-linejoin="round"
                stroke-width="2" />
            </svg>
        </div>
    </div>
    <div class="products-title Owned-edit">
        <div class="products-name">NFT Name</div>
        <img class="edit-icon" src="/images/Products/edit_icon.png" alt="">
    </div>
    <div class="products-imageContainer">
        <img src="/images/Products/whole_knight.png" alt="">
    </div>
    <div class="products-owned">
        <span>Owned by&nbsp;</span>
        <a href="">@@christina (Address: 0xE8f3B....)<br>後端串帳號名錢包地址連結</a>
        @* 自己的話顯示you(含連結) 詳細可看企劃的figma
        https://www.figma.com/file/1DlG3YIcI79cQBJFBnQd95/%E7%A2%B0%E7%A2%B0%E8%9B%87%E6%95%B4%E9%AB%94%E7%B6%B2%E9%A0%81%E6%9E%B6%E6%A7%8B?node-id=1231%3A174*@
    </div>
</article>