<section class="products-section" id="products-Skills">
    <div class="products-block">
        <div class="products-block-title">Skills</div>
        <div class="products-block-02" id="products-block-02-Skills">
            <div class="products-box-block">
                @* icon及實際屬性及值由後端串接生成 *@
                <div class="products-block-02" id="products-Skills">
                    <img class="products-skills-icon" src="/images/Products/products-skills-01.png" alt="">
                    <div class="skills-info">
                        <div class="skills-type">Skill’s name (後端串接)</div>
                        <div class="skills-value">CD: 12s (後端串接)</div>
                        <div class="skills-content">(後端串接) Here is some description of skill. In this area, this div would be adjusted with the texts. Here is some description of skill. In this area, this div would be adjusted with the texts. </div>
                    </div>
                </div>
                <div class="products-block-02" id="products-Skills">
                    <img class="products-skills-icon" src="/images/Products/products-skills-02.png" alt="">
                    <div class="skills-info">
                        <div class="skills-type">Skill’s name (後端串接)</div>
                        <div class="skills-value">CD: 12s (後端串接)</div>
                        <div class="skills-content">(後端串接) Here is some description of skill. In this area, this div would be adjusted with the texts. Here is some description of skill. In this area, this div would be adjusted with the texts. </div>
                    </div>
                </div>
            </div>

        </div>
    </div>


</section>