<section class="products-section" id="products-Avatars">
    <div class="products-block">
        <div class="products-block-title">Avatars</div>
        <div class="products-block-02" id="products--block-02-Stats">
            <div class="products-box-block">
                @* 實際名稱由後端串接生成 *@
                <div class="Avatars-block">
                    <img class="Avatars-icon" src="/images/Products/Avatars-Icon-knight.png" alt="">
                    <div class="Avatars-info">
                        <div class="Avatars-type">Ridder</div>
                        <div class="Avatars-value">Ridder’s Name(後端串接)</div>
                    </div>

                </div>
            </div>

        </div>
    </div>


</section>