<section class="products-section" id="products-Attributes">
    <div class="products-block">
        <div class="products-block-title">Attributes</div>
        <div class="products-block-02"  id="products--block-02-Attributes">
            <div class="products-box-block">
                @* 實際屬性及內容值(圖)由後端串接生成 *@
                <div class="products-propertyCellreact">
                    <div class="products-property-type">Rarity</div>
                    <div class="products-property-value">Advanced</div>
                </div>

                <div class="products-propertyCellreact">
                    <div class="products-property-type">Element</div>
                    <div class="products-property-value">
                        <img title="land(這裡也要連動)" class="products-property-valueImg"
                            src="/images/Products/Element-land.png" alt="">
                    </div>
                </div>

                <div class="products-propertyCellreact">
                    <div class="products-property-type">Body Type</div>
                    <div class="products-property-value">1.6</div>
                </div>
            </div>

            <div class="products-attributes-description">
                <div class="products-attributes-description-title">Description</div>
                <div class="description-item-text">
                    @* 此介紹內容由後端串，超過兩行顯示...，按(see more)展開剩餘內容*@
                    (此介紹內容由後端串)
                    Character Class : Tank
                    <br>
                    Lucifer was born into a noble......<span class="description-SeeMore">(see more)</span>
                    
                    
                </div>


            </div>
        </div>
    </div>
</section>