<section class="products-section" id="products-Stats">
    <div class="products-block">
        <div class="products-block-title">Income</div>
        <div class="products-block-02" id="products--block-02-Stats">
            <div class="products-box-block">
                @* 實際屬性及值由後端串接生成 *@
                <div class="products-propertyCellreact">
                    <div class="products-property-type">HP</div>
                    <div class="products-property-value">123456789</div>
                </div>

                <div class="products-propertyCellreact">
                    <div class="products-property-type">Attack</div>
                    <div class="products-property-value">123456789</div>
                </div>

                <div class="products-propertyCellreact">
                    <div class="products-property-type">Dexterity</div>
                    <div class="products-property-value">123456789</div>
                </div>

                <div class="products-propertyCellreact">
                    <div class="products-property-type">Moving Speed</div>
                    <div class="products-property-value">123456789</div>
                </div>

                <div class="products-propertyCellreact">
                    <div class="products-property-type">Attacking Speed</div>
                    <div class="products-property-value">123456789</div>
                </div>

                <div class="products-propertyCellreact">
                    <div class="products-property-type">Stamina</div>
                    <div class="products-property-value">123456789</div>
                </div>

                <div class="products-propertyCellreact">
                    <div class="products-property-type">Critical Chance</div>
                    <div class="products-property-value">123456789</div>
                </div>

                <div class="products-propertyCellreact">
                    <div class="products-property-type">Element effect</div>
                    <div class="products-property-value">123456789</div>
                </div>
            </div>

        </div>
    </div>


</section>