@page "/"
@namespace SnakeAsianLeague.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{



    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta property="og:type" content="article" />
    <meta property="og:description" content="碰碰蛇是一款在貪吃蛇為基礎的遊戲玩法上全新進化出獨特戰鬥玩法的3D角色扮演遊戲。" />
    <meta property="og:image" content="./images/Other/login_picture.webp" />
    <meta property="og:url" content="https://ponponsnake.com/" />
    @* <title>PonPonSnake 碰碰蛇</title> *@
    <base href="~/" />
    <link rel="icon" type="image/png" href="./images/Other\icon.webp">
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="_content/Radzen.Blazor/css/default-base.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tippy.js/6.3.7/tippy.min.css"
        integrity="sha512-HbPh+j4V7pXprvQMt2dtmK/zCEsUeZWYXRln4sOwmoyHPQAPqy/k9lIquKUyKNpNbDGAY06UdiDHcEkBc72yCQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="css/site.css" rel="stylesheet" />
    <link href="css/Animate.css" rel="stylesheet" />
    @* <link href="css/fullcalendar.css" rel="stylesheet"> *@
    @*fullcalendar*@
   @* <script src="~/JavaScript/fullcalendar.js"></script>*@
      <script src="~/JavaScript/ACLIndex/fullCalendar.js"></script>
    @*Blaozr loading 套件*@
      <link href="_content/BlazorPro.Spinkit/spinkit.min.css" rel="stylesheet" />
    @* <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script> *@
@*    <script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>*@
    @*<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>*@
        <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/jquery-migrate-3.4.0.js"></script>
    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"*@
        integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    @* <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> *@
    <!-- AOS -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <!-- OwlCarouse SnakeIndex輪播--->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
        integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw=="
        crossorigin="anonymous" referrerpolicy="no-referrer">
        </script>
    <!-- Swiper GameFi輪播-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/8.1.1/swiper-bundle.min.js"
        integrity="sha512-xm8JS2jGDMLpY/DrZkEMQecUx4uR7D+6k3+YrVldyuPF9jxqN4SkG0WQ7UjudUgmtL9tbAzfVyRY6hvIERi9HA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- i18next -->
    @* <script src="https://cdn.jsdelivr.net/npm/i18next@21.5.2/dist/umd/i18next.js"></script> *@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/i18next/21.6.3/i18next.min.js"
        integrity="sha512-uKC/D/bV/ltCj2OVd4SxJ+BUKvHlWq1u1vxfU+ujFufW/eIYNgxBpNAupLJyQac9iB0hd5YuUNLpb4KZOrjm5Q=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    @* <script src="https://cdn.jsdelivr.net/npm/jquery-i18next@1.2.1/dist/umd/jquery-i18next.js"></script> *@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-i18next/1.2.1/jquery-i18next.min.js"
        integrity="sha512-79RgNpOyaf8AvNEUdanuk1x6g53UPoB6Fh2uogMkOMGADBG6B0DCzxc+dDktXkVPg2rlxGvPeAFKoZxTycVooQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    @* <script src="https://cdn.jsdelivr.net/npm/i18next-http-backend@1.3.1/i18nextHttpBackend.js"></script> *@
    <script src="~/lib/i18nextHttpBackend.min.js"></script>
    @* parallax.js *@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/parallax/3.1.0/parallax.min.js"></script>
    @* dayjs *@
    @* <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script> *@
    @* echarts *@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/5.3.2/echarts.min.js"
        integrity="sha512-weWXHm0Ws2cZKjjwugRMnnOAx9uCP/wUVf84W7/fXQimwYUK28zPDGPprDozomQLpKv6U99xN9PI9+yLI9qxNw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    @* tippy.js *@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.5/umd/popper.min.js"
        integrity="sha512-8cU710tp3iH9RniUh6fq5zJsGnjLzOWLWdZqBMLtqaoZUA6AWIE34lwMB3ipUNiTBP5jEZKY95SfbNnQ8cCKvA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tippy.js/6.3.7/tippy.umd.min.js"
        integrity="sha512-2TtfktSlvvPzopzBA49C+MX6sdc7ykHGbBQUTH8Vk78YpkXVD5r6vrNU+nOmhhl1MyTWdVfxXdZfyFsvBvOllw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/15.5.0/nouislider.min.js"></script>
    
    @*ScrollMagic*@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.8/ScrollMagic.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.8/plugins/debug.addIndicators.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.8/plugins/animation.gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TimelineLite.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/plugins/CSSPlugin.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/plugins/BezierPlugin.min.js"></script>

    @*big Number*@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bignumber.js/8.0.2/bignumber.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bignumber.js/8.0.2/bignumber.js"></script>
    @*web3JS*@
    <script src="https://cdn.jsdelivr.net/npm/web3@latest/dist/web3.min.js"></script>

    @*sentry*@
    <script src="https://browser.sentry-cdn.com/7.12.0/bundle.tracing.min.js" integrity="sha384-o3KQiYTQ9L5Y/dJz3i4P9UgxHGzKV/DejriFgBBIoUL170eRF1qFLlHE1xWucFbB" crossorigin="anonymous"></script>
    <script src="https://browser.sentry-cdn.com/7.12.0/bundle.tracing.min.js" integrity="sha384-o3KQiYTQ9L5Y/dJz3i4P9UgxHGzKV/DejriFgBBIoUL170eRF1qFLlHE1xWucFbB" crossorigin="anonymous"></script>
    

    
 
    <!-- jquery-loading v1.3.0 -->
    @* <link href="https://cdn.jsdelivr.net/npm/jquery-easy-loading@1.3.0/dist/jquery.loading.min.css" rel="stylesheet"
        />
        <script src="https://cdn.jsdelivr.net/npm/jquery-easy-loading@1.3.0/dist/jquery.loading.min.js"></script> *@

    <script>
        console.log("Test code.jquery.com/jquery-3.6.0.js")
        function BlazorScrollToId(id) {
            const element = document.getElementById(id);
            if (element instanceof HTMLElement) {
                element.scrollIntoView({
                    behavior: "smooth",
                    block: "start",
                    inline: "nearest"
                });
            }
        }

    </script>
</head>

<body>
    <app>
        @(await Html.RenderComponentAsync<App>(RenderMode.ServerPrerendered))
    </app>

    <!-- AOS -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script autostart="false" src="_framework/blazor.server.js"></script>
    <script src="~/JavaScript/MarketPlace.js"></script>
    <script src="~/JavaScript/test.js"></script>  

    <script src="~/JavaScript/MyProfile/InventoryAndMarketPlace/addNetworkAndCoin.js"></script>  
    
     <script src="~/JavaScript/MyProfile/InventoryAndMarketPlace/ABI_gather.js"></script>  
    <script src="~/JavaScript/MyProfile/SWAP/SWAP.js"></script>      
    <script src="~/JavaScript/Rank.js"></script>
    <script src="~/JavaScript/NavMenu.js"></script>
    <script src="~/JavaScript/Myaccount.js"></script>
    <script src="~/JavaScript/MyProfile.js"></script> 
    <script src="~/JavaScript/SharedLib/Carousel.js"></script>
    <script src="~/JavaScript/SharedLib/Lightbox.js"></script>   
    <script src="_content/BlazorInputFile/inputfile.js"></script>
    <script src="_content/Blazor-Analytics/blazor-analytics.js"></script>   
    <script src="~/JavaScript/i18next.js"></script>
    <script src="~/JavaScript/Tippy.js"></script>
    <script src="~/JavaScript/Popup.js"></script>
    <script src="~/JavaScript/NethereumMetamask.js"></script>
    <script src="_content/Radzen.Blazor/Radzen.Blazor.js"></script>
	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/web3/1.7.0-rc.0/web3.min.js" ></script>


    @*自動重連*@
    <script>
        Sentry.init({
            dsn:"https://6ade3f118206413fb6f2c62213810897@o1382280.ingest.sentry.io/6707625",           
            integrations: [new Sentry.BrowserTracing()],

            tracesSampleRate: 1.0,
        });
      
  

        async function connectionDown(options) {
            console.log("Connection Down ");
            for (let i = 0; i < options.maxRetries; i++) {
                console.log("Waiting for reconnect attempt #"+(i+1)+" ...");
                await this.delay(options.retryIntervalMilliseconds);
                if (this.isDisposed) {
                    break;
                }

                try {
                    // reconnectCallback will asynchronously return:
                    // - true to mean success
                    // - false to mean we reached the server, but it rejected the connection (e.g., unknown circuit ID)
                    // - exception to mean we didn't reach the server (this can be sync or async)
                    console.log("Starting Reconnect attempt #"+(i+1)+" ...");
                    const result = await window.Blazor.reconnect();
                    if (!result) {
                        // If the server responded and refused to reconnect, log it 
                        console.error("Server Rejected");
                    } else {
                        // Reconnected!
                        return;
                    }
                } catch (err) {
                    // We got an exception so will try again 
                    console.error(err);
                }
            }
            // all attempts failed - let's try a full reload
            // This could be a UI change instead or something more complicated
            location.reload();
        }

        function delay(durationMilliseconds) {
            return new Promise(resolve => setTimeout(resolve, durationMilliseconds));
        }

        function connectionUp(e) {
            console.log("Connection UP!");
        }

        //document.addEventListener("DOMContentLoaded", function() {
        //    Blazor.start();
        // });


        window.Blazor.start({
            reconnectionOptions: {
                maxRetries: 30,
                retryIntervalMilliseconds: 500,
            },
            reconnectionHandler: {
                onConnectionDown: e => connectionDown(e),
                onConnectionUp: e => connectionUp(e)
            }
        });


    </script>


</body>

</html>
