<head>
    <link href="css/NFT_Type.css" rel="stylesheet" />
</head>

<div class="NFT-Type"  id="">

    <div class="Secend-Block-Inventory Inventory-hover Inventory-hover-Click" id="">
        @* <a href="Inventory#Inventory-PPSR-Block"> *@
        <img class="Secend-Inventory-Icon" src="/images/Myprofile/Knight.webp" data-src="/images/Myprofile/Knight.webp"  alt="">
        <div class="Inventory-Name" data-i18n="Inventory_data:sortOptions.Rider">Rider</div>
        @* </a> *@
    </div>

    <div class="Secend-Block-Inventory Inventory-hover" id="" style="cursor: not-allowed;">
        @* <a href=""> *@
        <img class="Secend-Inventory-Icon" src="/images/GameFi/ICON_Lock.webp"  data-src="/images/GameFi/ICON_Lock.webp" alt="" style="width: 46px; opacity: 0.7;">
        @* </a> *@
    </div>
   @*@if (AllBalance == 0)
    {
       <div class="Secend-Block-Inventory  CollectBtnBlack CollectBtnBig" >         
           No Balance
        </div>    
    }
    else
    {
        <div class="Secend-Block-Inventory  CollectBtn CollectBtnBig" >            
            Collect <span> @AllBalance</span> Income
        </div>
    }*@ 
 
    
</div>

@code{

}