@page "/test"
@inject IJSRuntime JS
@using SnakeAsianLeague.Data.Entity.View
@using SnakeAsianLeague.Data.Services
@using SnakeAsianLeague.Data.Services.BlockChain
@using SnakeAsianLeague.Data.Services.Metamask
@using RestSharp;
@using SnakeAsianLeague.Data.Services.Personal

@inject IConfiguration Configuration
@inject AppState AppState
@inject BlockChainProcessorSever BlockChainSever
@inject InventoryService InventoryService
@inject MetamaskTransfer metamaskTransfer 



<head>
    <link href="css/test.css" rel="stylesheet" />
</head>

<div class="test-container">
    <p id="testNum"> @test</p>
</div>


@code {



    private IJSObjectReference? TransferEventsJS;
    string test="123";
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            TransferEventsJS = await JS.InvokeAsync<IJSObjectReference>("import","./JavaScript/MyProfile/TransferEvents.js");
            var SRC_token_addr = BlockChainSever.BlockChainInfoDTO.contractAddress_SRC;
            var SRCExchange_addr = BlockChainSever.BlockChainInfoDTO.contractAddress_SRCExchange;
            var socketServerUri = BlockChainSever.BlockChainInfoDTO.socketServerUri;
            test = await TransferEventsJS.InvokeAsync<string>("TransferEvents",socketServerUri , SRC_token_addr,"tokenSRC");
            Console.Write(test);

        }

    }
 
}
