@page "/test"
@using SnakeAsianLeague.Data.Services
@using SnakeAsianLeague.Data.Services.Backstage
@inject OfficialWebsiteData OfficialWebsiteData
@inject AppState AppState
<head>
    <link href="css/test.css" rel="stylesheet" />
</head>

<div class="test-container">
        <button @onclick="BindWallet">送出API</button>
</div>


@code {

    uint userID = 7788;
    string phoneNum = "0955666777";
    public async Task BindWallet()
    {
        //userID=AppState.LoginStatus.userID;
        await OfficialWebsiteData.BindWallet(userID, phoneNum);
    }

    
  
}
