@page "/test"
@using SnakeAsianLeague.Data.Services
@using SnakeAsianLeague.Data.Services.Backstage
@inject OfficialWebsiteData OfficialWebsiteData
@inject AppState AppState
<head>
    <link href="css/test.css" rel="stylesheet" />
</head>

<div class="test-container">
    <p>點下載的API: @DownloadHitsText</p>
    <button @onclick="DownloadHits"> 點下載的API</button>
    <p>點註冊的API: @RegisterText</p>
    <button @onclick="Register"> 點註冊的API</button>
   @* <p id="testNum"> @test</p>*@
</div>


@code {
    string DownloadHitsText="還沒變";
    uint userID = 0;  
    public async Task DownloadHits()
    {
        userID=AppState.LoginStatus.userID;
        DownloadHitsText = await OfficialWebsiteData.DownloadHits(userID);
    }

    string RegisterText = "還沒變";
    public async Task Register()
    {
        RegisterText = await OfficialWebsiteData.Register();
    }

    //private IJSObjectReference? TransferEventsJS;
    //string test="123";
    //protected override async Task OnAfterRenderAsync(bool firstRender)
    //{
    //    if (firstRender)
    //    {
    //        TransferEventsJS = await JS.InvokeAsync<IJSObjectReference>("import","./JavaScript/MyProfile/TransferEvents.js");
    //        var SRC_token_addr = BlockChainSever.BlockChainInfoDTO.contractAddress_SRC;
    //        var SRCExchange_addr = BlockChainSever.BlockChainInfoDTO.contractAddress_SRCExchange;
    //        var socketServerUri = BlockChainSever.BlockChainInfoDTO.socketServerUri;
    //        test = await TransferEventsJS.InvokeAsync<string>("TransferEvents",socketServerUri , SRC_token_addr,"tokenSRC");
    //        Console.Write(test);

    //    }

    //}
 
}
