@page "/test"
@using SnakeAsianLeague.Data.Services

@inject IJSRuntime JS


<head>
    <link href="css/test.css" rel="stylesheet" />
</head>

<div class="test-container">

</div>


@code {



    private IJSObjectReference? gettingStartMetaMaskJS;
    bool getStartMetaMask = false;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            gettingStartMetaMaskJS = await JS.InvokeAsync<IJSObjectReference>("import", "./JavaScript/MyProfile/gettingStartMetaMask.js");
            getStartMetaMask = await gettingStartMetaMaskJS.InvokeAsync<bool>("gettingStartMetaMask");            
        }

    }

}
