@page "/test"
@using SnakeAsianLeague.Data.Entity.View
@inject GetUrlView GetUrlView

<head>
    <link href="css/test.css" rel="stylesheet" />
</head>

<div class="test-container">
 
</div>


@code {
    string url;
    protected override async Task OnInitializedAsync()
    {
        url =await GetUrlView.GetUrl();

    }
   
   

    
  
}
