@page "/test"
@inject IJSRuntime JS
@inject IConfiguration Configuration

<head>
    <link href="css/test.css" rel="stylesheet" />
</head>

<div class="test-container">
    <h3> @SRCquantity</h3>
    <h3> @companyUSDT</h3>   
</div>


@code {
    private IJSObjectReference? companyAssetsJS;
    decimal SRCquantity = -1;
    decimal companyUSDT;
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            companyAssetsJS = await JS.InvokeAsync<IJSObjectReference>("import", "./JavaScript/companyAssets.js");      

            if (companyAssetsJS != null)
            {
                if (SRCquantity == -1 )//-1觸發渲染用 
                {
                    SRCquantity = decimal.Parse( await companyAssetsJS.InvokeAsync<string>("getSRCquantity")   )  ;
                    companyUSDT = decimal.Parse( await companyAssetsJS.InvokeAsync<string>("getCompanyUSDT" ,Configuration["USDT_token_addr"]  ,Configuration["company_address"] )  )  ;
         
                    //強制渲染
                    InvokeAsync(StateHasChanged);
                }
         
            }  
            
        }

    }

}
