@inject IJSRuntime JS

<head>
    <link href="css/NFTindex/Event_banner.css" rel="stylesheet" />
</head>

@* SnakeBanner *@
<div class="eventBannerS3" id="SnakeBanner">

    <div class="eventBannerS3-BG">
        <div id="event_banner_close" @onclick="eventBannerS3CloseClick">
            <img src="/images/OfficialWeb/event_banner/event_banner_close.webp" alt="">
        </div>
        <a class="eventBanner-link" href="ACLIndexS3">
            <div class="eventBannerS3-battleImg">
                <img class="battleImg" id="banner_S3_solo" src="/images/EventBanner/ACL_S3/banner_S3_solo.png" alt="">
                <img class="battleImg" id="banner_S3_group" src="/images/EventBanner/ACL_S3/banner_S3_group.png" alt="">
            </div>

            <div class="cloud-bottom">
                <img class="cloud" id="cloud-01" src="/images/EventBanner/ACL_S3/cloud-01.png" alt="">
                <img class="cloud" id="cloud-02" src="/images/EventBanner/ACL_S3/cloud-02.png" alt="">
            </div>

            <div class="center">
                <img class="centerImg" id="light" src="/images/EventBanner/ACL_S3/light.png" alt="">
                <img class="centerImg" id="year" src="/images/EventBanner/ACL_S3/year.png" alt="">
                <img class="centerImg" id="ACL_S3_logo" src="/images/EventBanner/ACL_S3/ACL_S3_logo.png" alt="">

                <img class="centerImg" id="more" data-i18n="[src]Asian_data:eventBanner.more" src="/images/EventBanner/ACL_S3/more.png" alt="">

            </div>

            <div class="cloud-top">
                <img class="cloud" id="cloud-03" src="/images/EventBanner/ACL_S3/cloud-03.png" alt="">
                <img class="cloud" id="cloud-04" src="/images/EventBanner/ACL_S3/cloud-04.png" alt="">
                <img class="cloud" id="cloud-05" src="/images/EventBanner/ACL_S3/cloud-05.png" alt="">
            </div>
        </a>
    </div>

</div>





@code {
    private IJSObjectReference? Banner;
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            Banner = await JS.InvokeAsync<IJSObjectReference>("import", "./JavaScript/SnakeIndex/Banner.js");
        }
    }


    private async Task eventBannerS3CloseClick()
    {
        if (Banner != null)
        {
            await Banner.InvokeVoidAsync("eventBannerS3Close");
        }
    }
}
