<head>
    <link href="/css/NFTindex/NFTindex_Video.css" rel="stylesheet" />
</head>

<div class="NFTindex_Video">
    <div class="NFTindex_Video_flex">
        <div class="Video_info">
            <div class="Video_info_01">
                A Fantasy Snake Game
            </div>
            <div class="Video_info_02">
                PonPonSnake is a easy to play and start P2E game. It will be easy for beginners who wish to play a role in
                GameFi, also we built a strong community for players to connect together.
                <br> <br>
                Choose your favorite Snake and Rider, join the battle of fanatasy now! Defeat your opponents by using
                powerful skills. Eat-Fight and Earn in PonPonSnake!

            </div>
            <div class="NFTindex_Download">
                <a href="https://play.google.com/store/apps/details?id=com.cqigames.snakeknight" target="_blank">
                    <img src="/images/NFTindex/NFTindex_Video/download_GooglePlay.png" alt="">
                </a>
                <a href="https://apps.apple.com/us/app/%E7%A2%B0%E7%A2%B0%E8%9B%87-2/id1504212624" target="_blank">
                    <img src="/images/NFTindex/NFTindex_Video/download_AppStore.png" alt="">
                </a>
            </div>
        </div>
        <div class="Video_file">
            <div class="NFTindex_videoBlock">
                <div class="video_border">
                    <img src="/images/NFTindex/NFTindex_Video/video_border-01.png" alt="">
                </div>
                <div class="videoBlock">
                    <iframe src="https://www.youtube.com/embed/pSZ3Z3qEe2Q" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen>
                    </iframe>
                </div>
            </div>
        </div>
    </div>
</div>