@inject IJSRuntime JS

<head>   
     <link href="/css/NFTindex/NFTindex.min.css" rel="stylesheet" />
    @*<link href="/css/NFTindex/NFTindex_Partner.css" rel="stylesheet" />*@
</head>

<div class="NFTindex_Partner">
    <div class="NFTindex-Block-title">
        <span class="NFTindex-title" data-i18n="Home_data:partners.title">
            Partners
        </span>
    </div>

    <div class="partner-block">
        <img class="partner-board " src="/images/NFTindex/NFTindex_Partner/Board.webp" alt="">
        <img class="mobile-partner-board " src="/images/NFTindex/NFTindex_Partner/mobile-Board.webp" alt="">

        <div class="partner-logoBlock">
            <img class="partner-logo lazy" id="Partner-01-CQIGames" data-src="/images/NFTindex/NFTindex_Partner/Partner-01-CQIGames.webp" alt="">
            <img class="partner-logo lazy" id="Partner-02-DaoHe" data-src="/images/NFTindex/NFTindex_Partner/Partner-02-DaoHe.webp" alt="">
            <img class="partner-logo lazy" id="Partner-03-Wateverpay" data-src="/images/NFTindex/NFTindex_Partner/Partner-03-Wateverpay.webp" alt="">
            <img class="partner-logo lazy" id="Partner-04-Formoga" data-src="/images/NFTindex/NFTindex_Partner/Partner-04-Formoga.webp" alt="">
            <img class="partner-logo lazy" id="Partner-05-SecretBlockChain" data-src="/images/NFTindex/NFTindex_Partner/Partner-05-SecretBlockChain.webp" alt="">
            <img class="partner-logo lazy" id="Partner-05-bitbyte.finance" data-src="/images/NFTindex/NFTindex_Partner/Partner-06-bitbyte.finance.webp" alt="">

        </div>

    </div>
</div>