@inject IJSRuntime JS

<head>
    <link href="/css/NFTindex/NFTindex.css" rel="stylesheet" />
    <link href="/css/NFTindex/NFTindex_SRC.css" rel="stylesheet" />
</head>

<div class="NFTindex_BG_diamond">
    <div class="NFTindex_SRC">
        @* <div class="SRC-map-BG-top"></div> *@
        <div class="NFTindex-Block-title">
            <span class="NFTindex-title" data-i18n="Home_data:indexSRC.title">SRC (Snake Rider Coin)</span>
        </div>

        <div class="SRC-icon">
            <img src="/images/NFTindex/NFTindex_SRC/SRC-icon.png" alt="">
        </div>

        <div class="SRC-map-block">
            @* <div class="SRC-map-BG"></div> *@

            <div class="SRC-map-inner">
                <div class="SRC-title-frame">
                    <img src="/images/NFTindex/NFTindex_SRC/frame-top.png" alt="">
                </div>


                <div class="SRC-banner-block">
                    @* 靜態版 *@
                    @* <img src="/images/NFTindex/NFTindex_SRC/SRC-banner.png" alt=""> *@

                    @* 動態版 *@
                    <div class="SRC-banner-animation">

                        @* BG底版 *@
                        @* <img src="/images/NFTindex/NFTindex_SRC/animation/SRC-banner-BG.png" alt=""> *@
                        <img src="/images/NFTindex/NFTindex_SRC/animation/SRC-banner-BG.webp" alt="">


                        @* 卷軸 *@
                        <div class="SRC-banner" id="reel-block">
                            @* <img class="" id="SRC-banner-reel"
                                src="/images/NFTindex/NFTindex_SRC/animation/SRC-banner-reel.png" alt=""> *@
                            <img class="" id="SRC-banner-reel"
                                src="/images/NFTindex/NFTindex_SRC/animation/SRC-banner-reel.webp" alt="">
                        </div>

                        @* 墨汁 *@
                        <div class="SRC-banner" id="ink-block">
                            <img class="" id="SRC-banner-ink"
                                src="/images/NFTindex/NFTindex_SRC/animation/SRC-banner-ink.png" alt="">
                        </div>

                        <div class="SRCblock">
                            @* SRC區塊 *@
                            <img class="SRC-banner" id="SRC-banner-SRCblock"
                                src="/images/NFTindex/NFTindex_SRC/animation/SRC-banner-SRCblock01.png" alt="">

                            @* SRC 閃亮亮 *@
                            @* <img class="SRC-banner" id="SRC-banner-shineonly"
                                src="/images/NFTindex/NFTindex_SRC/animation/SRC-banner-shineonly.png" alt=""> *@

                            @* SRC *@
                            @* <img class="SRC-banner" id="SRC-banner-SRConly"
                                src="/images/NFTindex/NFTindex_SRC/animation/SRC-banner-SRConly.png" alt=""> *@

                            @* kirakira *@
                            <img class="SRC-banner" id="SRC-banner-kirakira"
                                src="/images/NFTindex/NFTindex_SRC/animation/SRC-banner-kirakira.png" alt="">
                        </div>


                        <div class="SRC-banner" id="leaves-block">
                            @* 葉子 *@
                            <img class="" id="SRC-banner-leaves"
                                src="/images/NFTindex/NFTindex_SRC/animation/SRC-banner-leaves.png" alt="">
                        </div>
                    </div>

                    @* 畫面陰影 *@
                    @* <img class="SRC-banner" id="SRC-banner-shadow"
                        src="/images/NFTindex/NFTindex_SRC/animation/SRC-banner-shadow.png" alt=""> *@
                    <img class="SRC-banner" id="SRC-banner-shadow"
                        src="/images/NFTindex/NFTindex_SRC/animation/SRC-banner-shadow.webp" alt="">

                    @* 噪點 *@
                    @* <img class="SRC-banner" id="SRC-banner-noise"
                        src="/images/NFTindex/NFTindex_SRC/animation/SRC-banner-noise.png" alt=""> *@
                    <img class="SRC-banner" id="SRC-banner-noise"
                        src="/images/NFTindex/NFTindex_SRC/animation/SRC-banner-noise.webp" alt="">

                    @* 陽光 *@
                    <img class="SRC-banner" id="SRC-banner-sunshine"
                        src="/images/NFTindex/NFTindex_SRC/animation/SRC-banner-sunshine.png" alt="">


                    @* 放大鏡 *@
                    <img class="SRC-banner" id="SRC-banner-magnifier"
                        src="/images/NFTindex/NFTindex_SRC/animation/SRC-banner-magnifier.png" alt="">

                </div>

                <div class="SRC-title-frame">
                    <img src="/images/NFTindex/NFTindex_SRC/frame-bottom.png" alt="">
                </div>

            </div>

            <div class="SRC-map-inner" id="SRC-Origin">
                <div class="NFTindex-Block-title">
                    <span class="SRC-title-02" data-i18n="Home_data:indexSRC.title-02">SRC Origin</span>
                </div>

                <div class="NFTindex-text" data-i18n="Home_data:indexSRC.origin">

                    When the "Knight Union" first released SRC, it was a badge that represented a great
                    symbol of honor. Whoever owns the most SRC has made the greatest contribution to
                    the world. SRC has been prevalent for hundreds of years, and people have begun to
                    forget why they were awarded the honor in the first place.
                </div>

            </div>

        </div>

        <div class="SRC-row-block">

            <div class="SRC-row recharge">
                <div class="SRC-row-inner">
                    <div class="SRC-row-title">
                        <span class="SRC-title-03" data-i18n="Home_data:indexSRC.title-03">How to Recharge?</span>
                    </div>
                    <div class="SRC-row-text">
                        <div class="SRC-row-textTitle" data-i18n="[html]Home_data:indexSRC.rowTitle-01">Token Recharge
                            <span>(ERNC/ETH/USDT)</span>
                        </div>
                        <li data-i18n="Home_data:indexSRC.rowText-01">1. Buy from PonPonSnake marketplace</li>
                        <li data-i18n="[html]Home_data:indexSRC.rowText-02">2. In-Game Purchase (Purchase in APP)
                            Marketplace Ratio 1(TWD) : 0.5(SRC)</li>
                    </div>
                    <a href="MarketPlace">
                        <div class="SRC-button" data-i18n="Home_data:indexSRC.buy-button">Buy in Marketplace</div>
                    </a>
                </div>

                <img class="SRC-row-icon" id="SRC-box" src="/images/NFTindex/NFTindex_SRC/SRC-box.png" alt="">
            </div>

            <div class="SRC-row excharge">
                <div class="SRC-row-inner">
                    <div class="SRC-row-title">
                        <span class="SRC-title-03" data-i18n="Home_data:indexSRC.title-04">How to Swap?</span>
                    </div>
                    <div class="SRC-row-text">
                        <div class="SRC-row-textTitle" data-i18n="[html]Home_data:indexSRC.rowTitle-02">MetaMask Swap
                            <span>(SRC/ERNC/USDT)</span>
                        </div>
                        <li data-i18n="Home_data:indexSRC.rowText-03">1. Our marketplace will have a page for SRC Swap.
                        </li>
                        <li data-i18n="Home_data:indexSRC.rowText-04">2. Players may make SRC by renting their NFT and
                            swapping them into USDT.</li>
                    </div>
                    <a href="myprofile/swapsrc">
                        <div class="SRC-button" data-i18n="Home_data:indexSRC.swap-button">Swap Now</div>
                    </a>
                </div>

                <img class="SRC-row-icon" id="SRC-USTD" src="/images/NFTindex/NFTindex_SRC/USTD.png" alt="">

            </div>

        </div>


    </div>
</div>