@inject IJSRuntime JS

<head>
    <link href="/css/NFTindex/NFTindex_Collect.css" rel="stylesheet" />
    <link href="/css/PPSR_animation.css" rel="stylesheet" />
</head>

<div class="NFTindexCollect">
    <div class="NFTindexCollect_Block">
        <div class="NFTindexCollect_Flex">
            <div class="NFTindexCollect_Flex_01">
                <div class="NFTindexCollect_Title">
                    <img src="/images/NFTindex/NFTindex_Collect/NFTindexCollect_title.png" alt="">
                </div>
                <div class="Create_Gallery_Block"  id="NFTindex_web">
                    <div class="Create_Gallery">
                        <img class="GalleryCard" src="/images/NFTindex/NFTindex_Collect/GalleryCard.png" alt="">
                        <div class="Create_Gallery_Title">Create Your <br>
                            PPSR NFTs Gallery</div>
                    </div>
                    <div class="Buyer_Beam">
                        <div class="beam">
                            @* <img class="GalleryCard" src="/images/NFTindex/NFTindex_Collect/beam.png" alt=""> *@
                        </div>
                        <div class="Buyer_Block">
                            <div class="Buyer" id="Buyer-01">
                                <img class="Buyer-img" src="/images/NFTindex/NFTindex_Collect/Buyer-01.png" alt="">
                                @* <div class="Buyer_circle">
                                    <img src="/images/NFTindex/NFTindex_Collect/Buyer_01.png" alt="">
                                    </div>
                                    <div class="Buyer_ETH">0.8 ETH</div> *@
                            </div>
                            <div class="Buyer" id="Buyer-02">
                                <img class="Buyer-img" src="/images/NFTindex/NFTindex_Collect/Buyer-02.png" alt="">
                                @* <div class="Buyer_circle">
                                    <img src="/images/NFTindex/NFTindex_Collect/Buyer_02.png" alt="">
                                    </div>
                                    <div class="Buyer_ETH">2.7 ETH</div> *@
                            </div>
                            <div class="Buyer" id="Buyer-03">
                                <img class="Buyer-img" src="/images/NFTindex/NFTindex_Collect/Buyer-03.png" alt="">
                                @* <div class="Buyer_circle">
                                    <img src="/images/NFTindex/NFTindex_Collect/Buyer_03.png" alt="">
                                    </div>
                                    <div class="Buyer_ETH">3.6 ETH</div>*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="NFTindexCollect_Flex_02">
                <div class="RiderCircle_Block">
                    <div class="RiderCircle_Line"></div>
                    <div class="RiderCircle"></div>
                    <img class="RiderCircle_star" src="/images/NFTindex/NFTindex_Collect/star.png" alt="">

                    <div class="PPSR-Rider">

                        <div class="PPSR-Rider-Block not-Rider-Knight not-Rider-Weapon not-Rider-Pet Rider-first"
                            id="Rider-Snake">
                            <img data-src="/images/NFTindex/NFTindex_Collect/just_Snake.png" src="/images/NFTindex/NFTindex_Collect/just_Snake.png" alt="">
                        </div>


                        <div class="PPSR-Rider-Block not-Rider-Snake not-Rider-Weapon not-Rider-Pet Rider-first"
                            id="Rider-Knight">
                            <img data-src="/images/NFTindex/NFTindex_Collect/just_Knight.png" src="/images/NFTindex/NFTindex_Collect/just_Knight.png"
                                alt="">
                        </div>


                        <div class="PPSR-Rider-Block not-Rider-Snake not-Rider-Knight not-Rider-Pet Rider-first"
                            id="Rider-Weapon">
                            <img data-src="/images/NFTindex/NFTindex_Collect/just_Weapon.png" src="/images/NFTindex/NFTindex_Collect/just_Weapon.png"
                                alt="">
                        </div>

                        <div class="PPSR-Rider-Block not-Rider-Snake not-Rider-Knight not-Rider-Weapon" id="Rider-Pet">
                            <img data-src="/images/NFTindex/NFTindex_Collect/only_pet.png" src="/images/NFTindex/NFTindex_Collect/just_pet.png" alt="">
                        </div>


                        <svg class="line-Rider" id="line-Rider-Snake" xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 204.797 57.001">
                            <defs>
                                <filter id="パス_61" x="0" y="0" width="204.797" height="57.001"
                                    filterUnits="userSpaceOnUse">
                                    <feOffset input="SourceAlpha" />
                                    <feGaussianBlur stdDeviation="3" result="blur" />
                                    <feFlood flood-color="#98ecff" />
                                    <feComposite operator="in" in2="blur" />
                                    <feComposite in="SourceGraphic" />
                                </filter>
                            </defs>
                            <g transform="matrix(1, 0, 0, 1, 0, 0)" filter="url(#パス_61)">
                                <path id="パス_61-2" data-name="パス 61" d="M13108.136,3875v38h185.8"
                                    transform="translate(-13098.14 -3866)" fill="none" stroke="#fff" stroke-width="2" />
                            </g>
                        </svg>
                        <div class="Info-Rider" id="Info-Rider-Snake">Snake</div>


                        <svg class="line-Rider" id="line-Rider-Knight" xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 81.393 135.899">
                            <defs>
                                <filter id="パス_56" x="0" y="0" width="81.393" height="135.899"
                                    filterUnits="userSpaceOnUse">
                                    <feOffset input="SourceAlpha" />
                                    <feGaussianBlur stdDeviation="3" result="blur" />
                                    <feFlood flood-color="#98ecff" />
                                    <feComposite operator="in" in2="blur" />
                                    <feComposite in="SourceGraphic" />
                                </filter>
                            </defs>
                            <g transform="matrix(1, 0, 0, 1, 0, 0)" filter="url(#パス_56)">
                                <path id="" data-name="パス 56" d="M13311.843,4033v116.9h-62.393"
                                    transform="translate(-13240.45 -4024)" fill="none" stroke="#fff" stroke-width="2" />
                            </g>
                        </svg>
                        <div class="Info-Rider" id="Info-Rider-Knight">Rider</div>


                        <svg class="line-Rider" id="line-Rider-Weapon" xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 51.077 172.991">
                            <defs>
                                <filter id="パス_62" x="0" y="0" width="51.077" height="172.991"
                                    filterUnits="userSpaceOnUse">
                                    <feOffset input="SourceAlpha" />
                                    <feGaussianBlur stdDeviation="3" result="blur" />
                                    <feFlood flood-color="#98ecff" />
                                    <feComposite operator="in" in2="blur" />
                                    <feComposite in="SourceGraphic" />
                                </filter>
                            </defs>
                            <g transform="matrix(1, 0, 0, 1, 0, 0)" filter="url(#パス_62)">
                                <path id="パス_62-2" data-name="パス 62" d="M12330.813,3367.521h32.077V3213.53"
                                    transform="translate(-12321.81 -3204.53)" fill="none" stroke="#fff"
                                    stroke-width="2" />
                            </g>
                        </svg>
                        <div class="Info-Rider" id="Info-Rider-Weapon">Weapon</div>


                        <svg class="line-Rider" id="line-Rider-Pet" xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 67.296 170.842">
                            <defs>
                                <filter id="パス_54" x="0" y="0" width="67.296" height="170.842"
                                    filterUnits="userSpaceOnUse">
                                    <feOffset input="SourceAlpha" />
                                    <feGaussianBlur stdDeviation="3" result="blur" />
                                    <feFlood flood-color="#98ecff" />
                                    <feComposite operator="in" in2="blur" />
                                    <feComposite in="SourceGraphic" />
                                </filter>
                            </defs>
                            <g transform="matrix(1, 0, 0, 1, 0, 0)" filter="url(#パス_54)">
                                <path id="パス_54-2" data-name="パス 54" d="M-67.5,183.982V60.754h47.3V31.14"
                                    transform="translate(77.5 -22.14)" fill="none" stroke="#fff" stroke-width="2" />
                            </g>
                        </svg>
                        <div class="Info-Rider" id="Info-Rider-Pet">Pet</div>

                        <div class="PPSR-Click-Icon">
                            <img data-src="/images//NFTindex/NFTindex_Collect/click-icon.png" src="/images//NFTindex/NFTindex_Collect/click-icon.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="NFTindexCollect_Button">
                    <div class="NFTindexCollect_Button-01">Marketplace</div>
                    <a href="MarketPlace">
                        <div class="NFTindexCollect_Button-02">Buy PPSR
                            <img class="NFTindexCollect-arrow"
                                src="/images/NFTindex/NFTindex_Collect/NFTindexCollect_arrow.png" alt="">
                        </div>
                    </a>
                </div>
            </div>
            <div class="Create_Gallery_Block" id="NFTindex_mobile">
                <div class="Create_Gallery">
                    <img class="GalleryCard" src="/images/NFTindex/NFTindex_Collect/GalleryCard.png" alt="">
                    <div class="Create_Gallery_Title">Create Your <br>
                        PPSR NFTs Gallery</div>
                </div>
                <div class="Buyer_Beam">
                    <div class="beam">
                        @* <img class="GalleryCard" src="/images/NFTindex/NFTindex_Collect/beam.png" alt=""> *@
                    </div>
                    <div class="Buyer_Block">
                        <div class="Buyer" id="Buyer-01">
                            <img class="Buyer-img" src="/images/NFTindex/NFTindex_Collect/Buyer-01.png" alt="">
                            @* <div class="Buyer_circle">
                                <img src="/images/NFTindex/NFTindex_Collect/Buyer_01.png" alt="">
                                </div>
                                <div class="Buyer_ETH">0.8 ETH</div> *@
                        </div>
                        <div class="Buyer" id="Buyer-02">
                            <img class="Buyer-img" src="/images/NFTindex/NFTindex_Collect/Buyer-02.png" alt="">
                            @* <div class="Buyer_circle">
                                <img src="/images/NFTindex/NFTindex_Collect/Buyer_02.png" alt="">
                                </div>
                                <div class="Buyer_ETH">2.7 ETH</div> *@
                        </div>
                        <div class="Buyer" id="Buyer-03">
                            <img class="Buyer-img" src="/images/NFTindex/NFTindex_Collect/Buyer-03.png" alt="">
                            @* <div class="Buyer_circle">
                                <img src="/images/NFTindex/NFTindex_Collect/Buyer_03.png" alt="">
                                </div>
                                <div class="Buyer_ETH">3.6 ETH</div>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@* @code {
    private IJSObjectReference? GameFiJS;

    protected override async Task OnAfterRenderAsync(bool firstRender)

    {

        if (firstRender)

        {
            GameFiJS = await JS.InvokeAsync<IJSObjectReference>("import", "./JavaScript/GameFi/GameFi.js");
            await GameFiJS.InvokeVoidAsync("RiderHover");
        }

    }
} *@