@inject IJSRuntime JS

<head>
    <link href="/css/NFTindex/NFTindex.css" rel="stylesheet"/>
    <link href="/css/NFTindex/NFTindex_Gameplay.css" rel="stylesheet" />
</head>


<div class="NFTindex_Gameplay">
    <div class="NFTindex-Block-title">
        <span class="NFTindex-title" data-i18n="Home_data:gameplay.title">
            Gameplay
        </span>
    </div>
    <div class="NFTindex-title-02" data-i18n="Home_data:gameplay.title-02">Classic Solo Treasure Hunt</div>
    <div class="NFTindex-text" data-i18n="Home_data:gameplay.text">The Itza people have passed down these basic combat rules from ancient times. If you battle till
 the end, you can win the gold from your opponents. The combat may be attended by wild
 monsters, monsters, and wandering knights from the abyss, making it the most dangerous and 
valuable conflict to engage in.</div>

</div>