@inject IJSRuntime JS

<head>
     <link href="/css/NFTindex/NFTindex.min.css" rel="stylesheet" />
    @*<link href="/css/NFTindex/NFTindex_Carousel.css" rel="stylesheet" />*@
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/8.1.1/swiper-bundle.css"
        integrity="sha512-xTLlG+jNUAbKTCLpdibgQptrCWCqMDQHombvHK7T2S2bQW5zKZtDMssUw3ftsoJ+T9cATQmdNsPIgopUlUWz8g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<div class="NFTindexCarousel">
    <div class="NFTindex-Carousel-All">
        <div class="swiper NFTindex-Carousel-Block">

            <div class="swiper-wrapper" id="NFTindex-Carousel">

                @* 蛇一級 / 蛇皇 *@
                <div class="swiper-slide">

                    <div class=" Card-Grade" id="Card-Grade-01">
                        <div class="Card-Grade-Content">
                            <div class="Card-Grade-Title" data-i18n="[html]Home_data:carousel.name-01">Amphiptere</div>
                            <div class="Card-Grade-Image">
                                <img class="Card-Grade-halo lazy"
                                    data-src="/images/NFTindex/NFTindex_Carousel/Card-Grade-01-halo.webp" alt="">
                                <div class="Coming-Soon" data-i18n="Inventory_data:sortOptions.ComingSoon">Coming Soon
                                </div>
                                <img class="Card-Grade-icon lazy" id="Card-Grade-icon-01"
                                    data-src="/images/NFTindex/NFTindex_Carousel/Snake-icon-01.webp" alt="">
                            </div>

                            <div class="Card-Grade-text" data-i18n="[html]Home_data:carousel.text-01">
                                Amphiptere is the most powerful creature, it is the combination of the rider and
                                serphant.
                                Amphipteres will grow horns, wings, claws, and even carry weapons. They can live
                                thousands
                                of years and becomes the overlord.
                            </div>
                            <div class="Card-Grade-price">
                                ETH >100
                            </div>
                        </div>

                        <img class="Card-Diamond Card-Diamond-01 lazy" data-src="/images/NFTindex/NFTindex_Carousel/diamond-01.webp" alt="">
                        <img class="Card-Diamond Card-Diamond-02 lazy" data-src="/images/NFTindex/NFTindex_Carousel/diamond-01.webp" alt="">
                        <img class="Card-Diamond Card-Diamond-03 lazy" data-src="/images/NFTindex/NFTindex_Carousel/diamond-01.webp" alt="">
                        <img class="Card-Diamond Card-Diamond-04 lazy" data-src="/images/NFTindex/NFTindex_Carousel/diamond-01.webp" alt="">

                        <div class="Card-Grade-aperture"></div>

                    </div>

                </div>

                @* 蛇二級 / 蛇王騎靈 Legendary Rider *@
                <div class="swiper-slide">

                    <div class=" Card-Grade" id="Card-Grade-02-1">
                        <div class="Card-Grade-Content">
                            <div class="Card-Grade-Title" data-i18n="[html]Home_data:carousel.name-02-1">Spirit Snake
                                Rider</div>
                            <div class="Card-Grade-Image">
                                <img class="lazy Card-Grade-halo" data-src="/images/NFTindex/NFTindex_Carousel/Card-Grade-02-halo-1.webp" alt="">              
                                <img class="lazy Card-Grade-KindMap" id="Card-Grade-KindMap-02-1" data-src="/images/NFTindex/NFTindex_Carousel/Card-Grade-KindMap-02-1.webp" alt="">
                                <img class="lazy Card-Grade-icon" id="Card-Grade-icon-02-1" data-src="/images/NFTindex/NFTindex_Carousel/Snake-icon-02-1.webp" alt="">
                            </div>

                            <div class="Card-Grade-text" data-i18n="[html]Home_data:carousel.text-02-1">
                                The rider is completely connected to the serpent and will be the
                                strongest of all. They will be able to carry out the most powerful attack and skills. If
                                the rider dies, the snake will enter into the abyss and wait alone until it reaches the
                                amphiptere level.
                            </div>
                            <div class="Card-Grade-price">
                                ETH >100
                            </div>
                        </div>

                        <img class="Card-Diamond Card-Diamond-01 lazy" data-src="/images/NFTindex/NFTindex_Carousel/diamond-02-1.webp" alt="">
                        <img class="Card-Diamond Card-Diamond-02 lazy" data-src="/images/NFTindex/NFTindex_Carousel/diamond-02-1.webp" alt="">
                        <img class="Card-Diamond Card-Diamond-03 lazy" data-src="/images/NFTindex/NFTindex_Carousel/diamond-02-1.webp" alt="">
                        <img class="Card-Diamond Card-Diamond-04 lazy" data-src="/images/NFTindex/NFTindex_Carousel/diamond-02-1.webp" alt="">

                        <div class="Card-Grade-aperture"></div>
                    </div>

                </div>

                @* 蛇二級 / 蛇騎靈 Spirit Snake Rider *@
                <div class="swiper-slide">

                    <div class=" Card-Grade" id="Card-Grade-02">
                        <div class="Card-Grade-Content">
                            <div class="Card-Grade-Title" data-i18n="[html]Home_data:carousel.name-02">Spirit Snake
                                Rider</div>
                            <div class="Card-Grade-Image">
                                <img class="lazy Card-Grade-halo" data-src="/images/NFTindex/NFTindex_Carousel/Card-Grade-02-halo.webp" alt="">
                                <img class="lazy Card-Grade-KindMap" id="Card-Grade-KindMap-02" data-src="/images/NFTindex/NFTindex_Carousel/Card-Grade-KindMap-02.webp" alt="">
                                <img class="lazy Card-Grade-icon" id="Card-Grade-icon-02" data-src="/images/NFTindex/NFTindex_Carousel/Snake-icon-02.webp" alt="">
                            </div>

                            <div class="Card-Grade-text" data-i18n="[html]Home_data:carousel.text-02">
                                Evolved snakes can easily dominate others and will be given more power. Their magics and
                                the owner will advance at a different level. The kingdom will bestow glory on the
                                rider, they will be invited to the "Snake Council."
                            </div>
                            <div class="Card-Grade-price">
                                ETH 30~100
                            </div>
                        </div>

                        <img class="Card-Diamond Card-Diamond-01 lazy" data-src="/images/NFTindex/NFTindex_Carousel/diamond-02.webp" alt="">
                        <img class="Card-Diamond Card-Diamond-02 lazy" data-src="/images/NFTindex/NFTindex_Carousel/diamond-02.webp" alt="">
                        <img class="Card-Diamond Card-Diamond-03 lazy" data-src="/images/NFTindex/NFTindex_Carousel/diamond-02.webp" alt="">
                        <img class="Card-Diamond Card-Diamond-04 lazy" data-src="/images/NFTindex/NFTindex_Carousel/diamond-02.webp" alt="">

                        <div class="Card-Grade-aperture"></div>
                    </div>

                </div>

                @* 蛇三級 / 蛇騎士 Snake Rider *@
                <div class="swiper-slide">

                    <div class=" Card-Grade" id="Card-Grade-03">
                        <div class="Card-Grade-Content">
                            <div class="Card-Grade-Title" data-i18n="[html]Home_data:carousel.name-03">Snake Rider</div>
                            <div class="Card-Grade-Image">
                                <img class="lazy Card-Grade-halo"  data-src="/images/NFTindex/NFTindex_Carousel/Card-Grade-03-halo.webp" alt="">
                                <img class="lazy Card-Grade-KindMap" id="Card-Grade-KindMap-03" data-src="/images/NFTindex/NFTindex_Carousel/Card-Grade-KindMap-03.webp" alt="">
                                <img class="lazy Card-Grade-icon" id="Card-Grade-icon-03" data-src="/images/NFTindex/NFTindex_Carousel/Snake-icon-03.webp" alt="">
                            </div>

                            <div class="Card-Grade-text" data-i18n="[html]Home_data:carousel.text-03">
                                The snake's body will grow larger than its owner. They will be more powerful. These
                                snakes
                                will be the rider's partners. They can explore, battle, and hunt with the rider. Both of
                                them will be seen as a hero and will receive the honor.
                            </div>
                            <div class="Card-Grade-price">
                                ETH 10~50
                            </div>
                        </div>

                        <img class="Card-Diamond Card-Diamond-01 lazy" data-src="/images/NFTindex/NFTindex_Carousel/diamond-03.webp" alt="">
                        <img class="Card-Diamond Card-Diamond-02 lazy" data-src="/images/NFTindex/NFTindex_Carousel/diamond-03.webp" alt="">
                        <img class="Card-Diamond Card-Diamond-03 lazy" data-src="/images/NFTindex/NFTindex_Carousel/diamond-03.webp" alt="">
                        <img class="Card-Diamond Card-Diamond-04 lazy" data-src="/images/NFTindex/NFTindex_Carousel/diamond-03.webp" alt="">

                        <div class="Card-Grade-aperture"></div>
                    </div>
                </div>

                @* 蛇四級 / 異蛇 Snake *@
                <div class="swiper-slide">

                    <div class=" Card-Grade" id="Card-Grade-05">
                        <div class="Card-Grade-Content">
                            <div class="Card-Grade-Title" data-i18n="[html]Home_data:carousel.name-05">Snake</div>
                            <div class="Card-Grade-Image">
                                <img class="lazy Card-Grade-halo" data-src="/images/NFTindex/NFTindex_Carousel/Card-Grade-04-halo.webp" alt="">
                                <img class="lazy Card-Grade-KindMap" id="Card-Grade-KindMap-05" data-src="/images/NFTindex/NFTindex_Carousel/Card-Grade-KindMap-05.webp" alt="">
                                <img class="lazy Card-Grade-icon" id="Card-Grade-icon-05" data-src="/images/NFTindex/NFTindex_Carousel/Snake-icon-05.webp" alt="">
                            </div>

                            <div class="Card-Grade-text" data-i18n="[html]Home_data:carousel.text-05">
                                The most common snake on Itza land. They were born from crystals and usually fight alone
                                until they find their soul match snake rider.
                            </div>
                            <div class="Card-Grade-price">
                                ETH 2~20
                            </div>
                        </div>

                        <img class="Card-Diamond Card-Diamond-01 lazy" data-src="/images/NFTindex/NFTindex_Carousel/diamond-04.webp" alt="">
                        <img class="Card-Diamond Card-Diamond-02 lazy" data-src="/images/NFTindex/NFTindex_Carousel/diamond-04.webp" alt="">
                        <img class="Card-Diamond Card-Diamond-03 lazy" data-src="/images/NFTindex/NFTindex_Carousel/diamond-04.webp" alt="">
                        <img class="Card-Diamond Card-Diamond-04 lazy" data-src="/images/NFTindex/NFTindex_Carousel/diamond-04.webp" alt="">

                        <div class="Card-Grade-aperture"></div>
                    </div>
                </div>

                @* 蛇四級 / 蛇咒列隊 Snake Train *@
                <div class="swiper-slide">

                    <div class=" Card-Grade" id="Card-Grade-06">
                        <div class="Card-Grade-Content">
                            <div class="Card-Grade-Title" data-i18n="[html]Home_data:carousel.name-06">Snake Train</div>
                            <div class="Card-Grade-Image">
                                <img class="lazy Card-Grade-halo"   data-src="/images/NFTindex/NFTindex_Carousel/Card-Grade-04-halo.webp" alt="">
                                <img class="lazy Card-Grade-KindMap" id="Card-Grade-KindMap-06" data-src="/images/NFTindex/NFTindex_Carousel/Card-Grade-KindMap-06.webp" alt="">
                                <img class="lazy Card-Grade-icon" id="Card-Grade-icon-06" data-src="/images/NFTindex/NFTindex_Carousel/Snake-icon-06.webp" alt="">
                            </div>

                            <div class="Card-Grade-text" data-i18n="[html]Home_data:carousel.text-06">
                                Fun Fact: Snake Trains are usually not formed by snakes. They are little cute creatures
                                that come from itza land. They have no purpose, they go anywhere they want.
                            </div>
                            <div class="Card-Grade-price">
                                ETH 2~20

                            </div>
                        </div>

                        <img class="Card-Diamond Card-Diamond-01 lazy" data-src="/images/NFTindex/NFTindex_Carousel/diamond-04.webp" alt="">
                        <img class="Card-Diamond Card-Diamond-02 lazy" data-src="/images/NFTindex/NFTindex_Carousel/diamond-04.webp" alt="">
                        <img class="Card-Diamond Card-Diamond-03 lazy" data-src="/images/NFTindex/NFTindex_Carousel/diamond-04.webp" alt="">
                        <img class="Card-Diamond Card-Diamond-04 lazy" data-src="/images/NFTindex/NFTindex_Carousel/diamond-04.webp" alt="">

                        <div class="Card-Grade-aperture"></div>
                    </div>
                </div>

                @* 蛇四級 / 鐵甲蛇 Iron Snake *@
                <div class="swiper-slide">
                    <div class=" Card-Grade" id="Card-Grade-07">
                        <div class="Card-Grade-Content">

                            <div class="Card-Grade-Title" data-i18n="[html]Home_data:carousel.name-07">Iron Snake</div>
                            <div class="Card-Grade-Image">
                                <img class="lazy Card-Grade-halo"  data-src="/images/NFTindex/NFTindex_Carousel/Card-Grade-04-halo.webp" alt="">
                                <img class="lazy Card-Grade-KindMap" id="Card-Grade-KindMap-07" data-src="/images/NFTindex/NFTindex_Carousel/Card-Grade-KindMap-07.webp" alt="">
                                <img class="lazy Card-Grade-icon" id="Card-Grade-icon-07" data-src="/images/NFTindex/NFTindex_Carousel/Snake-icon-07.webp" alt="">
                            </div>

                            <div class="Card-Grade-text" data-i18n="[html]Home_data:carousel.text-07">
                                A snake made of iron and other non-living material. It uses the tainted crystal as a
                                power source, however, they are no worse than any other variant snakes, and can also be
                                utilized in battles.
                            </div>
                            <div class="Card-Grade-price">
                                ETH 2~20
                            </div>

                            <img class="Card-Diamond Card-Diamond-01 lazy" data-src="/images/NFTindex/NFTindex_Carousel/diamond-04.webp" alt="">
                            <img class="Card-Diamond Card-Diamond-02 lazy" data-src="/images/NFTindex/NFTindex_Carousel/diamond-04.webp" alt="">
                            <img class="Card-Diamond Card-Diamond-03 lazy" data-src="/images/NFTindex/NFTindex_Carousel/diamond-04.webp" alt="">
                            <img class="Card-Diamond Card-Diamond-04 lazy" data-src="/images/NFTindex/NFTindex_Carousel/diamond-04.webp" alt="">

                            <div class="Card-Grade-aperture"></div>
                        </div>
                    </div>
                </div>
            </div>

            @* <div class="swiper-pagination"></div> *@

        </div>
        <div class="swiper-button">
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>
    </div>
</div>


@code {

    protected override async Task OnAfterRenderAsync(bool firstRender)

    {

        if (firstRender)

        {

            // Carousel.js

            await JS.InvokeVoidAsync("NFTindexCarouselJS");

        }

    }
}
