@* @page "/NFTindex_Seignior" *@
@inject IJSRuntime JS

<head>
     <link href="/css/NFTindex/NFTindex.min.css" rel="stylesheet" />
    @*<link href="/css/NFTindex/NFTindex_Seignior.css" rel="stylesheet" />*@
</head>

<div class="NFTindex_Seignior">
    @* <div class="PPSRidersNFT-BG"> *@
    @* PPS SEIGNIOR 主ICON 與介紹 *@
    <div class="Seignior-Block">

        <div class="PPSSeignior">
            <div class="PPSSeignior-mainIcon-Block">
                <div class="PPSSeignior-mainIcon">                    
                    <img class="lazy main-Icon" data-src="/images/NFTindex/NFTindex_Seignior/Ruler.webp" alt="">
                    <img class="PPSSeignior-main-Icon-kirakira" id="PPSSeignior-main-Icon-kirakira-001" src="/images/NFTindex/NFTindex_Seignior/white-kirakira-001.webp" alt="">
                    <img class="PPSSeignior-main-Icon-kirakira" id="PPSSeignior-main-Icon-kirakira-002" src="/images/NFTindex/NFTindex_Seignior/white-kirakira-002.webp" alt="">
                </div>
            </div>
            <div class="PPSSeignior-Info-Block cssLazy">
                <div class="PPSSeignior-Gradient"></div>
                <div class="PPSSeignior-Paragraph">
                    <div class="PPSSeignior-Title" data-i18n="Home_data:Seignior.title">PPS SEIGNIOR</div>
                    <div class="PPSSeignior-Text-01" data-i18n="Home_data:Seignior.text-01">
                        The one who owns a PPSR will be claimed as a “Seignior”. These people will have special powers
                        that can rule over PonPonSnake Universe.
                    </div>

                    <div class="PPSSeignior-Text-02">
                        <div class="PPSSeignior-Text-02-1" data-i18n="[html]Home_data:Seignior.privilege-A">
                            <span>Privilege A</span><br> Each day the seignior will be able to receive SRC income.
                        </div>
                        <div class="PPSSeignior-Text-02-1" data-i18n="[html]Home_data:Seignior.privilege-B">
                            <span>Privilege B</span><br>The seignior will have the power to decide the rental fee of the
                            NFT they own.
                        </div>
                        <div class="PPSSeignior-Text-02-1" data-i18n="[html]Home_data:Seignior.privilege-C">
                            <span>Privilege C</span><br>The seignior will effect the economic system of PonPonSnake
                            universe.
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>


    @* PPS Riders NFT 蛇階級與介紹 *@
    @* <div class="PPSRidersNFT-BG"> *@
        <div class="PPSRidersNFT-Gradient-Outside">
            @* <div class="PPSRidersNFT-Gradient"></div> *@
            <div class="PPSRidersNFT-Block">
                <div class="PPSRidersNFT-IconsAll">

                    @* 蛇一級 蛇皇 *@
                    <div class="PPSRidersNFT-Icons-row" id="PPSRidersNFT-Icons-row-01">

                        <div class="SnakeIcons-Block-All">
                            <div class="SnakeIcons-Block" id="SnakeIcons-Block-01">
                                <img class="lazy PPSRidersNFT-Icons-Snake"   data-src="/images/NFTindex/NFTindex_Seignior/Snake-icon-01.webp" alt="">
                                <img class="lazy PPSRidersNFT-Icons-BG"   data-src="/images/NFTindex/NFTindex_Seignior/Snake-iconBG-01.webp" alt="">
                            </div>
                            <div class="SnakeIcons-Block-Name" data-i18n="Home_data:snakeClass.name-01">Amphiptere</div>
                        </div>

                    </div>

                    @* 蛇二級 蛇王騎靈 Legendary Rider*@
                    <div class="PPSRidersNFT-Icons-row" id="PPSRidersNFT-Icons-row-02">

                        <div class="SnakeIcons-Block-All">
                            <div class="SnakeIcons-Block" id="SnakeIcons-Block-02">
                                <img class="lazy PPSRidersNFT-Icons-Snake"   data-src="/images/NFTindex/NFTindex_Seignior/Snake-icon-02-1.webp" alt="">
                                <img class="lazy PPSRidersNFT-Icons-BG"   data-src="/images/NFTindex/NFTindex_Seignior/Snake-iconBG-02-1.webp" alt="">
                            </div>
                            <div class="SnakeIcons-Block-Name" data-i18n="Home_data:snakeClass.name-02-1">Legendary
                                Rider
                            </div>
                        </div>

                    </div>

                    @* 蛇三級 蛇騎靈 Spirit Snake Rider *@
                    <div class="PPSRidersNFT-Icons-row" id="PPSRidersNFT-Icons-row-03">

                        <div class="SnakeIcons-Block-All">
                            <div class="SnakeIcons-Block" id="SnakeIcons-Block-03">
                                <img class="lazy PPSRidersNFT-Icons-Snake"   data-src="/images/NFTindex/NFTindex_Seignior/Snake-icon-02.webp" alt="">
                                <img class="lazy PPSRidersNFT-Icons-BG"   data-src="/images/NFTindex/NFTindex_Seignior/Snake-iconBG-02.webp" alt="">
                            </div>
                            <div class="SnakeIcons-Block-Name" data-i18n="Home_data:snakeClass.name-02">Spirit Snake
                                Rider</div>
                        </div>
                    </div>

                    @* 蛇四級 *@
                    @* 蛇騎士 Snake Rider *@
                    <div class="PPSRidersNFT-Icons-row" id="PPSRidersNFT-Icons-row-04">
                        <div class="SnakeIcons-Block-All">
                            <div class="SnakeIcons-Block" id="SnakeIcons-Block-04">
                                <img class="lazy PPSRidersNFT-Icons-Snake"   data-src="/images/NFTindex/NFTindex_Seignior/Snake-icon-03.webp" alt="">
                                <img class="lazy PPSRidersNFT-Icons-BG"   data-src="/images/NFTindex/NFTindex_Seignior/Snake-iconBG-03.webp" alt="">
                            </div>
                            <div class="SnakeIcons-Block-Name" data-i18n="Home_data:snakeClass.name-03">Snake Rider
                            </div>
                        </div>
                        @* 鐵甲蛇騎士 Iron Snake Rider *@
                        <div class="SnakeIcons-Block-All">
                            <div class="SnakeIcons-Block" id="SnakeIcons-Block-05">
                                <img class="lazy PPSRidersNFT-Icons-Snake"   data-src="/images/NFTindex/NFTindex_Seignior/Snake-icon-04.webp" alt="">
                                <img class="lazy PPSRidersNFT-Icons-BG"   data-src="/images/NFTindex/NFTindex_Seignior/Snake-iconBG-04.webp" alt="">
                            </div>
                            <div class="SnakeIcons-Block-Name" data-i18n="Home_data:snakeClass.name-04">Iron Snake Rider
                            </div>
                        </div>

                    </div>

                    @* 蛇五級 *@
                    <div class="PPSRidersNFT-Icons-row" id="PPSRidersNFT-Icons-row-05">
                        @* 異蛇 Snake *@
                        <div class="SnakeIcons-Block-All">
                            <div class="SnakeIcons-Block" id="SnakeIcons-Block-06">
                                <img class="lazy PPSRidersNFT-Icons-Snake"   data-src="/images/NFTindex/NFTindex_Seignior/Snake-icon-05.webp" alt="">
                                <img class="lazy PPSRidersNFT-Icons-BG"   data-src="/images/NFTindex/NFTindex_Seignior/Snake-iconBG-05.webp" alt="">
                            </div>
                            <div class="SnakeIcons-Block-Name" data-i18n="Home_data:snakeClass.name-05">Snake</div>
                        </div>
                        @* 蛇咒列隊 Snake Train *@
                        <div class="SnakeIcons-Block-All">
                            <div class="SnakeIcons-Block" id="SnakeIcons-Block-07">
                                <img class="lazy PPSRidersNFT-Icons-Snake"   data-src="/images/NFTindex/NFTindex_Seignior/Snake-icon-06.webp" alt="">
                                <img class="lazy PPSRidersNFT-Icons-BG"   data-src="/images/NFTindex/NFTindex_Seignior/Snake-iconBG-05.webp" alt="">
                            </div>
                            <div class="SnakeIcons-Block-Name" data-i18n="Home_data:snakeClass.name-06">Snake Train
                            </div>
                        </div>
                        @* 鐵甲蛇 Iron Snake *@
                        <div class="SnakeIcons-Block-All">
                            <div class="SnakeIcons-Block" id="SnakeIcons-Block-08">
                                <img class="lazy PPSRidersNFT-Icons-Snake"   data-src="/images/NFTindex/NFTindex_Seignior/Snake-icon-07.webp" alt="">
                                <img class="lazy PPSRidersNFT-Icons-BG"   data-src="/images/NFTindex/NFTindex_Seignior/Snake-iconBG-05.webp" alt="">
                            </div>
                            <div class="SnakeIcons-Block-Name" data-i18n="Home_data:snakeClass.name-07">Iron Snake</div>
                        </div>

                    </div>
                </div>


                <div class="PPSRidersNFT-InfoBlock">
                    <div class="PPSRidersNFT-Info">
                        <div class="PPSRidersNFT-Info-Title" data-i18n="Home_data:infoBlock.title">PPS Riders NFT</div>
                        <div class="PPSRidersNFT-Info-Text" data-i18n="Home_data:infoBlock.info">PonPonSnake NFT can be
                            used in battles, these NFT comes in
                            different appearance, style and level. They can be obtained by bidding on Marketplace. Once
                            you
                            own these NFT, you will become the “Holder”, and will have the right to rent out your NFT
                            for
                            SRC. </div>
                        <a href="MarketPlace" class="PPSRidersNFT-Info-Button cssLazy"
                            data-i18n="Home_data:infoBlock.button">NFT Marketplace</a>
                    </div>
                </div>
            </div>
        </div>
    @* </div> *@
</div>


@code {

    private IJSObjectReference? NFTindexSeigniorJS;
    protected override async Task OnAfterRenderAsync(bool firstRender)

    {

        if (firstRender)
        {

            NFTindexSeigniorJS = await JS.InvokeAsync<IJSObjectReference>("import", "./JavaScript/NFTindex/NFTindexSeignior.js");
            await NFTindexSeigniorJS.InvokeVoidAsync("NFTindexSeigniorReel");

        }

    }
}