@inject IJSRuntime JS

<head>
    <link href="/css/NFTindex/NFTindex_SRC.css" rel="stylesheet" />
</head>

<div class="NFTindex_SRC">

    <div class="SRC-Block-title">
        <span class="SRC-title" data-i18n="Home_data:indexSRC.title">SRC (Snake Rider Coin)</span>
    </div>



    <div class="SRC-map-block">
        <div class="SRC-map-BG"></div>

        <div class="SRC-map-inner">
            <div class="SRC-title-frame">
                <img src="/images/NFTindex/NFTindex_SRC/frame-top.png" alt="">
            </div>


            <div class="SRC-banner">
                @* 靜態版 *@
                <img src="/images/NFTindex/NFTindex_SRC/SRC-banner.png" alt="">

                @* 動態版 *@
                @* <img src="/images/NFTindex/NFTindex_SRC/animation/SRC-banner-BG.png" alt=""> *@

            </div>

            <div class="SRC-title-frame">
                <img src="/images/NFTindex/NFTindex_SRC/frame-bottom.png" alt="">
            </div>

        </div>

        <div class="SRC-map-inner" id="SRC-Origin">
            <div class="SRC-Block-title">
                <span class="SRC-title-02" data-i18n="Home_data:indexSRC.title-02">SRC Origin</span>
            </div>

            <div class="SRC-text" data-i18n="Home_data:indexSRC.origin">

                When the "Knight Union" first released SRC, it was a badge that represented a great
                symbol of honor. Whoever owns the most SRC has made the greatest contribution to
                the world. SRC has been prevalent for hundreds of years, and people have begun to
                forget why they were awarded the honor in the first place.
            </div>

        </div>

    </div>

    <div class="SRC-row-block">

        <div class="SRC-row recharge">
            <div class="SRC-row-inner">
                <div class="SRC-row-title">
                    <span class="SRC-title-03" data-i18n="Home_data:indexSRC.title-03">How to Recharge?</span>
                </div>
                <div class="SRC-row-text">
                    <div class="SRC-row-textTitle" data-i18n="[html]Home_data:indexSRC.rowTitle-01">Token Recharge
                        <span>(ERNC/ETH/USDT)</span></div>
                    <li data-i18n="Home_data:indexSRC.rowText-01">1. Buy from PonPonSnake marketplace</li>
                    <li data-i18n="[html]Home_data:indexSRC.rowText-02">2. In-Game Purchase (Purchase in APP)
                        Marketplace Ratio 1(TWD) : 0.5(SRC)</li>
                </div>
                <a href="MarketPlace">
                    <div class="SRC-button" data-i18n="Home_data:indexSRC.buy-button">Buy in Marketplace</div>
                </a>
            </div>

            <img class="SRC-row-icon" id="SRC-box" src="/images/NFTindex/NFTindex_SRC/SRC-box.png" alt="">
        </div>

        <div class="SRC-row excharge">
            <div class="SRC-row-inner">
                <div class="SRC-row-title">
                    <span class="SRC-title-03" data-i18n="Home_data:indexSRC.title-04">How to Exchange?</span>
                </div>
                <div class="SRC-row-text">
                    <div class="SRC-row-textTitle" data-i18n="[html]Home_data:indexSRC.rowTitle-02">MetaMask Exchange
                        <span>(SRC/ERNC/USDT)</span> </div>
                    <div data-i18n="Home_data:indexSRC.rowText-03">
                        PonPonSnake's marketplace will have an exchange
                        page for SRC/USDT. Players may make SRC by renting their PPS NFT. As a result, this might
                        outcome in-game revenue economic advantages.
                    </div>
                </div>
                <a href="myprofile/swapsrc">
                    <div class="SRC-button" data-i18n="Home_data:indexSRC.exchange-button">Exchange Now</div>
                </a>
            </div>

            <img class="SRC-row-icon" id="SRC-USTD" src="/images/NFTindex/NFTindex_SRC/USTD.png" alt="">

        </div>

    </div>


</div>