@inject IJSRuntime JS

<head>
    <link href="/css/NFTindex/NFTindex.css" rel="stylesheet" />
    <link href="/css/NFTindex/NFTindex_Partner.css" rel="stylesheet" />
</head>

<div class="NFTindex_Partner">
    
</div>