@page "/NFTindex_Banner"
@using SnakeAsianLeague.Data.Services
@using SnakeAsianLeague.Data.Entity.SnakeServer
@using SnakeAsianLeague.Data.Entity
@using SnakeAsianLeague.Shared.SignUp

@inject IJSRuntime JS

<head>
     <link href="/css/NFTindex/NFTindex.min.css" rel="stylesheet" />
    @*<link href="/css/NFTindex/NFTindex_Banner.css" rel="stylesheet" />*@
    @*<link href="/css/NFTindex/NFTindex_Register.css" rel="stylesheet" />*@
</head>


<div class="NFTindex_Banner" id="NFTindex_Banner">
    <div class="NFTindexBanner_block">
        <div class="NFTindexBanner_BG">
            @* <img class="" src="/images/NFTindex/NFTindex_Banner/test.png" alt=""> *@
            
            @* 藍天背景 *@
            @* <img class="" src="/images/NFTindex/NFTindex_Banner/background.png" alt=""> *@
            
            @* <img class="" src="/images/NFTindex/NFTindex_Banner/background-01.png" alt=""> *@
        </div>
        <div class="NFTindexBanner_titleRegister">
            <div class="NFTindexBanner_title" data-i18n="Home_data:Banner.title">EAT - FIGHT and EARN!</div>
            
            <SignUpButton />
            
            @* 註冊按鈕 *@
            @* <div class="NFTindex_Register_block">
                <div class="NFTindex_Register" hidden="@false">
                    <div class="Register-input-row">
                        <input type="text" class="Register-input tippy-pop" id="CountryCode" name="CountryCode" placeholder="+886" data-i18n="[data-content]Home_data:register.countryCode" data-content="CountryCode" @bind=@countryCodeStr>

                        <input type="text" class="Register-input tippy-pop" id="PhoneNum" name="PhoneNum"  data-i18n="[placeholder]Home_data:register.inputPhoneNumber;[data-content]Home_data:register.tippy" placeholder="Phone Number" data-content="Enter Your Phone Number" @bind=@phoneNumStr>
                    </div>
                    <NFTindex_Register CountryCode = "@countryCodeStr" PhoneNum = "@phoneNumStr" /> 
                </div>
            </div> *@

        </div>
        @* 號角 *@
        <div class="horn-block popupblockTest">
            <div class="horn-hidden" id="horn-hidden-01">
                <img  width="150" class="horn lazy" id="horn-01" data-src="/images/NFTindex/NFTindex_Banner/horn-01.webp" alt="">
            </div>
            <div class="horn-hidden" id="horn-hidden-02">
                <img width="150" class="horn lazy" id="horn-02" data-src="/images/NFTindex/NFTindex_Banner/horn-02.webp" alt="">
            </div>
            <div class="horn-hidden" id="horn-hidden-03">
                <img width="150" class="horn lazy" id="horn-03" data-src="/images/NFTindex/NFTindex_Banner/horn-03.webp" alt="">
            </div>
            <div class="horn-hidden" id="horn-hidden-04">
                <img width="150" class="horn lazy" id="horn-04" data-src="/images/NFTindex/NFTindex_Banner/horn-04.webp" alt="">
            </div>
        </div>

        @* 中心主角示意圖 *@
        @* <img class="centralProtagonist" src="/images/NFTindex/NFTindex_Banner/centralProtagonist.webp" alt=""> *@

        <div class="CenterBlock" hidden="@(false)">
            @* 水果 parallax *@
            <div id="fruit_block" class="parallax_block">
                <img class="absolute-t0l0-w100 ParallaxMove lazy" id="fruit-01"  data-depth="0.5" data-src="/images/NFTindex/NFTindex_Banner/fruit-01.webp"                    alt="">
                <img class="absolute-t0l0-w100 ParallaxMove lazy" id="fruit-02"  data-depth="0.2" data-src="/images/NFTindex/NFTindex_Banner/fruit-02.webp"                    alt="">
            </div>

            @* 光圈 *@
            <div id="halo" class="absolute-t0l0-w100">
                <img class="w100 lazy" data-src="/images/NFTindex/NFTindex_Banner/halo.webp" alt="">
            </div>

            @* 黃色閃亮亮 kirakira *@
            <div id="yellow-kirakira" class="absolute-t0l0-w100 mobile-none">
                <img class="w100 lazy" data-src="/images/NFTindex/NFTindex_Banner/yellow-kirakira.webp" alt="">
            </div>

            @* 蛇蛇與頭紗 *@
            <div id="snake-veil" class="">
                <img class="absolute-t0l0-w100 mobile-none lazy" id="veil" data-src="/images/NFTindex/NFTindex_Banner/veil.webp"                    alt="">
                <img class="absolute-t0l0-w100 mobile-none lazy" id="snake" data-src="/images/NFTindex/NFTindex_Banner/snake.webp"                    alt="">
            </div>

            @* 寶箱 *@
            <div id="treasureChest-block" class="">
                <img class="absolute-t0l0-w100 mobile-none lazy" id="treasureChest" data-src="/images/NFTindex/NFTindex_Banner/treasureChest.webp" alt="">
                <img class="absolute-t0l0-w100 mobile-none lazy" id="treasureChest-light" data-src="/images/NFTindex/NFTindex_Banner/treasureChest-light.webp" alt="">
            </div>

            @* 女主角騎士 *@
            <div id="rider-block" class="">
                <img class="absolute-t0l0-w100 mobile-none lazy" id="airShadow" data-src="/images/NFTindex/NFTindex_Banner/airShadow.webp" alt="">
                
                @* 手機板顯示 *@
                <img class="absolute-t0l0-w100 mobile-show lazy" id="mobile-01" data-src="/images/NFTindex/NFTindex_Banner/mobile-01.webp" alt="">

                <img class="absolute-t0l0-w100 lazy" id="rider" data-src="/images/NFTindex/NFTindex_Banner/rider.webp" alt="">
                <img class="absolute-t0l0-w100 lazy mobile-none" id="white-kirakira" data-src="/images/NFTindex/NFTindex_Banner/white-kirakira.webp" alt="">
            </div>

            @* 氣氛光線 *@
            <div id="ambientLight-block" class="">
                <img class="absolute-t0l0-w100 mobile-none lazy"  id="stage-light" data-src="/images/NFTindex/NFTindex_Banner/stage-light.webp" alt="">

                @* 手機板顯示 *@
                <img class="absolute-t0l0-w100 mobile-show lazy" id="mobile-02" data-src="/images/NFTindex/NFTindex_Banner/mobile-02.webp" alt="">

                <img class="lazy absolute-t0l0-w100" id="natural-light" data-src="/images/NFTindex/NFTindex_Banner/natural-light.webp" alt="">
                <img class="lazy absolute-t0l0-w100 mobile-none" id="rainbow" data-src="/images/NFTindex/NFTindex_Banner/rainbow.webp" alt="">
                <img class="lazy absolute-t0l0-w100 mobile-none" id="ring-rainbow" data-src="/images/NFTindex/NFTindex_Banner/ring-rainbow.webp" alt="">
            </div>

            @* ERNC *@
            <div id="ERNC-block" class="">
                <img class="lazy absolute-t0l0-w100 mobile-none"  id="treasureChest-ERNC" data-src="/images/NFTindex/NFTindex_Banner/ERNC.png" alt="">
                <img class="lazy absolute-t0l0-w100 mobile-none" id="treasureChest-kirakira" data-src="/images/NFTindex/NFTindex_Banner/treasureChest-kirakira.webp" alt="">
            
                @* 手機板顯示 *@
                <img class="lazy absolute-t0l0-w100 mobile-show" id="mobile-03" data-src="/images/NFTindex/NFTindex_Banner/mobile-03.webp" alt="">

            </div>


        </div>

        <div class="StepsBlockAll">
            <div class="StepsBlock">
                <div class="Steps" id="Steps-01">
                    <img class="Steps-bg lazy" data-src="/images/NFTindex/NFTindex_Banner/StepsBlock-01-left.webp" alt="">
                    <a href="ACLIndexS2">
                        <div class="Steps-button" id="Steps-button-01">
                            <img class="lazy Steps-button-bg" id="Steps-button-bg-01" data-src="/images/NFTindex/NFTindex_Banner/button-green.webp" alt="">
                            <img class="lazy Steps-button-text" id="Steps-button-text-01" data-i18n="[src]Home_data:Banner.buttonText-01" data-src="/images/NFTindex/NFTindex_Banner/Arena.png" alt="">
                        </div>
                    </a>
                </div>
                <div class="Steps" id="Steps-02">
                    <img class="lazy Steps-bg" data-src="/images/NFTindex/NFTindex_Banner/StepsBlock-02-center.webp" alt="">
                    <a href="GettingStarted">
                        <div class="Steps-button" id="Steps-button-02">
                            <img class="lazy Steps-button-bg" id="Steps-button-bg-02" data-src="/images/NFTindex/NFTindex_Banner/button-yellow.webp" alt="">
                            <img class="lazy Steps-button-text" id="Steps-button-text-02" data-i18n="[src]Home_data:Banner.buttonText-02" data-src="/images/NFTindex/NFTindex_Banner/GettingStart.png" alt="">
                        </div>
                    </a>
                </div>
                
                <div class="Steps" id="Steps-03">
                    <img class="lazy Steps-bg" data-src="/images/NFTindex/NFTindex_Banner/StepsBlock-03-right.webp" alt="">
                    <a href="https://ponponsnake.substack.com/" target="_blank">
                        <div class="Steps-button" id="Steps-button-03">
                            <img class="lazy Steps-button-bg" id="Steps-button-bg-03" data-src="/images/NFTindex/NFTindex_Banner/button-blue.webp" alt="">
                            <img class="lazy Steps-button-text" id="Steps-button-text-03" data-i18n="[src]Home_data:Banner.buttonText-03" data-src="/images/NFTindex/NFTindex_Banner/News.png" alt="">
                        </div>
                    </a>
                </div>
                
            </div>
            @* <div class="leaf"> *@
                <img class="lazy" id="leaf-01" data-src="/images/NFTindex/NFTindex_Banner/leaf-01.webp" alt="">
                <img class="lazy" id="leaf-02"  data-src="/images/NFTindex/NFTindex_Banner/leaf-02.webp" alt="">
            @* </div> *@
        </div>



    </div>

</div>





@code {
    private IJSObjectReference? NFTindexBannerJS;
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
        NFTindexBannerJS = await JS.InvokeAsync<IJSObjectReference>("import","./JavaScript/NFTindex/NFTindexBanner.js");
        await NFTindexBannerJS.InvokeVoidAsync("NFTindexBanner");
        }
    }


    private string countryCodeStr = "";
    private string phoneNumStr = "";


  
}


    
