@inject IJSRuntime JS

<head>
    <link href="/css/NFTindex/NFTindex.css" rel="stylesheet" />
    <link href="/css/NFTindex/NFTindex_Partner.css" rel="stylesheet" />
</head>

<div class="NFTindex_Partner">
    <div class="NFTindex-Block-title">
        <span class="NFTindex-title" data-i18n="Home_data:partners.title">
            Partners
        </span>
    </div>

    <div class="partner-block">
        <img class="partner-board" src="/images/NFTindex/NFTindex_Partner/Board.png" alt="">
        <img class="mobile-partner-board" src="/images/NFTindex/NFTindex_Partner/mobile-Board.png" alt="">

        <div class="partner-logoBlock">
            <img class="partner-logo" id="Partner-01-CQIGames"
                src="/images/NFTindex/NFTindex_Partner/Partner-01-CQIGames.png" alt="">
            <img class="partner-logo" id="Partner-02-DaoHe"
                src="/images/NFTindex/NFTindex_Partner/Partner-02-DaoHe.png" alt="">
            <img class="partner-logo" id="Partner-03-Wateverpay"
                src="/images/NFTindex/NFTindex_Partner/Partner-03-Wateverpay.png" alt="">
            <img class="partner-logo" id="Partner-04-Formoga"
                src="/images/NFTindex/NFTindex_Partner/Partner-04-Formoga.png" alt="">
            <img class="partner-logo" id="Partner-05-SecretBlockChain"
                src="/images/NFTindex/NFTindex_Partner/Partner-05-SecretBlockChain.png" alt="">
            <img class="partner-logo" id="Partner-05-bitbyte.finance"
                src="/images/NFTindex/NFTindex_Partner/Partner-06-bitbyte.finance.png" alt="">

        </div>

    </div>
</div>