@inject IJSRuntime JS

<head>    
     <link href="/css/NFTindex/NFTindex.min.css" rel="stylesheet" />
    @*<link href="/css/NFTindex/NFTindex_Scholar.css" rel="stylesheet" />*@
</head>

<div class="NFTindex_Scholar">

    @* 學者介紹區塊 *@
    <div class="Scholar-Block">

        <div class="Scholar">
            <div class="Scholar-mainIcon-Block">
                <div class="Scholar-mainIcon">
                    @* <img class="golden-frame" src="/images/NFTindex/NFTindex_Seignior/golden-frame.webp" alt=""> *@
                    <img class="main-Icon lazy" data-src="/images/NFTindex/NFTindex_Scholar/PhD-icon.webp" alt="">
                    <img class="main-Icon-kirakira-000" id="main-Icon-kirakira-000"
                        data-src="/images/NFTindex/NFTindex_Scholar/glow.webp" alt="">
                    <img class="main-Icon-kirakira" id="main-Icon-kirakira-003"
                        data-src="/images/NFTindex/NFTindex_Banner/halo.webp" alt="">

                </div>
            </div>
            <div class="Scholar-Info-Block">
                <div class="Scholar-Gradient"></div>
                <div class="Scholar-Paragraph">
                    <div class="Scholar-Title" data-i18n="Home_data:Scholar.title">PPS RESEARCHER</div>
                    <div class="Scholar-Text-01" data-i18n="Home_data:Scholar.text-01">The improvement of the Itza world
                        relies on creative researchers. These researchers are far smarter than Itzans, such as Leonardo
                        da Vinci and Tesla, they bring revolution to the world. The greatest researchers will be
                        referred to as "Doctorates", and they will have the knowledge and capacity to transform the
                        world.
                    </div>

                    <div class="Scholar-Text-02">
                        <div class="Scholar-Text-02-1" data-i18n="[html]Home_data:Scholar.privilege-A">
                            <span>Privilege A</span><br>Privilege A Earn royalties from players through constructing airships or items.
                        </div>
                        <div class="Scholar-Text-02-1" data-i18n="[html]Home_data:Scholar.privilege-B">
                            <span>Privilege B</span><br>Control the market price of materials.
                        </div>
                        <div class="Scholar-Text-02-1" data-i18n="[html]Home_data:Scholar.privilege-C">
                            <span>Privilege C</span><br>Dominant Guilds and the whole Community.
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="spaceship_blueprint">
        @* 飛船banner區塊 *@
        <div class="spaceship-banner-block">
            @* 靜態版 *@
            @* <img src="/images/NFTindex/NFTindex_Scholar/spaceship-banner.jpg" alt=""> *@

            @* 01-造船廠天空背景 *@
            <img class="lazy" id="" data-src="/images/NFTindex/NFTindex_Scholar/SpaceshipBanner/01-shipyardSky-BG2.webp" alt="">

            @* 02-機器人(左) *@
            <img class="SpaceshipBanner lazy" id="Robot-left"
                data-src="/images/NFTindex/NFTindex_Scholar/SpaceshipBanner/02-Robot-left.webp" alt="">

            @* 03-機器人(右) *@
            <img class="SpaceshipBanner lazy" id="Robot-right"
                data-src="/images/NFTindex/NFTindex_Scholar/SpaceshipBanner/03-Robot-right.webp" alt="">

            @* 04-鷹架+雲 *@
            <img class="SpaceshipBanner lazy"
                data-src="/images/NFTindex/NFTindex_Scholar/SpaceshipBanner/04-Scaffolding-Cloud.webp" alt="">

            @* 05-博士+欄杆 *@
            <img class="SpaceshipBanner lazy" id=""
                data-src="/images/NFTindex/NFTindex_Scholar/SpaceshipBanner/05-Doctor-Railing.webp" alt="">

            @* 06-機器人(只有手) *@
            <img class="SpaceshipBanner lazy" id="Robot-hand-only"
                data-src="/images/NFTindex/NFTindex_Scholar/SpaceshipBanner/06-Robot-hand-only.webp" alt="">

            @* 07-博士+機器人(無手) *@
            <img class="SpaceshipBanner lazy" data-src="/images/NFTindex/NFTindex_Scholar/SpaceshipBanner/07-Robot-nohand.webp"
                alt="">

            @* 08-前景雲 *@
            <img class="SpaceshipBanner lazy" id="Front-cloud"
                data-src="/images/NFTindex/NFTindex_Scholar/SpaceshipBanner/08-Front-cloud.webp" alt="">

        </div>


        @* 藍圖區塊 *@
        <div class="blueprint">
            <div class="blueprint-block">
                <div class="blueprint-type-block">
                    <div class="blueprint-item">
                        <div class="blueprint-type-title" data-i18n="Home_data:Scholar.type-01">Weapon Blueprint</div>
                        <div class="blueprint-type-BG">
                            <img class="item-icon lazy" id="icon-weapon"
                                data-src="/images/NFTindex/NFTindex_Scholar/item-icon-01.webp" alt="">
                            <img class="item-light lazy" data-src="/images/NFTindex/NFTindex_Scholar/item-light.webp" alt="">
                            <img class="item-blueprint lazy" data-src="/images/NFTindex/NFTindex_Scholar/item-blueprint-01.webp"
                                alt="">
                        </div>
                    </div>
                </div>

                <div class="blueprint-type-block">
                    <div class="blueprint-item">
                        <div class="blueprint-type-title" data-i18n="Home_data:Scholar.type-02">Airship Blueprint</div>
                        <div class="blueprint-type-BG" id="blueprint-type-BG-spaceship">
                            <img class="item-icon lazy" id="icon-spaceship"
                                data-src="/images/NFTindex/NFTindex_Scholar/item-icon-02.webp" alt="">
                            <img class="item-light lazy"  id="item-light-blue" data-src="/images/NFTindex/NFTindex_Scholar/item-light-02.webp" alt="">
                            <img class="item-blueprint lazy" id="item-blueprint-02" data-src="/images/NFTindex/NFTindex_Scholar/item-blueprint-02.webp"
                                alt="">
                        </div>
                    </div>
                </div>


                @* <div class="blueprint-type-block">
                    <div class="blueprint-item">
                        <div class="blueprint-type-title" data-i18n="Home_data:Scholar.type-02">Airship Blueprint</div>
                        <div class="blueprint-type-BG">
                            <img class="item-icon" id="icon-spaceship-02"
                                src="/images/NFTindex/NFTindex_Scholar/item-icon-02-1.webp" alt="">
                            <img class="item-light" src="/images/NFTindex/NFTindex_Scholar/item-light.webp" alt="">
                            <img class="item-blueprint" src="/images/NFTindex/NFTindex_Scholar/item-blueprint-02-1.webp"
                                alt="">
                        </div>
                    </div>
                </div> *@

                <div class="blueprint-type-block">
                    <div class="blueprint-item">
                        <div class="blueprint-type-title" data-i18n="Home_data:Scholar.type-03">Item Blueprint</div>
                        <div class="blueprint-type-BG">
                            <img class="item-icon lazy" id="icon-props"
                                data-src="/images/NFTindex/NFTindex_Scholar/item-icon-03.webp" alt="">
                            <img class="item-light lazy" data-src="/images/NFTindex/NFTindex_Scholar/item-light.webp" alt="">
                            <img class="item-blueprint lazy" data-src="/images/NFTindex/NFTindex_Scholar/item-blueprint-03.webp"
                                alt="">
                        </div>
                    </div>
                </div>

            </div>

            <div class="blueprint-button-block">
                <a href="MarketPlace">
                    <button class="blueprint-button" data-i18n="Home_data:Scholar.button">PPS Blueprint NFTs</button>
                </a>
            </div>
        </div>
    </div>


</div>