@inject IJSRuntime JS

<div class="Rules">
    <h2 id="Rules">- <span data-i18n="Asian_data:main.Rules" >Rules</span>  -</h2>
    <div id="ACLS3RulesCarousel" class="Rules-owl-Container">
        <div  class="owl-carousel owl-theme ACLS3RulesCarousel" >
            <div class="item" style="margin:0;" >
                <div class="Typewriter Typewriter-small">
                     <p  data-i18n="Asian_data:Rules.small_first.sub_1">1.Solo Battle Group :</p>
                     <div class="Typewriter-blank"></div>
                     <p  data-i18n="Asian_data:Rules.small_first.sub_2">(1)You will need to climb the ladder rank. </p>
                     <p  data-i18n="Asian_data:Rules.small_first.sub_3">Players will earn 20 tickets each cycle(two days a cycle),</p>
                     <p  data-i18n="Asian_data:Rules.small_first.sub_4">joining a battle will consume one ticket.</p>
                     <p  data-i18n="Asian_data:Rules.small_first.sub_5"> Every victory will give you one point, </p>
                     <p  data-i18n="Asian_data:Rules.small_first.sub_6"> you won't be getting or losing any point if you lose a game.</p>
                     <p  data-i18n="Asian_data:Rules.small_first.sub_7"> The top eight players will have permission for the finals.</p>
                     <p  data-i18n="Asian_data:Rules.small_first.sub_8">(Players must have over 10 points for attending the finals.)</p>
                </div>

                <div class="Typewriter Typewriter-big">
                     <p data-i18n="Asian_data:Rules.big_first.sub_1">1.Solo Battle Group :</p>
                     <div class="Typewriter-blank"></div>
                     <p data-i18n="Asian_data:Rules.big_first.sub_2">(1)You will need to climb the ladder rank.Players will earn 20 tickets each cycle(two days a cycle), </p>          
                     <p data-i18n="Asian_data:Rules.big_first.sub_3">joining a battle will consume one ticket.Every victory will give you one point,</p>                   
                     <p data-i18n="Asian_data:Rules.big_first.sub_4">you won't be getting or losing any point if you lose a game.</p>
                     <p data-i18n="Asian_data:Rules.big_first.sub_5"> The top eight players will have permission for the finals.</p>
                     <p data-i18n="Asian_data:Rules.big_first.sub_6">(Players must have over 10 points for attending the finals.)</p>
                </div>
    
                 <img class="Rule_Icon" src="./images/AsiaChampionsLeague/S3/Rule/Rule_Icon.webp" />
            </div>
            <div class="item  " >
               <div class="Typewriter Typewriter-small">
                  <p  data-i18n="Asian_data:Rules.small_second.sub_1">2. Squad Battle Group:</p>
                  <div class="Typewriter-blank"></div>              
                  <p  data-i18n="Asian_data:Rules.small_second.sub_2">(1)Players can team up from one to five.</p>          
                  <p   data-i18n="Asian_data:Rules.small_second.sub_3"> Captain can invite or dismiss any member.</p>
                  <div class="Typewriter-blank"></div>                 
                  <p  data-i18n="Asian_data:Rules.small_second.sub_4">(2)You will need to climb the ladder rank. </p>
                  <p  data-i18n="Asian_data:Rules.small_second.sub_5">Six days will be a cycle.The first five </p>
                  <p  data-i18n="Asian_data:Rules.small_second.sub_6">days will be rank matches,the sixth day is the final match,</p>
                  <p  data-i18n="Asian_data:Rules.small_second.sub_7">every cycle the leader will </p>
                  <p  data-i18n="Asian_data:Rules.small_second.sub_8">get 100 tickets and can distribute them to all the members. </p>                
                  <p  data-i18n="Asian_data:Rules.small_second.sub_9">Each team member can earn their</p>
                  <p  data-i18n="Asian_data:Rules.small_second.sub_10"> own score,be automatically added to the team points.  </p>
                  <p  data-i18n="Asian_data:Rules.small_second.sub_11">Joining a battle will all the wins will</p>
                  <p  data-i18n="Asian_data:Rules.small_second.sub_12">consume one ticket.Every victory will give you one point,</p>
                  <p  data-i18n="Asian_data:Rules.small_second.sub_13">you won't be getting or losing any point if you lose a game.</p>                
                  <div class="Typewriter-blank"></div>
                  <p  data-i18n="Asian_data:Rules.small_second.sub_14">(3)During the final match, each team can have four players, </p>             
                  <p  data-i18n="Asian_data:Rules.small_second.sub_15">there must be at least one player attending the game to </p> 
                  <p  data-i18n="Asian_data:Rules.small_second.sub_16"> be recognized as a valid match.</p>  
                  <div class="Typewriter-blank"></div>
                  <p  data-i18n="Asian_data:Rules.small_second.sub_17">(4)If teams are out of tickets, there'll be more </p>
                  <p  data-i18n="Asian_data:Rules.small_second.sub_18">tickets  in the store. The leaders are allowed to</p>
                  <p  data-i18n="Asian_data:Rules.small_second.sub_19"> buy 25 tickets each cycle (6 days).</p>
               </div>
               <div class="Typewriter Typewriter-big">
                  <p data-i18n="Asian_data:Rules.big_second.sub_1">2. Squad Battle Group:</p>
                  <div class="Typewriter-blank"></div>              
                  <p data-i18n="Asian_data:Rules.big_second.sub_2" >(1)Players can team up from one to five.Captain can invite or dismiss any member.</p>          
               
                  <div class="Typewriter-blank"></div>                 
                  <p data-i18n="Asian_data:Rules.big_second.sub_3">(2)You will need to climb the ladder rank.Six days will be a cycle.The first five  </p>   
                  <p data-i18n="Asian_data:Rules.big_second.sub_4" >days will be rank matches,the sixth day is the final match,every cycle the leader will</p>           
                  <p data-i18n="Asian_data:Rules.big_second.sub_5">get 100 tickets and can distribute them to all the members.Each team member can earn their </p>               
                  <p data-i18n="Asian_data:Rules.big_second.sub_6">own score,be automatically added to the team points.Joining a battle will all the wins will</p>            
                  <p data-i18n="Asian_data:Rules.big_second.sub_7">consume one ticket.Every victory will give you one point,</p>
                  <p data-i18n="Asian_data:Rules.big_second.sub_8">you won't be getting or losing any point if you lose a game.</p>                
                  <div class="Typewriter-blank"></div>
                  <p data-i18n="Asian_data:Rules.big_second.sub_9">(3)During the final match, each team can have four players, </p>             
                  <p data-i18n="Asian_data:Rules.big_second.sub_10" >there must be at least one player attending the game to be recognized as a valid match. </p>         
                  <div class="Typewriter-blank"></div>
                  <p data-i18n="Asian_data:Rules.big_second.sub_11">(4)If teams are out of tickets, there'll be more tickets  in the store. The leaders are allowed</p>             
                  <p data-i18n="Asian_data:Rules.big_second.sub_12"> to buy 25 tickets each cycle (6 days).</p>
               </div>           
       
               <img class="Rule_Team" src="./images/AsiaChampionsLeague/S3/Rule/Rule_Team icon.webp" />
             </div>
         
            <div class="item ">
                <div class="Typewriter Typewriter-small">
                    <p data-i18n="Asian_data:Rules.small_third.sub_1">3. Final</p>
                    <div class="Typewriter-blank"></div>
                    <p data-i18n="Asian_data:Rules.small_third.sub_2">Please enter the waiting room 5 mins before the Final begins. </p>                
                    <p data-i18n="Asian_data:Rules.small_third.sub_3">There will be Three rounds in the Final:</p>
                    <p data-i18n="Asian_data:Rules.small_third.sub_4">·The first round will select Final Four players.</p>
                    <p data-i18n="Asian_data:Rules.small_third.sub_5">·The second round will select the final three players.</p>
                    <p data-i18n="Asian_data:Rules.small_third.sub_6">·The last round will decide First, second, third place player.</p>
                </div>
                <div class="Typewriter Typewriter-big">
                    <p data-i18n="Asian_data:Rules.big_third.sub_1">3. Final</p>
                    <div class="Typewriter-blank"></div>
                    <p data-i18n="Asian_data:Rules.big_third.sub_2">Please enter the waiting room 5 mins before the Final begins.There will be Three rounds in the Final: </p>                
                    <p data-i18n="Asian_data:Rules.big_third.sub_3">·The first round will select Final Four players.</p>
                    <p data-i18n="Asian_data:Rules.big_third.sub_4">·The second round will select the final three players.</p>
                    <p data-i18n="Asian_data:Rules.big_third.sub_5">·The last round will decide First, second, third place player.</p>
                </div>
         </div>
              
        </div>
    </div>
    
</div>


@code {
    private IJSObjectReference? TypewriterJS;   

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {      
           TypewriterJS = await JS.InvokeAsync<IJSObjectReference>("import","./JavaScript/ACLIndex/Typewriter.js");
           await TypewriterJS.InvokeVoidAsync("TypeWriter");                  
        
        }
     }
}

