<div class="Event-Info" >
   
        <h2 id="EventInfo">- Event Info -</h2>
        <p class="EventInfo-subtitle"> Sign up now and get 10% SRC of the sign up fee!</p>

        <div class="ticket"> 
             <div class="ticket-container ticketComputer">
                <img class="ticket-star star-1" data-src="/images/AsiaChampionsLeague/S3/More Info/star.webp" />
                <img class="ticket-star star-2"  data-src="/images/AsiaChampionsLeague/S3/More Info/star.webp" />
                <img class="ticket-star star-3" data-src="/images/AsiaChampionsLeague/S3/More Info/star.webp" />
                <img class="ticket-star star-4" data-src="/images/AsiaChampionsLeague/S3/More Info/star.webp" />
                <img class="ticket-star star-5" data-src="/images/AsiaChampionsLeague/S3/More Info/star.webp" />
                <div  class="ticket-img full_Tickeet"> 
                    <p class="register-time full-fontColor">2022/10/00~2022/11/11</p>
                    <p class="from-date full-fontColor">From 06.27-10.27</p>
                    <img class="SRC-logo" data-src="/images/MarketPlace/SRC.webp"/>
                </div>
                <div  class="ticket-img Mid_Tickeet">
                    <p class="register-time Mid-fontColor">2022/10/00~2022/11/11</p>
                    <p class="from-date Mid-fontColor">From 06.27-10.27</p>
                    <img class="SRC-logo" data-src="/images/MarketPlace/SRC.webp"/>                
                </div>
                <div  class="ticket-img Late_Tickeet">
                    <p class="register-time Late-fontColor">2022/10/00~2022/11/11</p>
                    <p class="from-date Late-fontColor">From 06.27-10.27</p>
                    <img class="SRC-logo" data-src="/images/MarketPlace/SRC.webp"/>                
                </div>
      @*          <img class="ticket-img" data-src="/images/AsiaChampionsLeague/S3/More Info/Full season ticket/Tickeet full season _ whole.png" />
                <img class="ticket-img" data-src="/images/AsiaChampionsLeague/S3/More Info/Mid season ticket/Mid Season_ Whloe.png" />
                <img class="ticket-img" data-src="/images/AsiaChampionsLeague/S3/More Info/Late season ticket/Late_Season_ Whloe.png" />    *@
             </div>

              <div class="ticket-container ticketMobile">
                <img class="ticket-star star-6" data-src="/images/AsiaChampionsLeague/S3/More Info/star.webp" />
                <img class="ticket-star star-7" data-src="/images/AsiaChampionsLeague/S3/More Info/star.webp" />
                <img class="ticket-star star-8" data-src="/images/AsiaChampionsLeague/S3/More Info/star.webp" />
                <img class="ticket-star star-9" data-src="/images/AsiaChampionsLeague/S3/More Info/star.webp" />
                <img class="ticket-star star-10" data-src="/images/AsiaChampionsLeague/S3/More Info/star.webp" />
                <img class="ticket-MobileImg" data-src="/images/AsiaChampionsLeague/S3/More Info/Mobile_full season_ticket.png" />
                <img class="ticket-MobileImg" data-src="/images/AsiaChampionsLeague/S3/More Info/Mobile_late _ticket.png" />
                <img class="ticket-MobileImg" data-src="/images/AsiaChampionsLeague/S3/More Info/Mobile_Mid_ticket.png" />   

              </div>

        </div>
         <div class="button-container ticket-button-1">
            <button><a href="marketplace" ></a></button>
         </div>

        <div class="poster">
            <div class="poster-container"> 
              <img data-src="/images/AsiaChampionsLeague/S3/More Info/Solo and Squad/More info_ Solo-1.webp"/>
              <div class="poster-shine"></div>
            </div>
            <div class="poster-container"> 
                <img data-src="/images/AsiaChampionsLeague/S3/More Info/Solo and Squad/More info_ Squad-1.webp"/>
                <div class="poster-shine"></div>
            </div>
        </div>
        <div class="button-container ticket-button-2">
             <button><a href="marketplace" ></a></button>
         </div>
       
 
</div>
@code {

}
