@inject IJSRuntime JS

<div class="BannerBlockTitle">
    <p   data-i18n="Asian_data:main.title">ASIA CHAMPIONS LEAGUE </p>
    <p >2022</p>
     <div class="BannerBlockNavLogo" >
        <img  alt=""  data-i18n="[src]Asian_data:main.LogoImg" src="/images/AsiaChampionsLeague/S3/Header/logoS3.webp" >
    </div>
</div>
@code {
        protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {           
            await JS.InvokeVoidAsync("installI18n");
        }
    }
}
