<div class="BannerBlockTitle">
    <p data-aos="zoom-in-down" data-aos-duration="800">ASIA CHAMPIONS LEAGUE </p>
    <p data-aos="flip-left" data-aos-duration="1000" data-aos-delay="500">2022</p>
     <div class="BannerBlockNavLogo" data-aos="fade-down" data-aos-duration="800" data-aos-delay="800">
        <img data-src="/images/AsiaChampionsLeague/S3/Header/logo_亞洲聯賽S3.webp" alt="">
    </div>
</div>
@code {

}
