@inject IJSRuntime JS

<div class="BannerBlockNav">

    @* 亞洲聯賽 賽季選單 *@
    <div class="NavBlockSelect">
        <select name="" id="ACLSeasonNav">
            <option style="display: none;" disable  data-i18n="Asian_data:main.ACLSeason">ACL Season</option>
            <optgroup label="- 2022 -">
                <option value="ACLIndexS3">ACL S3</option>
            </optgroup>
            <optgroup label="- 2022 -">
                <option value="ACLIndexS2">ACL S2</option>
            </optgroup>
            <optgroup label="- 2021 -">
                <option value="ACLIndex/index">ACL S1</option>
            </optgroup>
        </select>
    </div>


    <div class="BannerBlockNavList">
        <div class="NavListAnchor">
            <a href="ACLIndexS3#EventInfo"  data-i18n="Asian_data:main.EventInfo">Event Info</a>
            <div class="shine"></div>
        </div>
        <div class="NavListAnchor">
            <a href="ACLIndexS3#Rules"  data-i18n="Asian_data:main.Rules">Rules</a>
            <div class="shine"></div>
        </div>
        <div class="NavListAnchor">
            <a href="ACLIndexS3#Reward"  data-i18n="Asian_data:main.Reward">Reward</a>
            <div class="shine"></div>
        </div>
        <div class="NavListAnchor">
            <a href="ACLIndexS3#Ranking"  data-i18n="Asian_data:main.Ranking">Ranking</a>
            <div class="shine"></div>
        </div>
        <div class="NavListAnchor">
            <a href="ACLIndexS3#Schedule" data-i18n="Asian_data:main.Schedule">Schedule</a>
            <div class="shine"></div>
        </div>
         <div class="NavListAnchor">
            <a href="ACLIndexS3#Notice"  data-i18n="Asian_data:main.Notice">Notice</a>
            <div class="shine"></div>
        </div>
    </div>
</div>

@code {
            protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {           
            await JS.InvokeVoidAsync("installI18n");
        }
    }
}
