@inject IJSRuntime JS

<div class="Rules">
    <h2 id="Rules">- Rules -</h2>
    <div id="ACLS3RulesCarousel" class="Rules-owl-Container">
        <div  class="owl-carousel owl-theme ACLS3RulesCarousel" >
            <div class="item" style="margin:0;" >
                <div class="Typewriter Typewriter-small">
                     <p>1.Solo Battle Group :</p>
                     <div class="Typewriter-blank"></div>
                     <p>(1)You will need to climb the ladder rank. </p>
                     <p>Players will earn 20 tickets each cycle(two days a cycle),</p>
                     <p>joining a battle will consume one ticket.</p>
                     <p > Every victory will give you one point, </p>
                     <p>you won't be getting or losing any point if you lose a game.</p>
                     <p > The top eight players will have permission for the finals.</p>
                     <p >(Players must have over 10 points for attending the finals.)</p>
                </div>

                <div class="Typewriter Typewriter-big">
                     <p>1.Solo Battle Group :</p>
                     <div class="Typewriter-blank"></div>
                     <p>(1)You will need to climb the ladder rank.Players will earn 20 tickets each cycle(two days a cycle), </p>          
                     <p>joining a battle will consume one ticket.Every victory will give you one point,</p>                   
                     <p>you won't be getting or losing any point if you lose a game.</p>
                     <p > The top eight players will have permission for the finals.</p>
                     <p >(Players must have over 10 points for attending the finals.)</p>
                </div>
    
                 <img class="Rule_Icon" data-src="./images/AsiaChampionsLeague/S3/Rule/Rule_Icon.webp" />
            </div>
            <div class="item  " >
               <div class="Typewriter Typewriter-small">
                  <p >2. Squad Battle Group:</p>
                  <div class="Typewriter-blank"></div>              
                  <p >(1)Players can team up from one to five.</p>          
                  <p> Captain can invite or dismiss any member.</p>
                  <div class="Typewriter-blank"></div>                 
                  <p >(2)You will need to climb the ladder rank. </p>
                  <p>Six days will be a cycle.The first five </p>
                  <p >days will be rank matches,the sixth day is the final match,</p>
                  <p>every cycle the leader will </p>
                  <p >get 100 tickets and can distribute them to all the members. </p>                
                  <p>Each team member can earn their</p>
                  <p > own score,be automatically added to the team points.  </p>
                  <p>Joining a battle will all the wins will</p>
                  <p>consume one ticket.Every victory will give you one point,</p>
                  <p>you won't be getting or losing any point if you lose a game.</p>                
                  <div class="Typewriter-blank"></div>
                  <p>(3)During the final match, each team can have four players, </p>             
                  <p >there must be at least one player attending the game to </p> 
                  <p > be recognized as a valid match.</p>  
                  <div class="Typewriter-blank"></div>
                  <p>(4)If teams are out of tickets, there'll be more </p>
                  <p>tickets  in the store. The leaders are allowed to</p>
                  <p> buy 25 tickets each cycle (6 days).</p>
               </div>
               <div class="Typewriter Typewriter-big">
                  <p >2. Squad Battle Group:</p>
                  <div class="Typewriter-blank"></div>              
                  <p >(1)Players can team up from one to five.Captain can invite or dismiss any member.</p>          
               
                  <div class="Typewriter-blank"></div>                 
                  <p >(2)You will need to climb the ladder rank.Six days will be a cycle.The first five  </p>   
                  <p >days will be rank matches,the sixth day is the final match,every cycle the leader will</p>           
                  <p >get 100 tickets and can distribute them to all the members.Each team member can earn their </p>               
                  <p >own score,be automatically added to the team points.Joining a battle will all the wins will</p>            
                  <p>consume one ticket.Every victory will give you one point,</p>
                  <p>you won't be getting or losing any point if you lose a game.</p>                
                  <div class="Typewriter-blank"></div>
                  <p>(3)During the final match, each team can have four players, </p>             
                  <p >there must be at least one player attending the game to be recognized as a valid match. </p>         
                  <div class="Typewriter-blank"></div>
                  <p>(4)If teams are out of tickets, there'll be more tickets  in the store. The leaders are allowed</p>             
                  <p> to buy 25 tickets each cycle (6 days).</p>
               </div>           
       
               <img class="Rule_Team" data-src="./images/AsiaChampionsLeague/S3/Rule/Rule_Team icon.webp" />
             </div>
         
            <div class="item ">
                <div class="Typewriter Typewriter-small">
                    <p>3. Final</p>
                    <div class="Typewriter-blank"></div>
                    <p>Please enter the waiting room 5 mins before the Final begins. </p>                
                    <p>There will be Three rounds in the Final:</p>
                    <p>·The first round will select Final Four players.</p>
                    <p>·The second round will select the final three players.</p>
                    <p>·The last round will decide First, second, third place player.</p>
                </div>
                <div class="Typewriter Typewriter-big">
                    <p>3. Final</p>
                    <div class="Typewriter-blank"></div>
                    <p>Please enter the waiting room 5 mins before the Final begins.There will be Three rounds in the Final: </p>                
                    <p>·The first round will select Final Four players.</p>
                    <p>·The second round will select the final three players.</p>
                    <p>·The last round will decide First, second, third place player.</p>
                </div>
         </div>
              
        </div>
    </div>
    
</div>


@code {
    private IJSObjectReference? TypewriterJS;   

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {      
           TypewriterJS = await JS.InvokeAsync<IJSObjectReference>("import","./JavaScript/ACLIndex/Typewriter.js");
           await TypewriterJS.InvokeVoidAsync("TypeWriter");                  
        
        }
     }
}

