/*...Notice...*/
.Notice {
    background: url("/images/AsiaChampionsLeague/S3/Notice/NY_02c.png");
    background-repeat: round;
    padding-top: 500px;
    height: 1900px;
}

.Notice-BG {
    background: url("/images/AsiaChampionsLeague/S3/Notice/contract_base2.png");
    background-repeat: round;
    width: 979px;
    height: 1131px;
    margin: 0 auto;
    padding-top: 30px;
}

.Notice_TopTitle {
    margin: 36px 0 15px 0;
    font-family: Microsoft JhengHei;
    font-size: 34px;
    color: #3a3048;
    text-align: center;
    text-decoration: underline;
    text-decoration-thickness: 2.5px;
    text-underline-offset: 8px;
}

.Notice-Container {
    width: 84%;
    height:65%;
    background: none;
    border-radius: 27px;
    padding: 10px 20px 10px 20px;
    margin: 0 auto;
    font-family: Microsoft JhengHei;
    text-align: center;
}


@media (max-width: 1500px) {
    .Notice {
        background-repeat:no-repeat;
    }
    .Notice-BG {
        width: 764px;
        height: 882px;
    }

}
@media (max-width: 1024px) {
    .Notice_TopTitle {
        font-size: 30px;
        margin: 30px 0 30px 0;
    }
    .Notice {
        height: 1400px;
    }
    .Notice-BG {
        width: 624px;
        height: 720px;
    }
}
@media (max-width: 768px) {
    .Notice {
        height: 1200px;
        padding-top:400px;
    }
    .Notice_TopTitle {
        font-size: 26px;
    }
    .Notice-BG {
        width: 514px;
        height: 617px;
    }

    .Notice-Container {   
        height:60%;
    }
}

@media (max-width: 576px) {
    .Notice_TopTitle {
        font-size: 22px;
        margin: 15px 0 15px 0;
    }
    .Notice-BG {
        width: 385px;
        height: 500px;
    }

    .Notice-Container {
        width: 87%;
    }
}
.Notice-content {
    width: 100%;
    height: 100%;
    background:none;
    overflow-y: auto;
    overflow-x: hidden;
    display:flex;
    justify-content:space-between;
    padding-left:5%;

}

.Notice-content-left {
    width: 95%;
    text-align: left;
}
.Notice-content-right {
    width: 5%
}

.Notice-content h2 {
}



.Notice-content::-webkit-scrollbar {
    width: 15px !important;
    
    -webkit-box-shadow: none !important;
    border: 0 !important;
    background: #998559 !important;
}

.Notice-content::-webkit-scrollbar-thumb {
    background: #5c5139 !important;
    background-repeat: round !important;
    width: 15px !important;
}

@media (max-width: 768px) {
    .Notice-content::-webkit-scrollbar {
        width: 10px !important;

    }

    .Notice-content::-webkit-scrollbar-thumb {
        width: 10px !important;
    }
}


.notice_title {
    font-size: 22px;
    color: #605138 !important;
    margin: 10px 0 10px !important;
    text-align: center;
    line-height: 36px;
}


.txt_title {
    color: #605138 !important;
    font-size: 20px;
    margin: 40px 0 10px 0;
}
#event_rules{
    font-size: 14px;
    line-height: 20px;
    opacity: 0.7;
}
.event_note {
    font-size: 12px;

}

.event_txt {
    font-size: 20px;
    margin: 20px 0 0px;
    padding: 0 10px;
    /* text-indent: -1em;  */
    /* margin-left: 2em;   */
    color: #605138 !important;
}

.title_border {
  /*  width: 90%;
    border: 1px solid #dee3e6 !important;
    height: 1px;*/
}

.event_txt02 {
    font-size: 18px;
    margin: 10px 0 0px;
    padding: 0 15px 0 40px;
    text-indent: -1em;
    line-height: 30px;
    color: #605138 !important;
}


.event_txt03 {
    font-size: 18px;
    padding: 0 30px;
    margin-left: 2em;
    text-indent: -1em;
    line-height: 30px;
    color: #605138 !important;
}

.event_txt04 {
    font-size: 18px;
    padding: 0 30px;
    margin-left: 3em;
    text-indent: -1em;
    color: #605138 !important;
}

.event_txt05 {
    font-size: 18px;
    padding: 0 30px;
    margin-left: 4em;
    text-indent: -1em;
    color: #605138 !important;
}


@media (max-width: 1500px) {
    .notice_title {
        font-size: 16px;
    }

    .event_txt {
        font-size: 16px;
    }

    .event_txt02 {
        font-size: 16px;
        line-height: 26px;
    }


    .event_txt03 {
        font-size: 16px;
    }

    .event_txt04 {
        font-size: 16px;
    }

    .event_txt05 {
        font-size: 16px;
    }


    .event_note {
        font-size: 16px;
        text-align: start;
    }

    .txt_title {
        font-size: 16px;
    }
}

@media (max-width: 1024px) {
    .notice_title {
        font-size: 14px;
    }

    .event_txt {
        font-size: 14px;
    }

    .event_txt02 {
        font-size: 14px;
        line-height: 20px;
    }


    .event_txt03 {
        font-size: 14px;
    }

    .event_txt04 {
        font-size: 14px;
    }

    .event_txt05 {
        font-size: 14px;
    }


    .event_note {
        font-size: 14px;
    }

    .txt_title {
        font-size: 14px;
    }
}

@media (max-width: 576px) {
    .notice_title {
        font-size: 16px;
        line-height: 22px;
    }
    #event_rules{
        font-size: 10px;
        line-height: 16px;
    }
    .event_txt {
        font-size: 12px;
   
    }

    .event_txt02 {
        font-size: 12px;
        line-height: 20px;
    }

    .txt_title {
        font-size: 12px;
    }

    .event_txt04 {
        font-size: 12px;
    }

    .event_txt05 {
        font-size: 12px;
    }

    .event_txt03 {
        font-size: 12px;
    }

    .event_note {
        text-align: start;
        padding: 0 10px 0 15px;
        line-height: 23px;
    }
}





.Notice-Container .tg {
    border-collapse: collapse;
    border-spacing: 0;
    margin: 20px auto;
    color: #605138 !important;
}

.Notice-Container .tg td {
    border-style: solid;
    border-width: 1px;
    font-family: Arial, sans-serif;
    font-size: 16px;
    overflow: hidden;
    padding: 10px 5px;
    word-break: normal;
}

.Notice-Container table {
    margin: 20px 0px 50px;
    width: 70%;
}

.Notice-Container table, .Notice-Container tr, .Notice-Container th, .Notice-Container td {
    border: 1px solid #c6af7d;
    text-align: center;
    font-size: 18px;
    padding: 2px 4px;
}

@media all and (max-width: 1500px) {
    .Notice-Container .tg td {
        font-size: 16px;
    }

    .Notice-Container table, .Notice-Container tr, .Notice-Container th, .Notice-Container td {
        font-size: 16px;
    }
}

@media all and (max-width: 768px) {
    .Notice-Container .tg td {
        font-size: 14px;
    }

    .Notice-Container table, .Notice-Container tr, .Notice-Container th, .Notice-Container td {
        font-size: 14px;
    }
}

@media all and (max-width: 576px) {
    .Notice-Container .tg td {
        font-size: 10px;
    }

    .Notice-Container table, .Notice-Container tr, .Notice-Container th, .Notice-Container td {
        font-size: 10px;
    }
}

.Notice-Container td {
    width: 20%;
}


