@page "/myprofile/{router}"
@using SnakeAsianLeague.Pages.Myprofile.Components

<head>
    <link href="css/MyProfile/Myprofile.css" rel="stylesheet" /> 
    <title>PonPonSnake 碰碰蛇｜MyPage Account</title>
</head>


<AuthorizeView>
    <Authorized>
 
        <MyprofileSidebar /> 
        @switch (router)
        {
            case "index":
                <MyProfile_Index />
                break;
            case "mymatch":
                <MyProfile_MyMatch />
                break;
            case "myawardnotice":
                 <MyProfile_MyAwardNotice/>
                break;      
            case "inventory":
                 <CascadingValue Value="true">
                    <Inventory />
                 </CascadingValue>
                break;      
            case "swapsrc":        
                 <MyProfile_Swap Value=true/> 
                break;     
            case "srcgift":        
                 <MyProfile_SRCgift /> 
                break;     
        }

    </Authorized>
    <NotAuthorized>
        @* <div class="myprofileLogin">
            <h1>Please Login First</h1>
        </div> *@
        <MyprofileSidebar /> 
        @switch (router)
        {
            case "index":
                <MyProfile_Index />
                break;
            case "mymatch":
                <MyProfile_MyMatch />
                break;
            case "myawardnotice":
                 <MyProfile_MyAwardNotice/>
                break;      
            case "inventory":
                <CascadingValue Value="false">
                    <Inventory />
                 </CascadingValue>
                break;  
           case "swapsrc":
                 <MyProfile_Swap Value=false/>
                break;    
        }
    </NotAuthorized>
</AuthorizeView>

@code {
    [Parameter]
    public string router { get; set; } = "index";
}
