@page "/myprofile/{router}"
@using SnakeAsianLeague.Data.Services
@using SnakeAsianLeague.Pages.Myprofile.Components
@using SnakeAsianLeague.Pages.Myprofile.Components.Shared_Components
@inject AppState AppState
@inject IJSRuntime JS
@using System.Threading;
<head>
    <link href="css/MyProfile/Myprofile.css" rel="stylesheet" /> 
    <link href="css/NFTFilter.css" rel="stylesheet" />
    <title>PonPonSnake 碰碰蛇｜MyPage Account</title>
</head>


<AuthorizeView>
    <Authorized>
 
        <MyprofileSidebar /> 
        @switch (router)
        {
            case "index":
                <MyProfile_Index />
                break;
            case "mymatch":
                <MyProfile_MyMatch />
                break;
            case "myawardnotice":
                 <MyProfile_MyAwardNotice/>
                break;      
            case "inventory":              
                     <GettingStartMetaMask>
                        <Inventory />
                     </GettingStartMetaMask> 
                break;      
            case "swapsrc":    
                    <GettingStartMetaMask>
                         <MyProfile_Swap /> 
                    </GettingStartMetaMask>  
                break;     
            case "srcgift":       
                    <GettingStartMetaMask>
                        <MyProfile_SRCgift /> 
                    </GettingStartMetaMask>
                break;     
            case "referralCode":
                    <MyProfile_referralCode/>
                break;
        }

    </Authorized>
    <NotAuthorized>
        @* <div class="myprofileLogin">
            <h1>Please Login First</h1>
        </div> *@
        <MyprofileSidebar /> 
        @switch (router)
        {
            case "index":
                <MyProfile_Index />
                break;
            case "mymatch":
                <MyProfile_MyMatch />
                break;
            case "myawardnotice":
                 <MyProfile_MyAwardNotice/>
                break;      
            case "inventory":              
                    <Inventory />         
                break;  
           case "swapsrc":
                 <MyProfile_Swap />
                 break;
            case "srcgift":             
                    <MyProfile_SRCgift />                   
                break;    
        }
    </NotAuthorized>
</AuthorizeView>

@code {
    [Parameter]
    public string router { get; set; } = "index";

    protected override async Task OnInitializedAsync()
    {
        //AppState.langChanged += async (value)
        //=> await InvokeAsync(StateHasChanged);
        Thread.Sleep(1000);
    }
        protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {         
            await JS.InvokeVoidAsync("installI18n");
        }
    }
}
