  <div class="blockTitle" data-aos="fade-left" data-aos-delay="300">
        <img src="/images/Index/title_bg.png" alt="" class="title_bg">
        <div class="title_BG">
            <p>騎士<br>榜單</p>
        </div>
    </div>

@code {

}
