 @inject IJSRuntime JS
 
<div class="page-links">
        <div class="link-row">
            <ul>
                <li>
                    PonPonSnake
                </li>
                 <li>
                   <a href="/"> Home</a>
                </li>
                  <li>
                   <a href="/GameFi"> GameFi</a>
                </li>
                 <li>
                   <a href="/MarketPlace"> Marketplace</a>
                </li>
                <li>
                    <a href="/ACLIndexS2"> Arena</a>
                </li>
                 <li>
                    <a href="/https://ponponsnake.substack.com"> News</a>
                </li>
            </ul>
        </div>
         <div class="link-row">
            <ul>
                <li>
                    NFTs
                </li>
                 <li>
                   <a href="/"> ERNC</a>
                </li>
                  <li>
                   <a href="/"> WhitePaper</a>
                </li>           
            </ul>
        </div>
          <div class="link-row">
            <ul>
                <li>
                    Contact
                </li>
                 <li @onclick ="FooterContactShow">
                    Contact Us
                </li>
                  <li>
                   <a href="https://www.104.com.tw/company/1a2x6bk34m"> Join Us</a>
                </li>     
                <li>
                   <a href="https://www.cqigames.com/"> Our Team</a>
                </li>     
            </ul>
        </div>
        
    </div>
@code {
   private IJSObjectReference? footerContactJS;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            footerContactJS = await JS.InvokeAsync<IJSObjectReference>("import", "./JavaScript/WebFooter/FooterContact.js");
               
        }
    }


    private async Task FooterContactShow()
    {
        if (footerContactJS!=null)
        {
            await footerContactJS.InvokeVoidAsync("FooterContactShow");
        }
       
    }
}