<div class="CQI-Game">
        <div class="CQI-Title">
            CQI Games
        </div>
        <div class="CQI-Icons">
            <a class="Icon-FB"  href="https://www.facebook.com/PonponSnake" ></a>
            <a class="Icon-YT" href="https://www.youtube.com/channel/UCknaYifA1xhXBqBO3KulIUw" />
            <a class="Icon-Twitch" href="https://www.twitch.tv/ponponsnake" />
            <a class="Icon-Discord" href="https://discord.gg/cDHbRJGd" />

        </div>
    </div>
@code {

}
