@* <div class="CQI-Game">
        <div class="CQI-Title">
            CQI Games
        </div>
        <div class="CQI-Icons">
            <a class="Icon-FB"  href="https://www.facebook.com/PonponSnake" ></a>
            <a class="Icon-YT" href="https://www.youtube.com/channel/UCknaYifA1xhXBqBO3KulIUw" />
            <a class="Icon-Twitch" href="https://www.twitch.tv/ponponsnake" />
            <a class="Icon-Discord" href="https://discord.gg/cDHbRJGd" />
        </div>
 </div> *@

 <div class="CQI-Game-update">
        <div class="CQI-Title-update">
            CQI Games
        </div>
        <div class="CQI-Icons-all-update">
            <a class="CQI-Icons-update" href="https://www.facebook.com/PonponSnake" target="_blank" title="facebook">
                <img src="/images/Footer/icon-FB.png" data-src="/images/Footer/icon-FB.png" alt="">
            </a>
            <a class="CQI-Icons-update" href="https://www.youtube.com/channel/UCknaYifA1xhXBqBO3KulIUw" target="_blank" title="youtube">
                <img src="/images/Footer/icon-YouTubeIcon.png" data-src="/images/Footer/icon-YouTubeIcon.png" alt="">
            </a>
            <a class="CQI-Icons-update" href="https://www.twitch.tv/ponponsnake" target="_blank" title="twitch">
                <img src="/images/Footer/icon-Twitch.png" data-src="/images/Footer/icon-Twitch.png" alt="">
            </a>
            <a class="CQI-Icons-update" href="https://discord.gg/cDHbRJGd" target="_blank" title="discord">
                <img src="/images/Footer/icon-Discord.png" data-src="/images/Footer/icon-Discord.png" alt="">
            </a>
            <a class="CQI-Icons-update" href="https://twitter.com/PonPonSnake_NFT" target="_blank"title="twitter">
                <img src="/images/Footer/icon-Twitter.png" data-src="/images/Footer/icon-Twitter.png" alt="">
            </a>
        </div>
 </div>
@code {

}
