.eventBannerS3 {
    /* border: 1px solid red; */
    width: 100%;

    position: fixed;
    bottom: 0%;
    left: 0;
    z-index: 110;
    /* overflow: hidden; */
}

.eventBannerS3-BG {
    max-width: 1200px;
    width: 95%;
    height: 249px;
    margin: 60px auto 35px;
    border-radius: 58px;
    border: 4px solid #B8C9D5;
    background-image:
        linear-gradient(to top right, rgba(59, 95, 125, 0.9) 0%, rgba(59, 95, 125, 0.9) 100%),
        url(/images/AsiaChampionsLeague/S2/ACL_S2_BG_02.webp);
    background-size: cover;
    background-position: bottom right;
    
    box-shadow: 0 10px 100px 50px rgba(10, 36, 58, 0.55);
    /* box-shadow: 0 -5px 100px 10px rgba(255, 237, 176, 0.3), 0 0 60px 20px rgba(123, 217, 248, 0.6); */

    position: relative;
}
.eventBanner-link{
    /* border: 1px solid red; */
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 58px;
}

#event_banner_close {
    width: 33px;
    height: 33px;
    border-radius: 50%;
    position: absolute;
    right: -3.2%;
    top: -2%;
    z-index: 52;
    transition: all .05s ease-out;
}

#event_banner_close:hover {
    cursor: pointer;
    /* opacity: 0.8; */
    transform: scale(1.05);
}

#event_banner_close img {
    width: 100%;
}

.eventBannerS3-battleImg {
    width: 100%;
}

.battleImg {
    position: absolute;
    /* width: 30%; */
}

#banner_S3_solo {
    /* left: 1px;*/
    bottom: 0px;

    /* left: -100px;
    opacity: 0; */
    left: 1px;
    opacity: 1;
    z-index: -1;
    filter: drop-shadow(-3px -3px 5px rgba(46, 37, 37, 0.7));
    transform-origin: bottom left;

    animation: banner_S3_solo-fadein 0.6s ease-out 2s forwards,
        banner_S3_solo-shock 6s linear 3s infinite;
}

@keyframes banner_S3_solo-fadein {
    0% {
        left: -100px;
        opacity: 0;
        z-index: -1;
    }

    100% {
        left: 1px;
        opacity: 1;
        z-index: 1;
    }
}

@keyframes banner_S3_solo-shock {
    0% {
        bottom: 0px;
        left: 1px;
        transform: scale(1);
    }

    95.5% {
        bottom: 0px;
        left: 1px;
        transform: scale(1);
    }

    97% {
        transform: scale(1.03);
    }

    98.5% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.03);
    }
}

#banner_S3_group {
    /* right: 1px; */
    bottom: 0px;

    /* right: -100px;
    opacity: 0; */
    right: 1px;
    opacity: 1;
    z-index: -1;

    filter: drop-shadow(3px -3px 5px rgba(46, 37, 37, 0.7));
    transform-origin: bottom right;

    animation: banner_S3_group-fadein 0.6s ease-out 2.5s forwards,
        banner_S3_group-shock 6s linear 3.5s infinite;

}

@keyframes banner_S3_group-fadein {
    0% {
        right: -100px;
        opacity: 0;
        z-index: -1;
    }

    100% {
        right: 1px;
        opacity: 1;
        z-index: 1;
    }
}

@keyframes banner_S3_group-shock {
    0% {
        bottom: 0px;
        right: 1px;
        transform: scale(1);
    }

    95.5% {
        bottom: 0px;
        right: 1px;
        transform: scale(1);
    }

    97% {
        transform: scale(1.03);
    }

    98.5% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.03);
    }
}

.cloud-bottom {}

.cloud {
    position: absolute;
}

#cloud-01 {
    max-width: 110px;
    left: 29%;
    top: 36%;
    z-index: 0;
}

#cloud-02 {
    max-width: 90px;
    right: 29%;
    top: 22%;
    z-index: 0;
}

#cloud-03 {
    max-width: 70px;
    left: 36%;
    bottom: 18%;
}

#cloud-04 {
    max-width: 200px;
    left: 15%;
    bottom: -11%;
    z-index: 10;
}

#cloud-05 {
    max-width: 175px;
    right: 30%;
    bottom: -13%;
}

.centerImg {
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    z-index: 5;
}

#year {
    max-width: 310px;
    top: -37%;
    filter: drop-shadow(0px -5px 12px rgba(253, 212, 109, 0.2));
}

#light {
    max-width: 400px;
    opacity: 0.7;
    top: -37%;
    animation: banner-light 70s linear infinite;
}

@keyframes banner-light {
    0% {
        transform: translateX(-50%) rotate(0deg)
    }

    100% {
        transform: translateX(-50%) rotate(360deg)
    }
}


#ACL_S3_logo {
    opacity: 0;
    max-width: 170px;
    top: 14%;
    animation: ACL_S3_logo 0.8s ease-out 3s forwards;
}

@keyframes ACL_S3_logo {
    0% {
        transform: translateX(-50%) scale(0);
        opacity: 0;
    }

    100% {
        transform: translateX(-50%) scale(1);
        opacity: 1;
    }
}

#more {
    top: 78%;
    filter: drop-shadow(3px 3px 5px rgba(46, 37, 37, 0.7));
    z-index: 10;
    transition: all .05s ease-in-out;
    animation: more 6s ease-in-out 3.9s infinite;
}

@keyframes more {

    0% {
        transform: translateX(-50%);
    }

    1% {
        transform: translateX(-48.5%)
    }

    3% {
        transform: translateX(-50%);
    }

    5% {
        transform: translateX(-48.5%)
    }

    7% {
        transform: translateX(-50%);
    }

    100% {
        transform: translateX(-50%);
    }
}

#more:hover {
    animation: none;
    transition: all .05s ease-in-out;
    transform: translateX(-50%) scale(1.03);
}


@media all and (max-width: 1920px) {
    .eventBannerS3-BG {
        max-width: 799px;
        height: 165.5px;
        border-radius: 36px;
        margin: 50px auto 25px;
        /* box-shadow: 0 10px 100px 50px rgba(10, 36, 58, 0.7); */
        /* box-shadow: 0 -5px 80px 5px rgb(255 237 176 / 30%), 0 0 60px 10px rgb(123 217 248 / 50%); */
    }
    .eventBanner-link{
        border-radius: 36px;
    }
    #banner_S3_solo {
        width: 31%;
    }

    #banner_S3_group {
        width: 32.7%;
    }

    #year {
        max-width: 205px;
        top: -38%;
    }

    #ACL_S3_logo {
        max-width: 105px;
        top: 17%;
    }

    #more {
        max-width: 145px;
    }

    #light {
        max-width: 250px;
        top: -34%;
    }


    #cloud-01 {
        max-width: 70px;
        left: 29%;
        top: 45%;
    }

    #cloud-02 {
        max-width: 55px;
    }

    #cloud-03 {
        max-width: 36px;
        left: 37%;
        bottom: 18%;
    }

    #cloud-04 {
        max-width: 130px;
        bottom: -12%;
    }

    #cloud-05 {
        max-width: 103px;
        right: 31%;
    }
    #event_banner_close{
        width: 27px;
        height: 27px;
        right: -36px;
    }
}

@media all and (max-width: 900px){
    .eventBannerS3-BG {
        max-width: 370px;
        height: 84px;
        border-radius: 20px;
        border: 2px solid #B8C9D5;
        margin: 50px auto 35px;
    }
    .eventBanner-link{
        border-radius: 20px;
    }
    #banner_S3_solo {
        width: 33%;
        z-index: 10;
        /* top: 0;
        bottom: 0; */
        bottom: 3px;
    }
    
@keyframes banner_S3_solo-fadein {
    0% {
        left: -100px;
        opacity: 0;
        z-index: -1;
    }

    100% {
        left: 1px;
        opacity: 1;
        z-index: 1;
    }
}

@keyframes banner_S3_solo-shock {
    0% {
        bottom: 3px;
        left: 1px;
        transform: scale(1);
    }

    95.5% {
        bottom: 3px;
        left: 1px;
        transform: scale(1);
    }

    97% {
        transform: scale(1.03);
    }

    98.5% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.03);
    }
}

    #banner_S3_group {
        width: 34%;
        z-index: 10;
        bottom: 3px;
    }
    
@keyframes banner_S3_group-fadein {
    0% {
        right: -100px;
        opacity: 0;
        z-index: -1;
    }

    100% {
        right: 1px;
        opacity: 1;
        z-index: 1;
    }
}

@keyframes banner_S3_group-shock {
    0% {
        bottom: 3px;
        right: 1px;
        transform: scale(1);
    }

    95.5% {
        bottom: 3px;
        right: 1px;
        transform: scale(1);
    }

    97% {
        transform: scale(1.03);
    }

    98.5% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.03);
    }
}


    #year {
        max-width: 120px;
        top: -48%;
    }

    #ACL_S3_logo {
        max-width: 72px;
        top: 16%;
    }

    #more {
        max-width: 130px;
        /* top: 76%; */
        top: 108%;
    }

    #light {
        max-width: 150px;
        top: -43%;
    }


    #cloud-01 {
        max-width: 35px;
        left: 29%;
        top: 35%;
    }

    #cloud-02 {
        max-width: 35px;
    }

    #cloud-03 {
        max-width: 18px;
        left: 37%;
        bottom: 18%;
        opacity: 0.8;
    }

    #cloud-04 {
        max-width: 70px;
        bottom: -11%;
        opacity: 0.8;
    }

    #cloud-05 {
        max-width: 60px;
        right: 20%;
        bottom: -31%;
        opacity: 0.65;
    }

    #event_banner_close{
        width: 23px;
        height: 23px;
        right: -5px;
        top: -32px;
    }

}