.NFTindex_Seignior {
    width: 100%;
    /* background-color: #203240; */
    /* margin: 100px auto; */
}

/* PPS SEIGNIOR 主ICON 與介紹 */
.Seignior-Block {
    /* border: 1px solid red; */
    padding: 50px 0 0px;
    width: 100%;
    position: relative;
    /* height: 800px; */
    /* background-image: linear-gradient(to bottom, #203240 0%,#20324076 3%, #20324076 5%,#203240cc 15%, #203240 85%,#20324022 97%, #20324000 100%); */
    background-image: linear-gradient(to bottom, #203240 0%,#20324076 0%, #20324076 3%,#203240cc 15%, #203240 80%,#20324085 93%, #20324000 100%);

}



.PPSSeignior {
    /* border: 1px solid yellow; */
    /* max-width: 1920px; */
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    

}

.PPSSeignior-mainIcon-Block {
    /* border: 1px solid rgb(64, 255, 0); */
    /* max-width: 600px; */
    width: 45%;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    justify-content: flex-end;
    padding: 0px 84px 0px;

}
.PPSSeignior-mainIcon{
    /* border: 1px solid red; */
    position: relative;
    max-width: 500px;
    width: 100%;
    transition: all .2s ease-in-out;

    animation: mainIcon-filter 3s ease-in-out  infinite;
}
@keyframes mainIcon-filter {
    0% {
        filter: drop-shadow(0px 0px 25px rgba(249, 210, 243, 0.672));
    }
    50% {
        filter: drop-shadow(0px 0px 25px rgba(249, 210, 243, 0.1));
    }
    100% {
        filter: drop-shadow(0px 0px 25px rgba(249, 210, 243, 0.672));
    }
}
.PPSSeignior-mainIcon:hover{
    transition: all .2s ease-in-out;
    animation: none;
    filter: drop-shadow(0px 0px 25px rgba(249, 210, 243, 0.672)) !important;
}

.main-Icon{
    /* filter: drop-shadow(0px 5px 25px rgba(16, 16, 16, 0.7)); */
}
.PPSSeignior-mainIcon:hover .main-Icon{
    /* filter: none; */
}

.main-Icon-kirakira{
    /* border: 1px solid yellow; */
    width: 150%;
    position: absolute;
    transform: translate(-50% ,-50%);
    top: 50%;
    left: 50%;
    pointer-events: none;
    transition: all .1s ease-in-out;

    display: none;
}

#main-Icon-kirakira-001{
    animation: main-Icon-kirakira 3s ease-in-out 1.5s infinite;
    opacity: 0;
}
#main-Icon-kirakira-002{
    animation: main-Icon-kirakira 3s ease-in-out 0s infinite;
}

@keyframes main-Icon-kirakira {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.PPSSeignior-mainIcon:hover .main-Icon-kirakira{
    display: block;
}



.golden-frame {
    /* position: absolute;
    top: 0; */
    max-width: 500px;
    width: 100%;
    z-index: 3;
}

.main-Icon {
    /* position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 52%; */

    width: 100%;
    z-index: 2;
}

.PPSSeignior-Info-Block {
    /* border: 1px solid rgb(90, 45, 238); */
    width: 55%;
    background-image: url("/images/NFTindex/NFTindex_Seignior/team-01.png");
    background-position: center right;
    background-repeat: no-repeat;
    background-size: contain;
    /* max-width: 1000px; */
    display: flex;
    align-items: center;
    /* justify-content: center; */
    justify-content: flex-start;
    position: relative;
    padding: 80px 20px 80px 130px ;
}
.PPSSeignior-Gradient{
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    width: 100%;
    height: 100%;
    background: no-repeat center top / 100% 100%;
    /* background-image: linear-gradient(to bottom, #203240 0%, #203240af 10%, #20324000 20%, #20324000 80%, #203240af 90%, #203240 100%); */
    
    /* background-image: linear-gradient(to right, #20324000 0%, #203240af 10%, #2032409c 20%, #2032409c 80%, #203240af 90%, #20324000 100%); */

    z-index: 1;
}

.PPSSeignior-Paragraph{
    /* border: 1px solid red; */
    max-width: 600px;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin: 30px auto; */
    font-family: adobe-fan-heiti-std, 'Source Sans Pro', sans-serif;
    z-index: 10;

    text-shadow: rgba(0, 0, 0, 0.674) 0.1em 0.1em 0.2em;
}
.PPSSeignior-Title {
    font-size: 30px;
    line-height: 1.14;
    letter-spacing: 3.6px;
    /* text-align: center; */
    color: #fff;
    padding: 10px 30px 10px 30px;
    border-radius: 25px;
    border: solid 4.4px #fff;
    display: inline-block;
    margin-bottom: 25px;
}

.PPSSeignior-Text-01{
    font-size: 24px;
    color: #fff;
    letter-spacing: 2px;
    text-align: center;
    margin-bottom: 20px;
    line-height: 1.37;
}
.PPSSeignior-Text-02{
    font-size: 20px;
    color: #fff;
    letter-spacing: 2px;
}
.PPSSeignior-Text-02 span{
    color: #f27a13;
    position: relative;
    padding-right: 27px;
    font-weight: 600;
}
.PPSSeignior-Text-02 span::after{
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    top: 46%;
    background-color: #d96e3f;
    transform: rotate(45deg)translateY(-50%);
    margin-left: 5px;
}

.PPSSeignior-Text-02-1{
    margin-bottom: 20px;
    text-align: center;
}


/* PPS Riders NFT 蛇階級與介紹 */
.PPSRidersNFT-BG{
    /* border: 1px solid rgba(255, 0, 0, 0); */
    width: 100%;
    /* clip-path: polygon(0 0, 100% 0, 100% 88%, 0% 100%); */
    background-image: url("/images/NFTindex/NFTindex_Seignior/Mid_bottom.png");
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
    /* height: 1000px; */
    /* padding-bottom: 150px; */
}

.PPSRidersNFT-Gradient-Outside{
    position: relative;
    width: 100%;
    padding: 50px 0 0px;

    
}
/* .PPSRidersNFT-Gradient{
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    width: 100%;
    height: 100%;
    background: no-repeat center top / 100% 100%;
    background-image: linear-gradient(to bottom, #203240 0%, #203240af 10%, #20324000 20%, #20324000 100%);
    z-index: 1;

    display: none;
} */

.PPSRidersNFT-Block{
    /* border: 1px solid red; */
    max-width: 1450px;
    width: 95%;
    margin: 0 auto 100px;
    display: flex;
    /* justify-content: space-between; */
    justify-content: space-evenly;
    z-index: 3;
}
.PPSRidersNFT-IconsAll{
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 550px;
    width: 100%;
    z-index: 3;

}
.PPSRidersNFT-Icons-row{
    /* border: 1px solid red; */
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* align-items: center; */
    align-items: flex-end;
    opacity: 0;
    z-index: 0;
}
#PPSRidersNFT-Icons-row-02{
    
    width: 70%;
}
#PPSRidersNFT-Icons-row-03{
    width: 70%;
}
#PPSRidersNFT-Icons-row-04{
    width: 74%;
    margin-top: -10px;
}
#PPSRidersNFT-Icons-row-04 .SnakeIcons-Block-All{
    margin: 10px;
}
#PPSRidersNFT-Icons-row-05{
    margin-top: -2px;
}
.animate_start #PPSRidersNFT-Icons-row-01{
    animation: SnakeRow-display 0.7s ease-in 0s forwards;
}
.animate_start #PPSRidersNFT-Icons-row-02{
    animation: SnakeRow-display 0.7s ease-in 0.4s forwards;
}
.animate_start #PPSRidersNFT-Icons-row-03{
    animation: SnakeRow-display 0.7s ease-in 0.4s forwards;
}
.animate_start #PPSRidersNFT-Icons-row-04{
    animation: SnakeRow-display 0.7s ease-in 0.8s forwards;
}
.animate_start #PPSRidersNFT-Icons-row-05{
    animation: SnakeRow-display 0.7s ease-in 1.2s forwards;
}
@keyframes SnakeRow-display {
    0% {
        opacity: 0;
        z-index: 0;
    }

    100% {
        opacity: 1;
        z-index: 1;
    }
}

.SnakeIcons-Block-All{
    /* border: 1px solid rgb(0, 162, 255); */
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px;
}


.SnakeIcons-Block{
    /* border: 1px solid orange; */
    position: relative;
    width: 100%;

    transition: all .2s ease-in-out;
}

.SnakeIcons-Block:hover{
    transform: scale(1.035);
}

.PPSRidersNFT-Icons-Snake{
    /* border: 1px solid yellow; */
    width: 100%;
    position: absolute;
    /* transform: translate(-50%, -50%);
    top: 50%;
    left: 50%; */
    top: 0;
    left: 0;
    z-index: 5;
    filter: drop-shadow(-5px -5px 10px rgba(32, 32, 32, 0.6));
}
.PPSRidersNFT-Icons-BG{
    /* border: 1px solid green; */
    width: 100%;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    pointer-events: none;
    transition: all .2s ease-in-out;
    z-index: 1;
}

.SnakeIcons-Block-Name{
    font-size: 15px;
    color: white;
    margin-top: 9px;
    text-shadow: 0px 0px 5px rgba(193, 185, 185, 0.802);
    z-index: 10;
    letter-spacing: 1px;
    font-family: adobe-fan-heiti-std, 'Source Sans Pro', sans-serif;
    white-space: nowrap;
}

/*  蛇一級 蛇皇 */
#SnakeIcons-Block-01{
    max-width: 200px;
    height: 165px;
}
#SnakeIcons-Block-01 .PPSRidersNFT-Icons-Snake{
    
}
#SnakeIcons-Block-01 .PPSRidersNFT-Icons-BG{
    width: 150%;
    top: 50%;
}

/* 蛇二級 蛇王騎靈 Legendary Rider */
#SnakeIcons-Block-02{
    /* border: 1px solid red; */
    max-width: 150px;
    height: 134px;
}
#SnakeIcons-Block-02 .PPSRidersNFT-Icons-Snake{
    
    
}
#SnakeIcons-Block-02 .PPSRidersNFT-Icons-BG{
    width: 125%;
    opacity: 0.65;
}

/* 蛇三級 蛇騎靈 Spirit Snake Rider */
#SnakeIcons-Block-03{
    max-width: 90px;
    height: 110px;
}
#SnakeIcons-Block-03 .PPSRidersNFT-Icons-Snake{
    
    
}
#SnakeIcons-Block-03 .PPSRidersNFT-Icons-BG{
    width: 160%;
}

/* 蛇四級 */
#SnakeIcons-Block-04{
    max-width: 85px;
    height: 103px;
}
#SnakeIcons-Block-04 .PPSRidersNFT-Icons-Snake{
    
    
}
#SnakeIcons-Block-04 .PPSRidersNFT-Icons-BG{
    width: 160%;
}


#SnakeIcons-Block-05{
    max-width: 80px;
    height: 100px;
}
#SnakeIcons-Block-05 .PPSRidersNFT-Icons-Snake{
    
    
}
#SnakeIcons-Block-05 .PPSRidersNFT-Icons-BG{
    width: 160%;
}

/* 蛇五級  */
#SnakeIcons-Block-06{
    max-width: 70px;
    height: 80px;
}
#SnakeIcons-Block-06 .PPSRidersNFT-Icons-Snake{
    
    
}
#SnakeIcons-Block-06 .PPSRidersNFT-Icons-BG{
    width: 180%;
}

#SnakeIcons-Block-07{
    max-width: 90px;
    height: 86px;
}
#SnakeIcons-Block-07 .PPSRidersNFT-Icons-Snake{
    
    
}
#SnakeIcons-Block-07 .PPSRidersNFT-Icons-BG{
    width: 180%;
}


#SnakeIcons-Block-08{
    max-width: 77px;
    height: 79px;
}
#SnakeIcons-Block-08 .PPSRidersNFT-Icons-Snake{
    
    
}
#SnakeIcons-Block-08 .PPSRidersNFT-Icons-BG{
    width: 180%;
}


.PPSRidersNFT-InfoBlock{
    /* border: 1px solid wheat; */
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 800px;
    z-index: 3;
}
.PPSRidersNFT-Info{
    border: solid 7px #fff;
    max-width: 580px;
    width: 90%;
    /* height: 763px; */
    padding:  0 50px;
    border-radius: 25px;
    letter-spacing: 2px;
    font-family: adobe-fan-heiti-std, 'Source Sans Pro';
}
.PPSRidersNFT-Info-Title{
    color: #fff;
    margin: 40px auto 20px;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
}
.PPSRidersNFT-Info-Text{
    color: #fff;
    margin: 0px auto 50px;
    font-size: 16px;
    text-align: center;
}
.PPSRidersNFT-Info-Button{
    background-image: url("/images/NFTindex/NFTindex_Seignior/yellow_button.png");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: contain;
    max-width: 280px;
    width: 100%;
    height: 60px;
    margin: 0px auto 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    color: #fff;
    font-weight: 600;
    font-family: 'Bitter', serif;
    transition: all 0.2s ease-in-out;
    filter: drop-shadow(2px 2px 10px rgba(28, 28, 28, 0.487));
}
.PPSRidersNFT-Info-Button:hover{
    text-decoration: none;
    transform: translateY(-1px);
}



@media all and (max-width: 1500px){
    .PPSSeignior-mainIcon-Block{
        padding: 0 50px;
        width: 40%;
    }
    .PPSSeignior-mainIcon{
        max-width: 450px;
    }
    .PPSSeignior-Info-Block{
        padding: 80px 20px 80px 50px;
        width: 60%;
    }

    .PPSSeignior-Title{
        font-size: 24px;
        padding: 10px 25px 10px 25px;
    }
    .PPSSeignior-Text-01{
        font-size: 18px;
    }
    .PPSSeignior-Text-02{
        font-size: 18px;
        width: 90%;
    }
    .PPSSeignior-Text-02-1{
        font-size: 18px;
    }
    .PPSRidersNFT-Gradient-Outside{
        padding: 30px 0 0px;
    }
    .PPSRidersNFT-IconsAll{
        max-width: 500px;
    }
    #PPSRidersNFT-Icons-row-02{
        width: 75%;
    }
    #PPSRidersNFT-Icons-row-03{
        width: 75%;
    }
    #PPSRidersNFT-Icons-row-04{
        width: 72%;
    }
    #SnakeIcons-Block-01 {
        max-width: 170px;
        height: 139px;
    }
    #SnakeIcons-Block-02 {
        max-width: 130px;
        height: 117px;
    }
    #SnakeIcons-Block-03 {
        max-width: 80px;
        height: 98px;
    }
    #SnakeIcons-Block-04 {
        max-width: 70px;
        height: 85px;
    }
    #SnakeIcons-Block-05 {
        max-width: 68px;
        height: 85px;
    }
    #SnakeIcons-Block-06 {
        max-width: 60px;
        height: 68px;
    }
    #SnakeIcons-Block-07 {
        max-width: 74px;
        height: 70px;
    }
    #SnakeIcons-Block-08 {
        max-width: 65px;
        height: 68px;
    }
    .SnakeIcons-Block-Name{
        font-size: 13px;
        margin-top: 6px;
    }
    .PPSRidersNFT-InfoBlock{
        max-width: 600px;
    }
    .PPSRidersNFT-Info{
        padding: 0 40px;
        border: solid 5px #fff;
        max-width: 500px;
        letter-spacing: 1.5px;
    }
    .PPSRidersNFT-Info-Title{
        font-size: 28px;
        margin: 30px auto 15px;
    }
    .PPSRidersNFT-Info-Text{
        font-size: 15px;
        margin: 0px auto 30px;
    }
    .PPSRidersNFT-Info-Button{
        font-size: 16px;
        max-width: 232px;
        height: 50px;
        margin: 0px auto 35px;
    }
    .PPSRidersNFT-Block{
        margin: 0 auto 50px;
    }
}

@media all and (max-width: 1000px){
    .PPSSeignior{
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
    }
    .PPSSeignior-mainIcon-Block{
        width: 100%;
        justify-content: center;
        margin: 50px auto 50px;
    }
    .PPSSeignior-mainIcon{
        width: 90%;
    }
    .PPSSeignior-Info-Block{
        width: 100%;
        justify-content: center;
        padding: 30px 0 50px;
    }

    .PPSRidersNFT-Block{
        flex-direction: column;
        align-items: center;
    }
    .PPSRidersNFT-IconsAll{
        margin: 20px auto 50px;
        max-width: 530px;
    }
    .PPSRidersNFT-InfoBlock{
        width: 90%;
    }
    #PPSRidersNFT-Icons-row-04{
        margin-top: -8px;
        width: 68%;
    }
    #PPSRidersNFT-Icons-row-05{
        margin-top: 0px;
    }
    .SnakeIcons-Block-All{
        margin: 10px;
    }
}
@media all and (max-width: 600px){
    .Seignior-Block {
        padding: 80px 0 0px;
    }
    .PPSSeignior-mainIcon-Block{
        margin: 0px auto 30px;
    }
}
@media all and (max-width: 500px){
    .PPSRidersNFT-Block{
        width: 100%;
    }
    #SnakeIcons-Block-01 {
        max-width: 150px;
        height: 123px;
    }
    #PPSRidersNFT-Icons-row-02{
        width: 80%;
    }
    #PPSRidersNFT-Icons-row-03{
        width: 80%;
    }
    #SnakeIcons-Block-02 {
        max-width: 110px;
        height: 99px;
    }
    #SnakeIcons-Block-03 {
        max-width: 70px;
        height: 86px;
    }
    #PPSRidersNFT-Icons-row-04{
        width: 80%;
        margin-top: -5px;
    }
    #PPSRidersNFT-Icons-row-05{
        margin-top: 0px;
    }
    #SnakeIcons-Block-04 {
        max-width: 65px;
        height: 79px;
    }
    #SnakeIcons-Block-05 {
        max-width: 62px;
        height: 78px;
    }
    #SnakeIcons-Block-06{
        max-width: 50px;
        height: 57px;
    }
    #SnakeIcons-Block-07{
        max-width: 63px;
        height: 60px;
    }
    #SnakeIcons-Block-08{
        max-width: 56px;
        height: 58px;
    }
    .PPSRidersNFT-IconsAll{
        width: 100%;
    }
    .SnakeIcons-Block-All{
        margin: 10px 10px;
    }
}
