.NFTindex_Gameplay{
    /* border: 1px solid red; */
    width: 100%;
    padding: 0 0 100px;
    /* height: 1500px; */
}

.Gameplay-mainImg-block-01{
    /* border: 1px solid red; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto 15px;
}
.mainImg-01{
    max-width: 250px;
    width: 100%;
    margin: 40px;
    filter: drop-shadow(10px 10px 15px rgba(32, 32, 32, 0.5)); 
}

.Gameplay-mainImg-block-02{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;

    box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.75), inset 0px 2px 0 0 rgba(255, 255, 255, 0.1);
    background-image: linear-gradient(to bottom, hsla(180, 30%, 42%, 0.25), rgba(39, 97, 111, 0));
    padding: 45px 0 55px;
    margin-bottom: 80px;

    position: relative;
}
.Gameplay-mainImg-block-02::before{
    content: "";
    max-width: 150px;
    width: 20%;
    height: 43px;
    background-image: url(/images/NFTindex/NFTindex_Gameplay/flowerframe-01.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 60px;
    position: absolute;
    /* transform: translateX(-50%); */
    top: -3%;
    left: 2%;
}
.Gameplay-mainImg-block-02::after{
    content: "";
    max-width: 150px;
    width: 20%;
    height: 43px;
    background-image: url(/images/NFTindex/NFTindex_Gameplay/flowerframe-02.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 60px;
    position: absolute;
    /* transform: translateX(-50%); */
    top: -3%;
    right: 2%;
}

.flowerframe{
    width: 96%;
    position: absolute;
    transform: translateX(-50%);
    top: -5%;
    left: 50%;
}
.mainImg-02-block{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 35px;
}
.mainImg-02{
    max-width: 200px;
    width: 100%;
    margin-bottom: 20px;
    filter: drop-shadow(10px 10px 15px rgba(32, 32, 32, 0.5)); 
}
.mainImg-02-text{
    color: #ffffff;
    letter-spacing: 1.5px;
    font-size: 15px;
}