@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300&family=Source+Sans+Pro:wght@200;300;400;600;700&display=swap');

.NFTindex_Banner{
    /* border:  1px solid rgba(255, 0, 0, 0); */
    /* height: 1000px; */
    width: 100%;
    background-color: #203240;
    overflow: hidden;
}

.NFTindex_Banner img{
    /* width: 100%; */
}
.NFTindexBanner-title{
    position: absolute;
    top: 12%;
    max-width: 550px;
    width: 40%;
    margin: 0 auto;
    transform: translateX(-50%);
    left: 51%;
}

@media all and (max-width: 1500px){
    .NFTindexBanner-title{
        display: none;
    }
}

.NFTindexBanner-BG{
    /* border: 1px solid red; */
    background-image: url("/images/NFTindex/NFTindex_Banner/background-00.webp");
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    /* height: 2000px; */
}

/* 正式 */
.NFTindexBanner_block{
    /* border: 1px solid rgb(101, 238, 23); */
    width: 100%;
    position: relative;
    /* overflow: hidden; */
}
/* 藍天背景 */
.NFTindexBanner_BG{
    /* border: 1px solid rgb(101, 238, 23); */
    width: 100%;
    opacity: 1;
    position: relative;
    margin-bottom: 150px;

    height: 1500px;
    /* background-repeat: no-repeat;
    background-position: center top;
    background-size: contain; */
    background: no-repeat center top / 100% 100%;
	background-image: linear-gradient(to bottom,  #20324000 0%,  #20324000 80%,  #203240 100%), url("/images/NFTindex/NFTindex_Banner/background-01.webp")
}
.NFTindexBanner_BG img{
    width: 100%;
}


/* 號角 */
.horn-block{
    /* border: 1px solid rgb(208, 59, 59); */
    width: 100%;
    position: absolute;
    top: 0px;
    height: 1400px;
    pointer-events: none;
    overflow: hidden;

    
}
.horn-hidden{
    /* border: 1px solid rgb(208, 59, 59); */
    overflow: hidden;
    position: absolute;
    width: 12.5%;
    z-index: 30;

}
.horn{
    width: 100%;
    filter: drop-shadow(5px 5px 30px rgba(61, 69, 104, 0.483));
    opacity: 0;
}

#horn-hidden-01{
    max-width: 290px;
    /* top: 150px; */
    top: 14%;
    left: -30px;
}
#horn-01{
    transform-origin: top left;
    animation: horn-display 1s ease-in-out 0.5s forwards,
               horn-left 5s ease-in-out 0s infinite;
}

#horn-hidden-02{
    max-width: 296px;
    /* top: 580px; */
    top: 54.5%;
    left: -30px;
}
#horn-02{
    margin-top: 20px;
    transform-origin: top left;
    animation: horn-display 1s ease-in-out 0.5s forwards,
                horn-left 5s ease-in-out 0s infinite;
}

#horn-hidden-03{
    max-width: 290px;
    /* top: 150px; */
    top: 14%;
    right: -10px;
    opacity: 0.5;
}
#horn-03{
    transform-origin: top right;
    animation: horn-display 1s ease-in-out 0.5s forwards,
               horn-right 5s ease-in-out 0s infinite;
}

#horn-hidden-04{
    max-width: 296px;
    /* top: 580px; */
    top: 54.5%;
    right: -10px;
}
#horn-04{
    margin-top: 20px;
    transform-origin: top right;
    animation: horn-display 1s ease-in-out 0.5s forwards,
               horn-right 5s ease-in-out 0s infinite;
}
@keyframes horn-display {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 0.8;
    }
}
@keyframes horn-left {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(-5deg);
    }
    50% {
        transform: rotate(0deg);
    }
    75% {
        transform: rotate(-8deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
@keyframes horn-right {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(5deg);
    }
    50% {
        transform: rotate(0deg);
    }
    75% {
        transform: rotate(8deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

/* 標語 & 註冊 */
.NFTindexBanner_titleRegister{
    width: 100%;
    position: absolute;
    top: 110px;
    z-index: 50;
}
.NFTindexBanner_title{
    font-size: 50px;
    letter-spacing: 2px;
    font-weight: 400;
    text-align: center;
    color: #1f3a6d;
    text-shadow: #2032407a 5px 5px 10px;
    font-family: 'Rubik', sans-serif;
}
.NFTindex_Register_block{
    width: 90%;
    margin: 0 auto;
}


/* 中心主角示意圖 */
.centralProtagonist{
    position: absolute;
    top: 56px;
    left: 50%;
    transform: translate(-50%);
    opacity: 0.5;
    max-width: 1500px;
    width: 100%;

    display: none;
}

.CenterBlock{
    /* border: 1px solid rgb(228, 237, 43); */
    max-width: 1700px;
    width: 100%;
    /* height: 1500px; */
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translate(-50%);
    pointer-events: none;
    /* z-index: 10; */
}

/* 定位 */
.absolute-t0l0-w100{
    width: 100%;
    position: absolute;
    top: 0%;
    left: 0%;

    /* display: none; */
}
.w100{
    width: 100%;
}

/* 水果 */
#fruit_block{
    /* opacity: 0.5; */

    /* display: none; */
}
#fruit-01{
    z-index: 1;
    opacity: 0.7;
}
#fruit-02{
    z-index: 2;
    opacity: 0.3;
}

/* 光圈 */
#halo{
    /* border: 1px solid red; */
    z-index: 3;
    overflow: hidden;
    border-radius: 50%;
    /* opacity: 0.5; */
    
}
#halo img{
    animation: halo 70s linear infinite;
}
 
@keyframes halo {
    0% {
        transform: rotate(0deg)
    }
    100% {
        transform: rotate(360deg)
    }
}
/* 黃色閃亮亮 kirakira */
#yellow-kirakira{
    z-index: 4;
    opacity: 0;
    animation: yellow-kirakira 7s ease-in-out infinite;
}
 
@keyframes yellow-kirakira {
    0% {
        opacity: 0;
        transform: translate(0,0);
    }
    25% {
        opacity: 0.7;
        transform: translate(0,0);
    }
    40% {
        opacity: 0;
        transform: translate(0,0);
    }
    50% {
        opacity: 0;
        transform: translate(0,0);
    }
    55% {
        opacity: 0;
        transform: translate(-25px,-25px);
    }
    75% {
        opacity: 0.7;
        transform: translate(-25px,-25px);
    }
    90% {
        opacity: 0;
        transform: translate(-25px,-25px);
    }
    100% {
        opacity: 0;
        transform: translate(0,0);
    }
}

/* 蛇蛇與頭紗 */
#veil{
    z-index: 5;
    filter: drop-shadow(5px 5px 30px rgba(28, 28, 28, 0.882));
    animation: veil 30s ease-in-out infinite;
}
@keyframes veil {
    0% {
        transform: translate(0px,0px) rotate(0deg);
    }
    25% {
        transform: translate(-10px,5px) rotate(10deg);
    }
    50% {
        transform: translate(10px,10px) rotate(0deg);
    }
    75% {
        transform: translate(-10px,5px) rotate(10deg);
    }
    100% {
        transform: translate(0px,0px) rotate(0deg);
    }
}
#snake{
    z-index: 6;
    filter: drop-shadow(5px 5px 30px rgba(28, 28, 28, 0.882));
}

/* 寶箱 */
#treasureChest{
    z-index: 7;
    filter: drop-shadow(5px 5px 10px rgba(28, 28, 28, 0.882));
}
#treasureChest-light{
    z-index: 8;
    animation: treasureChest-light 5s ease-in-out infinite;
}
 
@keyframes treasureChest-light {
    0% {
        opacity: 0.3;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.3;
    }
}

/* 女主角騎士 */
#airShadow{
    z-index: 9;
}
#rider{
    z-index: 10;
    filter: drop-shadow(5px 5px 30px rgba(28, 28, 28, 0.487));
    animation: rider-move 5s ease-in-out infinite;
}
@keyframes rider-move {
    0% {
        transform: translate(0px,0px);
    }
    50% {
        transform: translate(10px,-10px);
    }
    100% {
        transform: translate(0px,0px);
    }
}
#white-kirakira{
    z-index: 11;
    animation: treasureChest-light 2s ease-in-out infinite;
}

/* 氣氛光線 */
#stage-light{
    z-index: 12;
    opacity: 0;
    animation: stage-light 1s ease-in 1s forwards;
}
@keyframes stage-light {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 0.7;
    }
}
#natural-light{
    z-index: 13;
    width: 100vw;
    transform: translateX(-50%);
    left: 50%;
    opacity: 0.6;
}
#rainbow{
    z-index: 14;
    opacity: 0;
    animation: rainbow 2s ease-in-out 2s forwards;
}
 
@keyframes rainbow {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
#ring-rainbow{
    z-index: 15;
}


/* 寶箱-ERNC  */
#treasureChest-ERNC{
    z-index: 16;
    animation: treasureChest-ERNC 5s ease-in-out infinite;
}
 
@keyframes treasureChest-ERNC {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}
#treasureChest-kirakira{
    z-index: 17;
    animation: treasureChest-light 2s ease-in-out infinite;
}





/* 台階 */
.StepsBlockAll{
    /* border: 1px solid red; */
    width: 100%;
    position: absolute;
    bottom: -150px;
    /* bottom: 0px; */
    transform: translate(-50%);
    left: 50%;
}
.StepsBlock{
    /* border: 1px solid red; */
    width: 70%;
    max-width: 1700px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    filter: drop-shadow(0px -10px 30px rgba(28, 28, 28, 0.689));

}
.Steps{
    /* width: 100%; */
    position: relative;
    /* filter: drop-shadow(0px 0px 30px rgba(28, 28, 28, 0.689)); */

}
#Steps-01{
    margin-right: -10px;
    z-index: 1;
}
#Steps-02{
    z-index: 3;
}
#Steps-03{
    margin-left: -10px;
    z-index: 1;
}
.Steps-bg{
    width: 100%;
    opacity: 0.8;
}

#Steps-01{
    max-width: 415px;
}
#Steps-02{
    max-width: 560px;
}
#Steps-03{
    max-width: 415px;
}
.Steps-button{
    position: absolute;
    
    top: 0;
    transform: translate(-50%);
    transition: all .15s ease-in-out;

    filter: drop-shadow(0px 10px 20px rgba(28, 28, 28, 0.689));

}

#Steps-button-01{
    left: 56%;
    max-width: 315px;
    width: 75%;
}
#Steps-button-02{
    left: 50%;
    max-width: 340px;
    width: 60%;
}
#Steps-button-03{
    left: 44%;
    max-width: 315px;
    width: 75%;
}

.Steps-button-bg{
    width: 100%;
    opacity: 0.9;
    transition: all .15s ease-in-out;
}
.Steps-button:hover .Steps-button-bg{
    opacity: 1;
}
.Steps-button:hover #Steps-button-bg-01{
    filter: drop-shadow(0px 0px 15px rgba(211, 255, 177, 0.4));
}
.Steps-button:hover #Steps-button-bg-02{
    filter: drop-shadow(0px 0px 15px rgba(255, 243, 177, 0.4));
}
.Steps-button:hover #Steps-button-bg-03{
    filter: drop-shadow(0px 0px 15px rgba(143, 246, 255, 0.4));
}
.Steps-button-text{
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;

}
#Steps-button-text-01{
    max-width: 290px;
    top: 48%;
    width: 50%;
}
#Steps-button-text-02{
    max-width: 220px;
    top: 43%;
    width: 65%;
}
#Steps-button-text-03{
    max-width: 290px;
    top: 48%;
    width: 50%;
}

/* 葉子 */
.leaf{
    width: 100%;
    position: absolute;
}
#leaf-01{
    max-width: 220px;
    width: 13%;
    position: absolute;
    left: 0px;
    bottom: 0;
    z-index: 9;
    opacity: 0.8;
    filter: drop-shadow(0px 0px 20px rgba(17, 64, 14, 0.7));
}
#leaf-02{
    max-width: 220px;
    width: 13%;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 9;
    opacity: 0.8;
    filter: drop-shadow(0px 0px 20px rgba(17, 64, 14, 0.7));
}


/* RWD */
@media all and (max-width: 1950px){
    .CenterBlock{
        max-width: 1600px;
    }
    .NFTindexBanner_BG{
        height: 1400px;
    }

}
@media all and (max-width: 1800px){
    .NFTindexBanner_BG{
        height: 1350px;
    }
}
@media all and (max-width: 1700px){
    .NFTindexBanner_BG{
        height: 1330px;
    }
}
@media all and (max-width: 1600px){
    .NFTindexBanner_BG{
        height: 1300px;
    }
}
@media all and (max-width: 1500px){
    .NFTindexBanner_BG{
        height: 1250px;
    }
}
@media all and (max-width: 1450px){
    .NFTindexBanner_BG{
        height: 1200px;
    }
}
@media all and (max-width: 1400px){
    .NFTindexBanner_BG{
        height: 1150px;
    }
}
@media all and (max-width: 1350px){
    .NFTindexBanner_BG{
        height: 1100px;
    }
}
@media all and (max-width: 1300px){
    .NFTindexBanner_BG{
        height: 1150px;
        background-image: linear-gradient(to bottom, #20324000 0%, #20324000 85%, #203240 100%), url(/images/NFTindex/NFTindex_Banner/background-01.webp);
    }
    .CenterBlock{
        width: 110%;
        top: -20px;
    }
    .NFTindexBanner_titleRegister{
        top: 100px;
    }
    .NFTindexBanner_title{
        font-size: 41px;
    }
    .NFTindex_Register{
        margin: 10px auto;
    }
}
@media all and (max-width: 1250px){
    .NFTindexBanner_BG{
        height: 1100px;
    }
}
@media all and (max-width: 1200px){
    .NFTindexBanner_BG{
        height: 1070px;
    }
}
@media all and (max-width: 1150px){
    .NFTindexBanner_BG{
        height: 1000px;
    }
}
@media all and (max-width: 1100px){
    .NFTindexBanner_BG{
        height: 1050px;
    }
    .CenterBlock{
        top: -20px;
        width: 120%;
    }
    .NFTindexBanner_titleRegister{
        top: 85px;
    }
    .NFTindexBanner_title{
        font-size: 36px;
    }
}
@media all and (max-width: 1050px){
    .NFTindexBanner_BG{
        height: 1000px;
    }
}
@media all and (max-width: 1000px){
    .NFTindexBanner_BG{
        height: 1000px;
    }
    .CenterBlock{
        top: -20px;
        width: 130%;
    }
    .NFTindexBanner_titleRegister{
        top: 85px;
    }
    .NFTindexBanner_title{
        font-size: 36px;
        font-weight: 500;
    }
}
@media all and (max-width: 950px){
    .NFTindexBanner_BG{
        height: 920px;
    }
}
@media all and (max-width: 900px){
    .NFTindexBanner_BG{
        height: 900px;
    }
    .CenterBlock{
        top: 0px;
        width: 135%;
    }
    .NFTindexBanner_titleRegister{
        top: 80px;
    }
    .NFTindexBanner_title{
        font-size: 32px;
    }
    .horn-block{
        display: none;
    }
}
@media all and (max-width: 850px){
    .NFTindexBanner_BG{
        height: 860px;
    }
    .CenterBlock{
        top: 0px;
        width: 135%;
    }
    .NFTindexBanner_titleRegister{
        top: 80px;
    }
    .NFTindexBanner_title{
        font-size: 32px;
    }
}

@media all and (max-width: 800px){
    .NFTindexBanner_BG{
        height: 850px;
    }
    .CenterBlock{
        top: 0px;
        width: 145%;
    }
    .NFTindexBanner_titleRegister{
        top: 75px;
    }
    .NFTindexBanner_title{
        font-size: 30px;
    }


}
@media all and (max-width: 750px){
    .NFTindexBanner_BG{
        height: 920px;
    }
    .CenterBlock{
        top: 0px;
        width: 150%;
    }
    #Steps-01, #Steps-03{
        display: none;
    }
    #Steps-02{
        width: 70%;
    }
    #leaf-01,#leaf-02{
        width: 20%;
        opacity: 0.8;
    }
}
@media all and (max-width: 700px){
    .NFTindexBanner_BG{
        height: 870px;
    }
    .CenterBlock{
        top: 0px;
        width: 155%;
    }
    .NFTindexBanner_titleRegister{
        top: 75px;
    }
    .NFTindexBanner_title{
        font-size: 26px;
    }

}
@media all and (max-width: 650px){
    .NFTindexBanner_BG{
        height: 800px;
    }
    .CenterBlock{
        top: 0px;
        width: 160%;
    }
    #Steps-02{
        width: 80%;
    }
    #leaf-01, #leaf-02 {
        width: 20%;
        opacity: 0.8;
    }
}
@media all and (max-width: 600px){
    .NFTindexBanner_BG{
        height: 750px;
    }
    .CenterBlock{
        top: 0px;
        width: 160%;
    }

}
@media all and (max-width: 570px){
    .NFTindexBanner_BG{
        height: 680px;
    }
    .CenterBlock{
        top: 0px;
        width: 160%;
    }
}
@media all and (max-width: 550px){
    .NFTindexBanner_BG{
        height: 680px;
    }
    .CenterBlock{
        top: 30px;
        width: 160%;
    }
    .NFTindexBanner_titleRegister{
        top: 70px;
    }
    .NFTindexBanner_title{
        font-size: 24px;
    }
    #Steps-02{
        width: 80%;
    }
}

/* 手機板關閉部分元件及動畫 */
#mobile-01{
    z-index: 9;
}
#mobile-02{
    z-index: 12;
}
#mobile-03{
    z-index: 17;
}
.mobile-show{
    display: none;
}
@media all and (max-width: 500px){
    .NFTindexBanner_BG{
        height: 650px;
    }
    .CenterBlock{
        top: 30px;
        width: 170%;
    }
    .NFTindexBanner_titleRegister{
        top: 70px;
    }
    .NFTindexBanner_title{
        font-size: 22px;
    }
    #Steps-02{
        width: 90%;
    }

    /* 手機板關閉部分元件及動畫 */
    #fruit_block{
        display: none;
    }
    .mobile-none{
        display: none;
    }
    .mobile-show{
        display: block;
    }

    /* #yellow-kirakira{
        opacity: 1;
        animation: unset;
    }
    #veil{
        animation: unset;
    }
    #rainbow{
        opacity: 1;
        animation: unset;
    }
    #stage-light{
        animation: unset;
        opacity: 1;
    }
    #treasureChest-light{
        animation: unset;
    }
    #white-kirakira{
        animation: unset;
    }
    #treasureChest-ERNC{
        transform: translateY(-5px);
        animation: unset;
    } */
}
@media all and (max-width: 480px){
    .NFTindexBanner_BG{
        height: 620px;
    }
    .CenterBlock{
        top: 30px;
        width: 170%;
    }
    .NFTindexBanner_titleRegister{
        top: 70px;
    }
}
@media all and (max-width: 450px){
    .NFTindexBanner_BG{
        height: 600px;
    }
    .CenterBlock{
        top: 40px;
        width: 174%;
    }
    .NFTindexBanner_titleRegister{
        top: 70px;
    }

}


@media all and (max-width: 430px){
    .NFTindexBanner_BG{
        height: 580px;
    }
    .CenterBlock{
        top: 40px;
        width: 180%;
    }
    .NFTindexBanner_title{
        font-size: 20px;
    }
}
@media all and (max-width: 410px){
    .NFTindexBanner_BG{
        height: 560px;
    }
}
@media all and (max-width: 400px){
    .NFTindexBanner_BG{
        height: 550px;
    }
}
@media all and (max-width: 380px){
    .NFTindexBanner_BG{
        height: 530px;
    }
}
@media all and (max-width: 360px){
    .NFTindexBanner_BG{
        height: 500px;
    }
}