@inject IJSRuntime JS

<head>
    @* <link href="css/EventBanner/ACL_S3.css" rel="stylesheet" /> *@
    <link href="css/EventBanner/EventBanner_WarmUpActivities.css" rel="stylesheet" />
    
</head>

@* SnakeBanner *@
<div class="SnakeEventBanner" id="SnakeBanner">

    <div class="SnakeEventBanner-BG">
        <div id="event_banner_close" @onclick="SnakeEventBannerCloseClick">
            <img src="/images/OfficialWeb/event_banner/event_banner_close_red.webp" alt="">
        </div>
        <a class="eventBanner-link" href="WarmUpActivities" target="_blank">
            <div class="EventBanner-WarmUpRider">
                <img class="WarmUpImg" id="WarmUpRider-01" src="/images/EventBanner/EventBanner_WarmUpActivities/Rider-01.png" alt="">
                <img class="WarmUpImg" id="WarmUpRider-02" src="/images/EventBanner/EventBanner_WarmUpActivities/Rider-02.png" alt="">
            </div>

            <div class="EventBanner-WarmUpTitile">
                <img class="WarmUpImg" id="WarmUpRider-Title" src="/images/EventBanner/EventBanner_WarmUpActivities/WarmUpActivities-banner-Title-CN.png" alt="">

            </div>
        </a>
    </div>


</div>

@* EventBanner_WarmUpActivities *@
@* <div class="eventBannerS3 SnakeEventBanner" id="SnakeBanner">

    

</div> *@




@code {
    private IJSObjectReference? Banner;
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            Banner = await JS.InvokeAsync<IJSObjectReference>("import", "./JavaScript/SnakeIndex/Banner.js");
        }
    }


    private async Task SnakeEventBannerCloseClick()
    {
        if (Banner != null)
        {
            await Banner.InvokeVoidAsync("SnakeEventBannerClose");
        }
    }
}
