

<div class="window @(displayPopupWindow ? "window_open" : "")" id="submit_success_bg">
    <div class="window_bg" id="submit_success">
        <img src="/images/Myaccount/submit_success.webp" id="submit_success_icon" alt="">
            <h1>@PopupWindowTitle</h1>
        <span id="submit_success_span">@PopupWindowContent</span>
        <div id="success_window_close" class="window_submit" @onclick="WindowClose">
            <img src="/images/Index/signUpEvent_button.webp" alt="">
                <span>關閉</span>
        </div>
    </div>
</div>
@code {
    [Parameter]
    public bool displayPopupWindow { get; set; }

    [Parameter]
    public string PopupWindowTitle { get; set; }

    [Parameter]
    public string PopupWindowContent { get; set; }

    [Parameter]
    public EventCallback successWindowClose { get; set; }

    public void WindowClose()
    {
        successWindowClose.InvokeAsync();
    }
}
