@page "/"

@using SnakeAsianLeague.Pages.NFTindex.Components
@using SnakeAsianLeague.Pages.SnakeIndex.Components
@using SnakeAsianLeague.Pages.NFTindex.EventBanner

@using SnakeAsianLeague.Data.Services.BlockChain
@inject Blazor.Analytics.IAnalytics Analytics
@inject BlockChainProcessorSever BlockChainSever
@inject IJSRuntime JS

<head>
    <title>PonPonSnake｜Home</title>
    @*<link href="/css/NFTindex/NFTindex.css" rel="stylesheet" />*@
    <link href="/css/NFTindex/NFTindex.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/8.1.1/swiper-bundle.css"
        integrity="sha512-xTLlG+jNUAbKTCLpdibgQptrCWCqMDQHombvHK7T2S2bQW5zKZtDMssUw3ftsoJ+T9cATQmdNsPIgopUlUWz8g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    @* onload="console.log('css load')" *@
</head>

<div class="NFTindex">

    @*<Loading />*@
    @* <NFTindex_Register/> *@

    <main class="">
  
        <NFTindex_Join />

        <div class="sec" id="sec-01" data-num="1">
            <NFTindex_Banner />
            <NFTindex_Flag />
        </div>

        <div class="PPSRidersNFT-BG sec" id="sec-02" data-num="2">
            <NFTindex_Seignior />
            <NFTindex_Carousel />
        </div>

        <div class="sec"  id="sec-03" data-num="3">
            <NFTindex_Scholar />
        </div>

        <div class="sec"  id="sec-04" data-num="4">
            <NFTindex_Landlord />
        </div>

        <div class="sec"  id="sec-05" data-num="5">
            <NFTindex_SRC />
        </div>

        <div class="sec"  id="sec-06" data-num="6">
            <NFTindex_Partner />
        </div>

     


    </main>
    @*導航*@
    <NFTindex_Navigation />
    @*活動用banner*@
    <EventBanner_WarmUpActivities />
    @* <EventBanner_ACL_S3 /> *@
</div>


@code {
    private IJSObjectReference? lazyloadingJS;
    private IJSObjectReference? BannerJS;
    protected override async Task OnAfterRenderAsync(bool firstRender)

    {

        if (firstRender)

        {

            
            lazyloadingJS = await JS.InvokeAsync<IJSObjectReference>("import", "./JavaScript/SharedLib/LazyLoading.js"); 
            await lazyloadingJS.InvokeVoidAsync("LazyLoadingJQuery");
            await JS.InvokeVoidAsync("installI18n");
            BannerJS = await JS.InvokeAsync<IJSObjectReference>("import", "./JavaScript/SnakeIndex/Banner.js");
            await BannerJS.InvokeVoidAsync("indexScrollEvent");
            await BlockChainSever.GetBlockChainInfoDTO();
            await Analytics.TrackEvent("generate_lead", new {currency = "USD", value = 99.99});
        }

    }


    private async Task event_banner_SlideClick()
    {
        if (BannerJS != null)

        {
            await BannerJS.InvokeVoidAsync("event_banner_Slide");
        }
    }
}