@page "/"

@using SnakeAsianLeague.Pages.NFTindex.Components
@using SnakeAsianLeague.Pages.SnakeIndex.Components

@using SnakeAsianLeague.Data.Services.BlockChain
@inject BlockChainProcessorSever BlockChainSever
@inject IJSRuntime JS

<head>
    <title>PonPonSnake｜Home</title>
    <link href="/css/NFTindex/NFTindex.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/8.1.1/swiper-bundle.css"
        integrity="sha512-xTLlG+jNUAbKTCLpdibgQptrCWCqMDQHombvHK7T2S2bQW5zKZtDMssUw3ftsoJ+T9cATQmdNsPIgopUlUWz8g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    @* onload="console.log('css load')" *@
</head>

<div class="NFTindex">
  
    @*<Loading />*@
    @* <NFTindex_Register/> *@

    <main class="">
        <LoadingBazor>
            <NFTindex_Join />
            <NFTindex_Banner />
            <NFTindex_Flag />
            <NFTindex_Seignior />

            <div class="NFTindex_BG_diamond">
                <NFTindex_Carousel />
                <NFTindex_Scholar />
                <NFTindex_SRC />
                @* <NFTindex_Gameplay /> *@
                <NFTindex_Partner />
            </div>

        </LoadingBazor>  
    </main>
    @* <Event_banner /> *@
</div>


@code {

    private IJSObjectReference? BannerJS;
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {

        if (firstRender)
        {
            await JS.InvokeVoidAsync("installI18n");            
            BannerJS = await JS.InvokeAsync<IJSObjectReference>("import","./JavaScript/SnakeIndex/Banner.js");
            await BannerJS.InvokeVoidAsync("BannerMove");
            await  BlockChainSever.GetBlockChainInfoDTO();
          
        }

    }


    private async Task event_banner_SlideClick()
    {
        if (BannerJS != null)
        {
            await BannerJS.InvokeVoidAsync("event_banner_Slide");
        }
    
    }
}