/* nav 當頁顯示 */

#nav-Exhibition{
    color: white;
    /* background-image: url(/images/Other/nav_hover.png);*/
background-color: #aad4cd;
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
}

#Exhibition_hover_bottom{
    position: absolute;
    max-width: 300px;
    transform: translateX(-50%);
    left: 50%;
    bottom: -7px;
    opacity: 1;
    z-index: 0;
    transition: all .3s ease-out;
    pointer-events: none;
}

/* RWD NAV */
@media all and (max-width: 1000px){
    #nav-Exhibition{
        background-size: cover;
        background-position: center;
    }
}

.exhibition_block_bg{
    width: 100%;
    /* background-image: url(/images/Exhibition/exhibition_bg.png); */
    background-position: center;
    /* background-repeat: repeat; */
    background-image: linear-gradient(#3b82c994, #e7b83830), url(/images/Exhibition/exhibition_bg2.png);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    padding: 0px 0 130px;
}

.exhibition_block{
    /* border: 1px solid red; */
    max-width: 1920px;
    margin: 0 auto;
    width: 100%;
    padding: 1px 0 0px;
}

.exhibition_title{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    font-size: 34px;
    font-weight: 600;
    letter-spacing: 5px;
    margin: 120px auto 30px;
}

.exhibition_title_line{
    max-width: 308px;
    width: 90%;
}

.exhibition_picture_all{
    /* border: 1px solid rgb(253, 245, 245); */
    /* max-width: 1400px; */
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto 100px;
    flex-direction: row;
    justify-content: center;
}

.exhibition_picture{
    max-width: 250px;
    max-height: 187px;
    width: 100%;
    height: 100%;
    margin: 15px;
    border: 3px solid #ded2d3;
    overflow: hidden;
    box-shadow: 6px 6px 10px 1px rgb(12 9 9 / 29%);
    transition: all .2s ease-out;
}

.exhibition_picture img{
    width: 100%;
}

.exhibition_picture:hover{
    transform: scale(1.02);
}

@media all and (max-width: 600px){
    .exhibition_picture{
        max-width: 150px;
        height: 108px;
        margin: 10px;
    }

}


/* footer */

footer{
    /* max-width: 1920px; */
    width: 100%;
    height: 130px;
    margin: 0 auto;
    background-color: #ffffff4d;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -130px;
    transform: translateY(0px);
}

footer .copyright p{
    /* color: #ffffff; */
    font-size: 18px;
    white-space: nowrap;
}

@media all and (max-width: 600px){
    footer .copyright p{
        font-size: 17px;
    }
}
@media all and (max-width: 500px){
    footer .copyright p{
        font-size: 16px;
    }
}
@media all and (max-width: 450px){
    footer .copyright p{
        font-size: 13px;
    }
}