/* 節慶賽各分頁navbar */
.FestivalNavBlockSelect{
    min-width: 104px;
}

.FestivalNavBlockSelect select{
    max-width: 130px;
    width: 100%;
    height: 25px;
    outline: none;
    padding: 0px 5px 1px;
    margin-left: 5px;
    border-radius: 10px;
    border: 2.5px solid rgb(218, 202, 202);
    color: #324a66;
    font-size: 18px;
    line-height: 16px;
    box-shadow: 2px 2px 8px #66666663;
    background-color: #ebeae7;
    font-family: sans-serif !important;
    cursor: pointer;
    -moz-appearance: none;
    appearance: none;
    -webkit-appearance: none;
    background-image: url(/images/LunarNewYear/select-arrow.webp);
    background-repeat: no-repeat;
    background-position: right 0.35rem center;
    background-size: auto;
    padding: 1px 15px 1px 10px;
    outline: 0;
}

@media all and (max-width: 500px){
    .FestivalNavBlockSelect select{
        font-size: 14px;
        /* max-width: 80px; */
    }
}

.FestivalNavbar{
    font-family: sans-serif;
    /* border: 1px solid red; */
    width: 100%;
    position: fixed;
    top: 54px;
    z-index: 20;
    background-color: rgba(153, 33, 22, 0.89);
    box-shadow: 0px 2px 8px #06060663;
    overflow-x: auto;
    

    /* display: none; */
}

.FestivalNavbar ul{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    list-style: none;
    margin: 0;
    padding: 12px 12px 11px;
}
.FestivalNavbar ul li{
    border-right: 3px solid #d8b969e8;
}
.FestivalNavbar ul li:last-child {
    border-right: none;
}

.FestivalNavbar ul li a{
    color: #fff;
    font-size: 19px;
    letter-spacing: 0.8px;
    font-weight: bold;
    text-decoration: none;
    padding: 1.5px 30px 0px;
    white-space: nowrap;
    transition: all .1s ease-in-out;
}
.FestivalNavbar ul li a:hover{
    transform: scale(1.05);
}

/* 改scrollbar樣式 */
.FestivalNavbar::-webkit-scrollbar {
    height: 8px;
}

.FestivalNavbar::-webkit-scrollbar-thumb {
    background: #d8b969e8;
    border-radius: 10px;
}


.FestivalNavbar::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #133167;
}

@media all and (max-width: 1000px){
    .FestivalNavbar ul{
        justify-content: flex-start;
    }
}
@media all and (max-width: 500px){
    .FestivalNavbar{
        top: 44px;
    }
    .FestivalNavbar ul li a{
        font-size: 16px;
        padding: 1.5px 20px 0px;
    }
}
