/* 亞洲聯賽首頁 */

.indexBG{
    /* border: 1px solid brown; */
    width: 100%;
    background-image: url(/images/Index/index_BG.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 1158px;
    position: relative;
    /* z-index: -2; */
}

.mainBlock{
    /* border: 1px solid brown; */
    position: absolute;
    left: 50%;
    top: 57%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
    width: 90%;
}

#event_Logo{
    max-width: 322px;
    width: 60%;
    margin: 15px;
    animation: logoMove 3s 0s infinite;
}


@keyframes logoMove{

    0%{
        transform: translateY(0);
    }

    50%{
        transform: translateY(-20px);
    }

    100%{
        transform: translateY(0);
    }
}
.ceter_kimlan_LOGO{
    width: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
#index_kimlan_LOGO{
    max-width: 128px;
    max-height: 128px;
    width: 50%;
    margin: 0 5px;
}
#index_yomi_LOGO{
    max-width: 174px;
    width: 50%;
    margin: 0 5px;
}
#SnakeACL_kimlan{
    max-width: 577px;
    width: 90%;
}

#title_CN{
    max-width: 737px;
    width: 100%;
}

#title_EN{
    max-width: 564px;
    width: 90%;
}


#signUpEvent_button{
    border-radius: 50px;
    /* background-image: url(/images/Index/signUpEvent_button.webp); */
    /* max-width: 356px; */
    width: 90%;
    color: #ffffff;
    font-weight: 500;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 20px rgb(207 255 255 / 63%);
    transition: all .1s ease-out;
    margin: 40px auto 20px;
    position: relative;
    /* font-size: 36px; */
    max-width: 330px;
    font-size: 32px;
}

#signUpEvent_button img{
    max-width: 356px;
    width: 100%;
    /* height: 90px; */
}

#signUpEvent_button span{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    text-shadow: #000000 4px 3px 6px;
    z-index: 1;
}



@media all and (max-width: 600px){
    #signUpEvent_button{
        max-width: 300px;
        font-size: 30px;
    }
}

@media all and (max-width: 400px){
    #signUpEvent_button{
        max-width: 280px;
        font-size: 28px;
    }
}


#signUpEvent_button:hover{
    background-color: #b8b8b880;
    cursor: pointer;
    box-shadow: 0px 0px 20px 3px rgb(207 255 255 / 53%);
}

.watchLive{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


#watchLive_button{
    border-radius: 50px;
    /* background-image: url(/images/Index/watchLive_button.webp); */
    background-position: top center;
    max-width: 200px;
    width: 100%;
    color: #ffffff;
    font-size: 24px;
    font-weight: 500;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    /* box-shadow: 0px 0px 20px rgb(255 255 255 / 34%); */
    box-shadow: 6px 4px 5px 1px rgb(12 9 9 / 21%);
    transition: all .1s ease-out;
    margin: 25px;
    position: relative;
}

#watchLive_button img{
    width: 101%;
}
#watchLive_button span{
    text-shadow: #000000 4px 3px 6px;
    z-index: 1;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

#watchLive_button:hover{
    background-color: #95959542;
    cursor: pointer;
    box-shadow: 0px 0px 25px rgb(255 255 255 / 47%);
}

/* #downArrow{
    margin: 0 auto;
} */

/* 向下箭頭動畫 */
.arrows {
	width: 60px;
	height: 72px;
}

/* 向下箭頭動畫 */
.arrows path {
	stroke: #ffffff;
	fill: transparent;
	stroke-width: 1px;	
	animation: arrow 2s infinite;
	-webkit-animation: arrow 2s infinite; 
}

@keyframes arrow
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

@-webkit-keyframes arrow /*Safari and Chrome*/
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

.arrows path.a1 {
	animation-delay:-1s;
	-webkit-animation-delay:-1s; /* Safari 和 Chrome */
}

.arrows path.a2 {
	animation-delay:-0.5s;
	-webkit-animation-delay:-0.5s; /* Safari 和 Chrome */
}

.arrows path.a3 {	
	animation-delay:0s;
	-webkit-animation-delay:0s; /* Safari 和 Chrome */
}
#summary_arrows{
    margin-bottom: 40px;
}
.QRcode_fixed{
    border-radius: 35px;
    width: 200px;
    /* height: 258px; */
    background-image: url(/images/Prize/prize_fixed.webp);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 10%;
    right: 2%;
    z-index: 50;
    text-decoration: none;
    animation: glow 2s infinite;
    border: 2.5px solid #d2eeff6e;
    min-height: 140px;
    background-color: #70c5fb6e;
}
.QRcode_fixed:hover{
    cursor: pointer;
}

.QRcode_fixed_top{
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 125px;
}

@keyframes glow{
    0%{
        box-shadow: 0 0 20px #0aafe630, 0 0 20px rgb(10 175 230 / 0%);
    }
    50%{
        box-shadow: 0 0 50px #0aafe630, 0 0 50px #0aafe630;
    }
    100%{
        box-shadow: 0 0 20px #0aafe630, 0 0 20px rgb(10 175 230 / 0%);
    }
}

@media all and (max-width: 1920px){
    .QRcode_fixed{
        right: 2%;
    }
}

.QRcode_fixed_button{
    width: 170px;
    height: 80px;
    border-radius: 25px;
    background: none;
    background-image: url(/images/Prize/prize_fixed_button.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    border: none;
    /* padding: 30px; */
    margin: 15px auto 7px;
    filter: drop-shadow(2px 2px 3px rgb(0 0 0 / 52%));
    transition: all .1s ease-out;
    border: none;
}

.QRcode_fixed_button:hover{
    background-color: #b8b8b860;
}


.QRcode_fixed_button p{
    font-size: 26px;
    color: #fff;
    font-weight: 600;
    text-shadow: #000000 4px 3px 7px;
    letter-spacing: 2px;
    text-decoration: none;
}

.QRcode_fixed_text{
    font-size: 24px;
    color: #67EBE3;
    line-height: 32px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 3px;
}

#QRcode_arrow_down{
    animation: arrow_down 2s infinite;
    transition: all .1s ease-out;
    width: 33px;
}

@keyframes arrow_down{
    0%{
        margin-top: 5px;
    }
    50%{
        margin-top: 1px;
    }
    100%{
        margin-top: 5px;
    }
}
.QRcode_Slide{
    margin-bottom: 5px;
    /* display: none; */
}

.QRcode{
    /* border: 1px solid rgb(38, 228, 101); */
    margin: 10px auto 15px;
    max-width: 110px;
    min-width: 58px;
    display: block;
    box-shadow: 3px 3px 6px 2px rgb(50 62 62 / 45%);
}

.QRcode img{
    /* border: 1px solid rgb(20, 20, 204); */
    width: 100%;

}


/* @media all and (max-width: 1500px){
    .QRcode_fixed_button p {
        font-size: 26px;
    }
    .QRcode_fixed_button{
        width: 165px;
        height: 81px;
        border-radius: 25px;
        margin: 15px auto 8px;
    }
    .QRcode_fixed {
        border-radius: 40px;
        width: 190px;
        min-height: 145px;
    }
    .QRcode_fixed_top{
        height: 127px;
    }
} */
@media all and (max-width: 1500px){
    .QRcode_fixed_button p {
        font-size: 22px;
    }
    .QRcode_fixed_button{
        width: 145px;
        height: 71px;
        border-radius: 25px;
        margin: 13px auto 7px;
    }
    .QRcode_fixed {
        border-radius: 35px;
        width: 170px;
        min-height: 128px;
    }
    .QRcode_fixed_top{
        height: 120px;
    }
    #QRcode_arrow_down{
        width: 33px;
    }
    .QRcode{
        margin: 10px auto 15px;
    }
}
@media all and (max-width: 1200px){
    .QRcode_fixed_button p {
        font-size: 20px;
    }
    .QRcode_fixed_button{
        width: 127px;
        height: 61px;
        border-radius: 21px;
        margin: 11px auto 7px;
    }
    .QRcode_fixed {
        border-radius: 30px;
        width: 150px;
        min-height: 110px;
        top: 11%;
    }
    .QRcode_fixed_top{
        height: 108px;
    }
    #QRcode_arrow_down{
        width: 33px;
    }
    .QRcode{
        margin: 10px auto 15px;
        max-width: 90px;
    }
}
@media all and (max-width: 800px){
    .QRcode_fixed_button p {
        font-size: 18px;
    }
    .QRcode_fixed_button{
        width: 110px;
        height: 50px;
        border-radius: 10px;
        margin: 9px auto 7px;
    }
    .QRcode_fixed {
        border-radius: 24px;
        width: 130px;
        min-height: 99px;
        top: 11%;
    }
    .QRcode_fixed_top{
        height: 90px;
    }
    #QRcode_arrow_down{
        width: 30px;
    }
    .QRcode{
        margin: 10px auto 13px;
        max-width: 85px;
    }
}

@media all and (max-width: 600px){
    .QRcode_fixed_button p {
        font-size: 16px;
    }
    .QRcode_fixed_button {
        width: 97px;
        height: 45px;
        border-radius: 5px;
        margin: 9px auto 6px;
    }
    .QRcode_fixed{
        top: 10%;
        border-radius: 20px;
        width: 116px;
        min-height: 85px;
    }
    .QRcode_fixed_top {
        height: 84px;
    }
    #QRcode_arrow_down {
        width: 25px;
    }
    .QRcode {
        margin: 5px auto 10px;
        max-width: 80px;
    }
}

@media all and (max-width: 500px){
    .QRcode_fixed{
        top: 115px;
    }
}

/* 摘要區塊 */
.summary_bg{
    width: 100%;
    background-image: url(/images/Index/summary_bg.webp);
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    transform: translateY(-90px);

    /* display: none; */
}

.summary{
    /* border: 1px solid red; */
    width: 100%;
    /* padding: 130px 0 20px; */
}

.TitleTimeline{
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
}


.timeline{
    background-color: #2e629a8c;
    /* max-width: 385px; */
    /* width: 100%; */
    /* height: 153px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    align-content: center;
    flex-wrap: nowrap;
    margin: 40px 40px 0;
    padding: 15px;
}

.time{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    color: #fff;
    font-size: 24px;
    font-weight: 500;
    align-items: center;
    white-space: nowrap;
    padding: 0 10px;
    justify-content: flex-start;
    width: 100%;
    margin: 5px auto;
}

.time p{
    margin-left: 5px;
}

@media all and (max-width: 500px){
    .timeline{
        max-width: 340px;
        margin: 30px auto 0;
    }
    .time{
        font-size: 20px;
    }
    .time img{
        width: 28px;
    }
}

@media all and (max-width: 400px){
    .timeline{
        max-width: 310px;
        margin: 30px auto 0;
    }
    .time{
        font-size: 19px;
    }
    .time img{
        width: 25px;
    }
}
#index_timeline_01{
    color:#AAFFF0;
    font-weight: 600;
    margin-right: 5px;
}

#index_timeline_02{
    color:#FC8581;
    font-weight: 600;
    margin-right: 5px;
}

.summary_detail{
    /* border: 1px solid red; */
    display: flex;
    max-width: 1350px;
    width: 90%;
    margin: 60px auto 25px;
    align-items: center;
    justify-content: center;
}

.summary_area{
    /* border: 1px solid rgb(87, 243, 26); */
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    align-items: center;
}



.summary_cube_area{
    /* border: 1px solid blue; */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;    
}

.summary_cube_area:first-child{
    margin-bottom: 25px;
}

.summary_cube{
    /* background-size: cover; */
    background-position: right center;
    background-repeat: no-repeat;
    /* max-width: 420px; */
    width: 420px;
    height: 200px;
    /* margin: 20px auto; */
    padding: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 40px;
    position: relative;
}
#summary_cube_personal{
    margin-top: 50px;
    background-color: #FD8917;
    background-image: url(/images/Index/summary_personal.webp);
    box-shadow: inset 0px 0px 20px 6px rgb(102 67 34 / 84%), 6px 4px 5px 1px rgb(12 9 9 / 21%)

}
#summary_right_arrow::before{
    content: "28場總決賽";
    color: #FFFFFF;
    font-size: 24px;
    margin: 10px;
}
#summary_right_arrow::after{
    content: "13場總決賽";
    color: #FFFFFF;
    font-size: 24px;
    margin: 10px;
}

#summary_cube_team{
    background-color: #BF3522;
    background-image: url(/images/Index/summary_team.webp);
    box-shadow: inset 0px 0px 20px 6px rgb(98 16 16 / 84%), 6px 4px 5px 1px rgb(12 9 9 / 21%)
}

.summary_cube p{
    color: #fff;
    font-size: 40px;
    white-space: nowrap;
    font-weight: 600;
    letter-spacing: 1px;
    text-shadow: #585858 3px 3px 10px;
}
.summary_text{
    color: #FFD76D;
    font-weight: 600;
    font-size: 34px;
    margin: 5px auto;
}

#summary_right_arrow{

    max-width: 350px;
}

#summary_right_arrow img{
    width: 100%;
    margin: 5px 0;
    display: flex;
    flex-direction: column;
    min-width: 180px;
}

.summary_rate_type{
    /* border: 1px solid red; */
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.summary_rate_type_cube{
    font-size: 48px;
    font-weight: 600;
    box-shadow: 6px 4px 5px 1px rgb(12 9 9 / 21%);
    display: flex;
    justify-content: center;
    align-items: center;

    width: 289px;
    height: 190px;
    z-index: 2;
}

#type_elite{
    color: #ffe787;
    border-radius: 50px 50px 0 0;
    background-color: #B86400;
}
#type_free{
    color: #83EC88;
    border-radius: 0 0 50px 50px ;
    background-color: #658C50;
    position: relative;
}
#type_free::after{
    content: "每場賽組皆可多次參加";
    color: #62B1A2;
    font-size: 24px;
    position: absolute;
    bottom: -44px;
    white-space: nowrap;
}

.summary_rate_type_cube img{
    margin: 0 5px 5px 0;
}
#summary_line{
    width: 69px;
    height: 9px;
}
.summary_rate_type_cube_text{
    margin: 10px;
}
.summary_rate_type_cube_text p{
    color: #FFD76D;
    font-size: 47px;
    font-weight: 600;
    white-space: nowrap;
}
.summary_rate_type_cube_text span{
    color: #62B1A2;
    font-size: 30px;
    font-weight: 600;
}
#summary_money{
    max-width: 780px;
    width: 90%;
    margin: 15px;
}


@media all and (max-width: 1500px){
    .summary_cube{
        width: 350px;
        height: 180px;
    }
    .summary_cube p{
        font-size: 36px;
    }
    .summary_text{
        font-size: 32px;
    }
    #summary_right_arrow img{
        max-width: 200px;
    }
    #summary_right_arrow::before{
        font-size: 22px;
    }
    #summary_right_arrow::after{
        font-size: 22px;
    }
    .summary_rate_type_cube{
        font-size: 40px;
        width: 250px;
        height: 160px;
    }
    .summary_rate_type_cube img{
        width: 55px;
    }
    #summary_line {
        width: 50px;
        height: 6px;
    }
    .summary_rate_type_cube_text p{
        font-size: 40px;
    }
    .summary_rate_type_cube_text span{
        font-size: 26px;
    }
    #type_free::after{
        font-size: 22px;
    }
    #summary_money{
        max-width: 700px;
    }
}
@media all and (max-width: 1300px){
    .summary_cube {
        width: 320px;
        height: 160px;
    }
    .summary_cube p {
        font-size: 34px;
    }
    .summary_text {
        font-size: 30px;
    }
    #summary_right_arrow img {
        max-width: 180px;
        min-width: 160px;
    }
    #summary_right_arrow::before{
        font-size: 20px;
    }
    #summary_right_arrow::after{
        font-size: 20px;
    }
    .summary_rate_type_cube {
        font-size: 36px;
        width: 230px;
        height: 130px;
    }
    .summary_rate_type_cube img {
        width: 50px;
    }
    #type_free::after{
        font-size: 20px;
        bottom: -40px;
    }
    #summary_line {
        width: 44px;
        height: 4px;
    }
    .summary_rate_type_cube_text p {
        font-size: 36px;
    }
    #summary_money {
        max-width: 660px;
    }
}
@media all and (max-width: 1100px){
    .summary_cube {
        width: 280px;
        height: 150px;
    }
    .summary_cube{
        background-size: contain;
    }
    .summary_cube p {
        font-size: 32px;
    }
    .summary_text {
        font-size: 26px;
        margin: 7px auto;
    }
    #summary_right_arrow img {
        max-width: 150px;
        min-width: 130px;
    }
    #summary_right_arrow::before{
        font-size: 18px;
    }
    #summary_right_arrow::after{
        font-size: 18px;
    }
    .summary_rate_type_cube {
        font-size: 32px;
        width: 210px;
        height: 120px;
    }
    #type_free::after {
        font-size: 18px;
        bottom: -38px;
    }
    .summary_rate_type_cube_text p {
        font-size: 32px;
    }
    .summary_rate_type_cube_text span {
        font-size: 22px;
    }
    #summary_money {
        max-width: 620px;
    }
}
.summary_text_little{
    color: rgb(255, 255, 255);
    font-size: 18px;
    display: none;
}
#summary_top_arrow{
    display: none;
    margin: 10px;
}


@media all and (max-width: 1000px){
    .summary_detail{
        flex-direction: column;
        margin: 80px auto 60px;
    }
    .summary_area{
        flex-direction: row;
    }
    #summary_cube_personal{
        margin-top: 0px;
    }
    .summary_cube_area:first-child {
        margin-bottom: 0px;
    }
    .summary_cube_area{
        margin: 0 20px;
    }
    .summary_text {
        margin: 7px auto 0;
    }
    .summary_text_little{
        display: block;
    }
    #summary_top_arrow{
        display: block;
    }
    #summary_top_arrow img{
        width: 320px;
        height: 120px;
    }
    #summary_right_arrow{
        display: none;
    }
    .summary_rate_type{
        flex-direction: column;
    }
    #summary_line{
        transform: rotate(90deg);
        margin: 12px 0 5px 0;
        width: 30px;
        height: 6px;
    }
    .summary_rate_type_cube_text{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #type_elite{
        border-radius: 50px 0 0 50px;
    }
    #type_free{
        border-radius: 0 50px 50px 0;
    }
    #type_free::after {
        font-size: 18px;
        top: -30px;
        left: -1%;
        transform: translateX(-50%);
    }
    #summary_area_rate_type{
        margin: 30px;
    }
}

#summary_line_arrow{
    display: none;
}

@media all and (max-width: 700px){
    .summary_detail{
        margin: 20px auto 50px;
    }
    .summary_area{
        flex-direction: column;
    }
    .summary_cube_area{
        margin: 30px;
    }
    #summary_line_arrow{
        display: block;
        width: 6px;
        height: 45px;
        border: 3px solid #62B1A2;
        margin: 0 auto 10px;
    }
    #summary_top_arrow{
        display: none;
    }
    .summary_cube_area {
        margin: 30px auto 10px;
    }
    #summary_area_rate_type{
        flex-direction: row;
    }
 
}
@media (min-width: 500px) and (max-width: 700px){
    .summary_cube {
        width: 350px;
        height: 180px;
    }
    .summary_cube p {
        font-size: 36px;
    }
    .summary_text {
        font-size: 32px;
    }
    .summary_text_little {
        color: rgb(255, 255, 255);
        font-size: 20px;
    }   
}
@media all and (max-width: 500px){
    .summary_rate_type_cube {
        font-size: 28px;
        width: 170px;
        height: 110px;
    }
    .summary_rate_type_cube img {
        width: 40px;
    }
    .summary_rate_type_cube_text p {
        font-size: 24px;
    }
    .summary_rate_type_cube_text span {
        font-size: 20px;
    }
    #type_free::after {
        font-size: 16px;
    }
}
@media all and (max-width: 400px){
    .summary_rate_type_cube {
        font-size: 26px;
        width: 155px;
        height: 95px;
    }
    .summary_rate_type_cube img {
        width: 35px;
    }
    .summary_rate_type_cube_text p {
        font-size: 22px;
    }
    .summary_rate_type_cube_text span {
        font-size: 18px;
    }
}

/* 影片區塊 */
.videoBG{
    width: 100%;
    background-image: url(/images/Index/video_BG.webp);
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    /* height: 1008px; */
    transform: translateY(-220px);
    margin-bottom: -220px;
}


.video{
    width: 100%;
    padding: 100px 0;
}


/* 內頁標題 */

.index_blockTitle{
    border: 1px solid #70C5FB;
    border-left: 0;
    position: relative;
    max-width: 338px;
    width: 100%;
    box-shadow: 1px 3px 8px 0px rgb(39 39 39 / 34%);
    margin: 150px 0 0 0;
}


.index_blockTitle img{
    /* border: solid 1px rgb(26, 3, 61); */
    width: 100%;
}

.title_BG{
    background-color: #ffffff13;
    height: 212px;
    position: absolute;
    top: 12px;
    right: 10px;
}

.index_blockTitle p{
    color: #A3FFF1;
    font-size: 80px;
    font-weight: 600;
    letter-spacing: 10px;
    /* text-shadow: 0px 0px 8px rgb(255 255 255 / 51%); */
    padding-left: 10px;
    line-height: 110px;
}

@media all and (max-width: 1000px){
    .index_blockTitle{
        max-width: 285px;
    }

    .index_blockTitle img{
        height: 181px;
    }
    .title_BG{
        height: 158px;
    }
    .index_blockTitle p{
        font-size: 60px;
        line-height: 80px;
    }
}


@media all and (max-width: 600px){
    .index_blockTitle{
        max-width: 218px;
        margin: 90px 0 0 0;
    }
    .index_blockTitle img {
        height: 153px;
    }
    .title_BG{
        height: 130px;
    }
    .index_blockTitle p{
        font-size: 50px;
        line-height: 66px;
    }
    .videoArea{
        margin: 60px auto 50px;
    }
}

.videoArea{
    max-width: 1200px;
    width: 90%;
    /* transform: translateY(-31px);
    margin: 0 auto 150px; */
    display: flex;
    justify-content: center;
    transform: translateY(0px);
    /* margin: 50px auto 150px; */

    flex-direction: column;
    margin: 90px auto 50px;
    align-items: center;
}





@media all and (max-width: 600px){
    /* .videoArea{
        flex-wrap: wrap;
    } */
}

.videoText{
    /* border: solid 1px rgb(255, 230, 0); */
    width: 100%;
    max-width: 874px;
    /* margin: 0 20px; */
    white-space: nowrap;
}

.videoArea h1{
    font-size: 30px;
    color: #fff;
    font-weight: 600;
    text-shadow: #585858 2px 2px 2px;
    margin-bottom: 15px;
}
@media all and (max-width: 800px){
    .videoArea h1 {
        font-size: 24px;
    }
}


.videoBlock{
    /* border: solid 1px rgb(251, 251, 251); */
    position: relative;
    height: 0;
    padding-bottom: 56.25%;
    /* margin: 30px; */
    width: 100%;
}


.videoBlock iframe{
    /* border: solid 1px rgb(251, 251, 251); */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


.video .video_all .videoArea .videoDownload{
    /* border: solid 1px rgb(251, 251, 251); */
    text-align: center;
    /* margin: 0 auto; */
}

.video .video_all .videoArea .videoDownload p{
    /* border: solid 1px rgb(251, 251, 251); */
    font-size: 24px;
    font-weight: 500;
    color: #ffffff;
    margin: 50px 0 30px;
    font-weight: 600;
}

.video .video_all .videoArea .videoDownload .Download_QRcode a{
    /* border: solid 1px rgb(251, 251, 251); */
    margin: 10px 15px;
    display: inline-block;
}

@media all and (max-width: 350px){
    .video .video_all .videoArea .videoDownload .Download_QRcode a{
        margin: 10px 8px;
    }
}


.videoButton{
    /* border: solid 1px rgb(255, 0, 255); */
    /* max-width: 240px; */
    width: 100%;
    /* margin: 0 20px; */
    max-width: none;
    margin: 40px auto;
    max-width: 874px;
}


.index_button_left{
    /* border: 1px solid red; */
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    flex-direction: row;
    /* width: 30%; */
    /* margin: 20px; */
}

.video_btn{
    max-width: 240px;
    margin: 0 20px 20px 0;
    transition: all .1s;
    filter: drop-shadow(2px 2px 3px rgb(0 0 0 / 52%));
}

.video_btn img{
    width: 100%;
}

.video_btn:hover{
    transform: scale(1.02); 
    cursor: pointer;
}
#video_btn1{
    margin-right: 20px;
}


@media all and (max-width: 600px){
    .index_button_left{
        justify-content: space-between;
    }
}

/* nav 當頁顯示 */
.nav-item:hover{
    background-image: url(/images/Other/nav_hover.webp) !important;
    background-color: #aad4cd00;
}
.nav_hover_bottom{
    display: block;
}
.nav-link:hover{
    background: none;
}
.nav-link:hover{
    background: none;
}

.bg-dark{
    /* background-image: url(/images/Other/nav_banner_acl.webp); */
}
.text-light {
    color: #ffffff !important;
}
a.text-light:focus, a.text-light:hover {
    color: #ffffff !important;
}
.nav-item a{
    text-shadow: #585858 1px 1px 2px;
}
#nav-index, #nav-Arena{
    color: white;
    background-image: url(/images/Other/nav_hover_acl.webp);
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
}

#Arena_hover_bottom{
    position: absolute;
    max-width: 300px;
    transform: translateX(-50%);
    left: 50%;
    bottom: -7px;
    opacity: 1;
    z-index: 0;
    transition: all .3s ease-out;
    pointer-events: none;
}
#nav_ul-ACLIndex{
    color: white;
    background-image: url(/images/Other/nav_hover_acl.webp);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
}

.userIcon {
    fill: #f7f7f7;
}

/* RWD NAV */
@media all and (max-width: 1000px){
    #nav-Arena{
        background-size: cover;
        background-position: center;
    }
}

.ACLnamingState{
    display: flex;
}

.live_stream{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    max-width: 874px;

    /* 暫時關閉 */
    /* display: none; */
}
.live_host{
    /* border: 1px solid red; */
    background-color: #EEB437;
    border-radius: 25px;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    /* padding: 20px; */
    /* flex-wrap: wrap; */
}

.live_guest{
    /* border: 1px solid red; */
    background-color:#414141;
    border-radius:  0 0 25px 25px;
    position: relative;
}

.live_title{
    position: absolute;
    top: 0;
    left: 40px;
    /* max-width: 170px; */
    height: 56px;
    padding: 0px 30px;
    /* width: 100%; */
    border-top-left-radius: 0px 0px;
    border-top-right-radius: 0px 0px;
    border-bottom-left-radius: 70px 115px;
    border-bottom-right-radius: 70px 115px;
    background-color: #313131;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    color: #fff;
    letter-spacing: 3px;
    font-weight: 600;
    white-space: nowrap;
}
.host_picture{
    border-radius: 50%;
    /* max-width: 170px; */
    width: 170px;
    /* width: 100%; */
    height: 170px;
    background-color: beige;
    overflow: hidden;
    margin: 10px 25px;
}

.host_introduction{
    font-size: 24px;
    max-width: 300px;
    font-weight: 600;
    margin: 10px 25px;
    letter-spacing: normal;
}
.live_host_name{
    position: relative;
    margin: 0 0 15px 0;
}

.live_host_name:after{
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    max-width: 100px;
    width: 100%;
    height: 3px;
    background-size: cover;
    background-position: right;
    background-image: url(/images/Index/live_line.webp);
}

.guest_block{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 623px;
    width: 95%;
    margin: 65px auto 20px;
}

.guest{
    display: flex;
    align-items: center;
    font-size: 28px;
    font-weight: 600;
    margin: 10px 0;
    transition: all .2s ease-in-out;
    width: 50%;
    justify-content: flex-start;
}
.guest a{
    text-decoration: none;
    color: #000;
    transition: all .2s ease-in-out;

}

.guest_a:hover .guest_picture{
    transition: all .2s ease-in-out;
    transform: scale(1.03);
    box-shadow: 0px 0px 15px 5px rgb(255 235 148 / 76%);
}
.guest_a:hover .guest_name{
    transition: all .2s ease-in-out;
    /* font-size: 32px; */
    color: #fff;
}


.guest_picture{
    border-radius: 50%;
    width: 140px;
    height: 140px;
    /* width: 100%; */
    background-color: beige;
    overflow: hidden;
    margin: 10px;
    border: 5px solid #c39870;
}
.guest_name{
    white-space: nowrap;
}

@media all and (max-width: 800px){
    .guest a{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .guest{
        justify-content: center;
    }

    /* .live_host{
        flex-direction: column;
        align-items: center;
    }
    .host_introduction {
        max-width: none;
        width: 85%;
        margin: 20px;
    }
    .host_picture{
        margin: 60px 0 5px 0;
    }
    .guest_block {
        margin: 80px auto 20px;
    } */
}

@media all and (max-width: 600px){
    /* .live_title{
        left: 30px;
        max-width: 145px;
        height: 50px;
        font-size: 24px;
    }
    .guest_picture{
        width: 130px;
        height: 130px;
    }
    .guest_block {
        margin: 75px auto 20px;
    } */
    .guest_picture{
        width: 130px;
        height: 130px;
        margin: 5px;
    }
    .guest{
        font-size: 26px;
    }
    .live_title{
        font-size: 26px;
        left: 50%;
        transform: translateX(-50%);
    }
}
@media all and (max-width: 400px){
    .guest_picture{
        width: 110px;
        height: 110px;
    }
    .guest{
        font-size: 22px;

    }

}


@media all and (max-width: 500px){
    .indexBG{
        height: 1000px;
    }
    .mainBlock{
        top: 57%;
    }
}

#acl_footer{
    display: flex;
}

/* 亞洲聯賽S1各分頁navbar */
.ACLIndexNavbar{
    display: block;
}

.nav-item a, .nav-item_a {
text-shadow: #585858 1px 1px 2px;
}
