html{
    background-image: linear-gradient(to bottom, #3E5C7E 0%,#4B7D74 20% ,#4B7D74 40%, #3E5C7E 80%);
}


.myaccount_login{
    background-image: url(/images/Description/description_bg2.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
}

.myaccount_login h1{
    color: #fffc;
    margin: 50px auto;
}

@media all and (max-width: 600px){
    .myaccount_login h1{
        margin: 20px auto;
        font-size: 2rem;
    }
}


/* nav 當頁顯示 */
#nav-user >.nav-link{
    /* background-color: #aad4cd; */
}
.user-ul-web{
    display: none;
}

#user_hover_bottom{
    position: absolute;
    max-width: 300px;
    transform: translateX(-50%);
    left: 50%;
    bottom: -7px;
    opacity: 1;
    z-index: 0;
    transition: all .3s ease-out;
    pointer-events: none;

    display: none;
}

@media all and (max-width: 700px){
    #nav-user{
        background-size: cover;
        background-position: center;
    }
}



/* 內頁標題 */
.blockTitle{
    border: 1px solid #70C5FB;
    border-left: 0;
    position: relative;
    max-width: 338px;
    width: 100%;
    box-shadow: 1px 3px 8px 0px rgb(39 39 39 / 34%);
    height: 235px;
    margin-top: 150px;
}


.blockTitle img{
    width: 100%;
}

.title_BG{
    background-color: #ffffff13;
    height: 212px;
    position: absolute;
    top: 12px;
    right: 10px;
}

.blockTitle p{
    color: #A3FFF1;
    font-size: 80px;
    font-weight: 600;
    letter-spacing: 10px;
    /* text-shadow: 0px 0px 8px rgb(255 255 255 / 51%); */
    padding-left: 10px;
    line-height: 110px;
}


@media all and (max-width: 1000px){
    .blockTitle{
        max-width: 285px;
        height: 181px;
    }

    .blockTitle img{
        height: 181px;
    }
    .title_BG{
        height: 158px;
    }
    .blockTitle p{
        font-size: 60px;
        line-height: 80px;
    }
}


@media all and (max-width: 600px){
    .blockTitle{
        max-width: 218px;
        height: 153px;
    }
    .blockTitle img {
        height: 153px;
    }
    .title_BG{
        height: 130px;
    }
    .blockTitle p{
        font-size: 50px;
        line-height: 66px;
    }
}


.rank_area{
    /* border: 1px solid red; */
    width: 80%;
    margin: 50px 30px;
}

@media all and (max-width: 1900px){
    .rank_area{
        margin: 50px auto;
    }
}

/* 個人資訊 */
.personal_information{
    background-image: url(/images/Myaccount/shp_01.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    max-width: 964px;
    width: 90%;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 40px;
    margin: 200px auto;
    box-shadow: inset 1px 1px 9px 1px rgb(255 255 255 / 23%), 3px 3px 14px 3px rgb(54 54 54 / 10%);
    justify-content: space-evenly;
    align-items: center;
    text-shadow: 3px 2px 7px #0000008c;
}
.mypage{
    color: #f8f9fa;
    font-size: 32px;
    font-weight: 600;
    letter-spacing: 10px;
    border-bottom: 2px solid #ffffff73;
    padding: 2px 6px 2px 10px;
}



.info_detail{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.info_icon{
    max-width: 232px;
    width: 100%;
    max-height: 232px;
    margin: 10px;
    min-width: 150px;
    border-radius: 50%;
    box-shadow: inset 0px 0px 13px 2px #19648036;
}

.info_icon img{
    width: 100%;
}

.information{
    /* border: 1px solid red; */
    display: flex;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 425px;
    width: 100%;
    margin: 60px 0 0 0;
}

.info_row{
    display: flex;
    color: #fff;
    font-size: 26px;
    font-weight: 500;
    margin: 5px;
    flex-wrap: wrap;
    white-space: nowrap;
    padding: 6px 15px 4px;
    background-color: #34657b69;
    align-items: center;
}

.info_row_title{
    width: 40%;
    font-size: 24px;
    border-right: 3px solid #badaff1f;
}

.info_row_show{
    padding-left: 15px;
}

#edit_row{
    display: flex;
    font-size: 26px;
    font-weight: 500;
    margin: 5px;
    flex-wrap: wrap;
    white-space: nowrap;
    justify-content: flex-end;
}

#edit_icon{
    display: flex;
    white-space: nowrap;
    align-items: center;
    background-color: #1c3d53bf;
    height: 250px;
    font-size: 22px;
    padding: 4px 5px 3.7px 17px;
    border-radius: 50px;
    color: #d0f1f8;
    cursor: pointer;
    box-shadow: -2px 2px 8px #06060661;
    margin: 15px 0 0px;
    transition: all .15s ease-in-out;
    height: 52px;
}

#edit_icon img{
    max-width: 40px;
    width: 100%;
    margin: 0 0 0 10px;
    border-radius: 50%;
    box-shadow: 2px 2px 8px #06060663;
}

#edit_icon:hover{
    transform: scale(1.03);
}

/* 我的主頁RWD */
@media all and (max-width: 1200px){
    .personal_information{
        max-width: 700px;
    }
    .info_icon{
        max-width: 200px;
        margin: 20px;
    }
    .information{
        margin: 10px 0 0 0;
    }
}
@media all and (max-width: 1000px){
    .personal_information{
        max-width: 600px;
    }
    .mypage{
        font-size: 30px;
    }
    .info_icon{
        max-width: 220px;
        margin: 20px auto;
    }
    .information{
        margin: 0px;
    }
    .info_row{
        font-size: 24px;
    }
    .info_row_title{
        font-size: 22px;
    }
    #edit_icon{
        font-size: 20px;
        height: 43px;
    }
    #edit_icon img{
        max-width: 36px;
        margin: 0 0 0 7px;
    }
}

@media all and (max-width: 800px){
    .personal_information{
        max-width: 500px;
        margin: 150px auto 100px;
    }
    .mypage{
        font-size: 28px;
    }
    .info_icon{
        max-width: 200px;
        margin: 20px auto;
    }
}

@media all and (max-width: 600px){
    .personal_information{
        max-width: 470px;
    }
    .mypage{
        font-size: 26px;
    }
    .info_icon{
        max-width: 170px;
        margin: 20px auto;
    }
    .information{
        margin: 0px;
    }
    .info_row{
        font-size: 22px;
    }
    .info_row_title{
        font-size: 20px;
    }
    #edit_icon{
        font-size: 18px;
        height: 40px;
    }
    #edit_icon img{
        max-width: 30px;
        margin: 0 0 0 7px;
    }
}
@media all and (max-width: 500px){
    .personal_information {
        max-width: 370px;
        padding: 30px;
    }
    .mypage {
        font-size: 24px;
    }
    .info_icon {
        max-width: 150px;
        margin: 20px auto;
    }
    .info_row {
        font-size: 20px;
    }
    .info_row_title {
        font-size: 18px;
    }
    #edit_icon {
        font-size: 16px;
        height: 36px;
    }
    .info_detail{
        width: 100%;
    }
    .info_icon img {
        width: 96%;
    }
}
@media all and (max-width: 400px){

}



.my_match_bg{
    /* background-image: url(/images/Myaccount/my_match.webp);
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat; */
    /* padding: 130px 0; */
    /* margin: -200px 0 0; */
    /* height: 100vh; */
}

.my_match_block{
    max-width: 1000px;
    /* width: 90%; */
    /* background-color: #67ADA1; */
    background-image: linear-gradient(to right,#67ada1e0 0% ,#8dbbb3e6 50%, #67ada1e8 100%);
    border-radius: 25px;
    /* margin: 50px auto 20px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 20px;
    box-shadow: 1px 1px 15px 1px rgb(36 36 36 / 27%) inset, 3px 3px 14px 3px rgb(54 54 54 / 26%);
    text-shadow: 3px 2px 7px #00000045;
    margin: 0 20px;
}

.match_inner{
    width: 85%;
    display: flex;
    flex-direction: column;
    margin: 30px auto 0;
}

.match_row{
    /* border: 1px solid red; */
    display: flex;
    flex-direction: row;
    margin: 10px;

}

.match_row_myawardnotice{
    width: 90%;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 40px auto 70px;
    flex-direction: row;
    align-items: center;
    color: white;
    font-size: 18px;
}

.match_row_select{
    display: flex;
    flex-wrap: nowrap;
}

.match_row_select_column{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* align-items: start; */
}

@media (max-width: 500px){
    .match_row_myawardnotice{
        justify-content: flex-start;
    }
    .match_row_select{
        flex-wrap: wrap;
    }
    
}


.match_row_title{
    color: #fff;
    font-size: 30px;
    font-weight: 500;
    padding: 5px 20px;
    border-right: 3px solid #4F887E;
    margin: 18px;
    white-space: nowrap;
}


/* 報名狀態：未報名 */
.registration_status{
    /* background-color: #4F615E; */
    background-image: linear-gradient(to right,#4F615E 0% ,#38403e85 30%, #4F615E 100%);    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #A7D7CE;
    font-weight: 500;
    max-width: 250px;
    width: 100%;
    padding: 13px 45px;
    white-space: nowrap;
    margin: 10px;
    font-size: 24px;
}

/* 報名狀態：已報名 */
.registered{
    /* background-color: #2D7AAE; */
    /* background-image: linear-gradient(to right,#2d7aaed4 0% ,#488ebdd1 50%, #2d7aaea8 100%); */
    background-image: linear-gradient(to right,#ffbd5cf7 0% ,#efb666eb 100%);
    box-shadow: inset 0px 0px 6px 4px #324e6038;
    color: #fff;
}

.match_row_status{
    /* border: 1px solid rgb(68, 34, 255); */
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding: 0 20px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.registration_status_icon{
    width: 30px;
    margin-left: 10px;
}

.match_row_show{
    /* border: 1px solid rgb(68, 34, 255); */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: space-evenly;
    padding: 0 20px;
    margin: 10px;
}

.final_qualification{
    /* background-color: #2D7AAE; */
    border-radius: 5px;
    width: 100%;
    padding: 10px 30px;
    margin: 10px auto;
    font-weight: 500;
    box-shadow: inset 0px 0px 6px 4px #324e6038, 2px 2px 7px 1px rgb(54 54 54 / 17%);
    background-image: linear-gradient(to right,#2d7aaed4 0% ,#488ebdd1 50%, #2d7aaea8 100%);
}

.finals_name{
    border-radius: 5px;
    color: #fff;
    font-size: 28px;
}

.finals_time{
    color: #A1DEFD;
    font-size: 24px;
    text-align: end;
}

.final_qualification_none{
    color: #A7D7CE;
    border-radius: 5px;
    width: 100%;
    padding: 10px 30px;
    margin: 10px auto;
    font-weight: 500;
    font-size: 28px;
    padding: 20px;
    box-shadow: inset 0px 0px 6px 4px #324e6038;
    background-image: linear-gradient(to right,#4F615E 0% ,#38403e8f 80%, #4F615E 100%);
    /* background-color: #4F615E; */
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 1px;
}

#final_qualification_block{
    /*display: none;*/
}

@media (max-width: 1200px){
    .match_row_title{
        font-size: 26px;
    }
    .registration_status{
        font-size: 22px;
        max-width: 230px;
    }
    .finals_name{
        font-size: 24px;
    }
    .finals_time{
        font-size: 22px;
    }
    .final_qualification_none{
        font-size: 26px;
    }

}

@media (max-width: 1000px){
    .match_row_title{
        font-size: 22px;
        padding: 5px 15px 0px 0px;
    }
    .registration_status{
        font-size: 18px;
        max-width: 180px;
    }
    .finals_name{
        font-size: 20px;
    }
    .match_inner{
        width: 90%;
    }
    .finals_time {
        font-size: 18px;
    }
    .final_qualification_none{
        font-size: 24px;
    }

}
@media (max-width: 800px){
    .match_inner{
        width: 100%;
    }
    .match_row_title {
        font-size: 20px;
        margin: 10px;
    }
    .match_row_status{
        padding: 0 10px;
    }
    .match_row_show{
        padding: 0 10px;
    }
    .final_qualification_none{
        font-size: 22px;
    }
    .none_awards{
        font-size: 22px;
    }
}
@media (max-width: 600px){
    .match_row{
        flex-direction: column;
    }
    .match_row_title{
        border-left: 3px solid #4F887E;
        border-right: none;
        padding-left: 10px;
    }
    .final_qualification_none{
        font-size: 20px;
    }
    .match_row_show{
        margin: 0;
    }
}
@media (max-width: 550px){
    .registration_status{
        max-width: 160px;
    }
}





/* _______________得獎細項___________________ */

/* 申請獎金按鈕 */
#receive_signUpEvent_button{
    border-radius: 50px;
    /* background-image: url(/images/Index/signUpEvent_button.webp); */
    max-width: 300px;
    width: 90%;
    color: #ffffff;
    font-weight: 600;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 20px 2px rgb(207 255 255 / 16%);
    transition: all .1s ease-out;
    /* margin: 10px; */
    position: relative;
    font-size: 32px;
    letter-spacing: 3px;
}



#receive_signUpEvent_button img{
    /* max-width: 356px; */
    width: 100%;
    /* height: 90px; */
}

#receive_signUpEvent_button span{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    text-shadow: #0000006b 4px 3px 6px;
    z-index: 1;
}



@media all and (max-width: 400px){
    #receive_signUpEvent_button{
        max-width: 280px;
        font-size: 28px;
    }
}


#receive_signUpEvent_button:hover{
    background-color: #b8b8b880;
    cursor: pointer;
    /* box-shadow: 0px 0px 20px 3px rgb(207 255 255 / 53%); */
}

.receive_over{
    background: none !important;
    cursor: not-allowed !important;
}

/* 個別得獎細項裡的按鈕 */
.receive_signUpEvent_button{
    border-radius: 50px;
    /* background-image: url(/images/Index/signUpEvent_button.webp); */
    max-width: 220px;
    width: 90%;
    color: #ffffff;
    font-weight: 500;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 20px 2px rgb(207 255 255 / 16%);
    transition: all .1s ease-out;
    margin: 5px 0;
    position: relative;
    font-size: 22px;
    letter-spacing: 1px;
}

.receive_signUpEvent_button img{
    /* max-width: 356px; */
    width: 100%;
    /* height: 90px; */
}

.receive_signUpEvent_button span{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    text-shadow: #0000006b 4px 3px 6px;
    z-index: 1;
}



@media all and (max-width: 400px){
    .receive_signUpEvent_button{
        max-width: 280px;
        font-size: 28px;
    }
}


.receive_signUpEvent_button:hover{
    background-color: #b8b8b880;
    cursor: pointer;
    /* box-shadow: 0px 0px 20px 3px rgb(207 255 255 / 53%); */
}


.receive_block{
    max-width: 1000px;
    width: 100%;
    /* background-color: #67ADA1; */
    background-image: linear-gradient(to right,#67ada1e0 0% ,#8dbbb3e6 50%, #67ada1e8 100%);
    border-radius: 25px;
    /* margin: 0 20px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 20px;
    box-shadow: 1px 1px 15px 1px rgb(36 36 36 / 27%) inset, 3px 3px 14px 3px rgb(54 54 54 / 26%);
    text-shadow: 2px 2px 4px #00000054;
}

/* 尚未獲獎 */
.none_awards{
    color: #A7D7CE;
    border-radius: 15px;
    width: 80%;
    padding: 30px;
    margin: 50px 0 10px;
    font-weight: 500;
    font-size: 28px;
    box-shadow: inset 0px 0px 6px 4px #324e6038;
    background-image: linear-gradient(to right,#4F615E 0% ,#38403e8f 80%, #4F615E 100%);
    /* background-color: #4F615E; */
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 2px;
    /* display: none; */
}

.progress_bar{
    /* border: 1px solid red; */
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: 30px auto 0;
    align-items: center;
    justify-content: center;
    max-width: 700px;

    /* display: none; */
}

.progress_bar_step{
    display: flex;
    flex-direction: column;
    align-items: center;
    white-space: nowrap;
    position: relative;
}

#progress_bar_step_01::before{
    content: "填寫申請表";
    color: #ffffff;
    font-size: 24px;
    position: absolute;
    top: -44px;
}
#progress_bar_step_02::before{
    content: "審核資料";
    color: #ffffff;
    font-size: 24px;
    position: absolute;
    top: -44px;
}
#progress_bar_step_03::before{
    content: "寄送完成";
    color: #ffffff;
    font-size: 24px;
    position: absolute;
    top: -44px;
}

.progress_bar_border{
    border-top: 2.5px solid #fff;
    /* max-width: 100px; */
    width: 100%;
}
.progress_bar_step_icon{
    max-width: 74px;
}
@media all and (max-width: 1000px){
    .progress_bar_step_icon{
        max-width: 65px;
    }
}
@media all and (max-width: 800px){
    .progress_bar_step_icon{
        max-width: 60px;
    }
    #progress_bar_step_01::before{
        font-size: 22px;
    }
    #progress_bar_step_02::before{
        font-size: 22px;
    }
    #progress_bar_step_03::before{
        font-size: 22px;
    }
}
@media all and (max-width: 600px){
    .progress_bar_step_icon{
        max-width: 45px;
    }
    #progress_bar_step_01::before{
        font-size: 18px;
        top: -35px;
    }
    #progress_bar_step_02::before{
        font-size: 18px;
        top: -35px;
    }
    #progress_bar_step_03::before{
        font-size: 18px;
        top: -35px;
    }
}
@media all and (max-width: 400px){
    .progress_bar_step_icon{
        max-width: 40px;
    }
    #progress_bar_step_01::before{
        font-size: 16px;
        top: -30px;
    }
    #progress_bar_step_02::before{
        font-size: 16px;
        top: -30px;
    }
    #progress_bar_step_03::before{
        font-size: 16px;
        top: -30px;
    }
}




/* 獲獎細項 */
.winning_awards{
    /* border: 1px solid red; */
    width: 90%;
    margin: 40px 0 0px;

    /* 暫時關閉 */
    /* display: none; */
}

/* checkbox 樣式 */
/* 元々のチェックボックス（非表示） */
input[type="checkbox"]{
    display: none;
}
/* チェックボックスの代わりを成すラベル */
input[type="checkbox"]+.receive_label{
    display: none;
    cursor: pointer;
    display: inline-block;
    position: relative;
    padding-left: 60px;
    padding-right: 10px;
}
/* ラベルの左に表示させる正方形のボックス□ */
input[type="checkbox"]+.receive_label::before{
    content: "";
    position: absolute;
    display: block;
    box-sizing: border-box;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-top: -20px;
    left: 0;
    top: 50%;
    border: 4px solid;
    border: none;
    /* border-color:  #437a91;  */
    /* 枠の色変更 お好きな色を */
    background-color: #ffffff; /* 背景の色変更 お好きな色を */
}

/* チェックが入った時のレ点 */
input[type="checkbox"]:checked+.receive_label::after{
    content: "";
    position: absolute;
    display: block;
    box-sizing: border-box;
    width: 26px;
    height: 15px;
    margin-top: -9px;
    top: 50%;
    left: 7.3px;
    transform: rotate(-45deg);
    border-bottom: 7px solid;
    border-left: 7px solid;
    border-color: #5CB4A3;
    border-radius: 3px;
}

/* 已領取後checkbox狀態 disabled */
input[type="checkbox"]:disabled + .receive_label::before{
    background-color: #65837D;
}
input[type="checkbox"]:disabled + .receive_label::after{
    content: "";
    position: absolute;
    display: block;
    box-sizing: border-box;
    width: 26px;
    height: 15px;
    margin-top: -9px;
    top: 50%;
    left: 7.3px;
    transform: rotate(-45deg);
    border-bottom: 7px solid;
    border-left: 7px solid;
    border-color: #4F615E;
    border-radius: 3px;
}




/* _______________________ */


.receive_main{
    /* border: 1px solid red; */
    display: flex;
    flex-direction: row;
    align-content: space-between;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    margin: 15px 0 60px;
}

.all_checkbox{
    font-size: 28px;
    color: #fff;
    font-weight: 600;
    letter-spacing: 0.5px;
}

.receive_list{
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.receive_checkbox{
    margin-right: 20px ;

}

.receive_label{
    width: 100%;
}

.receive_inner{
    /* border: 1px solid rgb(17, 32, 241); */
    display: flex;
    width: 100%;
    margin: 20px 0;
}

.receive_form{
    width: 100%;
}

.card_row_left{
    width: 100%;
}

.card_left{
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    align-items: flex-start;
    margin: 5px 0;
    /* flex-wrap: wrap; */
}

.award_number_row{
    flex-wrap: nowrap;
}
.card_row_right{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 0 auto;
}
.card_right{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    margin: 5px 0;
}

.card_row_title{
    width: 30%;
    font-size: 20px;
    border-right: 2px solid #f3f3f345;
    white-space: nowrap;
    min-width: 132px;
    max-width: 132px;
}

.card_row_show{
    padding-left: 15px;
    /* word-break: break-all; */
}




.checkbox_card{
    color: #fff;
    width: 100%;
    display: flex;
    flex-direction: column;
    box-shadow: inset 0px 0px 6px 4px #324e6038, 4px 4px 7px 1px rgb(54 54 54 / 11%);
    background-image: linear-gradient(to right,#2d7aaed4 0% ,#488ebdd1 50%, #2d7aaea8 100%);
    border-radius: 15px;
    /* text-shadow: 3px 2px 7px #00000069; */
}


.checkbox_card_title{
    color: #fff;
    font-size: 30px;
    display: flex;
    /* flex-direction: column; */
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 8px 30px;
    background-color: #153E50;
    background-image: linear-gradient(to right, #1d5870c7 0%, #133c4dde 100%);
    border-radius: 15px 15px 0 0;
    white-space: nowrap;
    flex-wrap: wrap
}

.card_disabled{
    color: #A7D7CE;
    background-image: linear-gradient(to right, #606060d1 0%, #6a6a6aa3 50%, #606060d1 100%);
    position: relative;
}

.card_title_disabled{
    color: #A7D7CE;
    background-image: linear-gradient(to right, #555555 0%, #767676 100%);
}

/* 領獎進度動態區 */
.card_title_progress_step{
    /* border: 1px solid red; */
    display: flex;
    flex-direction: row;
    margin: 0 25px;
    align-items: center;
    font-size: 16px;
    color: #9ec1ccd9;
    text-shadow: none;
}

.diamod {
    width: 30px;
    height: 30px;
    background: #8f9ca4;
    transform: rotate(45deg);
    margin: 11px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #153E50;
    font-size: 26px;
}
.diamod span{
    transform: rotate(-45deg);
}

/* 當下領獎進度 */
.diamod_currently{
    background-color: #39ceffd9;
    color: #ffffff;
}
/* 已領取 */
.diamod_received{
    background-color: #71807f;
    color: #4F615E;
}

.checkbox_card_inner{
    font-size: 24px;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    /* white-space: nowrap; */
    flex-wrap: wrap;
}


.received_stamp{
    position: absolute;
    right: 42px;
    top: 57px;
    transform: rotate(345deg);
    opacity: 0.85;
}

.received_stamp img{
    width: 90%;
}

.approval_status{
    border: 6px solid #ffffff;
    color: #ffffff;
    font-size: 40px;
    padding: 0px 10px;
    margin: 10px 0;
    font-weight: 500;
    transform: rotate(346deg) translate(-25px,-25px);
    box-shadow: 2px 2px 7px 2px rgb(60 60 60 / 38%);
    text-shadow: 2px 2px 20px rgb(12 6 6 / 61%);
}

.approval_status span{

}
@media all and (max-width: 1200px){
    .checkbox_card_title{
        font-size: 26px;
    }
    .checkbox_card_inner {
        font-size: 20px;
    }
    .receive_signUpEvent_button{
        font-size: 20px;
        max-width: 200px;
    }
    .card_row_title{
        min-width: 120px;
        max-width: 120px;
    }
    .winning_awards{
        margin: 30px 0 0px;
    }
    .none_awards{
        font-size: 26px;
    }
    .diamod{
        width: 25px;
        height: 24px;
        font-size: 20px;
        margin: 9px;

    }
}
@media all and (max-width: 1000px){
    .checkbox_card_title {
        font-size: 22px;
    }
    .checkbox_card_inner{
        flex-direction: column;
        font-size: 18px;
        
    }
    .card_row_title {
        min-width: 100px;
        max-width: 100px;
        font-size: 18px;
    }
    .card_left{
        margin: 10px 0;
    }
    .card_row_left {
        width: 100%;
    }

    .card_row_show {
        padding-left: 12px;
        word-break: break-all;
    }
    .receive_signUpEvent_button{
        margin: 10px 0;
    }
    .none_awards{
        font-size: 24px;
    }
    .approval_status{
        /* transform: rotate(346deg) translate(180px,20px); */
    }
}
@media all and (max-width: 800px){
    .approval_status{
        transform: rotate(346deg) translate(110px,10px);
        font-size: 38px;
    }
    .card_row_right {
        width: 100%;
        align-items: center;
    }
}
@media all and (max-width: 600px){

    .checkbox_card_inner{
        padding: 15px 20px;
    }
    .receive_signUpEvent_button {
        font-size: 18px;
        max-width: 190px;
    }
    .card_row_title {
        min-width: 90px;
        max-width: 90px;
        font-size: 18px;
    }
    .winning_awards {
        width: 95%;
    }
    .none_awards{
        font-size: 20px;
    }
    .diamod{
        width: 20px;
        height: 20px;
        margin: 7px;
        font-size: 18px;
    }
    .approval_status{
        transform: rotate(346deg) translate(55px,-5px);
        font-size: 37px;
    }
}
@media all and (max-width: 450px){
    .checkbox_card_title {
        font-size: 20px;
    }
    .card_left{
        flex-direction: column;
        margin: 15px 0;
    }
    .card_row_title{
        border-left: 2px solid #fff4b2;
        padding-left: 5px;
        color: #fff4b2;
        min-width: 80px;
        max-width: 80px;
    }
    .checkbox_card_inner {
        padding: 10px 20px;
    }
    .card_row_title {
        font-size: 16px;
        border-right: none;
    }
    .card_row_show {
        padding-left: 10px;
        margin: 5px 0 0;
    }
    .approval_status{
        transform: rotate(346deg) translate(15px,-20px);
        font-size: 35px;
        border: 5px solid #ffffff;
    }

}



/* 彈窗區 */
.window{
    /* border: 1px solid red; */
    width: 100%;
    height: 100vh;
    background-color: #000000b6;
    /* position: relative; */
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;  
    z-index: -10;
    transition: all .3s ease-out;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    /* 彈窗隱藏 */
}

/* #submit_success_bg{
    background-color: #00000000;

    z-index: 1;
    opacity: 1;
    transition: all .3s ease-out;
    position: static;
    top: 0;
    left: 0;  
} */
.window_open{
    display: flex;
    z-index: 1000;
    opacity: 1;
}

#edit_info_window{
   /* display: none;*/

}

#application_window{
    /* display: none; */
}

#submit_success{
    max-width: 500px;
    padding: 36px;
}
#submit_success_icon{
    width: 100px;
    height: 100px;
    margin: 25px auto 30px;
}
#submit_success h1{
    font-size: 38px;
    letter-spacing: 2px;
    font-weight: 600;
    color: #fff;
}
#submit_success_span{
    font-size: 24px;
    letter-spacing: 1px;
    /* font-weight: 600; */
    color: #fff;
    margin: 5px auto 25px;
}
#success_window_close{
    margin: 20px auto;
}

@media all and (max-width: 800px){
    #submit_success {
        max-width: 460px;
    }
    #submit_success h1 {
        font-size: 36px;
    }
    #submit_success_span{
        margin: 5px auto 20px;
    }
}
@media all and (max-width: 600px){
    #submit_success{
        width: 80%;
    }
    #submit_success_icon {
        width: 80px;
        height: 80px;
        margin: 10px auto 25px;
    }
    #submit_success h1 {
        font-size: 32px;
    }
    #submit_success_span {
        font-size: 20px;
    }
}

@media all and (max-width: 500px){
    #submit_success h1 {
        font-size: 28px;
    }
    #submit_success_span {
        margin: 2px auto 10px;
    }
    #submit_success_icon {
        width: 70px;
        height: 70px;
        margin: 5px auto 20px;
    }
    #submit_success {
        padding: 30px;
    }
}





.window_title p{
    font-size: 28px;
    color: #e0eeff;
}

.window_bg{
    background-image: url(/images/Myaccount/award_application.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    max-width: 1000px;
    width: 90%;
    border-radius: 50px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    box-shadow: inset 1px 1px 7px 1px rgb(13 44 60);
    text-shadow: 3px 2px 7px #0000008c;
    max-height: 80vh;
    overflow: hidden;
    /* top: 15%; */
}

#submit_success{

}

.window_title{
    background-image: url(/images/Myaccount/window_title.webp);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top;
    width: 90%;
    max-width: 700px;
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.window_title p{
    font-size: 28px;
    color: #e0eeff;
    letter-spacing: 1px;
    margin: 20px auto;
    font-weight: 500;
    letter-spacing: 2px;
}


.window_close {
    /* border: 1px red solid; */
    position: absolute;
    top: 30px;
    right: 30px;
    z-index: 1;
}

.window_close:hover {
    cursor: pointer;
    /*opacity: 0.5;
    transition: all .05s ease-out; */
    filter: drop-shadow(1px 1px 10px rgb(255, 255, 255));
}

.window_input_block{
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 90px auto 30px;
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 30px;
}

/* 改scrollbar樣式 */
.window_input_block::-webkit-scrollbar {
    width: 15px;
}

.window_input_block::-webkit-scrollbar-thumb {
    background: #3572b0;
    border-radius: 10px;
}


.window_input_block::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #133167;
}

.form_row{
    /* border: 1px rgb(44, 247, 37) solid; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    /* align-items: flex-start; */
    width: 100%;
    white-space: nowrap;
    margin: 12px 0;
}

@media all and (max-width: 1000px){
    .form_row{
        justify-content: flex-start
    }
    .window_row_title{
        width: 30%;
    }
    .window_input_block{
        width: 90%;
    }
}



.window_row_title{
    width: 25%;
    font-size: 22px;
    color: #e0eeff;
    /* text-align: center; */
}

.window_row_show{
    font-size: 22px;
    color: #ffffff;
    width: 65%;
    display: flex;
    /* flex-wrap: wrap; */
    align-items: center;
    justify-content: flex-start;
    margin: 0 0 0 10px;
}

.window_input{
    background-color: #002140;
    width: 100%;
    border: none;
    border-radius: 5px;
    /* margin: 5px 0; */
    color: #ffffff;
    padding: 10px 15px;
    font-size: 20px;
}

.window_input_short{
    background-color: #002140;
    max-width: 90px;
    min-width: 90px;
    width: 100%;
    border: none;
    border-radius: 5px;
    margin: 0 10px 0 10px;
    color: #ffffff;
    padding: 10px 15px;
    font-size: 20px;
}
.window_label_short{
    font-size: 20px;
    margin: 5px 0;
}

@media all and (max-width: 800px){
    .window_label_short{
        font-size: 18px;
    }
}
@media all and (max-width: 600px){
    .window_label_short{
        font-size: 16px;
    }
}

.window_input:focus {
    outline: none;
    box-shadow: #ffffffcf 0px 0px 8px 0px;
}

.window_input_short:focus {
    outline: none;
    box-shadow: #ffffffcf 0px 0px 8px 0px;
}

.window_input_textarea{
    background-color: #002140;
    width: 100%;
    border: none;
    border-radius: 5px;
    /* margin: 5px 0; */
    resize: none;
    color: #ffffff;
    padding: 10px 15px;
    font-size: 20px;
    height: 100px;
}

.window_input_textarea:focus{
    outline: none;
    box-shadow: #ffffffcf 0px 0px 8px 0px;
}


/* 日曆icon樣式修改 */
#edit_birth_date:hover{
    cursor: pointer;
}
input[type="date"]:hover{
    cursor: pointer;
}
input[type=date]:invalid::-webkit-datetime-edit {
    color: #999;
    cursor: pointer;
}

input[type="date"] {
    position: relative;
}
input[type="date"]:after {
    font-family: FontAwesome;
    content: "\f073";  /* FontAwesome Webアイコンここに設定 */
    color: #fff;
    padding: 0 5px;
}
input[type="date"]:hover:after {
    color: #d6f9fd;
}
input[type="date"]::-webkit-calendar-picker-indicator {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto;
    height: auto;
    color: transparent;
    background: transparent;
z-index:100;
}
/* adjust increase/decrease button */
input[type="date"]::-webkit-inner-spin-button {
    z-index: 1;
}
 /* adjust clear button */
 input[type="date"]::-webkit-clear-button {
     z-index: 1;
 }


/* checkbox 樣式 */
/* 元々のチェックボックス（非表示） */
input[type="radio"]{
   /* display: none;*/
   width: 40px;
   height: 40px;
   transform: translateX(40px);
   z-index: 1;
   opacity: 0;
   cursor: pointer;
   margin-left: -40px;
}
/* チェックボックスの代わりを成すラベル */
input[type="radio"]+.edit_label{
    display: none;
    cursor: pointer;
    display: inline-block;
    position: relative;
    padding-left: 50px;
    /* padding-right: 10px; */
    margin: 5px 40px 5px 0;
}
/* ラベルの左に表示させる正方形のボックス□ */
input[type="radio"]+.edit_label::before{
    content: "";
    position: absolute;
    display: block;
    box-sizing: border-box;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-top: -20px;
    left: 0;
    top: 50%;
    border: 4px solid;
    border: none;
    /* border-color:  #437a91;  */
    /* 枠の色変更 お好きな色を */
    background-color: #00213F; /* 背景の色変更 お好きな色を */
}

/* チェックが入った時のレ点 */
input[type="radio"]:checked+.edit_label::after{
    content: "";
    position: absolute;
    display: block;
    box-sizing: border-box;
    width: 26px;
    height: 15px;
    margin-top: -9px;
    top: 50%;
    left: 7.3px;
    transform: rotate(-45deg);
    border-bottom: 7px solid;
    border-left: 7px solid;
    border-color: #ffffff;
    border-radius: 3px;
}

/* 卡控 */
.edit_error {
    color: #ff6666;
    text-align: center;
    font-size: 18px;
    margin: 10px;
    display: none;
}
input[type="radio"]+.edit_label2{
    margin: 5px 0px 5px 0;
}
.error_border{
    border: 1px solid red;
}



.multipleLines_row{
    align-items: flex-start;
}
.multipleLines_label{
    margin-top: 10px;
}
.application_IDPicture{
    background: none;
    padding: 10px 0px;
    width: 100%;
    max-width: 250px;
    color: rgb(218, 218, 218);
    letter-spacing: 1px;
    font-size: 18px;
}
.application_IDPicture:focus{
    box-shadow:none;
}
.short_row{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    margin: 5px 0;
    /* width: 100%; */
}
.window_input_full{
    background-color: rgb(0, 33, 64);
    width: 100%;
    color: rgb(255, 255, 255);
    font-size: 20px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    border-radius: 5px;
    margin: 0 0px 0 10px;
    padding: 10px 15px;
    /* max-width: 256px; */
}
.window_input_full:focus {
    outline: none;
    box-shadow: #ffffffcf 0px 0px 8px 0px;
}
@media (max-width: 1000px){
    .window_input_full{
        padding: 8px 13px;
    }
    .window_row_show{
        flex-wrap: wrap;
    }
}
@media (max-width: 600px){
    .window_input_full {
        padding: 6px 11px;
        font-size: 16px;
    }
}


#bankAccount_row{
    white-space: nowrap;
}


/* 編輯視窗儲存按鈕 */
.window_submit{
    border-radius: 50px;
    max-width: 250px;
    width: 70%;
    color: #ffffff;
    font-size: 28px;
    font-weight: 500;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 20px rgb(207 255 255);
    transition: all .1s ease-out;
    margin: 30px;
    position: relative;
    background: none;
    padding: 0px;
    border: 0px;
}

.window_submit img{
    max-width: 356px;
    width: 100%;
    /* height: 90px; */
}

.window_submit span{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    text-shadow: #000000 4px 3px 6px;
    z-index: 1;
}

.window_submit:hover{
    background-color: #b8b8b880;
    cursor: pointer;
    box-shadow: 0px 0px 25px rgb(207 255 255);
}

@media all and (max-width: 1000px){
    .window_submit{
        font-size: 26px;
    }
}
@media all and (max-width: 800px){
    .window_submit{
        font-size: 24px;
        max-width: 220px;
    }
}
@media all and (max-width: 600px){
    .window_submit{
        font-size: 22px;
    }
}
@media all and (max-width: 400px){
    .window_submit{
        font-size: 20px;
    }
}

/* checkbox 樣式 */
/* 元々のチェックボックス（非表示） */
.window_checkbox[type="checkbox"]{
    /*display: none;*/
}
/* チェックボックスの代わりを成すラベル */
.window_checkbox[type="checkbox"]+.window_checkbox_label{
    display: none;
    cursor: pointer;
    display: inline-block;
    position: relative;
    padding-left: 60px;
    padding-right: 10px;
    margin: 15px 0;
    white-space: normal;
}
/* ラベルの左に表示させる正方形のボックス□ */
.window_checkbox[type="checkbox"]+.window_checkbox_label::before{
    content: "";
    position: absolute;
    display: block;
    box-sizing: border-box;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    margin-top: -20px;
    left: 0;
    top: 50%;
    border: 4px solid;
    border: none;
    /* border-color: #437a91; */
    background-color: #002142;
}
.window_checkbox[type="checkbox"]+.window_checkbox_label::after{
    content: "";
    position: absolute;
    display: block;
    box-sizing: border-box;
    width: 24px;
    height: 15px;
    margin-top: -10px;
    top: 50%;
    left: 7.3px;
    transform: rotate( 
-45deg);
    border-bottom: 7px solid;
    border-left: 7px solid;
    border-color: #5D6971;
    border-radius: 3px;
}

/* チェックが入った時のレ点 */
.window_checkbox[type="checkbox"]:checked+.window_checkbox_label::before{
    content: "";
    position: absolute;
    display: block;
    box-sizing: border-box;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    margin-top: -20px;
    left: 0;
    top: 50%;
    border: 4px solid;
    border: none;
    /* border-color: #437a91; */
    background-color: #2FAB49;
}
.window_checkbox[type="checkbox"]:checked+.window_checkbox_label::after{
    content: "";
    position: absolute;
    display: block;
    box-sizing: border-box;
    width: 24px;
    height: 15px;
    margin-top: -10px;
    top: 50%;
    left: 7.3px;
    transform: rotate(
-45deg);
    border-bottom: 7px solid;
    border-left: 7px solid;
    border-color: #fff;
    border-radius: 3px;
}


.window_checkbox_row{
    justify-content: flex-start;
    margin: 15px 0 ;
}

.window_checkbox_row:first-child{
    margin-top: 20px;
}
.window_checkbox_row:last-child{
    margin-bottom: 20px;
}
.checkbox_row{
    font-size: 20px;
    color: #ffffff;
    margin: 0 0 0 50px;
}
.radio_row_show{
    justify-content: flex-end;
}
@media all and (max-width: 1000px){
    .checkbox_row{
        margin: 0;
    }
    .window_checkbox[type="checkbox"]+.window_checkbox_label{
        padding-left: 50px;
    }
    .title_long{
        white-space: normal;
    }
}
@media all and (max-width: 800px){
    .checkbox_row{
        margin: 0;
        font-size: 18px;
    }
    .application_IDPicture{
        font-size: 16px;
    }
}

@media all and (max-width: 600px){
    .checkbox_row{
        font-size: 16px;
    }
    .application_IDPicture{
        font-size: 14px;
    }
}



@media all and (max-width: 1000px){
    .window_bg{
        width: 90%;
    }
    .window_row_title{
        font-size: 22px;
    }
    .window_row_show{
        font-size: 22px;
    }
    .window_input{
        padding: 8px 13px;
    }
    .window_input_short{
        padding: 8px 13px;
    }
}

@media all and (max-width: 800px){
    .window_input_block{
        width: 95%;
        padding-right: 5px;
        margin: 60px auto 0px;
    }
    .window_title p {
        font-size: 26px;
        margin: 14px auto;
    }
    .window_row_title {
        font-size: 20px;
    }
    .window_row_show {
        font-size: 20px;
        width: 70%;
    }
    
}

@media all and (max-width: 600px){
    .window_row_title {
        font-size: 18px;
        margin: 5px auto;
        width: 86%;
        text-align: start;
    }
    .window_title {
        background-image: url(/images/Myaccount/window_title.webp);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
        width: 120%;
        /* max-width: 340px; */
        height: 60px;
        position: absolute;
        top: 0px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .window_title p{
        margin: 8px auto 8px;
        font-size: 22px;
    }
    .window_close {
        position: absolute;
        top: 17px;
        right: 26px;
        z-index: 1;
        width: 18px;
    }
    .window_input_block::-webkit-scrollbar {
        width: 11px;
    }
    .window_bg{
        padding: 20px 15px 35px;
    }
    .window_input_block{
        padding-right: 5px;
        margin: 60px auto 0px;
    }
    .form_row{
        flex-direction: column !important;
        margin: 10px 0;
    }
    .window_row_show {
        font-size: 16px;
        width: 90%;
        /* justify-content: center; */
    }
    #remit_info_row_show{
        justify-content: flex-start;
    }
    .only_show_row{
        flex-direction: row !important;
        width: 90%;
        margin: 5px 0;
        flex-wrap: nowrap;
    }

    .only_show_row:nth-child(3){
        padding-bottom: 20px;
        border-bottom: 1px solid #ffffff6e;
    }
    .only_show_input{
        width: 55%;
        justify-content: flex-start;
    }
    .multipleLines_row {
        align-items: center;
    }
    .only_show_title{
            text-align: start;
    }
    .application_IDPicture{
        max-width: none;
    }
    .window_checkbox_row{
        align-items: flex-start;
    }
    .window_input_textarea{
        font-size: 16px;
    }
    .window_input{
        font-size: 16px;
    }
    .window_input_short{
        font-size: 16px;
    }
}

#application_awardNumber{
    background-color: #00214000;
}

/* 測試 */
.HandleFileSelected_label{
    position: relative;
    background: none;
    padding: 10px 0px;
    width: 100%;
    max-width: 250px;
    color: rgb(218, 218, 218);
    letter-spacing: 1px;
    font-size: 18px;
    margin: 0 15px 0 0;
    /* border: 1px solid red; */
}
.HandleFileSelected:hover{
    cursor: pointer;
}
.HandleFileSelected_button:hover{
    cursor: pointer;
}
.HandleFileSelected_label:hover{
    cursor: pointer;
}
.HandleFileSelected{
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    padding: 0;
    height: 100%;
}
.HandleFileSelected_uploadtext{
    margin-left: 0px;
}
.text{
    color: rgb(218, 218, 218);
    font-size: 18px;
}

.my_match_select{
    margin: 10px;
    outline: none;
    font-size: 22px;
    padding: 5px 10px;
    border-radius: 7px;
    border: none;
    background-color: #d9ebff;
}

@media (max-width: 1000px){
    .my_match_select{
        font-size: 18px;
    }
}