/* nav 當頁顯示 */
#nav-myMatch > .nav-link {
    background-color: #aad4cd;
}
.user-ul-web{
    display: none;
}

#myMatch_hover_bottom{
    position: absolute;
    max-width: 300px;
    transform: translateX(-50%);
    left: 50%;
    bottom: -7px;
    opacity: 1;
    z-index: 0;
    transition: all .3s ease-out;
    pointer-events: none;
}

/* RWD NAV */
@media all and (max-width: 1000px){
    #nav-myMatch{
        background-size: cover;
        background-position: center;
    }
}
/* NAV 資產頁面選單 */
.nav-li-normal{
    display: none;
}

.nav-li-particular{
    display: flex;
    flex-direction: row;
}

/* RWD */
@media (max-width: 1000px) {
    .nav-li-particular{
        flex-direction: column;
    }
}



.myMatch_Background{
    width: 100%;
    height: 100vh;
    /* background-image: url(/images/Myaccount/my_match.png);
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;*/
    position: fixed; 
    z-index: -1;
    background: #253A4B;
}

.myMatch{
    /* border: 1px solid red; */
    max-width: 1000px;
    margin: 200px auto;
    width: 90%;
    transition: all .15s ease-in-out;
}
.myMatchTitle{
    color: #69ada2;
    font-size: 40px;
    font-weight: bold;
    margin: 5px 25px;
    text-shadow: 2px 2px 5px #24242431;
}

@media all and (max-width: 800px){
    .myMatchTitle{
        font-size: 36px;
    }
}
@media all and (max-width: 600px){
    .myMatch{
        margin: 120px auto;
    }
}
@media all and (max-width: 500px){
    .myMatchTitle{
        font-size: 32px;
    }
}

.MarketPlaceButton{
    display: flex;
}

.myprofileSidebar{
    display: block;
}

/* 當頁顯示 */
#accountManagementUl-eSport{
    background-color: #67AEA2;
    border-radius: 0 50px 50px 0;
    transform: scale(1.01);
    color: #fff !important;
    transition: all .15s ease-in-out;
}
#accountManagementUl-eSport li::before{
    z-index: 1 !important;
    opacity: 1 !important;
    /* transition: all .2s ease-in-out; */
}
@media all and (max-width: 1920px){
    #accountManagementUl-eSport li::before{
    left: 65px !important;
    }
}

/* #accountManagementUl-eSport {
    background-color: #67AEA2;
    border-radius: 0 50px 50px 0;
    transform: scale(1.01);
    color: #fff !important;
    transition: all .15s ease-in-out;
}
#accountManagementUl-eSport li::before{
    z-index: 1 !important;
    opacity: 1 !important;
    transition: all .2s ease-in-out;
}
@media all and (max-width: 1920px){
    #accountManagementUl-eSport li::before{
    left: 65px !important;
    }
} */