/* nav 當頁顯示 */
#nav_ul-myPage {
    color: white;
    /* background-image: url(/images/Other/nav_hover.png);*/
background-color: #aad4cd;
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
}