.prize_block{
    /* max-width: 1920px; */
    width: 100%;
    background-image: url(/images/Prize/awards.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 72px 0 0 0;
}

.prize_area{
}
/* .money img{
    width: 100%;
} */


.prize_banner{
    margin: 40px 0 50px 0;
    /* max-width: 1920px; */
    width: 100%;
    background-image: url(/images/Prize/BANNER_bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* position: relative; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-evenly;
    text-shadow: 3px 3px 5px rgb(0 0 0 / 75%);
}

#banner_text{
    max-width: 739px;
    width: 80%;
    margin: 30px 0px 10px;
}


.join_block{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px;
}

.join_text{
    color: #ffffff;
    font-size: 34px;
    font-weight: 500;
    margin: 10px;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    white-space: nowrap;
}


#prize_signUpEvent_button{
    border-radius: 50px;
    /* background-image: url(/images/Index/signUpEvent_button.png); */
    max-width: 300px;
    width: 90%;
    color: #ffffff;
    font-weight: 600;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    /* box-shadow: 0px 0px 20px rgb(207 255 255 / 63%); */
    transition: all .1s ease-out;
    /* margin: 10px; */
    position: relative;
    font-size: 32px;
    letter-spacing: 3px;
}

#prize_signUpEvent_button img{
    /* max-width: 356px; */
    width: 100%;
    /* height: 90px; */
}

#prize_signUpEvent_button span{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    text-shadow: #000000 4px 3px 6px;
    z-index: 1;
}


/* @media all and (max-width: 1000px){
    #prize_signUpEvent_button{
        max-width: 330px;
        font-size: 32px;
    }
} */

/* @media all and (max-width: 600px){
    #prize_signUpEvent_button{
        max-width: 300px;
        font-size: 30px;
    }
} */

@media all and (max-width: 400px){
    #prize_signUpEvent_button{
        max-width: 280px;
        font-size: 28px;
    }
}


#prize_signUpEvent_button:hover{
    background-color: #b8b8b880;
    cursor: pointer;
    /* box-shadow: 0px 0px 20px 3px rgb(207 255 255 / 53%); */
}

.prize_detail{
    /* border: 1px solid red; */
    /* max-width: 1920px; */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.prize_picture{
    max-width: 1200px;
    width: 90%;
    margin: 50px 0 0 0;
}

.prize_picture img{
    width: 100%;
}

.prize_picture_rwd{
    max-width: 730px;
    width: 90%;
    margin: 50px 0 0 0;
    display: none;
}

.prize_picture_rwd img{
    width: 100%;
}

.prize_text{
    color: #ffffff;
    font-size: 22px;
    margin: 30px;
}

@media all and (max-width: 700px){
    .prize_picture{
        display: none;
    }
    .prize_picture_rwd{
        display: flex;
    }
    .prize_text{
        font-size: 16px;
        margin: 20px;
    }
    .join_text{
        font-size: 24px;
    }
    #prize_signUpEvent_button{
        font-size: 26px;
    }
    #prize_signUpEvent_button img{
        max-width: 250px;
    }
    
}

.gift_detail{
    /* border: 1px solid red; */
    width: 100%;
    /* max-width: 1920px; */
}

.gift_title{
    color: #A3FFF1;
    font-size: 34px;
    font-weight: 500;
    text-align: center;
    line-height: 44px;
    max-width: 400px;
    margin: 40px 10px;
}
#gift_title_02{
    font-size: 28px;
}

.gift_block{
    /* border: 1px solid red; */
    display: flex;
    margin: 80px auto 40px;
    justify-content: space-between;
}

.gift_info{
    /* border: 1px solid red; */
    position: relative;
    /* height: 423px; */
    width: 100%;
}
#gift_info_01{
    max-width: 1161px;
    height: 423px;
}
#gift_info_02{
    max-width: 1048px;
    height: 454px;
    margin: 20px 0px 0 -290px;
}

.gift_bg{
    max-width: 1161px;
    width: 100%;
    position: absolute;
}
#gift_bg_01{
    max-width: 1161px;
    left: 0;
    bottom: 0;
    z-index: 0;
}
#gift_bg_02{
    max-width: 1048px;
    bottom: 0;
    z-index: 0;
}

.gift_pic{
    width: 40%;
    position: absolute;
    z-index: 1;
}
#gift_pic_01{
    max-width: 379px;
    left: 14%;
    bottom: 40px;
}
#gift_pic_02{
    max-width: 428px;
    left: 20%;
    bottom: 40px;
}

.gift_info_text{
    color: #fff;
    line-height: 45px;
    text-align: center;
    position: absolute;
    z-index: 2;
    text-shadow: #585858d9 2px 2px 5px;
}
#gift_info_text_01{
    left: 44%;
    bottom: 5%;
}
#gift_info_text_02{
    left: 58%;
    bottom: 13%;
}

.gift_info_text_01{
    font-size: 26px;
}
.gift_info_text_02{
    font-size: 48px;
}
.gift_info_text_03{
    font-size: 28px;
}

@media all and (max-width: 1600px){
    .gift_info_text{
        line-height: 37px;
    }
    .gift_info_text_01 {
        font-size: 24px;
    }
    .gift_info_text_02 {
        font-size: 40px;
    }
    .gift_info_text_03 {
        font-size: 24px;
    }
    #gift_info_02{
        margin: 20px 0px 0 -210px;
    }
    .gift_block{
        margin: 40px auto;
    }
}
@media all and (max-width: 1200px){
    .gift_info_text {
        line-height: 36px;
    }
    .gift_info_text_01 {
        font-size: 22px;
    }
    .gift_info_text_02 {
        font-size: 36px;
    }
    .gift_info_text_03 {
        font-size: 22px;
    }
    #gift_pic_01{
        left: 10%;
    }
    #gift_info_text_01{
        left: 42%;
    }
    .gift_title{
        font-size: 30px;
        line-height: 42px;
        margin: 40px 10px 10px;
    }
    #gift_title_02{
        font-size: 24px;
    }
}
@media all and (max-width: 1000px){
    .gift_info_text {
        line-height: 32px;
    }
    .gift_info_text_01 {
        font-size: 20px;
    }
    .gift_info_text_02 {
        font-size: 30px;
    }
    .gift_info_text_03 {
        font-size: 18px;
    }#gift_info_01{
        height: 300px;
    }
    #gift_info_02{
        height: 320px;
        margin: 20px 0px 0 -145px;
    }
    .gift_title {
        font-size: 26px;
        line-height: 38px;
        max-width: 300px;
    }
}
@media all and (max-width: 800px){
    .gift_block{
        flex-direction: column;
    }
    #gift_info_01 {
        height: 350px;
    }
    #gift_info_02 {
        margin: 60px 0px 0 0px;
        align-self: flex-end;
    }
    .gift_info{
        width: 90%;
    }
    .gift_info_text_01 {
        font-size: 22px;
    }
    .gift_info_text_02 {
        font-size: 36px;
    }
    .gift_info_text_03 {
        font-size: 22px;
    }
    #gift_title_02{
        font-size: 22px;
    }
}
@media all and (max-width: 600px){
    #gift_info_01 {
        height: 280px;
    }
    #gift_info_02 {
        margin: 0;
        align-self: flex-end;
    }
    .gift_info_text_01 {
        font-size: 20px;
    }
    .gift_info_text_02 {
        font-size: 32px;
    }
    .gift_info_text_03 {
        font-size: 20px;
    }
    .gift_title {
        font-size: 24px;
        line-height: 38px;
        margin: 30px auto 10px;
    }
    .gift_block {
        margin: 20px auto 40px;
    }
}

@media all and (max-width: 500px){
    .gift_pic{
        width: 50%;
    }
    #gift_pic_01 {
        left: 6%;
    }
    #gift_pic_02{
        left: 8%;
    }
    #gift_info_text_02{
        left: 48%;
    }
    .gift_info_text {
        line-height: 28px;
    }
    .gift_info_text_01 {
        font-size: 16px;
    }
    .gift_info_text_02 {
        font-size: 26px;
    }
    .gift_info_text_03 {
        font-size: 16px;
    }
    .gift_title {
        line-height: 34px;
    }
}
@media all and (max-width: 400px){
    .gift_block {
        margin: 30px auto 70px;
    }
    .gift_title {
        font-size: 22px;
        line-height: 34px;
    }
    #gift_info_01 {
        height: 240px;
    }
    #gift_info_02 {
        height: 280px;
    }
    .receiveAward{
        padding: 150px 0;
    }
}


.receiveAward{
    /* max-width: 1920px; */
    width: 100%;
    background-image: url(/images/Prize/receive_bg.png);
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    padding: 243px 0;
    margin-top: -90px;
    position: relative;
}
.prize_titile{
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
}

@media all and (max-width: 1100px){
    .receiveAward{
        margin-top: -127px;
    }
    .receiveAward_title {
        font-size: 24px;
    }
}
@media (max-width: 700px){
    .receiveAward_title {
        font-size: 16px;
    }
}

/* 內頁標題 */
.blockTitle{
    border: 1px solid #70C5FB;
    border-left: 0;
    position: relative;
    max-width: 338px;
    width: 100%;
    box-shadow: 1px 3px 8px 0px rgb(39 39 39 / 34%);
}


.blockTitle img{
    width: 100%;
}

.title_BG{
    background-color: #ffffff13;
    height: 212px;
    position: absolute;
    top: 12px;
    right: 10px;
}

.blockTitle p{
    color: #A3FFF1;
    font-size: 80px;
    font-weight: 600;
    letter-spacing: 10px;
    /* text-shadow: 0px 0px 8px rgb(255 255 255 / 51%); */
    padding-left: 10px;
    line-height: 110px;
}


@media all and (max-width: 1000px){
    .blockTitle{
        max-width: 285px;
    }

    .blockTitle img{
        height: 181px;
    }
    .title_BG{
        height: 158px;
    }
    .blockTitle p{
        font-size: 60px;
        line-height: 80px;
    }
}


@media all and (max-width: 600px){
    .blockTitle{
        max-width: 218px;
    }
    .blockTitle img {
        height: 153px;
    }
    .title_BG{
        height: 130px;
    }
    .blockTitle p{
        font-size: 50px;
        line-height: 66px;
    }
}

.receiveAward_title{
    font-size: 26px;
    color: #A3FFF1;
    font-weight: 500;
    margin: 35px 40px 0px;
    font-weight: 600;
}
@media all and (max-width: 700px){
    .receiveAward_title{
        font-size: 16px;
        font-weight: 500;
    }
}

.receiveAward_block{
    /* border: 1px solid red; */
    margin: 100px auto 0;
    max-width: 1920px;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: nowrap;
    align-content: center;
}

.block_01{
    max-width: 417px;
    width: 100%;
    position: relative;
    /* margin: 10px; */
}

.block_01 img{
    width: 100%;
}

.block_01 p{
    position: absolute;
    left: 50%;
    top: 12%;
    transform: translate(-50%,-50%);
    font-size: 26px;
    font-weight: 600;
    white-space: nowrap;
}

#prize_arrow_right{
    margin: 0 0 0 -30px;
}


.block_02{
    max-width: 417px;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.block_02 img{
    width: 100%;
}

.block_02_text{
    position: absolute;
    color: #fff;
    font-size: 26px;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.block_02_text p{
    margin: 3px auto;
}


@media all and (max-width: 1600px){
    .receiveAward_block p{
        font-size: 24px;
    }
}
@media all and (max-width: 1400px){
    .receiveAward_block p{
        font-size: 22px;
    }
}
@media all and (max-width: 1200px){
    .receiveAward_block p{
        font-size: 20px;
    }
}
@media all and (max-width: 1100px){
    .receiveAward_block p{
        font-size: 26px;
    }
    .receiveAward_block{
        flex-direction: column;
    }
    #prize_arrow_right{
        transform: rotate(90deg);
        margin: 22px 22px 22px 22px;
        width: 50px;
    }
}
@media (max-width: 500px){
    .receiveAward_block p {
        font-size: 20px;
    }
}


.prize_fixed{
    border-radius: 50px;
    width: 266px;
    height: 258px;
    background-image: url(/images/Prize/prize_fixed.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 30%;
    right: 1%;
    z-index: 1;
    text-decoration: none;
    animation: glow 2s infinite;
}
/* .prize_fixed:hover{
    cursor: pointer;
} */

@keyframes glow{
    0%{
        box-shadow: 0 0 20px #0aafe630, 0 0 20px rgb(10 175 230 / 0%);
    }
    50%{
        box-shadow: 0 0 50px #0aafe630, 0 0 50px #0aafe630;
    }
    100%{
        box-shadow: 0 0 20px #0aafe630, 0 0 20px rgb(10 175 230 / 0%);
    }
}

@media all and (max-width: 1920px){
    .prize_fixed{
        right: 2%;
    }
}

.prize_fixed_button{
    width: 209px;
    height: 104px;
    border-radius: 32px;
    background: none;
    background-image: url(/images/Prize/prize_fixed_button.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    border: none;
    margin: 28px auto 8px;
    filter: drop-shadow(2px 2px 3px rgb(0 0 0 / 52%));
    transition: all .1s ease-out;
    border: none;
}

.prize_fixed_button:hover{
    background-color: #b8b8b860;
}
button{

}
/* a:hover{text-decoration:none} */

.prize_fixed_button p{
    font-size: 30px;
    color: #fff;
    font-weight: 600;
    text-shadow: #000000 4px 3px 7px;
    letter-spacing: 2px;
    text-decoration: none;
}

.prize_fixed_link{
    text-decoration:none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.prize_fixed_text{
    font-size: 24px;
    color: #67EBE3;
    line-height: 32px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 3px;
}


@media all and (max-width: 1920px){
    .prize_fixed {
        border-radius: 32px;
        width: 187px;
        height: 181px;
        top: 30%;
        right: 2%;
    }
    .prize_fixed_button {
        width: 138px;
        height: 69px;
        border-radius: 20px;
        background-size: contain;
        margin: 21px auto 6px
    }
    .prize_fixed_button p {
        font-size: 22px;
    }
    .prize_fixed_text {
        font-size: 20px;
        line-height: 24px;
    }
}
@media all and (max-width: 1300px){
    .prize_fixed{
        top: 11%;
    }
}
@media all and (max-width: 600px){
    .prize_fixed {
        border-radius: 17px;
        width: 103px;
        height: 100px;
        background-size: contain;
        margin: 17px auto 6px;
        /* top: 10%; */
        top: 125px;
        right: 2%;
    }
    .prize_fixed_button {
        width: 87px;
        height: 43px;
        border-radius: 11px;
        background-size: contain;
        margin: 21px auto 8px
    }
    .prize_fixed_button p {
        font-size: 16px;
        letter-spacing: 1px;
    }
    .prize_fixed_text {
        display: none;
    }
    #prize_arrow_down{
        width: 25px;
    }
}

#prize_arrow_down{
    animation: arrow_down 2s infinite;
    transition: all .1s ease-out;
}

@keyframes arrow_down{
    0%{
        margin-top: 5px;
    }
    50%{
        margin-top: 1px;
    }
    100%{
        margin-top: 5px;
    }
}


/* nav 當頁顯示 */
.nav-item:hover{
    background-image: url(/images/Other/nav_hover.png) !important;
    background-color: #aad4cd00;
}
.nav_hover_bottom{
    display: block;
}
.nav-link:hover{
    background: none;
}
.bg-dark{
    background-image: url(/images/Other/nav_banner_acl.png);
}
.text-light {
    color: #ffffff !important;
}
a.text-light:focus, a.text-light:hover {
    color: #ffffff !important;
}
.nav-item a{
    text-shadow: #585858 1px 1px 2px;
}
#nav-prize, #nav-ACLIndex{
    color: white;
    background-image: url(/images/Other/nav_hover_acl.png);
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
}

#prize_hover_bottom, #ACLIndex_hover_bottom{
    position: absolute;
    max-width: 300px;
    transform: translateX(-50%);
    left: 50%;
    bottom: -7px;
    opacity: 1;
    z-index: 0;
    transition: all .3s ease-out;
    pointer-events: none;
}

@media all and (max-width: 1000px){
    #nav-prize{
        background-size: cover;
        background-position: center;
    }
}

#nav_ul-prize{
    color: white;
    background-image: url(/images/Other/nav_hover_acl.png);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
}

.ACLnamingState{
    display: flex;
}

.userIcon {
    fill: #f7f7f7;
}

#acl_footer{
    display: flex;
}

/* 亞洲聯賽S1各分頁navbar */
.ACLIndexNavbar{
    display: block;
}
.nav-item a, .nav-item_a {
    text-shadow: #585858 1px 1px 2px;
    }
    