/* .rank_block_1{
    width: 100%;
    display: flex;
    justify-content: center;
    height: calc(100vh - 301px);
    background-image: url(/images/Other/other_bg.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    align-items: center;
    padding: 200px 0;
    flex-direction: column;
}

#stay_banner{
    max-width: 1920px;
    width: 90%;
}

h1{
    color: #fffc;
    margin: 50px auto;
} */

/* __________________________________________ */

.rank_block{
    width: 100%;
    padding: 172px 0 0 0;
    display: flex;
    /* flex-wrap: wrap; */
}

@media all and (max-width: 1900px){
    .rank_block{
        flex-direction: column;
    }
}


.rank_bg{
    /* border: 1px solid brown; */
    /* max-width: 1920px; */
    width: 100%;
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
    height: 100vh;
    position: fixed;
    z-index: -1;
}

.personal_bg{
    background-image: url(/images/Rank/personal_bg.webp);
}

.team_bg{
    background-image: url(/images/Rank/team_bg.webp);
}


/* 內頁標題 */
.blockTitle{
    border: 1px solid #70C5FB;
    border-left: 0;
    position: relative;
    max-width: 338px;
    width: 100%;
    box-shadow: 1px 3px 8px 0px rgb(39 39 39 / 34%);
    height: 235px;
}


.blockTitle img{
    width: 100%;
}

.title_BG{
    background-color: #ffffff13;
    height: 212px;
    position: absolute;
    top: 12px;
    right: 10px;
}

.blockTitle p{
    color: #A3FFF1;
    font-size: 80px;
    font-weight: 600;
    letter-spacing: 10px;
    /* text-shadow: 0px 0px 8px rgb(255 255 255 / 51%); */
    padding-left: 10px;
    line-height: 110px;
}


@media all and (max-width: 1000px){
    .blockTitle{
        max-width: 285px;
        height: 181px;
    }

    .blockTitle img{
        height: 181px;
    }
    .title_BG{
        height: 158px;
    }
    .blockTitle p{
        font-size: 60px;
        line-height: 80px;
    }
}


@media all and (max-width: 600px){
    .blockTitle{
        max-width: 218px;
        height: 153px;
    }
    .blockTitle img {
        height: 153px;
    }
    .title_BG{
        height: 130px;
    }
    .blockTitle p{
        font-size: 50px;
        line-height: 66px;
    }
}


.rank_area{
    /* border: 1px solid red; */
    width: 90%;
    margin: 50px 30px;
}

@media all and (max-width: 1900px){
    .rank_area{
        margin: 50px auto;
    }
}

.rank_tab{
    /* border: 1px solid red; */
    display: flex;
    margin: 0 auto;
    max-width: 1379px;
}

.tab_button{
    border-radius: 50px;
    /* background-image: url(/images/Index/watchLive_button.webp); */
    background-position: top center;
    max-width: 200px;
    width: 100%;
    height: 52px;
    color: #ffffff;
    font-size: 24px;
    font-weight: 500;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    /* box-shadow: 0px 0px 20px rgb(255 255 255 / 34%); */
    transition: all .1s ease-out;
    margin: 15px;
    position: relative;
}

.tab_button img{
    width: 101%;
}
.tab_button span{
    text-shadow: #00000047 4px 3px 6px;
    z-index: 1;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    font-weight: 600;
}

.tab_button:hover{
    background-color: #95959542;
    cursor: pointer;
    box-shadow: 0px 0px 25px rgb(255 255 255 / 47%);
}

.tab_button_clicked{
    background-color: rgb(0 123 255 / 50%);
}

.tab_button_clicked:hover{
    background-color: #008ffba3;
    box-shadow: 0px 0px 20px rgb(255 255 255 / 34%);
}

.rank_area_all{
    /* border: 1px solid rgb(45, 180, 243); */
}

.rank_title{
    max-width: 1379px;
    color: #ffffff;
    font-size: 40px;
    font-weight: 600;
    margin: 30px auto;
}

.rank_list_all{
    /* border: 1px solid rgb(132, 228, 22); */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rank_list{
    /* border: 1px solid red; */
    border-radius: 40px;
    max-width: 1379px;
    width: 100%;
    /* height: 534px; */
    background-image: url(/images/Rank/rank_list_bg.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    margin: 30px 0;
    /* box-shadow: inset 1px 1px 10px 1px rgb(71 71 71 / 78%); */
    box-shadow: inset 1px 1px 10px 1px rgb(71 71 71 / 78%), 3px 3px 14px 3px rgb(54 54 54 / 51%);
    display: flex;
    justify-content: space-between;
    /* flex-wrap: wrap; */
    position: relative;

    /* 暫時 */
    /* display: none; */
}

.rank_list_test{
    /* border: 1px solid red; */
    border-radius: 40px;
    max-width: 1379px;
    width: 100%;
    /* height: 534px; */
    background-image: url(/images/Rank/rank_list_bg.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    margin: 30px 0;
    box-shadow: inset 1px 1px 10px 1px rgb(71 71 71 / 78%);
    display: flex;
    flex-wrap: wrap;
    position: relative;
}





.list_title_block{
    /* border: 1px solid #fff; */
    background-size: cover;
    background-position: left top;
    background-repeat: no-repeat;
    max-width: 736px;
    height: 88px;
    padding-right: 10px;
    width: 100%;
    position: absolute;
    position: relative;
    top: 0;
    left: 0px;
    /* height: 88px; */
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    left: 0;
    top: 0;
}

.title_Silver {
    background-image: url(/images/Rank/list_title_01.webp);
}

.title_Diamond {
    background-image: url(/images/Rank/list_title_02.webp);
}

.title_Master {
    background-image: url(/images/Rank/list_title_03.webp);
}
.title_Free {
    background-image: url(/images/Rank/list_title_free.webp);
}

.list_title{
    width: 100%;
}
.rank_list_icon{
    position: absolute;
    top: -29px;
    left: 19px;
    width: 20%;
}

#personal_icon{
    max-width: 120px;
}

.title_and_date{
    /* border: 1px solid rgb(132, 228, 22); */
    max-width: 734px;
    width: 100%;
    display: flex;
    align-items: center;
    margin: 8px 0 8px 80px;
    justify-content: center;
}

.rank_title_text{
    /* width: 110px; */
    border-radius: 25px;
    color: #ffffff;
    display: flex;
    font-size: 34px;
    white-space: nowrap;
    font-weight: 600;
    justify-content: center;
    margin: 0 20px;
}



.rank_date{
    max-width: 130px;
    border-radius: 25px;
    padding: 3px 20px 1px;
    color: #ffffff;
    display: flex;
    font-size: 24px;
    font-weight: 600;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    margin: 0 20px;
}

.rank_date_Silver {
    background-color: #021925;
}
.rank_date_Diamond {
    background-color: #0E4553;
}
.rank_date_Master {
    background-color: #53493D;
}
.rank_date_Free {
    background-color: #3c3c40;
}

.rank_left{
    /* border: 1px solid red; */
    /* max-width: 736px; */
    max-width: 600px;
    width: 100%;
    margin: 0 20px 0 30px;
    padding: 90px 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}



/* 冠亞季軍 */
.rank_inner{
    /* border: 1px solid red; */
    /* width: 50%; */
    /* max-width: 575px; */
    /* margin: 15px auto; */
}

.rank_awards_all{
    /* border: 1px #5aff00 solid; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    /* margin: 8px 0px; */
}

.coming_soon_left{
    height: 270px;
    margin: 23px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid #7b7b7b; */
    box-shadow: inset 0px 0px 20px #ffffff57;
    border-radius: 25px;
    width: 100%;
}

@media all and (max-width: 1700px){

    .awards_ID_all{
        margin: -3px 0px 6px;
        padding: 0 35px;
    }
}



.coming_soon_right{
    height: 270px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.coming_soon_left p,.coming_soon_right p{
    font-size: 28px;
    color: #ffffff;
}



.rank_awards_line{
    border-radius: 30px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    /* max-width: 588px; */
    /* min-height: 80px; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 15px auto;
}

.line_champion {
    background-image: url(/images/Rank/award_line01.webp);
    filter: drop-shadow(5px 5px 7px rgba(253, 170, 27, 0.24));
}
.line_secondplace{
    background-image: url(/images/Rank/award_line02.webp);
    filter: drop-shadow(5px 5px 7px rgba(157, 157, 157, 0.212));
}
.line_thirdplace{
    background-image: url(/images/Rank/award_line03.webp);
    filter: drop-shadow(5px 5px 7px rgba(157, 157, 157, 0.486));
}

.awards_line_top{
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.rank_awards_icon{
    transform: translateY(-8px);
    width: 90px;
    margin: -5px 10px 0;
}

.icon_01{
    filter: drop-shadow(1px 1px 15px rgb(255, 255, 155));
}

.rank_awards_text{
    /* color: #ffffff; */
    font-size: 30px;
    white-space: nowrap;
    font-weight: 600;
}
.rank_awards_name{
    /* color: #ffffff; */
    font-size: 30px;
    white-space: nowrap;
    font-weight: 600;
    margin: 0 35px;
}

/* 玩家ID */
.awards_ID_all{
    width: 100%;
    color: #7feeff;
    font-size: 14px;
    display: flex;
    align-items: center;
    white-space: nowrap;
    flex-wrap: wrap;
    margin: -6px 0px 6px;
    padding: 0 30px;
    justify-content: flex-end;
}

.awards_ID{
    border-radius: 12px;
    height: 28px;
    /* border: 1px solid red; */
    background-color: #393939;
    padding: 0 10px;
    margin: 2px 3.5px;
    color: #f5f5f5;
    font-size: 14px;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 110px;
    min-width: 60px;
    /* width: 100%; */
}


/* 資格賽 */
.rank_qualifying_all{
    /* border: 1px solid red;  */
    width: 100%;
    color: #7feeff;
    font-size: 24px;
    font-weight: 500;
    margin: 10px 0 20px;
    /* padding: 0px 30px; */
    display: flex;
    align-items: center;
    white-space: nowrap;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.rank_qualifying_all p{
    margin: 0 5px;
}

.rank_qualifying{
    border-radius: 11.6px;
    /* height: 34px; */
    /* border: 1px solid red; */
    background-color: #20495f;
    /* width: 100px; */
    padding: 3px 18px;
    margin: 3px 6px;
    color: #77EDFF;
    font-size: 19px;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
}


.rank_qualifying_text{
    color: #77EDFF;
    font-size: 24px;
    white-space: nowrap;
}

/* 資格賽積分排名 */
.rank_right{
    max-width: 628px;
    width: 90%;
    margin: 15px 30px 20px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.rank_right_title{
    font-size: 30px;
    color: #77EDFF;
    margin: 5px auto 10px;
    text-align: center;
}



.rank_table_block{
    /* border: 1px solid red; */
    width: 100%;
    font-size: 28px;
    color: #ffffff;
    text-align: center;
}

.rank_table_title{
    width: 100%;
    margin: 0px 0 5px;
    max-width: 560px;
    font-size: 25px;
}

.rank_table_title table{
    width: 100%;
}

.rank_table_text{
    width: 100%;
    background-color: #232f2fb8;
    border-radius: 30px;
    padding: 25px 15px 25px 0;
    max-width: 600px;
}

.rank_table_scroll{
    width: 100%;
    max-width: 575px;
    padding: 0px 0;
    /* max-height: 300px; */
    height: 300px;
    overflow: auto;
}

.scroll_rank{
    max-height: 330px;
}

/* 改scrollbar樣式 */
.rank_table_scroll::-webkit-scrollbar {
    width: 15px;
}

.rank_table_scroll::-webkit-scrollbar-thumb {
    background: #8CFBFF;
    border-radius: 10px;
    width: 20px;
}


.rank_table_scroll::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #142229;
}


.rank_table_text table{
    width: 100%;
}


.rank_table td{
    width: 100%;
}


.ranking{
    width: 20%;
}

.player_name{
    width: 50%;
}

.winning{
    width: 30%;
}

td{
    line-height: 60px;
}

.table_remark{
    font-size: 20px;
    color: #77EDFF;
    margin: 10px auto 0px;
    text-align: center;
    font-weight: 500;
}


.rank_line{
    background-image: url(/images/Rank/rank_line.webp);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 24px;
}

/* nav 當頁顯示 */
.nav-item:hover{
    background-image: url(/images/Other/nav_hover.webp) !important;
    background-color: #aad4cd00;
}
.nav_hover_bottom{
    display: block;
}
.nav-link:hover{
    background: none;
}
.bg-dark{
    /* background-image: url(/images/Other/nav_banner_acl.webp); */
}
#PonPonSnake-Logo{
    width: 70px;
}
#PonPonSnake-Logo img{
    width: 70px;
}
.text-light {
    color: #ffffff !important;
}
a.text-light:focus, a.text-light:hover {
    color: #ffffff !important;
}
.nav-item a{
    text-shadow: #585858 1px 1px 2px;
}
#nav-rank, #nav-ACLIndex{
    color: white;
    background-image: url(/images/Other/nav_hover_acl.webp);
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
}

#rank_hover_bottom, #ACLIndex_hover_bottom{
    position: absolute;
    max-width: 300px;
    transform: translateX(-50%);
    left: 50%;
    bottom: -7px;
    opacity: 1;
    z-index: 0;
    transition: all .3s ease-out;
    pointer-events: none;
}

@media all and (max-width: 1000px){
    #nav-rank{
        background-size: cover;
        background-position: center;
    }
}

#nav_ul-rank{
    color: white;
    background-image: url(/images/Other/nav_hover_acl.webp);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
}

.ACLnamingState{
    display: flex;
}

.userIcon {
    fill: #f7f7f7;
}



.free{
    background-image: linear-gradient(to right, #89888f 0%, #797883 50%, #89888f 100%);
}


/* Rank RWD */
@media all and (max-width: 1600px){
    .rank_title{
        font-size: 38px;
    }
    .list_title_block{
        background-position: top;
        border-radius: 40px 0 0 0;
        max-width: 700px;
    }
    .title_and_date{
        max-width: 630px;
        margin: 8px 0 8px 65px;
    }
    .rank_title_text{
        font-size: 30px;
    }
    .rank_left {

    }
    .rank_awards_text {
        font-size: 28px;
    }
    .rank_awards_name{
        font-size: 28px;
    }
    .rank_right_title{
        font-size: 28px;
    }
    .rank_table_title{
        max-width: 535px;
    }
    .rank_table_text{
        max-width: 575px;
        padding: 15px 15px 15px 0;
    }
    .rank_table_scroll{
        max-width: 550px;
    }
    td {
        line-height: 55px;
    }
}

@media all and (max-width: 1500px){
    .list_title_block{
        max-width: 600px;
        height: 75px;
    }
    .rank_title_text {
        font-size: 28px;
    }
    .rank_awards_text{
        font-size: 26px;
    }
    .rank_awards_name{
        font-size: 26px;
    }
    .rank_right_title{
        font-size: 26px;
    }
    .rank_table_title{
        font-size: 23px;
    }
    .rank_table_block{
        font-size: 26px;
    }
    .rank_qualifying_all {
        font-size: 22px;
    }
    #personal_icon {
        max-width: 100px;
    }
}

@media all and (max-width: 1300px){
    .list_title_block {
        max-width: 580px;
        background-position: right;
    }
    .title_and_date{
        margin: 8px 0 8px 25px;
    }
    .rank_date{
        margin: 0;
    }
    #personal_icon {
        max-width: 96px;
    }
    .rank_list_icon{
        top: -19px;
        left: 15px;
        width: 19%;
    }
    .rank_title_text {
        font-size: 27px;
    }
    .rank_date{
        font-size: 22px;
    }
    .rank_qualifying {
        font-size: 19px;
    }
    .rank_awards_line{
        margin: 10px auto;
    }
    .rank_table_scroll{
        height: 270px;
    }
    .rank_awards_icon{
        width: 80px;
    }
    .rank_awards_line{
        min-height: 65px;
    }
}

@media all and (max-width: 1200px){
    .rank_title{
        font-size: 35px;
    }
    .list_title_block {
        max-width: 535px;
        height: 65px;
    }
    #personal_icon {
        max-width: 87px;
    }
    .rank_title_text {
        font-size: 26px;
        margin: 0 15px;
    }
    .rank_date {
        font-size: 21px;
    }
    .title_and_date {
        max-width: 483px;
        margin: 8px 0 8px 30px;
    }
    .rank_list_icon {
        left: 10px;
    }
    .awards_ID_all{
        padding: 0 15px;
    }
    .rank_awards_icon {
        width: 72px;
    }
    .rank_awards_text {
        font-size: 24px;
    }
    .rank_awards_name {
        font-size: 24px;
    }
    .rank_right_title {
        font-size: 24px;
    }
    .rank_table_title {
        font-size: 22px;
    }
    .rank_table_block {
        font-size: 24px;
    }
    .rank_table_scroll {
        height: 230px;
    }
    .awards_ID_all{
        padding: 0 10px;
    }
    .rank_qualifying_all {
        font-size: 20px;
    }
    .rank_qualifying{
        padding: 3px 10px;
    }
}

@media all and (max-width: 1000px){
    .rank_title{
        font-size: 33px;
    }
    .list_title_block {
        max-width: 475px;
        height: 65px;
    }
    .title_and_date {
        max-width: 465px;
        margin: 8px 0 8px 20px;
    }
    .rank_title_text {
        font-size: 24px;
        margin: 0 13px;
    }
    .rank_date {
        font-size: 19px;
        padding: 2px 17px 1px;
    }
    .rank_awards_icon {
        width: 65px;
    }
    .rank_list_icon {
        left: 5px;
        top: -11px;
    }
    #personal_icon {
        max-width: 80px;
        top: -24px;
        left: 14px;
    }
    .rank_qualifying {
        padding: 1px 10px;
        margin: 3px 4px;
    }
    .rank_left{
        margin: 0 15px 0 25px;
    }
    .rank_right_title {
        font-size: 22px;
    }
    .rank_awards_text {
        font-size: 22px;
    }
    .rank_awards_name {
        font-size: 22px;
    }
    .awards_ID_all{
        margin: -6px 0px 4px;
    }
    .awards_ID{
        height: 25px;
        padding: 0 7px;
        font-size: 12px;
        margin: 2px 2px;
    }
    .rank_right{
        margin: 15px 25px 20px 10px;
    }
    .rank_table_title {
        font-size: 20px;
    }
    .rank_table_block {
        font-size: 22px;
    }
    .table_remark {
        font-size: 18px;
    }
    .rank_table_scroll::-webkit-scrollbar {
        width: 12px;
    }
    .rank_table_text{
        padding: 18px 15px 18px 0;
    }
    td {
        line-height: 50px;
    }
}

@media all and (max-width: 900px){
    .list_title_block {
        max-width: 560px;
        height: 70px;
        width: 98%;
    }
    .title_and_date {
        max-width: 515px;
    }
    .rank_title_text {
        font-size: 26px;
    }
    .rank_list{
        flex-wrap: wrap;
    }
    .rank_list_icon {
        left: 10px;
        top: -20px;
    }
    #personal_icon {
        max-width: 85px;
        top: -32px;
        left: 27px;
    }
    .rank_left {
        margin: 0 auto;
        width: 85%;
        padding: 100px 0 0 0;
    }
    .rank_right {
        border-top: 2.5px solid #23445054;
        margin: 10px auto 15px;
        padding: 10px 0 0 0;
    }
    .rank_table_title{
        margin: 10px auto 5px;
        max-width: 550px;
        padding: 0 15px 0 0;
    }
    .rank_table_text{
        margin: 0 auto;
    }
    .awards_ID_all {
        padding: 0 15px;
    }
}

@media all and (max-width: 700px){
    .rank_list {
        /* overflow: hidden; */
    }
    .list_title_block {
        max-width: 710px;
        height: 70px;
        /* width: 100%; */
        border-radius: 40px 40px 0 0;
    }

    .rank_list_icon {
        left: -13px;
        top: -22px;
        width: 100px;
    }
    #personal_icon {
        max-width: 76px;
        top: -20px;
        left: 19px;
    }
    .rank_list{
        /* width: 110%; */
    }
    .title_and_date {
        max-width: 630px;
    }
    .rank_date {
        margin: 0 20px;
    }
    .tab_button {
        height: 50px;
    }
}

@media all and (max-width: 600px){
    .rank_list{
        /* overflow: hidden; */
    }
    .list_title_block{
        width: 100%;
        background-position: left;
        border-radius: 40px 40px 0 0;
    }
    .title_and_date{
        margin: 8px 0 8px 30px;
    }
    .rank_table_block {
        font-size: 20px;
    }
    .rank_list_icon {
        width: 95px;
        left: 7px;
        top: -50px;
    }
    #personal_icon {
        max-width: 77px;
        top: -44px;
        left: 9px;
    }
    td {
        line-height: 45px;
    }
    .tab_button {
        font-size: 22px;
        height: 45px;
        margin: 10px;
    }
    .tab_button img {
        width: 101%;
        height: 55px;
    }
    .rank_date {
        margin: 0 10px;
    }
}

@media all and (max-width: 500px){
    .rank_title {
        font-size: 30px;
        margin: 30px auto 50px;
    }
    .rank_title_text {
        font-size: 22px;
        margin: 0 6px;
    }
    .title_and_date {
        max-width: 380px;
        margin: 8px 0 8px 30px;
    }


    .rank_date {
        /* margin: 0px 5px; */
    }
    .coming_soon_left p, .coming_soon_right p {
        font-size: 24px;
        color: #ffffff;
    }
    .rank_list_icon {
        width: 95px;
        left: 7px;
        top: -54px;
        left: 50%;
        transform: translateX(-50%);
    }
    #personal_icon {
        max-width: 66px;
        top: -52px;
        left: 50%;
        transform: translateX(-50%);
    }
} 

@media all and (max-width: 480px){
    .title_and_date {
        max-width: 380px;
        margin: 8px 0 8px 20px;
    }
    .rank_title {
        font-size: 28px;
    }
}

@media all and (max-width: 400px){

    .tab_button{
        margin: 5px;
    }
    .list_title_block {
        width: 100%;
        background-position: center;
    }
 
}

#acl_footer{
    display: flex;
}


.nav-item a, .nav-item_a {
    text-shadow: #585858 1px 1px 2px;
    }
    