<nav class="FestivalNavbar" id="FestivalNavbar">
    <ul>
        @* 亞洲聯賽 賽季選單 *@
        <div class="FestivalNavBlockSelect">
                <select name="" id="FestivalSeasonNav">
                    <option style="display: none;" disable>節慶賽</option>
                    <optgroup label="- 2022 -">
                        <option value="LunarNewYear">新年節慶賽</option>
                    </optgroup>
                    <optgroup label="- 2021 -">
                        <option value="ChristmasIndex">聖誕節慶賽</option>
                    </optgroup>
                </select>
        </div> 
        <li><a href="LunarNewYear#scene">時程</a></li>
        <li><a href="LunarNewYear#leagueAward">活動獎勵</a></li>
        <li><a href="LunarNewYear#details">詳細資料</a></li>
        <li><a href="LunarNewYear#finalProcess">決賽流程</a></li>
        <li><a href="LunarNewYear#notice">注意事項</a></li>
    </ul>
</nav>
@code {

}
