    <div class="christmas_schedule_block" id="scene">

        <div class="parallax_block">

            <div class="Lantern_image " id="Lantern_left" >
                <img class="move" data-depth="0.1" data-src="./images/LunarNewYear/Lantern_left.webp" alt="">
            </div>

            <div class="Lantern_image Lantern_right" id="Lantern_block" >
                @* <div>
                <img  data-src="./images/LunarNewYear/Lantern_right.webp" alt="" data-depth="0.5">
                </div> *@
                <img class="move" data-depth="0.1" data-src="./images/LunarNewYear/Lantern_right.webp" alt="">
            </div>

        </div>


        <div class="Christmas_Banner_tittle" >
            <img data-src="./images/LunarNewYear/LunarNewYear_Banner.webp" alt="">
        </div>

        <div class="schedule_inner_block">


            <div class="schedule_date">
                <div class="christmas_title BG-color-white color-wineRed">
                    <p>時程</p>
                </div>

                <div class="schedule_date_txt_01">
                    <p class="date_txt01">報名時間</p>
                    <p class="date_txt02">2022.1.17 - 2022.2.7</p>
                    @* <p class="date_txt03">優惠截止</p> *@
                </div>

                <div class="schedule_date_txt_02">
                    <p class="date_txt01">報名對象</p>
                    <p class="date_txt02">15歲以上玩家</p>

                </div>

            </div>

            <div class="timePicture">
                <div class="activity_time">
                    <p>活動時間</p>
                    <p>2022.1.24 ~ 2022.2.8</p>
                </div>

                <div class="timePicture_left">
                    <img data-src="./images/LunarNewYear/timePicture_left.webp" alt="" id="timePicture_left">
                    <img data-src="./images/LunarNewYear/timePicture_left_rwd.webp" alt="" id="timePicture_left_rwd">
                    <img data-src="./images/LunarNewYear/TigerYear_0.webp" alt="" id="orange">
                </div>
                <div class="timePicture_right">
                    <img data-src="./images/LunarNewYear/timePicture_right.webp" alt="" id="timePicture_right">
                    <img data-src="./images/LunarNewYear/timePicture_right_rwd.webp" alt="" id="timePicture_right_rwd">
                    <img data-src="./images/christmas_newyear/firecrackers.webp" alt="" id="firecrackers">
                    <img data-src="./images/christmas_newyear/fireworks-explode.gif" alt="" id="fireworks-explode">
                </div>
            </div>
        </div>
    </div>
@code {

}
