 @inject IJSRuntime JS

 <div class="QRcode_fixed" @onclick="QRcode_SlideClick" data-aos="fade-up" data-aos-duration="500"
         data-aos-delay="1100">

        <img src="./images/LunarNewYear/Decorate_Fu.png" alt="" id="QRcode_bow">
        <div class="QRcode_fixed_top">
            <button class="QRcode_fixed_button">
                <p>下載遊戲</p>
            </button>

            <img id="QRcode_arrow_down" src="/images/christmas_newyear/arrow_down_gold.png" alt="">
        </div>
        <div class="QRcode_Slide">
            <a class="QRcode" href="https://play.google.com/store/apps/details?id=com.cqigames.snakeknight"
               target="_blank">
                <img src="./images/LunarNewYear/Android_Download.png" alt="">
            </a>
            <a class="QRcode" href="https://apps.apple.com/us/app/%E7%A2%B0%E7%A2%B0%E8%9B%87-2/id1504212624"
               target="_blank">
                <img src="./images/LunarNewYear/iOS_Download.png" alt="">
            </a>
            <a class="QRcode" href="https://ponponsnake.oss-cn-hangzhou.aliyuncs.com/PonPonSnake.apk" target="_blank">
                <img src="./images/LunarNewYear/aliyun_Download.png" alt="">
            </a>
        </div>
    </div>
@code {
        private async Task QRcode_SlideClick()
    {
        await JS.InvokeVoidAsync("QRcode_Slide", "QRcode_Slide");
    }
}
