   <div class="christmas_details_block" id="details">
        <div class="award_inner_block">
            <div class="christmas_title_block">
                <div class="christmas_title BG-color-green color-white">
                    <p>詳細資料</p>
                </div>
            </div>

            <div class="details_block_all">
                <div class="details_block">
                    <div class="contest_content_title">競賽內容</div>
                    <div class="contest_content">
                        <div class="content_block content_block_01">
                            <img data-src="./images/LunarNewYear/details_001.webp" alt="">
                        </div>
                        <div class="content_block content_block_02">
                            <img data-src="./images/LunarNewYear/details_002.webp" alt="">
                        </div>
                        <div class="content_block content_block_03">
                            <img data-src="./images/LunarNewYear/details_003.webp" alt="">
                        </div>
                    </div>
                </div>

                <div class="details_block">
                    <div class="contest_content_title">比賽時程</div>
                    <div class="game_schedule">
                        <div class="game_schedule_picture">
                            <img data-src="./images/LunarNewYear/game_schedule.webp" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
@code {

}
