.ERNC_Allocation{
    width: 100%;
    /* height: 1000px; */
    background-image: url(/images/ERNC/ERNC_BannerCard/diamond_BG.png);
    background-position: top center;
}

.ERNC_Allocation-Block{
    border: 1px solid red;
    max-width: 1200px;
    margin: 0 auto;
}