
/* 卡片區 */
.ERNC-Card{
    /* border: 1px solid red; */
    /* background-image: url("/images/ERNC/ERNC_BannerCard/diamond_BG.png");
    background-position: top center; */
    /* height: 2000px; */
    padding: 100px 0 150px;
}
.ERNC-Card-Block{
    max-width: 1200px;
    margin: 0 auto;
}
.ERNC-Card-All{
    /* border: 1px solid red;  */
    max-width: 1200px;
    /* width: 90%; */
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.Card-BG{
    /* border: 1px solid red;  */
    margin: 30px 40px;
    max-width: 280px;
    width: 100%;
    border-radius: 15px;
    /* background-image: linear-gradient(to bottom,  #C9B082 0%,  #A98852 100%); */
    /* background-color: #fff; */
    border: 10px solid white;
    /* padding: 16px; */
    box-shadow: 3px 3px 8px 4.5px #17171780;
    transition: all .2s ease-in-out;
    overflow: hidden;
    z-index: 2;
}
.Card-BG:hover {
    transition: all .2s ease-in-out;
    box-shadow: 0px 0px 25px 5px #ffe8a280;
}
.Card-Inner{
    /* border: 1px solid #fad35fc5; 
    background-image: linear-gradient(to bottom,  #C9B082 0%,  #A98852 100%); */
    /* box-shadow: 0px 0px 8px 4.5px #fad35fd9; */

    background-color: #00000028;

    border-radius: 15px;
    padding: 0px 0px 20px;
    font-family: adobe-fan-heiti-std, 'Source Sans Pro', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 3;
}
/* .Card-Inner::before{
    content: "";
    background-image: url("/images/ERNC/ERNC_BannerCard/rolequality.png");
    width: 26px;
    height: 36px;
    position: absolute;
    top: -2%;
    left: -2.5%;
    background-size: contain;
    background-repeat: no-repeat;
}
.Card-Inner::after{
    content: "";
    background-image: url("/images/ERNC/ERNC_BannerCard/rolequality.png");
    width: 26px;
    height: 36px;
    position: absolute;
    top: -2%;
    right: -2.5%;
    background-size: contain;
    background-repeat: no-repeat;
} */


.IconBlock{
    /* border: 1px solid red; */

    /* border-radius: 20px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    /* width: 200px; */
    width: 100%;
    /* height: 200px; */
    /* padding: 40px 0 15px; */
    margin: -11px auto 8px;
    z-index: 3;
    /* background-color: white;
    box-shadow: inset 0px 0px 20px 5px #fad35fb0; */

    /* background-image: url("/images/ERNC/ERNC_BannerCard/IconBlock-diamond-BG.png");
    background-repeat: no-repeat;
    background-size: contain; */
    /* width: 267px; */
    /* height: 267px; */
}
.IconBlock-BG{
    width: 105%;
}
.IconBlock-Img{
    /* border: 1px solid red;  */
    /* width: 120px; */
    height: 93px;
    /* margin-bottom: 8px; */
    position: absolute;
}
.IconBlock-Img img{
    /* width: 100%; */
    height: 100%;
}

.IconBlock-Text{
    color: #ffffff;
    font-size: 28px;
    font-weight: 600;
    letter-spacing: 1.6px;
    margin-bottom: 10px;
}

.Card-Inner-Text{
    width: 100%;
    font-size: 15px;
    line-height: 1.5;
    letter-spacing: 1.6px;
    text-align: center;
    color: #feffff;
    height: 210px;
    padding: 0 20px;
}
.Card-flex{
    display: flex;
}


@media all and (max-width: 1920px){
    .ERNC-Card{
        padding: 100px 0 130px;
    }
}
@media all and (max-width: 1600px){
    
    .ERNC-Card-All{
        max-width: 1000px;
        width: 95%;
    }
    .ERNC-Card {
        padding: 80px 0;
    }
    .Card-BG{
        max-width: 255px;
        /* margin: 30px; */
    }
    .Card-Inner{
        /* padding: 20px 18px; */
    }
    .IconBlock-BG {
        width: 103%;
    }
    .IconBlock-Img{
        height: 85px;
    }
    .IconBlock-Text{
        font-size: 24px;
        letter-spacing: 1.4px;
        margin-bottom: 12px;
    }
    .IconBlock{
        margin: -11px auto 15px;
        /* padding: 0px 0 0px; */
    }
    .Card-Inner-Text {
        font-size: 13px;
        line-height: 20px;
        height: 176px;
    }
}

@media all and (max-width: 1000px){
    .ERNC-Card {
        padding: 80px 0;
    }
    .ERNC-Card-All{
        flex-wrap: wrap;
        justify-content: center;
    }
}
@media all and (max-width: 750px){
    .ERNC-Card-All{
        flex-direction: column;
    }
    .Card-flex {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
@media all and (max-width: 550px){
    .ERNC-Card {
        padding: 50px 0;
    }
    .Card-BG {
        margin: 30px auto;
    }
}