@page "/GameFi"
@inject IJSRuntime JS

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PonPonSnake 碰碰蛇｜GameFi</title>
    <link href="css/GameFi.css" rel="stylesheet" />
    <!-- OwlCarouse -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
        integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css"
        integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/8.1.1/swiper-bundle.css"
        integrity="sha512-xTLlG+jNUAbKTCLpdibgQptrCWCqMDQHombvHK7T2S2bQW5zKZtDMssUw3ftsoJ+T9cATQmdNsPIgopUlUWz8g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<div class="GameFiBackground"></div>

<div class="GameFi">
    <div class="GameFi-Title">PonPonSnake GameFi</div>
    <div class="GameFi-Block">
        <div class="GameFi-Paragraph">
            <div class="GameFi-Paragraph-Title">Play to Earn</div>
            <div class="GameFi-Paragraph-Txt">Take different adventure to explore more value in PonPonSnake!</div>
        </div>
        @* <div class="GameFi-Carousel-Block">
            <div class="owl-carousel owl-theme" id="GameFi-Carousel">
            <div class="GameFi-Carousel-Item">
            <img class="Carousel-Item-bg" src="/images/GameFi/01-Play-to-Earn-01.png" alt="">
            <div class="Item-Info">
            <p class="Item-Info-01">PVP</p>
            <p class="Item-Info-02">Including 1 vs 1 and 4 vs 4 mode.</p>
            </div>
            </div>
            <div class="GameFi-Carousel-Item">
            <img class="Carousel-Item-bg" src="/images/GameFi/01-Play-to-Earn-02.png" alt="">
            <div class="Item-Info">
            <p class="Item-Info-01">Arena</p>
            <p class="Item-Info-02">Champions League and Festival League.</p>
            </div>
            </div>
            <div class="GameFi-Carousel-Item">
            <img class="Carousel-Item-bg" src="/images/GameFi/01-Play-to-Earn-03.png" alt="">
            <div class="Item-Info">
            <p class="Item-Info-01">Rental System</p>
            <p class="Item-Info-02">Rent your NFT rider to earn more profits.</p>
            </div>
            </div>
            <div class="GameFi-Carousel-Item">
            <img class="Carousel-Item-bg" src="/images/GameFi/01-Play-to-Earn-04.png" alt="">
            <div class="Item-Info">
            <p class="Item-Info-01">PVE</p>
            <p class="Item-Info-02">Try to challenge different levels.</p>
            </div>
            </div>
            <div class="GameFi-Carousel-Item">
            <img class="Carousel-Item-bg" src="/images/GameFi/01-Play-to-Earn-05.png" alt="">
            <div class="Item-Info">
            <img src="/images/GameFi/more-key.png" alt="">
            <p class="Item-Info-02">more to explore</p>
            </div>
            </div>
            </div>
            </div> *@
        
        
        
        
        
        <div class="Carousel-All">
            <div class="swiper GameFi-Carousel-Block">
                <div class="swiper-wrapper" id="GameFi-Carousel">
                    <div class="swiper-slide">
                        <div class="GameFi-Carousel-Item">
                            <img class="Carousel-Item-bg" src="/images/GameFi/01-Play-to-Earn-01.png" alt="">
                            <div class="Item-Info">
                                <p class="Item-Info-01">PVP</p>
                                <p class="Item-Info-02">Including 1 vs 1 and 4 vs 4 mode.</p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="GameFi-Carousel-Item">
                            <img class="Carousel-Item-bg" src="/images/GameFi/01-Play-to-Earn-02.png" alt="">
                            <div class="Item-Info">
                                <p class="Item-Info-01">Arena</p>
                                <p class="Item-Info-02">Champions League and Festival League.</p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="GameFi-Carousel-Item">
                            <img class="Carousel-Item-bg" src="/images/GameFi/01-Play-to-Earn-03.png" alt="">
                            <div class="Item-Info">
                                <p class="Item-Info-01">Rental System</p>
                                <p class="Item-Info-02">Rent your NFT rider to earn more profits.</p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="GameFi-Carousel-Item">
                            <img class="Carousel-Item-bg" src="/images/GameFi/01-Play-to-Earn-04.png" alt="">
                            <div class="Item-Info">
                                <p class="Item-Info-01">PVE</p>
                                <p class="Item-Info-02">Try to challenge different levels.</p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="GameFi-Carousel-Item">
                            <img class="Carousel-Item-bg" src="/images/GameFi/01-Play-to-Earn-05.png" alt="">
                            <div class="Item-Info">
                                <img src="/images/GameFi/more-key.png" alt="">
                                <p class="Item-Info-02">more to explore</p>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="swiper-pagination"></div>
            </div>
            <div class="swiper-button">
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>
        </div>

    </div>

    <div class="GameFi-Block">
        <div class="GameFi-Background-Block">
            <div class="GameFi-Paragraph">
                <div class="GameFi-Paragraph-Title">PPSR</div>
                <div class="GameFi-Paragraph-Txt">Ready to embark on advanture!</div>
            </div>
            <div class="PPSR-Block">

                <div class="PPSR-Rider">
                    @* <img id="PPSR-Rider-All" src="/images/GameFi/whole_knight.png" alt=""> *@
                    
                    <div class="PPSR-Rider-Block not-Rider-Knight not-Rider-Weapon not-Rider-Pet" id="Rider-Snake">
                        <img src="/images/GameFi/just_Snake.png" alt="">
                    </div>
                    <div class="PPSR-Rider-Block not-Rider-Snake not-Rider-Weapon not-Rider-Pet" id="Rider-Knight">
                        <img src="/images/GameFi/just_Knight.png" alt="">
                    </div>
                    <div class="PPSR-Rider-Block not-Rider-Snake not-Rider-Knight not-Rider-Pet" id="Rider-Weapon">
                        <img src="/images/GameFi/just_Weapon.png" alt="">
                    </div>
                    <div class="PPSR-Rider-Block not-Rider-Snake not-Rider-Knight not-Rider-Weapon" id="Rider-Pet">
                        <img src="/images/GameFi/just_Pet.png" alt="">
                    </div>
                </div>




                <div class="Info-Area">
                    <div class="GameFi-Paragraph-Txt-02">
                        Each Rider is composed of 4 parts, which are the rider, pet, weapon, and snake.<br>
                        Hire or buy your PPSR (Ponpon Snake ridders) to earn more value in PonponSnake ecosystem!
                    </div>
                    <div class="Button-Title">
                        MarketPlace
                    </div>
                    <button class="Link-Button"><a href="">Buy PPSR &nbsp; >></a></button>
                </div>
            </div>
        </div>
    </div>

    <div class="GameFi-Block" id="GameFi-Block-Ecosystem">
        <div class="GameFi-Paragraph">
            <div class="GameFi-Paragraph-Title">PonPonSnake Ecosystem</div>
            <div class="GameFi-Paragraph-Txt">Easy to get involved with cryptocurrency!</div>
            <div class="GameFi-Paragraph-Txt-02">
                PonPonSnake ecosystem has the most comprehensive cycle to trade, exchange, reward, etc. Upon registering
                on the PonponSnake website, you can easily connect with your cryptocurrency wallet. Find out what is
                the best choice for you.
            </div>
        </div>

        <div class="Ecosystem-Block">
            <div class="Ecosystem-Item">
                <div class="Ecosystem-Item-Icon">
                    <img src="/images/GameFi/ERNC.png" alt="">
                </div>
                <div class="Ecosystem-Item-Info">
                    <div class="GameFi-Paragraph-Txt">ERNC</div>
                    <div class="GameFi-Paragraph-Txt-02">
                        ERNC (Empyreal Nucleus) is an ERC20 token used as the main market crypto token for PonPonSnake
                        Metaverse. Owners of ERNC can participate in parts of the game rewards decisions. ERNC can be
                        attained by staking, trading, the competition held by officials, etc. </div>
                </div>
            </div>


            <div class="Ecosystem-Item">
                <div class="Ecosystem-Item-Icon">
                    <img src="/images/GameFi/MIPR.png" alt="">
                </div>
                <div class="Ecosystem-Item-Info">
                    <div class="GameFi-Paragraph-Txt">MIRP</div>
                    <div class="GameFi-Paragraph-Txt-02">
                        MIRP (miracle potion) is also an ERC20 token which can be obtained by game tasks, exploring, and
                        PVP.
                        Owners can extract it from wallet to transfer or trade. Additionally, it can be used to enhance
                        rider’s ability.
                    </div>
                </div>
            </div>

            <div class="Ecosystem-Item">
                <div class="Ecosystem-Item-Icon">
                    <img src="/images/GameFi/SRC.png" alt="">
                </div>
                <div class="Ecosystem-Item-Info">
                    <div class="GameFi-Paragraph-Txt">SRC</div>
                    <div class="GameFi-Paragraph-Txt-02">
                        SRC(Snake Rider Coin) will not be a crypto token and can be only used in the game. PPSR owner
                        can earn SRC as payment from renting your rider to other players. You can exchange SRC to your
                        wallet for cryptocurrency.
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="GameFi-Block" id="GameFi-Block-Chart">
        <div class="GameFi-Background-Block">
            <div class="GameFi-Paragraph">
                <div class="GameFi-Paragraph-Title">Our Ecosystem Runs Tranparently</div>
                <div class="GameFi-Paragraph-Txt-02">
                    We are dedicated to bringing our players a more flexible and interactive ecosystem. Through the
                    ownership of tokens, each play has rights and influence on how PonponSnake operates. Also, as DAO is
                    fully autonomous and transparent, it enables odur team to provide a more enjoyable game to players.
                    Here is ERNC allocation pool.
                </div>
            </div>
            <div class="Chart-Block">
                <div class="Pie-Chart" id="Pie-Chart">
                    @* <img src="/images/GameFi/Pie-Chart.png" alt=""> *@
                </div>
                <div class="Info-Area">
                    <div class="GameFi-Paragraph-Txt-02">
                        Token Name : Empyreal Nucleus<br>
                        Token Ticker : ERNC<br>
                        Totol Supply : 270,000,000
                    </div>
                    <div class="Button-Title">
                        Lastest Season
                    </div>
                    <button class="Link-Button"><a href="">Earn ERNC &nbsp; >></a></button>
                </div>
            </div>
        </div>
    </div>

    <div class="GameFi-Block" id="GameFi-Block-Roadmap">
        <div class="GameFi-Paragraph">
            <div class="GameFi-Paragraph-Title">Our Future - Roadmap</div>
        </div>
        <div class="Roadmap-All">

            <div class="Roadmap-Item">
                <div class="GameFi-Paragraph-Title Roadmap-PC-Title">2022 Q1</div>
                <div class="Roadmap-Item-Block" id="Roadmap-Item-Block-01">
                    <div class="Roadmap-Mobile-Title">
                        <div class="Roadmap-Mobile">2022 Q1</div>
                        <img class="Filter-arrow" src="/images/GameFi/GF-arrow-big.png" alt="">
                    </div>
                    <div class="Roadmap-Mobile-Slide">
                        <ul class="Roadmap-Item-List">
                            <li><img src="/images/GameFi/list-style.png" alt="">
                                Wallet connection</li>
                            <li><img src="/images/GameFi/list-style.png" alt="">
                                Asia Champion League S2</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="Roadmap-Item">
                <div class="GameFi-Paragraph-Title Roadmap-PC-Title">2022 Q2</div>
                <div class="Roadmap-Item-Block" id="Roadmap-Item-Block-02">
                    <div class="Roadmap-Mobile-Title">
                        <div class="Roadmap-Mobile">2022 Q2</div>
                        <img class="Filter-arrow" src="/images/GameFi/GF-arrow-big.png" alt="">
                    </div>
                    <div class="Roadmap-Mobile-Slide">
                        <ul class="Roadmap-Item-List">
                            <li><img src="/images/GameFi/list-style.png" alt="">
                                ERNC ICO</li>
                            <li><img src="/images/GameFi/list-style.png" alt="">
                                Launch PonponSnake NFT Website</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="Roadmap-Item">
                <div class="GameFi-Paragraph-Title Roadmap-PC-Title">2022 Q3</div>
                <div class="Roadmap-Item-Block" id="Roadmap-Item-Block-03">
                    <div class="Roadmap-Mobile-Title">
                        <div class="Roadmap-Mobile">2022 Q3</div>
                        <img class="Filter-arrow" src="/images/GameFi/GF-arrow-big.png" alt="">
                    </div>
                    <div class="Roadmap-Mobile-Slide">
                        <ul class="Roadmap-Item-List">
                            <li><img src="/images/GameFi/list-style.png" alt="">
                                PVE</li>
                            <li><img src="/images/GameFi/list-style.png" alt="">
                                Asia Champion League S3</li>
                            <li><img src="/images/GameFi/list-style.png" alt="">
                                MIRP ICO</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="Roadmap-Item">
                <div class="GameFi-Paragraph-Title Roadmap-PC-Title">2022 Q4</div>
                <div class="Roadmap-Item-Block" id="Roadmap-Item-Block-04">
                    <div class="Roadmap-Mobile-Title">
                        <div class="Roadmap-Mobile">2022 Q4</div>
                        <img class="Filter-arrow" src="/images/GameFi/GF-arrow-big.png" alt="">
                    </div>
                    <div class="Roadmap-Mobile-Slide">
                        <ul class="Roadmap-Item-List">
                            <li><img src="/images/GameFi/list-style.png" alt="">
                                Hallowee Festivals</li>
                            <li><img src="/images/GameFi/list-style.png" alt="">
                                Throne Challenge</li>
                            <li><img src="/images/GameFi/list-style.png" alt="">
                                XMAS Festivals</li>
                        </ul>
                    </div>
                </div>
            </div>


        </div>
    </div>



</div>

@code {















    protected override async Task OnAfterRenderAsync(bool firstRender)























    {























        if (firstRender)















        {














            await JS.InvokeVoidAsync("RiderHover");
            await JS.InvokeVoidAsync("GameFiCarousel");
            await JS.InvokeVoidAsync("RoadmapSlideClick");
            await JS.InvokeVoidAsync("chartInit");

            await JS.InvokeVoidAsync("installI18n");















        }















    }

}