@page "/GameFi"
@inject IJSRuntime JS

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PonPonSnake 碰碰蛇｜GameFi</title>
    <link href="css/GameFi.css" rel="stylesheet" />
    <!-- OwlCarouse -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
        integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css"
        integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<div class="GameFiBackground"></div>

<div class="GameFi">
    <div class="GameFi-Title">PonPonSnake GameFi</div>
    <div class="GameFi-Carousel-Block">
        <div class="GameFi-Carousel-Title">Play to Earn</div>
        <div class="GameFi-Carousel-Txt">Take different adventure to explore more value in PonPonSnake!</div>
    </div>
    @* <div class="GameFi-Carousel owl-carousel owl-theme owl-loaded" id=""> *@
    <div class="GameFi-Carousel" id="">
        <div class="GameFi-Carousel-Item">
            <img class="Carousel-Item-bg" src="/images/GameFi/01-Play-to-Earn-01.png" alt="">
            <div class="Item-Info">
                <p class="Item-Info-01">PVP</p>
                <p class="Item-Info-02">Including 1 vs 1 and 4 vs 4 mode.</p>
            </div>
        </div>
        <div class="GameFi-Carousel-Item">
            <img class="Carousel-Item-bg" src="/images/GameFi/01-Play-to-Earn-02.png" alt="">
            <div class="Item-Info">
                <p class="Item-Info-01">Arena</p>
                <p class="Item-Info-02">Champions League and Festival League.</p>
            </div>
        </div>
        <div class="GameFi-Carousel-Item">
            <img class="Carousel-Item-bg" src="/images/GameFi/01-Play-to-Earn-03.png" alt="">
            <div class="Item-Info">
                <p class="Item-Info-01">Rental System</p>
                <p class="Item-Info-02">Rent your NFT rider to earn more profits.</p>
            </div>
        </div>
        <div class="GameFi-Carousel-Item">
            <img class="Carousel-Item-bg" src="/images/GameFi/01-Play-to-Earn-04.png" alt="">
            <div class="Item-Info">
                <p class="Item-Info-01">PVE</p>
                <p class="Item-Info-02">Try to challenge different levels.</p>
            </div>
        </div>
        <div class="GameFi-Carousel-Item">
            <img class="Carousel-Item-bg" src="/images/GameFi/01-Play-to-Earn-05.png" alt="">
            <div class="Item-Info">
                <img src="/images/GameFi/more-key.png" alt="">
                <p class="Item-Info-02">more to explore</p>
            </div>
        </div>
    </div>

</div>




@code {































    protected override async Task OnAfterRenderAsync(bool firstRender)















    {















        if (firstRender)















        {















            await JS.InvokeVoidAsync("installI18n");







            await JS.InvokeVoidAsync("GameFiCarousel");















        }























    }

}