@page "/marketplace"
@inject IJSRuntime JS

<head>
    <title>PonPonSnake 碰碰蛇｜MarketPlace</title>
    <link href="css/MarketPlace.css" rel="stylesheet" />
</head>


<div class="marketPlaceBackground"></div>

<div class="marketPlace">
    @* <img src="/images/MarketPlace/ComingSoon.png" alt=""> *@
    @* <div class="d-inline ml-5 position-relative bgBorder">
        <input style="--step:0" class="ra" type="radio" name="test" value="1">
        <input style="--step:1" class="ra" type="radio" name="test" value="1.1">
        <input style="--step:2" class="ra" type="radio" name="test" value="1.2">
        <input style="--step:3" class="ra" type="radio" name="test" value="1.3">
        <input style="--step:4" class="ra" type="radio" name="test" value="1.4">
        <input style="--step:5" class="ra" type="radio" name="test" value="1.5">
        <input style="--step:6" class="ra" type="radio" name="test" value="1.6">
        </div>

        <div class="m-5 p-5 rounded-lg w-25 card-bg card-bg-green">
        <button class="heart btn p-0">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22.001 20.005">
        <path class="heart__path"
        d="M11.445,20.761,3.576,12.566a5.762,5.762,0,0,1,.3-8.217,5.243,5.243,0,0,1,7.807.892L12,5.677l.314-.436a5.243,5.243,0,0,1,7.807-.892,5.762,5.762,0,0,1,.3,8.217l-7.869,8.194A.763.763,0,0,1,11.445,20.761Z"
        transform="translate(-0.999 -1.995)" stroke-linecap="round" stroke-linejoin="round"
        stroke-width="2" />
        </svg>
        </button>
        </div>

        <div class="m-5 p-5 rounded-lg w-25 card-bg card-bg-red">
        <button class="heart btn p-0">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22.001 20.005">
        <path class="heart__path"
        d="M11.445,20.761,3.576,12.566a5.762,5.762,0,0,1,.3-8.217,5.243,5.243,0,0,1,7.807.892L12,5.677l.314-.436a5.243,5.243,0,0,1,7.807-.892,5.762,5.762,0,0,1,.3,8.217l-7.869,8.194A.763.763,0,0,1,11.445,20.761Z"
        transform="translate(-0.999 -1.995)" stroke-linecap="round" stroke-linejoin="round"
        stroke-width="2" />
        </svg>
        </button>
        </div>

        <div class="bg-info m-5 p-5 rounded-lg w-25">
        <button class="heart btn p-0">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22.001 20.005">
        <path class="heart__path"
        d="M11.445,20.761,3.576,12.566a5.762,5.762,0,0,1,.3-8.217,5.243,5.243,0,0,1,7.807.892L12,5.677l.314-.436a5.243,5.243,0,0,1,7.807-.892,5.762,5.762,0,0,1,.3,8.217l-7.869,8.194A.763.763,0,0,1,11.445,20.761Z"
        transform="translate(-0.999 -1.995)" stroke-linecap="round" stroke-linejoin="round"
        stroke-width="2" />
        </svg>
        </button>
        </div> *@

    <section class="" id="Filter-mobile">
        <div class="Filter-mobile-slide">
            <span>Filter</span>
            <img class="Filter-mobile-arrow" style="" src="/images/MarketPlace/MP-arrow-sm.png" alt="">
        </div>
    </section>

    <aside class="marketPlaceSidebar">
        <div class="marketPlaceSidebar-scroll">

            <section class="Sidebar-Filter-Block" id="Filter-Header">
                <span>Filter</span>
                <div class="Filter-Header-Block">
                    <button class="Filter-Button">Reset</button>
                    <button class="Filter-heart btn p-0">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22.001 20.005">
                            <path class="heart__path"
                                d="M11.445,20.761,3.576,12.566a5.762,5.762,0,0,1,.3-8.217,5.243,5.243,0,0,1,7.807.892L12,5.677l.314-.436a5.243,5.243,0,0,1,7.807-.892,5.762,5.762,0,0,1,.3,8.217l-7.869,8.194A.763.763,0,0,1,11.445,20.761Z"
                                transform="translate(-0.999 -1.995)" stroke-linecap="round" stroke-linejoin="round"
                                stroke-width="1.5" />
                        </svg>
                    </button>
                </div>
            </section>

            <section class="Sidebar-Filter-Block" id="">
                <label for="officialDebut" class="Sidebar-checkbox">
                    <input type="checkbox" id="officialDebut">
                    <span>Only show the official debut</span>
                </label>

            </section>

            @* ETH 0-20 *@
            <section class="Sidebar-Filter-Block" id="">
                <div class="Filter-Title">
                    <span>Price (ETH)</span>
                    <img class="Filter-arrow" src="/images/MarketPlace/MP-arrow-sm.png" alt="">
                </div>

                <div class="Filter-Options">
                    <div class="Filter-Radio">
                        <div class="range-Input">
                            @* <input style="" class="" type="range" name="rangeInput" id="PriceRange" value="20" min="0"
                                max="20" onchange="updateTextInput(this.value);"> *@
                            <input style="" class="" type="range" name="rangeInput" id="PriceRange" value="20" min="0"
                                max="20" oninput="textInputRange.value = this.value">

                        </div>
                        <div class="range-Text">
                            <div class="ra-range" for="">0</div>
                            @* <input type="text" id="textInputRange" value=""> *@
                            <output id="textInputRange">20</output>
                            <div class="ra-range" for="">20</div>
                        </div>
                    </div>
                </div>

            </section>

            <section class="Sidebar-Filter-Block" id="">
                <div class="Filter-Title">
                    <span>Body Type</span>
                    <img class="Filter-arrow" src="/images/MarketPlace/MP-arrow-sm.png" alt="">
                </div>

                <div class="Filter-Options">
                    <div class="Filter-Radio">
                        <div class="bodyType-radio d-inline position-relative bgBorder">
                            <input style="--step:0" class="ra" type="radio" name="test" value="1" id="bodyType-1">
                            <input style="--step:1" class="ra" type="radio" name="test" value="1.1" id="bodyType-1.1">
                            <input style="--step:2" class="ra" type="radio" name="test" value="1.2" id="bodyType-1.2">
                            <input style="--step:3" class="ra" type="radio" name="test" value="1.3" id="bodyType-1.3">
                            <input style="--step:4" class="ra" type="radio" name="test" value="1.4" id="bodyType-1.4">
                            <input style="--step:5" class="ra" type="radio" name="test" value="1.5" id="bodyType-1.5">
                            <input style="--step:6" class="ra" type="radio" name="test" value="1.6" id="bodyType-1.6">
                        </div>
                        <div class="bodyType-label d-inline position-relative">
                            <label class="ra-label" for="bodyType-1">1&nbsp;&nbsp;</label>
                            <label class="ra-label" for="bodyType-1.1">1.1</label>
                            <label class="ra-label" for="bodyType-1.2">1.2</label>
                            <label class="ra-label" for="bodyType-1.3">1.3</label>
                            <label class="ra-label" for="bodyType-1.4">1.4</label>
                            <label class="ra-label" for="bodyType-1.5">1.5</label>
                            <label class="ra-label" for="bodyType-1.6">1.6</label>
                        </div>
                    </div>
                </div>

            </section>

            <section class="Sidebar-Filter-Block" id="">
                <div class="Filter-Title">
                    <span>Rare</span>
                    <img class="Filter-arrow" src="/images/MarketPlace/MP-arrow-sm.png" alt="">
                </div>
                <div class="Filter-Options">
                    <button class="Filter-Button">N</button>
                    <button class="Filter-Button">R</button>
                    <button class="Filter-Button">SR</button>
                    <button class="Filter-Button">SSR</button>
                    <button class="Filter-Button">UR</button>
                </div>
            </section>

            <section class="Sidebar-Filter-Block" id="">
                <div class="Filter-Title">
                    <span>Class</span>
                    <img class="Filter-arrow" src="/images/MarketPlace/MP-arrow-sm.png" alt="">
                </div>
                <div class="Filter-Options">
                    <button class="Filter-Button">Land</button>
                    <button class="Filter-Button">Water</button>
                    <button class="Filter-Button">Wind</button>
                    <button class="Filter-Button">Fire</button>
                </div>
            </section>

            <section class="Sidebar-Filter-Block" id="">
                <div class="Filter-Title">
                    <span>Profession</span>
                    <img class="Filter-arrow" src="/images/MarketPlace/MP-arrow-sm.png" alt="">
                </div>
                <div class="Filter-Options">
                    <button class="Filter-Button">Archer</button>
                    <button class="Filter-Button">Necromancer</button>
                    <button class="Filter-Button">Cleric</button>
                    <button class="Filter-Button">Bard</button>
                    <button class="Filter-Button">Magician</button>
                    <button class="Filter-Button">Assassin</button>
                    <button class="Filter-Button">Gunner</button>
                    <button class="Filter-Button">Gladiator</button>
                    <button class="Filter-Button">Dragoon</button>
                </div>
            </section>

            <section class="Sidebar-Filter-Block" id="">
                <div class="Filter-Title">
                    <span>Country</span>
                    <img class="Filter-arrow" src="/images/MarketPlace/MP-arrow-sm.png" alt="">
                </div>
                <div class="Filter-Options">
                    <button class="Filter-Button">Archer</button>
                    <button class="Filter-Button">Necromancer</button>
                    <button class="Filter-Button">Cleric</button>
                    <button class="Filter-Button">Bard</button>
                    <button class="Filter-Button">Magician</button>
                    <button class="Filter-Button">Assassin</button>
                </div>
            </section>

        </div>



    </aside>

    <main class="marketPlaceMain">
        <section class="marketPlaceHeader">
            <div class="marketPlaceTitle">PonPonSnake's NFTs<br>1,234 PPSFs</div>
            <div class="d-flex flex-column align-items-end" style="align-self: flex-end;">
                <button class="BuyOnOpensea"><a href="">Buy on Opensea</a></button>

                <select class="sortSelect" name="count_adults" id="">
                    <option disabled="" value="" selected="" hidden="">
                        Sort</option>
                    <option value="">Highest Earned</option>
                    <option value="">Lowest Earned</option>
                    <option value="">Highest Price</option>
                    <option value="">Lowest Price</option>
                    <option value="">Newest</option>
                    <option value="">Oldest</option>
                </select>

            </div>
        </section>
        <section class="marketPlaceCardBLock">

            <div class="NFTcard card-bg-red">
                <div class="NFT-cardImg">
                    <img src="/images/MarketPlace/NFTproduct.png" alt="">
                </div>
                <div class="NFT-cardText">
                    <button class="heart btn p-0">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22.001 20.005">
                            <path class="heart__path"
                                d="M11.445,20.761,3.576,12.566a5.762,5.762,0,0,1,.3-8.217,5.243,5.243,0,0,1,7.807.892L12,5.677l.314-.436a5.243,5.243,0,0,1,7.807-.892,5.762,5.762,0,0,1,.3,8.217l-7.869,8.194A.763.763,0,0,1,11.445,20.761Z"
                                transform="translate(-0.999 -1.995)" stroke-linecap="round" stroke-linejoin="round"
                                stroke-width="2" />
                        </svg>
                    </button>
                    <div class="NFT-Number">#123456</div>
                    <div class="NFT-Name">Name Of Rider</div>
                    <div class="NFT-PriceBlock">
                        <div class="NFT-PriceMain">
                            <img class="NFT-PriceIcon" src="/images/MarketPlace/Ethereum-ETH-icon.png" alt="">
                            <span class="NFT-Price">$2913.89</span>
                        </div>
                        <div class="NFT-USD">231269.89 USD</div>
                    </div>
                    <div class="NFT-EndTime">Ends in 30d 12h</div>
                </div>
            </div>

            <div class="NFTcard card-bg-red">
                <div class="NFT-cardImg">
                    <img src="/images/MarketPlace/NFTproduct.png" alt="">
                </div>
                <div class="NFT-cardText">
                    <button class="heart btn p-0">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22.001 20.005">
                            <path class="heart__path"
                                d="M11.445,20.761,3.576,12.566a5.762,5.762,0,0,1,.3-8.217,5.243,5.243,0,0,1,7.807.892L12,5.677l.314-.436a5.243,5.243,0,0,1,7.807-.892,5.762,5.762,0,0,1,.3,8.217l-7.869,8.194A.763.763,0,0,1,11.445,20.761Z"
                                transform="translate(-0.999 -1.995)" stroke-linecap="round" stroke-linejoin="round"
                                stroke-width="2" />
                        </svg>
                    </button>
                    <div class="NFT-Number">#123456</div>
                    <div class="NFT-Name">Name Of Rider</div>
                    <div class="NFT-PriceBlock">
                        <div class="NFT-PriceMain">
                            <img class="NFT-PriceIcon" src="/images/MarketPlace/Ethereum-ETH-icon.png" alt="">
                            <span class="NFT-Price">$2913.89</span>
                        </div>
                        <div class="NFT-USD">231269.89 USD</div>
                    </div>
                    <div class="NFT-EndTime">Ends in 30d 12h</div>
                </div>
            </div>

            <div class="NFTcard card-bg-green">
                <div class="NFT-cardImg">
                    <img src="/images/MarketPlace/NFTproduct.png" alt="">
                </div>
                <div class="NFT-cardText">
                    <button class="heart btn p-0">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22.001 20.005">
                            <path class="heart__path"
                                d="M11.445,20.761,3.576,12.566a5.762,5.762,0,0,1,.3-8.217,5.243,5.243,0,0,1,7.807.892L12,5.677l.314-.436a5.243,5.243,0,0,1,7.807-.892,5.762,5.762,0,0,1,.3,8.217l-7.869,8.194A.763.763,0,0,1,11.445,20.761Z"
                                transform="translate(-0.999 -1.995)" stroke-linecap="round" stroke-linejoin="round"
                                stroke-width="2" />
                        </svg>
                    </button>
                    <div class="NFT-Number">#123456</div>
                    <div class="NFT-Name">Name Of Rider</div>
                    <div class="NFT-PriceBlock">
                        <div class="NFT-PriceMain">
                            <img class="NFT-PriceIcon" src="/images/MarketPlace/Ethereum-ETH-icon.png" alt="">
                            <span class="NFT-Price">$2913.89</span>
                        </div>
                        <div class="NFT-USD">231269.89 USD</div>
                    </div>
                    <div class="NFT-EndTime">Ends in 30d 12h</div>
                </div>
            </div>

            <div class="NFTcard card-bg-green">
                <div class="NFT-cardImg">
                    <img src="/images/MarketPlace/NFTproduct.png" alt="">
                </div>
                <div class="NFT-cardText">
                    <button class="heart btn p-0">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22.001 20.005">
                            <path class="heart__path"
                                d="M11.445,20.761,3.576,12.566a5.762,5.762,0,0,1,.3-8.217,5.243,5.243,0,0,1,7.807.892L12,5.677l.314-.436a5.243,5.243,0,0,1,7.807-.892,5.762,5.762,0,0,1,.3,8.217l-7.869,8.194A.763.763,0,0,1,11.445,20.761Z"
                                transform="translate(-0.999 -1.995)" stroke-linecap="round" stroke-linejoin="round"
                                stroke-width="2" />
                        </svg>
                    </button>
                    <div class="NFT-Number">#123456</div>
                    <div class="NFT-Name">Name Of Rider</div>
                    <div class="NFT-PriceBlock">
                        <div class="NFT-PriceMain">
                            <img class="NFT-PriceIcon" src="/images/MarketPlace/Ethereum-ETH-icon.png" alt="">
                            <span class="NFT-Price">$2913.89</span>
                        </div>
                        <div class="NFT-USD">231269.89 USD</div>
                    </div>
                    <div class="NFT-EndTime">Ends in 30d 12h</div>
                </div>
            </div>

            <div class="NFTcard card-bg-green">
                <div class="NFT-cardImg">
                    <img src="/images/MarketPlace/NFTproduct.png" alt="">
                </div>
                <div class="NFT-cardText">
                    <button class="heart btn p-0">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22.001 20.005">
                            <path class="heart__path"
                                d="M11.445,20.761,3.576,12.566a5.762,5.762,0,0,1,.3-8.217,5.243,5.243,0,0,1,7.807.892L12,5.677l.314-.436a5.243,5.243,0,0,1,7.807-.892,5.762,5.762,0,0,1,.3,8.217l-7.869,8.194A.763.763,0,0,1,11.445,20.761Z"
                                transform="translate(-0.999 -1.995)" stroke-linecap="round" stroke-linejoin="round"
                                stroke-width="2" />
                        </svg>
                    </button>
                    <div class="NFT-Number">#123456</div>
                    <div class="NFT-Name">Name Of Rider</div>
                    <div class="NFT-PriceBlock">
                        <div class="NFT-PriceMain">
                            <img class="NFT-PriceIcon" src="/images/MarketPlace/Ethereum-ETH-icon.png" alt="">
                            <span class="NFT-Price">$2913.89</span>
                        </div>
                        <div class="NFT-USD">231269.89 USD</div>
                    </div>
                    <div class="NFT-EndTime">Ends in 30d 12h</div>
                </div>
            </div>

            <div class="NFTcard card-bg-green">
                <div class="NFT-cardImg">
                    <img src="/images/MarketPlace/NFTproduct.png" alt="">
                </div>
                <div class="NFT-cardText">
                    <button class="heart btn p-0">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22.001 20.005">
                            <path class="heart__path"
                                d="M11.445,20.761,3.576,12.566a5.762,5.762,0,0,1,.3-8.217,5.243,5.243,0,0,1,7.807.892L12,5.677l.314-.436a5.243,5.243,0,0,1,7.807-.892,5.762,5.762,0,0,1,.3,8.217l-7.869,8.194A.763.763,0,0,1,11.445,20.761Z"
                                transform="translate(-0.999 -1.995)" stroke-linecap="round" stroke-linejoin="round"
                                stroke-width="2" />
                        </svg>
                    </button>
                    <div class="NFT-Number">#123456</div>
                    <div class="NFT-Name">Name Of Rider</div>
                    <div class="NFT-PriceBlock">
                        <div class="NFT-PriceMain">
                            <img class="NFT-PriceIcon" src="/images/MarketPlace/Ethereum-ETH-icon.png" alt="">
                            <span class="NFT-Price">$2913.89</span>
                        </div>
                        <div class="NFT-USD">231269.89 USD</div>
                    </div>
                    <div class="NFT-EndTime">Ends in 30d 12h</div>
                </div>
            </div>

        </section>
    </main>



</div>


@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JS.InvokeVoidAsync("installI18n");
            await JS.InvokeVoidAsync("heartClick");
            await JS.InvokeVoidAsync("FilterButtonClick");
            await JS.InvokeVoidAsync("FilterArrowSlideClick");
            await JS.InvokeVoidAsync("updateTextInput");
        }

    }

}