<head>
    <link href="css/NFT_Type.css" rel="stylesheet" />
</head>

<div class="NFT-Type"  id="">

    <div class="Secend-Block-Inventory Inventory-hover Inventory-hover-Click" id="">
        @* <a href="Inventory#Inventory-PPSR-Block"> *@
        <img class="Secend-Inventory-Icon" src="/images/Myprofile/Knight.png" alt="">
        <div class="Inventory-Name">Rider</div>
        @* </a> *@
    </div>

    <div class="Secend-Block-Inventory Inventory-hover" id="" style="cursor: not-allowed;">
        @* <a href=""> *@
        <img class="Secend-Inventory-Icon" src="/images/GameFi/ICON_Lock.png" alt="" style="width: 46px; opacity: 0.7;">
        @* </a> *@
    </div>
    
</div>