@page "/"
@inject IJSRuntime JS

<head>
    <title>PonPonSnake 碰碰蛇｜首頁</title>
    <link href="css/SnakeIndex.css" rel="stylesheet" />
    <!-- OwlCarouse -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
        integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css"
        integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>


<!-- Block01 Index -->
<div class="index01" id="index01">


    <div class="indexBlock">


        <img width="400" src="/images/OfficialWeb/LOGO.png" alt="" class="logo" data-i18n="[src]SnakeIndexlogo">


        <div class="index01_introduce">
            <p data-i18n="[html]introduce_01">碰碰蛇是一款在貪吃蛇為基礎的遊戲玩法上全新進化出獨特戰鬥玩法的3D角色扮演遊戲。</p>
            <p data-i18n="[html]introduce_02">初代勇者為了拯救世界而耗盡生命並與邪惡共同逝去，儘管他們的犧牲帶來了一段時間的和平，邪惡依然在暗處滋養茁壯，一對在森林迷路的兄妹即將繼承身為勇者的宿命以及接受先代勇者們的祝福，為了斯內克大陸的和平奉獻自己的力量。</p>
            <p data-i18n="[html]introduce_03">同時間各國的好手也似乎在為了邪惡再臨大地不斷修行，做足準備。</p>
            <p data-i18n="[html]introduce_04">選擇你最喜歡的騎士，在廣大的斯内克大陸上探險吧。</p>
        </div>

        <p class="index_txt">
            <!-- <span id="gameName">《碰碰蛇》</span><span>是一款以3D引擎製作的超酷炫貪吃蛇遊戲！</span> -->
            <span id="gameName" data-i18n="gameName">▼ 掃瞄或點擊下載 ▼</span>
        </p>
        <div class="QRcode">

            <a href="https://play.google.com/store/apps/details?id=com.cqigames.snakeknight" target="_blank">
                <img src="/images/OfficialWeb/Android_Download.png" alt="" class="Android_QRcode"></a>
            <a href="https://apps.apple.com/us/app/%E7%A2%B0%E7%A2%B0%E8%9B%87-2/id1504212624" target="_blank">
                <img src="/images/OfficialWeb/iOS_Download.png" alt="" class="iOS_QRcode"></a>
            <a href="https://ponponsnake.oss-cn-hangzhou.aliyuncs.com/PonPonSnake.apk" target="_blank">
                <img src="/images/OfficialWeb/aliyun_Download.png" alt="" class="aliyun_QRcode"></a>
            <a href="https://www.facebook.com/PonponSnake/" target="_blank">
                <img src="/images/OfficialWeb/Facebook.png" alt="" class="facebook_QRcode"></a>
        </div>

    </div>
</div>


<!-- Block02 Event -->
@* <div class="event02" id="event02">
    <div class="eventBlock">

        <div class="ACL_logo" data-aos="fade-right" data-aos-duration="1000">
            <img src="/images/OfficialWeb/ACL_logo.png" alt="" id="ACL_logo">
        </div>

        <div class="ceter_kimlan_LOGO" data-aos="fade-left" data-aos-duration="1000"  data-aos-delay="300">
            <img src="/images/OfficialWeb/index_kimlan_LOGO.png" alt="" id="index_kimlan_LOGO">
            <img src="/images/OfficialWeb/index_yomi_LOGO.png" alt="" id="index_yomi_LOGO">
        </div>
        <img  class="eventTitle" data-aos="fade-left" data-aos-duration="1000"  data-aos-delay="300" data-i18n="[src]eventTitle" src="/images/OfficialWeb/SnakeACL_kimlan.png" alt="">

        <div class="grandPrize">
            <img class="GrandPrize_BG" src="/images/OfficialWeb/GrandPrize_BG.png" alt="">

            <p class="GrandPrize_Title" data-i18n="grandPrize_Title">總獎金高達 172.5 萬元!!</p>
        </div>

        <a href="ACLIndex"  style="text-decoration:none" data-aos="fade-up" data-aos-duration="1300">
            <div class="event_Button">

                <img src="/images/OfficialWeb/event_button_round.png" alt="" class="round">
                <p data-i18n="button_txt">前往亞洲聯賽</p>

            </div>
        </a>

    </div>
</div> *@

@* 輪播區塊 *@
<div class="NewStory03 owl-carousel owl-theme owl-loaded" id="character">

    <div class="NewStory03_carousel item" id="NewStory03_carousel_01">
        <div class="NewStory03_left">
            <img src="/images/OfficialWeb/hero_introduction_01.png" alt="" class="NewStory03_left_img">
        </div>

        <div class="NewStory03_right" id="character_bg_1">
            <div class="NewStory03_right_block">
                <div class="NewStory03_right_txt">

                    <div class="NewStory03_right_txt_01">
                        <div class="div_01" data-i18n="[html]carousel_01.div_01">角色：西莉卡<br>
                            蛇蛇：德芙娜奇<br>
                            性別：女</div>
                        <div class="div_02" data-i18n="[html]carousel_01.div_02">年齡：15<br>
                            武器：騎士長槍<br>
                            國家：法蘭
                        </div>
                    </div>

                    <div class="NewStory03_right_txt_02">
                        <p data-i18n="[html]carousel_01.introduction">克雷亞的雙胞胎妹妹，從小生長在鄉村，5歲那年走失，被王國騎士團長領養後，便在王城長大。個性開朗積極，具正義感，品學兼優卻超級不擅長廚藝，常常製造黑暗料理。完美的形象男女通吃，是許多人心中的女神。從小展現的能力十分出眾，一直都是菁英階級，是本屆最矚目的新星騎士之一。
                            速度型騎士，美好的一天從早餐開始～
                        </p>
                    </div>

                </div>

                <div class="Knight_skills_block">
                    <div class="Knight_skills">
                        <p data-i18n="[html]carousel_01.Knight_skills_01">光明包覆</p>
                        <img src="/images/OfficialWeb/Knight_skills_1-1.png" alt="" class="Knight_skills_img">
                    </div>
                    <div class="Knight_skills">
                        <p data-i18n="[html]carousel_01.Knight_skills_02">破曉之耀</p>
                        <img src="/images/OfficialWeb/Knight_skills_1-2.png" alt="" class="Knight_skills_img">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="NewStory03_carousel item" id="NewStory03_carousel_02">
        <div class="NewStory03_left">
            <img src="/images/OfficialWeb/hero_introduction_02.png" alt="" class="NewStory03_left_img">
        </div>

        <div class="NewStory03_right" id="character_bg_2">
            <div class="NewStory03_right_block">
                <div class="NewStory03_right_txt">

                    <div class="NewStory03_right_txt_01">
                        <div class="div_01" data-i18n="[html]carousel_02.div_01">角色：克雷亞<br>
                            蛇：德斯那奇<br>
                            性別：男</div>
                        <div class="div_02" data-i18n="[html]carousel_02.div_02">年齡：15<br>
                            武器：騎士長槍<br>
                            國家：法蘭
                        </div>

                    </div>

                    <div class="NewStory03_right_txt_02">
                        <p data-i18n="[html]carousel_02.introduction">西莉卡的雙胞胎哥哥，從小生長在鄉村，5歲那年兄妹分散，15歲來到王城，加入王國騎士團。個性溫和正向，具正義感，暖男類型，擅長廚藝。熱心助人的個性很容易被騙，不過只要不影響他原則，吃點虧無所謂。為了能盡快趕上妹妹，勤奮地不停鍛鍊，是本屆最矚目的新星騎士之一。也是個隱性妹控。力量型騎士，力量是為了守護而存在。
                        </p>
                    </div>

                </div>

                <div class="Knight_skills_block">
                    <div class="Knight_skills">
                        <p data-i18n="[html]carousel_02.Knight_skills_01">夜幕包覆</p>
                        <img src="/images/OfficialWeb/Knight_skills_2-1.png" alt="" class="Knight_skills_img">
                    </div>
                    <div class="Knight_skills">
                        <p data-i18n="[html]carousel_02.Knight_skills_02">夜影強襲</p>
                        <img src="/images/OfficialWeb/Knight_skills_2-2.png" alt="" class="Knight_skills_img">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="NewStory03_carousel item" id="NewStory03_carousel_03">
        <div class="NewStory03_left">
            <img src="/images/OfficialWeb/hero_introduction_03.png" alt="" class="NewStory03_left_img">
        </div>

        <div class="NewStory03_right" id="character_bg_3">
            <div class="NewStory03_right_block">
                <div class="NewStory03_right_txt">

                    <div class="NewStory03_right_txt_01">
                        <div class="div_01" data-i18n="[html]carousel_03.div_01">角色：路西法<br>
                            蛇蛇：格萊那奇<br>
                            性別：男</div>
                        <div class="div_02" data-i18n="[html]carousel_03.div_02">年齡：18<br>
                            武器：大劍<br>
                            國家：諾德公國
                        </div>

                    </div>

                    <div class="NewStory03_right_txt_02">
                        <p data-i18n="[html]carousel_03.introduction">諾德公國貴族出身，小時候曾被父母送到法蘭學習一段時日，與維納斯熟識。
                            自來熟，愛耍帥，還帶點中二的個性，讓他從小就被維納斯慘虐。其實十分善良，默默幫助許多弱勢的人們。為了配合蛇蛇造型特地在裝備上加裝了翅膀。雖然個性外向，但被誇獎時反而會手足無措，M屬性男孩。
                            重力型騎士，沒有敵人可以越過我的大劍！！！
                            （我的實力就是令人如此窒息）
                        </p>
                    </div>

                </div>

                <div class="Knight_skills_block">
                    <div class="Knight_skills">
                        <p data-i18n="[html]carousel_03.Knight_skills_01">重力控制</p>
                        <img src="/images/OfficialWeb/Knight_skills_3-1.png" alt="" class="Knight_skills_img">
                    </div>
                    <div class="Knight_skills">
                        <p data-i18n="[html]carousel_03.Knight_skills_02">重力禁錮</p>
                        <img src="/images/OfficialWeb/Knight_skills_3-2.png" alt="" class="Knight_skills_img">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="NewStory03_carousel item" id="NewStory03_carousel_04">
        <div class="NewStory03_left">
            <img src="/images/OfficialWeb/hero_introduction_04.png" alt="" class="NewStory03_left_img">
        </div>

        <div class="NewStory03_right" id="character_bg_4">
            <div class="NewStory03_right_block">
                <div class="NewStory03_right_txt">

                    <div class="NewStory03_right_txt_01">
                        <div class="div_01" data-i18n="[html]carousel_04.div_01">角色：溫蒂妮<br>
                            蛇蛇：波波娜奇<br>
                            性別：女</div>
                        <div class="div_02" data-i18n="[html]carousel_04.div_02">年齡：不詳<br>
                            武器：魔法球<br>
                            國家：德拉聯邦
                        </div>

                    </div>

                    <div class="NewStory03_right_txt_02">
                        <p data-i18n="[html]carousel_04.introduction">來自德拉聯邦的溫蒂妮島，現任法蘭神殿神官，樣貌是女孩，但年齡應該有三位數。傳說是上上代的女王請來的。
                            精靈種族，有飄浮飛行能力，可以控制水元素。超級愛錢，販售謎之飲料就是為了賺錢。溫柔親和的大姐姐個性（如果你沒騙她錢的話），喜愛照顧幼小。
                            遠程輔助型，多喝水沒事，沒事多喝水。
                        </p>
                    </div>

                </div>

                <div class="Knight_skills_block">
                    <div class="Knight_skills">
                        <p data-i18n="[html]carousel_04.Knight_skills_01">生命之水</p>
                        <img src="/images/OfficialWeb/Knight_skills_4-1.png" alt="" class="Knight_skills_img">
                    </div>
                    <div class="Knight_skills">
                        <p data-i18n="[html]carousel_04.Knight_skills_02">治療之潮</p>
                        <img src="/images/OfficialWeb/Knight_skills_4-2.png" alt="" class="Knight_skills_img">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="NewStory03_carousel item" id="NewStory03_carousel_05">
        <div class="NewStory03_left">
            <img src="/images/OfficialWeb/hero_introduction_05.png" alt="" class="NewStory03_left_img">
        </div>

        <div class="NewStory03_right" id="character_bg_5">
            <div class="NewStory03_right_block">
                <div class="NewStory03_right_txt">

                    <div class="NewStory03_right_txt_01">
                        <div class="div_01" data-i18n="[html]carousel_05.div_01">角色：維納斯<br>
                            蛇蛇：安婕娜奇<br>
                            性別：不詳</div>
                        <div class="div_02" data-i18n="[html]carousel_05.div_02">年齡：18<br>
                            武器：長槍<br>
                            國家：法蘭
                        </div>

                    </div>

                    <div class="NewStory03_right_txt_02">
                        <p data-i18n="[html]carousel_05.introduction">法蘭帝國的第一皇女，是下任女王繼承人。從小受皇家教育長大，責任與使命感很重。路西法的青梅竹馬。外表看起來是嬌柔的女孩子，但性別一直受到外界的質疑，不過不影響其高貴的氣質。女王重點培養對象，但似乎養成了工作狂的個性。戰鬥招式神聖華麗，為了皇室榮譽而戰。
                            速度型騎士，解決不了問題就解決製造問題的人。
                        </p>
                    </div>

                </div>

                <div class="Knight_skills_block">
                    <div class="Knight_skills">
                        <p data-i18n="[html]carousel_05.Knight_skills_01">優雅戰技</p>
                        <img src="/images/OfficialWeb/Knight_skills_5-1.png" alt="" class="Knight_skills_img">
                    </div>
                    <div class="Knight_skills">
                        <p data-i18n="[html]carousel_05.Knight_skills_02">天空之眼</p>
                        <img src="/images/OfficialWeb/Knight_skills_5-2.png" alt="" class="Knight_skills_img">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- New Block04 -->
<div class="newBlock04" id="knight_adventure">
    <div class="newBlock04_1">
        <div class="newBlock04Txt" id="newBlock04Txt_01" data-i18n="[html]knight_adventure.txt_01">
            <div class="Txt_line"><span class="Txt_big">騎士</span></div><br>
            <span class="Txt_little">從</span>
            <span class="Txt_middle">五大國度</span>
            <span class="Txt_little">前來</span><br>
            <span class="Txt_little">不同特性及性格的騎士</span>
        </div>
        @* 想直接切換div *@
        @* <div class="newBlock04Txt" id="newBlock04Txt_01_EN" data-i18n="[html]knight_adventure.txt_01">
            <div class="Txt_line"><span class="Txt_big">English</span></div><br>
            <span class="Txt_little">English</span>
            <span class="Txt_middle">English</span>
            <span class="Txt_little">English</span><br>
            <span class="Txt_little">English</span>
        </div> *@

        <div class="knight_icon_block">
            <img class="knight_icon" data-aos="zoom-in-left" data-aos-duration="500" data-aos-delay="300"
                src="/images/OfficialWeb/knight_icon_01.png" alt="">
            <img class="knight_icon" data-aos="zoom-in-left" data-aos-duration="500" data-aos-delay="600"
                src="/images/OfficialWeb/knight_icon_02.png" alt="">
            <img class="knight_icon" data-aos="zoom-in" data-aos-duration="500" data-aos-delay="900"
                src="/images/OfficialWeb/knight_icon_03.png" alt="">
            <img class="knight_icon" data-aos="zoom-in-right" data-aos-duration="500" data-aos-delay="1200"
                src="/images/OfficialWeb/knight_icon_04.png" alt="">
            <img class="knight_icon" data-aos="zoom-in-right" data-aos-duration="500" data-aos-delay="1500"
                src="/images/OfficialWeb/knight_icon_05.png" alt="">
        </div>
    </div>

    <div class="newBlock04_2">

        <div class="newBlock04Txt" id="newBlock04Txt_02" data-aos="zoom-out-right" data-aos-duration="500"
            data-aos-delay="300" data-i18n="[html]knight_adventure.txt_02">
            <span class="Txt_middle">區域</span><br>
            <div class="Txt_line"><span class="Txt_big">冒險</span></div>
            <span class="Txt_little">在孕育邪惡的無盡之海</span><br>
            <span class="Txt_little">打倒</span>
            <span class="Txt_middle">魔獸</span>
            <span class="Txt_little">吧</span>
        </div>

        <div class="newBlock04Txt" id="newBlock04Txt_03" data-aos="zoom-out-left" data-aos-duration="500" data-i18n="[html]knight_adventure.txt_03">
            <span class="Txt_middle">即時</span><br>
            <div class="Txt_line"><span class="Txt_big">對戰</span></div>
            <span class="Txt_little">線上即時與</span>
            <span class="Txt_middle">隊友</span>
            <span class="Txt_little">一同出戰</span>
        </div>
    </div>
</div>

<!-- Block05 Video -->

<div class="video05" id="video05">
    <div class="video05_all">
        <div class="videoTitle" data-aos="fade-up" data-aos-duration="500">
            <p data-i18n="videoTitle">遊戲影片</p>
            <img src="/images/OfficialWeb/TitleLine2.png" alt="" class="TitleLine">
        </div>



        <div class="videoArea">
            <div class="videoBlock" data-aos="fade-up" data-aos-duration="500">
                <iframe src="https://www.youtube.com/embed/pSZ3Z3qEe2Q" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>


            <div class="videoDownload" data-aos="fade-up" data-aos-duration="500">
                <p data-i18n="gameDownload">遊戲下載點</p>
                <div class="Download_QRcode">
                    <a href="https://play.google.com/store/apps/details?id=com.cqigames.snakeknight"
                        target="_blank">
                        <img src="/images/OfficialWeb/Android_Download.png" alt="Android_QRcode" class="Android_QRcode"></a>
                    <a href="https://apps.apple.com/us/app/%E7%A2%B0%E7%A2%B0%E8%9B%87-2/id1504212624"
                        target="_blank">
                        <img src="/images/OfficialWeb/iOS_Download.png" alt="iOS_QRcode" class="iOS_QRcode"></a>
                    <a href="https://ponponsnake.oss-cn-hangzhou.aliyuncs.com/PonPonSnake.apk" target="_blank">
                        <img src="/images/OfficialWeb/aliyun_Download.png" alt="aliyun_QRcode" class="aliyun_QRcode"></a>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- Block06 contact-->
<div class="contact06" id="contact06">
    <div class="contactTitle" data-aos="fade-up" data-aos-duration="300">
        <p data-i18n="contact.title">意見回饋</p>
        <img src="/images/OfficialWeb/TitleLine.png" alt="" class="TitleLine">
    </div>

    <div class="contactForm" data-aos="fade-up" data-aos-duration="300">
        <form action="">
            <label for="userNickname">
                <input type="text" name="userNickname" id="userNickname" placeholder="請輸入姓名" data-i18n="[placeholder]contact.name">
            </label>
            <label for="email">
                <input type="email" name="" id="email" placeholder="請輸入e-mail" data-i18n="[placeholder]contact.mail">
            </label>
            <label for="phone">
                <input type="text" name="phone" id="phone" placeholder="請輸入手機號碼" data-i18n="[placeholder]contact.phone">
            </label>
            <label for="feedbackType">
                <input type="text" name="feedbackType" id="feedbackType" placeholder="請選擇回饋類型" data-i18n="[placeholder]contact.feedbackType">
            </label>
            <label for="content">
                <textarea name="content" id="content" cols="30" rows="10" placeholder="請輸入回饋內容" data-i18n="[placeholder]contact.content"></textarea>
            </label>
            <label for="sendMessageButton">
                <input type="button" value="送出" id="sendMessageButton" @onclick="SendFeedbackClick" data-i18n="[value]contact.send">
            </label>

        </form>
    </div>
</div>

<!-- footer -->
<footer>
    <div class="copyright">
        <p>Copyright © 2021 PonPonSnake. All rights reserved.</p>
    </div>
</footer>

@* 浮動活動banner *@

    <div class="event_banner">
        @* @onclick="event_banner_SlideClick" *@
        <a class="" href="ACLIndexS2">
            <img class="event_banner_logo" id="" src="/images/AsiaChampionsLeague/S2/ACL_S2_LOGO.png" alt="">
        </a>
        @* <img class="event_banner_chinese_border" id="event_banner_chinese_border" src="/images/LunarNewYear/chinese_border.png" alt=""> *@

        <div id="event_banner_close" @onclick="eventBannerCloseClick">
            <img src="/images/OfficialWeb/event_banner/event_banner_close.png" alt="">
        </div>

        
        <a class="event_link" href="ACLIndexS2">
            <div class="event_banner_bg">
                <div class="shine"></div>
                @* <img class="event_banner_img"  id="event_banner_img_xmas"src="/images/OfficialWeb/event_banner/event_banner_xmas.png" alt=""> *@
                <div class="event_banner_txt">
                    @* <p class="goToEvent_date">2022 / 1 / 24 ~ 2 / 8</p> *@
                    @* <p class="Event_name">2022<br>ASIA CHAMPIONS LEAGUE S2</p> *@
                    <img class="event_banner_title" id="" src="/images/OfficialWeb/event_banner/ASIA CHAMPIONS LEAGUE-2022.png" alt="">
                    @* <p>好禮歡樂送</p> *@
                    <div class="knight_icon_block banner_knight_icon_block">
                        <img class="knight_icon banner_knight_icon"
                            src="/images/OfficialWeb/knight_icon_01.png" alt="">
                        <img class="knight_icon banner_knight_icon" 
                            src="/images/OfficialWeb/knight_icon_02.png" alt="">
                        <img class="knight_icon banner_knight_icon" 
                            src="/images/OfficialWeb/knight_icon_03.png" alt="">
                        <img class="knight_icon banner_knight_icon" 
                            src="/images/OfficialWeb/knight_icon_04.png" alt="">
                        <img class="knight_icon banner_knight_icon" 
                            src="/images/OfficialWeb/knight_icon_05.png" alt="">
                    </div>
                </div>

                <div class="event_banner_goToEvent">
                    <div class="event_banner_goToEvent_pc">
                        <div class="event_banner_goToEvent_pc_txt">

                            @* <p>現正熱烈報名中</p>
                            <div id="timeCountdown"></div> *@
                        </div>

                        <a href="ACLIndexS2">
                            <div class="event_banner_goToEvent_pc_button">
                                Coming Soon...
                            </div>
                        </a>
                    </div>
                    <div class="event_banner_goToEvent_mobile">
                        <a href="LunarNewYear">
                        <img class="event_banner_button" src="/images/OfficialWeb/event_banner/event_button.png" alt="">
                        </a>
                        @* <p>報名 2 / 7 截止</p> *@
                    </div>
                </div>
            </div>
        </a>
    </div>




@code {

    private async Task LanguageSwitchClick()
    {
        await JS.InvokeVoidAsync("LanguageSwitch");
    }

    private async Task event_banner_SlideClick()
    {
        await JS.InvokeVoidAsync("event_banner_Slide");
    }

    private async Task eventBannerCloseClick()
    {
        await JS.InvokeVoidAsync("eventBannerClose");
    }

    private async Task SendFeedbackClick()
    {
        await JS.InvokeVoidAsync("Feedback", "Feedback");
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {   
        if(firstRender){
            await JS.InvokeVoidAsync("Carousel");
            await JS.InvokeVoidAsync("installI18n");
            await JS.InvokeVoidAsync("dayjsInit");
        }
    }
    
}