@page "/test"
@inject IJSRuntime JS

<head>
    <link href="css/test.css" rel="stylesheet" />
</head>

<div class="test-container">
    <h3> test</h3>
    <button id ="testAddPolygonID"> 新增或切換 Polygon鍊 </button>
</div>

@code {
    
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
    
            await JS.InvokeVoidAsync("test");   
            
        }

    }

}
