@inherits LayoutComponentBase
@using SnakeAsianLeague.Pages
@using SnakeAsianLeague.Data.Services


<NavMenu />
<AnchorNavigation />
<div class="container">
    @Body
</div>

@* 亞洲聯賽Footer *@
<footer id="acl_footer" class="acl_footer_statu">
    <div class="footer_block">
        <div class="footer_left">

            <div class="logo_area_block">

                <div class="logo_area">
                    <div class="logo_title">冠名合作</div>
                    <div class="logo_picture">
                        @* 金蘭好優米 *@
                        <a href="https://bit.ly/3ls41hh" target="_blank">
                            <img src="/images/Footer/kimlan_yomi.png" alt="">
                        </a>
                    </div>
                </div>

                <div class="logo_area">
                    <div class="logo_title">指導單位</div>
                    <div class="logo_picture">
                        @* 桃園市政府 *@
                        <a href="https://www.tycg.gov.tw/" target="_blank"><img src="/images/Footer/TaoyuanCity.png"
                                alt=""></a>
                        @* 中國民國電子競技運動協會 *@
                        <a href="https://www.ctesa.com.tw/" target="_blank"><img src="/images/Footer/ctesa-ICON.png"
                                alt=""></a>
                    </div>
                </div>



            </div>

            <div class="logo_area_block">
                <div class="logo_area">
                    <div class="logo_title">主辦單位</div>
                    <div class="logo_picture">
                        <a href="https://www.cqigames.com/" target="_blank"><img src="/images/Footer/logo_CQIGAMES.png"
                                alt=""></a>
                        @* Qubic *@
                        @* <a href="https://apps.apple.com/us/app/qubic-%E6%9C%80%E7%B0%A1%E5%96%AE%E4%B8%8A%E6%89%8B%E7%9A%84%E8%99%9B%E6%93%AC%E8%B2%A8%E5%B9%A3%E9%8C%A2%E5%8C%85/id1563987988"><img
                            src="/images/Footer/Qubic.png" alt=""></a> *@
                        @* MaiCoin *@
                        @* <a href="https://www.maicoin.com/"><img src="/images/Footer/logo_MaiCoin.png" alt=""></a> *@
                    </div>
                </div>

                <div class="logo_area">
                    <div class="logo_title">協辦單位</div>
                    <div class="logo_picture">
                        @* 桃園市議員黃家齊辦公室 *@
                        <a href="https://www.facebook.com/hcc3920888" target="_blank"><img src="/images/Footer/office.png"
                                alt=""></a>
                    </div>
                </div>
            </div>

            <div class="logo_area">
                <div class="logo_title">合作夥伴</div>
                <div class="logo_picture">
                    @* MyCard *@
                    <a href="https://www.mycard520.com.tw/zh-tw" target="_blank"><img
                            src="/images/Footer/logo_MYCARD.png" alt=""></a>
                    @* ASUS ROG *@
                    @*<a href="https://www.asus.com/tw/Mobile/Phones/ROG-Phone/" target="_blank"><img
                            src="/images/Footer/logo_Asus-ROG.png" alt=""></a>*@
                    @* 爽鋪 *@
                    <a href="https://sshop.com.tw/" target="_blank"><img src="/images/Footer/logo_sshop.png" alt=""></a>
                </div>
            </div>
            
        </div>

        <div class="footer_right">

            <div class="footer_title">2021 Aisa Champions League</div>
            <div class="footer_icon_all">
                <a href="https://www.facebook.com/snake.cqigames" target="_blank"><img src="/images/Footer/FBICON.png"
                        alt=""></a>
                <a href="https://www.twitch.tv/ponponsnake" target="_blank"><img src="/images/Footer/TwitchICON.png"
                        target="_blank" alt=""></a>
                <a href="https://www.youtube.com/watch?v=KGfxGW0mikg" target="_blank"><img
                        src="/images/Footer/YoutubeICON.png" alt=""></a>
            </div>
            <div class="footer_text">
                <p id="footer_website">CQI GAMES</p>
                <p id="footer_email">twchenquan@gmail.com</p>
                <p id="footer_tel">+886 (3) 316-0003</p>
            </div>
        </div>
    </div>

    <div id="footer_copyright">
        Copyright © 2021 PonPonSnake. All rights reserved.
    </div>

</footer>


