
@using SnakeAsianLeague.Shared.WebFoorer_Components
@inject IJSRuntime JS

<head>

     <link href ="css/WebFooter.css" rel="stylesheet" />
</head>

<div class ="webFooter">
    <div class="CQI-Game">
        <div class="CQI-Title">
            CQI Games
        </div>
        <div class="CQI-Icons">
            <button class="Icon-FB" href="https://www.facebook.com/PonponSnake" />
            <button class="Icon-YT" href="https://www.youtube.com/channel/UCknaYifA1xhXBqBO3KulIUw" />
            <button class="Icon-Twitch" href="https://www.twitch.tv/ponponsnake" />
            <button class="Icon-Discord" href="https://discord.gg/cDHbRJGd" />

        </div>
    </div>
    <div class="page-links">
        <div class="link-row">
            <ul>
                <li>
                    PonPonSnake
                </li>
                 <li>
                   <a href="/"> Home</a>
                </li>
                  <li>
                   <a href="/GameFi"> GameFi</a>
                </li>
                 <li>
                   <a href="/MarketPlace"> MarketPlce</a>
                </li>
                <li>
                    <a href="/ACLIndexS2"> Arena</a>
                </li>
                 <li>
                    <a href="/https://ponponsnake.substack.com"> News</a>
                </li>
            </ul>
        </div>
         <div class="link-row">
            <ul>
                <li>
                    NFTs
                </li>
                 <li>
                   <a href="/"> ERNC</a>
                </li>
                  <li>
                   <a href="/"> Whitepaper</a>
                </li>           
            </ul>
        </div>
          <div class="link-row">
            <ul>
                <li>
                    Contact
                </li>
                 <li @onclick ="FooterContactShow">
                    Contact us
                </li>
                  <li>
                   <a href="/"> Join us</a>
                </li>     
                <li>
                   <a href="/"> Our Team</a>
                </li>     
            </ul>
        </div>
        
    </div>
    <div class="contact-information">
        <div>
            twchenquan@gmail.com
        </div>
        <div>
            +886(3)316-0003
        </div>
    </div>
    <div class="clear-fix Copyright">
        Copyright © 2022 PonPonSnake All Rights Reserved.
    </div>
</div>



 <WebFooter_Contact  />




@code {
  

    private async Task FooterContactShow()
    {
        await JS.InvokeVoidAsync("FooterContactShow");
    }
}
