@inject IJSRuntime JS
@using SnakeAsianLeague.Shared.WebFoorer_Components

<head>
     <link href ="css/WebFooter.css" rel="stylesheet" />
</head>

<div class ="webFooter" id="webFooter">   
     @*CQIGame*@
    <WebFoorer_CQIGame />
    @*PageLinks*@ 
    <WebFoorer_PageLinks />
    @*Information*@ 
    <WebFoorer_Information />
    @*Copyright*@
    <WebFoorer_Copyright />   
</div>
@*聯絡表單*@

 <WebFooter_Contact  />

@code {

    private IJSObjectReference? lazyloadingJS;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {           
            lazyloadingJS = await JS.InvokeAsync<IJSObjectReference>("import", "./JavaScript/SharedLib/LazyLoading.js");
            await lazyloadingJS.InvokeVoidAsync("LazyLoading");
           
        }
    }
    
}
