@using SnakeAsianLeague.Data.Entity


<div class="login_block" id="login_block">
    <div class="login_block_bg" @onclick="loginClose"></div>

    <div class="login" id="login_window">
        <svg xmlns="http://www.w3.org/2000/svg" width="24.122" height="24.12" viewBox="0 0 24.122 24.12"
             id="login_close" @onclick="loginClose">
            <path id="" data-name="合体 5" d="M-12484-1752l-11,11,11-11-11-11,11,11,11-11-11,11,11,11Z"
                  transform="translate(12496.062 1764.06)" fill="none" stroke="#e0eeff" stroke-linecap="round"
                  stroke-linejoin="round" stroke-width="3" />
        </svg>
        <p class="window_p" data-i18n="[html]signInWindows.PonPonSnake">登入碰碰蛇帳號</p>
        <div class="login_pictuer_block">
            <img id="login_pictuer" src="images\Other\login_picture.png" alt="">
        </div>       
        <div class="input_block">
            <div class="login_form">
                <label class="login_label" for="account" data-i18n="[html]signInWindows.PhoneNumber">手機</label>
                <input type="text" class="login_input" id="address" name="address" placeholder="" @bind=loginRequest.phone  required>
            </div>
            <div class="login_form" style="margin-bottom: 20px;">
                <label class="login_label" for="password" data-i18n="[html]signInWindows.Password">密碼</label>
                <input type="password" class="login_input" id="password" name="password" placeholder="" 　@bind=loginRequest.password required>
            </div>
            <div type="text" class="login_error" hidden="@(!loginErrorShow)"  data-i18n="[html]signInWindows.Failed">登入失敗，請重新登入</div>
            <div id="login_submit" @onclick="@LoginSubmitBtn">                
                <img src="/images/Index/signUpEvent_button.png" alt="">
                <span data-i18n="[html]signInWindows.SignIn">登入</span>                
            </div>
        </div>
    </div>
</div>

@code {
     [Parameter]
    public Boolean loginErrorShow { get; set;}

    [Parameter]
    public EventCallback<int> loginCloseClick { get; set;}
   
    [Parameter]
    public  LoginRequest loginRequest { get; set;}

    private void loginClose()
    {
        loginCloseClick.InvokeAsync();   
    }

     [Parameter]
    public EventCallback<int> LoginSubmit { get; set;}

     private void LoginSubmitBtn()
    {
        LoginSubmit.InvokeAsync();   
    }


}
