@page "/NewYear2023"

@using SnakeAsianLeague.Pages.Festival.NewYear2023.Components

@inject IJSRuntime JS


<head>
    <title>PonPonSnake｜NewYear2023</title>
    <link href="/css/Festival/NewYear2023/NewYear2023.css" rel="stylesheet" />
</head>

<div class="NewYear2023">  
    <NewYear2023_Banner />
    <NewYear2023_About />
    <NewYear2023_Rules />
    <NewYear2023_Reward />

    <NewYear2023_Rank />
    <NewYear2023_Schedule />
    @* <NewYear2023_Notice /> *@
</div>


@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)

    {
        if (firstRender)
        {
            await JS.InvokeVoidAsync("installI18n");
        }
    }
}