/* nav 當頁顯示 */
#nav_ul-myPage {
    color: white;
    /* background-image: url(/images/Other/nav_hover.webp);*/
background-color: #b1d7d9;
    box-shadow: inset 0px 0px 8px 0px #7da9ac8c;
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
}