/* page-select 頁籤樣式*/
.Pagination-Block{
    /* border: 1px solid red; */
    width: 100%;
    margin: 0 auto;
    text-align: center;
    color: white;
}
.page-select{
    /* border: 1px solid rgb(195, 165, 165); */
    width: 80%;
    margin: 0 auto;
}

.pagination{
    /* border: 1px solid red; */
    /* background: none; */
}

.page-item{
    /* background: none !important; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.page-item.disabled .page-link{
    /* padding: 0px 18px; */
    font-weight: bold;
    color:var(--green-2);
    border: none;
    margin: 0px;
    background: none;
    font-size: 16px;
    transition: all .1s ease-in-out;
}
.disabled >.page-link {
    /* background: none; */
}
.page-link{
    /* border: 1px solid red; */
    /* padding: 2px 16px; */
    font-weight: bold;
    color:var(--green-2);
    border: none;
    margin: 2px;
    background: none;
    font-size: 16px;
    transition: all .1s ease-in-out;
    white-space: nowrap;
}
.page-link:hover{
    transform: scale(1.1);
    background: none;
    color: white;
    /* color:var(--green-2);
    opacity: 0.5; */
}
.page-item.active .page-link {
    z-index: 1;
    color: #fff;

    background-color: var(--green-2);
    border-radius: 20px;
    padding: 2px 16px;
}

@media all and (max-width: 600px){
    .Pagination-Block{
        margin: 0px auto 70px;
    }
    .page-link{
        padding: 2px 10px;
    }
}