/* 彈窗 products-Popup */

.products-popup-bg{
    width: 100%;
    height: 100vh;
    background-color: var(--bg-4);
    position: fixed;
    top: 0;
    left: 0;
    transition: all .3s ease-in-out; 
    opacity: 0;
    z-index: -50;

    /* display: none; */
}

.products-popupblock{
    background-color: var(--green-1);
    /* border: 1.5px solid var(--green-2); */
    max-width: 630px;
    position: relative;
    width: 80%;
    max-height: 80vh;
    border-radius: 20px;
    z-index: 50;
    box-shadow: 5px 5px 10px #0606063f;

    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;

}
.products-popup-open{
    opacity: 1 !important;
    z-index: 50 !important;
}
.products-popup-close{
    width: 25px;
    height: 25px;
    position: absolute;
    top: 16px;
    right: 16px;
    cursor: pointer;
    transition: all .1s ease-in-out; 
}
.products-popup-close:hover{
    transform: scale(1.05);
    opacity: 0.8;
}

.products-popup-title{
    color: var(--green-2);
    font-size: 36px;
    font-weight: 600;
    text-align: center;
    padding: 30px 0 20px;
    width: 85%;
    margin: 0 auto;
    line-height: 36px;
}
.products-popup-content {
    /* border-top: 1.5px solid var(--green-2);*/
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.products-popup-text{
    color: var(--green-2);
    font-size: 24px;
    line-height: 30px;
    margin: 10px auto 20px;
    width: 85%;
    text-align: center;
}

.products-popup-text span {
    color: #FFA81D;
}

.products-popup-text p {
    display:inline-block
}

.show-msg {
    color:#fff
}

input.products-popup-inputText {
    background-color: var(--bg-1);
    border: 2px solid var(--green-2);
    border-radius: 13px;
    padding: 6px 20px 4px;
    white-space: nowrap;
    font-size: 26px;
    outline: none;
    color: var(--white);
    width: 65%;
}
input.products-popup-inputText:focus{
    border: 3px solid var(--white);
    color: var(--white);
}
input.products-popup-inputText::placeholder{
    font-size: 22px;
    color: #7f9390;
}

.products-popup-error{
    color: var(--red-2);
    font-size: 20px;
    margin: 15px 0 0px;
    width: 85%;

    /* display: none; */
}

button.products-popup-submit{
    color: var(--white);
    font-size: 30px;
    border: 3px solid var(--white);
    background: none;
    border-radius: 13px;
    padding: 3px 22px;
    margin-top: 30px;
    transition: all .05s ease-in; 
}
button.products-popup-submit:hover{

    border: 3px solid var(--white);
    background-color: var(--white);
    color: var(--green-1);
}

@media all and (max-width: 1000px){
    .products-popup-title{
        font-size: 30px;
    }
    .products-popup-text{
        font-size: 22px;
        text-align: left;
    }
    input.products-popup-inputText{
        font-size: 22px;
        width: 85%;
    }
    button.products-popup-submit{
        font-size: 24px;

    }
    .products-popup-content{
        padding: 20px 0 30px;
    }
}
@media all and (max-width: 600px){
    .products-popup-title{
        font-size: 28px;
        padding: 40px 0 20px;
        line-height: 32px;
    }
    .products-popup-text{
        font-size: 20px;
        margin: 10px auto 15px
    }
    input.products-popup-inputText{
        font-size: 20px;
        width: 80%;
    }
    button.products-popup-submit{
        font-size: 22px;
    }
    .products-popup-close{
        top: 12px;
        right: 12px;
        width: 22px;
        height: 22px;
    }
    .products-popup-content{
        padding: 10px 0 30px;
    }

}