@inject IJSRuntime JS

<head>
    <link href="css/Festival/Festival_Nav_Select.css" rel="stylesheet" />
</head>

<div class="Festival_Nav_Select">
    <select name="" id="FestivalSeasonNav">
        <option style="display: none;" disable>節慶賽</option>
        <optgroup label="- 2023 -">
            <option value="NewYear2023">春節新年聯賽</option>
        </optgroup>
        <optgroup label="- 2022 -">
            <option value="LunarNewYear">新年節慶賽</option>
        </optgroup>
        <optgroup label="- 2021 -">
            <option value="ChristmasIndex">聖誕節慶賽</option>
        </optgroup>
    </select>
</div>