 @inject IJSRuntime JS

 <div class="QRcode_fixed" @onclick="QRcode_SlideClick" data-aos="fade-up" data-aos-duration="500"
         data-aos-delay="1100">

        <img data-src="./images/LunarNewYear/Decorate_Fu.webp" alt="" id="QRcode_bow">
        <div class="QRcode_fixed_top">
            <button class="QRcode_fixed_button">
                <p>下載遊戲</p>
            </button>

            <img id="QRcode_arrow_down" data-src="/images/christmas_newyear/arrow_down_gold.webp" alt="">
        </div>
        <div class="QRcode_Slide">
            <a class="QRcode" href="https://play.google.com/store/apps/details?id=com.cqigames.snakeknight"
               target="_blank">
                <img data-src="./images/LunarNewYear/Android_Download.webp" alt="">
            </a>
            <a class="QRcode" href="https://apps.apple.com/us/app/%E7%A2%B0%E7%A2%B0%E8%9B%87-2/id1504212624"
               target="_blank">
                <img data-src="./images/LunarNewYear/iOS_Download.webp" alt="">
            </a>
            <a class="QRcode" href="https://ponponsnake.oss-cn-hangzhou.aliyuncs.com/PonPonSnake.apk" target="_blank">
                <img data-src="./images/LunarNewYear/aliyun_Download.webp" alt="">
            </a>
        </div>
    </div>
@code {

    private IJSObjectReference? QRcodeSlideJS;
    protected override async Task OnAfterRenderAsync(bool firstRender)

    {
        if (firstRender)
        {
            QRcodeSlideJS = await JS.InvokeAsync<IJSObjectReference>("import","./JavaScript/SharedLib/QRcodeSlide.js");
  
        }
    }
    private async Task QRcode_SlideClick()
    {
        if (QRcodeSlideJS != null)
        {
             await QRcodeSlideJS.InvokeVoidAsync("QRcode_Slide", "QRcode_Slide");
        }
    }
}
