    <div class="xmas_footer">
        <img class="event_banner_chinese_border" id="event_banner_chinese_border" data-src="/images/LunarNewYear/chinese_border.webp" alt="">

        <div class="xmas_footer_block_all">

            <div class="xmas_footer_block">
                <div class="xmas_logo_area">
                    <div class="logo_title">主辦單位</div>
                    <div class="logo_picture">
                        <a href="https://www.cqigames.com/" target="_blank"><img data-src="/images/Footer/logo_CQIGAMES.webp"
                                alt=""></a>
                    </div>
                </div>
                @* <div class="xmas_logo_area">
                    <div class="logo_title">合作廠商</div>
                    <div class="logo_picture">
                        
                        
                        <a href="https://www.kimlanfoods.com.tw/" target="_blank">
                            <img data-src="/images/christmas_newyear/kimlan_yomi.webp" alt="">
                        </a>
                        
                        <a href="https://www.enso.com.tw/" target="_blank">
                            <img data-src="/images/christmas_newyear/logo_enso.webp" alt=""></a>
                        
                        <a href="https://www.mycard520.com.tw/zh-tw" target="_blank">
                            <img data-src="/images/christmas_newyear/logo_MYCARD.webp" alt=""></a>
                    </div>
                </div> *@
            </div>

            <div class="xmas_footer_block">
                <div class="footer_title">2021 XMAS FESTIVAL</div>
                <div class="footer_icon_all">
                    <a href="https://www.facebook.com/PonponSnake" target="_blank"><img data-src="/images/Footer/FBICON.webp"
                            alt=""></a>
                    <a href="https://www.twitch.tv/ponponsnake" target="_blank"><img data-src="/images/Footer/TwitchICON.webp"
                            target="_blank" alt=""></a>
                    <a href="https://www.youtube.com/watch?v=KGfxGW0mikg" target="_blank"><img
                            data-src="/images/Footer/YoutubeICON.webp" alt=""></a>
                </div>
                <div class="footer_text">
                    <p id="footer_website">CQI GAMES</p>
                    <p id="footer_email">twchenquan@gmail.com</p>
                    <p id="footer_tel">+886 (3) 316-0003</p>
                </div>
            </div>


        </div>
        <div id="footer_copyright">
                Copyright © 2021 PonPonSnake. All rights reserved.
        </div>

    </div>
@code {

}
