    <div class="christmas_banner" id="index_banner">
        
        <div class="snowstorm">
            @* <canvas id="fireworks_canvas"></canvas> *@
            @* <img data-src="./images/christmas_newyear/snowstorm.gif" alt=""> *@
        </div>
        <div class="christmas_banner_inner">
            <div class="LunarNewYear_banner_logo" id="LunarNewYear_banner_logo">
                <img data-src="./images/LunarNewYear/LunarNewYear_banner_logo.webp" alt="">
            </div>
            <div class="banner_txt">
                <img data-src="./images/LunarNewYear/banner_txt2.webp" alt="">
            </div>
            
            @* <div class="banner_hosted">
                
                <div class="banner_hosted_logo_area">
                    <div class="banner_hosted_logo_title">主辦單位</div>
                    <div class="banner_hosted_logo_picture">
                        <a href="https://www.cqigames.com/" target="_blank"><img data-src="/images/Footer/logo_CQIGAMES.webp"
                                alt=""></a>
                    </div>
                </div>
                <div class="banner_hosted_logo_area">
                    <div class="banner_hosted_logo_title">合作廠商</div>
                    <div class="banner_hosted_logo_picture">
                        
                        
                        <a href="https://www.kimlanfoods.com.tw/" target="_blank">
                            <img data-src="/images/christmas_newyear/kimlan_yomi.webp" alt="">
                        </a>
                        
                        <a href="https://www.enso.com.tw/" target="_blank">
                            <img data-src="/images/christmas_newyear/logo_enso.webp" alt=""></a>
                        
                        <a href="https://www.mycard520.com.tw/zh-tw" target="_blank">
                            <img data-src="/images/christmas_newyear/logo_MYCARD.webp" alt=""></a>
                    </div>
                </div>
            
            </div>     *@
        </div>

    </div>
@code {

}
