  <div class="final_process_block" id="finalProcess">
        <div class="award_inner_block">
            <div class="christmas_title_block">
                <div class="christmas_title BG-color-red color-white">
                    <p>決賽流程</p>
                </div>
            </div>
            <div class="details_block_all">
                <div class="details_block">
                    <div class="contest_content_title">決賽報到</div>

                    <div class="final_process_details final_report">
                        <div class="details_box final_report_box">
                            <p>積分賽<br>取得前八名</p>
                        </div>
                        <div class="node">
                            <img class="red_arrow" data-src="./images/christmas_newyear/red_arrow.webp" alt="">
                        </div>
                        <div class="details_box final_report_box" id="final_report_box_02">
                            <p>登入<br>個人頁面</p>
                        </div>
                        <div class="node">
                            <img class="red_arrow" data-src="./images/christmas_newyear/red_arrow.webp" alt="">
                        </div>
                        <div class="details_box_03 final_report_box">
                            <a id="Discord" href=" https://discord.gg/gaEN5yvBDs" target="_blank">
                                <img data-src="./images/christmas_newyear/Discord.webp" alt="">
                            </a>
                            <a href="https://www.facebook.com/PonponSnake/" target="_blank">
                                <img data-src="./images/christmas_newyear/ponponsnake_fb.webp" alt="">
                            </a>
                        </div>
                    </div>
                </div>

                <div class="details_block" id="finalTime">
                    <div class="contest_content_title">決賽時間</div>

                    <div class="final_process_details final_time">
                        <div class="details_box final_time_box" id="final_time_box_01">
                            <p>第一輪<br>八強廝殺</p>
                        </div>
                        <div class="node">
                            <img data-src="./images/christmas_newyear/round-line.webp" alt="">
                        </div>
                        <div class="details_box final_time_box" id="final_time_box_02">
                            <p>第二輪<br>四強廝殺</p>
                        </div>
                        <div class="node">
                            <img data-src="./images/christmas_newyear/round-line.webp" alt="">
                        </div>
                        <div class="details_box final_time_box" id="final_time_box_03">
                            <p>第三輪<br>冠軍爭霸賽</p>
                        </div>
                    </div>
                </div>

                <div class="details_block" id="notice">
                    <div class="contest_content_title">注意事項</div>
                    <div class="final_process_details notice">

                        <div class="christmas_notice_text">
                            <h1 class="notice_title">碰碰蛇 農曆新年節慶賽 2021 活動簡章</h1>
                            <p class="event_txt02 event_note">
                                *詳細賽事請參閱賽事規章，主辦單位保留隨時修改、終止變更本活動之權利。修改後之活動內容將於本活動網頁更新，恕不另行通知。
                            </p>


                            <h1 class="txt_title">1. 報名相關事項</h1>
                            <div class="title_border"></div>


                            <p class="event_txt">1.1 報名方式</p>
                            <p class="event_txt02">
                                ■
                                玩家可從GooglePlay和AppleStore內下載【碰碰蛇】進入【農曆新年節慶賽】，即可報名碰碰蛇節慶賽事之【隊伍賽組】。
                            </p>

                            <p class="event_txt">1.2 報名獎勵</p>
                            <p class="event_txt02">
                                ■
                                凡報名參加農曆新年節慶賽之賽事的參賽者，玩家可直接從角色信箱中，點擊獲取道具，即可完成兌換。
                            </p>

                            <p class="event_txt">1.3 報名注意事項</p>
                            <p class="event_txt02">■ 報名參賽玩家須符合年齡規範15歲以上年齡限制，若主辦單位經查證發現未符資格時，有權取消玩家參賽資格。</p>
                            <p class="event_txt02">■ 於賽事期間只能於每周一更改玩家ID。</p>
                            <p class="event_txt02">■ 碰碰蛇 ID 須為本人持有，若使用他人ID產生帳號糾紛，主辦單位有權取消出賽與領獎資格。</p>
                            <p class="event_txt02">■ 本次活動主辦單位為CQI GAMES。主辦機構員工得參加本次活動，但無法取得決賽資格，以示公允。</p>


                            <h1 class="txt_title">2. 兌獎辦法</h1>
                            <div class="title_border"></div>

                            <p class="event_txt">2.1 實體獎勵兌獎辦法</p>
                            <p class="event_txt02">
                                ■
                                獲得實體獎用戶，前往遊戲官網，登入遊戲帳號，查看領獎證明，填入實體資料，方可獲得該實體獎，獎金獎品將以現場頒發、匯款、宅配等形式發出。
                            </p>
                            <p class="event_txt">2.2 虛擬寶物兌獎辦法</p>
                            <p class="event_txt02">■ 虛擬物品將寄送至角色的信箱中，點擊收取道具，即可完成兌換。</p>

                            <p class="event_txt">2.3 獎勵相關規定</p>
                            <p class="event_txt02">■ 領獎者須有中華民國國籍身分資格。</p>
                            <p class="event_txt02">■ 領獎者須填寫規則遵守聲明，若未符合賽事規範之條例，主辦單位有權保留獎項。</p>
                            <p class="event_txt02">
                                ■
                                獲獎者須於獲獎確認頁面內提供登錄【得獎確認資訊】主辦單位獲知後七日內將由專人聯絡獲獎者。若因網路問題導致無法完成登錄，請自行與電信業者聯繫，主辦單位恕難負責。
                            </p>
                            <p class="event_txt02">■ 所有賽組由該隊伍之隊長代為領獎，並由隊長自行分配隊伍內獎品於各隊員，本單位不負隊伍獎品分配責任。</p>
                            <p class="event_txt02">
                                ■
                                依中華民國稅法規定，獎項價值NT$1,001元(含)以上者，需繳交身分證影本供報稅使用，並於次年列入本年度之個人綜合所得稅申報，主辦單位將不再另外寄發紙本獲獎所得扣繳憑單。獎項價值超過NT$20,000元，依法需預先繳交10％機會獲獎稅金。若獲獎者若不願意配合，則視為自動棄權，不具得獎資格。獲獎者同意依台灣相關稅法規定繳納稅捐，並同意主辦單位得依相關法令代扣(繳納)相關稅捐。
                            </p>
                            <p class="event_txt02">■ 得獎者應導守各獎項兌換辦法即可兌換；倘若未依約定者視為放棄中獎權利。如中獎者因資格不符或自願放棄得資格，不另行網路公告。</p>
                            <p class="event_txt02">
                                ■
                                主辦單位僅使用參加者提供的個人資料於本次活動用途，且依照【個人資料保護法】相關規定，以維護參加者權益。中獎者同意相關個人資料由主辦單位蒐集，電腦處理及利用，但不做其他用途，並受權主辦單位公開公佈姓名。
                            </p>
                            <p class="event_txt02">■ 活動獎項寄送地區僅限為台灣、金門、澎湖、馬祖地區，主辦單位恕不處理郵寄獎項至海外地區之事宜。</p>
                            <p class="event_txt02">
                                ■
                                活動參加者需保證所有填寫或提出之資料均為真實正確，並未冒用或盜用他人資料，或有不實情況發，主辦單位將取消其中獎資格，並保留一切法律追究權利。
                            </p>
                            <p class="event_txt02">
                                ■
                                主辦單位保留修改活動與獎項細節的權利，無須事前告知，並有權本活動所有事宜作出解釋與裁決。如本活動因不可抗力之特殊原因無法執行時，主辦單位有權取消、終止、修改或暫停本活動。
                            </p>


                            <h1 class="txt_title">3. 賽事規範</h1>
                            <div class="title_border"></div>

                            <p class="event_txt">3.1 比賽行為規範</p>
                            <p class="event_txt02">
                                ■ 報名比賽玩家之暱稱不可使用其他隊伍的學校縮寫及角色名稱，且名稱不可包含 :
                                中英文以外語言、粗俗或猥褻的字眼、遊戲角色延伸名稱或任何容易造成混淆困擾的名稱及特殊符號，若經主辦方判定有以上情節，選手須協助更名(費用由選手自付)。
                            </p>
                            <p class="event_txt02">
                                ■
                                任何參與比賽之玩家不得於賽事中、線上比賽、媒體採訪或任何與碰碰蛇有關之交流活動中，使用任何具有冒犯、毀謗、損害他人名譽、淫穢、歧視、威脅等言辭；同時，參與比賽玩家不得發布、散播、轉貼此條規定之言辭於社群媒體上、任何公開活動或是直播內。本規則適用於英文和所有其他語言。
                            </p>
                            <p class="event_txt02">
                                ■
                                禁止玩家私自使用BUG、外掛、巨集功能設定(設備可以具有巨集功能但不可設定及使用該功能)，若獲獎之玩家後續經查證有本條行為，玩家須返還獎金、獎品，且主辦單位有權要求衍生之損害賠償。
                            </p>
                            <p class="event_txt02">■ 玩家嚴禁以報名資料不相符之第二人參與比賽。</p>
                            <p class="event_txt02">
                                ■
                                競賽進行時，玩家須確保無第二人於現場，嚴禁玩家冒名替打，若獲獎玩家後續經查證有本條行為，玩家須返還獎金、獎品，且主辦單位有權要求衍生之損害賠償。
                            </p>
                            <p class="event_txt02">
                                ■ 為維護比賽之公平性，主辦單位有權要求玩家於比賽規定之時間開啟視訊通話等要求，確保玩家於比賽過程並無他人於現場、冒名替打等違規行為。
                            </p>
                            <p class="event_txt02">■ 競賽裝置嚴禁玩家使用模擬器進行，若獲獎之玩家後續經查證有本條行為，玩家須返還獎金、獎品，且主辦單位有權要求衍生之損害賠償。</p>
                            <p class="event_txt02">■ 遊戲伺服器所有資料將以碰碰蛇官方現行版本為主。</p>
                            <p class="event_txt02">■ 主辦單位不負任何玩家行動裝置與網路之品質責任。</p>
                            <p class="event_txt02">■ 選手因為任何原因導致斷線而導致影響比賽成績，不予以重賽，故請所有選手比賽前確認好自己的網路連線狀況、電量、比賽環境。</p>
                            <p class="event_txt02">
                                ■
                                若玩家有任何影響比賽公平性之行為，主辦單位有權取消該名選手之比賽資格；若獲獎玩家後序經查證有此行為，主辦單位有權要求須返還獎金、獎品，並要求衍生之損害賠償。
                            </p>

                            <p class="event_txt">3.2 決賽流程規範</p>
                            <p class="event_txt02">■ 隊伍賽中，隊伍須於資格賽獲得50分以上(含)並且於資格賽中取得前8名，才可獲得進入決賽資格。</p>
                            <p class="event_txt02">■ 倘若於資格賽中勝場累積積分相同者，以該次活動中的，「擊殺對手數量」、「敗場場次較少者」依序判定。</p>
                            <p class="event_txt02">
                                ■ 倘若前八名之選手因任何原因無法參加比賽，亦或主辦方判定其失去比賽資格，將由候補選手出場競賽，主辦單位有外卡權邀請特定玩家參與決賽。
                            </p>
                            <p class="event_txt02">■ 獲得決賽資格之玩家須配合主辦單位之規定，進行報到流程，並且視同同意所有決賽相關之規定。</p>
                            <p class="event_txt02">■ 完成報到之選手需配合主辦單位接受聯繫，並於決賽時出場。</p>
                            <p class="event_txt02">■ 未於相關時間內完成報到者，視為放棄比賽權利，並且不得有異議。</p>
                            <p class="event_txt02">■ 若正取選手放棄決賽權，主辦單位將依相關規定，將給予順位選手進入決賽權。</p>
                            <p class="event_txt02">■ 決賽時，選手須配合主辦單位直播賽事之相關規定，未依規定，主辦單位有權取消選手參與決賽資格。</p>
                            <p class="event_txt02">■ 若於決賽規定時間未進入賽場，亦或者遲到，皆視為放棄比賽資格。</p>

                            <p class="event_txt">3.3 決賽裁判判定</p>
                            <p class="event_txt02">■ 若比賽中有以下下列狀況將由主辦單位裁判判定結果與補賽相關規定。</p>
                            <p class="event_txt03">i. 遊戲進行中有任何系統與連線問題發生時。</p>
                            <p class="event_txt03">ii. 有任何不可抗力因素而結束比賽，由裁判直接判定結果。</p>
                            <p class="event_txt03">ii. 遊戲中若有無法正常運行或是其他因素導致玩家無法正常操作時。</p>
                            <p class="event_txt03">iii. 其他。</p>

                            <p class="event_txt02">■ 比賽前十分鐘請檢查開賽倒數時間是否正常或是否有出賽資格，若未即時告知導致賽局無法進行將依系統判斷輸贏為主。</p>

                            <p class="event_txt">3.4 隊伍相關規範</p>
                            <p class="event_txt02">■ 隊伍賽制中，隊長可以邀請4位玩家為隊員，含隊長一共5名選手。</p>
                            <p class="event_txt02">
                                ■ 隊長有權邀請隊員及踢出隊員，離隊隊員積分將於退出隊伍後扣除，並將其之剩餘票券歸還於隊長，並於離隊後，12小時內不可加入任一隊伍。
                            </p>
                            <p class="event_txt02">■ 隊伍賽制決賽時需派出四名選手一同出場，未派出隊員為後補隊員，隊員有權選擇是否出場。</p>
                            <p class="event_txt02">■ 若正式出賽隊員放棄出賽資格，隊長有權指定候補隊員之出場資格。</p>
                            <p class="event_txt02">
                                ■ 隊伍內任一決定出賽隊員，若於規定時間內尚未進入等待頁面，亦或者遲到，該隊員視為放棄比賽資格，但若隊伍人數未低於1人，隊伍正常出賽。
                            </p>
                            <p class="event_txt02">■ 隊伍內任一隊員若失去比賽資格，將扣取該隊員之累積積分，其他隊員積分不受影響。</p>
                            <p class="event_txt02">■ 若隊伍出賽人數低於1人，即視為放棄比賽資格，主辦單位將依規定給予順位隊伍決賽資格。</p>
                            <p class="event_txt02">■ 隊伍內所有隊員須配合主辦單位規定之報到流程，若任一隊員未符合規定，主辦單位將依規定取消該隊員出賽資格。</p>
                            <p class="event_txt02">■ 隊長將負責與主辦單位之所有溝通，並且將代表隊伍的集體意願。</p>
                            <p class="event_txt02">
                                ■
                                語音溝通線上賽時，除非裁判與工作人員有指定或通知，選手可以自行使用Discord、Line或遊戲內建語音系統進行溝通，限定溝通成員不可有隊伍隊員以外的人員，且對手機所造成的效能與影響將須自行負責。
                            </p>
                            <p class="event_txt02">■ 隊員溝通比賽開始後，選手不得與非上場選手進行言語、文字或任何形式的溝通</p>


                            <h1 class="txt_title">4. 直播相關事項</h1>
                            <div class="title_border"></div>

                            <p class="event_txt">4.1 直播說明</p>
                            <p class="event_txt02">
                                為使參與碰碰蛇之玩家能夠及時觀看決賽賽事，增加競賽互動性，擴大盛舉使未報名玩家也可一同感受線上激戰之氛圍，因此所有決賽，將由主持人進行介紹、主持、訪問、戰況及時轉播等介紹。
                            </p>
                            <p class="event_txt">4.2 直播串流平台</p>
                            <p class="event_txt02">■ Youtube</p>
                            <p class="event_txt02">■ Twitch</p>

                            <p class="event_txt">4.3 玩家相關規範</p>
                            <p class="event_txt02">
                                ■ 任何參與比賽之玩家在此授權CQI GAMES及合作相關單位，在任何賽事中，進行遊玩過程的直播或錄製，並在此基礎上授權CQI
                                GAME及合作相關單位免版稅，使其可以於現在與未來所有賽事的全部和部分直播。
                            </p>
                            <p class="event_txt02">■ 進入決賽之玩家需配合相關單位之直播進行。</p>
                            <p class="event_txt02">■ 於碰碰蛇官方公告之賽事與賽後訪問期間，參賽玩家須確保開台時間可完整進行賽事與賽後訪問。</p>
                            <p class="event_txt02">
                                ■ 直播期間將由視訊、音訊等相關方式進行，參賽玩家需配合主辦單位之指示進行線上直播，若玩家無法或不願配合，主辦單位有權取消玩家參賽資格。
                            </p>
                            <p class="event_txt02">■ 為確保玩家能配合線上直播之進行和訪問流程，於開播前應先確保玩家之語音設備和影音設備。</p>


                            <h1 class="txt_title">5. 其他注意事項</h1>
                            <div class="title_border">
                            </div>

                            <p class="event_txt02">■ 所有比賽結果將會於碰碰蛇農曆新年節慶賽官方網站中公布，玩家可至碰碰蛇農曆新年節慶賽官方網站查閱。</p>
                            <p class="event_txt02">
                                ■ 所有參賽玩家須同意賽時期間所拍攝之玩家照片、影片及所提供之個人資料，可供主辦單位之賽事直播、影片剪輯、新聞與社群媒體露出等各項宣傳
                            </p>
                            <p class="event_txt02">
                                ■
                                參加者參加本活動時，即視為同意本活動所有內容及細則之規範。如有違反本活動注意事項之行為，活動小組得取消其兌換資格，並對於任何破壞本活動之行為保留法律追訴權。
                            </p>
                            <p class="event_txt02">
                                ■ 獲獎選手若違反上述所有規章之規定，主辦單位有權回收所有發送之獎金獎品，並視情況取消該選手之參賽資格，且主辦單位有權要求衍生之損害賠償。
                            </p>

                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
@code {

}
