.Service-block{
    /* border: 1px solid red; */
    width: 100%;

    background-color: #203240;
}

.Service-BG{
    /* border: 1px solid red; */
    width: 100%;
    background-image: url(/images/Company_Info/PrivacyPolicy/Pic_left.png) !important;
    background-position: top left;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 120px 0 80px;

}

.Service-main{
    /* border: 1px solid red; */
    max-width: 1100px;
    width: 95%;
    margin: 0 auto;

    background-image: url(/images/Company_Info/PrivacyPolicy/Paper_base-02.png);
    background-repeat: round;
    /* background-repeat: no-repeat; */
    padding: 200px 0 180px;
    position: relative;
    font-family: Noto Sans CJK TC, adobe-fan-heiti-std, 'Source Sans Pro', sans-serif;

}
#Rope{
    position: absolute;
    top: 6.2%;
    right: -1.5%;
    width: 10%;
    max-width: 95px;
}
.Service-inner{
    /* border: 1px solid red; */
    width: 78%;
    background-color: #ab855852;
    border-radius: 15px;
    margin: 0 auto;
    height: 500px;
    color: #70583C;
    padding: 50px 0px 45px 30px;
    position: relative;
}

.Privacy-title{
    background-color: #8d734c;
    /* background-color: #8d734c52; */
    border: 4px solid #D8B874;
    border-radius: 34px;
    display: inline-block;
    padding: 3px 30px 4px 30px;
    font-size: 24px;
    /* font-weight: 600; */
    letter-spacing: 1px;
    transform: translate(-50%, -50%);
    color: #e8d8ba;
    z-index: 5;
    position: absolute;
    top: 0px;
    left: 50%;
    white-space: nowrap;
    box-shadow: inset 0px 0px 20px 5px #d8b8749c;
}

.Service-text{
    width: 90%;
    height: 100%;
    overflow: auto;
    margin: 0 auto;
    font-family: Segoe UI, adobe-fan-heiti-std, 'Source Sans Pro', sans-serif;
    z-index: 10;
    letter-spacing: 0.5px;
    padding-right: 20px;
    font-size: 16px;
}
.Service-text p{
    margin-bottom: 15px;
}

#note{
    width: 32px;
    margin-bottom: 2px;
}

/* 改scrollbar樣式 */
.Service-text::-webkit-scrollbar {
    width: 6px  !important;
}

.Service-text::-webkit-scrollbar-thumb {
    border-radius: 10px  !important;
    background-color: #bba67f !important;
    border: none  !important;
}

.Service-text::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px  !important;
    background: #fae5b3  !important;
}
@media all and (max-width: 1920px){
    .Service-BG{
        padding: 110px 0 70px;
    }
    .Service-main{
        max-width: 1000px;
        padding: 182px 0 162px;
    }
    .Service-inner{
        height: 450px;
        width: 76%;
        padding: 50px 0px 45px 30px;
    }
    .Privacy-title{
        /* top: 300px; */
    }
}
@media all and (max-width: 1000px){
    .Service-BG{
        padding: 100px 0 60px;
    }
    .Privacy-title{
        font-size: 19px;
        padding: 4px 26px 4px 26px;
        border: 3px solid #D8B874;
    }
    #note{
        width: 28px;
        margin-right: 2px;
    }
    .Service-main{
        padding: 155px 0 135px;
    }
    .Service-inner{
        height: 380px;
        padding: 40px 0px 30px 20px;
    }
    .Service-text{
        font-size: 14px;
    }
    .Service-text p{
        margin-bottom: 15px;
    }


}
@media all and (max-width: 450px){
    .Service-BG {
        padding: 100px 0 50px;
        background-position: top left;
    }
    .Service-main{
        background: none;
        padding: 30px 0 30px;
    }
    #Rope{
        display: none;
    }
    .Service-inner{
        padding: 50px 0px 0px;
        width: 95%;
        height: unset;
        background-color: unset;
    }
    .Service-text{
        padding-right: unset;
        color: #e8d8ba;
    }
}