@using SnakeAsianLeague.Data.Services

@inject IJSRuntime JS
@inject AppState AppState
@if (getStartMetaMask)
{
    @ChildContent
}
else
{
    <div style="width:100%; height:500px; display:flex; justify-content:center; align-items: center; font-size:50px "> 
        <p>不符合你家的錢包</p> 
        <p>你的綁定地址為：@AppState.LoginStatus.walletAddress</p>
        <button @onclick ="reflash">已修改完成</button>
    </div>
}





@code {

    [Parameter]
    public RenderFragment? ChildContent   { get; set; }

    private IJSObjectReference? gettingStartMetaMaskJS;
    bool getStartMetaMask = false;
    string address = ""; 

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            gettingStartMetaMaskJS = await JS.InvokeAsync<IJSObjectReference>("import", "./JavaScript/MyProfile/gettingStartMetaMask.js");
            await reflash();
        }
       
  
    }
    public async Task reflash()
    {
         address = await gettingStartMetaMaskJS.InvokeAsync<string>("gettingStartMetaMask");
            if (address == AppState.LoginStatus.walletAddress)
            {
                getStartMetaMask = true;    
             
            }      
        InvokeAsync(StateHasChanged);
    }


}

