<head>
    <link href="css/MyProfile/shared/walletaddress.css" rel="stylesheet" />     
    <link href="css/Shared/fetchDataLoading.css" rel="stylesheet" />   
</head>
@*<div class="lockWindows">
    transacting
</div>*@

<div class="fetchDataLoading lockWindows">        
   
    <div class="Loadinglogo">
         <Chase Center ="true" Color="#FFF"  Size="70px" />
    </div>
    <p class="LoadingText" data-i18n="Inventory_data:SWAP.transacting"> transacting</p>
</div>
@code {

}
