<head>
    <link href="css/MyProfile/shared/walletaddress.css" rel="stylesheet" />     
  
</head>

<div class="walletaddress">
    <div class="walletBlock">
        <img class="userNetwork" src="/images/Myprofile/SRCExchange/rinkeby_logo.png" />
        <p id="userAddress">
            0x12345...
        </p>
</div>

</div>

@code {

}


