@inject IConfiguration Configuration
@inject IJSRuntime JS
<head>
    <link href="css/MyProfile/shared/walletaddress.css" rel="stylesheet" />     
    
</head>

<div class="walletaddress">
    <div class="walletBlock">
        <div class="chainName">@chainName</div>
        <p id="userAddress">
            0x12...3456
        </p>
</div>

</div>

@code {
    string chainName ;
    private IJSObjectReference? getAddressJS;
    protected override void OnInitialized()
    {      
           chainName  = Configuration["chainName"];        
    }    

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {         
            getAddressJS  = await JS.InvokeAsync<IJSObjectReference>("import","./JavaScript/MyProfile/getAddress.js");
            await getAddressJS.InvokeVoidAsync("getAddress");
             
        }
    }
   
}


