.Battle_Gameplay{
    /* border: 1px solid red; */
    width: 100%;
    padding: 100px 0 50px;
    /* height: 1500px; */
}
.Gameplay-info{
    width: 100%;
}
.Gameplay-mainImg-block-01{
    /* border: 1px solid red; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto 15px;
}

.mainImg-01{
    max-width: 230px;
    width: 35%;
    margin: 40px;
    filter: drop-shadow(10px 10px 15px rgba(32, 32, 32, 0.5)); 
    transition: all .2s ease-out;
}
#Gameplay-info-solo .mainImg-01:hover{
    filter: drop-shadow(0px 0px 20px rgba(255, 163, 163, 0.7)); 
}
#Gameplay-info-team .mainImg-01:hover{
    filter: drop-shadow(0px 0px 20px rgba(221, 163, 255, 0.7)); 
}

.BlackMarket{
    /* border: 1px solid red; */
    position: relative;
}
.BlackMarket img{
    width: 100%;
}
#BlackMarket-01-00{
    animation: BlackMarket-01-01 5s ease-in-out 0s infinite;
}
@keyframes BlackMarket-01-01{
    0% {
        opacity: 1;
        transform: scale(1);
    }
    50%{
        opacity: 0.5;
        transform: scale(0.98);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}
#BlackMarket-01-01{
    position: absolute;
    top: 0;
    left: 0;
}



#Diamond-01{
    max-width: 220px;
    width: 34%;
}
#Skeleton-01{
    max-width: 200px;
    width: 32%;
}
.Gameplay-mainImg-block-02{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;

    box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.75), inset 0px 2px 0 0 rgba(255, 255, 255, 0.1);
    background-image: linear-gradient(to bottom, hsla(180, 30%, 42%, 0.25), rgba(39, 97, 111, 0));
    padding: 50px 10px 55px;
    margin-bottom: 80px;

    position: relative;
}

#Gameplay-info-team .Gameplay-mainImg-block-02{
    margin-bottom: 0px;
}


.Gameplay-mainImg-block-02::before{
    content: "";
    max-width: 150px;
    width: 20%;
    height: 43px;
    background-image: url(/images/Battle/Battle_Gameplay/flowerframe-01.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 60px;
    position: absolute;
    /* transform: translateX(-50%); */
    top: -3%;
    left: 2%;
}
.Gameplay-mainImg-block-02::after{
    content: "";
    max-width: 150px;
    width: 20%;
    height: 43px;
    background-image: url(/images/Battle/Battle_Gameplay/flowerframe-02.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 60px;
    position: absolute;
    /* transform: translateX(-50%); */
    top: -3%;
    right: 2%;
}

.flowerframe{
    width: 96%;
    position: absolute;
    transform: translateX(-50%);
    top: -5%;
    left: 50%;
}
.mainImg-02-block{
    max-width: 180px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 35px;
}
.mainImg-02{

    width: 100%;
    margin-bottom: 20px;
    filter: drop-shadow(10px 10px 15px rgba(32, 32, 32, 0.5)); 
    transition: all .3s ease-in-out;
}
.mainImg-02:hover{
    transform: rotateY(180deg);
    filter: drop-shadow(0px 0px 15px rgba(196, 255, 254, 0.6));
}
.mainImg-02-text{
    color: #ffffff;
    letter-spacing: 1.5px;
    font-size: 15px;
    text-align: center;
    line-height: 20px;
}

@media all and (max-width: 800px){
    .mainImg-01{
        margin: 20px;
    }
    .mainImg-02-block{
        margin: 20px;
    }
}
@media all and (max-width: 600px){
    .Gameplay-mainImg-block-02{
        margin-bottom: 60px;
    }
    .mainImg-01{
        margin: 20px;
    }
    .mainImg-02{
        /* min-width: 100px; */
        width: 95%;
    }
    .mainImg-02-block{
        margin: 8px;
    }
    .mainImg-02-text{
        font-size: 14px;
    }
    .Battle_Gameplay{
        padding: 70px 0 50px;
    }

}
@media all and (max-width: 400px){
    .Gameplay-mainImg-block-01{
        margin: 25px auto 25px;
    }
    .Gameplay-mainImg-block-02 {
        margin-bottom: 50px;
        padding: 45px 10px 40px;
    }
    .NFTindex-subtitle{
        margin: 40px auto 16px;
    }
    .NFTindex-text{
        line-height: 22px;
    }
    .mainImg-01{
        margin: 15px;
    }
    .mainImg-02{
        min-width: 96px;
        margin-bottom: 15px;
    }
    .mainImg-02-text{
        font-size: 13px;
        line-height: 18px;
    }
}


/*1v7*/

.Gameplay-1v7 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto 15px;
}

.Gameplay-1v7 h3 {
    color: #fff;
    font-size: 36px;
    /* font-weight: 600; */
    text-align: center;
    letter-spacing: 3px;
    line-height: 40px;
    text-decoration: underline;
    text-decoration-thickness: 4px;
    text-underline-offset: 12px;
}
@media all and (max-width: 768px) {
    .Gameplay-1v7 h3 {
        font-size: 30px;
        text-decoration-thickness: 2px;
    }

}


@media all and (max-width: 576px) {

    .Gameplay-1v7 h3 {
        font-size: 26px;
    }
}

.V7-subTitle {
    background: url("/images/Battle/1V7/1v7BG.png");
    background-repeat: round;
    width: 320px;
    height:53px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px auto 60px;
}

@media all and (max-width: 1000px) {
    .V7-subTitle {
        /* width: 239px; */
        /* height: 43px;       */
        margin: 40px auto 60px;
    }
}

@media all and (max-width: 768px) {
    .V7-subTitle {
        /* width: 181px; */
        /* height: 32px; */
        margin: 30px auto 45px;
    }
}


@media all and (max-width: 576px) {
    .V7-subTitle {
        /* width: 217px; */
        /* height: 38px; */
        margin: 30px auto 45px;
    }
}


.V7-subTitle img{
    width: 83%;
}

.V7-rule {
    display: flex;
    justify-content: center;
    align-items: center;
    width:1000px;
    margin:0 auto;
    padding-bottom:100px;
}

@media all and (max-width: 1000px) {
    .V7-rule {
        width: 700px;
    }
}

@media all and (max-width: 768px) {
    .V7-rule {
        width: 550px;
    }
}
@media all and (max-width: 576px) {
    .V7-rule {
        width: 100%;
        flex-direction: column;
        justify-content: normal;
    }
}

.V7-rule-diamond {
    width:45%;
    display:flex;
    justify-content:center;
    align-items:center;
}

.V7-rule-diamond img {
    width:60%;
}


.V7-rule-content {
    background: url("/images/Battle/1V7/V7RuleContentBG.png");
    background-repeat: round;
    width: 55%;
    height: 650px;
    padding: 60px 5%;
}
@media all and (max-width: 1000px) {

    .V7-rule-content {
        padding: 40px 5%;
        height: 600px;
    }
}


@media all and (max-width: 768px) {

    .V7-rule-content {
        padding: 40px 5% 30px;
        height: 564px;
    }
}

@media all and (max-width: 576px) {
    .V7-rule-diamond {
        width: 50%;
        margin-bottom: 20px;
    }

    .V7-rule-content {
        width: 85%;
        padding: 40px 7%;
        height:575px;
    }
}

.V7-rule-content-title {
    background: url("/images/Battle/1V7/V7RuleContentTitle.png");
    width:90%;
    margin:0 auto;
    height:63px;
    background-repeat:round;
    display:flex;
    justify-content:center;
    align-items:center;
    
    margin-bottom:50px;
}

@media all and (max-width: 1000px) {
    .V7-rule-content-title {
        height: 50px;
        margin-bottom: 35px;
    }
}

@media all and (max-width: 768px) {
    .V7-rule-content-title {
        height: 40px;
        margin-bottom:25px;
    }
}


.V7RuleContentText {
    margin-right:5px;
    width:70%;
}
.V7RuleContentText7{
    width: 20%;
}


.V7-rule-content p {
    color: #fff;
    /* text-align: center; */
    margin-bottom: 20px;   
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 26px;
    text-align: justify;
    font-family: adobe-fan-heiti-std, 'Source Sans Pro', sans-serif;
}

@media all and (max-width: 768px) {
    .V7-rule-content p {
        font-size: 14.5px;
        line-height: 20px;
    }

}


.BattleCarousel .item{
    width: 900px;
    height: 506px;
    margin:0 auto;
}


@media all and (max-width: 1000px) {
    .BattleCarousel .item {
        width: 684px;
        height: 384px;
    }
}

@media all and (max-width: 768px) {
    .BattleCarousel .item {
        width: 513px;
        height: 288px;
    }
}

@media all and (max-width: 576px) {
    .BattleCarousel .item {
        width: 333px;
        height: 187px;
    }
}
.V7-GameScreen {
    width: 100%;
    height: 100%;
    border: 5px solid #fff;
    border-radius: 25px;
    overflow: hidden;
    box-shadow: 10px 10px 30px 0px rgba(0,0,0,0.5);
}
@media all and (max-width: 576px){
    .V7-GameScreen{
        border: 3px solid #fff;
        border-radius: 20px;
    }
}

.V7-GameScreen img {
    width: 100%;
    height: 100%; 
}

.owl-dot span {
    background:none !important;
    border:1px solid #fff;


}

.active span {
    background: #fff !important;
}