
@using SnakeAsianLeague.Pages.Teach.Components.All_components

<head>
    <link href="/css/Teach/MetamaskAndOpenSea.css" rel="stylesheet" />
</head>

<Main_Title  />
<img class="LOGO-avatar-open" src ="/images/Teach/PAGE2_OPENSEA.png" />
<div class="CreateMetamask-Container">
    <div class="title-Zone">
        DwonLoad & Aacute; Sign Up
    </div>
    <div class="button-Zone">
        <p>
             Extension
        </p>
        <button>
            <div class="icon-container">
                <img src="/images/Teach/icon/CHrome_ICON.png"/>
            </div>
            <div class="icon-text">
                Chrome
            </div>
        </button>
        <button>
            <div class="icon-container">
                <img src="/images/Teach/icon/FireFOX_LOGO.png"/>
            </div>
            <div class="icon-text">
                FireFox
            </div>
        </button>
        <p>
             Mobile App
        </p>
        <button>
            <div class="icon-container">
                <img src="/images/Teach/icon/GooglePLAY_ICON.png"/>
            </div>
            <div class="icon-text">
                Google Play
            </div>
        </button>
        <button>
            <div class="icon-container">
                <img src="/images/Teach/icon/Appstore_LOGO.png"/>
            </div>
            <div class="icon-text">
                App Store
            </div>
        </button>
    </div>
</div>

@code {

}
