@using SnakeAsianLeague.Pages.NFTindex.Components
@using SnakeAsianLeague.Pages.Teach.Components.All_components

<head>
    <link href="/css/Teach/CreatePonPonSnakeGame.css" rel="stylesheet" />
    <link href="/css/NFTindex/NFTindex_Banner.css" rel="stylesheet" />
    <link href="/css/NFTindex/NFTindex_Register.css" rel="stylesheet" onload="console.log('css loaded')"/>
</head>

<Main_Title  />
<div class="CreatePonPonSnakeGame-Container">
        <div class="register-Container">
        <div class="NFTindex_Register_block">                
            @* 註冊按鈕 *@
            <div class="NFTindex_Register" hidden="@false">
                <div class="Register-input-row">
                    <input type="text" class="Register-input tippy-pop" id="CountryCode" name="CountryCode" placeholder="+886" data-content="CountryCode" @bind=@countryCodeStr>

                    <input type="text" class="Register-input tippy-pop" id="PhoneNum" name="PhoneNum" placeholder="Phone Number" data-content="Enter Your Phone Number" @bind=@phoneNumStr>
                </div>
                <NFTindex_Register CountryCode = "@countryCodeStr" PhoneNum = "@phoneNumStr" /> 
            </div>                 
        </div>
    </div>
    <img class="CreatePonPonSnakeGame-Container-img" src="/images/Teach/PAGE3_PHOTO.png"/>
    @*<button class="CreatePonPonSnakeGame-Container-button"> Register Game Account </button>*@




</div>

@code {   
    private string countryCodeStr = "";
    private string phoneNumStr = "";
}
