
@using SnakeAsianLeague.Pages.Teach.Components.All_components
<head>
    <link href="/css/Teach/DownloadAndPLAY.css" rel="stylesheet" />
</head>

<Main_Title  />
<div class="DownloadAndPLAY-container">
    <div class="img-Zone">
        <img class="Logo-ponponsnake" src="/images/Teach/PonPon LOGO.png" />
        <img class="shine-BG" src="/images/Teach/PAGE5_GLOW.png" />
    </div>
    <button>Download PonPonSnake(Android)</button>
    <button>Download PonPonSnake(Ios)</button>
    <button>Download PonPonSnake(APK)</button>

</div>

@code {

}
