@using SnakeAsianLeague.Data.Entity.View

<head>
    <link href="/css/Teach/TeachDot.css" rel="stylesheet" />
</head>


<div class="TeachDot-Container">
    @foreach(var data in Value)
    {
        if (data.shine)
        {
          <a href="/GettingStarted/@data.router" >  <button class="TeachDot-Container-BG1" @onclick="@(() =>squareOnclick(data.router))"> </button></a> 
        }else 
        {
          <a href="/GettingStarted/@data.router" >  <button class="TeachDot-Container-BG2"  @onclick="@(() => squareOnclick(data.router))"> </button></a> 
        }

    }
   


</div>

@code {

    [Parameter] public  List<TeachAllData>? Value { get; set; }

    [Parameter]
    public EventCallback<string> SquareClick { get; set;}

    private void squareOnclick(string idd)
    {
        SquareClick.InvokeAsync(idd);   
    }
    @*[Parameter] public string[][]? Value { get; set; }
   
    [Parameter]
    public EventCallback<string> squareClick { get; set;}

    private void squareOnclick(string idd)
    {
        squareClick.InvokeAsync(idd);   
    }*@

}
