@using SnakeAsianLeague.Pages.Teach.Components.TeachNavBar_components

<head>
    <link href="/css/Teach/TeachNavBar.css" rel="stylesheet" />
</head>

<div class = "TeachNavBar-container" >
    <div class ="img-Container">
            <img  class = "line-BG" src="/images/Teach/nav/BG-line.png"/>
            <div class="square-container"> 
                @foreach(var Data in Value)
                {                    
                    <TeachNavBar_Square  Value =@Data  SquareClick ="squareClickPop"/>
                }      
            </div>   
    </div>
    <div class ="stepText-Container">
       @*@foreach(var Data in SetpTextData)
        {
            <TeachNavBar_stepText Value =@Data/>            
        }*@ 
        @for(int i = 0 ; i <= SetpTextData.GetUpperBound(0); i++)
        {
            <TeachNavBar_stepText Value =@SetpTextData[i,0]/>     
        }

    </div>
    <div>

    </div>
</div>
@code {
    


    [CascadingParameter] string[,] SetpTextData { get; set; }


    [Parameter] public string[][]? Value { get; set; }
   
    [Parameter]
    public EventCallback<string> squareClick { get; set;}

    private void squareClickPop(string idd)
    {
        squareClick.InvokeAsync(idd);   
    }

 }

