@using SnakeAsianLeague.Pages.Teach.Components.TeachNavBar_components

<head>
    <link href="/css/Teach/TeachNavBar.css" rel="stylesheet" />
</head>

<div class = "TeachNavBar-container" >
    <div class ="img-Container">
            <img  class = "line-BG" src="/images/Teach/nav/BG-line.png"/>
            <div class="square-container"> 
                @foreach(var Data in Value)
                {                    
                    <TeachNavBar_Square  Value =@Data  />
                }      
            </div>   
    </div>
    <div class ="stepText-Container">
       @foreach(var Data in SetpTextData)
        {
            <TeachNavBar_stepText Value =@Data/>            
        } 
    </div>
    <div>

    </div>
</div>
@code {
    [CascadingParameter] string[] SetpTextData { get; set; }

    [Parameter] public string[][]? Value { get; set; }
   


 }

