@using SnakeAsianLeague.Pages.Teach.Components.TeachNavBar_components
@using SnakeAsianLeague.Data.Entity.View


<head>
    <link href="/css/Teach/TeachNavBar.css" rel="stylesheet" />
</head>

<div class = "TeachNavBar-container" >
    <div class ="img-Container">
            <img  class = "line-BG" src="/images/Teach/nav/BG-line.png"/>
            <div class="square-container"> 
                @foreach(var Data in Value.SquareData)
                {                    
                    <TeachNavBar_Square  Value =@Data  SquareClick ="Value.squareClick"/>
                }      
            </div>   
    </div>
    <div class ="stepText-Container">
       @foreach(var Data in Value.SetpTextData)
        {
            <TeachNavBar_stepText Value =@Data[0]/>            
        } 
    </div>
    <div>

    </div>
</div>
@code {
   @*[Parameter] public TeachData? AllTeachData { get; set; }*@
   [Parameter] public TeachData? Value { get; set; }
        
   
 }

