.CreatePonPonSnakeGame-Container {
    width:510px;
    height:500px;
    text-align:center;
    margin-top:60px;
}


.CreatePonPonSnakeGame-Container img {
    width: 510px;
    height: 315px;
}

.CreatePonPonSnakeGame-Container button {
       
    background:url("../../images/Teach/Button.png");
    background-size: cover;
    width: 248px;
    height: 53px;
    margin-top: 20px;
    border: none;
    color: #fff;
    font-size: 16px

}

.register-Container {
    margin-top:60px
}

@media all and (max-width: 1024px) {
    .CreatePonPonSnakeGame-Container {
        width: 331px;
        height: 325px;    
    }


    .CreatePonPonSnakeGame-Container img {
        width: 331px;
        height: 204px;
    }

    .CreatePonPonSnakeGame-Container button {
        width: 158px;
        height: 34px;
        margin-bottom: 10px;
        font-size: 10px
    }
}