.TeachDot-Container {
    display:flex;
    justify-content:center;
    align-items:center;
    width:100%;

}


.TeachDot-Container button {
    width: 30px;
    height:30px;
    border:none;
   
    background-size:cover;
    margin: 12px;
}
.TeachDot-Container-BG1 {
    background: url('../../images/Teach/dot1.png');
}

.TeachDot-Container-BG2 {
    background: url('../../images/Teach/dot2.png');
}

@media all and (max-width: 1024px) {
    .TeachDot-Container button {
        width: 22px;
        height: 22px;

    }

}