.TeachDot-Container {
    display:flex;
    justify-content:center;
    align-items:center;
    width:100%;

}


.TeachDot-Container button {
    width: 25px;
    height: 25px;
    border: none;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 50%;
    margin: 10px;
    transition: all .1s ease-in-out;
}
.TeachDot-Container button:hover{
    opacity: 0.7;
}
.TeachDot-Container-BG1 {
    /* background: url('../../images/Teach/dot1.png'); */
    background-color: #276170;
}

.TeachDot-Container-BG2 {
    /* background: url('../../images/Teach/dot2.png'); */
    background-color: #90bcb6
}

@media all and (max-width: 1024px) {
    .TeachDot-Container button {
        width: 22px;
        height: 22px;

    }

}