   <div class="GameFi-Block" id="GameFi-Block-Chart">
        <div class="GameFi-Background-Block">
            <div class="GameFi-Paragraph">
                <div class="GameFi-Paragraph-Title">Our Ecosystem Runs transparently</div>
                <div class="GameFi-Paragraph-Txt-02">
                    We are dedicated to bringing our players a more flexible and interactive ecosystem. Through the
                    ownership of tokens, each play has rights and influence on how PonPonSnake operates. Also, as DAO is
                    fully autonomous and transparent, it enables our team to provide a more enjoyable game to players.
                    Here is ERNC allocation pool.
                </div>
            </div>
            <div class="Chart-Block">

                <div class="Pie-Chart-Block">
                    <svg class="Pie-Chart-Line" id="Pie-Chart-Line-01" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 57.903 197.477">
                        <path id="パス_64" data-name="パス 64" d="M495.466,5001.688l-53.35-76.772V4805.638" transform="translate(-439.616 -4805.638)" fill="none" stroke="#66aea2" stroke-width="5"/>
                    </svg>
                    <div class="Pie-Chart-Label" id="Pie-Chart-Label-01">Operation and<br>Development team</div>

                    <svg class="Pie-Chart-Line" id="Pie-Chart-Line-02" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 69.46 145.849">
                        <path id="パス_63" data-name="パス 63" d="M816.235,4948.363l21.046-142.985h45.94" transform="translate(-813.762 -4802.878)" fill="none" stroke="#66aea2" stroke-width="5"/>
                    </svg>
                    <div class="Pie-Chart-Label" id="Pie-Chart-Label-02">DAO Treasury Unlock<br>from Arena</div>

                    <div class="Pie-Chart-Icon">
                        <img class="lazy" data-src="/images/GameFi/ERNC.webp" alt="">
                    </div>



                    <div class="Pie-Chart" id="Pie-Chart">
                        @* <img class="lazy" data-src="/images/GameFi/Pie-Chart.webp" alt=""> *@
                    </div>
                </div>


                <div class="Info-Area">
                    <div class="GameFi-Paragraph-Txt-02">
                        Token Name : Empyreal Nucleus<br>
                        Token Ticker : ERNC<br>
                        Totol Supply : 270,000,000
                    </div>
                    <div class="Button-Title">
                        Lastest Season
                    </div>
                    <button class="Link-Button"><a href="ACLIndexS2#BannerImg" target="_blank">Earn ERNC &nbsp; >></a></button>
                </div>
            </div>
        </div>
    </div>
@code {

}
