   <div class="GameFi-Block">
        <div class="GameFi-Background-Block">
            <div class="GameFi-Paragraph">
                <div class="GameFi-Paragraph-Title">PPSR</div>
                <div class="GameFi-Paragraph-Txt">Ready to embark on advanture!</div>
            </div>
            <div class="PPSR-Block">



                <div class="PPSR-Rider">
                    @* <img id="PPSR-Rider-All" data-src="/images/GameFi/whole_knight.webp" alt=""> *@

                    <div class="PPSR-Rider-Block not-Rider-Knight not-Rider-Weapon not-Rider-Pet Rider-first" id="Rider-Snake">
                        <img class="lazy" data-src="/images/GameFi/just_Snake.webp" alt="">
                    </div>


                    <div class="PPSR-Rider-Block not-Rider-Snake not-Rider-Weapon not-Rider-Pet Rider-first" id="Rider-Knight">
                        <img class="lazy" data-src="/images/GameFi/just_Knight.webp" alt="">
                    </div>


                    <div class="PPSR-Rider-Block not-Rider-Snake not-Rider-Knight not-Rider-Pet Rider-first" id="Rider-Weapon">
                        <img class="lazy" data-src="/images/GameFi/just_Weapon.webp" alt="">
                    </div>

                    <div class="PPSR-Rider-Block not-Rider-Snake not-Rider-Knight not-Rider-Weapon" id="Rider-Pet">
                        <img class="lazy" data-src="/images/GameFi/only_pet.webp" alt="">
                    </div>


                    <svg class="line-Rider" id="line-Rider-Snake" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink"
                        viewBox="0 0 204.797 57.001">
                        <defs>
                            <filter id="パス_61" x="0" y="0" width="204.797" height="57.001" filterUnits="userSpaceOnUse">
                                <feOffset input="SourceAlpha" />
                                <feGaussianBlur stdDeviation="3" result="blur" />
                                <feFlood flood-color="#98ecff" />
                                <feComposite operator="in" in2="blur" />
                                <feComposite in="SourceGraphic" />
                            </filter>
                        </defs>
                        <g transform="matrix(1, 0, 0, 1, 0, 0)" filter="url(#パス_61)">
                            <path id="パス_61-2" data-name="パス 61" d="M13108.136,3875v38h185.8"
                                transform="translate(-13098.14 -3866)" fill="none" stroke="#fff" stroke-width="2" />
                        </g>
                    </svg>
                    <div class="Info-Rider" id="Info-Rider-Snake">Snake</div>


                    <svg class="line-Rider" id="line-Rider-Knight" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink" 
                        viewBox="0 0 81.393 135.899">
                        <defs>
                            <filter id="パス_56" x="0" y="0" width="81.393" height="135.899" filterUnits="userSpaceOnUse">
                                <feOffset input="SourceAlpha" />
                                <feGaussianBlur stdDeviation="3" result="blur" />
                                <feFlood flood-color="#98ecff" />
                                <feComposite operator="in" in2="blur" />
                                <feComposite in="SourceGraphic" />
                            </filter>
                        </defs>
                        <g transform="matrix(1, 0, 0, 1, 0, 0)" filter="url(#パス_56)">
                            <path id="" data-name="パス 56" d="M13311.843,4033v116.9h-62.393"
                                transform="translate(-13240.45 -4024)" fill="none" stroke="#fff" stroke-width="2" />
                        </g>
                    </svg>
                    <div class="Info-Rider" id="Info-Rider-Knight">Rider</div>


                    <svg class="line-Rider" id="line-Rider-Weapon" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink" 
                        viewBox="0 0 51.077 172.991">
                        <defs>
                            <filter id="パス_62" x="0" y="0" width="51.077" height="172.991" filterUnits="userSpaceOnUse">
                                <feOffset input="SourceAlpha" />
                                <feGaussianBlur stdDeviation="3" result="blur" />
                                <feFlood flood-color="#98ecff" />
                                <feComposite operator="in" in2="blur" />
                                <feComposite in="SourceGraphic" />
                            </filter>
                        </defs>
                        <g transform="matrix(1, 0, 0, 1, 0, 0)" filter="url(#パス_62)">
                            <path id="パス_62-2" data-name="パス 62" d="M12330.813,3367.521h32.077V3213.53"
                                transform="translate(-12321.81 -3204.53)" fill="none" stroke="#fff" stroke-width="2" />
                        </g>
                    </svg>
                    <div class="Info-Rider" id="Info-Rider-Weapon">Weapon</div>


                    <svg class="line-Rider" id="line-Rider-Pet" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink"
                        viewBox="0 0 67.296 170.842">
                        <defs>
                            <filter id="パス_54" x="0" y="0" width="67.296" height="170.842" filterUnits="userSpaceOnUse">
                                <feOffset input="SourceAlpha" />
                                <feGaussianBlur stdDeviation="3" result="blur" />
                                <feFlood flood-color="#98ecff" />
                                <feComposite operator="in" in2="blur" />
                                <feComposite in="SourceGraphic" />
                            </filter>
                        </defs>
                        <g transform="matrix(1, 0, 0, 1, 0, 0)" filter="url(#パス_54)">
                            <path id="パス_54-2" data-name="パス 54" d="M-67.5,183.982V60.754h47.3V31.14"
                                transform="translate(77.5 -22.14)" fill="none" stroke="#fff" stroke-width="2" />
                        </g>
                    </svg>
                    <div class="Info-Rider" id="Info-Rider-Pet">Pet</div>

                    <div class="PPSR-Click-Icon">
                        <img class="lazy" data-src="/images/GameFi/click-icon.webp" alt="">
                    </div>
                </div>




                <div class="Info-Area">
                    <div class="GameFi-Paragraph-Txt-02">
                        Each Rider is composed of 4 parts, which are the rider, pet, weapon, and snake.<br>
                        Hire or buy your PPSR (PonPonSnake Ridders) to earn more value in PonPonSnake ecosystem!
                    </div>
                    <div class="Button-Title">
                        MarketPlace
                    </div>
                    <button class="Link-Button"><a href="marketplace" target="_blank" data-i18n="Inventory_data:otherTitle.BuyPPSR" >Buy PPSR >></a></button>
                </div>
            </div>
        </div>
    </div>
@code {

}
