<div class="description_block" id="description_03">
    <div class="SignUp">

        <div class="TitleTimeline">

            <div class="description_blockTitle" data-aos="fade-left" data-aos-delay="300">
                <img src="/images/Index/title_bg.webp" alt="" class="title_bg">
                <div class="title_BG">
                    <p>報名<br>流程</p>
                </div>
            </div>


            <div class="timeline" data-aos="zoom-in-down" data-aos-duration="500" data-aos-delay="500">
                <div class="time">
                    <img src="/images/Description/SignUp_ICON_00.webp" alt="">
                    <p>公益報名 2021.10.01 - 12.04</p>
                </div>
                <div class="time">
                    <img src="/images/Description/SignUp_ICON_01.webp" alt="">
                    <p>全季報名 2021.08.30 - 10.01</p>
                </div>
                <div class="time">
                    <img src="/images/Description/SignUp_ICON_02.webp" alt="">
                    <p>季中報名 2021.10.04 - 10.29</p>
                </div>
                <div class="time">
                    <img src="/images/Description/SignUp_ICON_03.webp" alt="">
                    <p>星光報名 2021.11.01 - 12.10</p>
                </div>
            </div> 

        </div>


        <div class="signUp_detail" data-aos="zoom-in-down" data-aos-duration="800" data-aos-delay="800">

            <div class="download" id="download_QRcode">
                <div class="signUp_text">
                    <h3>下載碰碰蛇</h3>
                </div>
                <img id="icon_picture" src="./images/Description/icon_picture.webp" alt="">

                <div class="QRcode_all">
                    <a class="QRcode" href="https://play.google.com/store/apps/details?id=com.cqigames.snakeknight"
                        target="_blank">
                        <img src="./images/Description/Android_Download.webp" alt=""></a>
                    <a class="QRcode" href="https://apps.apple.com/us/app/%E7%A2%B0%E7%A2%B0%E8%9B%87-2/id1504212624"
                        target="_blank">
                        <img src="./images/Description/iOS_Download.webp" alt=""></a>
                    <a class="QRcode" href="https://ponponsnake.oss-cn-hangzhou.aliyuncs.com/PonPonSnake.apk"
                        target="_blank">
                        <img src="./images/Description/aliyun_Download.webp" alt=""></a>
                </div>
            </div>

            <img id="arrow_right" src="./images/Description/arrow_right.webp" alt="">

            <div class="click_game">
                <h3>點擊「亞洲聯賽」</h3>
                <img id="" src="./images/Description/click_game.webp" alt="">

            </div>

            <img id="arrow_right_2" src="./images/Description/arrow_right_2.webp" alt="">
            <img id="arrow_right_rwd700" src="./images/Description/arrow_right.webp" alt="">

            <div class="gamePrice">


                @* 報名費圓形 *@
                <div class="gamePriceRound">

                    <div class="roundTitle">
                        <img src="/images/Description/round_title.webp" alt="">
                        <p>個人賽</p>
                    </div>

                    <div class="round">
                        <img src="/images/Description/round1.webp" alt="" class="round_img">

                        <div class="priceAll">

                            <div class="price">
                                <img src="/images/Description/SignUp_ICON_01.webp" alt="">
                                <p>全季&nbsp;6.99US</p>
                            </div>
                            <div class="price">
                                <img src="/images/Description/SignUp_ICON_02.webp" alt="">
                                <p>季中&nbsp;4.99US</p>
                            </div>
                            <div class="price">
                                <img src="/images/Description/SignUp_ICON_03.webp" alt="">
                                <p>星光&nbsp;2.99US</p>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="gamePriceRound">

                    <div class="roundTitle">
                        <img src="/images/Description/round_title.webp" alt="">
                        <p>隊伍賽</p>
                    </div>

                    <div class="round">
                        <img src="/images/Description/round2.webp" alt="" class="round_img">

                        <div class="priceAll">

                            <div class="price">
                                <img src="/images/Description/SignUp_ICON_01.webp" alt="">
                                <p>全季&nbsp;27.99US</p>
                            </div>
                            <div class="price">
                                <img src="/images/Description/SignUp_ICON_02.webp" alt="">
                                <p>季中&nbsp;19.99US</p>
                            </div>
                            <div class="price">
                                <img src="/images/Description/SignUp_ICON_03.webp" alt="">
                                <p>星光&nbsp;11.99US</p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="watchLive description_down">
            <div id="watchLive_button">
                <a href="description#description_04">
                    <img src="/images/Index/watchLive_button.webp" alt="">
                    <span>賽程瀏覽</span>
                </a>
            </div>
            @* <img id="downArrow" src="/images/Index/downArrow.webp" alt=""> *@
            <svg class="arrows">
                <path class="a1" d="M0 0 L30 32 L60 0"></path>
                <path class="a2" d="M0 20 L30 52 L60 20"></path>
                <path class="a3" d="M0 40 L30 72 L60 40"></path>
            </svg>
        </div>
    </div>
</div>

@code {

}
