<div class="description_block" id="description_02">
    <div class="information">

        <div class="description_title_line">
            <div class="description_blockTitle"  data-aos="fade-left" data-aos-delay="300">
                <img src="/images/Index/title_bg.png" alt="" class="title_bg">
                <div class="title_BG">
                    <p>賽事<br>說明</p>
                </div>
            </div>
            
            <div id="PDF_download_button" hidden="@(true)">
                <a href="/PDF/Ponponsnake_Asia_Champoins_League_S1.pdf" target="_blank" download>
                    <img src="/images/Other/button_blue.png" alt="">
                    <span>賽事規章
                        <img id="download_icon" style="width: 30px;" src="/images/Other/download.png" alt="">
                    </span>
                </a>
            </div>
        </div>

        <div class="information_box_all">

            <div class="information_box" data-aos="zoom-in-down" data-aos-duration="800" data-aos-delay="300">
                <img src="/images/Other/info_01.png" alt="">

                <div class="box_hover">
                    <img src="/images/Other/info_01_hover.png" alt="">
                    <div class="box_hover_text">
                        <p>碰碰蛇首度開啟個人1對1競技模式，讓玩家能夠展現高超的戰鬥技巧。
                            <br><br>
                            快透過積分戰累積個人經驗，挑戰單打獨鬥的快感與刺激吧！
                        </p>
                    </div>
                </div>
            </div>

            <div class="information_box" data-aos="zoom-in-down" data-aos-duration="800" data-aos-delay="600">
                <img src="/images/Other/info_02.png" alt="">

                <div class="box_hover">
                    <img src="/images/Other/info_02_hover.png" alt="">
                    <div class="box_hover_text">
                        <p>隊伍競技將由5人所組成的隊伍，一同於競技場上發揮團隊合作與不同戰略技巧，挑戰1+1大於2的力量。
                            <br><br>
                            隊伍內將先於積分賽制獲得決賽資格，並於最終戰場由4人出征，爭奪最終榮耀。
                        </p>
                    </div>
                </div>

            </div>
            <div class="information_box" data-aos="zoom-in-down" data-aos-duration="800" data-aos-delay="900">
                <img src="/images/Other/info_03.png" alt="">

                <div class="box_hover">
                    <img src="/images/Other/info_03_hover.png" alt="">
                    <div class="box_hover_text">
                        <p>本次亞洲聯賽將於報名時贈送神秘角色騎士，玩家可以利用全新角色展開戰役。
                            <br><br>
                            並於決賽取得前三名將獲得豐厚的獎品獎金和遊戲幣，大獎鹿死誰手等你來挑戰。
                        </p>
                    </div>
                </div>

            </div>
        </div>

        <div class="watchLive description_down">
            <div id="watchLive_button">
                <a href="description#description_03">
                    <img src="/images/Index/watchLive_button.png" alt="">
                    <span>報名參加</span>
                </a>
            </div>
            @* <img id="downArrow" src="/images/Index/downArrow.png" alt=""> *@
            <svg class="arrows">
                <path class="a1" d="M0 0 L30 32 L60 0"></path>
                <path class="a2" d="M0 20 L30 52 L60 20"></path>
                <path class="a3" d="M0 40 L30 72 L60 40"></path>
            </svg>
        </div>
    </div>

</div>
@code {

}
