@using SnakeAsianLeague.Pages.Festival


<head>
    <link href="/css/Festival/NewYear2023/NewYear2023_Reward.css" rel="stylesheet" />
    <link href="/css/Festival/NewYear2023/NewYear2023.css" rel="stylesheet" />
</head>

<div class="NewYear2023_Reward" id="NewYear2023_Reward">
    <div class="NewYear2023-title">
        <span data-i18n="NewYear2023_data:reward.title">- 獎勵 -</span>
    </div>

    <div class="reward-title-BG">
        <img class="reward-title-BG-01" src="/images/Festival/NewYear2023/reward/reward-title-BG.png" alt="">
        <img class="reward-title-BG-cloud" src="/images/Festival/NewYear2023/reward/cloud.png" alt="">
        <img class="reward-title-BG-02" src="/images/Festival/NewYear2023/reward/ERNC.png" alt="">
        <div class="reward-title-text">
            <img class="reward-title-BG-03" src="/images/Festival/NewYear2023/reward/reward-icon.png" alt="">
            <span data-i18n="NewYear2023_data:reward.title-02">Total Grand 55,500 gERNC!</span>
        </div>
    </div>

    <div class="Reward-block">

        <div class="Reward-table">
            <div class="Reward-table-title" id="Reward-table-title-solo" data-i18n="NewYear2023_data:reward.reward-solo">
                Lucky Star - Solo
            </div>

            <div class="Reward-table-list">
                <img src="/images/Festival/NewYear2023/reward/reward-solo.png" alt="">
            </div>
        </div>

        <div class="Reward-table">
            <div class="Reward-table-title" id="Reward-table-title-team" data-i18n="NewYear2023_data:reward.reward-squad">
                Lucky Slam - Squad
            </div>
            
            <div class="Reward-table-list">
                <img src="/images/Festival/NewYear2023/reward/reward-team.png" alt="">
            </div>
        </div>


    </div>


</div>
