@inject IJSRuntime JS
@using SnakeAsianLeague.Pages.Festival


<head>
    <link href="/css/Festival/NewYear2023/NewYear2023_Rules.css" rel="stylesheet" />
    <link href="/css/Festival/NewYear2023/NewYear2023.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/8.1.1/swiper-bundle.css"
        integrity="sha512-xTLlG+jNUAbKTCLpdibgQptrCWCqMDQHombvHK7T2S2bQW5zKZtDMssUw3ftsoJ+T9cATQmdNsPIgopUlUWz8g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<div class="NewYear2023_Rules" id="NewYear2023_Rules">
    <div class="NewYear2023-title">
        <span>- 規則 -</span>
    </div>

    <div class="NewYear2023-Carousel">

        <div class="NewYear2023-Carousel-All">
            <div class="swiper NewYear2023-Carousel-Block">

                <div class="swiper-wrapper" id="NewYear2023-Carousel">


                    <div class="swiper-slide">
                        <div class="Rules-content">
                            <p class="Rules-content-title"> 1. Solo Battle Group :</p>
                            <p>(1) You will need to climb the ladder rank.
                                Players will earn 20 tickets each cycle(two days a cycle).
                                joining a battle will consume one ticket.
                                Every victory will give you one point,
                                you won't be getting or losing any point if you lose a game.
                                The top eight players will have permission for the finals.
                                (Players must have over 10 points for attending the finals.)</p>

                            <p>(2) If teams are out of tickets, there'll be more tickets in the store. The leaders are
                                allowed to buy 5 tickets each cycle. </p>
                        </div>

                    </div>


                    <div class="swiper-slide">

                        <div class="Rules-content">
                            <p class="Rules-content-title">2. Squad Battle Group :</p>
                            <p>(1) Players can team up from one to five. Captain can invite or dismiss any
                                member.</p>
                            <p>(2) You will need to climb the ladder rank. Six days will be a cycle. The first five
                                days will be rank matches, the sixth day is the final match, every cycle the leader will
                                get 100 tickets and can distribute them to all the members. Each team member can earn
                                their own score, all the wins will be automatically added to the team points. Joining a
                                battle will consume one ticket. Every victory will give you one point, you won't be
                                getting or losing any point if you lose a game. </p>


                        </div>

                    </div>

                    <div class="swiper-slide">

                        <div class="Rules-content">
                            <p class="Rules-content-title">2. Squad Battle Group :</p>

                            <p>(3) During the final match, each team can have four players, there must be at least one
                                player attending the game to be recognized as a valid match.</p>

                            <p>(4) If teams are out of tickets, there'll be more tickets in the store. The leaders are
                                allowed to buy 25 tickets each cycle (6 days).</p>

                        </div>

                    </div>

                    <div class="swiper-slide">

                        <div class="Rules-content">
                            <p class="Rules-content-title">3. Final :</p>
                            <p> Please enter the waiting room 5 mins before the Final begins. There will be Three rounds in the Final:</p>
                            <p> · The first round will select Final Four players.</p>

                            <p> · The second round will select the final three players.</p>

                            <p> · The last round will decide First, second, third place player.</p>

                        </div>

                    </div>







                </div>



            </div>
            <div class="swiper-pagination"></div>
            @* <div class="swiper-button">
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
                </div> *@
        </div>
    </div>
</div>





@code {

    protected override async Task OnAfterRenderAsync(bool firstRender)

    {
        if (firstRender)

        {
            // Carousel.js
            await JS.InvokeVoidAsync("NewYear2023_CarouselJS");

        }

    }
}
