<head>
       <link href="css/Festival/NewYear2023/NewYear2023_Rank.css" rel="stylesheet" />  
</head>

<div class="NewYear2023_Rank_container">
    <div class="NewYear2023-container">
        <div class="NewYear2023_Rank_BG"> 
            @*選擇排名*@
            <div class="Bottom_Plate">

            </div>
            @*顯示排名*@
            <div>

            </div>

        </div>

    </div>

</div>

@code {

}
