@using SnakeAsianLeague.Pages.Festival


<head>
    <link href="/css/Festival/NewYear2023/NewYear2023_About.css" rel="stylesheet" />
    <link href="/css/Festival/NewYear2023/NewYear2023.css" rel="stylesheet" />
</head>

<div class="NewYear2023_About" id="NewYear2023_About">

    <div class="NewYear2023-title">
        <span data-i18n="NewYear2023_data:about.title">- About -</span>
    </div>

    @* <div class="About-title-02" data-i18n="NewYear2023_data:about.title-02">註冊並且報名立即獲得報名費10%的騎士幣！</div> *@

    <div class="ticket-block" id="ticket-block-web">

        <div class="ticket">
            <img class="ticket-BG" src="/images/Festival/NewYear2023/about/ticket-BG-01.png" alt="">

            <div class="ticket-info">
                <div class="ticket-type">
                    <span class="ticket-type-01" data-i18n="NewYear2023_data:about.solo-name">Lucky Star</span>
                    <span class="ticket-type-02" data-i18n="NewYear2023_data:about.solo">(solo)</span>
                </div>

                <div class="ticket-date">
                    <span class="ticket-type-03" data-i18n="NewYear2023_data:about.registration-time">Registration Time :</span>
                    <span class="ticket-type-04">2023/01/01~2023/01/26</span>
                    <span class="ticket-type-03" data-i18n="NewYear2023_data:about.event-date">Event Date :</span>
                    <span class="ticket-type-04">2023/01/16~2023/01/29</span>
                    <span class="ticket-type-03" data-i18n="NewYear2023_data:about.registration-fee">Registration Fee :</span>
                    <span class="ticket-type-04">$ 3.99 USD</span>
                </div>
                <div class="ticket-award" data-i18n="[class]NewYear2023_data:about.ticket-award">
                    <span class="ticket-type-05" data-i18n="[html]NewYear2023_data:about.registration-rewards">Registration<br>Rewards</span>
                </div>

            </div>
        </div>

        <div class="ticket">
            <img class="ticket-BG" src="/images/Festival/NewYear2023/about/ticket-BG-02.png" alt="">

            <div class="ticket-info">
                <div class="ticket-type">
                    <span class="ticket-type-01" data-i18n="NewYear2023_data:about.squad-name">Lucky Slam</span>
                    <span class="ticket-type-02" data-i18n="NewYear2023_data:about.squad">(squad)</span>
                </div>

                <div class="ticket-date">
                    <span class="ticket-type-03" data-i18n="NewYear2023_data:about.registration-time">Registration Time：</span>
                    <span class="ticket-type-04">2023/01/01~2023/01/26</span>
                    <span class="ticket-type-03" data-i18n="NewYear2023_data:about.event-date">Event Date :</span>
                    <span class="ticket-type-04">2023/01/16~2023/01/29</span>
                    <span class="ticket-type-03" data-i18n="NewYear2023_data:about.registration-fee">Registration Fee :</span>
                    <span class="ticket-type-04">$ 20.99 USD</span>
                </div>
                <div class="ticket-award" data-i18n="[class]NewYear2023_data:about.ticket-award">
                    <span class="ticket-type-05" data-i18n="[html]NewYear2023_data:about.registration-rewards">Registration<br>Rewards</span>
                </div>

            </div>
        </div>

    </div>

    <div class="ticket-block" id="ticket-block-mobile">

        <div class="ticket-mobile">
            <img class="ticket-BG" src="/images/Festival/NewYear2023/about/ticket-BG-01-mobile.png" alt="">

            <div class="ticket-info-mobile">
                <div class="ticket-type-mobile">
                    <span class="ticket-type-01-mobile" data-i18n="NewYear2023_data:about.solo-name">Lucky Star</span>
                    <span class="ticket-type-02-mobile" data-i18n="NewYear2023_data:about.solo">(solo)</span>
                </div>

                <div class="ticket-date-mobile">
                    <span class="ticket-type-03-mobile" data-i18n="NewYear2023_data:about.registration-time">Registration Time :</span>
                    <span class="ticket-type-04-mobile">2023/01/01~2023/01/15</span>
                    <span class="ticket-type-03-mobile" data-i18n="NewYear2023_data:about.event-date">Event Date :</span>
                    <span class="ticket-type-04-mobile">2023/01/16~2023/01/29</span>
                    <span class="ticket-type-03-mobile" data-i18n="NewYear2023_data:about.registration-fee">Registration Fee :</span>
                    <span class="ticket-type-04-mobile">$ 3.99 USD</span>
                </div>
                <div class="ticket-award-mobile">
                    <span class="ticket-type-05-mobile" data-i18n="[html]NewYear2023_data:about.registration-rewards">Registration<br>Rewards</span>
                </div>

            </div>
        </div>

        <div class="ticket-mobile">
            <img class="ticket-BG" src="/images/Festival/NewYear2023/about/ticket-BG-02-mobile.png" alt="">

            <div class="ticket-info-mobile">
                <div class="ticket-type-mobile">
                    <span class="ticket-type-01-mobile" data-i18n="NewYear2023_data:about.squad-name">Lucky Slam</span>
                    <span class="ticket-type-02-mobile" data-i18n="NewYear2023_data:about.squad">(squad)</span>
                </div>

                <div class="ticket-date-mobile">
                    <span class="ticket-type-03-mobile" data-i18n="NewYear2023_data:about.registration-time">Registration Time :</span>
                    <span class="ticket-type-04-mobile">2023/01/01~2023/01/15</span>
                    <span class="ticket-type-03-mobile" data-i18n="NewYear2023_data:about.event-date">Event Date :</span>
                    <span class="ticket-type-04-mobile">2023/01/16~2023/01/29</span>
                    <span class="ticket-type-03-mobile" data-i18n="NewYear2023_data:about.registration-fee">Registration Fee :</span>
                    <span class="ticket-type-04-mobile">$ 20.99 USD</span>
                </div>
                <div class="ticket-award-mobile">
                    <span class="ticket-type-05-mobile" data-i18n="[html]NewYear2023_data:about.registration-rewards">Registration<br>Rewards</span>
                </div>

            </div>
        </div>

    </div>

</div>