@using SnakeAsianLeague.Pages.Festival


<head>
    <link href="/css/Festival/NewYear2023/NewYear2023_Rules.css" rel="stylesheet" />
    <link href="/css/Festival/NewYear2023/NewYear2023.css" rel="stylesheet" />
</head>

<div class="NewYear2023_Rules">
    <div class="NewYear2023-title">
        <span>- 規則 -</span>
    </div>


</div>
