@using SnakeAsianLeague.Pages.Festival


<head>
    <link href="/css/Festival/NewYear2023/NewYear2023_About.css" rel="stylesheet" />
    <link href="/css/Festival/NewYear2023/NewYear2023.css" rel="stylesheet" />
</head>

<div class="NewYear2023_About" id="NewYear2023_About">

    <div class="NewYear2023-title">
        <span>- 賽季內容 -</span>
    </div>

    <div class="About-title-02">註冊並且報名立即獲得報名費10%的騎士幣！</div>

    <div class="ticket-block" id="ticket-block-web">

        <div class="ticket">
            <img class="ticket-BG" src="/images/Festival/NewYear2023/about/ticket-BG-01.png" alt="">

            <div class="ticket-info">
                <div class="ticket-type">
                    <span class="ticket-type-01">福星組</span>
                    <span class="ticket-type-02">(個人)</span>
                </div>

                <div class="ticket-date">
                    <span class="ticket-type-03">註冊時間：</span>
                    <span class="ticket-type-04">2023/01/01~2023/01/15</span>
                    <span class="ticket-type-03">開打時間：</span>
                    <span class="ticket-type-04">2023/01/16~2023/01/29</span>
                    <span class="ticket-type-03">註冊費用：</span>
                    <span class="ticket-type-04">$ 3.99 USD</span>
                </div>
                <div class="ticket-award">
                    <span class="ticket-type-05">註冊<br>獎勵</span>
                </div>

            </div>
        </div>

        <div class="ticket">
            <img class="ticket-BG" src="/images/Festival/NewYear2023/about/ticket-BG-02.png" alt="">

            <div class="ticket-info">
                <div class="ticket-type">
                    <span class="ticket-type-01">福氣滿貫組</span>
                    <span class="ticket-type-02">(隊伍)</span>
                </div>

                <div class="ticket-date">
                    <span class="ticket-type-03">註冊時間：</span>
                    <span class="ticket-type-04">2023/01/01~2023/01/15</span>
                    <span class="ticket-type-03">開打時間：</span>
                    <span class="ticket-type-04">2023/01/16~2023/01/29</span>
                    <span class="ticket-type-03">註冊費用：</span>
                    <span class="ticket-type-04">$ 20.99 USD</span>
                </div>
                <div class="ticket-award">
                    <span class="ticket-type-05">註冊<br>獎勵</span>
                </div>

            </div>
        </div>

    </div>

    <div class="ticket-block" id="ticket-block-mobile">

        <div class="ticket-mobile">
            <img class="ticket-BG" src="/images/Festival/NewYear2023/about/ticket-BG-01-mobile.png" alt="">

            <div class="ticket-info-mobile">
                <div class="ticket-type-mobile">
                    <span class="ticket-type-01-mobile">福星組</span>
                    <span class="ticket-type-02-mobile">(個人)</span>
                </div>

                <div class="ticket-date-mobile">
                    <span class="ticket-type-03-mobile">註冊時間：</span>
                    <span class="ticket-type-04-mobile">2023/01/01~2023/01/15</span>
                    <span class="ticket-type-03-mobile">開打時間：</span>
                    <span class="ticket-type-04-mobile">2023/01/16~2023/01/29</span>
                    <span class="ticket-type-03-mobile">註冊費用：</span>
                    <span class="ticket-type-04-mobile">$ 3.99 USD</span>
                </div>
                <div class="ticket-award-mobile">
                    <span class="ticket-type-05-mobile">註冊<br>獎勵</span>
                </div>

            </div>
        </div>

        <div class="ticket-mobile">
            <img class="ticket-BG" src="/images/Festival/NewYear2023/about/ticket-BG-02-mobile.png" alt="">

            <div class="ticket-info-mobile">
                <div class="ticket-type-mobile">
                    <span class="ticket-type-01-mobile">福氣滿貫組</span>
                    <span class="ticket-type-02-mobile">(隊伍)</span>
                </div>

                <div class="ticket-date-mobile">
                    <span class="ticket-type-03-mobile">註冊時間：</span>
                    <span class="ticket-type-04-mobile">2023/01/01~2023/01/15</span>
                    <span class="ticket-type-03-mobile">開打時間：</span>
                    <span class="ticket-type-04-mobile">2023/01/16~2023/01/29</span>
                    <span class="ticket-type-03-mobile">註冊費用：</span>
                    <span class="ticket-type-04-mobile">$ 20.99 USD</span>
                </div>
                <div class="ticket-award-mobile">
                    <span class="ticket-type-05-mobile">註冊<br>獎勵</span>
                </div>

            </div>
        </div>

    </div>

</div>