@page "/NewYear2023_Banner"

<head>
    <title>PonPonSnake｜NewYear2023</title>
    <link href="/css/Festival/NewYear2023/NewYear2023_Banner.css" rel="stylesheet" />
</head>

<div class="NewYear2023_Banner">
    
</div>