@page "/Battle"

@using SnakeAsianLeague.Pages.Battle.Components

@inject IJSRuntime JS

<head>
    <title>PonPonSnake｜Battle</title>
    <link href="/css/Battle/Battle.css" rel="stylesheet" />
</head>

<div class="Battle_BG_diamond">
    <Battle_Gameplay/>
    
</div>

@code {

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {

        if (firstRender)
        {
            await JS.InvokeVoidAsync("installI18n");
          
        }

    }
}