/*錯誤彈窗*/
.errorContainer {
    width: 100%;
    position: fixed;
    z-index: 999;
    top: 50px;
    height: 100vh;
    background: rgba(0,0,0,0.5);
    left: 0%;
}

.errorNav {
    width: 100%;
    background: #FFE5BC;
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
    width: 100%;
    font-family: adobe-fan-heiti-std, 'Source Sans Pro';
    letter-spacing: 0.5px;
    padding: 7px 0;
}


.errorNav button {
    color: #fff;
    background: #67ADA2;
    border-radius: 15px;
    font-size: 20px;
    margin-left: 30px;
    padding: 6px 25px;
    border: none;
    letter-spacing: 0.5px;
}

.errorNav p {
    color: #ec847b;
    font-size: 24px;
    font-weight: 700;
}

@media all and (max-width: 1000px) {
    .errorContainer{
        top: 46px;
    }
    .errorNav button {
        /* width: 300px; */
        font-size: 16px;
    }

    .errorNav p {
        font-size: 22px;
        font-weight: 700;
    }
}

@media all and (max-width: 768px) {
    .errorNav button {
        padding: 5px 25px;
    }

    .errorNav p {
        font-size: 20px;
        font-weight: 700;
    }
}

@media all and (max-width: 576px) {
    .errorContainer{
        top: 48px;
    }
    .errorNav button {

        padding: 5px 15px;
        font-size: 14px;
        margin-left: 10px;
    }

    .errorNav p {
        font-size: 16px;
        font-weight: 700;
    }
}