.getStartMetaMask-container {
    margin: 200px auto;
    max-width: 1000px;

    display: flex; 
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(to right,#67ada1e0 0%,#8dbbb3e6 50%, #67ada1e8 100%);
    border-radius:20px;
    padding:20px
}


.getStartMetaMask-title {
    color: #f8f9fa;
    font-size: 32px;
    font-weight: 600;
    letter-spacing: 10px;
    border-bottom: 2px solid #ffffff73;
    padding: 2px 6px 2px 10px;
}

.getStartMetaMask-content {
    width: 100%;   
    padding: 20px 40px;
}


.getStartMetaMask-content p {
    color: #f8f9fa;
    font-size: 30px;
    font-weight: 500;
    font-size: 28px;
    margin-top:30px;
    width:100%;
}

.getStartMetaMask-notLogin {
    text-align:center;  
}

.getStartMetaMask-address {
    padding-left: 20px;
    font-size: 22px;
    color: #4F615E;
}

.getStartMetaMask-container button {
    background: #FFA81D;
    color: #fff;
    font-size: 26px;
    width: 250px;
    height: 60px;
    border-radius: 20px;
    border: none;
    margin-bottom: 40px;
    letter-spacing: 0.5px;
    transition: all .1s ease-in-out;
    margin: 30px;
}


@media all and (max-width: 600px) {
    .getStartMetaMask-container {
        margin: 120px auto;
    }
}