<div class="receiveAward" id="receiveAward">
    <div class="prize_titile">
        <div class="blockTitle" data-aos="fade-left" >
            <img src="/images/Index/title_bg.webp" alt="" class="title_bg">
            <div class="title_BG">
                <p>申請<br>流程</p>
            </div>
        </div>
        @* <p class="receiveAward_title">★報名隊伍只有隊長可以獲取獲獎編號</p> *@
    </div>
    <div class="receiveAward_block" id="receiveAward_block">
        <div class="block_01" data-aos="fade-left" data-aos-duration="500" data-aos-delay="300">
            <p>點擊「登入」輸入帳密</p>
            <img src="/images/Prize/receive_01.webp" alt="">
        </div>

        <img id="prize_arrow_right" src="/images/Prize/arrow_right.webp" alt="">

        <div class="block_01" data-aos="fade-left" data-aos-duration="500" data-aos-delay="600">
            <p>進入個人頁面「領獎通知」</p>
            <img src="/images/Prize/receive_02.webp" alt="">
        </div>

        <img id="prize_arrow_right" src="/images/Prize/arrow_right.webp" alt="">

        <div class="block_01" data-aos="fade-left" data-aos-duration="500" data-aos-delay="900">
            <p>填寫領獎個人資訊</p>
            <img src="/images/Prize/receive_03.webp" alt="">
        </div>

        <img id="prize_arrow_right" src="/images/Prize/arrow_right.webp" alt="">

        <div class="block_01" data-aos="fade-left" data-aos-duration="500" data-aos-delay="1200">
            <p>完成申請，等待審查</p>
            <img src="/images/Prize/receive_04.webp" alt="">
        </div>

        @* <div class="block_02">
            <img src="/images/Prize/receive_04.webp" alt="">
            <div class="block_02_text">
                <p>進入亞洲聯賽官網</p>
                <p>登入後點擊</p>
                <p>「申請獎金」</p>
                <p>填寫個人資料</p>
            </div>
        </div> *@
    </div>
</div>
@code {

}
