@page "/WarmUpActivities"

@using SnakeAsianLeague.Pages.SpecialEvent.WarmUpActivities.Components

@inject IJSRuntime JS

<head>
    <title>PonPonSnake｜WarmUpActivities</title>
    <link href="/css/SpecialEvent/WarmUpActivities/WarmUpActivities.css" rel="stylesheet" />
        <link href="/css/SpecialEvent/WarmUpActivities/WarmUpActivities_Activity.css" rel="stylesheet" />
</head>

<div class="WarmUpActivities">
    <WarmUpActivities_Banner />
    <WarmUpActivities_EventInfo />
    @* <WarmUpActivities_Rules /> *@

    <div class="WarmUpActivities_Activity" hidden="@false">
        @* <WarmUpActivities_Activity_one /> *@
        <WarmUpActivities_Activity_two />
        <WarmUpActivities_Activity_three />
    </div>
    
    <WarmUpActivities_Notice />

</div>


@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)

    {
        if (firstRender)
        {
            await JS.InvokeVoidAsync("installI18n");
        }
    }
}