@page "/WarmUpActivities"

@using SnakeAsianLeague.Pages.SpecialEvent.WarmUpActivities.Components

@inject IJSRuntime JS

<head>
    <title>PonPonSnake｜WarmUpActivities</title>
    <link href="/css/SpecialEvent/WarmUpActivities/WarmUpActivities.css" rel="stylesheet" />
</head>

<div class="WarmUpActivities">
    <WarmUpActivities_Banner />
    <WarmUpActivities_EventInfo />
    <WarmUpActivities_Rules />
    <div class="WarmUpActivities-Fire-BG">
        <WarmUpActivities_Reward />
        <WarmUpActivities_Ranking />
    </div>
</div>


@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)

    {
        if (firstRender)
        {
            await JS.InvokeVoidAsync("installI18n");
        }
    }
}