@using SnakeAsianLeague.Pages.NFTindex.Components
@using SnakeAsianLeague.Pages.SpecialEvent.WarmUpActivities.Components
@inject IJSRuntime JS

<head>
    @* <link href="/css/SpecialEvent/WarmUpActivities/WarmUpActivities_Activity.css" rel="stylesheet" /> *@
</head>

<div class="WarmUpActivities-CenterBlock">

    <div class="activity" id="activity-01">
    

        <div class="activity-titleBlock">

            <div class="activity-title">
                <div class="activity-text">
                    @* Ⅰ *@
                    <h1>活動二</h1><p>五星好評</p><p>送豪禮</p>
                    <img class="five-stars" src="/images/SpecialEvent/WarmUpActivities/five-stars.png" alt="">
                </div>
                <div class="activity-date">2022.12.19 - 2022.12.26</div>
            </div>

        </div>
        <div class="activity-content">
            <div class="activity-info">
                <p>加入碰碰蛇官方telegram後，在APP Store搜索碰碰蛇的頁面，並且給予我們五分好評附上50字評價。截圖之後，即可聯繫我們的telegram客服回報領取100SRC，我們將在七天的工作日發放獎勵到你的帳號。
                </p>
                <p style="color: #971c00">※同一ID只能參與一次，若發現同一ID註冊不同帳號，視為領取無效。</p>
            </div>
            <div class="activity-Img">
                <img id="activity-Img-01" src="/images/SpecialEvent/WarmUpActivities/activity-01.png" alt="">
                <img id="activity-Img-02" src="/images/SpecialEvent/WarmUpActivities/activity-02.png" alt="">
            </div>
        </div>

        

    </div>


</div>