@using SnakeAsianLeague.Pages.NFTindex.Components
@using SnakeAsianLeague.Shared.SignUp
@inject IJSRuntime JS

<head>
    <link href="/css/SpecialEvent/WarmUpActivities/WarmUpActivities_Rules.css" rel="stylesheet" />
    <link href="/css/NFTindex/NFTindex_Register.css" rel="stylesheet" />
</head>


<div class="WarmUpActivities_Rules" id="WarmUpActivities_Rules">

    <div class="WarmUpActivities-Title" data-i18n="WarmUpActivities_data:rules.title">
        Rules
    </div>

    <div class="WarmUpActivities-CenterBlock">

        <div class="step-Block">

            <div class="WarmUpActivities-Title-02" data-i18n="WarmUpActivities_data:rules.step-title">Four Easy Steps to Start</div>

            <div class="step-ArrowAll">

                <div class="step-Arrow step-Arrow-Click" id="step-Arrow-01">
                    <img src="/images/SpecialEvent/WarmUpActivities/Step-BG.png" />
                    <span class="text-shadow-big" data-i18n="WarmUpActivities_data:rules.step-01">Step 1</span>
                </div>
                <div class="step-Arrow" id="step-Arrow-02">
                    <img src="/images/SpecialEvent/WarmUpActivities/Step-BG.png" />
                    <span class="text-shadow-big" data-i18n="WarmUpActivities_data:rules.step-02">Step 2</span>
                </div>
                <div class="step-Arrow" id="step-Arrow-03">
                    <img src="/images/SpecialEvent/WarmUpActivities/Step-BG.png" />
                    <span class="text-shadow-big" data-i18n="WarmUpActivities_data:rules.step-03">Step 3</span>
                </div>
                <div class="step-Arrow" id="step-Arrow-04">
                    <img src="/images/SpecialEvent/WarmUpActivities/Step-BG.png" />
                    <span class="text-shadow-big" data-i18n="WarmUpActivities_data:rules.step-04">Step 4</span>
                </div>

            </div>

            <div class="step-window">

                <div class="step-windowTitle text-shadow-small">
                    
                    <span id="step-windowTitle-01" data-i18n="[html]WarmUpActivities_data:rules.windowStep-01">
                        Step 1：<br>Sign up for PonPonSnake game account, and verify your phone and email.
                    </span>

                    <span id="step-windowTitle-02" data-i18n="[html]WarmUpActivities_data:rules.windowStep-02">
                        Step 2：<br>Join PonPonSnake's official Telegram group.
                    </span>

                    <span id="step-windowTitle-03" data-i18n="[html]WarmUpActivities_data:rules.windowStep-03">步驟三：<br>
                        Step 3：<br>Follow, like and tag 3 friends.
                    </span>

                    <span id="step-windowTitle-04" data-i18n="[html]WarmUpActivities_data:rules.windowStep-04">步驟四：<br>
                        Step 4：<br>Participate in the 1v7 Ranking for 65,000 SRC. (about 2000 USDT)"
                    </span>

                </div>



                @* 步驟 1 *@
                <div class="step-Content" id="step-Content-01">

                    <div class="step-Content-Block">
                        <SignUpButton />

                        @* 註冊按鈕 *@
                        @* <div class="register-Container">
                            <div class="NFTindex_Register_block">
                                <div class="NFTindex_Register" hidden="@false">
                                    <div class="Register-input-row">
                                        <input type="text" class="Register-input tippy-pop" id="CountryCode"
                                            name="CountryCode" placeholder="+886" data-content="CountryCode"
                                            @bind=@countryCodeStr>

                                        <input type="text" class="Register-input tippy-pop" id="PhoneNum"
                                            name="PhoneNum"
                                            data-i18n="[placeholder]Home_data:register.inputPhoneNumber;[data-content]Home_data:register.tippy"
                                            placeholder="Phone Number" data-content="Enter Your Phone Number"
                                            @bind=@phoneNumStr>
                                    </div>
                                    <NFTindex_Register CountryCode="@countryCodeStr" PhoneNum="@phoneNumStr" />
                                </div>
                            </div>
                        </div> *@

                        <img id="step-Content-Img-01"
                            src="/images/SpecialEvent/WarmUpActivities/step-Content-Img-01.png" />
                    </div>

                </div>


                @* 步驟 2 *@
                <div class="step-Content" id="step-Content-02">
                    <div class="step-Content-Block">
                        <img id="step-Content-Img-02"
                            src="/images/SpecialEvent/WarmUpActivities/step-Content-Img-02.png" />
                        <div class="step-Content-02-text">GameFi / Games<br>
                            NFT / P2E / ERNC<br>
                            PonPonSnake
                        </div>

                        <div class="step-button-block">
                            <a href="https://t.me/ponponsnake" target="_blank">
                                <button class="step-button" data-i18n="WarmUpActivities_data:rules.windowStep-joinNow">Join Now</button>
                            </a>
                        </div>

                    </div>
                </div>

                @* 步驟 3 *@
                <div class="step-Content" id="step-Content-03">
                    <div class="step-Content-Block">
                        <img id="step-Content-Img-03"
                            src="/images/SpecialEvent/WarmUpActivities/step-Content-Img-03.png" />

                    </div>
                </div>

                @* 步驟 4 *@
                <div class="step-Content" id="step-Content-04">
                    <div class="step-Content-Block">
                        <img id="step-Content-Img-04"
                            src="/images/SpecialEvent/WarmUpActivities/step-Content-Img-04.png" />

                        <div class="step-button-block">
                            <a href="GettingStarted/download-and-play" target="_blank">
                                <button class="step-button" data-i18n="WarmUpActivities_data:rules.windowStep-download">Download</button>
                            </a>
                        </div>

                    </div>
                </div>


            </div>

        </div>

        <div class="discount-Block">

            <div class="WarmUpActivities-Title-02" data-i18n="WarmUpActivities_data:rules.discount-title">Join Us Earn Rewards Free</div>

            <div class="discount-Step">

                <div class="Round-Step" id="Round-Step-01">
                    <div class="Round-Step-text">
                        <h1 data-i18n="WarmUpActivities_data:rules.discountStep-01">Benefit 1</h1>
                        <p data-i18n="WarmUpActivities_data:rules.discountText-01">Steps 1 and 2 must be completed in order to play all riders for free during the event.</p>
                    </div>
                </div>

                <div class="Round-Step" id="Round-Step-02">
                    <div class="Round-Step-text">
                        <h1 data-i18n="WarmUpActivities_data:rules.discountStep-02">Benefit 2</h1>
                        <p data-i18n="WarmUpActivities_data:rules.discountText-02">Steps 1~3 must be completed in order to acquire our "PonPon Snake Beta Pack" (includes SRC V1 x 999, Item name X 999)</p>
                        <p id="Round-Step-red" style="color: #b70b0b;" data-i18n="WarmUpActivities_data:rules.discountText-03">SRC V1 will be discarded at the end of the event.</p>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>






@code {
    private string countryCodeStr = "";
    private string phoneNumStr = "";

    protected override async Task OnAfterRenderAsync(bool firstRender)

    {

        if (firstRender)

        {
            await JS.InvokeVoidAsync("installI18n");
        }

    }
}