@using SnakeAsianLeague.Pages.NFTindex.Components
@using SnakeAsianLeague.Pages.SpecialEvent.WarmUpActivities.Components
@inject IJSRuntime JS

<head>
    <link href="/css/SpecialEvent/WarmUpActivities/WarmUpActivities_Notice.css" rel="stylesheet" />
</head>

<div class="WarmUpActivities-Notice-BG">
    <div class="WarmUpActivities-CenterBlock">

        <div class="WarmUpActivities-NoticeBlock">

            <div class="WarmUpActivities-Title" data-i18n="WarmUpActivities_data:notice.title">
                FAQ
            </div>

            <div class="Notice-QA">

                <div class="Notice-QA-Row">
                    <div class="Notice-Question" data-i18n="WarmUpActivities_data:notice.question-01">
                        Q1: What requirements must be met before receiving the reward?
                    </div>
                    <div class="Notice-Answer" data-i18n="WarmUpActivities_data:notice.answer-01">
                        To get the award, players must connect their gaming account to Metamask.
                    </div>
                </div>

                <div class="Notice-QA-Row">
                    <div class="Notice-Question" data-i18n="WarmUpActivities_data:notice.question-02">
                        Q2: How to claim the reward of the ranking competition and when will the rewards be distributed?
                    </div>
                    <div class="Notice-Answer" data-i18n="WarmUpActivities_data:notice.answer-02">
                        Please stay tuned on PonPonSnake's official website and social media for the competition's final
                        rankings results. A valid wallet address must be entered by the winning player in order to get
                        their rewards. After verification, the rewards will be given out in 7 working days.
                    </div>
                </div>

                <div class="Notice-QA-Row">
                    <div class="Notice-Question" data-i18n="WarmUpActivities_data:notice.question-03">
                        Q3: What is the gSRC used for in the beta version?
                    </div>
                    <div class="Notice-Answer" data-i18n="WarmUpActivities_data:notice.answer-03">
                        gSRC is used for renting the NFTs and paying the entrance fee for each game during the open
                        beta. The higher the entrance fee increases, the more bonuses will be offered. Your chances of
                        winning each game may grow as you rent stronger NFT in battle, and you may also receive more
                        rewards.
                    </div>
                </div>

                <div class="Notice-QA-Row">
                    <div class="Notice-Question" data-i18n="WarmUpActivities_data:notice.question-04">
                        Q4: I need more tSRC or gSRC, where can I get them?
                    </div>
                    <div class="Notice-Answer" data-i18n="WarmUpActivities_data:notice.answer-04">
                        By participating in the warmup event's various social media platform tasks, players may earn free tSRC or gSRC. During the public beta, the gSRC has the same function as tSRC. When the event ends, players will receive their recharged gSRC back and it will be converted to SRC. Players can withdraw SRC to their wallets by using our website's SRC/USDT exchange page. SRC is an investment asset on the chain that won't be cleared but will be worthless after the event.
                    </div>
                </div>

                <div class="Notice-QA-Row">
                    <div class="Notice-Question" data-i18n="WarmUpActivities_data:notice.question-05">
                        Q5: How to deposit and recharge gSRC?
                    </div>
                    <div class="Notice-Answer" data-i18n="WarmUpActivities_data:notice.answer-05">
                        During the beta period, players can purchase gSRC packages through USDT on the Polygon chain, or through IAP (In-App-Purchase).
                    </div>
                </div>

                <div class="Notice-QA-Row">
                    <div class="Notice-Question" data-i18n="WarmUpActivities_data:notice.question-06">
                        Q6: Will the beta-earned items I received remain?
                    </div>
                    <div class="Notice-Answer" data-i18n="WarmUpActivities_data:notice.answer-06">
                        All item rewards obtained during the beta will be cleared after the beta ends.
                    </div>
                </div>

                <div class="Notice-QA-Row">
                    <div class="Notice-Question" data-i18n="WarmUpActivities_data:notice.question-07">
                        Q7: How many rewards can one account/wallet address receive?
                    </div>
                    <div class="Notice-Answer" data-i18n="WarmUpActivities_data:notice.answer-07">
                        The rewards may only be claimed once per account or wallet. The claim will be rejected if the same ID is registered with several accounts.
                    </div>
                </div>

                <div class="Notice-QA-Row">
                    <div class="Notice-Question" data-i18n="WarmUpActivities_data:notice.question-08">
                        Q8: How do I exchange SRC/USDT?
                    </div>
                    <div class="Notice-Answer" data-i18n="WarmUpActivities_data:notice.answer-08">
                        7 days after the beta period has ended, the function for players to swap SRC/USDT will be available in the marketing area on PonPon Snake's official website.
                    </div>
                </div>

                <div class="Notice-QA-statement" data-i18n="WarmUpActivities_data:notice.statement">
                    The event's organizer reserves the right to explain and make decisions on any event-related matters, as well as the right to change the event's terms and rewards at any time without prior notice. The organizer retains the right to cancel, modify, or suspend this activity if it is unable to proceed due to particular circumstances of force majeure.
                </div>

            </div>

        </div>

    </div>
</div>