@using SnakeAsianLeague.Pages.NFTindex.Components
@using SnakeAsianLeague.Pages.SpecialEvent.WarmUpActivities.Components
@inject IJSRuntime JS

<head>
    <link href="/css/SpecialEvent/WarmUpActivities/WarmUpActivities_Activity.css" rel="stylesheet" />
</head>

<div class="WarmUpActivities-CenterBlock">

    <div class="activity" id="activity-03">


        <div class="activity-titleBlock">

            <div class="activity-title">
                <div class="activity-text">
                    <h1 data-i18n="WarmUpActivities_data:activity.title-03">- Event Ⅲ -</h1>
                    <div class="activity-text-p">
                        <p data-i18n="WarmUpActivities_data:activity.text-03-1">Play Rank, It’s Your Chance</p>
                        <p data-i18n="WarmUpActivities_data:activity.text-03-2">(GET SRC+NFT)</p>
                    </div>
                </div>
                <div class="activity-date" data-i18n="WarmUpActivities_data:activity.date-02">Event Time: Coming Soon</div>
            </div>

        </div>
        <div class="activity-content">
            <div class="activity-info">
                <p data-i18n="WarmUpActivities_data:activity.info-03-1">
                    The ERNCs you acquired on the 1V7 battlefield will be used to calculate your points. The top 50 on the ERNC ranking leader board members will be able to win SRC and NFT snake knights with the greatest value of 50 ETH.
                </p>
                <p data-i18n="WarmUpActivities_data:activity.info-03-2">Total Reward：65,000 SRC(2000USDT)</p>
                <p style="color: #971c00"  data-i18n="WarmUpActivities_data:activity.info-03-3">Reward List:</p>
            </div>

            <WarmUpActivities_Reward_New />
            <WarmUpActivities_Ranking />

        </div>



    </div>


</div>