<head>
    <link href="/css/SpecialEvent/WarmUpActivities/WarmUpActivities_EventInfo.css" rel="stylesheet" />
</head>

<div class="WarmUpActivities_EventInfo" id="WarmUpActivities_EventInfo">
    
        <div class="WarmUpActivities-Title" data-i18n="WarmUpActivities_data:eventInfo.title">
            Event Info
        </div>
    <div class="WarmUpActivities-CenterBlock">
        <div class="EventInfo_Date">
            @* <span>活動時間:&nbsp;</span><span>2022/11/14~2022/11/27&nbsp;</span><span> (為期 2 周)</span>  *@
            <span data-i18n="WarmUpActivities_data:eventInfo.date-01">Event Time:</span>&nbsp;<span data-i18n="WarmUpActivities_data:eventInfo.date-02">Coming Soon</span>&nbsp;<span data-i18n="WarmUpActivities_data:eventInfo.date-03">(2 weeks)</span> 

        </div>
        
        <div class="EventInfo_introduce">
            <div class="EventInfo_card">
                <img id="EventInfo_card-BG" src="/images/SpecialEvent/WarmUpActivities/EventInfoCard-BG.png" />

                <img id="EventInfo_card-01" width="320" src="/images/SpecialEvent/WarmUpActivities/EventInfoCard-01.png" />
                <img id="EventInfo_card-02" width="356" src="/images/SpecialEvent/WarmUpActivities/EventInfoCard-02.png" />
            </div>
            <div class="EventInfo_text">
                <h1 data-i18n="WarmUpActivities_data:eventInfo.text-01">Ready to Warm up With PonPonSnake?</h1>
                <p data-i18n="WarmUpActivities_data:eventInfo.text-02">Are you interested in GameFi but don't know where to begin? Do you believe it's impossible for playing games to make money? PonPonSnake is the ideal game for beginners. Join our event, play for free, and make money! The top 50 on the ranking list will all receive SRC, and there will also be free riders for you to enjoy!</p>
            </div>
        </div>
    </div>


</div>