@using SnakeAsianLeague.Pages.NFTindex.Components
@using SnakeAsianLeague.Pages.SpecialEvent.WarmUpActivities.Components
@inject IJSRuntime JS

<head>
    <link href="/css/SpecialEvent/WarmUpActivities/WarmUpActivities_Activity.css" rel="stylesheet" />
</head>

<div class="WarmUpActivities-CenterBlock">

    <div class="activity" id="activity-02">
    

        <div class="activity-titleBlock">

            <div class="activity-title">
                <div class="activity-text">
                    <h1 data-i18n="WarmUpActivities_data:activity.title-02">- Event Ⅰ -</h1>
                        <div class="activity-text-p">
                            <p data-i18n="WarmUpActivities_data:activity.text-02-1">Five-star review,</p>
                            <p data-i18n="WarmUpActivities_data:activity.text-02-2">Rewards for you</p>
                        <img class="five-stars" src="/images/SpecialEvent/WarmUpActivities/five-stars.png" alt="">
                    </div>    
                </div>
                <div class="activity-date" data-i18n="WarmUpActivities_data:activity.date-02">Event Time: Coming Soon</div>
            </div>

        </div>
        <div class="activity-content">
            <div class="activity-info">
                <p data-i18n="WarmUpActivities_data:activity.info-02-1">
                    Please leave a five-star and 50-word review on the App Store after joining PonPonSnake Telegram. Then, send our Telegram GM your screenshot, and we will send the reward 100 SRC to your account within 7 working days.
                </p>
                <p style="color: #971c00" data-i18n="WarmUpActivities_data:activity.info-02-2">
                    ※Each Metamask ID may only claim once.
                </p>
            </div>
            <div class="activity-Img">
                <img id="activity-Img-01" src="/images/SpecialEvent/WarmUpActivities/activity-01.png" alt="">
                <img id="activity-Img-02" src="/images/SpecialEvent/WarmUpActivities/activity-02.png" alt="">
            </div>

            <div class="activity-button">
                <a href="https://t.me/ponponsnake" target="_blank">
                    <button class="" data-i18n="WarmUpActivities_data:rules.windowStep-joinNow">Join Now</button>
                </a>
            </div>
            
        </div>

        

    </div>


</div>