@using SnakeAsianLeague.Pages.NFTindex.Components
@using SnakeAsianLeague.Pages.SpecialEvent.WarmUpActivities.Components
@inject IJSRuntime JS

<head>
    @* <link href="/css/SpecialEvent/WarmUpActivities/WarmUpActivities_Activity.css" rel="stylesheet" /> *@
</head>

<div class="WarmUpActivities-CenterBlock">

<div class="activity" id="activity-01">
    

        <div class="activity-titleBlock">

            <div class="activity-title">
                <div class="activity-text">
                    <h1 data-i18n="WarmUpActivities_data:activity.title-01">- Event Ⅰ -</h1>
                        <div class="activity-text-p">
                            <p data-i18n="WarmUpActivities_data:activity.text-01-1">Event 1 Five Easy Steps,</p>
                            <p data-i18n="WarmUpActivities_data:activity.text-01-2">All Reward just for you!</p>
                    </div>    
                </div>
                <div class="activity-date" data-i18n="WarmUpActivities_data:activity.date-02">Event Time: Coming Soon</div>
            </div>

        </div>
        <div class="activity-content">

            <div class="activity-info-one">
                <div class="event-box-Img">
                    <img class="event-box" id="event-box-01" src="/images/SpecialEvent/WarmUpActivities/event-01.png" alt="">
                    <img class="event-box" id="event-box-02" src="/images/SpecialEvent/WarmUpActivities/event-021.png" alt="">
                    <img class="event-box" id="event-box-03" src="/images/SpecialEvent/WarmUpActivities/event-03.png" alt="">
                </div>

                <div class="activity-infoList">
                    <div class="activity-list">
                        <li>
                            <span class="activity-list-title" data-i18n="WarmUpActivities_data:activity.list-01-1">Download and Register : </span> 
                            <span data-i18n="WarmUpActivities_data:activity.list-01-2">Download and register PonPonSnake and Earn 100 gSRC.</span>
                        </li>
                        <li>
                            <span class="activity-list-title" data-i18n="WarmUpActivities_data:activity.list-02-1">Connect MetaMask : </span>
                            <span data-i18n="WarmUpActivities_data:activity.list-02-2">Login First time, Connect to your MetaMask and Earn 200 tSRC.</span>
                        </li>
                        <li>
                            <span class="activity-list-title" data-i18n="WarmUpActivities_data:activity.list-03-1">Join the Community : </span>
                            <span data-i18n="WarmUpActivities_data:activity.list-03-2">Join our Telegram and Earn 500 tSRC.</span>
                        </li>
                        <li>
                            <span class="activity-list-title" data-i18n="WarmUpActivities_data:activity.list-04-1">Invite Friends : </span>
                            <span data-i18n="WarmUpActivities_data:activity.list-04-2">Invite 1 friend and earn 200 tSRC.</span>
                        </li>
                        <li>
                            <span class="activity-list-title" data-i18n="WarmUpActivities_data:activity.list-05-1">Compete in Battle : </span>
                            <span data-i18n="WarmUpActivities_data:activity.list-05-2">Compete in one battle and you will obtain the item "Wooden Chips"; compete in three games and you will obtain gems and a green material box; the more games you compete in, the more rewards you will obtain.</span>
                        </li>
                    </div>


                    <div class="activity-button">
                        <a href="GettingStarted/download-and-play">
                            <button class="" data-i18n="WarmUpActivities_data:rules.windowStep-downloadGame">Download Game</button>
                        </a>
                    </div>

                    <div class="activity-community-block">

                        <a href="https://t.me/ponponsnake" target="_blank">
                            <div class="community">
                                <div class="community-name">Telegram</div>
                                <img  class="community-icon" src="/images/SpecialEvent/WarmUpActivities/community-icon-01.png" alt="">
                            </div>
                        </a>

                        <a href="https://twitter.com/PonPonSnake_NFT" target="_blank">
                            <div class="community">
                                <div class="community-name">Twitter</div>
                                <img  class="community-icon" src="/images/SpecialEvent/WarmUpActivities/community-icon-02.png" alt="">
                            </div>
                        </a>

                        <a href="https://www.facebook.com/PonponSnake" target="_blank">
                            <div class="community">
                                <div class="community-name">Facebook</div>
                                <img  class="community-icon" src="/images/SpecialEvent/WarmUpActivities/community-icon-03.png" alt="">
                            </div>
                        </a>

                    </div>

                </div>
            </div>

            
        </div>

        @* <div class="starShine-block">
            <img class="starShine" id="starShine-01" src="/images/SpecialEvent/WarmUpActivities/starShine.gif" alt="">
            <img class="starShine" id="starShine-02" src="/images/SpecialEvent/WarmUpActivities/starShine-000.gif" alt="">
        </div> *@

    </div>


</div>