@using SnakeAsianLeague.Pages.NFTindex.Components
@using SnakeAsianLeague.Pages.SpecialEvent.WarmUpActivities.Components
@inject IJSRuntime JS

<head>
    <link href="/css/SpecialEvent/WarmUpActivities/WarmUpActivities_Activity.css" rel="stylesheet" />
</head>

<div class="WarmUpActivities-CenterBlock">

    <div class="activity" id="activity-03">


        <div class="activity-titleBlock">

            <div class="activity-title">
                <div class="activity-text">
                    <h1>活動三</h1>
                    <p>積分對決</p>
                    <p>SRC + NFT大放送</p>
                </div>
                <div class="activity-date">2022.12.19 - 2022.12.26</div>
            </div>

        </div>
        <div class="activity-content">
            <div class="activity-info">
                <p>
                    參與PonPonSnake 1v7 積分排名賽(個人)，只要在活動期間內在戰場上拾取ERNC就會列入積分計算，最後ERNC拾取數量在排行榜前50名就能獲得SRC以及最高價值50ETH的NFT蛇騎士。
                </p>
                <p>積分排名賽總獎勵：65,000 SRC(價值約2000USDT)</p>
                <p style="color: #971c00">※獎勵分配表如下：</p>
            </div>

            <WarmUpActivities_Reward_New />
            <WarmUpActivities_Ranking />

        </div>



    </div>


</div>