<head>
    <link href="/css/SpecialEvent/WarmUpActivities/WarmUpActivities_Reward_new.css" rel="stylesheet" />
</head>


<div class="top50">
    <div class="top50-Title" data-i18n="WarmUpActivities_data:reward-new.top50-table">前50獎勵表</div>
    <table class="top50-Table">

        <tr>
            <th class="top50-Table-Place" id="Table-Place" data-i18n="WarmUpActivities_data:reward-new.tableTitle-01">
                Place
            </th>
            <th class="top50-Table-Reward" id="Table-Reward" data-i18n="WarmUpActivities_data:reward-new.tableTitle-02">
                Reward (PER)</th>
        </tr>

        <tr>
            <td class="top50-Table-Place">1</td>
            <td>10000 SRC + Venus(Wind) NFT×1+ PPS VIPSx1</td>

        </tr>
        <tr>
            <td class="top50-Table-Place">2</td>
            <td>5000 SRC + #2 Snow White(Earth) NFT×1 + PPS VIPS×1</td>
        </tr>
        <tr>
            <td class="top50-Table-Place">3</td>
            <td>5000 SRC + #2 Snow White(Water) NFT×1 + PPS VIPS×1</td>
        </tr>
        <tr>
            <td class="top50-Table-Place">4</td>
            <td>5000 SRC + #33 Snow White(Fire) NFT×1 + PPS VIPS×1</td>
        </tr>
        <tr>
            <td class="top50-Table-Place">5</td>
            <td>5000 SRC + #83 Doggy Sled (Fire) NFT×1 + PPS VIPS×1</td>
        </tr>
        <tr>
            <td class="top50-Table-Place">6</td>
            <td>5000 SRC + #22 Doggy Sled (Wind) NFT×1 + PPS VIPS×1</td>
        </tr>
        <tr>
            <td class="top50-Table-Place">7</td>
            <td>2000 SRC + #64 Chicken Family(Water) NFT×1 + PPS VIPS×1</td>
        </tr>
        <tr>
            <td class="top50-Table-Place">8</td>
            <td>2000 SRC + #54 Chicken Family(Fire) NFT×1 + PPS VIPS×1</td>
        </tr>
        <tr>
            <td class="top50-Table-Place">9</td>
            <td>2000 SRC + #51 Classic Snake(Earth) NFT×1 + PPS VIPS×1</td>
        </tr>
        <tr>
            <td class="top50-Table-Place">10</td>
            <td>2000 SRC + #41 Classic Snake(Water) NFT×1 + PPS VIPS×1</td>
        </tr>
        <tr>
            <td class="top50-Table-Place">11 - 20</td>
            <td>1000 SRC + PPS VIPS×1</td>
        </tr>
        <tr>
            <td class="top50-Table-Place">21 - 50</td>
            <td>500 SRC + PPS VIPS×1</td>
        </tr>

    </table>
</div>
