@using SnakeAsianLeague.Pages.NFTindex.Components
@using SnakeAsianLeague.Shared.SignUp
@inject IJSRuntime JS

<head>
    <link href="/css/SpecialEvent/WarmUpActivities/WarmUpActivities_Rules_Revision.css" rel="stylesheet" />
    <link href="/css/NFTindex/NFTindex_Register.css" rel="stylesheet" />
</head>


<div class="WarmUpActivities_Rules_Revision" id="WarmUpActivities_Rules_Revision">

    <div class="WarmUpActivities-Title" data-i18n="WarmUpActivities_data:rules.title">
        Rules
    </div>

    <div class="WarmUpActivities-CenterBlock">

        <div class="activity" id="activity-01">
            <div class="activity-title">活動一</div>
        </div>

        <div class="activity" id="activity-02">
            <div class="activity-title">活動二</div>
        </div>

        <div class="activity" id="activity-03">
            <div class="activity-title">活動三</div>
        </div>

    </div>
</div>