@using SnakeAsianLeague.Pages.NFTindex.Components
@using SnakeAsianLeague.Pages.SpecialEvent.WarmUpActivities.Components
@inject IJSRuntime JS

<head>
    @* <link href="/css/SpecialEvent/WarmUpActivities/WarmUpActivities_Activity.css" rel="stylesheet" /> *@
</head>

<div class="WarmUpActivities-CenterBlock">

<div class="activity" id="activity-01">
    

        <div class="activity-titleBlock">

            <div class="activity-title">
                <div class="activity-text">
                    <h1 data-i18n="WarmUpActivities_data:activity.title-01">- Event Ⅰ -</h1>
                        <div class="activity-text-p">
                            <p data-i18n="WarmUpActivities_data:activity.text-01-1">Event 1 Five Easy Steps,</p>
                            <p data-i18n="WarmUpActivities_data:activity.text-01-2">All Reward just for you!</p>
                    </div>    
                </div>
                <div class="activity-date" data-i18n="WarmUpActivities_data:activity.date-02">Event Time: Coming Soon</div>
            </div>

        </div>
        <div class="activity-content">
            @* <div class="activity-info">
                <p data-i18n="WarmUpActivities_data:activity.info-02-1">
                    Please leave a five-star and 50-word review on the App Store after joining PonPonSnake Telegram. Then, send our Telegram GM your screenshot, and we will send the reward 100 SRC to your account within 7 working days.
                </p>
                <p style="color: #971c00" data-i18n="WarmUpActivities_data:activity.info-02-2">
                    ※Each Metamask ID may only claim once.
                </p>
            </div> *@
            <div class="activity-info-one">
                <div class="event-box-Img">
                    <img class="event-box" id="event-box-01" src="/images/SpecialEvent/WarmUpActivities/event-01.png" alt="">
                    <img class="event-box" id="event-box-02" src="/images/SpecialEvent/WarmUpActivities/event-02.png" alt="">
                    <img class="event-box" id="event-box-03" src="/images/SpecialEvent/WarmUpActivities/event-03.png" alt="">
                </div>

                <div class="activity-infoList">
                    <div class="activity-list">
                        <li>Download and Register: Download and register PonPon Snake and Earn 100 gSRC.</li>
                        <li>Connect MetaMask: Login First time, Connect to your MetaMask and Earn 200 tSRC.</li>
                        <li>Join the Community: Join our Telegram and Earn 500 tSRC.</li>
                        <li>Invite Friends: Invite 1 friend and earn 200 tSRC.</li>
                        <li>Compete in Battle: Compete in one battle and you will obtain the item "Wooden Chips"; compete in three games and you will obtain gems and a green material box; the more games you compete in, the more rewards you will obtain.</li>
                    </div>


                    <div class="activity-button">
                        <a href="GettingStarted/download-and-play">
                            <button class="" data-i18n="WarmUpActivities_data:rules.windowStep-downloadGame">Download Game</button>
                        </a>
                    </div>

                    <div class="activity-community-block">

                        <a href="https://t.me/ponponsnake" target="_blank">
                            <div class="community">
                                <div class="community-name">Telegram</div>
                                <img  class="community-icon" src="/images/SpecialEvent/WarmUpActivities/community-icon-01.png" alt="">
                            </div>
                        </a>

                        <a href="https://twitter.com/PonPonSnake_NFT" target="_blank">
                            <div class="community">
                                <div class="community-name">Twitter</div>
                                <img  class="community-icon" src="/images/SpecialEvent/WarmUpActivities/community-icon-02.png" alt="">
                            </div>
                        </a>

                        <a href="https://www.facebook.com/PonponSnake" target="_blank">
                            <div class="community">
                                <div class="community-name">Facebook</div>
                                <img  class="community-icon" src="/images/SpecialEvent/WarmUpActivities/community-icon-03.png" alt="">
                            </div>
                        </a>

                    </div>

                </div>
            </div>

            
        </div>

        @* <div class="starShine-block">
            <img class="starShine" id="starShine-01" src="/images/SpecialEvent/WarmUpActivities/starShine.gif" alt="">
            <img class="starShine" id="starShine-02" src="/images/SpecialEvent/WarmUpActivities/starShine-000.gif" alt="">
        </div> *@

    </div>


</div>