<head>
    <link href="/css/SpecialEvent/WarmUpActivities/WarmUpActivities_Banner.css" rel="stylesheet" />
</head>

<div class="WarmUpActivities_Banner" id="WarmUpActivities_Banner">
    <div class="Banner-BG">
        @* <img class="" src="/images/SpecialEvent/WarmUpActivities/WarmUpActivities_Banner.png" /> *@
        <img class="" src="/images/SpecialEvent/WarmUpActivities/WarmUp-Banner.png" />
    </div>

    <div class="WarmUpActivities-Banner-Gradient"></div>

    <div class="WarmUp-BannerTitle">
        <img class="" data-i18n="[src]WarmUpActivities_data:eventBanner.title" src="/images/SpecialEvent/WarmUpActivities/WarmUp-BannerTitle-EN.png" />
    </div>

    @* Nav關閉 *@
    <div class="WarmUp-BannerNav" hidden="@true">
        <ul class="">
            <li><a href="WarmUpActivities#WarmUpActivities_EventInfo" data-i18n="WarmUpActivities_data:eventBanner.nav-01">EVENT INFO</a></li>
            <li><a href="WarmUpActivities#WarmUpActivities_Rules" data-i18n="WarmUpActivities_data:eventBanner.nav-02">RULES</a></li>
            <li><a href="WarmUpActivities#WarmUpActivities_Reward" data-i18n="WarmUpActivities_data:eventBanner.nav-03">REWARD</a></li>
            <li><a href="WarmUpActivities#WarmUpActivities_Ranking" data-i18n="WarmUpActivities_data:eventBanner.nav-04">RANKING</a></li>
        </ul>
    </div>
</div>