<head>
    <link href="/css/SpecialEvent/WarmUpActivities/WarmUpActivities_Reward.css" rel="stylesheet" />
</head>

<div class="WarmUpActivities_Reward" id="WarmUpActivities_Reward">
        <div class="WarmUpActivities-Title" data-i18n="WarmUpActivities_data:reward.title">
            Reward
        </div>

        
            <div class="Reward-GoldTitle">
                @* <span>總獎金 65,000 SRC</span>  *@
                    <img class="" data-i18n="[src]WarmUpActivities_data:reward.goldTitle" src="/images/SpecialEvent/WarmUpActivities/Reward_GoldTitle-EN.png" />
            </div>
        <div class="WarmUpActivities-CenterBlock">
            
            <div class="Reward-Title-01" data-i18n="WarmUpActivities_data:reward.text-01">Play Rank, Top 50 Gets the Bonus.</div>
            <div class="Reward-Title-02" data-i18n="WarmUpActivities_data:reward.text-02">The ranking option will be available during the Beta Event. The player who earns the most ERNC (total accumulation) will be mentioned on the ranking list, and the top 50 players will get an extra SRC award.</div>
        
        
            <div class="top50">
                <div class="top50-Title" data-i18n="WarmUpActivities_data:reward.top50-table">前50獎勵表</div>
                <table class="top50-Table">

                    <tr>
                        <th class="top50-Table-Place" id="Table-Place" data-i18n="WarmUpActivities_data:reward.tableTitle-01">名次</th>
                        <th class="top50-Table-Reward" id="Table-Reward" data-i18n="WarmUpActivities_data:reward.tableTitle-02">獎勵</th>
                        <th class="top50-Table-Value" id="Table-Value" data-i18n="WarmUpActivities_data:reward.tableTitle-03">價值</th>
                        <th class="top50-Table-TotalValue" data-i18n="WarmUpActivities_data:reward.tableTitle-04">總價值</th>
                    </tr>

                    <tr>
                        <td class="top50-Table-Place">1</td>
                        <td>10000 SRC</td>
                        <td>300 U</td>
                        <td>300 U</td>

                    </tr>
                    <tr>
                        <td class="top50-Table-Place">2 - 5</td>
                        <td>5000 SRC</td>
                        <td>150 U</td>
                        <td>600 U</td>
                    </tr>
                    <tr>
                        <td class="top50-Table-Place">6 - 10</td>
                        <td>2000 SRC</td>
                        <td>60 U</td>
                        <td>300 U</td>
                    </tr>
                    <tr>
                        <td class="top50-Table-Place">11 - 20</td>
                        <td>1000 SRC</td>
                        <td>30 U</td>
                        <td>300 U</td>
                    </tr>
                    <tr>
                        <td class="top50-Table-Place">21 - 50</td>
                        <td>500 SRC</td>
                        <td>5 U</td>
                        <td>450 U</td>
                    </tr>

                </table>
            </div>
        
        </div>

</div>
