@using SnakeAsianLeague.Data.Entity.SnakeServer
@using SnakeAsianLeague.Data.Services.WarmUpActivities
@inject IJSRuntime JS
@inject WarmUpActivitiesService WarmUpActivitiesService
<head>
    <link href="/css/SpecialEvent/WarmUpActivities/WarmUpActivities_Ranking.css" rel="stylesheet" />
</head>

<div class="WarmUpActivities_Ranking" id="WarmUpActivities_Ranking">
    <div class="WarmUpActivities-Title" data-i18n="WarmUpActivities_data:ranking.title">
        Ranking
    </div>

    <div class="WarmUpActivities-CenterBlock">

        <div class="Ranking-Block">
            <div class="Ranking-Content">
                <div class="Ranking-Content-Title text-shadow-brown" data-i18n="WarmUpActivities_data:ranking.title-02">Current Top 50</div>

                <div class="Ranking-List">

                    @* 以下為示意，到時候可留只一個跑迴圈 *@

                    @if(LeaderboardList.OtherLeaderboardToERNC != null) 
                    {
                        var index = 0;
                        @foreach (var item in LeaderboardList.OtherLeaderboardToERNC)
                        {
                            index++;
                            <div class="Ranking-Row" hidden="@(true)">
                                <div class="Ranking-Number text-shadow-big"> @index </div>
                                <div class="Ranking-Data">
                                    <div class="Player-Name">@item.userSocial.Name</div>

                                    <div class="Ranking-ERNC">
                                        <div class="ERNC-Amount">ERNC: <span>@item.ERNC.ToString("0.00000")</span></div>
                                        <img class="Ranking-ERNC-icon" src="/images/SpecialEvent/WarmUpActivities/ERNC.png" />
                                    </div>                            
                                </div>
                            </div>
                        }

                        @* 暫時顯示，活動開始後刪掉此段，並把上方hidden="@(true)"改成false *@
                        <div class="Ranking-ComingSoon">
                            <span data-i18n="WarmUpActivities_data:ranking.ComingSoon">Coming Soon</span>
                        </div>

                    }
                    else
                    {
                        @* @for(var i =0; i<10; i++)
                        {
                            <div class="Ranking-Row">
                                <div class="Ranking-Number text-shadow-big">1</div>
                                <div class="Ranking-Data">
                                    <div class="Player-Name">讀取中</div>

                                    <div class="Ranking-ERNC">
                                        <div class="ERNC-Amount">ERNC: <span>讀取中</span></div>
                                        <img class="Ranking-ERNC-icon" src="/images/SpecialEvent/WarmUpActivities/ERNC.png" />
                                    </div>                            
                                </div>
                            </div>
                        } *@

                        <div class="Ranking-ComingSoon">
                            <span data-i18n="WarmUpActivities_data:ranking.ComingSoon">Coming Soon</span>
                        </div>

                    }
                   

        
                </div>
            </div>

        </div>
    </div>
</div>


@code {

    private IJSObjectReference? WarmUpActivitiesJS;
   OwnedVirtualCurrrencyLeaderboardDTO LeaderboardList = new OwnedVirtualCurrrencyLeaderboardDTO();
    protected override async Task OnInitializedAsync()
    {
        await Refresh();
    }

    public async Task Refresh()
    {
        LeaderboardList = await WarmUpActivitiesService.GetLeaderboard();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)  
    {

        if (firstRender)
        {

            WarmUpActivitiesJS = await JS.InvokeAsync<IJSObjectReference>("import", "./JavaScript/SpecialEvent/WarmUpActivities.js");
            await WarmUpActivitiesJS.InvokeVoidAsync("WarmUpActivitiesStep");

        }

    }
}