@page "/PrivacyPolicy"

@inject IJSRuntime JS

<head>
    <title>PonPonSnake｜Terms Of Service</title>
    @* <link href="/css/Company_Info/Terms_Of_Service.css" rel="stylesheet" /> *@
    <link href="/css/Company_Info/PrivacyPolicy.css" rel="stylesheet" />
</head>

<section class="Service-block">

    <div class="Service-BG">
        <div class="Privacy-title">
            <img id="note" src="/images/Company_Info/PrivacyPolicy/btn_task.png" alt="">
            Privacy Policy
        </div>
        <div class="Service-main">
            @* <img id="Rope" src="/images/Company_Info/Terms_Of_Service/Rope.png" alt=""> *@

            <div class="Service-inner">


                <div class="Service-text">

                    <p>
                        These Terms of Service represent a legally enforceable agreement between you, whether
                        individually or on behalf of an entity, and PonPonSnake alone.
                    </p>

                    <p>
                        This document includes important info about your rights and responsibilities, as well as the
                        conditions, limitations, and exclusions that refer to you. please read it completely.
                    </p>

                    <p>
                        PonPonSnake is a distributed application that enables users to own, transfer, and engage in
                        battle with snakes and riders via specially created smart contracts. Users may also trade and
                        own other types of digital assets like land and blueprints, therefore, your access to and use of
                        the https://www.ponponsnake.com/ <br>
                        and PonPonSnake app, other media form, media channel, mobile
                        website, mobile application related, linked, or otherwise connected thereto is operating on the
                        Ethereum Network.
                    </p>

                    <p>
                        The user may then interact with this visualization of the assets on the website. In these Terms,
                        "App" refers to both the Site and the Smart Contracts as a whole.
                    </p>

                    <p>
                        You must agree to all of these conditions in order for us to provide the app, smart contracts,
                        and website available to you. By utilizing any official PonPonSnake product ( including the app,
                        smart contracts, the website, or any other ) you certify that you have read, comprehended, and
                        agree to be bound by all of the conditions of usage.
                    </p>

                    <p>
                        If you do not accept or recognize all of these terms of service, then you are expressly
                        forbidden from using the website, app, and smart contracts, and should consider stopping using
                        them immediately.
                    </p>

                    <p>
                        This article explicitly incorporates by reference any other terms and conditions or documents
                        that may from time to time be placed on the Site, the App, or the Smart Contracts. We retain the
                        right to change or amend these Terms of Use at any time and for any cause, at our sole
                        discretion.
                    </p>

                    <p>
                        We shall notify you of any modifications by revising the "Last Updated" date on these Terms of
                        Service, and you waive any claim to the particular notice of any such change. It is your duty to
                        check these Terms of Service on a regular basis to remain up to date on any changes.
                    </p>

                    <p>
                        By continuing to use the Site, App, and Smart Contracts, You will be assumed to have been made
                        aware of and accepted any amended Terms of Use that were posted.
                    </p>

                    <p>
                        The information on the Site, the App, and the Smart Contracts are not intended to be used or
                        distributed to anyone or any business in any region or nation; anyone who enters the Site and/or
                        the App while violating their local laws is acting on their own initiative.
                    </p>

                    <p>
                        The Site is intended for users who are at least 18 years old. People under the age of 18 are not
                        permitted to use or register for the Site, the App, and the Smart Contracts.
                    </p>
                </div>



            </div>
        </div>
    </div>
</section>


@code {

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {

        if (firstRender)
        {
            await JS.InvokeVoidAsync("installI18n");

        }

    }
}