@page "/LunarNewYear"

@using SnakeAsianLeague.Data.Services.Backstage
@using SnakeAsianLeague.Data.Entity.Backstage
@using SnakeAsianLeague.Data.Services.SnakeServerService
@using SnakeAsianLeague.Data.Entity.SnakeServer
@using SnakeAsianLeague.Pages.LunarNewYear.Components

@inject IJSRuntime JS
@inject S2PrizeService S2PrizeService
@inject AsiaLeaguePlaceService AsiaLeaguePlaceService



@* 農曆新年節慶賽節首頁 *@
<head>
    <title>PonPonSnake 碰碰蛇｜農曆新年節慶賽</title>
    <link href="css/LunarNewYear.css" rel="stylesheet" />
    <link href="css/FestivalNavbar.css" rel="stylesheet" />
    @* <link href="css/ChristmasIndex.css" rel="stylesheet" /> *@
    <link href="css/lightbox.css" rel="stylesheet" />
</head>


@* 節慶賽各分頁navbar *@
<LunarNewYear_Navbar />


<div class="ChristmasPage">

     <LunarNewYear_QRcode />


    @* 主視覺banner區塊 *@
    <LunarNewYear_Banner />


    @* 日程區塊 *@
    <LunarNewYear_Schedule />


    @* 獎勵區塊 *@
    <LunarNewYear_LeagueAward  AllPrizes=@AllPrizes S4Places=@S4Places S5Places=@S5Places/>

    <LunarNewYear_Details />   

    <LunarNewYear_FinalProcess />
    <!-- footer -->
    @* <footer>
        <div class="copyright">
            <p>Copyright © 2021 PonPonSnake. All rights reserved.</p>
        </div>
    </footer> *@
    <LunarNewYear_Footer />

</div>





@code {

    List<S2Prize> AllPrizes;
    List<AsiaLeaguePlace> S4Places;
    List<AsiaLeaguePlace> S5Places;
    @*private IJSObjectReference? FireworksJS;*@
    private IJSObjectReference? ParallaxJS;
    protected override async Task OnInitializedAsync()
    {

        S4Places = await AsiaLeaguePlaceService.GetAsiaLeaguePlacesBySeason(AsiaLeagueSeasons.Tiger1);
        S5Places = await AsiaLeaguePlaceService.GetAsiaLeaguePlacesBySeason(AsiaLeagueSeasons.Tiger2);

        AllPrizes = await S2PrizeService.GetSeasonPrizes(4);
        List<S2Prize> tmp = await S2PrizeService.GetSeasonPrizes(5);
        AllPrizes.AddRange(tmp);
        Console.WriteLine("AllPrizes:" + AllPrizes.Count);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {

        if (firstRender)
        {
        @*  FireworksJS= await JS.InvokeAsync<IJSObjectReference>("import", "./JavaScript/Festival/Fireworks.js");  
            await FireworksJS.InvokeVoidAsync("fireworks"); *@

            ParallaxJS =  await JS.InvokeAsync<IJSObjectReference>("import", "./JavaScript/Festival/Parallax.js");
            await ParallaxJS.InvokeVoidAsync("ParallaxInit");
            await JS.InvokeVoidAsync("Lightbox");          
            await JS.InvokeVoidAsync("installI18n");
        }
    }
}